<div class="wl-new-search-container" ng-if="WlNewSearchModel">
    <div class="wl-center-cont">
        <div class="wl-container">
            <span class="wl-text">{{WlNewSearchModel.from}} — {{WlNewSearchModel.to}} с {{WlNewSearchModel.start}} по {{WlNewSearchModel.end}}, {{WlNewSearchModel.passengerCount | asQuantity:"человек":"человека":"человек"}}, {{WlNewSearchModel.ticketClass}}</span>
            <a ng-href="/" target="_parent" class="js-btn-wl-search button wl-search">Новый поиск</a>
        </div>
    </div>
</div>