
<!--<div class="ReservationForm__head">-->

    <!--<h3 class="ReservationForm__title ReservationForm__title-head">-->
        <!--Оформление и оплата-->
    <!--</h3>-->

    <!--<div class="ReservationForm__head-price-info" ng-if="reservation.typeProduct == 'hotels'">-->
        <!--Стоимость отеля за {{reservation.passengerCount | perPerson}}:-->
        <!--<div class="ReservationForm__head-price">-->
            <!--{{ reservation.hotelInfo.Room.Price | currency : "" : 0 }}<i class='fa fa-rub'></i>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="ReservationForm__head-price-info" ng-if="reservation.typeProduct == 'bus'">-->
        <!--Стоимость тура за {{reservation.passengerCount | perPerson}}:-->
        <!--<div class="ReservationForm__head-price">-->
            <!--{{ reservation.hotelInfo.Room.Price | currency : "" : 0 }}<i class='fa fa-rub'></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<hotel-card-info-->
        <!--hotel="reservation.hotelInfo.Hotel"-->
        <!--hotel-room="reservation.hotelInfo.Room"-->
        <!--hotel-url="getHotelUrl(hotel.HotelId, hotel.ProviderId)"-->
<!--&gt;</hotel-card-info>-->

<hotel-card-info
        hotel="reservation.hotelInfo.Hotel"
        room="reservation.hotelInfo.Room"
        guest-count="reservation.passengerCount"
        price=""
        style="margin-bottom: 16px;"
></hotel-card-info>

<div class="ReservationSection__wrap">
    <div class="buy__price-descr buy__alert">
        Внимание! К отелю применяются разные условия отмены бронирования.
        <br/>
        Пожалуйста, ознакомьтесь с
        <a href="" ng-click="reservation.hotelRules.show($event); gtmRules($event, 'hotel');">условиями бронирования отеля</a>.
    </div>
</div>



<!-- Baloon cancel hotel -->
<div class="overlay js-overlay" ng-if="reservation.hotelRules.isOpened">
    <div class="scroll-fix" ng-style="reservation.hotelRules.style">
        <div class="balloon balloon_ticket">
            <div title="Закрыть" class="balloon-close" ng-click="reservation.hotelRules.close($event)">
                <i class="icon-sprite-remove-big"></i>
            </div>
            <h3 class="balloon__title">Условия и правила по отелю</h3>

            <div class="balloon__text-block">
                <h4 class="balloon__title-sec">Условия заселения</h4>
                <ul class="balloon__list">
                    <li>Заезд: до {{reservation.hotelRules.checkIn}}</li>
                    <li>Выезд: до {{reservation.hotelRules.checkOut}}</li>
                </ul>
            </div>
            <div class="balloon__text-block"
                 ng-if="reservation.hotelRules.cancellationRules != null && reservation.hotelRules.cancellationRules.length > 0">
                <h4 class="balloon__title-sec">Правила отмены</h4>
                <!--<ul class="balloon__list">
                    <li>В случае отмены или изменения бронирования в срок до 1 суток до даты заезда
        штраф не взимается.</li>
                    <li>В случае отмены или изменения бронирования позднее этого срока или в случае
        незаезда взимается 100 процентов от стоимости первой ночи проживания.</li>
                </ul>-->
                <p ng-bind-html="reservation.hotelRules.cancellationRules | breakFilter"></p>
            </div>
            <div class="balloon__text-block" ng-if="reservation.hotelRules.extra.List.length > 0">
                <h4 class="balloon__title-sec">Дополнительно</h4>
                <ul class="balloon__list">
                    <li ng-repeat="item in reservation.hotelRules.extra.List">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Baloon -->



