<div class="b-transfer buy__blocks">

    <div class="b-transfer__head">
        <h2 class="b-transfer__title buy__title">
            Трансфер
            <span class="b-transfer__title-caption"
                  ng-if="transfer">{{transfer.TransferDescription}}</span>
        </h2>
        <div class="b-transfer__include"
             ng-if="!transfer">
            <label class="b-agreement">
                <input type="checkbox"
                       ng-model="includeTransfer"
                       ng-change="includeTransferChange(includeTransfer, transferSingle)"
                >
                <ins class="b-checkbox"></ins>
                Добавить трансфер в этот отель
            </label>
        </div>
        <div class="b-transfer__include"
             ng-if="transfer">
            <label class="b-agreement">
                <input type="checkbox"
                       ng-model="includeTransfer"
                       ng-change="includeTransferChange(includeTransfer, transferSingle)"
                >
                <ins class="b-checkbox"></ins>
                Трансфер в этот отель
            </label>
        </div>
    </div>

    <div class="b-transfer__body"
         ng-if="transfersShow">

        <div class="b-transfer__routes">
            <div class="b-transfer__routes-item">
                <label class="f-radio">
                    <input class="f-radio__input"
                           type="radio"
                           value="1"
                           ng-model="transferSingle"
                           ng-change="includeTransferChange(includeTransfer, transferSingle)">
                    <ins class="f-radio__indicator"></ins>
                    <span class="f-radio__label">Из аэропорта в отель</span>
                </label>
            </div>
            <div class="b-transfer__routes-item">
                <label class="f-radio">
                    <input class="f-radio__input"
                           type="radio"
                           value="0"
                           ng-model="transferSingle"
                           ng-change="includeTransferChange(includeTransfer, transferSingle)">
                    <ins class="f-radio__indicator"></ins>
                    <span class="f-radio__label">Туда и обратно</span>
                </label>
            </div>
        </div>

        <div class="b-transfer__load"
             ng-if="!Transfers.length">
            <div class="spinner"
                 ng-if="!dataFullyLoaded">
                <div class="rect rect1"></div>
                <div class="rect rect2"></div>
                <div class="rect rect3"></div>
                <div class="rect rect4"></div>
                <div class="rect rect5"></div>
                <img class="gif"
                     src="/spa/img/spinner.gif">

                <div class="spinner__text">Секундочку, загружаем список трансферов</div>
            </div>
        </div>

        <div class="b-transfer__items"
             ng-if="Transfers.length">

            <div class="b-transfer-item"
                 ng-repeat="transfer in Transfers">
                <div class="b-transfer-item__row"
                        ng-class="{'b-transfer-item__row-selected' : (transfer.Key == TransferKey)}">
                    <div class="b-transfer-item__img">
                        <div class="b-transfer-item__img-icon-1"
                             ng-if="transfer.Vehicle.Type == 1"></div>
                        <div class="b-transfer-item__img-icon-2"
                             ng-if="transfer.Vehicle.Type == 2"></div>
                        <div class="b-transfer-item__img-label">
                            {{transfer.Vehicle.Description}}
                        </div>
                    </div>
                    <div class="b-transfer-item__desc">
                        <div class="b-transfer-item__info"
                             ng-if="false">i
                        </div>
                        <div class="b-transfer-item__title">
                            {{transfer.TransferDescription}}
                        </div>
                        <div class="b-transfer-item__auto"
                             ng-if="false">
                            VW Golf, Ford Focus, Opel, Audi A3, BMW 3
                        </div>
                        <div class="b-transfer-item__peoples">
                            <div class="b-transfer-item__people"
                                 ng-if="transfer.Vehicle.NumberOfBags">
                                <i class="fa fa-user"
                                   aria-hidden="true"></i>
                                x
                                {{transfer.Vehicle.Capacity}}
                            </div>
                            <div class="b-transfer-item__baggage"
                                 ng-if="transfer.Vehicle.NumberOfBags">
                                <i class="fa fa-suitcase"
                                   aria-hidden="true"></i>
                                x
                                {{transfer.Vehicle.NumberOfBags}}
                            </div>
                        </div>
                    </div>
                    <div class="b-transfer-item__price">
                        <div class="b-transfer-item__price-val">
                            {{transfer.Price | price}}
                            <i class="fa fa-rub"></i>
                        </div>
                        <div class="b-transfer-item__price-full">
                            К оплате: {{(price + transfer.Price)| price}}
                            <i class="fa fa-rub"></i>
                        </div>
                        <span class="button b-transfer-item__price-button"
                              ng-if="transfer.Key != TransferKey"
                              ng-click="TransferSelected(transfer)">Выбрать</span>
                        <span class="button disabled b-transfer-item__price-button"
                              ng-if="transfer.Key == TransferKey"
                        >Выбрано</span>
                    </div>
                </div>
                <div class="b-transfer-item__more"
                     ng-if="false">
                    <div class="b-transfer-item__more-close"></div>
                    <p>
                        Volkswagen Caravelle (long), Minibus, 2012, детское сидение бесплатно, детский бустер бесплатно
                    </p>

                    <p>
                        <b>Можно Перевозить Лыжи/сноуборды</b>
                    </p>

                    <p>
                        <b>Инструкция для клиента по прилету:</b> КАК НАЙТИ ВОДИТЕЛЯ После того, как Вы получите свой
                        багаж, наш представитель будет ждать Вас в зале прибытия с табличкой, на которой будет Ваше имя.
                        Представьтесь, пожалуйста, и предъявите копию ваучера на бронирование. ЕСЛИ ВЫ НЕ МОЖЕТЕ НАЙТИ
                        ВОДИТЕЛЯ В случае, если у Вас возникли трудности с обнаружением водителя, наберите номер горячей
                        линии службы поддержки, где англоговорящий представитель окажет Вам помощь (для звонков с
                        мобильных телефонов необходимо набрать международный телефонный код, при наборе номера со
                        стационарных телефонов такой необходимости нет).
                    </p>
                    <p>
                        Инструкция для клиента из Отеля для отъезда в Аэропорт: Уточнять время посадки у
                        компании-перевозчика для ИНДИВИДУАЛЬНЫХ трансферов не нужно, за исключением случаев, когда Вы
                        хотите изменить время, указанное в подтверждении бронирования. Пожалуйста, будьте на месте
                        посадки по крайней мере за 10-15 минут до указанного в ваучере времени, и приготовьте ваучер,
                        чтобы предъявить его водителю. Intui и/или Компания-перевозчик не несут ответственности за
                        клиентов, которые не явились вовремя на посадку, не несут ответственности за опоздание клиентов
                        на рейс, а также не несут ответственности в случае, если Вы изменили детали заказа и не
                        предупредили заранее Компанию-перевозчика.
                    </p>

                    Максимальное время ожидания в месте прибытия: 60 мин., после приземления самолета

                    Максимальное время ожидания в месте отправления: 20 мин.

                    Информация о багаже: На одного пассажира входит в стоимость: 1 чемодан и 1 ручная кладь. Ручная
                    кладь если недостаточно места в багажном отделении, перевозится в салоне. Если багаж выходит за
                    рамки норм (1 чемодан и 1 единица ручной клади небольшого размера), может потребоваться
                    дополнительная оплата. Оплата за превышение багажа производится на месте.

                    Дети и младенцы: Для детей от 2 лет должно быть свое место в заказе. Перевозка младенца до 2х лет
                    включена в стоимость трансфера. Младенцы могут находиться во время поездки на руках родителей. Если
                    же для младенца требуется отдельное место, то нужно забронировать его как ребенка от 3 до 11 лет.
                </div>
            </div>

        </div>

    </div>

</div>