
<!--<header class="buy__header">-->
    <!--<h2 class="buy__title">Оформление и оплата</h2>-->
    <!--&lt;!&ndash;<a ng-href="{{goBackUrl()}}" ng-if="!isBuyPage" class="buy__title-link">Выбрать другой номер</a>&ndash;&gt;-->

    <!--<div class="buy__header-price">Стоимость пакета за {{passengerCount | perPerson}}: <b>{{price| price}}-->
        <!--<ng-include src="'components/ruble.html'"/>-->
    <!--</b></div>-->
<!--</header>-->

<!--<p class="buy__price-descr" ng-show="item != null && hotel != null">В цену включен ПЕРЕЛЕТ {{item.CityFrom}} –-->
    <!--{{item.CityTo}} – {{item.CityFrom}} и ОТЕЛЬ {{hotel.HotelName}}-->
    <!--с {{helper.moment(hotel.CheckInDate).format("D MMMM")}}-->
    <!--по {{helper.moment(hotel.CheckOutDate).format("D MMMM")}}, {{hotel.NightCount}}-->
    <!--{{helper.pluralForm(hotel.NightCount, 'ночь', 'ночи', 'ночей')}}<span ng-if="isInsuranceIncluded">, медицинская страховка</span>, топливный сбор.-->
    <!--Указана стоимость на {{passengerCount | perPerson | asQuantity:"человека":"человек":"человек"}}.-->
    <!--Цена окончательная со всеми налогами и сборами.-->
<!--</p>-->

<div class="main__center">

    <div class="hotel-details__section hotel-details__section__crumbs">
        <ul class="section__crumbs__list">
            <li class="section__crumbs__list__item">
                <a href="/#/" class="section__crumbs__list__item__link">Главная</a>
            </li>
            /
            <li class="section__crumbs__list__item">
                <a ng-href="{{goBackUrl()}}" class="section__crumbs__list__item__link">Результаты поиска</a>
            </li>
            /
            <li class="section__crumbs__list__item">
                <a ng-href="{{getHotelInfoLink(item.VariantId1, item.VariantId2, hotel.HotelId, hotel.ProviderId)}}"     class="section__crumbs__list__item__link">Описание отеля и выбор номера</a>
            </li>
            /
            <li class="section__crumbs__list__item">
                Оформление и оплата
            </li>
        </ul>
    </div>
    <div class="header-info__right loginndp">

        <ng:include src="'auth/header.html'" class=""></ng:include>

    </div>
    <div recommended-pair-component-big
         class="recommended-pair"
         recommended-pair="recommendedPair"
         inna-dynamic-bundle-with-reservation-button="true"
         type-etap="'Reservation'"></div>

    <!--<div class="b-result b-result_col_two b-result_220 row buy__fly b-result-content" ng-show="item != null">-->

        <!--<div class="b-result__cell result-cell">-->
            <!--<div class="rl-airline-cont">-->
                <!--<span title="{{tr.name}}" ng-if="!(item.transportersList.length > 3)" class="rl-airline"-->
                      <!--ng-repeat="tr in item.transportersList"><img ng-src="{{tr.logoUrl}}" alt=""><span-->
                        <!--class="rl-airline-text">{{tr.name}}</span></span>-->

                <!--<span ng-if="item.transportersList.length > 3" class="rl-airline">-->
                    <!--<img ng-src="/spa/img/group.png" alt="">-->
                    <!--<span class="rl-airline-text">Несколько авиакомпаний</span>-->
                <!--</span>-->
            <!--</div>-->

            <!--<div class="b-ticket_2ways buy__tickets">-->

                <!--<div class="rlf-fly">-->


                    <!--<div class="row-fluid">-->
                        <!--<div class="col-xs-5 col-no-padding row-fluid__cell">-->
                            <!--<div class="rlf__flight-block">-->
                                <!--<b>{{item.DepartureTimeFormatted}}</b> {{item.DepartureDateFormatted}}<br>-->
                                <!--<b title="{{item.AirportFrom}}">{{item.AirportFrom | limitFilter:14}}</b> {{item.OutCode}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle">-->
                            <!--<span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>-->
                        <!--</div>-->
                        <!--<div class="col-xs-5 col-no-padding row-fluid__cell">-->
                            <!--<div class="rlf__flight-block">-->
                                <!--<b>{{item.ArrivalTimeFormatted}}</b> {{item.ArrivalDateFormatted}}<br>-->
                                <!--<b title="{{item.AirportTo}}">{{item.AirportTo | limitFilter:14}}</b> {{item.InCode}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="rlf-full-travel-time-info">в пути: {{item.TimeToFormatted}},-->
	                    <!--<span ng-if="item.ToTransferCount > 0">-->
		                    <!--{{item.ToTransferCount}}-->
							<!--{{item.ToTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}-->
	                    <!--</span>-->
	                    <!--<span ng-if="item.ToTransferCount == 0">без пересадок</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="rlf-fly rlf-fly_back">-->

                    <!--<div class="row-fluid">-->
                        <!--<div class="col-xs-5 col-no-padding row-fluid__cell">-->
                            <!--<div class="rlf__flight-block">-->
                                <!--<b>{{item.BackDepartureTimeFormatted}}</b> {{item.BackDepartureDateFormatted}}<br>-->
                                <!--<b title="{{item.AirportFromBack}}">{{item.AirportFromBack | limitFilter:14}}</b> {{item.OutCodeBack}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle">-->
                            <!--<span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>-->
                        <!--</div>-->
                        <!--<div class="col-xs-5 col-no-padding row-fluid__cell">-->
                            <!--<div class="rlf__flight-block">-->
                                <!--<b>{{item.BackArrivalTimeFormatted}}</b> {{item.BackArrivalDateFormatted}}<br>-->
                                <!--<b title="{{item.AirportToBack}}">{{item.AirportToBack | limitFilter:14}}</b> {{item.InCodeBack}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<div class="rlf-full-travel-time-info">в пути: {{item.TimeBackFormatted}},-->
	                    <!--<span ng-if="item.BackTransferCount > 0">-->
		                    <!--{{item.BackTransferCount}}-->
		                    <!--{{item.BackTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}-->
	                    <!--</span>-->
	                    <!--<span ng-if="item.BackTransferCount == 0">без пересадок</span></div>-->
                <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash;<span class="icon-sprite-airplane"></span>&ndash;&gt;-->
            <!--<div class="bottom-actions">-->
                <!--&lt;!&ndash;<a ng-href="{{goBackUrl()}}" class="pull-left">Заменить</a>&ndash;&gt;-->
                <!--<a ng-if="!isBuyPage" ng-href="#" class="pull-right"-->
                   <!--ng-click="popupItemInfo.show($event, item, null, null, true);gtmDetailsAviaInReserv();">Подробнее</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; separator &ndash;&gt;-->
            <!--<div class="b-result-cell__gap">-->
                <!--<div class="b-result-cell__gap_wrap"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="b-result__cell result-cell">-->

            <!--<div share-link-directive-->
                 <!--location="{{currentPageUrl}}"-->
                 <!--position="left"-->
                 <!--style="position:relative;z-index: 3000"></div>-->

            <!--<img ng-if="hotel.ProviderLogoUrl" ng-src="{{hotel.ProviderLogoUrl}}" alt="" class="logo">-->

            <!--<div class="hotel-info">-->
                <!--<div class="hotel-info__wrapper">-->
                    <!--<img class="hotel-info__photo" ng-src="{{hotel.HotelPhoto70}}" alt="">&lt;!&ndash;-->
                        <!--&ndash;&gt;-->
                    <!--<div class="hotel-info-content">-->
                        <!--<div class="star-container">-->
                            <!--<span ng-repeat="star in hotel.starsList track by $index" class="icon icon-star"></span>-->
                        <!--</div>-->
                        <!--<h3 class="hotel-info-name" style="width: 360px;">{{hotel.HotelName}}</h3>-->

                        <!--<div class="hotel-info-date" ng-show="hotel != null">с-->
                            <!--{{helper.getRuDateFormat(hotel.CheckInDate, 'dd MMM', true)}} по-->
                            <!--{{helper.getRuDateFormat(hotel.CheckOutDate, 'dd MMM', true)}}, {{hotel.NightCount}}-->
                            <!--{{helper.pluralForm(hotel.NightCount, 'ночь', 'ночи', 'ночей')}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<h3 class="hotel-info-name">{{room.RoomName}}</h3>-->

                <!--<div class="hotel-info-date r__hotel-info"><span ng-repeat="bed in room.BedTypeList track by $index">{{bed.Name}}<span-->
                        <!--ng-if="!$last">,&nbsp;</span></span></div>-->
            <!--</div>-->

            <!--<div class="bottom-actions">-->
                <!--&lt;!&ndash;<a ng-href="{{goBackUrl()}}" class="pull-left">Заменить</a>&ndash;&gt;-->
                <!--<a link-in-new-window-if-can ng-if="!isBuyPage" ng-click="gtmDetailsHotelsInReserv()" ng-href="{{getHotelInfoLink(item.VariantId1, item.VariantId2, hotel.HotelId, hotel.ProviderId)}}" target="_blank" class="pull-right">Подробнее</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
