<div class="ReservationForm"
     ng-cloak=""
     ng-if="reservation.hotelInfo">

	<div class="ReservationForm__breadcrumbs hotel-details__section hotel-details__section__crumbs">
		<ul class="section__crumbs__list">
			<li class="section__crumbs__list__item">
				<a href="/#/" class="section__crumbs__list__item__link">Главная</a>
			</li>
			<li class="section__crumbs__list__item" ng-if="reservation.typeProduct == 'hotels'">
				<a ng-href="{{ reservation.hotelsIndexPath }}" class="section__crumbs__list__item__link">Результаты поиска</a>
			</li>
			<li class="section__crumbs__list__item" ng-if="reservation.typeProduct == 'bus'">
				<a ng-href="{{ reservation.busIndexPath }}" class="section__crumbs__list__item__link">Результаты поиска</a>
			</li>
			<li class="section__crumbs__list__item" ng-if="reservation.typeProduct == 'hotels'">
				<a ng-href="/#{{ reservation.hotelsShowPath }}" class="section__crumbs__list__item__link">Описание отеля и выбор номера</a>
			</li>
			<li class="section__crumbs__list__item" ng-if="reservation.typeProduct == 'bus'">
				<a ng-href="/#{{ reservation.busShowPath }}" class="section__crumbs__list__item__link">Описание автобусного тура</a>
			</li>
			<li class="section__crumbs__list__item" ng-if="reservation.typeProduct == 'hotels'">
				Бронирование номера
			</li>
			<li class="section__crumbs__list__item" ng-if="reservation.typeProduct == 'bus'">
				Бронирование тура
			</li>
		</ul>
	</div>


	<form id="reservationForm"
	      name="ReservationForm"
	>

		<ng:include src="'pages/page-reservations/templ/reservations-hotel-info.html'"></ng:include>
		<ng:include src="'pages/page-reservations/templ/reservations-customer-info.html'"></ng:include>
		<ng:include src="'pages/page-reservations/templ/reservations-passengers-info.html'"></ng:include>


		<div class="ReservationForm__Agree">
			<label class="FieldCheckbox">
				<input class="FieldCheckbox__input"
				       type="checkbox"
				       name="ReservationModelAgree"
				       ng-model="reservation.ReservationModel.Agree"
				       message-id="ReservationModelAgree"
				       validator="required"
				       valid-method="submit"
				       required-error-message="Нужно согласиться с условиями"/>
				<div class="FieldCheckbox__checkbox fa fa-check"></div>
				<div class="FieldCheckbox__label">
					Я принимаю условия <a class="link" ng-href="{{oferta.url()}}" target="_blank">договора-оферты</a>,
					и не возражаю против обработки моих
					персональных данных и передачи их третьим лицам (авиаперевозчику и пр.).
				</div>
			</label>
			<div class="FieldError" id="ReservationModelAgree"></div>
		</div>


		<div class="ReservationFormActive">

			<div class="ReservationFormSum">
				<div class="ReservationFormSum__price-label">
					Сумма к оплате:
				</div>
				<div class="ReservationFormSum__price">
					{{ reservation.hotelInfo.Room.Price | currency : "" : 0 }}<i class='fa fa-rub'></i>
				</div>
			</div>

			<div class="ReservationFormActive__btn">
				<button class="button b-sum-button"
				        type="submit"
				        ng-click="reservation.form.submit($event, ReservationForm)">
					Забронировать
				</button>
			</div>

		</div>


	</form>
</div>


<!-- Baloon checkReserveSms -->
<div class="overlay js-overlay" ng-if="checkReserveSms.isOpened">
	<div class="scroll-fix" ng-style="hotelRules.style">
		<div class="balloon" style="width: 440px">
			<div class="checkSms">
				<div class="checkSms__icon">
					<i class="icon-sprite-checkReserveSms"></i>
				</div>
				<div class="checkSms__title">
					Подтверждение заказа
				</div>
				<label for="sms_code" class="checkSms__notice">
					На ваш номер {{ validationModel.phone.value }} направлен СМС код, введите его в форму:
				</label>
				<div class="checkSms__input-container">
					<input id="sms_code" class="b-field-text"
					       ng-class="{'error' : sms_code_error}"
					       type="number" autocomplete="off" ng-model="sms_code"/>
				</div>
				<div class="checkSms__error" ng-if="sms_code_error">
					введен неправильный код
				</div>
				<div class="checkSms__timeout" ng-if="timer != 0">
					запросить код заново можно через
					<span ng-if="timer >= 60000">
						{{timer | date:'m'}} мин
					</span>
					<span ng-if="timer < 60000">
						{{timer | date:'s'}} сек
					</span>
				</div>
				<div class="checkSms__timeout" ng-if="timer == 0">
					<span class="checkSms__new" ng-click="submitSms()">
						запросить заново
					</span>
				</div>
				<span class="button" ng-click="submitSmsCode($event, sms_code)">Отправить</span>
			</div>
		</div>
	</div>
</div>
<!-- /Baloon -->
