<div class="Reservations">
	<form ng-submit="processToPayment($event)"
	      method="post">

		<header class="buy__header">
			<h2 class="buy__title">Информация о покупателе</h2>
		</header>

		<div class="buy-passanger__block">
			<div class="b-field-group">
				<div class="b-field-block b-field-email">
					<label class="b-field-label">E-mail</label>
					<input autocomplete="off" validate-events-dir ng-model="validationModel.email.value"
					       ng-validation-model="validationModel.email" validate="validate(item, type)"
					       validate-type="validateType.email"
					       ng-class="{error:isFieldInvalid(validationModel.email)}"
					       data-title="Неправильно введен email" type="text"
					       placeholder="ivan.ivanov@gmail.com" class="b-field-text">
				</div>
			</div>
		</div>


		<button type="submit"
		        class="button b-sum-button"
		        ng-if="!user.isAgency()"
		        tabindex="3">Перейти к оплате
		</button>

		<button type="submit"
		        class="btn btn-green btn-large"
		>btn</button>

	</form>
</div>
