<div class="b-adv" ng-if="isVisible">
	<div class="b-adv__content">
		<div class="main__center">
			<div class="row b-adv__content__row">
                <span class="b-adv_close" ng-click="hideAdv($event)">
					<i class="icon-sprite-close_big_white"></i>
				</span>

				<div class="col-xs-6 b-adv__coll col-no-padding">
					<span class="b-adv__title">ДИНАМИЧЕСКИЙ ТУРПАКЕТ</span>
				</div>
				<div class="col-xs-6 b-adv__coll col-no-padding">

					<!--<a href="http://book.inna.ru/?ch=newsite&utm_source=newsite&utm_medium=banner&utm_campaign=bookinna"-->
					<a href="http://book.inna.ru/?ch=banner-sletat&utm_source=newsite&utm_medium=banner&utm_campaign=bookinna"
					   class="button button_green button_adv">
						ПОДКЛЮЧАЙСЯ СЕЙЧАС
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

