.partner-wl {
    .hotel-details {
        //padding: 50px 0 0px;
    }
    .hotel-details__wrap {
        //background-color: #eaeff3;
    }
    .hotel-details__section-box {
        //background-color: #eaeff3;
        padding: 0;
    }
    .hotel-details-name {
        color: #4b4c4c;
    }
    .hotel-details-ta-info {
        background: transparent;
    }
    .gallery__disclaimer {
        color: #898a8a;
    }
    .hotel-details__section-title {
        color: #4b4c4c;
    }


    .hotel-details-rooms {
        box-shadow: none;
        background: transparent;
    }
    .hotel-details-resume {
        color: #4b4c4c;
        background-color: #fff;
    }
    .hotel-details-resume__section {
        border-bottom: 1px solid #c1c1c4;
    }
    .hotel-details-rooms__room-long {
        //background: #eaeff3;
    }
    .hotel-details .b-carousel__prev, .hotel-details .b-carousel__next {

    }
        
    .b-result__cell:after{
        transform translatez(0)
    }
    .recblock-banner{
        background: url(/spa/img/partners/touron/main.jpg) center/cover no-repeat;
    }
}