.header, .footer, .wrap-notif-new-design {
    display: none;
}

.wrpr{
  //padding-bottom: 1px !important;
}
//.b-search-form{
//    top: 150px;
//}
  
.page-buy-success{
  padding-top 20px;
}
  
.partners-hide {
    display: none!important;
}

.partner-wl {
/*чтобы работал ресайз фрейма*/
    .main {
        min-height: 500px;
    }

    .partner-body-noscroll {
        overflow: hidden;
    }
    
    .light-theme {
        //background-color: #fff;
        
        //&.partner-body-class {
        //    background: transparent;
        //}
        .offers-black {
            background: transparent;
        }
        .offers-dark-grey {
            background: transparent;
        }

        //.buy-passanger__block{
        //    background none
        //}
    }

    .main .wrpr {
        padding-bottom: 0px !important;
    }

    .pic-cont {
        height: 96vh;
        width: 100%;
        /* text-align: center; */
        background: url(/spa/img/partners/touron/main.jpg) center/cover no-repeat;
        min-height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .wrapper {
            padding-top 450px
        }

        .wrap-additions {
            position absolute
            width 960px
            margin-left -480px
            top 0px
            height 30px;
            left 50%

            h1 {
                margin-top: 350px;
                color: white;
                font-size: 33px;
                text-align: center;
                font-family: 'Roboto-Bold';
            }
        }

        .home-page-slogan__item{
            text-shadow none
        }

        .home-page-slogan__title{
            font-size 22px
            font-family 'Roboto-Bold'
        }

        .home-page-slogan__text{
            font-size 18px
            font-family 'Roboto-Medium'
        }

        .search-form__submit {
            background-color $green
        }
    }
        //.header__container{
        //    display none;
        //}
}
