<!DOCTYPE html>
<html ng-app="pay_form">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1 maximum-scale=1 minimum-scale=1 user-scalable=no">
    <title>Pay Form</title>
    <link rel="stylesheet" href="css/base.css"/>
</head>
<body>


<div class="pay-form" ng-controller="PayFormCtrl">
    <div class="pay-form__title">
        Заказ №38569247
    </div>
    <div class="pay-form__info">
        <div class="pay-form__info-dead-line">
            <span class="dead-line__label">Оплатить до:</span>
            <span class="dead-line__value">19:00, 24 сен 2014</span>
        </div>
        <div class="pay-form__info-timer">
            <span class="timer__label">осталось:</span>
            <span class="timer__value">
				<timer interval="1000" countdown="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
			</span>
        </div>
    </div>
    <form id="paymentForm" name="PaymentForm" action="/">
        <div class="pay-form-fields">
            <div class="pay-form-fields__cart-data">
                <div class="pay-form-fields__cart-data-container">
                    <div class="pay-form-fields__cart-data-icons">
                        <i class="icon-visa"></i>
                        <i class="icon-master"></i>
                    </div>
                    <div class="pay-form-fields__cart-data-field number">

                        <input
                                id="number"
                                type="text"
                                name="number"
                                class="form-control gray-border"
                                ng-model="ccForm.number"
                                placeholder="Номер карты"

                                ui-mask="9999 9999 9999 9999"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="space"

                                message-id="messageFormNumber"
                                validator="required"
                                valid-method="submit"
                                required-error-message="Укажите номер карты"
                        />

                        <div class="FieldError"
                             id="messageFormNumber"></div>
                    </div>

                    <div class="pay-form-fields__cart-data-field date">
                        <label class="form-label" for="month">Действительна до</label><br/>
                        <input
                                id="monthInput"
                                class="form-control gray-border"
                                ng-model="ccForm.month"
                                name="month"
                                placeholder="ММ"

                                ui-mask="99"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="space"

                                message-id="messageFormMonth"
                                validator="required"
                                valid-method="submit"
                                required-error-message="Укажите месяц"

                        />
                        <span>/</span>
                        <input
                                id="yearInput"
                                class="form-control gray-border"
                                ng-model="ccForm.year"
                                name="year"
                                required
                                placeholder="ГГ"

                                ui-mask="99"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="space"

                                message-id="messageFormYear"
                                validator="required"
                                valid-method="submit"
                                required-error-message="Укажите год"
                        />

                        <div class="FieldError"
                             id="messageFormMonth"></div>

                        <div class="FieldError"
                             id="messageFormYear"></div>

                    </div>


                    <div class="pay-form-fields__cart-data-field fio">
                        <input
                                id="usernameInput"
                                class="form-control gray-border"
                                type="text"
                                ng-model="ccForm.username"
                                minlength="1"
                                placeholder="Держатель карты"
                        />
                    </div>
                </div>
            </div>
            <div class="pay-form-fields__cart-cvs">
                <div class="pay-form-fields__cart-cvs-container">
                    <div class="pay-form-fields__cart-cvs-field_line">
                    </div>
                    <div class="pay-form-fields__cart-cvs-field">
                        <div class="wrap-cvc">
                            <input
                                    id="cvsInput"
                                    type="text"
                                    class="form-control gray-border"
                                    name="cvc"
                                    ng-model="ccForm.cvc"
                                    placeholder="CVC"

                                    ui-mask="999"
                                    ui-mask-placeholder
                                    ui-mask-placeholder-char="space"

                                    message-id="messageFormCvc"
                                    validator="required"
                                    valid-method="submit"
                                    required-error-message="Укажите cvc код"
                            />

                            <div class="FieldError"
                                 id="messageFormCvc"></div>
                            <label for="cvsInput" class="form-label">
                                Три цифры<br/>
                                с обртаной<br/>
                                стороны<br/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pay-form-actions">

            <div class="pay-form__price">
                <div class="pay-form__price-label">Сумма к оплате</div>
                <div class="pay-form__price-value">170 920 <span class="ruble">c</span></div>
            </div>

            <div class="pay-form-actions__btn">
                <input
                        type="submit"
                        class="form-btn background-green"
                        value="Оплатить"
                        ng-click="form.submit($event, PaymentForm)"
                >
            </div>

        </div>
    </form>
</div>

<!--
<div class="pay-form" ng-controller="PayFormCtrl">
	<div class="pay-form__title">
		Заказ №38569247
	</div>
	<div class="pay-form__info">
		<div class="pay-form__info-dead-line">
			<span class="dead-line__label">Оплатить до:</span>
			<span class="dead-line__value">19:00, 24 сен 2014</span>
		</div>
		<div class="pay-form__info-timer">
			<span class="timer__label">осталось:</span>
			<span class="timer__value">
				<timer interval="1000" countdown="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
			</span>
		</div>
	</div>
	<form novalidate name="paymentForm">
		<div class="pay-form-fields">
			<div class="pay-form-fields__cart-data">
				<div class="pay-form-fields__cart-data-container">
					<div class="pay-form-fields__cart-data-icons">
						<i class="icon-visa"></i>
						<i class="icon-master"></i>
					</div>
					<div class="pay-form-fields__cart-data-field">

						<input
								type="text"
								name="creditCard"
								class="form-control red-border"
								ng-model="ccinfo.number"
								required
								data-credit-card-type
								data-ng-pattern="/^[0-9]+$/"
								data-ng-minlength="16"
								maxlength="16"
								placeholder="Номер карты"/>
					</div>
					<div class="pay-form-fields__cart-data-field date">
						<label class="form-label" for="month">Действительна до</label><br/>
						<input id="month" class="form-control red-border" ng-model="ccinfo.month" name="month" data-card-expiration required placeholder="ММ"/>
						<span>/</span>
						<input id="year" class="form-control red-border" ng-model="ccinfo.year" name="year" required placeholder="ГГ"/>
					</div>
					<div class="pay-form-fields__cart-data-field fio">
						<input
								class="form-control red-border"
								type="text"
								ng-model="ccinfo.username"
								minlength="1"
								required=""
								placeholder="Держатель карты"/>
					</div>
				</div>
			</div>
			<div class="pay-form-fields__cart-cvs">
				<div class="pay-form-fields__cart-cvs-container">
					<div class="pay-form-fields__cart-cvs-field_line">
					</div>
					<div class="pay-form-fields__cart-cvs-field">
						<div class="wrap-cvc">
							<input id="cart-cvs"
								   type="text"
								   class="form-control red-border"
								   name="securityCode"
								   ng-model="ccinfo.securityCode"
								   required
								   data-ng-pattern="/^[0-9]+$/"
								   data-ng-minlength="3"
								   maxlength="4"
								   placeholder="CVC"
							/><br/>
							<label for="cart-cvs" class="form-label">
								Три цифры<br/>
								с обртаной<br/>
								стороны<br/>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pay-form-actions">

			<div class="pay-form__price">
				<div class="pay-form__price-label">Сумма к оплате</div>
				<div class="pay-form__price-value">170 920 <span class="ruble">c</span></div>
			</div>

			<div class="pay-form-actions__btn">
				<input
						type="submit"
						class="form-btn background-green"
						value="Оплатить"
				>
			</div>

		</div>
	</form>
</div>

<div class="pay-form" ng-controller="PayFormCtrl">
	<div class="pay-form__title">
		Заказ №38569247
	</div>
	<form novalidate name="paymentForm">
		<div class="pay-form-fields">
			<div class="load">
				Подождите, пожалуйста.<br/>
				Идет авторизация Вашего платежа
			</div>
		</div>
		<div class="pay-form-actions">

			<div class="pay-form__price">
				<div class="pay-form__price-label">Сумма к оплате</div>
				<div class="pay-form__price-value gray">170 920 <span class="ruble">c</span></div>
			</div>

			<div class="pay-form-actions__btn">
				<input
						type="submit"
						class="form-btn background-gray"
						value="Оплатить"
				>
			</div>

		</div>
	</form>
</div>

<div class="pay-form" ng-controller="PayFormCtrl">
	<div class="pay-form__title">
		Заказ №38569247
	</div>
	<form novalidate name="paymentForm">
		<div class="pay-form-fields">
			<div class="pay-form-fields__service">Дополнитеьные услуги</div>
			<div class="pay-form-fields__service-description">Данные услуги не включены в стоимость заказа, после оплаты заказа наш менеджер свяжется с Вами и предложит разные варианты</div>
			<div class="pay-form-fields__service-variant">
				<div class="service-variant__value">
					<label class="form-checkbox">
						<div class="form-checkbox-input">
							<input type="checkbox"
								   name="checked"
								   ng-true-value="true"
								   ng-false-value="false"
								   ng-init="checked = false"
							/>
							<span></span>
						</div>
						<div class="form-checkbox-label">
							Виза
						</div>
					</label>
				</div>
				<div class="service-variant__value">
					<label class="form-checkbox">
						<div class="form-checkbox-input">
							<input type="checkbox"
								   name="checked"
								   ng-true-value="true"
								   ng-false-value="false"
								   ng-init="checked = false"
							/>
							<span></span>
						</div>
						<div class="form-checkbox-label">
							Трансфер
						</div>
					</label>
				</div>
			</div>
			<div class="pay-form-fields__promo">
				<div class="pay-form-fields__promo-label">У меня есть промокод</div>
				<input class="form-control gray-border"/>
				<div class="pay-form-fields__promo-btn">
					<input
							type="submit"
							class="background-green"
							value="Применить"
					>
				</div>
			</div>
			<div class="pay-form-fields__check-doc">
				<label class="form-checkbox">
					<div class="form-checkbox-input">
						<input type="checkbox"
							   name="checked"
							   ng-true-value="true"
							   ng-false-value="false"
							   ng-init="checked = false"
						/>
						<span></span>
					</div>
					<div class="form-checkbox-label">
						Я согласен с условиями <a href="#" target="_blank">договора-оферты</a>, с <a href="#" target="_blank">правилами изменения</a>,
						<a href="#" target="_blank">отмены бронирования билета</a> и <a href="#" target="_blank">правилами отмены отеля</a> и не возражаю
						против обработки моих персональных данных и передачи их третьим
						лицам (авиаперевозчику и пр).
					</div>
				</label>
			</div>
		</div>
		<div class="pay-form-actions">

			<div class="pay-form__price">
				<div class="pay-form__price-label">Сумма к оплате</div>
				<div class="pay-form__price-value">170 920 <span class="ruble">c</span></div>
			</div>

			<div class="pay-form-actions__btn">
				<input
						type="submit"
						class="form-btn background-green"
						value="Забронировать"
				>
			</div>

		</div>
	</form>
</div>
-->

<script src="js/libs.js"></script>
<script src="js/app.js"></script>
</body>
</html>