<!DOCTYPE html>
<html ng-app='pay_form'>
<head lang='en'>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='initial-scale=1 maximum-scale=1 minimum-scale=1 user-scalable=no'>
    <title>Pay Form</title>
    <link rel='stylesheet'
          href='css/base.css'/>
</head>
<body>


<div class='pay-form'
     ng-controller='PayFormCtrl'>

    <div class='pay-form__title'>
        Заказ №38569247
    </div>

    <div class='pay-form__error'>
        <strong>Платеж отклонен</strong>
        <p>{% ic %}{% $aErrors.$id %}{% /ic %}</p>
    </div>

    <form id='paymentForm'
          name='PaymentForm'
          action='/'>
        <div class='pay-form-fields'>
            <div class='pay-form-fields__cart-data'>
                <div class='pay-form-fields__cart-data-container'>
                    <div class='pay-form-fields__cart-data-icons'>
                        <i class='icon-visa'></i>
                        <i class='icon-master'></i>
                    </div>
                    <div class='pay-form-fields__cart-data-field number'>

                        <input
                                id='number'
                                type='text'
                                name='number'
                                class='form-control gray-border'
                                ng-model='ccForm.number'
                                placeholder='Номер карты'

                                ui-mask='9999 9999 9999 9999?9?9'
                                ui-mask-placeholder
                                ui-mask-placeholder-char='space'

                                message-id='messageFormNumber'
                                validator='required'
                                valid-method='watch'
                                required-error-message='Укажите номер карты'

                                ng-change="validationValidHandler('number', PaymentForm.number)"
                        />

                        <div class='FieldError'
                             id='messageFormNumber'></div>
                    </div>

                    <div class='pay-form-fields__cart-data-field date'>
                        <label class='form-label'>Действительна до:</label>
                        <div class='date-field__container'>
                            <div class='date-field__container-item'>
                                <label class='form-label date-field__container-item--label'
                                       for='monthInput'>Месяц (1 - 12)
                                </label>
                                <input
                                        id='monthInput'
                                        class='form-control gray-border'
                                        ng-model='ccForm.month'
                                        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                                        name='month'
                                        placeholder='ММ'

                                        ui-mask='9?9'
                                        ui-mask-placeholder
                                        ui-mask-placeholder-char='space'

                                        message-id='messageFormMonth'
                                        validator='required, number, month, minlength=1, maxlength=2'
                                        valid-method='watch'
                                        required-error-message='Укажите месяц от 1 до 12'
                                        number-error-message='Укажите месяц от 1 до 12'
                                        minlength-error-message='Укажите месяц от 1 до 12'
                                        maxlength-error-message='Укажите месяц от 1 до 12'

                                        ng-change="validationValidHandler('month', PaymentForm.month)"

                                />
                            </div>
                            <span>/</span>
                            <div class='date-field__container-item'>
                                <label class='form-label date-field__container-item--label'
                                       for='yearInput'>Год (01 - 99)
                                </label>
                                <input
                                        id='yearInput'
                                        class='form-control gray-border'
                                        ng-model='ccForm.year'
                                        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                                        name='year'
                                        placeholder='ГГ'

                                        ui-mask='99'
                                        ui-mask-placeholder
                                        ui-mask-placeholder-char='space'

                                        message-id='messageFormYear'
                                        validator='required, number, year'
                                        valid-method='watch'
                                        required-error-message='Укажите год от 01 до 99'
                                        number-error-message='Укажите год от 01 до 99'

                                        ng-change="validationValidHandler('year', PaymentForm.year)"
                                />
                            </div>
                        </div>
                        <div class='FieldError'
                             id='messageFormMonth'></div>

                        <div class='FieldError'
                             id='messageFormYear'></div>

                    </div>


                    <!--
                    <div class="pay-form-fields__cart-data-field fio">
                        <input
                                id="usernameInput"
                                class="form-control gray-border"
                                type="text"
                                ng-model="ccForm.username"
                                placeholder="Держатель карты"
                        />
                    </div>
                    -->

                </div>
            </div>
            <div class='pay-form-fields__cart-cvs'>
                <div class='pay-form-fields__cart-cvs-container'>
                    <div class='pay-form-fields__cart-cvs-field_line'>
                    </div>
                    <div class='pay-form-fields__cart-cvs-field'>
                        <div class='wrap-cvc'>
                            <input
                                    id='cvsInput'
                                    type='password'
                                    class='form-control gray-border'
                                    name='cvc'
                                    ng-model='ccForm.cvc'
                                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 600, 'blur': 0} }"
                                    placeholder='CVC'

                                    message-id='messageFormCvc'
                                    validator='required, number, minlength=3, maxlength=4'
                                    valid-method='watch'
                                    required-error-message='Укажите cvc код'
                                    number-error-message='Допустимо только число'
                                    minlength-error-message='Число длинной от 3 до 4 знаков'
                                    maxlength-error-message='Число длинной от 3 до 4 знаков'
                                    ng-change="validationValidHandler('cvc', PaymentForm.cvc)"
                            />

                            <div class='FieldError'
                                 id='messageFormCvc'></div>
                            <label for='cvsInput'
                                   class='form-label form-label__cvsInput'>
                                Три цифры
                                с обратной
                                стороны
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='pay-form-actions'>

            <div class='pay-form__price'>
                <div class='pay-form__price-label'>Сумма к оплате</div>
                <div class='pay-form__price-value'>170 920 <span class='ruble'>c</span></div>
            </div>

            <div class='pay-form-actions__btn'>
                <input
                        type='submit'
                        id='formBtn'
                        class='form-btn background-green'
                        value='Оплатить'
                        ng-disabled='!form.checkValid(PaymentForm)'
                        ng-click='form.submit($event, PaymentForm)'
                >
            </div>

        </div>
    </form>
</div>


<script src='js/libs.js'></script>
<script src='js/app.js'></script>
</body>
</html>