<!DOCTYPE html>
<html ng-app="pay_form">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1 maximum-scale=1 minimum-scale=1 user-scalable=no">
    <title>Pay Form</title>
    <link rel="stylesheet" href="css/base.css"/>
</head>
<body>


<div class="pay-form" ng-controller="PayFormCtrl">
    <div class="pay-form__title">
        Заказ №38569247
    </div>
    <div class="pay-form__info">
        <div class="pay-form__info-dead-line">
            <span class="dead-line__label">Оплатить до:</span>
            <span class="dead-line__value">19:00, 24 сен 2014</span>
        </div>
        <div class="pay-form__info-timer">
            <span class="timer__label">осталось:</span>
            <span class="timer__value">
				<timer interval="1000" countdown="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
			</span>
        </div>
    </div>
    <form id="paymentForm" name="PaymentForm" action="/">
        <div class="pay-form-fields">
            <div class="pay-form-fields__cart-data">
                <div class="pay-form-fields__cart-data-container">
                    <div class="pay-form-fields__cart-data-icons">
                        <i class="icon-visa"></i>
                        <i class="icon-master"></i>
                    </div>
                    <div class="pay-form-fields__cart-data-field number">

                        <input
                                id="number"
                                type="text"
                                name="number"
                                class="form-control gray-border"
                                ng-model="ccForm.number"
                                ng-model-options="{ debounce: { 'default': 100, 'blur': 0 } }"
                                placeholder="Номер карты"

                                ui-mask="9999 9999 9999 9999"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="space"

                                message-id="messageFormNumber"
                                validator="required"
                                valid-method="watch"
                                required-error-message="Укажите номер карты"

                                ng-change="validationValidHandler('number', PaymentForm.number)"
                        />

                        <div class="FieldError"
                             id="messageFormNumber"></div>
                    </div>

                    <div class="pay-form-fields__cart-data-field date">
                        <label class="form-label" for="month">Действительна до</label><br/>
                        <input
                                id="monthInput"
                                class="form-control gray-border"
                                ng-model="ccForm.month"
                                ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                                name="month"
                                placeholder="ММ"

                                message-id="messageFormMonth"
                                validator="required, number, month"
                                valid-method="watch"
                                required-error-message="Укажите месяц от 1 до 12"
                                number-error-message="Укажите месяц от 1 до 12"

                                ng-change="validationValidHandler('month', PaymentForm.month)"

                        />
                        <span>/</span>
                        <input
                                id="yearInput"
                                class="form-control gray-border"
                                ng-model="ccForm.year"
                                ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                                name="year"
                                placeholder="ГГ"

                                message-id="messageFormYear"
                                validator="required, number, year"
                                valid-method="watch"
                                required-error-message="Укажите год от 0 до 99"
                                number-error-message="Укажите год от 0 до 99"

                                ng-change="validationValidHandler('year', PaymentForm.year)"
                        />

                        <div class="FieldError"
                             id="messageFormMonth"></div>

                        <div class="FieldError"
                             id="messageFormYear"></div>

                    </div>


                    <div class="pay-form-fields__cart-data-field fio">
                        <input
                                id="usernameInput"
                                class="form-control gray-border"
                                type="text"
                                ng-model="ccForm.username"
                                placeholder="Держатель карты"
                        />
                    </div>
                </div>
            </div>
            <div class="pay-form-fields__cart-cvs">
                <div class="pay-form-fields__cart-cvs-container">
                    <div class="pay-form-fields__cart-cvs-field_line">
                    </div>
                    <div class="pay-form-fields__cart-cvs-field">
                        <div class="wrap-cvc">
                            <input
                                    id="cvsInput"
                                    type="password"
                                    class="form-control gray-border"
                                    name="cvc"
                                    ng-model="ccForm.cvc"
                                    placeholder="CVC"

                                    message-id="messageFormCvc"
                                    validator="required, number, minlength=3, maxlength=3"
                                    valid-method="watch"
                                    required-error-message="Укажите cvc код"
                                    number-error-message="Допустимо только число"
                                    minlength-error-message="Число длинной 3 знака"
                                    maxlength-error-message="Число длинной 3 знака"

                            />

                            <div class="FieldError"
                                 id="messageFormCvc"></div>
                            <label for="cvsInput" class="form-label form-label__cvsInput">
                                Три цифры
                                с обратной
                                стороны
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pay-form-actions">

            <div class="pay-form__price">
                <div class="pay-form__price-label">Сумма к оплате</div>
                <div class="pay-form__price-value">170 920 <span class="ruble">c</span></div>
            </div>

            <div class="pay-form-actions__btn">
                <input
                        type="submit"
                        class="form-btn background-green"
                        value="Оплатить"
                        ng-disabled="!form.checkValid(PaymentForm)"
                        ng-click="form.submit($event, PaymentForm)"
                >
            </div>

        </div>
    </form>
</div>


<script src="js/libs.js"></script>
<script src="js/app.js"></script>
</body>
</html>