<!DOCTYPE html>
<html ng-app="pay_form">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;">
    <title>Pay Form</title>
    <link rel="stylesheet" href="css/base.css"/>
</head>
<body>

<div class="pay-form" ng-controller="PayFormCtrl">
    <div class="pay-form__title">
        Заказ №38569247
    </div>
    <div class="pay-form__info">
        <div class="pay-form__info-dead-line">
            <span class="dead-line__label">Оплатить до:</span>
            <span class="dead-line__value">19:00, 24 сен 2014</span>
        </div>
        <div class="pay-form__info-timer">
            <span class="timer__label">осталось:</span>
			<span class="timer__value">
				<timer interval="1000" countdown="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
			</span>
        </div>
    </div>
    <form id="paymentForm" name="PaymentForm" action="/">
        <div class="pay-form-fields">
            <div class="pay-form-fields__cart-data">
                <div class="pay-form-fields__cart-data-container">
                    <div class="pay-form-fields__cart-data-icons">
                        <i class="icon-visa"></i>
                        <i class="icon-master"></i>
                    </div>
                    <div class="pay-form-fields__cart-data-field number">

                        <input
                                id="number"
                                type="text"
                                name="number"
                                class="form-control gray-border error"
                                ng-model="ccForm.number"
                                placeholder="Номер карты"

                                ui-mask="9999 9999 9999 9999"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="space"

                                message-id="messageFormNumber"
                                validator="required"
                                valid-method="submit"
                                required-error-message="Укажите номер карты"
                        />

                        <div class="FieldError"
                             id="messageFormNumber">Укажите номер карты</div>
                    </div>

                    <div class="pay-form-fields__cart-data-field date">
                        <label class="form-label" for="month">Действительна до</label><br/>
                        <input
                                id="monthInput"
                                class="form-control gray-border error"
                                ng-model="ccForm.month"
                                name="month"
                                placeholder="ММ"

                                ui-mask="99"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="space"

                                message-id="messageFormMonth"
                                validator="required, month"
                                valid-method="submit"
                                required-error-message="Укажите месяц"

                        />
                        <span>/</span>
                        <input
                                id="yearInput"
                                class="form-control gray-border error"
                                ng-model="ccForm.year"
                                name="year"
                                required
                                placeholder="ГГ"

                                ui-mask="99"
                                ui-mask-placeholder
                                ui-mask-placeholder-char="space"

                                message-id="messageFormYear"
                                validator="required, year"
                                valid-method="submit"
                                required-error-message="Укажите год"
                        />

                        <div class="FieldError"
                             id="messageFormMonth">Укажите месяц</div>

                        <div class="FieldError"
                             id="messageFormYear">Укажите год</div>

                    </div>


                    <div class="pay-form-fields__cart-data-field fio">
                        <input
                                id="usernameInput"
                                class="form-control gray-border"
                                type="text"
                                ng-model="ccForm.username"
                                minlength="1"
                                placeholder="Держатель карты"
                        />
                    </div>
                </div>
            </div>
            <div class="pay-form-fields__cart-cvs">
                <div class="pay-form-fields__cart-cvs-container">
                    <div class="pay-form-fields__cart-cvs-field_line">
                    </div>
                    <div class="pay-form-fields__cart-cvs-field">
                        <div class="wrap-cvc">
                            <input
                                    id="cvsInput"
                                    type="text"
                                    class="form-control gray-border error"
                                    name="cvc"
                                    ng-model="ccForm.cvc"
                                    placeholder="CVC"

                                    ui-mask="999"
                                    ui-mask-placeholder
                                    ui-mask-placeholder-char="space"

                                    message-id="messageFormCvc"
                                    validator="required"
                                    valid-method="submit"
                                    required-error-message="Укажите cvc код"
                            />

                            <div class="FieldError"
                                 id="messageFormCvc">Укажите cvc код</div>
                            <label for="cvsInput" class="form-label form-label__cvsInput">
                                Три цифры<br/>
                                с обртаной<br/>
                                стороны<br/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pay-form-actions">

            <div class="pay-form__price">
                <div class="pay-form__price-label">Сумма к оплате</div>
                <div class="pay-form__price-value">170 920 <span class="ruble">c</span></div>
            </div>

            <div class="pay-form-actions__btn">
                <input
                        type="submit"
                        class="form-btn background-green"
                        value="Оплатить"
                        ng-disabled="PaymentForm.$invalid"
                        ng-click="form.submit($event, PaymentForm)"
                >
            </div>

        </div>
    </form>
</div>

<script src="js/libs.js"></script>
<script src="js/app.js"></script>
</body>
</html>