.b-carousel {
    overflow: hidden;
    width: 100%;

    &__prev,
    &__next {
        transform-style: preserve-3d;
        border-radius: 1px;
        border: 1px solid #fff;
        background: rgba(0, 0, 0, .5);
        height: 30px;
        width: 30px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 2;

        &__arrow {
            position: absolute;
            left: 50%;
            top: 50%;
        }

        &:hover {
            background: rgba(77, 77, 77, 1) !important;
        }
    }

    &__prev {
        left: 0;
        &__arrow {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &__next {
        right: 0;
        &__arrow {
            transform: translate(-50%, -50%) rotate(-90deg);
        }
    }

    &_arrow_mini {
        transform: scale(0.7);
        display: none;
    }

    &__holder {
        overflow: hidden;
        background: url(/spa/img/hotels/no_photo190x200.png) no-repeat center center;
        width: 100%;
        max-width: 200px;

        &_map {
            background: url(/spa/img/hotels/no_photo360x240.png) no-repeat center center;
            max-width: 500px;
        }
    }

    &__slider {
        position: relative;
        overflow: hidden;
        transform-style: preserve-3d;
        //transition: transform .1s linear 0s
        transition: left .1s linear 0s

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &_item {
        float: left;
        text-align: center;
        position: relative;

        &_image {
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &.b-carousel_map {

    }

    &:hover {
        .b-carousel_arrow_mini {
            display: block;
        }
    }
}
