.gallery_wrapper {
  min-height: 595px;
  &_empty {
    min-height: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 0;
  }
}

.gallery {

  &_full {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    .gallery__list__wrapper {
      padding: 30px 10px 10px;
      margin-bottom: 20px;
      //min-height: 50px;
    }

    .gallery__list_center {
      left : 50%;
      //height 50px;
      transform : translate(-50%, 0);
      
      &-item {
        /*width : 50px;
        height: 50px;*/
      }
    }



    .gallery__viewport {
      box-shadow: 0 5px 7px 3px rgba(0, 0, 0, 0.5);

      &-wrap {
        padding: 100px;
        margin: 0 auto;
        height: auto;

      }
    }
  }

  &__list__container,
  &__list__wrapper {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    min-height: 70px;
  }

  &__list__scroll {
    height: 40px;
    margin-top: 20px;
    /*overflow : hidden;*/
  }

  .image-wait-load {
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background-image: url("spa/img/preloader/imageloader.gif");
      left: 50%;
      top: 50%;
      margin: -20px 0 0 -20px;
    }
  }

  &__viewport {
    box-shadow 1px 1px 2px rgba(50, 50, 50, .6)
    position relative
    width 100%
    background-repeat no-repeat
    background-position center center
    background-size cover
    margin-left auto
    margin-right auto

    &-wrap {
      height 500px
      width $site-width
      /*display table-cell*/
      text-align center
      vertical-align middle
    }

  }

  &__list {
    transform-style: preserve-3d;
    transition: left;
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    overflow: hidden;
    white-space: nowrap;
    font-size 0
    //margin-left -4px

    &-item {
      width 70px
      height 70px
      background-size cover
      margin-left 4px
      margin-bottom 5px
      display inline-block
      cursor pointer

      &_state_current {
        outline: 2px solid #89c13a
      }
    }

  }

  &__active {
    position absolute
    top 0
    bottom 0
    cursor pointer
    width 50%

    &_type {
      &_prev {
        left 0
      }
      &_next {
        right 0
      }
    }

    .b-carousel__control {
      display none
    }

    &:hover {
      .b-carousel__control {
        display block
      }
    }

  }

  &__disclaimer {
    font-size $small
    color $gray-l
    margin 5px 0
  }

  .scroll-bar-wrap {
    border-radius: 10px;
    background-color: #36373e;
    height: 6px;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
  }
  .scroll-bar-wrap .scroll-bar {
    height: 6px;
    border: 0;
    margin: 0 auto;
  }
  .scroll-bar-wrap .ui-handle-helper-parent {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .scroll-bar-wrap .ui-slider-handle {
    border-radius: 10px;
    background-color: #5e5f65;
    height: 6px !important;
    top: 0 !important;
    cursor: w-resize;
  }
}
