<div class="rlf-oneway">
    <div class="b-ticket_2ways">
        <div class="row-fluid">
            <div class="col-xs-5 col-no-padding row-fluid__cell">
                <div class="rlf-fly" style="padding-bottom: 13px;">
                    <span class="rlf-city">{{item.CityFrom}}</span> {{item.OutCode}}
                    <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
                    <span class="rlf-city">{{item.CityTo}}</span> {{item.InCode}}
                    <div class="rlf-full-travel-time">в пути: {{item.TimeToFormatted}},
	                    <span ng-if="item.ToTransferCount > 0">
		                    {{item.ToTransferCount}}
		                    {{item.ToTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}
	                    </span>
	                    <span ng-if="item.ToTransferCount == 0">без пересадок</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-no-padding row-fluid__cell">
                <div class="rlf-fly rlf-fly_back" style="padding-bottom: 13px;">
                    <span class="rlf-city">{{item.CityTo}}</span> {{item.OutCodeBack}}
                    <span class="rlf-fly-arrow"></span>
                    {{ (_lastEtapBack = item.EtapsBack[item.EtapsBack.length - 1]) ? '' : '' }}
                    <span class="rlf-city">{{_lastEtapBack.InCity}}</span> {{item.InCodeBack}}
                    <div class="rlf-full-travel-time">
	                    в пути: {{item.TimeBackFormatted}},
	                    <span ng-if="item.BackTransferCount > 0">
		                    {{item.BackTransferCount}}
		                    {{item.BackTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}
		                </span>
	                    <span ng-if="item.BackTransferCount == 0">без пересадок</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="b-ticket_2ways b-ticket_2ways-sep">
        <ng:any ng-repeat="etapAgg in item.etapsAgg track by $index">
            <ng:include src="'avia/popup_item_info_body_two_ways.html'"></ng:include>
        </ng:any>
    </div>
</div>