<div class="rlf-oneway">
    <div class="rlf-fly" style="padding-bottom: 13px;">
        <span class="rlf-city">{{item.CityFrom}}</span> {{item.OutCode}}
        <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
        <span class="rlf-city">{{item.CityTo}}</span> {{item.InCode}}
        <div class="rlf-full-travel-time">в пути: {{item.TimeToFormatted}}, <span ng-if="item.ToTransferCount > 0">{{item.ToTransferCount}} {{getTransferCountText(item.ToTransferCount)}}</span><span ng-if="item.ToTransferCount == 0">прямой</span></div>
    </div>
    <div class="b-ticket_1way-cont">
        <ng:any ng-repeat="etap in item.EtapsTo track by $index">
            <ng:include src="'avia/popup_item_info_body_one_way.html'"></ng:include>
        </ng:any>
    </div>
</div>