<div class="inna-dropdown">
	<div class="inna-dropdown-action" ng-class="{'open': isOpen}">
		{{ passegesCount | WidgetAsQuantity:"человек":"человека":"человек"}}
		<span class="avia-tickets_class">{{ticketsClassHumanize}}</span>
		<i class="inna-arrow-bottom"></i>
	</div>
	<div class="inna-dropdown-dialog" ng-show="isOpen">
		
		<div class="inna-dropdown-counter">
			<div class="inna-dropdown-counter__label">
				<div class="inna-dropdown-counter__label-title">Взрослые</div>
				<div class="inna-dropdown-counter__label-capt">12 лет и старше</div>
			</div>
			<div class="inna-dropdown-counter__action">
				<div class="b-inna-counter">
					<span class="b-inna-counter__minus" ng-click="adultCountInc(adultCount, -1)">-</span>
					<input class="b-inna-counter__input" type="text" ng-model="adultCount" ng-blur="adultCountInc(adultCount)"/>
					<span class="b-inna-counter__plus" ng-click="adultCountInc(adultCount, +1)">+</span>
				</div>
			</div>
		</div>

		<div class="inna-dropdown-counter">
			<div class="inna-dropdown-counter__label">
				<div class="inna-dropdown-counter__label-title">Дети</div>
				<div class="inna-dropdown-counter__label-capt">2 - 11 лет</div>
			</div>
			<div class="inna-dropdown-counter__action">
				<div class="b-inna-counter">
					<span class="b-inna-counter__minus" ng-click="childCountInc(childCount, -1)">-</span>
					<input class="b-inna-counter__input" type="text" ng-model="childCount" ng-blur="childCountInc(childCount)"/>
					<span class="b-inna-counter__plus" ng-click="childCountInc(childCount, +1)">+</span>
				</div>
			</div>
		</div>

		<div class="inna-dropdown-counter">
			<div class="inna-dropdown-counter__label">
				<div class="inna-dropdown-counter__label-title">Младенцы</div>
				<div class="inna-dropdown-counter__label-capt">0 - 2 года</div>
			</div>
			<div class="inna-dropdown-counter__action">
				<div class="b-inna-counter">
					<span class="b-inna-counter__minus" ng-click="infantCountInc(infantCount, -1)">-</span>
					<input class="b-inna-counter__input" type="text" ng-model="infantCount" ng-blur="infantCountInc(infantCount)"/>
					<span class="b-inna-counter__plus" ng-click="infantCountInc(infantCount, +1)">+</span>
				</div>
			</div>
		</div>

		<div class="inna-dropdown-dialog__checkboxes">
			<label class="widget-checkboxes-label">
				<input type="checkbox" name="roaming" ng-model="ticketsClassBussiness"/><i></i>
				Бизнес-класс
			</label>
		</div>


	</div>
</div>