<div class="inna-dropdown">
	<div class="inna-dropdown-action">
		{{ personCount | asQuantity:"человек":"человека":"человек"}}
		<i class="inna-arrow-bottom"></i>
	</div>

	<div class="inna-dropdown-dialog">

		<div class="inna-dropdown-dialog_title">Туристы</div>

		<div class="inna-dropdown-dialog_label">Взрослые</div>
		<ul class="inna-dropdown-dialog-btns">
			<li
					class="inna-dropdown-dialog-btns_btn"
					ng-repeat="count in [] | range:5"
					ng-if="count > 0"
					ng-class="{selected:peoples == count}"
					ng-click="selectedPeoples(count)"
					>
				{{ count }}
			</li>
		</ul>

		<div class="inna-dropdown-dialog_label">Дети</div>
		<ul class="inna-dropdown-dialog-btns">
			<li
					class="inna-dropdown-dialog-btns_btn"
					ng-repeat="count in [] | range:4"
					ng-class="{selected:children == count}"
					ng-click="selectedChildren(count)"
					>
				{{ count }}
			</li>
		</ul>

		<div class="inna-dropdown-dialog_label"
		     ng-if="children > 0"
				>
			Возраст ребенка
		</div>
		<div class="inna-dropdown-dialog-selects"
		     ng-if="children > 0"
				>
			<div class="inna-dropdown-age" dropdown>
				<div class="inna-dropdown-age-toggle" dropdown-toggle>
					{{ 2 | asQuantity:"год":"года":"лет"}}
					<i class="inna-arrow-bottom"></i>
				</div>
				<ul class="inna-dropdown-age-dialog" role="menu">
					<li
							ng-repeat="age in [] | range:15"
					        ng-click="ageChoose(age)"
							>
						{{ age | asQuantity:"год":"года":"лет"}}
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>