<div xmlns="http://www.w3.org/1999/html">
	<div>locationFrom - {{locationFrom}}</div>
	<div>locationTo - {{locationTo}}</div>
	<div>url - {{ innaSearchUrl }}</div>
</div>
<br/>
<br/>
<div class="b-inna-search-form-fields">

	<div class="b-inna-search-form-control _typeahead">
		<input class="b-inna-search-form-control__input"
		       type="text"
		       placeholder="Откуда"
		       ng-model="locationFrom"
		       typeahead="state as state.name for state in getLocation($viewValue) | filter:$viewValue"
		       typeahead-template-url="typeaheadTemplateCustom.html"
		       typeahead-wait-ms="300"
				>
	</div>

	<div class="b-inna-search-form-control _typeahead">
		<input class="b-inna-search-form-control__input"
		       type="text"
		       placeholder="Куда"
		       ng-model="locationTo"
		       typeahead="state as state.name for state in getLocation($viewValue) | filter:$viewValue"
		       typeahead-template-url="typeaheadTemplateCustom.html"
		       typeahead-wait-ms="300"
				>
	</div>

	<div class="b-inna-search-form-control">
		<div class="b-inna-search-form-control_datapicker">
			<input type="text" class="b-inna-search-form-control__input"
			       datepicker-popup="{{format}}"
			       show-button-bar="false"
			       ng-model="startData"
			       is-open="opened"
			       min-date="minDate"
			       max-date="'2015-06-22'"
			       datepicker-options="dateOptions"
			       date-disabled="disabled(date, mode)"
			       close-text="Close"/>
			<i class="i-inna-calendar" ng-click="open($event)"></i>
		</div>
	</div>

	<div class="b-inna-search-form-control _action">
		<button class="b-inna-btn" ng-click="innaStartSearch()"></button>
	</div>

</div>

<script type="text/ng-template" id="typeaheadTemplateCustom.html">
	<div class="b-location-item">
		<span class="b-location-item-name" bind-html-unsafe="match.model.nameHtml"></span>
		<span class="b-location-item-iata" bind-html-unsafe="match.model.iata"></span>
	</div>
</script>