<div class='main__center'>

    <!--<div class='productInfo__Head'>-->
        <!--<div class='productInfo__Title'>-->
            <!--Оплата авиабилетов-->
        <!--</div>-->
        <!--<div class='productInfo__Price'>-->
            <!--Стоимость заказа за {{passengerCount | perPerson}}:-->
            <!--<b class='productInfo__Price-sum'>-->
                <!--{{productData.Price| price}}-->
                <!--<i class='fa fa-rub'></i>-->
            <!--</b>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class='buy__fly'>-->

        <!--<header class='rl-item-header'>-->
            <!--<span ng-if='!(productData.AviaInfo.transportersList.length > 3)'-->
                  <!--class='rl-airline'-->
                  <!--ng-repeat='tr in productData.AviaInfo.transportersList'><img ng-src='{{tr.logoUrl}}'-->
                                                                               <!--alt=''><span class='rl-airline-text'>{{tr.name}}</span></span>-->
            <!--<span ng-if='productData.AviaInfo.transportersList.length > 3'-->
                  <!--class='rl-airline'><img ng-src='/spa/img/group.png'-->
                                          <!--alt=''><span class='rl-airline-text'>Несколько авиакомпаний</span></span>-->
        <!--</header>-->

        <!--<div class='b-ticket_2ways'>-->

            <!--<div class='rlf-fly'>-->

                <!--<div class='row-fluid'>-->
                    <!--<div class='col-xs-5 col-no-padding row-fluid__cell'>-->
                        <!--<div class='rlf__flight-block'>-->
                            <!--<b>{{productData.AviaInfo.DepartureTimeFormatted}}</b>-->
                            <!--{{productData.AviaInfo.DepartureDateFormatted}}<br>-->
                            <!--<b>{{productData.AviaInfo.AirportFrom}}</b> {{productData.AviaInfo.OutCode}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class='col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle'>-->
                        <!--<span class='rlf-fly-arrow rlf-fly-arrow_popup'></span>-->
                    <!--</div>-->
                    <!--<div class='col-xs-5 col-no-padding row-fluid__cell'>-->
                        <!--<div class='rlf__flight-block'>-->
                            <!--<b>{{productData.AviaInfo.ArrivalTimeFormatted}}</b>-->
                            <!--{{productData.AviaInfo.ArrivalDateFormatted}}<br>-->
                            <!--<b>{{productData.AviaInfo.AirportTo}}</b> {{productData.AviaInfo.InCode}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class='rlf-full-travel-time-info'>-->
                    <!--в пути: {{productData.AviaInfo.TimeToFormatted}},-->
                    <!--<span ng-if='productData.AviaInfo.ToTransferCount > 0'>-->
		            <!--{{productData.AviaInfo.ToTransferCount}}-->
		            <!--{{productData.AviaInfo.ToTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}-->
	            <!--</span>-->
                    <!--<span ng-if='productData.AviaInfo.ToTransferCount == 0'>без пересадок</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class='rlf-fly rlf-fly_back'-->
                 <!--ng-if='productData.AviaInfo.EtapsBack.length > 0'>-->

                <!--<div class='row-fluid'>-->
                    <!--<div class='col-xs-5 col-no-padding row-fluid__cell'>-->
                        <!--<div class='rlf__flight-block'>-->
                            <!--<b>{{productData.AviaInfo.BackDepartureTimeFormatted}}</b>-->
                            <!--{{productData.AviaInfo.BackDepartureDateFormatted}}<br>-->
                            <!--<b>{{productData.AviaInfo.AirportFromBack}}</b> {{productData.AviaInfo.OutCodeBack}}-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class='col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle'>-->
                        <!--<span class='rlf-fly-arrow rlf-fly-arrow_popup'></span>-->
                    <!--</div>-->
                    <!--<div class='col-xs-5 col-no-padding row-fluid__cell'>-->
                        <!--<div class='rlf__flight-block'>-->
                            <!--<b>{{productData.AviaInfo.BackArrivalTimeFormatted}}</b>-->
                            <!--{{productData.AviaInfo.BackArrivalDateFormatted}}<br>-->
                            <!--<b>{{productData.AviaInfo.AirportToBack}}</b> {{productData.AviaInfo.InCodeBack}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class='rlf-full-travel-time-info'>-->
                    <!--в пути: {{productData.AviaInfo.TimeBackFormatted}},-->
                    <!--<span ng-if='productData.AviaInfo.BackTransferCount > 0'>-->
		            <!--{{productData.AviaInfo.BackTransferCount}}-->
		            <!--{{productData.AviaInfo.BackTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}-->
	            <!--</span>-->
                    <!--<span ng-if='productData.AviaInfo.BackTransferCount == 0'>без пересадок</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class='rlf-fly rlf-fly_back rlf__oneway'-->
                 <!--ng-if='!(productData.AviaInfo.EtapsBack.length > 0)'>-->
                <!--БИЛЕТ В ОДНУ СТОРОНУ-->
            <!--</div>-->
        <!--</div>-->

        <!--<footer class='rl-footer'>-->
            <!--<span class='rl-tickets-number'>{{ticketsNumber}}</span>-->
            <!--<a ng-href='#'-->
               <!--ng-if='goBackUrl().length > 0'-->
               <!--class='rl-more-info'-->
               <!--ng-click='popupItemInfo.show($event, item, criteria, searchId, true)'>Подробнее</a>-->
        <!--</footer>-->
    <!--</div>-->

    <!--<div class='buy__warning'-->
         <!--ng-show='visaControl.visaNeeded || visaControl.visaRulesNeeded'>-->

        <!--<span class='icon-sprite-visa-alert buy-warning-alert-img'></span>-->
        <!--<div class='buy-warning-alert-content'>-->
            <!--<div class='buy-warning-alert'-->
                 <!--ng-show='visaControl.visaNeeded || visaControl.visaRulesNeeded'>Обратите внимание-->
            <!--</div>-->
            <!--<span ng-show='visaControl.visaNeeded'>Требуется виза.</span>-->
            <!--<span ng-show='visaControl.visaRulesNeeded'>-->
            <!--<span ng-if='visaControl.cautionCountries.length > 0'> Рекомендуем ознакомиться с визовыми правилами для посещения стран:-->
                <!--<span ng-repeat='c in visaControl.cautionCountries'>-->
                    <!--<a class='b-visa-country-link'-->
                       <!--ng-if='c.link'-->
                       <!--ng-href='{{c.link}}'-->
                       <!--target='_blank'>{{c.name}}</a>&lt;!&ndash;-->
                    <!--&ndash;&gt;<span ng-if='!c.link'>{{c.name}}</span>&lt;!&ndash;-->
                    <!--&ndash;&gt;<span ng-if='!($last)'>,&nbsp;</span>&lt;!&ndash;-->
                <!--&ndash;&gt;</span>&lt;!&ndash;-->
            <!--&ndash;&gt;</span>.-->
        <!--</span>-->
            <!--<div>-->
                <!--<span ng-if='productData.AviaInfo.alertDifferentPorts'>Разные аэропорты вылета и прилета. </span>-->
                <!--<span ng-if='productData.AviaInfo.IsLongTransfer'>Долгая пересадка. </span>-->
                <!--<span ng-if='productData.AviaInfo.IsNightStop'>Ночная стыковка. </span>-->
                <!--<span ng-if='productData.AviaInfo.baggageAlert'>Платный багаж. </span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="b-result b-result_col_two_short b-result_flight-info row b-result-content" style="width: 752px;">

        <div class="b-result__cell" style="padding: 0px !important;">

            <div class="wrap__flight-info">
                <div class="flight-info" style="border-bottom: 1px dashed #DDE3E9;">
                <span class="result-cell__airlines">
                        <img src="{{'http://s.test.inna.ru/Files/logo/' + productData.AviaInfo.EtapsTo[0].TransporterCode + '.png'}}" alt="" class="logo">
                        <span class="rl-airline-text">{{productData.AviaInfo.EtapsTo[0].TransporterName}}</span>
                </span>

                    <div class="date">
                        {{productData.AviaInfo.DepartureDateFormatted}}<br>
                        <b >{{productData.AviaInfo.DepartureTimeFormatted}} {{productData.AviaInfo.OutCode}}</b><br>
                        <span class="red_span" title="{{productData.AviaInfo.AirportFrom}}">{{productData.AviaInfo.AirportFrom | limitFilter:16}}</span>
                    </div>

                    <div class="arrow">
                        в пути: {{productData.AviaInfo.TimeToFormatted}}<br>
                        <span ng-if="productData.AviaInfo.ToTransferCount > 0">
                            {{productData.AviaInfo.ToTransferCount}}
	                        {{productData.AviaInfo.ToTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}
                        </span>
                        <span ng-if="productData.AviaInfo.ToTransferCount == 0">без пересадок</span>
                    </div>

                    <div class="date">
                        {{productData.AviaInfo.ArrivalDateFormatted}}<br>
                        <b>{{productData.AviaInfo.ArrivalTimeFormatted}} {{productData.AviaInfo.InCode}}</b><br>
                        <span class="red_span" title="{{productData.AviaInfo.AirportTo}}">{{productData.AviaInfo.AirportTo | limitFilter:14}}</span>
                    </div>
                </div>

                <div class="flight-info" ng-if="productData.AviaInfo.EtapsBack.length > 0">
                <span class="result-cell__airlines">
                            <img src="{{'http://s.test.inna.ru/Files/logo/' + productData.AviaInfo.EtapsBack[0].TransporterCode + '.png'}}" alt="" class="logo">
                            <span class="rl-airline-text">{{productData.AviaInfo.EtapsBack[0].TransporterName}}</span>
                </span>

                    <div class="date">
                        {{productData.AviaInfo.BackDepartureDateFormatted}}<br>
                        <b>{{productData.AviaInfo.BackDepartureTimeFormatted}} {{productData.AviaInfo.OutCodeBack}}</b><br>
                        <span class="red_span" title="{{productData.AviaInfo.AirportFromBack}}">{{productData.AviaInfo.AirportFromBack | limitFilter:16}}</span>
                    </div>

                    <div class="arrow">
                        в пути: {{productData.AviaInfo.TimeBackFormatted}}<br>
                        <span ng-if="productData.AviaInfo.BackTransferCount > 0">
                            {{productData.AviaInfo.BackTransferCount}}
	                        {{productData.AviaInfo.BackTransferCount | pluralize: ["пересадка","пересадки","пересадок"]}}
                        </span>
                        <span ng-if="productData.AviaInfo.BackTransferCount == 0">без пересадок</span>
                    </div>

                    <div class="date">
                        {{productData.AviaInfo.BackArrivalDateFormatted}}<br>
                        <b>{{productData.AviaInfo.BackArrivalTimeFormatted}} {{productData.AviaInfo.InCodeBack}}</b><br>
                        <span class="red_span" title="{{productData.AviaInfo.AirportToBack}}">{{productData.AviaInfo.AirportToBack | limitFilter:14}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-result__cell result-choice">
            <span class="rl-price {{productData.AviaInfo.EtapsBack.length == 0 ? 'rl-price_1way' : ''}}">
                <span class="rl-price-item">{{productData.AviaInfo.Price| price}} <ng-include src="'components/ruble.html'" /></span>
                <span class="rl-price-desc">
                    Стоимость перелета за {{productData.AviaInfo.PassengerCount}}x
                </span>
            </span>

            <span class="button" style="background-color: #DDE3E9 !important;">Купить</span>
        </div>
    </div>

    <div class="ReservationSection__wrap">
        <div class='productInfo__Desc'>
            Пожалуйста, ознакомьтесь с
            <a href=''
               ng-click="tarifs.show($event);gtmRules($event,'avia');">
                правилами применения тарифа авиабилета
            </a>
        </div>
    </div>

</div>

<ng-include src="'components/productInfo/templ/baloons.html'"></ng-include>