<div class='main__center'>


    <div class="ReservationForm__head">

        <h3 class="ReservationForm__title ReservationForm__title-head">
            Оформление и оплата
        </h3>

        <div class="ReservationForm__head-price-info">
            Стоимость за {{productData.Passengers.length | perPerson}}:
            <div class="ReservationForm__head-price">
                {{productData.Price| price}}<i class='fa fa-rub'></i>
            </div>
        </div>
    </div>

    <hotel-card-info
            hotel="productData.Hotel"
            hotel-room="productData.Hotel.Room"
    ></hotel-card-info>

</div>