
{{#if virtualBundle.getProfit() > 1000}}
	<div class="hotel-info__special-mark">
	    <span class="icon-crown icon-sprite-crown"></span>
	    Спецпредложение
	</div>
{{/if}}


<div class="hotel-info" ng-class="{'hotel-info_with_crown': virtualBundle.getProfit() > 1000}">
    <div class="hotel-info-content">
        <!-- component Star -->
        <Stars stars="{{hotel.Stars}}"/>

        <h3 class="hotel-info-name">{{hotel.HotelName}}</h3>

        <a href="javascript:void(0);" class="hotel-info-place js-hotel-info-place">
	        {{hotel.HotelCityName}} {{hotel.Address}}
        </a>

	    {{#if hotel.RoomCount <= 3}}
            <div class="warning">
	            {{pluralize(hotel.RoomCount, ['Остался последний номер!', 'Осталось два номера!', 'Осталось три номера!'])}}
            </div>
	    {{/if}}
    </div>
</div>

<div class="bottom-actions">
    <div class="row">
        <div class="col-xs-9 col-no-padding bottom-actions_left">
            <!-- component Tripadvisor -->
            <Tripadvisor
                    TaCommentCount="{{hotel.TaCommentCount}}"
                    TaFactor="{{hotel.TaFactor}}"
                    TaFactorCeiled="{{hotel.TaFactorCeiled}}" />

        </div>
        <div class="col-xs-3 col-no-padding bottom-actions_right">
            <a href="javascript:void(0);" class="b-hotel_item__details" on-click="getHotelDetails">Подробнее</a>
        </div>
    </div>
</div>