<div bindonce="hotel" class="b-hotel_item b-result b-result_col_three_galary b-result_middle row b-result-content">
    <div class="b-hotel_item-wrapper">
        <div class="b-result__cell col-no-padding">

            <!-- компонент карусели -->
            <!--<ng:include src="'components/carousel/index.html'"></ng:include>-->
            <div class="hotel-gallery b-carousel">
                <div class="hotel-gallery-arrow-left b-carousel__prev"></div>
                <div class="hotel-gallery-arrow-right b-carousel__next"></div>
                <div class="hotel-gallery-container b-carousel__holder">
                    <!-- Slider -->
                    <div class="b-carousel__slider">
                        <div class="b-carousel_item" style="width:200px; height:190px;">
                            <div class="b-carousel_item_image"
                                 bo-style="{'background-image': 'url(' + hotel.data.Photos[0].Small +')'}"
                                 style="width:200px;height:190px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-result__cell">
            <div class="hotel-info__special-mark" ng-if="virtualBundle.getProfit() > 1000">
                <span class="icon-crown icon-sprite-crown"></span>
                Спецпредложение
            </div>
            <div class="hotel-info" ng-class="{'hotel-info_with_crown': virtualBundle.getProfit() > 1000}">
                <div class="hotel-info-content">
                    <div>
                        <span class="icon icon-star" bo-if="hotel.data.Stars > 0"></span>
                        <span class="icon icon-star" bo-if="hotel.data.Stars > 1"></span>
                        <span class="icon icon-star" bo-if="hotel.data.Stars > 2"></span>
                        <span class="icon icon-star" bo-if="hotel.data.Stars > 3"></span>
                        <span class="icon icon-star" bo-if="hotel.data.Stars > 4"></span>
                    </div>
                    <h3 class="hotel-info-name" bo-text="hotel.data.HotelName"></h3>
                    <a href="javascript:void(0);" class="hotel-info-place js-hotel-info-place" bo-text="hotel.data.HotelCityName +', ' + hotel.data.Address"></a>

                    <div class="warning" bo-if="hotel.data.RoomCount == 1">Остался последний номер!</div>
                    <div class="warning" bo-if="hotel.data.RoomCount == 2">Осталось два номера!</div>
                    <div class="warning" bo-if="hotel.data.RoomCount == 3">Осталось три номера!</div>
                </div>
            </div>

            <div class="bottom-actions">
                <div class="row">
                    <div class="col-xs-9 col-no-padding bottom-actions_left">

                        <!-- tripadvisor -->
                        <div class="js-tripadvisor-container"></div>

                    </div>
                    <div class="col-xs-3 col-no-padding bottom-actions_right">
                        <a href="javascript:void(0);" class="b-hotel_item__details js-hotel-item-details">Подробнее</a>
                    </div>
                </div>
            </div>

            <!-- separator -->
            <div class="b-result-cell__gap">
                <div class="b-result-cell__gap_wrap"></div>
            </div>
        </div>

        <div class="b-result__cell col-xs-3 result-choice">
            <div class="price" ng-if="virtualBundle.getProfit() > 1000">
                <span class="cross">{{virtualBundle.getFullPrice() | price}} <span class="b-rub">q</span></span>
                <div class="price-description">по отдельности</div>
            </div>

            <div class="price-description" ng-style="{'margin-top': virtualBundle.getProfit() <= 1000 ? '50px' : ''}">
                Перелет + Отель
            </div>
            <div class="corner-price">
                <div>{{virtualBundle.getFullPackagePrice() | price}}<span class="b-rub">q</span></div>

                <!-- tooltip price -->
                <div tool-tip-price item="virtualBundle" is-hotel="true"></div>

                <div class="price-description" ng-if="virtualBundle.getProfit() > 1000">
                    Скидка: {{virtualBundle.getProfit() | price}} <span class="b-rub">q</span>
                </div>
            </div>


            <span class="button" ng-click="setCurrent()">Выбрать</span>
        </div>
    </div>
</div>