<div class="b-list-hotels">

	{{#if Hotels.length}}
        <div class="b-switch-filters_buttons_right font-medium">
            Другие <b>{{Hotels.length -1}}</b>
			{{pluralize(Hotels.length -1, ["вариант","варианта","вариантов"])}}
            отелей
        </div>


        <div class="b-list-hotels__list">
			{{#each hotelList}}
                <HotelItem hotel="{{.}}" combinationModel="{{combinationModel}}"/>
			{{/each}}
        </div>

		{{#if !hotelList.length}}
            <div class="b-list-hotels__list">
                <div class="results-list__empty results-list__empty_type_hotels">
                    <p>Варианты не найдены.</p>
                    <p>Попробуйте изменить условия поиска или настройки фильтров.</p>
                </div>
            </div>
		{{/if}}
	{{else}}
        <div class="b-list-hotels__list">
            <div class="results-list__empty results-list__empty_type_hotels">
                <p>Варианты не найдены.</p>
                <p>Попробуйте изменить условия поиска или настройки фильтров.</p>
            </div>
        </div>
	{{/if}}
</div>