<div class="filters__link {{ (hasSelected) ? 'filters__link_selected' : ''}}"
     on-click="toggle">
    Категория
</div>


<div class="filters__baloon {{isOpen ? 'filters__baloon_show' : ''}}">

    <header class="ra-header">
        <h4 class="ra-title">Звезды</h4>
        <a class="ra-header-link" href="javascript:void(0);" on-click="resetFilter">Сбросить</a>
    </header>

    <div class="ra-content">

        <ul class="ra-fly-type-list">
            <li ng-repeat="option in options.options" ng-if="option.shown">

                <label bindonce="option">
                    <input type="checkbox" ng-model="option.selected">
                    <span class="ra-checkbox"></span>
                    <span class="ra-fly-type">
                        <div>
                            <span class="icon icon-star ng-scope" bo-if="option.value > 0"></span>
                            <span class="icon icon-star ng-scope" bo-if="option.value > 1"></span>
                            <span class="icon icon-star ng-scope" bo-if="option.value > 2"></span>
                            <span class="icon icon-star ng-scope" bo-if="option.value > 3"></span>
                            <span class="icon icon-star ng-scope" bo-if="option.value > 4"></span>
                        </div>
                    </span>
                    <span class="ra-fly-price">
	                    <span bo-text="option.minPrice | price"></span>&nbsp;
	                    {{>ruble}}
                    </span>
                </label>

            </li>
        </ul>
    </div>
</div>