{{#if FilterData.length}}
    <li class="filter" on-hover="onHover">
        <i class="icon-expand {{isOpen ? 'icon-expand_open' : ''}}"></i>
        <div class="filters__link {{ (hasSelected) ? 'filters__link_selected' : ''}}"
             on-click="toggle">
            Аэропорты
        </div>

        <div class="filters__baloon {{isOpen ? 'filters__baloon_show' : ''}}">
			{{#each FilterData}}

                <!-- Не выводим фильтр аэропорта если он только один  -->
				{{#if this.List.length > 1}}
                    <div class="filters__baloon__item">
                        <header class="ra-header">
                            <h4 class="ra-title">{{this.Name}}</h4>
                            <span class="ra-header-link like-link" on-click="resetItem">Сбросить</span>
                        </header>
                        <div class="ra-content">
                            <ul class="ra-fly-type-list">

								{{#each this.List}}
                                    <li>
                                        <label on-change="onChecked">
                                            <input type="checkbox" name="stateAirPort"
                                                   value="{{this.Code}}" checked="{{this.isChecked}}">
                                            <span class="ra-checkbox"></span>
                                            <span class="ra-fly-type">{{this.PortName}} {{this.Code}}</span>
                                        </label>
                                    </li>
								{{/each}}
                            </ul>
                        </div>
                    </div>
				{{/if}}
			{{/each}}
        </div>
    </li>
{{/if}}