<li class="filter" on-hover="onHover">
    <i class="icon-expand {{isOpen ? 'icon-expand_open' : ''}}"></i>
    <div class="filters__link {{ (hasSelected) ? 'filters__link_selected' : ''}}"
         on-click="toggle">
        Название
    </div>


    <div class="filters__baloon filters__baloon_240 {{isOpen ? 'filters__baloon_show' : ''}}">
        <div class="filter__range-container">
        <span class="filter__range">
            <input type="text" class="b-filters__name" value="{{name}}">
        </span>
            <span class="ra-header-link like-link" on-click="resetFilter">Сбросить</span>
        </div>
    </div>
</li>