.hotel-details {

  padding: $short_padding 0 0px

  &.hotel-details_display-order {
    padding: 110px 0 0px;
  }

  &__wrap {
    z-index 1
    padding-bottom 20px
  }

  &__section {
    margin 0 0 35px
    position: relative;

    &_layout_context {
      overflow hidden
    }

    &-box {
      background #fff
      padding 20px
      color #000

      .hotel-details__section-title {
        color #000
      }
    }

    &-title {
      width: 100%
      color #fff
      font-size 18px
      margin-bottom 18px

      &-section {
        display table-cell
        width 100%
        min-width 400px
        vertical-align bottom

        &:last-child {
          text-align right
        }
      }
    }
  }

  &__ta {
    float right
  }
}

.hotel-details__section {
  &-text {
    margin-bottom 0px
    font-size 14px

    p {
      margin 0 0 20px 0
    }

    &-viewport {
      height: 150px
      overflow hidden
      text-overflow ellipsis

      p {
        margin-bottom 15px
      }

      &_state_open {
        height auto
      }
    }

    &-more {
      color #1e88c1
      cursor pointer
      margin-top 6px
    }
  }
}

.hotel-details-ta-info {
  background #ded9d8
  padding 6px 20px 4px
  font-size 0
  cursor pointer

  &__comments {
    font-size 12px
    color #4d4d4d
    padding-left 10px
    position relative
    top -2px
  }

  .icon-tripadvisor {
    margin-right 10px
  }
}

.hotel-details-name {
  font-size 24px
  line-height 30px
  color #fff
  font-weight bold
  text-align left

  &__title {
    display : inline-block;
    position : relative;
    padding-right : 10px;
  }

  .hotel-details-stars {
    white-space: nowrap
    position: absolute;
    right :0;
    top: 50%;
    transform : translate(100%, -60%);
  }
}

.hotel-details-extra {
  font-size 0
  margin-top 10px

  &__item {
    background-position 7px center
    background-repeat no-repeat
    border-radius 4px
    display inline-block
    margin-right 7px
    margin-bottom 4px
    /*background-color #e6e7e9*/
    color #4d4d4d
    font-size 12px
    padding 8px 10px 7px 30px
    position relative

    .icon-type-extra {
      position absolute
      top 50%
      transform translateY(-50%)
      left 7px
    }

    .icon-type-extra-internet {
      @extend .icon-sprite-extra-internet;
    }

    .icon-type-extra-kitchen {
      @extend .icon-sprite-extra-kitchen;
      padding-left 35px
    }

    .icon-type-extra-parking {
      @extend .icon-sprite-extra-parking;
    }

    .icon-type-extra-swimmingpool {
      @extend .icon-sprite-extra-pool;
    }

    .icon-type-extra-barrestaurant {
      @extend .icon-sprite-extra-lobby;
    }

    .icon-type-extra-breakfast,
    .icon-type-extra-meal {
      @extend .icon-sprite-extra-food;
    }

    .icon-type-extra-fitness {
      @extend .icon-sprite-extra-fitness;
    }

    .icon-type-extra-forpeoplewithdisabilities {
      @extend .icon-sprite-extra-insured;
    }

    .icon-type-extra-servicesforchildren {
      @extend .icon-sprite-extra-kids;
    }

    .icon-type-extra-transfer {
      @extend .icon-sprite-extra-bus;
      padding-left 36px
    }

    .icon-type-extra-other {
      display none
    }

  }

  &__item_description {
    background-color #e6e7e9
  }
}

.hotel-details-map {
  width 100%
  height 200px
  box-shadow 1px 1px 2px rgba(50, 50, 50, .6)

  #hotel-details-map {
    width 100%
    height 100%
  }

  &_display_fullscreen {
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    height auto
    z-index 100
  }
}

.hotel-details-rooms {
  box-shadow 1px 1px 2px rgba(50, 50, 50, .6)
  background #fff
  overflow hidden

  &__room {
    border-bottom 1px solid #dedede

    &-warning {
      color $red
      margin-top 4px
    }

    &-long {
      display none
    }

    &-short {
      padding 10px
    }

    &-rules-warning {
      position : relative;
      display : inline-block;
      background-color : $warning;
      vertical-align : middle;
      padding : 6px 6px 6px 28px;
      margin-top: 14px;
    }

    .css-sprite-b2b-error-hotel {
      position : absolute;
      top:50%;
      left : 7px;
      transform : translateY(-52%);
    }

    &-title {
      color #1e88c1
      font-size 14px
      font-weight normal
      margin-bottom : 5px;
      cursor pointer
      position relative

      .like-link {
        border-bottom : 1px solid;
        line-height: 0.9em;
      }


      b {
        font-size .8em
        position relative
        top 1px
      }
    }

    &-info {
      display table
      width 100%
    }

    &-desc,
    &-cancel-rules,
    &-price,
    &-actions {
      display table-cell
      vertical-align middle
      font-size 14px
    }

    &-desc {
      width 98%
      padding-right: 15px;
    }

    &-cancel-rules {
      min-width 140px
      padding-right 5px

      &-ok {
        color : $green;
      }
    }

    &-price {
      min-width 165px
      padding-right 10px
      text-align right
      white-space nowrap

      &-diff {
        font-size 18px
        font-weight bold
      }
    }

    &-actions {
      min-width 180
      text-align right
    }

    &-long {
      padding 10px
      background #eeeeee
      background linear-gradient(to bottom, #eeeeee 0%, #ffffff 3%, #ffffff 97%, #eeeeee 100%)
      border 1px solid #dedede
      border-width 1px 0 0
    }

    &-long-text {
      font-size 14px

      p {
        margin 10px 0
      }

      ul {
        margin-left 15px
        padding-left 10px

        li {
          list-style disc
        }
      }
    }

    &_state_open {

      .hotel-details-rooms__room-long {
        display block
      }
    }
  }
}

.button {
  &_size_l {
    font-size 18px
    font-weight normal
    height 30px
    width 170px
  }
  &_size_xl {
    font-size 18px
    font-weight normal
    height 40px
    width 170px
  }
}

.mini-gallery {
  font-size 0

  &__mini {
    display inline-block
    width 70px
    height 70px
    margin-right 5px
    background-size cover
    position relative
    z-index 1

    &:hover {
      .mini-gallery__big {
        display block
      }
    }
  }

  &__big {
    display none
    position absolute
    left 0
    top 73px
    border 2px solid #fff
    border-radius 2px
    box-shadow 1px 1px 2px rgba(50, 50, 50, .6)
    z-index 2

    &::after {
      content ''
      display block
      position absolute
      top -10px
      left 35px
      width: 0;
      height: 0;
      border-style solid
      border-width 0 8px 10px 8px
      border-color transparent transparent #fff transparent
    }
  }
}

.hotel-details-resume {
  font-size 14px
  color #fff

  &__section {
    padding 15px
    position : relative;
    border-bottom 1px solid #878787

    &:last-child {
      border-bottom 0

      &-long {
        display none
      }
    }

    &:after {
      content: '';
      display : block;
      clear: both;
    }
  }


  &__section-title {
    font-size 16px
    font-weight normal;
    position : absolute;
    top: 15px;
    left: 0;
    padding-left : 15px;
  }

  &__wrapper {
    margin-left: 240px;
  }

  &__list {
    float: left;
    padding-left: 15px;
    overflow: hidden;
    width : 45%;

    &:first-child {
      /*padding-left: 0px;*/
    }
  }

  &__item {
    list-style: disc;
    /*float left*/
    /*width 40%;*/
    margin-right: 8%;
    padding-bottom : 3px;
  }
}
        
        
        