
color-bg-lbl-wl() {
    background: #64a1d3;
}

color-bg-share-wl() {
    background: #61a8e1;
}

color-bg-btn-wl() {
    background: linear-gradient(top, #c1579a, #c15479);
}

color-border-wl(){
    border-color: #c1579a;
}

color-datepicker-background-wl() {
    background: linear-gradient(top, #c1579a, #c15479);
}

color-datepicker-bg() {
    background: #e3bcd5;
}

arrow-color-wl() {
    color: #46b1fa;
}
