@import "../../base.styl"
@import "colors.styl"
@import "index.styl"
@import "controls.styl"
@import "buttons.styl"
@import "form.styl"
@import "horiz-form.styl"
@import "avia.styl"
@import "dp.search.result.styl"
@import "dp.hotel.details.styl"
@import "dp.buy.styl"
@import "map.styl"
@import "gallery.styl"

.layout.partner {
    top: 0; 
    margin-bottom: 0;
    padding: 0;
}