.icon
  display: inline-block

  &-clip
    background url(../img/ticket/clip.png)
    height 17px
    width 17px

  /*&-crown
    background url(../img/ticket/crown.png)
    width 21px
    height 14px*/

  &-star
    background url(../img/ticket/star.png)
    width 11px
    height 10px

  /*&-tripadvisor
    background url(../img/ticket/tripadvisor.png)
    width 27px
    height 16px

  &-tripadvisor-like
    background url(../img/ticket/tripadvisor-like.png)
    width 14px
    height 14px

  &-tripadvisor-half
    background url(../img/ticket/tripadvisor-half.png)
    width 14px
    height 14px*/

  /*&-price-info
    background url(../img/price-info-icon.png)
    width 17px
    height 17px*/

  &-cross
    background url(../img/remove.png)
    width 9px
    height 10px


