.tooltip-wrapper {
  position: relative;
}

.tooltip {
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .6);
  background: #fff;
  padding: 13px;
  position: absolute;
  z-index: 2;

  &.tooltip-price_at_hotel-card {
    right: -15px;
    top 40px
  }

  &.tooltip-price_at_avia-card {
    right: -2px;
    top 115px
  }

  &:before {
    content ''
    display block
    position: absolute
    width 0
    height 0
    border-style solid
    border-width 0 11px 11px
    border-color transparent transparent #fff transparent
    top -10px
    right 12px
    z-index: 2
  }

  &:after {
    content ''
    background url(/spa/img/tooltip/corner-shadow.png)
    display block
    position: absolute
    width 42px
    height: 12px
    top -12px
    right 4px
    z-index: 1
  }

  &.tooltip_right {
    right: -220px;
    bottom: -45px;
    width : 230px;
    left: auto;

    &:before {
      top: -10px;
      right: auto;
      left: 12px;
    }

    &:after {
      top: -12px;
      left: 4px;
      right: auto;
    }

  }


  .share-link-input {
    border: 0;
    background: #4d4d4d;
    color: #fff;
    height: 20px;
    padding: 0 5px;
    width: 200px;
  }
}

.tooltip-share-link_type_ticket-popup {
  left: -110px;
  bottom: -30px;
}
