<!-- временно прячем компонент -->
<span class="icon-price-info js-show-tooltip cursor-pointer"
        ng-class="{'icon-sprite-price-info':!icon, 'icon-sprite-price-info-white':icon}"
        ng-if="isPriceObject"></span>

<div class="tooltip tooltip-price tooltip-price_at_hotel-card JS-tooltip-price"
     style="display:none;"
     ng-class="{'tooltip-price_big':isPriceObject}">

    <!-- кусок кода, который тут был, смотри в rev 1934:c9ab82932065 -->

    <div class="tooltip-price__b2b">
        <ul>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Сбор агента
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalAgentReward | price}} <ng-include src="'components/ruble.html'"/>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-wrap col-no-padding">
                        Агент. вознагр.
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalAgentRate | price}} <ng-include src="'components/ruble.html'"/>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Доход
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalAgentProfit | price}} <ng-include src="'components/ruble.html'"/>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>