<!-- Полная копипста из tour_grid_page -->
<div class="layout">
    <div class="offers-card-banner-container main" ng-controller="SliderCtrl" ng-show="slides.length > 0" app-slider>
        <ul class="offers-card-banner-list Offer-card-banners">
            <li class="offer-card-banner-item" bindonce ng-repeat="slide in slides track by $index">
                <!--<img class="img" bo-src="slide.Image" />-->
                <div class="img" style="background-image: url('{{slide.Image}}')"></div>
                <div class="darken-container" ng-click="offerClickSlider(slide, $event, $index)"></div>
                <div class="info-container" ng-click="offerClickSlider(slide, $event, $index)">
                    <div class="info">
                        <h3 class="name" bo-if="!isNullOrEmpty(slide.FrontTitleRow1)" bo-bind="slide.FrontTitleRow1"></h3>
                        <h3 class="name" bo-if="!isNullOrEmpty(slide.FrontTitleRow2)" bo-bind="slide.FrontTitleRow2"></h3>
                        <p class="description" bo-if="!isNullOrEmpty(slide.FrontSubTitleRow1)" bo-bind="slide.FrontSubTitleRow1"></p>
                        <p class="description" bo-if="!isNullOrEmpty(slide.FrontSubTitleRow2)" bo-bind="slide.FrontSubTitleRow2"></p>
                        <p class="description" bo-if="!isNullOrEmpty(slide.FrontPrice)" bo-bind="slide.FrontPrice"><span class="price"></span></p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="banner-dots-container">
            <ul class="banner-dots Banner-dots"></ul>
        </div>
        <div class="scroll-mouse-container" ng-show="slides.length > 0">

            <!--<span class="smoothscroll-control Mouse-scroll">
                <div class="icon-arrow-hint animated infinite hinge animated-arrow-1"></div>
                <div class="icon-arrow-hint animated infinite hinge animated-arrow-2"></div>
            </span>-->
            <i class="icon icon-scroll-mouse Mouse-scroll"></i>
        </div>
    </div>

    <div ng-class="{'Offers-anchor':($index == 0), 'offers-black':$even, 'offers-dark-grey':$odd}" bindonce ng-repeat="section in sections">
        <div class="offers-container">
            <h2 class="offers-title" bo-bind="section.Name"></h2>
            <p class="offers-description" bo-bind="section.Description"></p>
            <div class="offers-list" ng-controller="OffersListCtrl">
                <ng:any bindonce ng-repeat="block in section.OfferLayouts track by $index">
                    <ng:include src="getTemplateUrlByBlockType(block.OfferLayoutType)">
                    </ng:include>
                </ng:any>
            </div>
        </div>
    </div>
</div>