<!-- Полная копипста из tour_grid_page -->
<div class="layout">
	
    <div class="offers-card-banner-container main" ng-controller="SliderCtrl" ng-show="slides.length > 0" app-slider>
        <ul class="offers-card-banner-list Offer-card-banners">
            <li class="offer-card-banner-item" ng-repeat="slide in slides track by $index">
                <!--<img class="img" ng-src="slide.Image" />-->
                <div class="img" style="background-image: url('{{slide.Image}}')"></div>
                <div class="darken-container" ng-if="slide.NeedFilterBrightness" ng-click="offerClickSlider(slide, $event, $index)"></div>
                <div class="info-container" ng-click="offerClickSlider(slide, $event, $index)">
                    <div class="info">
                        <h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow1)">
	                        {{::slide.FrontTitleRow1}}
                        </h3>
                        <h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow2)">
	                        {{::slide.FrontTitleRow2}}
                        </h3>
                        <p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow1)">
	                        {{::slide.FrontSubTitleRow1}}
                        </p>
                        <p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow2)">
	                        {{::slide.FrontSubTitleRow2}}
                        </p>
                        <p class="description" ng-if="!isNullOrEmpty(slide.FrontPrice)">
	                        {{::slide.FrontPrice}}
	                        <span class="price"></span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="banner-dots-container">
            <ul class="banner-dots Banner-dots"></ul>
        </div>
        <div class="scroll-mouse-container" ng-show="slides.length > 0">

            <!--<span class="smoothscroll-control Mouse-scroll">
                <div class="icon-arrow-hint animated infinite hinge animated-arrow-1"></div>
                <div class="icon-arrow-hint animated infinite hinge animated-arrow-2"></div>
            </span>-->
            <i class="icon icon-scroll-mouse Mouse-scroll"></i>
        </div>
    </div>

    <div ng-class="{'Offers-anchor':($index == 0), 'offers-black':$even, 'offers-dark-grey':$odd}" ng-repeat="section in sections">
        <div class="offers-container">

            <div ng-if="landing.canDisplayDataForLandingPages && $index == 0">
                <h2 class="landing-title" ng-if="!isNullOrEmpty(landing.SectionTitle)">
	                {{::landing.SectionTitle}}
                </h2>
                <p class="landing-title-sub" ng-if="!isNullOrEmpty(landing.SubSectionTitle)">
	                {{::landing.SubSectionTitle}}
                </p>

                <div class="landing-area">
                    <p class="offers-description" ng-if="!isNullOrEmpty(landing.TextIntro) && landing.RenderTextType == 1" ng-bind-html="landing.TextIntro"></p>
                    <div class="landing-cont">
                        <div class="landing-col left offers-description" ng-if="!isNullOrEmpty(landing.TextIntro) && landing.RenderTextType == 2" ng-bind-html="landing.columsTextIntro[0]">
                        </div>
                        <div class="landing-col right offers-description" ng-if="!isNullOrEmpty(landing.TextIntro) && landing.RenderTextType == 2" ng-bind-html="landing.columsTextIntro[1]">
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="landing-title" ng-if="!landing.canDisplayDataForLandingPages">
	            {{::section.Name}}
            </h2>
            <p class="offers-description" ng-if="!landing.canDisplayDataForLandingPages">
	            {{::section.Description}}
            </p>
            <div class="offers-list" ng-controller="OffersListCtrl">
                <ng:any ng-repeat="block in section.OfferLayouts track by $index">
                    <ng:include src="getTemplateUrlByBlockType(block.OfferLayoutType)">
                    </ng:include>
                </ng:any>
            </div>
        </div>
    </div>
</div>