<ng:include src="'components/bundle/templ/bundle-root.html'"
            ng-if="combination.hotel && combination.ticket"
            ng-show="!hotelToShowDetails"></ng:include>


<!-- List Panel hotels and tickets -->
<div class="results-body" ng-show="(!showLanding && !hotelToShowDetails && !asMap)">
    <div class="results-container results-container_list" ng-class="{'results-container__short':padding.value}"></div>
</div>

<ng:include src="'pages/dynamic/inc/ticket-details.html'"></ng:include>

<div ng-if="hotelToShowDetails"
     inna-hotel-details
     inna-hotel-details-hotel="hotelToShowDetails"
     inna-hotel-details-collection="hotels"
     inna-hotel-details-back="closeHotelDetails"
     inna-hotel-details-next="getHotelDetails"
     inna-hotel-details-bundle="combination"
     inna-hotel-detailes-reservation-fn="goReservation"
     inna-hotel-details-get-ticket-details="getTicketDetails"></div>


<div class="results-body" ng-if="hotels.list.length && asMap">
    <div dynamic-serp-map
        dynamic-serp-map-hotels="hotels"
        dynamic-serp-map-combination="combination"
        dynamic-serp-map-airports="airports"></div>
</div>