<div class="recommend-bundle" style="background-image: url(/spa/img/dp-background.jpg);margin-top:150px;">
    <div class="recommend-bundle-wrap">
        <h3 class="recommend-bundle-title">Выбранный пакет</h3>
        <a href="" class="expand-collapse-link"><span class="icon-collapse"></span> Свернуть</a>
        <div class="results-list_960">
            <div class="result">
                <div class="result-cell result-cell-390" ng-if="combination.AviaInfo">
                    <p class="corner-price">
                        {{combination.AviaInfo.data.Price}} <span class="b-rub">Р</span>
                        <span class="price-description">по отдельности</span>
                    </p>
                    <span class="rl-airline" ng-repeat="(code, name) in combination.AviaInfo.collectAirlines()">
                        <img ng-src="{{airLogo(code)}}" alt=""><span class="rl-airline-text">{{name}}</span>
                    </span>

                    <div class="flight-info">
                        <span class="date">
                            <b>{{dateHelper.getTime(combination.AviaInfo.data.DepartureDate)}} {{combination.AviaInfo.data.OutCode}}</b>
                            {{dateHelper.getDateShort(combination.AviaInfo.data.DepartureDate)}}, {{dateHelper.getDay(combination.AviaInfo.data.DepartureDate)}}
                        </span>
                        <p class="arrow">
                            в пути: {{combination.AviaInfo.getDuration('To')}}<br>
                            {{combination.AviaInfo.getEtaps('To').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"без пересадок"}}
                        </p>
                        <span class="date">
                            <b>{{dateHelper.getTime(combination.AviaInfo.data.ArrivalDate)}} {{combination.AviaInfo.data.InCode}}</b>
                            {{dateHelper.getDateShort(combination.AviaInfo.data.ArrivalDate)}}, {{dateHelper.getDay(combination.AviaInfo.data.ArrivalDate)}}
                        </span>
                    </div>

                    <div class="flight-info">
                        <span class="date">
                            <b>{{dateHelper.getTime(combination.AviaInfo.data.BackDepartureDate)}} {{combination.AviaInfo.data.InCode}}</b>
                            {{dateHelper.getDateShort(combination.AviaInfo.data.BackDepartureDate)}}, {{dateHelper.getDay(combination.AviaInfo.data.BackDepartureDate)}}
                        </span>
                        <p class="arrow">
                            в пути: {{combination.AviaInfo.getDuration('Back')}}<br>
                            {{combination.AviaInfo.getEtaps('Back').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"без пересадок"}}
                        </p>
                        <span class="date">
                            <b>{{dateHelper.getTime(combination.AviaInfo.data.BackArrivalDate)}} {{combination.AviaInfo.data.OutCode}}</b>
                            {{dateHelper.getDateShort(combination.AviaInfo.data.BackArrivalDate)}}, {{dateHelper.getDay(combination.AviaInfo.data.BackArrivalDate)}}
                        </span>
                    </div>

                    <div class="bottom-actions">
                        <a href="javascript:void(0);" class="pull-left" ng-class="{active: state.isActive(state.TICKETS_TAB)}" ng-click="state.switchTo(state.TICKETS_TAB)">Заменить</a>
                        <a href="javascript:void(0);" class="pull-right">Подробнее</a>
                    </div>
                </div><!--
                --><div class="result-cell-gap"><div class="result-cell-gap-wrap"></div></div><!--
                --><div class="result-cell result-cell-390" ng-if="combination.Hotel">
                    <p class="corner-price">
                        {{combination.Hotel.data.MinimalPrice}} <span class="b-rub">Р</span>
                        <span class="price-description">по отдельности</span>
                    </p>

                <div class="hotel-info">
                    <img ng-src="{{combination.Hotel.data.HotelPhoto}}" alt="">
                    <div class="hotel-info-content">
                        <div>
                            <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 0"></span>
                            <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 1"></span>
                            <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 2"></span>
                            <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 3"></span>
                            <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 4"></span>
                        </div>
                        <h3 class="hotel-info-name">{{combination.Hotel.data.HotelName}}</h3>
                        <div class="hotel-info-date">с 7 фев по 16 фев, 8 ночей</div>
                    </div>
                    <div class="hotel-info-tripadvisor" ng-if="combintaion.Hotel.data.TaFactor > 0">
                        <span class="icon icon-tripadvisor"></span>
                        <span class="icon icon-tripadvisor-like" ng-if="combintaion.Hotel.data.TaFactor > 0"></span>
                        <span class="icon icon-tripadvisor-like" ng-if="combintaion.Hotel.data.TaFactor > 1"></span>
                        <span class="icon icon-tripadvisor-like" ng-if="combintaion.Hotel.data.TaFactor > 2"></span>
                        <span class="icon icon-tripadvisor-like" ng-if="combintaion.Hotel.data.TaFactor > 3"></span>
                        <span class="icon icon-tripadvisor-like" ng-if="combintaion.Hotel.data.TaFactor > 4"></span>
                        1412 отзывов
                    </div>
                </div>

                <div class="bottom-actions">
                    <a href="javascript:void(0);"  ng-class="{active: state.isActive(state.HOTELS_TAB)}" ng-click="state.switchTo(state.HOTELS_TAB)" class="pull-left">Заменить</a>
                    <a href="javascript:void(0);" class="pull-right">Подробнее</a>
                </div>
            </div><!--
            --><div class="result-cell-gap"><div class="result-cell-gap-wrap"></div></div><!--
            --><div class="result-cell result-buy"
                    ng-if="combination.Hotel && combination.AviaInfo"
                    inna-with="
                        combination.Hotel.data.MinimalPrice as hMinPrice,
                        combination.AviaInfo.data.Price as aPrice,
                        hMinPrice + aPrice as sum,
                        combination.Hotel.data.MinimalPackagePrice + combination.AviaInfo.data.PackagePrice as pSum">
                <span class="icon icon-clip"></span>
                <p class="corner-price cross">
                    {{sum}} <span class="b-rub">Р</span>
                    <span class="price-description">по отдельности</span>
                </p>
                <p class="price">
                    {{pSum}} <span class="b-rub">Р</span>
                    <span class="icon icon-price-info"></span>
                </p>
                <div class="tooltip tooltip-price">
                    По отдельности
                    <ul>
                        <li class="list-price-item">Перелет <span class="list-price pull-right">{{hMinPrice}}<span class="b-rub">Р</span></span></li>
                        <li class="list-price-item">Отель <span class="list-price pull-right">{{aPrice}}<span class="b-rub">Р</span></span></li>
                    </ul>
                    <div class="list-price list-price-total">{{sum}}<span class="b-rub">Р</span></div>
                    <ul>
                        <li>В пакете: <span class="list-price green pull-right">{{pSum}}<span class="b-rub">Р</span></span></li>
                        <li>Экономия <span class="list-price green pull-right">{{sum - pSum}}<span class="b-rub">Р</span></span></li>
                    </ul>

                </div>
                <span class="price-description">по отдельности</span>
                <p></p>
                <button class="button" ng-click="goReservation()">Купить</button>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="results-body" ng-show="!showLanding">
    <div class="results-container">
        <ng:include src="state.display"></ng:include>
    </div>
</div>

<div ng-controller="DynamicPackageSERPTicketPopupCtrl">
    <div style="display:block;" class="overlay js-overlay" ng-if="ticket.data">
        <div class="balloon baloon_ticket baloon_2ticket">
            <div title="Закрыть" class="baloon-close" ng-click="closePopup()"></div>
            <h3 class="b-tickets__title">Подробная и информация по перелту</h3>
            <div class="rlf-oneway">
                <div class="b-ticket_2ways">
                    <div class="rlf-fly">
                        <span class="rlf-city">{{ticket.data.CityFrom}}</span> {{ticket.data.OutCode}}
                        <span class="rlf-fly-arrow"></span>
                        <span class="rlf-city">{{ticket.data.CityTo}}</span> {{ticket.data.InCode}}
                        <div class="rlf-full-travel-time">{{ticket.data.EtapsTo.length - 1 | asQuantity:"пересадка":"пересадки":"пересадок"}}, {{ticket.getDuration('To')}} в пути</div>
                    </div>
                    <div class="rlf-fly">
                        <span class="rlf-city">{{ticket.data.CityTo}}</span> {{ticket.data.InCode}}
                        <span class="rlf-fly-arrow"></span>
                        <span class="rlf-city">{{ticket.data.CityFrom}}</span> {{ticket.data.OutCode}}
                        <div class="rlf-full-travel-time">{{ticket.data.EtapsBack.length - 1 | asQuantity:"пересадка":"пересадки":"пересадок"}}, {{ticket.getDuration('Back')}} в пути</div>
                    </div>
                </div>
                <div class="b-ticket_2ways b-ticket_2ways-sep">
                    <div class="b-ticket_2ways-block" ng-repeat="dir in ['To', 'Back']">
                        <div ng-repeat="etap in ticket.getEtaps(dir)">
                            <div class="rlf-part">
                                <div class="rfl-column3">
                                    <div class="rlf-aviacompany">
                                        <img ng-src="{{airLogo(etap.data.TransporterCode)}}" alt="">
                                        {{etap.data.TransporterName}} <br>
                                        рейс {{etap.data.Number}} <br>
                                        {{etap.data.VehicleName}}
                                    </div>
                                </div>
                                <div class="b-tickets__container">
                                    <div class="b-tickets__block">
                                        <div class="rlf-column1">
                                            <div class="rlf-airport">{{etap.data.OutCityCode}}</div>
                                        </div>
                                        <div class="rlf-colum2">
                                            <div class="rlf-flight-info">
                                                <b>вылет {{dateHelper.getTime(etap.getDateTime('Out'))}}</b>, {{dateHelper.getDateShort(etap.getDateTime('Out'))}}, {{dateHelper.getDay(etap.getDateTime('Out'))}} <br>
                                                {{etap.data.OutCity}}, {{etap.data.OutPort}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rlf-travel-time">{{etap.getDuration()}}</div>
                                    <div class="b-tickets__block">
                                        <div class="rlf-column1">
                                            <div class="rlf-airport"><br>{{etap.data.InCityCode}}</div>
                                        </div>
                                        <div class="rlf-colum2">
                                            <div class="rlf-flight-info">
                                                <b>прилет {{dateHelper.getTime(etap.getDateTime('In'))}}</b>, {{dateHelper.getDateShort(etap.getDateTime('In'))}}, {{dateHelper.getDay(etap.getDateTime('In'))}} <br>
                                                {{etap.data.InCity}}, {{etap.data.InPort}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rlf-part rlf-part_transfer" ng-if="!$last">
                                <div class="rlf-column1">
                                    <div class="rlf-airport">Пересадка</div>
                                    <div class="rlf-travel-time">{{etap.getLegDuration()}}</div>
                                </div>
                                <div class="rlf-colum4">
                                    {{etap.data.InCity}}, {{etap.data.InPort}} ({{etap.data.InCityCode}}), {{etap.data.InCountryName}}
                                    <div class="rlf-transfer" ng-repeat="next in [ticket.getNextEtap(dir, etap)]">
                                        <span ng-if="next.data.OutPort != etap.data.InPort">Внимание: смена аэропорта!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-tickets__footer">
                <ul class="b-tickets__icons">
                    <li><a href="#" class="b-tickets__icons-link"></a></li>
                    <li><a href="#" class="b-tickets__icons-print"></a></li>
                    <li><a href="#" class="b-tickets__icons-share"></a></li>
                </ul>
                <div class="b-tickets__footer-inner">
                    <a class="rl-buy-button" href="javascrip:void(0);" ng-click="setCurrent()">Выбрать</a>
                </div>
            </div>
        </div>
    </div>
</div>