<div class="recommend-bundle-container"
     ng-controller="DynamicPackageSERPRecommendedBundleCtrl"
     ng-class="{'recommend-bundle-container_short':display.isCurrent(display.SHORT)}">
    <div class="recommend-bundle">

        <div class="recommend-bundle-background" style="background-image: url(/spa/img/dp-background.jpg);"></div>

        <div class="recommend-bundle-wrap" ng-class="{'recommend-bundle-wrap_small': display.isCurrent(display.SHORT)}" inna-with="combination.ticket as ticket">
            <h3 class="recommend-bundle-title" ng-if="display.isCurrent(display.FULL)">Выбранный пакет</h3>

            <a href="javascript:void(0);" ng-if="display.isCurrent(display.FULL)" ng-click="display.toggle()" class="expand-collapse-link">
                <span class="icon-collapse"></span> Свернуть
            </a>
            <a href="javascript:void(0);" ng-if="display.isCurrent(display.SHORT)" ng-click="display.toggle()" class="expand-collapse-link">
                <span class="icon-expand"></span> Развернуть
            </a>

            <div ng-if="display.isCurrent(display.FULL) && combination.hotel && combination.ticket"
                 inna-dynamic-bundle
                 inna-dynamic-bundle-bundle="combination"
                 inna-dynamic-bundle-state="state"
                 inna-dynamic-bundle-ticket-details="getTicketDetails"
                 inna-dynamic-bundle-hotel-details="getHotelDetails"></div>

            <div class="result-small" ng-if="display.isCurrent(display.SHORT)">
                <div class="result-cell result-cell-390">
                    <!--TODO which pictures to use?-->
                    <p class="flight">
                        <img src="/spa/img/airline-small.png" alt="">
                        <span class="white">{{ticket.data.OutCode}} – {{ticket.data.InCode}}, {{dateHelper.getDateShort(ticket.data.DepartureDate)}},</span>
                        в пути: {{ticket.getDuration('To')}}, {{ticket.getEtaps('To').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"прямой"}}
                    </p>
                    <p class="flight">
                        <img src="/spa/img/airline-small.png" alt="">
                        <span class="white">{{ticket.data.InCode}} – {{ticket.data.OutCode}}, {{dateHelper.getDateShort(ticket.data.BackDepartureDate)}},</span>
                        в пути: {{ticket.getDuration('Back')}}, {{ticket.getEtaps('Back').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"прямой"}}
                    </p>
                </div>
                <div class="result-cell result-cell-330">
                    <h3 class="hotel-info-name">
                        <span class="icon icon-star" ng-if="combination.hotel.data.Stars > 0"></span>
                        <span class="icon icon-star" ng-if="combination.hotel.data.Stars > 1"></span>
                        <span class="icon icon-star" ng-if="combination.hotel.data.Stars > 2"></span>
                        <span class="icon icon-star" ng-if="combination.hotel.data.Stars > 3"></span>
                        <span class="icon icon-star" ng-if="combination.hotel.data.Stars > 4"></span>
                        {{combination.hotel.data.HotelName}}
                    </h3>
                    <div class="hotel-info-date">с {{dateHelper.getDateShort(combination.hotel.data.CheckIn)}} по {{dateHelper.getDateShort(combination.hotel.data.CheckOut)}}, {{combination.hotel.data.NightCount | asQuantity:"ночь":"ночи":"ночей"}}</div>
                </div>
                <div class="result-cell">
                    <p class="corner-price">
                        {{combination.getFullPackagePrice()}} Р
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="filters__body">
        <!--<ng:include src="state.display + '__filters.html'"/>-->
        <ng:include src="'/spa/templates/pages/dynamic/inc/serp.hotels.map__filters.html'"/>
    </div>
</div>