<div class="results-container results-container_top"
     ng-class="{'results-container__short':padding.value}">
    <div class="results-list results-list_720">
        <div ng-repeat="ticket in ticketsToDisplay = (tickets.filter(ticketFilters) | filter:{hidden: false})"
             inna-ticket
             ng-if="combination.ticket.data.VariantId1 != ticket.data.VariantId1">

            <!-- TRANSCLUDE -->

            <p class="corner-price">
                {{virtualBundle.getFullPackagePrice() - combination.getFullPackagePrice() | signed}}
                <span class="b-rub">q</span>
            </p>

            <div class="price">
                {{virtualBundle.getFullPackagePrice() | price}}
                <span class="b-rub">q</span>

                <!-- tooltip price -->
                <div tool-tip-price item="virtualBundle" is-ticket="true"></div>

                <span class="price-description" ng-if="(virtualBundle.getFullPrice() - virtualBundle.getFullPackagePrice()) != 0">
                    экономия: {{(virtualBundle.getFullPrice() - virtualBundle.getFullPackagePrice()) | price}}
                    <span class="b-rub">q</span>
                </span>

            </div>
            <span class="button" ng-click="setTicket(ticket)">Выбрать</span>
        </div>

        <div ng-if="ticketsToDisplay.length == 0" class="results-list__empty results-list__empty_type_tickets">
            <p>Варианты не найдены.</p>
            <p>Попробуйте изменить условия поиска или настройки фильтров.</p>
        </div>
    </div>
</div>