<div class="big-map">
    <div id="big-map-canvas" class="b-hotels-on-map"></div>

    <div class="pin big-map__balloon ng-hide" ng-show="currentHotel">
        <div class="pin-balloon">

            <!-- компонент карусели -->
            <ng:include  ng-if="currentHotel" src="'components/carousel/map.html'"></ng:include>

            <div class="pin-balloon-info">
                <div>
                    <span class="icon icon-star" ng-if="currentHotel.data.Stars > 0"></span>
                    <span class="icon icon-star" ng-if="currentHotel.data.Stars > 1"></span>
                    <span class="icon icon-star" ng-if="currentHotel.data.Stars > 2"></span>
                    <span class="icon icon-star" ng-if="currentHotel.data.Stars > 3"></span>
                    <span class="icon icon-star" ng-if="currentHotel.data.Stars > 4"></span>
                </div>
                <h3 class="hotel-name">{{currentHotel.data.HotelName}}</h3>

                <!-- ROW -->
                <div class="row">
                    <div class="col-xs-7 col-no-padding hotel-info-tripadvisor" ng-if="currentHotel.data.TaFactor > 0">
                        <div>
                            <span class="icon icon-tripadvisor"></span>
                            <span class="icon icon-tripadvisor-like" ng-if="currentHotel.data.TaFactor > 0"></span>
                            <span class="icon icon-tripadvisor-like" ng-if="currentHotel.data.TaFactor > 1"></span>
                            <span class="icon icon-tripadvisor-like" ng-if="currentHotel.data.TaFactor > 2"></span>
                            <span class="icon icon-tripadvisor-like" ng-if="currentHotel.data.TaFactor > 3"></span>
                            <span class="icon icon-tripadvisor-like" ng-if="currentHotel.data.TaFactor > 4"></span>
                            <!--TODO 1412 отзывов-->
                        </div>


                        <div>
                            <a href="javascript:void(0);" ng-click="hotelDetails(currentHotel)" class="details-link">Подробнее</a>
                        </div>
                    </div>

                    <div class="pull-right col-no-padding hotel-info-price-container">
                        <span>цена пакета</span>

                        <h3 class="hotel-info-price">
                            {{currentHotel.data.PackagePrice}}
                            <span class="b-rub">Р</span>
                        </h3>

                        <button class="button"
                                ng-click="setHotel(currentHotel)">
                            Выбрать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Показываем при наведении на маркер -->
    <div class="pin big-map__balloon_preview ng-hide" ng-show="currentHotelPreview">
        <div class="pin-balloon">
            <div class="pin-balloon-info">
                <div>
                    <span class="icon icon-star" ng-if="currentHotelPreview.data.Stars > 0"></span>
                    <span class="icon icon-star" ng-if="currentHotelPreview.data.Stars > 1"></span>
                    <span class="icon icon-star" ng-if="currentHotelPreview.data.Stars > 2"></span>
                    <span class="icon icon-star" ng-if="currentHotelPreview.data.Stars > 3"></span>
                    <span class="icon icon-star" ng-if="currentHotelPreview.data.Stars > 4"></span>
                </div>
                <h3 class="hotel-name">{{currentHotelPreview.data.HotelName}}</h3>

                <!-- ROW -->
                <div class="row">
                    <div class="col-xs-7 col-no-padding hotel-info-tripadvisor"
                         ng-if="currentHotelPreview.data.TaFactor > 0">
                        <div>
                            <span class="icon icon-tripadvisor"></span>
                            <span class="icon icon-tripadvisor-like"
                                  ng-if="currentHotelPreview.data.TaFactor > 0"></span>
                            <span class="icon icon-tripadvisor-like"
                                  ng-if="currentHotelPreview.data.TaFactor > 1"></span>
                            <span class="icon icon-tripadvisor-like"
                                  ng-if="currentHotelPreview.data.TaFactor > 2"></span>
                            <span class="icon icon-tripadvisor-like"
                                  ng-if="currentHotelPreview.data.TaFactor > 3"></span>
                            <span class="icon icon-tripadvisor-like"
                                  ng-if="currentHotelPreview.data.TaFactor > 4"></span>
                            <!--TODO 1412 отзывов-->
                        </div>
                    </div>

                    <div class="pull-right col-no-padding hotel-info-price-container">
                        <span>цена пакета</span>

                        <h3 class="hotel-info-price">
                            {{currentHotelPreview.data.PackagePrice}}
                            <span class="b-rub">Р</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pin pin_mini big-map__balloon_air ng-hide" ng-show="airport">
        <div class="pin-balloon">
            <div class="row">
                <div class="col-xs-9 col-no-padding">{{airport.data.Name}}</div>
                <div class="col-xs-3 col-no-padding col-xs-push-1 color-gray">{{airport.data.CodeIata}}</div>
            </div>
        </div>
    </div>
</div>