<div class="results-container results-container_top"
     ng-if="!asMap && !hotelToShowDetails"
     ng-class="{'results-container__short':padding.value}">
    <div class="results-list results-list_720">

        <div ng-repeat="hotel in hotels.list | visibleOnly:padding.scrollTop"
             inna-hotel
             inna-hotel-hotel="hotel"
             inna-hotel-get-details="getHotelDetails"
             ng-if="combination.hotel.data.HotelId != hotel.data.HotelId">

            <!-- TRANSCLUDE -->

            <p class="corner-price">
                {{virtualBundle.getFullPackagePrice() - combination.getFullPackagePrice() | signed}}
                <!--<ng-include src="'components/ruble.html'" />-->
                <span class="b-rub">q</span>
            </p>

            <div class="price">
                {{virtualBundle.getFullPackagePrice() | price}}
                <!--<ng-include src="'components/ruble.html'" />-->
                <span class="b-rub">q</span>

                <ng:include src="'components/item-price-details.html'" ng-init="item = hotel"></ng:include>

                <span class="price-description">
                    экономия: {{(virtualBundle.getFullPrice() - virtualBundle.getFullPackagePrice()) | price}}
                    <!--<ng-include src="'components/ruble.html'" />-->
                    <span class="b-rub">q</span>
                </span>

            </div>
            <span class="button" ng-click="setCurrent()">Выбрать</span>
        </div>


    </div>
</div>

<div ng-if="hotels.list.length && asMap"
     dynamic-serp-map
     dynamic-serp-map-hotels="hotels"
     dynamic-serp-map-airports="airports"></div>