<div class="results-container results-container_top"
     ng-if="!asMap && !hotelToShowDetails"
     ng-class="{'results-container__short':padding.value}">
    <div class="results-list results-list_720">
        <div ng-repeat="hotel in hotelsToDisplay = (hotels.list | filter:{currentlyInvisible: false, hidden: false})"
             inna-hotel
             ng-if="combination.hotel.data.HotelId != hotel.data.HotelId">

            <!-- TRANSCLUDE -->

            <p class="corner-price">
                <span ng-bind="virtualBundle.getFullPackagePrice() - combination.getFullPackagePrice() | signed"></span>
                <span class="b-rub">q</span>
                <span class="icon-crown icon-sprite-crown" ng-if="hotel.data.IsPackage"></span>
            </p>

            <div class="price">
                {{virtualBundle.getFullPackagePrice() | price}}
                <span class="b-rub">q</span>

                <!-- tooltip price -->
                <div tool-tip-price item="virtualBundle" is-hotel="true"></div>

                <span class="price-description" ng-if="(virtualBundle.getFullPrice() - virtualBundle.getFullPackagePrice()) != 0">
                    экономия: {{(virtualBundle.getFullPrice() - virtualBundle.getFullPackagePrice()) | price}}
                    <span class="b-rub">q</span>
                </span>

            </div>
            <span class="button" ng-click="setCurrent()">Выбрать</span>
        </div>

        <div ng-if="hotels.list.length && !hotelsToDisplay.length" class="results-list__empty results-list__empty_type_hotels">
            <p>Варианты не найдены.</p>
            <p>Попробуйте изменить условия поиска или настройки фильтров.</p>
        </div>
    </div>
</div>

<div ng-if="hotels.list.length && asMap"
     dynamic-serp-map
     dynamic-serp-map-hotels="hotels"
     dynamic-serp-map-airports="airports"></div>