<div class="results-container results-container_top">
    <div class="results-list results-list_720">
        <div ng-repeat="ticket in tickets.filter(ticketFilters)"
             ng-if="!ticket.hidden"
             inna-ticket
             inna-ticket-ticket="ticket"
             inna-ticket-get-ticket-details="getTicketDetails(ticket)">

            <span class="icon icon-clip"></span>
            <p class="corner-price">
                {{combination.ticket.data.PackagePrice - ticket.data.PackagePrice | signed}}<span class="b-rub">Р</span>
            </p>
            <p class="price">
                {{ticket.data.Price}}<span class="b-rub">Р</span><span class="icon icon-price-info"></span>
                <span class="price-description">экономия: {{combination.getFullPrice() - combination.hotel.data.PackagePrice - ticket.data.PackagePrice}}<span class="b-rub">Р</span></span>
            </p>
            <button class="button" ng-click="setTicket(ticket)" ng-hide="combination.Ticket.data.VariantId1 == ticket.data.VariantId1">Выбрать</button>
        </div>
    </div>

    <div inna-dynamic-serp-filter-indicators
         inna-dynamic-serp-filter-indicators-filters="ticketFilters"
         inna-dynamic-serp-filter-indicators-items="tickets"></div>
</div>