<!DOCTYPE html>
<html xmlns:ng="https://angularjs.org" id="ng-app" ng-app="innaApp" ng-controller="RootCtrl">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name='yandex-verification' content='40fd92efcc007a47'/>
	<!--<meta name="viewport" content="initial-scale=1, user-scalable=yes">-->
	<meta name="viewport" content="width=980">
	<title ng-bind="title">Инна-Тур - Главная</title>

	<base href="/"/>

	{{> user_data}}

	{{> head}}

</head>
<body class="light-theme" ng-class="{'body-bg':isBodyBg(), 'search-form-expanded': FormExpand}"
      ng-click="bodyClick()" popup-form>

<!-- AB test -->
<!--
<div ng-controller="AbTestCtrl" style="opacity: 0;display: none">
	<link ng-if="abTestCssSrc" rel="stylesheet" ng-href="{{ abTestCssSrc }}"/>
</div>
-->

<!-- Компонент рекламы -->
<div adv-component></div>

<div id="main-content-div" class="main scroll-fix">
	{{> regions/header}}
	{{{body}}}
</div>

{{> regions/footer}}

<ng:include src="'popup/mainform.html'"></ng:include>

<!-- Baloon -->
<div baloon is-show="baloon.isVisible" caption="baloon.caption" text="baloon.text" type="baloon.type"
     close-fn="baloon.closeFn" data="baloon.data"></div>
<!-- /Baloon -->


{{> base_js}}
{{> google_yandex}}
</body>
</html>
