<!-- ЛОГОТИПЫ АВИАКОМПАНИЙ -->
{{#if toOrBack == "To"}}
	<!--{{#each ticketModel.collectAirlines().airlines}}-->
		<span class="result-cell__airlines">
            <img src="{{ticketModel.airLogo(ticketModel.collectAirlines().codeTo)}}" alt="" class="logo">
	        <span class="rl-airline-text">{{ticketModel.collectAirlines().nameToTransporter}}</span>
		</span>
	<!--{{/each}}-->
{{/if}}

{{#if toOrBack == "Back"}}
<!--{{#each ticketModel.collectAirlines().airlines}}-->
<span class="result-cell__airlines">
            <img src="{{ticketModel.airLogo(ticketModel.collectAirlines().codeBack)}}" alt="" class="logo">
	        <span class="rl-airline-text">{{ticketModel.collectAirlines().nameBackTransporter}}</span>
		</span>
<!--{{/each}}-->
{{/if}}

<!--{{#if ticketModel.collectAirlines().size > 3}}-->
	<!--<span class="rl-airline">-->
        <!--<img src="/spa/img/group.png" alt="">-->
        <!--<span class="rl-airline-text">Несколько авиакомпаний</span>-->
	<!--</span>-->
<!--{{/if}}-->