<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="innaApp" ng-controller="NavigationCtrl">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name='yandex-verification' content='40fd92efcc007a47' />
    <title ng-bind="title">Инна-Тур - Главная</title>

    <!--[if lt IE 9]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
 
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
        document.createElement('ng:any');
    </script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" />

    <!--<link rel="stylesheet" href="/spa/css/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" type="text/css" href="/spa/css/main.css" />-->

	<link rel="stylesheet" href="/spa/lib/jquery-ui/jquery-ui.1.11.2.min.css"/>
    <link rel="stylesheet" href="/spa/css/main.css" />
    <link rel="stylesheet" href="/spa/css/common.min.css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/spa/css/ie.min.css" />
    <![endif]-->

    <!--<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32173758-1', 'inna.ru');
      ga('send', 'pageview');

    </script>-->


<!-- start Mixpanel -->
<!--<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("532dac45f83fefdc36219557a5583d85");</script>-->
<!-- end Mixpanel -->


</head>
<body class="light-theme" ng-click="bodyClick()" popup-form>
    
	<div class="header Header">
        <div class="header-info">
            <div class="header-info-container">
                <a href="/" class="header-info-logo"><i class="icon icon-logo" alt="ИННА ТУР" title="ИННА ТУР"></i><i class="icon icon-logo-inna name" alt="ИННА ТУР" title="ИННА ТУР"></i></a><!--
                --><span class="header-text"></span><!--
                --><div class="header-info-container-right">
                    <ul class="header-info-menu" style="margin-right:0px;">
                        <li class="header-info-menu-item"><a href="http://www.inna.ru/agency/">Агентам</a></li><!--
                        --><li class="header-info-menu-item"><a href="/#/about/">О компании</a></li><!--
                        --><li class="header-info-menu-item">+7&nbsp;495 742-1212</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <ul class="header-menu-container-items"><!--
                --><li class="header-menu-item"><a href="/#/" ng-class="{active:isActive('/')}">Туры</a></li><!--
                --><li class="header-menu-item"><a href="/#/avia/" ng-class="{active:isActive('/avia/')}">Авиабилеты</a></li><!--
                --><li class="header-menu-item"><a onclick="track.gotoBooking();" href="http://www.booking.com/index.html?aid=373638&lang=ru" target="_blank" ng-class="{active:isActive('/hotels/')}">Отели</a></li><!--
                --><li class="header-menu-item"><a href="/#/individualtours/" ng-class="{active:isActive('/individualtours/')}">Программы</a></li><!--
                --><li class="header-menu-item"><a href="/#/packages/" ng-class="{active:isActive('/packages/')}">Билет + отель</a></li><!--
                --><!--<li class="header-menu-item"><a href="/#/autorent/" ng-class="{active:isActive('/autorent/')}">Аренда авто</a></li>--><!--
                --><!--<li class="header-menu-item"><a href="/#/insurance/" ng-class="{active:isActive('/insurance/')}">Страхование</a></li>--><!--
                --><!--<li class="header-menu-item"><a href="/#/cruise/" ng-class="{active:isActive('/cruise/')}">Круизы</a></li>-->
                <li class="header-menu-item header-login">
                    <a href="#" class="header-login-link" ng-click="headLoginBtnclick($event)"><i class="icon icon-user"></i>Регистрация и вход</a>
                </li>
            </ul>
        <ng:include src="getHeadForm()"></ng:include>
        </div>
	</div>
    
    <ng:include src="'/spa/templates/auth/form.html'"></ng:include>

    <ng:view></ng:view>

    <div class="footer">
    <div class="footer-content">
        <div class="footer-menu">
            <ul class="footer-menu-links-list">
                <li class="footer-menu-links-list-item"><a href="/#/about/">О компании</a></li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/corporate/">Корпоративным клиентам</a></li>
                <li class="footer-menu-links-list-item"><a href="/#/contacts/">Контакты</a></li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/agency/">Агентам</a></li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/catalog/guide/">Каталог стран</a></li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/client/abc/">Полезная информация</a></li>
            </ul>
            <div class="footer-menu-info">
                <ul class="social-list">
                    <li class="social-list-item">
                        <a href="https://vk.com/inna_tur_ru" target="_blank"><i class="icon icon-vkontakte"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="http://odnoklassniki.ru/innatour" target="_blank"><i class="icon icon-odnoklassniki"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="https://www.facebook.com/INNATOURCOMPANY" target="_blank"><i class="icon icon-facebook"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="https://twitter.com/inna_tour" target="_blank"><i class="icon icon-twitter"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="http://www.pinterest.com/innatour/" target="_blank"><i class="icon icon-pinterest"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="http://www.youtube.com/user/InnaTourMos/featured" target="_blank"><i class="icon icon-youtube"></i></a>
                    </li>
                </ul>
                <p class="phone-info">многоканальный телефон</p>
                <p class="phone">+7&nbsp;495 742-1212</p>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="info info-left">ИННА ТУР (INNA TOUR) — многопрофильный туроператор, оказывающий полный комплекс туристических услуг.
                Туры в Великобританию, Францию, Италию, Швейцарию, Барбадос, Вьетнам, Доминикану, Индонезию, Камбоджу,
                Кубу, Мексику, Тайланд, Филиппины, Ямайку, ОАЭ и др. - всего более 40 направлений по всему миру.
            </p>
            <p class="info">
                &copy;&nbsp;1992&ndash;2014 &laquo;ИННА ТУР&raquo;, все права защищены.<br>
                <span class="licence">Реестр туроператоров <a href="http://reestr.russiatourism.ru/?ac=view&id_reestr=8893" target="_blank">МТ3 008557</a></span>
            </p>
        </div>
    </div>
</div>

<ng:include src="'/popup/mainform.html'"></ng:include>

    
<!--<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>-->
<script src="http://yandex.st/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>

	<script src="/spa/lib/jquery-ui/jquery-ui.1.11.2.min.js"></script>
<script src="/spa/js/jquery.ui.datepicker-ru.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFfw0SZX3LR9RKjnb05jqLS79kfBQ8kzc&sensor=false"></script>-->
<!--<script type="text/javascript" src="/spa/js/google.maps.clustering.js"></script>-->



<!--[if lt IE 10]>
    <script src="/spa/js/ie.placeholder.js"></script>
<![endif]-->
<!--<script src="/spa/html/js/search_form.js"></script>-->


<!--[if lt IE 10]>
<script src="spa/lib/xdomain.min.js"></script>
<script>
    xdomain.slaves({
        "http://api.test.inna.ru": "/proxy.html",
        "http://api.inna.ru": "/proxy.html"
    });
</script>
<![endif]-->

<!--contacts-->
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>

<!-- build:app-main-js -->  <!--файлы заменяются при билде на app-main.js-->
<script src="/spa/js/debug.js"></script>

<script src="/spa/js/helpers/urlhelper.js"></script>
<script src="/spa/js/helpers/date.helper.js"></script>
<script src="/spa/js/helpers/string.helper.js"></script>
<script src="/spa/js/helpers/collections.helper.js"></script>
<script src="/spa/js/helpers/api.stub.js"></script>
<script src="/spa/js/helpers/cache_keys.js"></script>

<script src="/spa/js/tracking.js"></script>
<script src="/spa/js/datepicker.js"></script>
<script src="/spa/js/app.js"></script>

<script src="/spa/js/helpers/url.helper.js"></script>
<script src="/spa/js/helpers/api.js"></script>
<script src="/spa/js/filters.js"></script>
<script src="/spa/js/services/services.js"></script>
<script src="/spa/js/services/service.data.js"></script>
<script src="/spa/js/services/service.page.js"></script>
<script src="/spa/js/services/service.validator.js"></script>
<script src="/spa/js/services/service.dynamic.packages.data.provider.js"></script>
<script src="/spa/js/services/service.dynamic.packages.cache.js"></script>
<script src="/spa/js/services/service.dynamic.packages.form_submit_listener.listener.js"></script>
<script src="/spa/js/services/service.auth.data.provider.js"></script>
<script src="/spa/js/services/service.events.helper.js"></script>
<script src="/spa/js/services/service.payment.js"></script>
<script src="/spa/js/services/service.avia.helper.js"></script>
<script src="/spa/js/controllers/controller.auth/auth.js"></script>
<script src="/spa/js/controllers/controller.auth/signup.js"></script>
<script src="/spa/js/controllers/controller.auth/signin.js"></script>
<script src="/spa/js/controllers/controller.auth/restore.js"></script>
<script src="/spa/js/controllers/controller.about.js"></script>
<script src="/spa/js/controllers/avia/controller.avia.reserve.tickets.js"></script>
<script src="/spa/js/controllers/avia/controller.avia.buy.tickets.js"></script>
<script src="/spa/js/controllers/avia/controller.avia.form.js"></script>
<script src="/spa/js/controllers/avia/controller.avia.search.main.js"></script>
<script src="/spa/js/controllers/avia/controller.avia.search.results.js"></script>
<script src="/spa/js/controllers/controller.contacts.js"></script>
<script src="/spa/js/controllers/hotels/controller.hotel.js"></script>
<script src="/spa/js/controllers/hotels/controller.hotels.js"></script>
<script src="/spa/js/controllers/hotels/controller.hotel_plus_ticket.js"></script>
<script src="/spa/js/controllers/controller.individualtours.js"></script>
<script src="/spa/js/controllers/controller.individualtourscategory.js"></script>
<script src="/spa/js/controllers/controller.main.js"></script>
<script src="/spa/js/controllers/controller.navigation.js"></script>
<script src="/spa/js/controllers/controller.offers.list.js"></script>
<script src="/spa/js/controllers/search/controller.search.main.js"></script>
<script src="/spa/js/controllers/search/controller.search.result.js"></script>
<script src="/spa/js/controllers/controller.slider.js"></script>
<script src="/spa/js/controllers/tours/controller.tour.js"></script>
<script src="/spa/js/controllers/tours/controller.tours.form.js"></script>
<script src="/spa/js/controllers/tours/controller.tours.js"></script>
<script src="/spa/js/controllers/controller.dynamic/form.js"></script>
<script src="/spa/js/controllers/controller.dynamic/morda.js"></script>
<script src="/spa/js/controllers/controller.dynamic/serp.js"></script>
<script src="/spa/js/controllers/controller.dynamic/serp.filter-indicator.js"></script>
<script src="/spa/js/controllers/controllers.js"></script>
<script src="/spa/js/directives/directive.combobox.js"></script>
<script src="/spa/js/directives/directive.datepicker.2months.js"></script>
<script src="/spa/js/directives/directive.datepicker.custom.js"></script>
<script src="/spa/js/directives/directive.jq.ui.slider.js"></script>
<script src="/spa/js/directives/directive.map.js"></script>
<script src="/spa/js/directives/directive.popup.form.js"></script>
<script src="/spa/js/directives/directives.js"></script>
<script src="/spa/js/directives/directive.select.component.js"></script>
<script src="/spa/js/directives/directive.autocomplete.component.js"></script>
<script src="/spa/js/directives/directive.date_picker_widget.component.js"></script>
<script src="/spa/js/directives/directive.counter_people.component.js"></script>
<script src="/spa/js/directives/directive.trip_preferences.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.filter/category.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.filter/price.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.filter/name.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.filter/extra.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.filter/avia.legs.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.filter/avia.price.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.filter/avia.time.component.js"></script>
<script src="/spa/js/directives/directive.dynamic.serp.map.component.js"></script>
<script src="/spa/js/directives/directive.partial.select.js"></script>
<script src="/spa/js/directives/directive.inna-ticket.component.js"></script>
<script src="/spa/js/models/app.model.avia.js"></script>
<script src="/spa/js/models/app.model.js"></script>
<script src="/spa/js/models/app.model.to.api.model.js"></script>
<script src="/spa/js/models/app.model.tours.js"></script>
<script src="/spa/js/models/app.model.dynamic.js"></script>
<!-- endbuild -->


<script type="text/ng-template" id="/grid/_item_inner.html">
<img ng-src="{{item.Image}}" class="offer-img" alt=""/>
<div class="darken-container"></div>
<div class="offer-info" ng-if="!showImgOnly(item)">
    <div class="offer-info-container">
        <h3 class="offer-title" ng-if="!isNullOrEmpty(item.FrontTitleRow1)">{{item.FrontTitleRow1}}</h3>
        <h3 class="offer-title" ng-if="!isNullOrEmpty(item.FrontTitleRow2)">{{item.FrontTitleRow2}}</h3>
        <p class="offer-date" ng-if="!isNullOrEmpty(item.FrontSubTitleRow1)">{{item.FrontSubTitleRow1}}</p>
        <p class="offer-date" ng-if="!isNullOrEmpty(item.FrontSubTitleRow2)">{{item.FrontSubTitleRow2}}</p>
        <p class="offer-price" ng-if="!isNullOrEmpty(item.FrontPrice)">
            от <span class="offer-price-number">{{item.FrontPrice}}-</span>
        </p>
    </div>
</div>
<div class="offer-info-hover" ng-if="!showImgOnly(item)" >
    <div class="offer-info-container">
        <h3 class="offer-title" ng-if="!isNullOrEmpty(item.BackTitleRow1)">{{item.BackTitleRow1}}</h3>
        <h3 class="offer-title" ng-if="!isNullOrEmpty(item.BackTitleRow2)">{{item.BackTitleRow2}}</h3>
        <p class="offer-date" ng-if="!isNullOrEmpty(item.BackSubTitleRow1)">{{item.BackSubTitleRow1}}</p>
        <p class="offer-date" ng-if="!isNullOrEmpty(item.BackSubTitleRow2)">{{item.BackSubTitleRow2}}</p>
        <p class="offer-price" ng-if="!isNullOrEmpty(item.BackPrice)">
            от <span class="offer-price-number">{{item.BackPrice}}-</span>
        </p>
    </div>
</div>
</script>

<script type="text/ng-template" id="/grid/item_2M.html">
<div class="offer-middle" ng-class="{'offer-animation':!showImgOnly(block.Offer1)}" ng-click="offerClick(block.Offer1, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer1] track by $index"></ng:include>
</div>
<div class="offer-middle" ng-class="{'offer-animation':!showImgOnly(block.Offer2)}" ng-click="offerClick(block.Offer2, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer2] track by $index"></ng:include>
</div>
</script>

<script type="text/ng-template" id="/grid/item_2SL.html">
<div class="offers-column">
    <div class="offer-small" ng-class="{'offer-animation':!showImgOnly(block.Offer1)}" ng-click="offerClick(block.Offer1, $event, $index, block, section)">
        <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer1] track by $index"></ng:include>
    </div>
    <div class="offer-small" ng-class="{'offer-animation':!showImgOnly(block.Offer2)}" ng-click="offerClick(block.Offer2, $event, $index, block, section)">
        <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer2] track by $index"></ng:include>
    </div>
</div>
<div class="offer-large" ng-class="{'offer-animation':!showImgOnly(block.Offer3)}" ng-click="offerClick(block.Offer3, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer3] track by $index"></ng:include>
</div>
</script>

<script type="text/ng-template" id="/grid/item_L2S.html">
<div class="offer-large" ng-class="{'offer-animation':!showImgOnly(block.Offer1)}" ng-click="offerClick(block.Offer1, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer1] track by $index"></ng:include>
</div>
<div class="offers-column">
    <div class="offer-small" ng-class="{'offer-animation':!showImgOnly(block.Offer2)}" ng-click="offerClick(block.Offer2, $event, $index, block, section)">
        <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer2] track by $index"></ng:include>
    </div>
    <div class="offer-small" ng-class="{'offer-animation':!showImgOnly(block.Offer3)}" ng-click="offerClick(block.Offer3, $event, $index, block, section)">
        <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer3] track by $index"></ng:include>
    </div>
</div>
</script>

<script type="text/ng-template" id="/grid/item_L3L3L3.html">
<div class="offer-small" ng-class="{'offer-animation':!showImgOnly(block.Offer1)}" ng-click="offerClick(block.Offer1, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer1] track by $index"></ng:include>
</div>
<div class="offer-small" ng-class="{'offer-animation':!showImgOnly(block.Offer2)}" ng-click="offerClick(block.Offer2, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer2] track by $index"></ng:include>
</div>
<div class="offer-small" ng-class="{'offer-animation':!showImgOnly(block.Offer3)}" ng-click="offerClick(block.Offer3, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer3] track by $index"></ng:include>
</div>
</script>

<script type="text/ng-template" id="/grid/item_XL.html">
<div class="offer-extra-large" ng-class="{'offer-animation':!showImgOnly(block.Offer1)}" ng-click="offerClick(block.Offer1, $event, $index, block, section)">
    <ng:include src="'/grid/_item_inner.html'" ng-repeat="item in [block.Offer1] track by $index"></ng:include>
</div>
</script>

<script type="text/ng-template" id="/popup/mainform.html">
<div class="popup-fade" ng-show="isOpened"></div>
<div class="popup-container" ng-show="isOpened">
    <div class="popup">
        <div class="popup-close-button" ng-click="popupForm_Close()"></div>
        <form class="offer-order-form">
            <legend class="form-header">Оставьте вашу заявку</legend>
            <div class="field-row">
                <input class="field" type="text" ng-model="request.name" placeholder="Имя"/>
            </div>
            <div class="field-row">
                <input class="field" ng-class="{error:!request.isValid}" type="text" ng-model="request.phone" placeholder="Мобильный телефон"/>
                <span class="field-error" ng-show="!request.isValid">Необходимо ввести мобильный телефон</span>
            </div>
            <div class="field-row">
                <input class="field" type="text" ng-model="request.email" placeholder="Email"/>
            </div>
            <div class="field-row">
                <textarea name="" class="field-text" ng-model="request.comments">
                {{request.comments | breakFilter}}
                </textarea>
            </div>
            <div class="description offer-description" ng-click="request.subscribeClick()" ng-show="request.type == requestType.main">
				<span class="checkbox" ng-class="{checked:request.isSubscribe}"></span><label class="checkbox-label">Я люблю путешествовать и хочу получать рассылку с самыми выгодными и интересными предложениями</label>
			</div>
            <!--<div class="description offer-description" ng-show="request.type == requestType.cat_it">Отвечаем в течение 24 часов</div>-->
            <button type="submit" class="button offer-submit" ng-click="request.send()">Отправить</button>
        </form>
    </div>
</div>
</script>



<!-- Yandex.Metrika counter -->
<!--<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter5467552 = new Ya.Metrika({id:5467552,
                    clickmap:true,
                    trackLinks:true});
        }
        catch(e) { }
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/5467552" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
<!-- /Yandex.Metrika counter -->
<!-- Yandex.Metrika counter -->
<!--<div style="display:none;"><script type="text/javascript">
                               (function (w, c) {
                                   (w[c] = w[c] || []).push(function () {
                                       try {
                                           w.yaCounter12702715 = new Ya.Metrika({ id: 12702715, enableAll: true, webvisor: true });
                                       }
                                       catch (e) { }
                                   });
                               })(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/12702715" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
<!-- /Yandex.Metrika counter -->

<div class="popup-fade"></div>
<div class="popup-container">
    <div class="popup">
        <div class="popup-close-button"></div>
        <form class="popup-form auth-form">
            <h3 class="popup-form-title">Войти</h3>
            <div class="popup-form-row">
                <label for="" class="popup-form-label">Логин</label>
                <input type="text" class="popup-form-field"/>
            </div>
            <div class="popup-form-row">
                <label for="" class="popup-form-label">
                    Пароль
                    <a href="" class="forgot-password">Забыли пароль?</a>
                </label>
                <input type="password" class="popup-form-field"/>
            </div>
            <div class="popup-form-row popup-form-row-submit popup-form-row-submit">
                <div class="remember-me">
                    <span class="checkbox"></span><label class="checkbox-label">Запомнить меня</label>
                </div>
                <button type="submit" class="button">Войти</button>
            </div>
            <div class="popup-form-row popup-form-row-submit popup-form-row-social-buttons">
                <a href="" class="social-button social-button-fb"></a>
                <a href="" class="social-button social-button-google"></a>
                <a href="" class="social-button social-button-vk"></a>
                <a href="" class="social-button social-button-twitter"></a>
                <a href="" class="social-button social-button-odnoklassniki"></a>
                <label class="popup-form-label">Войти через соц. сети</label>
            </div>
        </form><!--
        --><form class="popup-form reg-form">
            <h3 class="popup-form-title">Регистрация</h3>
            <div class="popup-form-row">
                <label for="" class="popup-form-label">Логин</label>
                <input type="text" class="popup-form-field" />
            </div>
            <div class="popup-form-row">
                <label for="" class="popup-form-label">Пароль</label>
                <input type="password" class="popup-form-field" />
            </div>
            <div class="popup-form-row">
                <label for="" class="popup-form-label">Пароль еще раз</label>
                <input type="password" class="popup-form-field" />
            </div>
            <div class="popup-form-row popup-form-row-submit">
                <button type="submit" class="button">Отправить</button>
                <label class="popup-form-label">Отправить регистрационное письмо</label>
            </div>
        </form>
    </div>
</div>

</body>
</html>
