// Filters

//b-filter-panel
.filters__body{
    //min-height 41px
    height 40px
    position relative;
    
    &.filters__body_dp{
        position: absolute;
        left: 50%;
        margin-left: -($site-width / 2);
        bottom: -41px;
    }
    
    &.b-filter-panel{
        .filters__baloon{
            display: none;
        }
    }
    
    .filters__baloon{
        position absolute
        left 0
        background #fff
        z-index 1000
        width 290px
        //box-shadow 0 3px 5px rgba(0, 0, 0, .3)
        padding 3px 0
        color #666
        box-shadow: 0 5px 10px rgba(50, 50, 50, 0.25)
        margin-top: 3px;
        
        &.filters__baloon_show{
            display: block;
        }
        
        &.filters__baloon_avia-baloon{
            width: 350px;
            margin-top: 0px;
            right: 0;
            left: auto;
            z-index: 101;
            box-shadow: none;
            color: #0054b9;
        }
    }
    
    .filters__baloon__item{
        padding-bottom: 10px;
        border-bottom: 1px solid #c0c0c2;
        
        &:last-child{
            border-bottom: 0 none;
        }
    }
    .filters__baloon_240{
        width 240px
    }
    
    .filters__baloon-radio{
        margin 0 12px 5px
        clearfix()
        
        input{
            display none
            
            &:checked + .ra-radio{
                background #89c13a
                color #fff
            }
        }
    }
    
    .filters__baloon-days{
        margin 0 12px
        clearfix()
        
        .ra-fly-type-list{
            float left
            overflow hidden
            width 108px
        }
        .ra-fly-type-list_style_full-width{
            width auto
            
            .ra-fly-type-list__item{
                width 50%
                float left
                color: #666;
            }
        }
    }
    
    .filters__container{
        clearfix()
        //background: #fff;
        //background-color #f9c623
        background-color #ffffff
        //min-height: 41px;
        height 40px
        //box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        //border-top 1px solid #DDE3E9
        border-bottom 1px solid #DDE3E9
        box-sizing border-box

        > li
        li.filter{
            float left
            position relative
            margin 0
            
            &_position_last{
                margin-right 0
            }
        }
        
        .filters__sort{
            float right
            margin 0
            position: relative;
            white-space nowrap
            
            a{
                //color #666
                color #0054b9
            }
            
            .filters__baloon{
                left auto
                right 0;
            }
        }
    }
    
    .filters__link{
        transition all .3s
        display block
        //padding 14px 30px 13px 8px
        padding 11px 30px 12px 8px
        //color #000000
        color #0054B9
        font-size 14px
        line-height 1
        position relative
        cursor: pointer;
        
        //&:before{
        //    content ''
        //    display block
        //    position absolute
        //    right 17px
        //    //top 19px
        //    top 17px
        //    width 12px
        //    height 12px
        //    background url("/spa/img/i.png") no-repeat right -195px
        //    opacity .65
        //}
        
        &:hover{
            //background-color #e6e7e9
            text-decoration none
            //color #1a1a1a
        }
    }
    .filters__link_selected{
        //color #fff
        font-weight: bold;
    }
    
    &.filters__body_avia{
        .filters__baloon-radio{
            li{
                float left
                border-left 1px solid #fff
                
                &:first-child{
                    border 0
                    
                    .ra-radio{
                        border-radius 3px 0 0 3px
                    }
                }
                
                &:last-child .ra-radio{
                    border-radius 0 3px 3px 0
                }
            }
            label{
                display block
                width 107px
            }
        }
    }
}
.filters__body_position_fixed{
    //фикс бага с перерисовкой в хроме
    -webkit-transform: translate3d(0, 0, 0);
    position fixed
    top $padding_over_search
    bottom: auto;
    left 50%
    margin-left -480px
    z-index 102
}
.ra-radio{
    text-align: center;
    font-size: 14px;
    background: #e6e7e9;
    padding: 6px 0;
    cursor: pointer;
    display: block;
}
.ra-fly-type-list{
    padding: 4px 0 0 0
    color: #0054b9
    //margin: 0px -68px 0 0;
    max-height 294px
    overflow-y: auto
    position relative
}
.ra-fly-type-list.b-display-block {
    margin 0;
}
.ra-fly-type-list-container{
    position relative
    
    &:before{
        content ''
        display block
        position absolute
        left 0
        right 0
        top 0
        height 10px
        background linear-gradient(to bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%)
        z-index 5
    }
    
    &:after{
        content ''
        display block
        position absolute
        left 0
        right 0
        bottom 0
        height 10px
        background linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%)
        z-index 5
    }
}
.ra-fly-type-list li{
    clearfix()
    font-size 14px
    padding 6px 0
    //position relative
}
.ra-fly-type-list input{
    display none
}
.ra-fly-type{
    float left
    max-width 200px
    color: #666;
}
.ra-checkbox{
    width 15px
    height 15px
    background #fff
    border 2px solid #89c13a
    //border 2px solid #0054b9
    float left
    border-radius 3px
    margin -2px 10px 0 0
}
.ra-fly-type-list input:checked + .ra-checkbox{
    background url(/spa/img/i.png) no-repeat 2px -590px #89c13a
}
.ra-fly-price{
    float right
    color #666
    right: 0px;
    position: absolute;
}
.rl-filter{
    float right
    position relative
}
.rl-filter-current{
    cursor pointer
    background url(/spa/img/i.png) no-repeat right 12px top -176px
    padding 12px 34px 12px 12px
}
.rl-filter-menu{
    position absolute
    right 0
    background #fff
    list-style none
    box-shadow: 0 8px 8px rgba(0, 0, 0, .4)
    padding 0 0 5px
    z-index 1
}
.rl-filter-menu li{
    text-align right
    padding 6px 34px 6px 12px
    min-width 140px
    cursor pointer
}
.rl-filter-menu li:hover{
    background #eee
}li .current {
     font-weight: bold;
 }
