.filter_price {

  .ui-slider {
    height: 4px;
    background: #d0d0d0;
  }

  .ui-slider .ui-slider-handle {
    background url(/spa/img/i.png) no-repeat 0 -639px
    width 15px !important
    height 22px !important
    top -8px
    transform rotate(180deg)
    outline none
  }

  .ui-slider-horizontal .ui-slider-handle {
    margin-left -7px
  }

  .ui-slider-range {
    background #89c13a !important
  }

  &__range {
    height: 20px;
    padding-top: 14px;
    font-size: 14px;
    color: #666666;
  }
}

.filter__range-container {
  clearfix()
  padding 14px 12px 21px

  .ra-header-link {
    margin-top 5px
  }
}

.filter__range {
  float left
  font-size 14px
  color #1a1a1a

  input {
    border 1px solid #c0c0c2
    border-radius 3px
    width 90px
    box-sizing border-box
    margin 0 5px
    padding 5px 7px

    &:focus {
      border-color #89c13a
    }

    &.b-filters__name {
      width: 140px;
    }
  }
}

.filter__range-trackbar {
  position relative
  margin 0 12px 30px
}