<div class="b-switch-filters results-aside_mod results-aside_mod_horizontal {{ mod_wrapper ?
'b-switch-filters_mod-wrapper' : ''}}">

    <div class="ra-tags-container">
        <div class="b-switch-filters_buttons">

            <div class="b-switch-dynamic-serp-display
                        {{ mod_wrapper ? 'b-switch-dynamic-serp-display_state_map' : ''}}"
                 on-click="action">

				{{#if !mod_wrapper}}
                    <div class="b-switch-dynamic-serp-display__title">
                        <span class="b-switch-dynamic-serp-display__title-icon icon-sprite-switch-map2"></span>
                        Посмотреть на карте
                    </div>
				{{else}}
                    <div class="b-switch-dynamic-serp-display__title">
                        <span class="b-switch-dynamic-serp-display__title-icon icon-sprite-switch-list2"></span>
                        Вернуться к списку
                    </div>
				{{/if}}
            </div>
        </div>

        <div class="b-switch-filters__result">

			{{#each filters}}
                <ul class="b-switch-filters__list ra-tags-list">

					{{#each filter.options}}
						{{#if option.selected}}
                            <li class="b-switch-filters__item">
                                <span>{{option.describe}}</span>

                                <a class="b-switch-filters__item_close icon-sprite-remove"
                                   href="javascript:void(0);"
                                   on-click="delete"></a>
                            </li>
						{{/if}}
					{{/each}}
                </ul>
			{{/each}}

			{{#if atLeastOne}}
                <a ng-click="reset()" href="javascript:void(0);" class="ra-tags-reset">Сбросить все фильтры</a>
			{{/if}}
        </div>
    </div>
</div>