<!DOCTYPE html>
<html xmlns:ng="https://angularjs.org" id="ng-app" ng-app="innaApp" ng-controller="RootCtrl">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name='yandex-verification' content='40fd92efcc007a47' />
    <!--<meta name="viewport" content="initial-scale=1, user-scalable=yes">-->
    <meta name="viewport" content="width=980">
    <title ng-bind="title">Инна-Тур - Главная</title>

    <!--[if lt IE 9]>
    <script>
        window.console = window.console || {};
        window.console.log = window.console.log || function() {};
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
        document.createElement('ng:any');
    </script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/spa/lib/jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.min.css" />

    <!-- build:app-less -->
    <link rel="stylesheet" href="/build/css/main.less.css" />
    <!-- endbuild -->

    <!-- build:app-stylus -->
    <link rel="stylesheet" href="/build/css/common.min.css" />
    <!-- endbuild -->

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/build/css/ie.min.css" />
    <![endif]-->

    <script src="/spa/lib/if-browser.js"></script>
    <script>
        var old = ifBrowser();

        if(old.bName) {
            var oldV = old.bNameV.split('.');
            if (oldV[0] == 'ie' && oldV[1] <= 9) {
                location.href = '/spa/browser.html'
            }
        }
    </script>

    <!--<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32173758-1', 'inna.ru');
      ga('send', 'pageview');

    </script>-->


<!-- start Mixpanel -->
<!--<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("532dac45f83fefdc36219557a5583d85");</script>-->
<!-- end Mixpanel -->

<style type="text/css">
    .no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .ui-tooltip { background-color: #de0000; z-index: 10; }
    .ui-tooltip:before { border-color: transparent transparent #de0000 transparent; }
    .b-wrapp_type_inline .search-date, .b-wrapp_type_inline .search-field; { height: 48px; }
	.datepickerMonths, .datepickerYears{display:none;}
	.datepickerNotInMonth{height:1px;}
	.datepickerNotInMonth *{display:none !important;}
	.calendar{vertical-align:top;}
	.calendar-0 .datepickerGoNext *, .calendar-1 .datepickerGoPrev *{display:none;}
	.datepicker-body {left: -18%;top: 48px;}
    .dp-head-cont {
        border-top: 1px solid #c0c0c2;
        background-color: #fff;
        margin: 0px 0px -1px 0;
        padding: 10px 0px 0 0;
        -webkit-box-shadow: 0 5px 10px rgba(50,50,50,.25);
        box-shadow: 0 5px 10px rgba(50,50,50,.25);
    }
</style>

<script type="text/javascript">
    var app_main = {};
	//<!-- build:app-host -->
	app_main.host = 'https://apibeta.inna.ru';
	//<!-- endbuild -->

	//<!-- build:b2b-host -->
	app_main.b2bHost = 'https://b2bbeta.inna.ru';
	//<!-- endbuild -->

	//<!-- build:front-host -->
	app_main.frontHost = 'https://beta.inna.ru';
	//<!-- endbuild -->
	
	//<!-- build:static-host -->
	app_main.staticHost = 'https://sbeta.inna.ru';
	//<!-- endbuild -->

    //<!-- build:tripadvisor -->
    app_main.tripadvisor = 'http://www.tripadvisor.ru/WidgetEmbed-cdspropertydetail?display=true&partnerId=32CB556934404C699237CD7F267CF5CE&lang=ru&locationId=';
    //<!-- endbuild -->

    app_main.version = '12';
    app_main.constants = {};
    app_main.constants.offersCategoriesProgramm = '1';

    var addTourUrlEf = app_main.host + '/api/v1/Dictionary';

    var getHotelsUrl = app_main.host + '/api/v1/Dictionary';

    var getCityUrl = app_main.host + '/api/v1/Dictionary/City/Get';
    var getDirectoryUrl = app_main.host + '/api/v1/Dictionary/Directory/Get';
    var getRegionUrl = app_main.host + '/api/v1/Dictionary/Region/Get';

    var getSletatUrl = app_main.host + '/api/v1/Dictionary/Sletat/Get';
    var getSletatCityUrl = app_main.host + '/api/v1/Dictionary/SletatCity/Get';
    var getSletatByIdUrl = app_main.host + '/api/v1/Dictionary/SletatById/Get';

    var getLocationByUrls = app_main.host + '/Dictionary/LocationByUrl';

    var beginSearchUrl = app_main.host + '/api/v1/Search/BeginSearch/Get';
    var checkSearchUrl = app_main.host + '/api/v1/Search/CheckSearch/Get';

    var hotelDetailUrl = app_main.host + '/HotelDetail/GetPage';

    var tourDetailUrl = app_main.host + '/TourDetail/GetPage';

    var getOrderUrl = app_main.host + '/Order';

    var paymentPageUrl = app_main.host + '/Payment';

    var payUrl = app_main.host + '/Payment/Pay';

    var deleteSearchHistoryUrl = app_main.host + '/api/v1/Search/DeleteHistory/Get';
</script>

</head>
<body class="light-theme" ng-class="{'body-bg':isActive('/avia/') || isActive('/packages/reservation/')}" ng-click="bodyClick()" popup-form>

    <div class="main">
        <!-- HEADER -->
        <header region-header></header>

        <div class="button fixed-request-button ng-hide" ng-click="popupForm_Show()"
             ng-show="!isActive('/individualtours/category/')
             && !isActive('/packages/search/')
             && !isActive('/packages/')
             && !isActive('/avia/')
             && !isActive('/')
             && !isActive('/avia/search/')"
             title="Отправить заявку"></div>

        <!-- PAGE CONTENT -->
        <div class="wrpr">
            <ng:view></ng:view>
        </div>

    </div>
    <!-- FOOTER -->
    <footer region-footer></footer>

<ng:include src="'popup/mainform.html'"></ng:include>

<!-- Baloon -->
<div baloon is-show="baloon.isVisible" caption="baloon.caption" text="baloon.text" type="baloon.type" close-fn="baloon.closeFn" data="baloon.data"></div>
<!-- /Baloon -->


<!--<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>-->
<script src="https://yandex.st/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL_wrALCtkwgVOrNOecRiB5a6XMEeXYi0&sensor=false"></script>
<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

<!--[if lt IE 10]>
    <script src="/spa/js/ie.placeholder.js"></script>

    <script src="spa/lib/xdomain.min.js"></script>
    <script>
        xdomain.slaves({
            "http://api.test.inna.ru": "/proxy.html",
            "https://apibeta.inna.ru": "/proxy.html",
            "https://api.inna.ru": "/proxy.html"
        });
    </script>
<![endif]-->
<!--<script src="/spa/js/search_form.js"></script>-->


<!--contacts-->
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>


<!--файлы заменяются при билде на app-main.js-->
<!-- build:app-main-js -->

<script src="/build/js/app-lib.js"></script>

<!-- jq plugins -->
<script src="/spa/js/jquery.ui.datepicker-ru.js"></script>
<script src="/spa/js/angular/plugins/carousel.js"></script>
<!-- \ jq plugins -->

<script src="/spa/js/debug.js"></script>
<script src="/spa/js/angular/helpers/utils.js"></script>
<script src="/spa/js/angular/helpers/urlhelper.js"></script>
<script src="/spa/js/angular/helpers/date.helper.js"></script>
<script src="/spa/js/angular/helpers/string.helper.js"></script>
<script src="/spa/js/angular/helpers/collections.helper.js"></script>
<script src="/spa/js/angular/helpers/cache_keys.js"></script>

<script src="/spa/js/angular/tracking.js"></script>
<script src="/spa/js/datepicker.js"></script>
<script src="/spa/js/angular/app.js"></script>

<!-- templateCache -->
<script src="/build/js/templates.js"></script>

<script src="/spa/js/angular/ang.helpers/url.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/api.js"></script>
<script src="/spa/js/angular/ang.helpers/avia.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/ajax.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/popup.controller.mixin.js"></script>
<script src="/spa/js/angular/filters.js"></script>
<script src="/spa/js/angular/services/services.js"></script>
<script src="/spa/js/angular/services/service.avia.js"></script>
<script src="/spa/js/angular/services/service.data.js"></script>
<script src="/spa/js/angular/services/service.page.js"></script>
<script src="/spa/js/angular/services/service.validator.js"></script>
<script src="/spa/js/angular/services/service.dynamic.packages.data.provider.js"></script>
<script src="/spa/js/angular/services/service.dynamic.packages.cache.js"></script>
<script src="/spa/js/angular/services/service.dynamic.packages.form_submit_listener.listener.js"></script>
<script src="/spa/js/angular/services/service.auth.data.provider.js"></script>
<script src="/spa/js/angular/services/service.events.helper.js"></script>
<script src="/spa/js/angular/services/service.payment.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/auth.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/signup.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/signin.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/restore.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/profile.js"></script>
<script src="/spa/js/angular/controllers/controller.about.js"></script>
<script src="/spa/js/angular/controllers/helpers/controller.reserve.tickets.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.reserve.tickets.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.buy.tickets.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.form.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.search.main.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.search.results.js"></script>
<script src="/spa/js/angular/controllers/controller.contacts.js"></script>
<script src="/spa/js/angular/controllers/hotels/controller.hotel.js"></script>
<script src="/spa/js/angular/controllers/hotels/controller.hotels.js"></script>
<script src="/spa/js/angular/controllers/hotels/controller.hotel_plus_ticket.js"></script>
<script src="/spa/js/angular/controllers/controller.individualtours.js"></script>
<script src="/spa/js/angular/controllers/controller.individualtourscategory.js"></script>
<script src="/spa/js/angular/controllers/controller.main.js"></script>
<script src="/spa/js/angular/controllers/controller.root.js"></script>
<script src="/spa/js/angular/controllers/controller.offers.list.js"></script>
<script src="/spa/js/angular/controllers/search/controller.search.main.js"></script>
<script src="/spa/js/angular/controllers/search/controller.search.result.js"></script>
<script src="/spa/js/angular/controllers/controller.slider.js"></script>
<script src="/spa/js/angular/controllers/tours/controller.tour.js"></script>
<script src="/spa/js/angular/controllers/tours/controller.tours.form.js"></script>
<script src="/spa/js/angular/controllers/tours/controller.tours.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/form.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/morda.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/serp.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/reserve.js"></script>
<script src="/spa/js/angular/controllers/controllers.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/display-order.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.sort.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.airport.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.aircompany.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.time.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.transfer.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.price.js"></script>
<script src="/spa/js/angular/directives/directive.people.component.js"></script>
<script src="/spa/js/angular/directives/directive.baloon.js"></script>
<script src="/spa/js/angular/directives/directive.combobox.js"></script>
<script src="/spa/js/angular/directives/directive.datepicker.2months.js"></script>
<script src="/spa/js/angular/directives/directive.datepicker.custom.js"></script>
<script src="/spa/js/angular/directives/directive.jq.ui.slider.js"></script>
<script src="/spa/js/angular/directives/directive.map.js"></script>
<script src="/spa/js/angular/directives/directive.popup.form.js"></script>
<script src="/spa/js/angular/directives/directives.js"></script>
<script src="/spa/js/angular/directives/directive.select.component.js"></script>
<script src="/spa/js/angular/directives/directive.autocomplete.component.js"></script>
<script src="/spa/js/angular/directives/directive.date_picker_widget.component.js"></script>
<script src="/spa/js/angular/directives/directive.counter_people.component.js"></script>
<script src="/spa/js/angular/directives/directive.trip_preferences.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/category.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/type.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/price.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/name.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/extra.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/tafactor.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.legs.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.price.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.time.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.airlines.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.airports.component.js"></script>

<script src="/spa/js/angular/directives/directive.dynamic.serp.sorter.js"></script>
<script src="/spa/js/angular/directives/directive.partial.select.js"></script>
<script src="/spa/js/angular/directives/directive.inna-hotel-details.component.js"></script>
<script src="/spa/js/angular/directives/directive.inna-gallery.js"></script>


<!-- REGIONS -->
<script src="/spa/js/angular/regions/header/header.js"></script>
<script src="/spa/js/angular/regions/footer/footer.js"></script>
<!-- \ REGIONS -->


<!-- PAGES -->
<script src="/spa/js/angular/pages/page-buy-success/index.js"></script>
<!-- \ PAGES -->


<!-- COMPONENTS -->
<script src="/spa/js/angular/components/indicator-map/directive.js"></script>
<script src="/spa/js/angular/components/map/directive.js"></script>
<script src="/spa/js/angular/components/hotel/directive.js"></script>
<script src="/spa/js/angular/components/ticket/directive.js"></script>
<script src="/spa/js/angular/components/bundle/directive.js"></script>
<script src="/spa/js/angular/components/tooltip-price/directive.js"></script>
<script src="/spa/js/angular/components/tooltip-price/price-generic.js"></script>
<script src="/spa/js/angular/components/tooltip-price/price-generic-ract.js"></script>
<!-- / COMPONENTS -->

<script src="/spa/js/angular/models/app.model.js"></script>
<script src="/spa/js/angular/models/app.model.avia.js"></script>
<script src="/spa/js/angular/models/app.model.to.api.model.js"></script>
<script src="/spa/js/angular/models/app.model.tours.js"></script>
<script src="/spa/js/angular/models/app.model.dynamic.js"></script>
<script src="/spa/js/angular/models/auth.js"></script>
<!-- endbuild -->


<!-- Yandex.Metrika counter -->
<!--<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter5467552 = new Ya.Metrika({id:5467552,
                    clickmap:true,
                    trackLinks:true});
        }
        catch(e) { }
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/5467552" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
<!-- /Yandex.Metrika counter -->
<!-- Yandex.Metrika counter -->
<!--<div style="display:none;"><script type="text/javascript">
                               (function (w, c) {
                                   (w[c] = w[c] || []).push(function () {
                                       try {
                                           w.yaCounter12702715 = new Ya.Metrika({ id: 12702715, enableAll: true, webvisor: true });
                                       }
                                       catch (e) { }
                                   });
                               })(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/12702715" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
<!-- /Yandex.Metrika counter -->

</body>
</html>
