<!DOCTYPE html>
<html xmlns:ng="https://angularjs.org" id="ng-app" ng-app="innaApp" ng-controller="RootCtrl">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name='yandex-verification' content='40fd92efcc007a47' />
    <!--<meta name="viewport" content="initial-scale=1, user-scalable=yes">-->
    <meta name="viewport" content="width=980">
    <title ng-bind="title">Инна-Тур - Главная</title>

    <!--[if lt IE 9]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
        document.createElement('ng:any');
    </script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/spa/lib/jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.min.css" />

    <!-- build:app-less -->
    <link rel="stylesheet" href="/build/css/main.less.css" />
    <!-- endbuild -->

    <!-- build:app-stylus -->
    <link rel="stylesheet" href="/build/css/common.min.css" />
    <!-- endbuild -->

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/build/css/ie.min.css" />
    <![endif]-->

    <!--[if lt IE 10]>
        <style type="text/css">
            .spinner{background: #fff url(/spa/img/spinner.gif) no-repeat center center;}
            .spinner * {display: none;}
        </style>
    <![endif]-->

    <script src="/spa/lib/if-browser.js"></script>
    <script>
        var old = ifBrowser();

        if(old.bName) {
            var oldV = old.bNameV.split('.');
            if (oldV[0] == 'ie' && oldV[1] <= 8) {
                location.href = '/spa/browser.html'
            } else if(oldV[0] == 'ie' && oldV[1] <= 9) {
                var style = document.createElement('style');
                style.innerHTML = '.spinner .rect{display:none !important;} .spinner .gif{display:inline;width:60px;height:60px;}';
                document.getElementsByTagName('head')[0].appendChild(style);
                console.log('IE8');
            }
        }
    </script>

<style type="text/css">
    .no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .ui-tooltip { background-color: #de0000; z-index: 10; }
    .ui-tooltip:before { border-color: transparent transparent #de0000 transparent; }
    .b-wrapp_type_inline .search-date, .b-wrapp_type_inline .search-field; { height: 48px; }
	.datepickerMonths, .datepickerYears{display:none;}
	.datepickerNotInMonth{height:1px;}
	.datepickerNotInMonth *{display:none !important;}
	.calendar{vertical-align:top;}
	.calendar-0 .datepickerGoNext *, .calendar-1 .datepickerGoPrev *{display:none;}
	.datepicker-body {left: -18%;top: 48px;}
    .dp-head-cont {
        border-top: 1px solid #c0c0c2;
        background-color: #fff;
        margin: 0px 0px -1px 0;
        padding: 10px 0px 0 0;
        -webkit-box-shadow: 0 5px 10px rgba(50,50,50,.25);
        box-shadow: 0 5px 10px rgba(50,50,50,.25);
    }
</style>

<script type="text/javascript">
    var app_main = {};
	//<!-- build:app-host -->
	app_main.host = "http://api.test.inna.ru";
	//<!-- endbuild -->

	//<!-- build:b2b-host -->
	app_main.b2bHost = 'http://b2b.test.inna.ru';
	//<!-- endbuild -->

	//<!-- build:front-host -->
	app_main.frontHost = 'http://test.inna.ru';
	//<!-- endbuild -->
	
	//<!-- build:static-host -->
	app_main.staticHost = 'http://s.test.inna.ru';
	//<!-- endbuild -->

    //<!-- build:tripadvisor -->
    app_main.tripadvisor = 'http://www.tripadvisor.ru/WidgetEmbed-cdspropertydetail?display=true&partnerId=32CB556934404C699237CD7F267CF5CE&lang=ru&locationId=';
    //<!-- endbuild -->

    app_main.version = '12';
    app_main.constants = {};
    app_main.constants.offersCategoriesProgramm = '1';

    var addTourUrlEf = app_main.host + '/api/v1/Dictionary';

    var getHotelsUrl = app_main.host + '/api/v1/Dictionary';

    var getCityUrl = app_main.host + '/api/v1/Dictionary/City/Get';
    var getDirectoryUrl = app_main.host + '/api/v1/Dictionary/Directory/Get';
    var getRegionUrl = app_main.host + '/api/v1/Dictionary/Region/Get';

    var getSletatUrl = app_main.host + '/api/v1/Dictionary/Sletat/Get';
    var getSletatCityUrl = app_main.host + '/api/v1/Dictionary/SletatCity/Get';
    var getSletatByIdUrl = app_main.host + '/api/v1/Dictionary/SletatById/Get';

    var getLocationByUrls = app_main.host + '/Dictionary/LocationByUrl';

    var beginSearchUrl = app_main.host + '/api/v1/Search/BeginSearch/Get';
    var checkSearchUrl = app_main.host + '/api/v1/Search/CheckSearch/Get';

    var hotelDetailUrl = app_main.host + '/HotelDetail/GetPage';

    var tourDetailUrl = app_main.host + '/TourDetail/GetPage';

    var getOrderUrl = app_main.host + '/Order';

    var paymentPageUrl = app_main.host + '/Payment';

    var payUrl = app_main.host + '/Payment/Pay';

    var deleteSearchHistoryUrl = app_main.host + '/api/v1/Search/DeleteHistory/Get';
</script>

</head>
<body class="light-theme" ng-class="{'body-bg':isActive('/avia/') || isActive('/packages/reservation/')}" ng-click="bodyClick()" popup-form>

    <div class="main">
        <!-- HEADER -->
        <header region-header></header>

        <div class="button fixed-request-button ng-hide" ng-click="popupForm_Show()"
             ng-show="!isActive('/individualtours/category/')
             && !isActive('/packages/')
             && !isActive('/packages/search/')
             && !isActive('/avia/')
             && !isActive('/avia/search/')
             && !isActive('/')"
             title="Отправить заявку"></div>

        <!-- PAGE CONTENT -->
        <div class="wrpr">
            <ng:view></ng:view>
        </div>

    </div>
    <!-- FOOTER -->
    <footer region-footer></footer>

<ng:include src="'popup/mainform.html'"></ng:include>

<!-- Baloon -->
<div baloon is-show="baloon.isVisible" caption="baloon.caption" text="baloon.text" type="baloon.type" close-fn="baloon.closeFn" data="baloon.data"></div>
<!-- /Baloon -->


<!--<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>-->
<script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL_wrALCtkwgVOrNOecRiB5a6XMEeXYi0&sensor=false"></script>
<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

<!--[if lt IE 10]>
    <script src="/spa/js/ie.placeholder.js"></script>
<![endif]-->
<!--<script src="/spa/js/search_form.js"></script>-->


<!--contacts-->
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>


<!--файлы заменяются при билде на app-main.js-->
<!-- build:app-main-js -->

<script src="/build/js/app-lib.js"></script>

<!-- jq plugins -->
<script src="/spa/js/jquery.ui.datepicker-ru.js"></script>
<script src="/spa/js/angular/plugins/carousel.js"></script>
<!-- \ jq plugins -->

<script src="/spa/js/debug.js"></script>
<script src="/spa/js/angular/helpers/utils.js"></script>
<script src="/spa/js/angular/helpers/urlhelper.js"></script>
<script src="/spa/js/angular/helpers/date.helper.js"></script>
<script src="/spa/js/angular/helpers/string.helper.js"></script>
<script src="/spa/js/angular/helpers/collections.helper.js"></script>
<script src="/spa/js/angular/helpers/cache_keys.js"></script>

<script src="/spa/js/angular/tracking.js"></script>
<script src="/spa/js/datepicker.js"></script>
<script src="/spa/js/angular/app.js"></script>

<script src="/spa/js/angular/mediator.js"></script>

<!-- templateCache -->
<script src="/build/js/templates.js"></script>


<script src="/spa/js/angular/ang.helpers/url.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/api.js"></script>
<script src="/spa/js/angular/ang.helpers/avia.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/ajax.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/popup.controller.mixin.js"></script>
<script src="/spa/js/angular/filters.js"></script>
<script src="/spa/js/angular/services/services.js"></script>
<script src="/spa/js/angular/services/service.avia.js"></script>
<script src="/spa/js/angular/services/service.data.js"></script>
<script src="/spa/js/angular/services/service.page.js"></script>
<script src="/spa/js/angular/services/service.validator.js"></script>
<script src="/spa/js/angular/services/service.dynamic.packages.data.provider.js"></script>
<script src="/spa/js/angular/services/service.dynamic.packages.cache.js"></script>
<script src="/spa/js/angular/services/service.dynamic.packages.form_submit_listener.listener.js"></script>
<script src="/spa/js/angular/services/service.auth.data.provider.js"></script>
<script src="/spa/js/angular/services/service.events.helper.js"></script>
<script src="/spa/js/angular/services/service.payment.js"></script>
<script src="/spa/js/angular/services/service.help-data-service.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/auth.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/signup.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/signin.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/restore.js"></script>
<script src="/spa/js/angular/controllers/controller.auth/profile.js"></script>
<script src="/spa/js/angular/controllers/controller.about.js"></script>
<script src="/spa/js/angular/controllers/helpers/controller.reserve.tickets.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.reserve.tickets.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.buy.tickets.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.form.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.search.main.js"></script>
<script src="/spa/js/angular/controllers/avia/controller.avia.search.results.js"></script>
<script src="/spa/js/angular/controllers/controller.contacts.js"></script>
<script src="/spa/js/angular/controllers/hotels/controller.hotel.js"></script>
<script src="/spa/js/angular/controllers/hotels/controller.hotels.js"></script>
<script src="/spa/js/angular/controllers/hotels/controller.hotel_plus_ticket.js"></script>
<script src="/spa/js/angular/controllers/controller.individualtours.js"></script>
<script src="/spa/js/angular/controllers/controller.individualtourscategory.js"></script>
<script src="/spa/js/angular/controllers/controller.main.js"></script>
<script src="/spa/js/angular/controllers/controller.root.js"></script>
<script src="/spa/js/angular/controllers/controller.offers.list.js"></script>
<script src="/spa/js/angular/controllers/search/controller.search.main.js"></script>
<script src="/spa/js/angular/controllers/search/controller.search.result.js"></script>
<script src="/spa/js/angular/controllers/controller.slider.js"></script>
<script src="/spa/js/angular/controllers/tours/controller.tour.js"></script>
<script src="/spa/js/angular/controllers/tours/controller.tours.form.js"></script>
<script src="/spa/js/angular/controllers/tours/controller.tours.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/form.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/morda.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/serp.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/reserve.js"></script>
<script src="/spa/js/angular/controllers/controllers.js"></script>
<script src="/spa/js/angular/controllers/controller.dynamic/display-order.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.sort.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.airport.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.aircompany.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.time.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.transfer.js"></script>
<script src="/spa/js/angular/directives/avia_results_filter/directive.filter.price.js"></script>
<script src="/spa/js/angular/directives/directive.people.component.js"></script>
<script src="/spa/js/angular/directives/directive.baloon.js"></script>
<script src="/spa/js/angular/directives/directive.combobox.js"></script>
<script src="/spa/js/angular/directives/directive.datepicker.2months.js"></script>
<script src="/spa/js/angular/directives/directive.datepicker.custom.js"></script>
<script src="/spa/js/angular/directives/directive.jq.ui.slider.js"></script>
<script src="/spa/js/angular/directives/directive.map.js"></script>
<script src="/spa/js/angular/directives/directive.popup.form.js"></script>
<script src="/spa/js/angular/directives/directives.js"></script>
<script src="/spa/js/angular/directives/directive.select.component.js"></script>
<script src="/spa/js/angular/directives/directive.autocomplete.component.js"></script>
<script src="/spa/js/angular/directives/directive.date_picker_widget.component.js"></script>
<script src="/spa/js/angular/directives/directive.counter_people.component.js"></script>
<script src="/spa/js/angular/directives/directive.trip_preferences.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/category.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/type.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/price.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/name.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/extra.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/tafactor.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.legs.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.price.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.time.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.airlines.component.js"></script>
<script src="/spa/js/angular/directives/directive.dynamic.serp.filter/avia.airports.component.js"></script>

<script src="/spa/js/angular/directives/directive.dynamic.serp.sorter.js"></script>
<script src="/spa/js/angular/directives/directive.partial.select.js"></script>
<script src="/spa/js/angular/directives/directive.inna-hotel-details.component.js"></script>
<script src="/spa/js/angular/directives/directive.inna-gallery.js"></script>

    <!-- PAGES REGIONS COMPONENTS -->
    <script src="/build/js/pages.js"></script>
    <script src="/build/js/components.js"></script>
    <script src="/build/js/regions.js"></script>
    <!-- /  -->


<!-- / COMPONENTS -->

<script src="/spa/js/angular/models/app.model.js"></script>
<script src="/spa/js/angular/models/app.model.avia.js"></script>
<script src="/spa/js/angular/models/app.model.to.api.model.js"></script>
<script src="/spa/js/angular/models/app.model.tours.js"></script>
<script src="/spa/js/angular/models/app.model.dynamic.js"></script>
<script src="/spa/js/angular/models/auth.js"></script>
<!-- endbuild -->



<!-- Yandex.Metrika counter -->
<!--<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter12702715 = new Ya.Metrika({id:12702715,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });
 
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
 
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/12702715" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
<!-- /Yandex.Metrika counter --> 



</body>
</html>
