<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <staticContent>
        <!-- <clientCache cacheControlMode="DisableCache" /> -->
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      </staticContent>
    </system.webServer>
</configuration>