<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      </staticContent>
        <rewrite>
            <rules>
                <rule name="Proxy123633" stopProcessing="true">
                    <match url="(api/v1/.*)" />
                    <action type="Rewrite" url="http://api.test.inna.ru/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>