// BEGIN hotels-search-city
.hotels-search-city{
    width 300px
}
// END hotels-search-city
.page-hotels {

}
// BEGIN SearchHotelResults
.SearchHotelResults{
    width $search-results-list-width
    padding: 0 0 50px 0;
}
.SearchHotelResults__item{
    margin 10px 0
}
// END SearchHotelResults
