// BEGIN hotels-search-city
.hotels-search-city{
    width 300px
}
// END hotels-search-city
// BEGIN SearchHotelResults
.SearchHotelResults{
    display flex
}
.SearchHotelResultsCount{
    margin-bottom 10px
}
.SearchHotelResultsList{
    width $search-results-list-width
    padding: 0 0 50px 0;
}
.SearchHotelResultsFilters{
    margin-top -13px
    margin-bottom 10px
}
.SearchHotelResultsList__item{
    margin 0 0 10px
}
.SearchHotelResults__loading{
    margin 50px 0 0 0
}
// END SearchHotelResults
