// BEGIN hotels-search-city
.hotels-search-city{
    width 300px
}
// END hotels-search-city
// BEGIN SearchHotelResults
.SearchHotelResults{
    display flex
    position relative
}
.SearchHotelResults__promo-logo {
    height 190px
    width 235px
    position absolute
    right 0px
    background-image url('/spa/img/banners/banner.png')
    background-position: 0px 0px;
    background-size : 479px auto;
}
.SearchHotelResultsCount{
    margin-bottom 10px
}
.SearchHotelResultsList{
    //width $search-results-list-width
    width 752px
    //padding: 0 0 50px 0;
    padding 16px
    min-height 300px
}
.SearchHotelResultsSale{
    height 35px
    line-height 32px
    font-size 15px
    color #313C48
    background-color #eff2f5
    padding-bottom 16px
}
.SearchHotelResultsSale__value-sale{
    font-size 20px
    font-weight bold
}
.SearchHotelResultsSale__logo-dp{
    padding 7px 16px
    background-color #F0BD4E
    border-radius 3px
    font-weight bold
}
.SearchHotelResultsFilters{
    //margin-top -2px
    //margin-bottom 10px
    padding-top: 38px;
}
.SearchHotelResultsList__item{
    margin 0 0 10px
}
.SearchHotelResults__loading{
    margin 50px 0 0 0
}
// END SearchHotelResults
