<div class="results-body" id="top">
	<div class="results-container results-container_list"
	     ng-class="{'results-container__short':!padding}"
	     ng-show="(!showLanding && !hotelToShowDetails && !asMap)">


		<div class="SearchHotelResultsCount" ng-if="hotels.length > 0">
			Найдено
			<b>{{::hotels.length | asQuantity:"тур":"тура":"туров"}}</b>
		</div>

		<div class="SearchHotelResultsList" ng-if="hotels.length > 0">
			<div class="SearchHotelResultsList__item"
			     ng-repeat="hotel in hotels track by $index"
			>
				<hotel-card
						hotel="hotel"
						hotel-url="getHotelUrl(hotel.HotelId, hotel.ProviderId)"
				></hotel-card>
			</div>
		</div>

	</div>
</div>
