<div class="results-body" id="top">
	<form class="b-search-form b-search-form-hotels"
		  ng-class="{'b-search-form_padding-1px': FormExpand, 'b-search-form_padding-16px': !FormExpand}">


		<div class="b-search-form-hotels__field b-bus-typeahead"
			 ng-class="{'b-search-form-hotels__field-error' : ArrivalIdError}">

			<ui-select ng-model="hotelsSearchForm.ArrivalId"
					   theme="selectize"
			>
				<ui-select-match placeholder="Город отправления">{{$select.selected.Name}}</ui-select-match>
				<ui-select-choices repeat="city.Id as city in cities | filter: $select.search" refresh-delay="0">
					<span ng-bind-html="city.Name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>

		</div>


		<div class="b-search-form-hotels__field b-bus-daterange"
			 ng-class="{'b-search-form-hotels__field-error' : StartVoyageDateError}">
			<input date-picker-date-format-hotels
				   class="b-search-form-hotels__input b-search-form-hotels__input-datapicker"
				   type="text"
				   name="startDate"
				   ng-model="hotelsSearchForm.StartVoyageDate"
				   placeholder="Дата отправления"
				   ng-focus="StartVoyageDateError = null"
				   autocomplete="off"
			/>
			<i class="fa fa-calendar b-search-form-hotels__field-icon"></i>

			<div error-tooltip
				 useHorizontalForm={{true}}
				 position-top="44px"
				 align="width-center"
				 message="{{StartVoyageDateError}}"
			></div>
		</div>

		<div class="b-search-form-hotels__field">
			<div counter-people
				 click-on-focus
				 tabindex="5"
				 adult-count="hotelsSearchForm.Adult"
				 children-count="hotelsSearchForm.ChildrenCount"
				 childrens-age="hotelsSearchForm.Children"
				 class="b-wrapp_type_inline no-outline-on-focus"></div>
		</div>

		<!--<people-trip-preferences tabindex="5"-->
		<!--adult-count="hotelsSearchForm.Adult"-->
		<!--children-count="hotelsSearchForm.ChildrenCount"-->
		<!--childrens-age="hotelsSearchForm.Children"-->
		<!--klass-model="klass"-->
		<!--type-page="'Hotel'"-->
		<!--class="b-wrapp_type_inline no-outline-on-focus">-->
		<!--</people-trip-preferences>-->

		<div tabindex="7" click-on-focus class="search-form__submit search-button-block_small no-outline-on-focus"
			 ng-click="hotelsSearchStart($event)">
			Найти
		</div>

	</form>

	<div class="header-info__right authinavia">
		<ng:include src="'auth/header_black.html'" class="authiavia"></ng:include>

	</div>
	<div class="results-container results-container_list"
	     ng-class="{'results-container__short':!padding}"
	     ng-show="(!showLanding && !hotelToShowDetails && !asMap)">

		<!--<div class="SearchHotelResultsSale" ng-if="hotels.length > 0">-->
			<!--Скидки до-->
			<!--<span class="SearchHotelResultsSale__value-sale">30%</span>-->
			<!--при покупке-->
			<!--<span class="SearchHotelResultsSale__logo-dp">Перелет + Отель</span>-->
		<!--</div>-->
		<div class="SearchHotelResultsFilters">
			<ng:any filter-panel-hotel
			        filters-settings="filtersSettingsHotels"
			        as-map="asMap"
			        type-panel="hotels"
			        active-panel="activePanel"
			        ng-show="filtersSettingsHotels"
			></ng:any>
		</div>

		<!--<div class="SearchHotelResultsCount" ng-if="hotels.length > 0">-->
			<!--Найдено-->
			<!--<b>{{hotels.length | asQuantity:"отель":"отеля":"отелей"}}</b>-->
		<!--</div>-->

		<div class="SearchHotelResults" style="background-color: #FFF">
			<!--<div class="SearchHotelResults__promo-logo" ng-if="hotels.length > 0"></div>-->
			<div class="SearchHotelResultsList" ng-if="hotels.length > 0">
				<div class="SearchHotelResultsList__item"
					 ng-repeat="hotel in hotels track by $index">
					<hotel-card
							hotel="hotel"
							hotel-url="getHotelUrl(hotel.HotelId, hotel.ProviderId)"
							guest-count="guestCount"
							type-etap="'Search'"
					></hotel-card>
				</div>

				<btn-top></btn-top>
			</div>
			<div class="SearchHotelResultsList__item" ng-if="hotels.length < 1">
				<div class="results-list__empty results-list__empty_type_hotels">
					<p>Варианты не найдены.</p>

					<p>Попробуйте изменить условия поиска или настройки фильтров.</p>
				</div>
			</div>
			<div class="banner-sale-dp" ng-if="hotels.length > 0">
				<div class="banner-sale-dp__value">30%</div>
				<div class="banner-sale-dp__desc">скидка при покупке</div>
				<div class="banner-sale-dp__btn">Перелет + Отель</div>
			</div>
		</div>

	</div>
</div>
