<div class="results-body" id="top">
	<div class="results-container results-container_list"
	     ng-class="{'results-container__short':!padding}"
	     ng-show="(!showLanding && !hotelToShowDetails && !asMap)">


		<div ng-if="hotels.length > 0">
			Найдено
			<b>{{hotels.length | asQuantity:"отель":"отеля":"отелей"}}</b>
		</div>

		<div class="balloon">
			<div class="balloon-notfound"></div>
			<div class="balloon-title">Мы ничего не нашли</div>
			<p class="balloon-info">Попробуйте изменить условия поиска</p>
			<div class="balloon-actions">
				<a href="#" class="button balloon-button">Новый поиск</a>
			</div>
		</div>

		<div class="SearchHotelResults" ng-if="hotels">
			<div class="SearchHotelResults__item"
			     ui-scroll="hotel in datasource"
			     is-loading="loading"
			>
				<hotel-card
						hotel="hotel"
						hotel-url="getHotelUrl(hotel.HotelId, hotel.ProviderId)"
				></hotel-card>
			</div>
			<div class="SearchHotelResults__loading"
			     ng-if="loading">
				<div class="spinner in-balloon">
					<div class="rect rect1"></div>
					<div class="rect rect2"></div>
					<div class="rect rect3"></div>
					<div class="rect rect4"></div>
					<div class="rect rect5"></div>
					<img class="gif" src="/spa/img/spinner.gif">
				</div>
			</div>
		</div>

	</div>
</div>
