<div class="js-filter-scroll">
    <ul class="filters__container">
        <li class="filter">
            <FilterStars data="{{filtersData}}"/>
        </li>
        <li class="filter">
            <FilterPrice data="{{filtersData}}" />
        </li>
        <li class="filter">
            <FilterName data="{{filtersData}}"/>
        </li>
        <li class="filter">
            <FilterTaFactor data="{{filtersData}}"/>
        </li>
        <li class="filter">
            <FilterType data="{{filtersData}}"/>
        </li>
        <li class="filter">
            <FilterExtra data="{{filtersData}}"/>
        </li>
	    <li class="filter filters__sort">
            <FilterSort data="{{filtersData}}"/>
	    </li>
    </ul>
</div>


<!--<div inna-dynamic-serp-filter-indicators
     template-name="indicators_horizontal.html"
     is-map="true"
     inna-dynamic-serp-filter-indicators-filters="hotelFilters"
     inna-dynamic-serp-filter-indicators-items="hotels"
     inna-dynamic-serp-filter-indicators-items-name="отеля,отелей,отелей"></div>-->
