<div class="js-filter-scroll">
    <ul class="filters__container">
        <li class="filter">
            <FilterStars stars="{{filtersData.stars}}"/>
        </li>
        <li class="filter">
            <FilterPrice price="{{filtersData.price}}"/>
        </li>
        <li class="filter">
            <FilterName name="{{filtersData.name}}"/>
        </li>
        <li class="filter">
            <FilterTaFactor tafactor="{{filtersData.tafactor}}"/>
        </li>
        <li class="filter">
            <FilterType type="{{filtersData.type}}"/>
        </li>
        <li class="filter">
            <FilterExtra services="{{filtersData.services}}"/>
        </li>
        <li class="filters__sort">
            <FilterSort sort="{{filtersData.sort.hotels}}" />
        </li>
    </ul>
</div>
