.NightCount{
    position relative
    z-index 2
    font-size 14px
    line-height normal
    letter-spacing normal
    vertical-align top
}
.NightCount__label{
    box-sizing border-box
    width 155px
    height 40px
    line-height 40px !important
    padding 0 20px 0 10px
    font 14px / 36px $ProximaNova
    cursor pointer
    //background: #fff url("/spa/img/i.png") no-repeat 90px -1879px;
    background-color #ffffff
    white-space nowrap
}
.NightCount__dropdown{
    box-sizing border-box
    position absolute
    left 0
    z-index 10
    width 100%
    margin-top 1px
    padding 10px
    background #fff
    box-shadow 0 5px 10px rgba(50, 50, 50, 0.25)
}
.NightCountCounter{
    display flex
    justify-content center
}
.NightCountCounter__increment{
    box-sizing border-box
    border 0
    height 30px
    width 30px
    margin 0
    border-radius 2px
    transition background-color 0.3s linear
    background-color: #89c13a;
    cursor pointer;
    font-size 18px;
    color: #fff;
    text-align: center;

    display flex

    .fa{
        margin auto
    }
}
.NightCountCounter__input{
    width 60px
    text-align center
    font-size 15px
}
