.NightCountBlock{
    position relative
    z-index 2
    font-size 14px
    line-height normal
    letter-spacing normal
    vertical-align top
}
.NightCountBlock__label{
    box-sizing border-box
    width 155px
    height 36px
    padding 0 20px 0 10px
    font 14px / 36px $ProximaNova
    cursor pointer
    background: #fff url("/spa/img/i.png") no-repeat 90px -1879px;
    white-space nowrap
}
.NightCountBlock__dropdown{

}
