<form class="b-search-form b-search-form-hotels">

	<div class="b-search-form-hotels__field b-search-form-hotels__typeahead">
		<input
				class="b-search-form-hotels__typeahead-input"
				type="text"
				placeholder="Откуда"
				ng-model="locationFrom"
				typeahead="state as state.name for state in getLocationFrom($viewValue) | filter:$viewValue"
				typeahead-template-url="components/search-form-hotels/templ/typeaheadTemplateCustom.html"
				typeahead-wait-ms="300"
				ng-change="fromIdError = null"
		>

		<div widget-error-tooltip error="{{fromIdError}}"></div>
	</div>

	<div tabindex="7" click-on-focus class="search-form__submit search-button-block_small no-outline-on-focus"
	     ng-click="searchStart($event)">
		Найти
	</div>

</form>
