<!--
    В класс balloon можно передать любые параметры и настройки
-->
{{#isVisible}}
<div class="overlay js-overlay overlay-baloon {{isVisible ? 'overlay_show' : ''}}">
    <div class="scroll-fix" style="{{styleTopInFrame}}">
        <div class="b-balloon js-b-balloon balloon {{balloon_class}}">

            {{#if balloonClose || callbackClose}}
                <div class="balloon-close" on-click="hide" title="Закрыть">
	                <i class="icon-sprite-remove-big"></i>
                </div>
            {{/if}}


            {{#if title && !loading && !content}}
                <h3 class="b-tickets__title">{{title}}</h3>
            {{/if}}


            {{#if loading}}
                {{>loading}}
            {{/if}}

            <div class="b-balloon__content">

                {{#if template}}
                    {{#reset}}
                        {{>partialUpdate}}
                    {{/}}
                {{/if}}

                {{#if balloonPart && (!template && !balloonContent)}}
                    {{>balloonContent}}
                {{else}}
                    <p class="balloon-info">{{{balloonContent}}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/}}

