<div class="b__rules-container">
    <div class="b__rules_attention">
        <h3>Обратите внимание!</h3>
        <p>При не использовании одного из сегментов маршрута, последующие сегменты могут быть автоматически аннулированы авиакомпанией. </p>
        <p>Если по перелёту используется несколько разных правил/тарифов, то при обмене/возврате применяются более строгие правила. При обмене/возврате к возможным штрафным санкциям авиакомпании по правилам тарифа, дополнительно взымается сервисный сбор за услугу оформления обмена/возврата билета.</p>

        <ul class="b__rules-flies">
            {{#tarifs.list}}

            <li on-click="changeTarifs" class="{{ current ? 'current' : ''}}">
                <a href="javascript:void(0)">
                        <span>
                            <b>{{from}} → {{to}},</b> {{num}}, {{tarifs.class}} (K)
                        </span>
                </a>
            </li>
            {{/tarifs.list}}
        </ul>
    </div>
    <div class="b__rules-grey">
        <h3>{{from}} → {{to}}</h3>

        <h4>Полные правила применения тарифа</h4>

        <div>{{{_RULE_}}}</div>
    </div>
</div>