.body-white
.body-white .main
    background #f7f7f7

.lic__container
    width 960px
    margin 0 auto

.lic__block
    padding 0 0 18px

.lic__title
    border-bottom 1px solid #a0c454
    color #646464
    font-weight bold
    font-size 14px
    padding 0 0 2px
    margin 0 0 15px

.lic__list-title
    font 12px Arial, sans-serif
    color #a7a7a7

.lic__list-desc
    font-size 14px
    padding 0 0 9px
    margin -1px 0 0

.lic__link
    color $blue
    text-decoration none

.lic__pic-container
    clearfix()
    margin 0 0 53px

.lic__pic-left
    float left

    .lic__pic
        left -10px

    .lic__pic-descr
        padding 0 0 0 100px

        &:before
            width 51px
            height 34px
            background url(/spa/img/lic_logo1.png) no-repeat
            left 35px
            top -10px

.lic__pic-right
    float right

    .lic__pic
        right -10px

    .lic__pic-descr
        padding 0 0 0 200px

        &:before
            width 146px
            height 32px
            background url(/spa/img/lic_logo2.png) no-repeat
            left 40px
            top -4px

.lic__pic
    position relative
    margin 0 0 17px
    display block

.lic__pic-descr
    font-size 14px
    color #8cb2e8
    position relative

    &:before
        content ''
        display block
        position absolute




























