.body-bg{
    //background: #d4d6db;
    background: #fff;
}
.li__container
    padding 0 0 25px
    width 960px
    margin 0 auto
.li__head
    background #fff
    padding 12px 40px 15px 68px
    clearfix()
    position relative
    font-size 14px
    color #4d4d4d

    &:before
        content ''
        display block
        position absolute
        height 5px
        bottom 0
        width 100%
        left 0
        background #cecece
        background linear-gradient(to bottom, #cecece 0, #f8f8f8 100%)

    a
        color #4d4d4d

    .li__head-active
        color #89c13a
.li__head-info
    float left
    width 100px
    margin-right 10px
.li__head-date
    float left
    width 100px
.li__head-descr
    float left
    width 330px
    margin-right 10px
.li__head-status
    float left
    width 145px
    margin-right 10px
.li__head-sum
    float right
.li__head-number
    float left
    width 60px
    margin-right 10px
.li__block
    border-bottom 1px solid #c0c0c2
    background #fff
    clearfix()
    padding 12px 12px 11px 8px
    font-size 14px
    display block

    &:hover
        text-decoration none

    &:last-child
        border 0
.li__block-icon
    width 60px
    float left
    min-height 10px

    img
        margin-top -5px
.li__mes
    padding 0
.li__block_void
    color #878787
.li__block_request
    background #fff9f4
.li__block-limit
    float left
    width 105px
    min-height 10px
.li__block-code
    float left
    width 60px
    margin 0 10px 0 0
.li__block-info
    float left
    width 470px
    margin 0 20px 0 0
.li__block-status
    float left
    width 180px
    margin-right 10px
.li__block-descr
    float left
    width 295px
    margin-right 10px
    color #878787
.li__block-date
    width 100px
    float left
    margin 0 10px 0 0
.li__block-sum
    float right
    width 100px
    text-align right
.li__price
    font-size 18px
    font-weight bold
    position relative
    top -2px

    .rub
        font-weight normal
.li__name
    color #878787
.li__timer
    color #878787
    display block
    margin-top 2px
.li__code
    color #1e88c1

    a
        color #1e88c1
.li__status
    display block
    margin 0 0 0 33px
    position relative
.li__info
    color #878787
.li__timer_red
    color #f00
.li__request
    position relative
    color #f7931e
    display inline-block
.li__error
    border-radius 3px
    background #dd3e14
    padding 2px 8px
    color #fff
    display inline-block
    font-size 12px
.li__request_change:before
    content ''
    display block
    position absolute
    width 20px
    height 16px
    background url('/spa/img/change.png') no-repeat
    left -24px
.li__request_return:before
    content ''
    display block
    position absolute
    width 18px
    height 16px
    background url('/spa/img/return.png') no-repeat
    left -24px
.li__status-request
    color #4d4d4d
.li_hotel-rating
    overflow hidden
    margin 0 2px 0 0
    display inline-block

    img
        float left
.li__type
    display inline-block
    margin-top 2px
.li__header
    margin-bottom 2px
.li__empty
    font-size 18px
    line-height 24px
    padding 60px 0 0
    text-align center
    margin 100px 0
    background url('/spa/img/empty.png') no-repeat center 0
// Pag
.pag
    clearfix()
    text-align center
    padding 14px 0 0
    color #4d4d4d
    fz16
    li
        display inline-block
        margin 0 3px

    a
        color #4d4d4d
        display block
        padding 4px 10px 2px
        border-radius 3px
        border 1px solid transparent

        &:hover
            border-color #89c13a
            text-decoration none

    .current
        background #89c13a
        border-color #89c13a
        color #fff

    .pag-prev
        float left
        margin 2px 0 0 20px
        font-size 14px

        a
            padding-left 24px
            background url('/spa/img/prev.png') no-repeat 0 center

            &:hover
                border-color transparent

    .pag-next
        float right
        margin 2px 20px 0 0
        font-size 14px

        a
            padding-right 24px
            background url('/spa/img/next.png') no-repeat right center

            &:hover
                border-color transparent
// Messages
.li__message
    padding 0
    font-size 14px
    color #4d4d4d
.li__head-message-item
    border-left 1px solid #c0c0c2
    float left
    box-sizing border-box

    &:first-child
        border 0

    a
        text-decoration none
        display block
        padding 12px 9px
.li__head-create
    width 174px
.li__head-request
    width 79px
.li__head-author
    width 139px
.li__head-message
    width 425px
.li__block_unread
    font-weight bold

    .li__block-mes-icon img
        opacity 1
.li__block-mes
    float left
    padding 10px
    box-sizing border-box
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    color #000
    min-height 10px
.li__block-mes-date
    width 138px
    padding-right 4px
.li__block-mes-code
    width 80px
    color #1e88c1
.li__block-mes-author
    width 140px
.li__block-mes-receiver
    width 140px
.li__block-mes-text
    width 426px
    padding 0
    text-overflow normal
.li__block-mes-icon
    width 36px
    padding 0
    overflow visible

    img
        position relative
        left 8px
        top 8px
        opacity .3
.li__block-mes-text-inner
    // background #e8f3f9
    margin 3px 4px 0 1px
    padding 7px 9px
    border-radius 3px
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    display inline-block
    max-width 420px
    box-sizing border-box
    color #000
.li__block_send
    background #f2f3f4
.settings__section_button
    margin 0 0 28px -60px
.settings
    display table

    &__section
        display table-cell
        padding-right 80px
        vertical-align bottom

    &__title
        font-size 18px
        font-weight normal
        padding-left 10px
        margin-bottom 14px

    &__fieldset
        margin-bottom 18px
        vertical-align top

    &__field
        display inline-block
        margin-right 10px
        vertical-align top
.radio-group
    border-radius 4px
    background #e6e7e9
    font-size 0
    overflow hidden
    position relative
    top 3px

    &__label
        font-size 18px
        line-height 30px
        border-right 1px solid #878787
        display inline-block

        &:last-child
            border none

    &__radio
        display none

        &:checked + .radio-group__caption
            background #89c13a
            color #fff

    &__caption
        padding 0 8px
        display inline-block
.text-group
    overflow hidden
    padding-left 1px
    position relative
    display inline-block

    .b-field-block
        margin-left -1px

    &__caption
        font-size 18px
        position absolute
        bottom 14px
        margin-left 10px
.title-group
    overflow hidden
    padding 11px 0
    margin-top -24px
    border-top 1px solid #b3b3b3

    &__title
        font-size 18px
        font-weight normal

    &__actions
        float right
.table
    width 100%
    border-collapse collapse
    background #fff

    &__body
        .table__row:first-child
        .table__cell
            background linear-gradient(to bottom, rgba(192, 192, 194, .6) 0%, rgba(255, 255, 255, 0) 10%)
            filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c2', endColorstr='#00ffffff',GradientType=0 )")

    &__row
        border-bottom 1px solid #c0c0c2

        &:hover
            background #f2f3f4 !important

            .table__actions
                visibility visible

    &__cell
        padding 15px 12px 13px

        &_status_head
            border-right: 1px solid #c0c0c2
            font-weight normal
            text-align left
            background #fff

            a
                color #89c13a

            &:last-child
                border-left none

        &_state_active
            color #89c13a

    &__actions
        visibility hidden
        min-width 140px
        text-align right

    &__actions_display_yes
        visibility visible

        &-action
            color #878787
            text-decoration none
            padding-right 12px

            &:hover
                text-decoration underline

    &__text
        width 100%

    &__text
    &__actions
        display table-cell
        vertical-align middle

    &__cell
        &:hover
            .table__text
                cursor pointer
                text-decoration underline
.balloon
    &__header
        font-size 24px
        text-align center
        margin-bottom 7px

    &__content
        padding 0 20px 20px

    &__actions
        margin-top 10px
        text-align center
.li__add-cowoker
    color #3a86bf
    display inline-block
    margin-top 4px
    font-size 15px
//
//
// checkSms
//
//
.balloon{
    .checkSms{
        padding 0 30px
    }
    .checkSms__icon{
        margin 15px 0
    }
    .checkSms__title{
        margin 10px 0
        font-size 22px
        font-weight normal
    }
    .checkSms__notice{
        margin 10px 0
        color #878787
    }
    .checkSms__input-container{
        width 150px
        margin 13px auto
    }
}

















