<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function () {
			try {
				w.yaCounter12702715 = new Ya.Metrika({id: 12702715,
					webvisor: true,
					clickmap: true,
					trackLinks: true,
					accurateTrackBounce: true,
					trackHash: true});
			} catch (e) {
			}
		});

		var n = d.getElementsByTagName("script")[0],
		    s = d.createElement("script"),
		    f = function () {
			    n.parentNode.insertBefore(s, n);
		    };
		s.type = "text/javascript";
		s.async = true;
		s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else {
			f();
		}
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
	<div><img src="//mc.yandex.ru/watch/12702715" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<!-- Remarketing Google -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 960692718;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	//var google_conversion_format = 3;
	/* ]]> */
</script>
<div style="display: none;">
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
</div>

<noscript>
	<div style="display:inline;">
		<img class="google_conversion__hidden" height="1" width="1" style="border-style:none;" alt=""
		     src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/960692718/?value=0&guid=ON&script=0"/>
	</div>
</noscript>

<!--
<script type="text/javascript">
    if (!partners.isFullWL()) {
        var reformalOptions =
            { project_id: 723309, project_host: "innatour.reformal.ru", tab_orientation: "left", tab_indent: "50%", tab_bg_color: "#89c13a", tab_border_color: "#FFFFFF", tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/4bfb34d91c8d7fb481972ca3c84aec38/left/0/tab.png", tab_border_width: 0 }
                ;
        (function () {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
            document.getElementsByTagName('head')[0].appendChild(script);
        })();
    }
</script>
<noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png"/></a><a
        href="http://innatour.reformal.ru">Oтзывы и предложения для ИННА ТУР</a></noscript>
-->

<!-- Start Visual Website Optimizer Synchronous Code -->
<script type='text/javascript'>
	var _vis_opt_account_id = 88938;
	var _vis_opt_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
	document.write('<s' + 'cript src="' + _vis_opt_protocol +
	'dev.visualwebsiteoptimizer.com/deploy/js_visitor_settings.php?v=1&a=' + _vis_opt_account_id + '&url='
	+ encodeURIComponent(document.URL) + '&random=' + Math.random() + '" type="text/javascript">' + '<\/s' + 'cript>');
</script>

<script type='text/javascript'>
	if (typeof(_vis_opt_settings_loaded) == "boolean") {
		document.write('<s' + 'cript src="' + _vis_opt_protocol +
		'd5phz18u4wuww.cloudfront.net/vis_opt.js" type="text/javascript">' + '<\/s' + 'cript>');
	}
	// if your site already has jQuery 1.4.2, replace vis_opt.js with vis_opt_no_jquery.js above
</script>

<script type='text/javascript'>
	if (typeof(_vis_opt_settings_loaded) == "boolean" && typeof(_vis_opt_top_initialize) == "function") {
		_vis_opt_top_initialize();
		vwo_$(document).ready(function () {
			_vis_opt_bottom_initialize();
		});
	}
</script>
<!-- End Visual Website Optimizer Synchronous Code -->

<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
	@import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<!--<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20176365",
      url:         "https://innatour.zendesk.com",
      tabTooltip:  "Поддержка",
      tabImageURL: "https://p4.zdassets.com/external/zenbox/images/tab_ru_support_right.png",
      tabColor:    "#89c13a",
      tabPosition: "Right"
    });
  }
</script>-->