<li class="hotel-details-rooms__room"
    ng-class="{'hotel-details-rooms__room_state_open': room.isOpen, 'hotel-details-rooms__room_position_last': $last}">
    <div class="hotel-details-rooms__room-short" ng-click="toggleRoom(room)">
        <div class="hotel-details-rooms__room-short-info">
            <div class="hotel-details-rooms__room-desc">
                <h3 class="hotel-details-rooms__room-title">
                    <span class="like-link">{{room.RoomName}}</span> <!--<b>▼</b>-->
                </h3>
                <div>
                    <span class="" ng-repeat="bed in room.BedTypeList">
                        {{bed.Name}}<span ng-if="!$last">,&nbsp;</span>
                    </span>
                </div>


                <ul class="hotel-details-extra">
                    <li ng-repeat="(name, caption) in room.Extra"
                        class="hotel-details-extra__item hotel-details-extra__item_type_{{name | lowercase}}">
                        <i class="icon-type-extra icon-type-extra-{{name | lowercase}}"></i>{{caption.CategoryName}}
                    </li>
                </ul>
            </div>

            <div class="hotel-details-rooms__room-cancel-rules">
                <span class="hotel-details-rooms__room-cancel-rules-ok"
                      ng-if="room.IsRefundable && room.IsReturnsWithFine">
                    Отмена бронирования со штрафом
                </span>
                <span ng-if="!room.IsRefundable">Без возможности возврата</span>

                <div class="hotel-details-rooms__room-warning" ng-if="room.RoomCount == 1">Остался последний номер!
                </div>
                <div class="hotel-details-rooms__room-warning" ng-if="room.RoomCount == 2">Осталось два номера!</div>
                <div class="hotel-details-rooms__room-warning" ng-if="room.RoomCount == 3">Осталось три номера!</div>
            </div>

            <div class="hotel-details-rooms__room-price">
                <div class="hotel-details-rooms__room-price-diff" ng-if="!hotelOnly">
                    <span ng-if="$first">Включен в цену</span>
                    <span ng-if="!$first">{{bundle.ticket.data.PackagePrice + room.PackagePrice - bundle.getFullPackagePrice() | signed}} <ng-include
                            src="'components/ruble.html'"></ng-include></span>
                    <span class="icon-crown icon-sprite-crown" ng-if="room.IsPackage"></span>
                </div>
                <div class="hotel-details-rooms__room-price-full" ng-if="!hotelOnly">К оплате:
                    {{bundle.ticket.data.PackagePrice + room.PackagePrice | price}}
                    <ng-include src="'components/ruble.html'"></ng-include>
                </div>
            </div>

            <div class="hotel-details-rooms__room-actions">
                <button class="button button_size_xl" ng-click="goReservation(room)" ng-if="!hotelOnly">Купить</button>
            </div>
        </div>
    </div>

    <div class="hotel-details-rooms__room-long">

	    <ul class="mini-gallery" ng-if="room.Photos && (room.Photos.LargePhotos && room.Photos.LargePhotos.length)">
		    <li ng-repeat="pic in room.Photos.LargePhotos"
                class="mini-gallery__mini"
                style="background-image:url({{room.Photos.BaseUrl + pic}});">
			    <div class="mini-gallery__big">
	                <img class="mini-gallery__big-img" ng-src="{{room.Photos.BaseUrl + pic}}" alt=""/>
                </div>
                </li>
        </ul>

        <div class="hotel-details-rooms__room-long-text">
            <p ng-bind-html="room.Description | stripTags"></p>

            <h3 ng-if="room.Extra">Включено в стоимость</h3>

            <p ng-if="room.Extra">
                <span ng-repeat="(name, list) in room.Extra" ng-init="isLastExtra = $last">
                    <span ng-repeat-start="item in list.List" ng-init="isLastItem = $last">{{item}}</span>
                    <span ng-if="!isLastExtra || !isLastItem">, </span>
                    <span ng-if="isLastExtra && isLastItem" ng-repeat-end>.</span>
                </span>
            </p>

            <h3 ng-if="room.RoomAmenities">Услуги</h3>

            <p ng-if="room.RoomAmenities">
                <span ng-repeat="am in room.RoomAmenities">
                    {{am.Name}}
                    <span ng-if="!$last">,&nbsp;</span>
                    <span ng-if="$last">.</span>
                </span>
            </p>

            <div ng-if="room.CancellationRule">
                <h3>Правила отмены</h3>

                <p ng-bind-html="room.CancellationRule"></p>

                <div ng-bind-html="room.PolicyDescription"></div>
            </div>
        </div>
    </div>
</li>