<div class="b-result b-result_col_three row b-result-content">
    <div class="b-result__cell" ng-click="toggleTab('ticket')" ng-style="{cursor: (stateTicket|defined) && !stateTicket ? 'pointer' : 'default'}">

        <span class="rl-airline" ng-repeat="tr in transportersList" ng-if="transportersList.length <= 2">
            <img ng-src="{{airLogo(tr.code)}}" alt="">
            <span class="rl-airline-text">{{tr.name}}</span>
        </span>

	    <span class="rl-airline" ng-if="transportersList.length > 2">
	        <img src="/spa/img/group.png" alt="">
	        <span class="rl-airline-text">Несколько авиакомпаний</span>
		</span>


        <div class="flight-info">
            <span class="date">
                <b>
                    {{dateHelper.getTime(bundle.ticket.data.DepartureDate)}} {{bundle.ticket.data.OutCode}}
                </b>
                {{bundle.ticket.data.DepartureDate | date: 'd MMM'}}, {{bundle.ticket.data.DepartureDate | date: 'EEE'}}
            </span>

            <p class="arrow">
                в пути: {{bundle.ticket.getDuration('To')}}<br>
                {{bundle.ticket.getEtaps('To').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"без пересадок"}}
            </p>
            <span class="date">
                <b>{{dateHelper.getTime(bundle.ticket.data.ArrivalDate)}} {{bundle.ticket.data.InCode}}</b>
                {{bundle.ticket.data.ArrivalDate | date: 'd MMM'}}, {{bundle.ticket.data.ArrivalDate | date: 'EEE'}}
            </span>
        </div>

        <div class="flight-info">
                <span class="date">
                    <b>{{dateHelper.getTime(bundle.ticket.data.BackDepartureDate)}} {{bundle.ticket.data.OutCodeBack}}</b>
                    {{bundle.ticket.data.BackDepartureDate | date: 'd MMM'}}, {{bundle.ticket.data.BackDepartureDate | date: 'EEE'}}
                </span>

            <p class="arrow">
                в пути: {{bundle.ticket.getDuration('Back')}}<br>
                {{bundle.ticket.getEtaps('Back').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"без пересадок"}}
            </p>
                <span class="date">
                    <b>{{dateHelper.getTime(bundle.ticket.data.BackArrivalDate)}} {{bundle.ticket.data.InCodeBack}}</b>
                    {{bundle.ticket.data.BackArrivalDate | date: 'd MMM'}}, {{bundle.ticket.data.BackArrivalDate | date: 'EEE'}}
                </span>
        </div>
        <span class="icon-sprite-airplane"></span>

        <div class="bottom-actions">
            <a href="javascript:void(0);" class="bottom-actions__button bottom-actions__button_action_replace"
               ng-if="!displayHotel"
               ng-class="{active: stateTicket}">
                Заменить перелет
            </a>
            <a href="javascript:void(0);" class="bottom-actions__button bottom-actions__button_action_details"
               ng-click="bundleTicketDetails($event, bundle.ticket)">Подробнее</a>
        </div>

        <!-- separator -->
        <div class="b-result-cell__gap">
            <div class="b-result-cell__gap_wrap"></div>
        </div>
    </div>

    <div class="b-result__cell b-result__cell_even" ng-click="toggleTab('hotel')" ng-style="{cursor: (stateHotel|defined) && (!stateHotel || asMap) ? 'pointer' : 'default'}">
        <div class="hotel-info__special-mark" ng-if="bundle.getProfit() > 1000">
            <span class="icon-crown icon-sprite-crown"></span>
            Спецпредложение
        </div>

        <div class="hotel-info">
            <div class="hotel-info__wrapper">
                <!--{{bundle | console}}-->
                <img ng-src="{{bundle.hotel.data.HotelPhoto70}}" ng-if="bundle.hotel.data.HotelPhoto70" alt="">
                <img src="/spa/img/hotels/no_photo70x70.png" ng-if="!bundle.hotel.data.HotelPhoto70" alt="">

                <div class="hotel-info-content">
                    <!-- Stars -->
                    <div class="js-stars-container"></div>

                    <h3 class="hotel-info-name">
                        {{bundle.hotel.data.HotelName}}
                    </h3>

                    <div class="hotel-info-date">
                        с {{bundle.hotel.data.CheckIn | date: 'd MMM'}}
                        по {{bundle.hotel.data.CheckOut | date: 'd MMM'}},

                        {{bundle.hotel.data.NightCount | asQuantity:"ночь":"ночи":"ночей"}}
                    </div>
                </div>
            </div>

            <!-- tripadvisor -->
            <div class="hotel-info__tripadvisor">
                <div class="js-tripadvisor-container"></div>
            </div>
        </div>
        <span class="icon-sprite-hotel"></span>

        <div class="bottom-actions">
            <a href="javascript:void(0);"
               ng-class="{'active': (stateHotel && !asMap)}"
               ng-if="!displayHotel"
               class="bottom-actions__button bottom-actions__button_action_replace">
                Заменить отель
            </a>

            <a ng-if="displayHotel"
               class="active bottom-actions__button bottom-actions__button_action_details">
                Подробнее
            </a>

            <a ng-if="!displayHotel"
               href="{{computedUrlDetails()}}"
               target="_blank"
               class="bottom-actions__button bottom-actions__button_action_details"
               ng-class="{'active': displayHotel}">Подробнее</a>
        </div>


        <!-- separator -->
        <div class="b-result-cell__gap">
            <div class="b-result-cell__gap_wrap"></div>
        </div>
    </div>

    <div class="b-result__cell result-buy">
        <div class="js-share-component"></div>

        <p class="corner-price" ng-if="bundle.getProfit() > 1000">
            <span class="cross">{{bundle.getFullPrice() | price}} <span class="b-rub">q</span></span>
            <span class="price-description">по отдельности</span>
        </p>

        <div class="price">
            <div class="price-description" style="font-weight:normal;">Перелет + Отель</div>
            {{bundle.getFullPackagePrice() | price}}
            <ng-include src="'components/ruble.html'"></ng-include>

            <!-- tooltip price -->
            <any class="js-price-generic-container"></any>
        </div>

        <span class="price-description" ng-if="bundle.getProfit() > 1000">
            экономия: {{bundle.getFullPrice() - bundle.getFullPackagePrice() | price}}
            <ng-include src="'components/ruble.html'"></ng-include>
        </span>

        <p></p>

        <a class="button"
           href="{{computedUrlDetails('buy')}}"
           target="_blank"
           ng-if="withReservationButton">
            Купить
        </a>
    </div>
</div>



<!-- Попап - подробнее о авиа-билете -->
<div ticket-details></div>