@import "../../base.styl"
$blue = #488fcd;
$red = #E30514;
$white = #fff;
$green = #7fbb40;

$border-radius = 2px;

// begin form
$form-bg = $blue;
$form-border-radius = $border-radius;
$form-label-font-size = 17px;
$form-font-size = 15px;
$form-input-bg = $white;
$form-input-error-color = $red;

$form-btn-color = $white;
$form-btn-bg = $green;
$form-btn-font-size = 18px;
$form-btn-width = 80px;
$form-btn-border-radius = $border-radius;

$form-input-height = 36px;
$form-input-from-width = 174px;
$form-input-to-width = 200px;
$form-calendar-input-widht = 125px;
$form-list-input-widht = 110px;

$form-datapicker-bg = $blue;
$form-datapicker-bg-lighten = lighten($form-datapicker-bg, 70%);
$form-datapicker-border-color = $blue;
// end form

// begin btn
$btn-green-bg = $green;
$btn-green-bg-hover = lighten($green, 15%);
$btn-green-bg-active = darken($green, 15%);
$btn-green-color = $white;
$btn-green-border-radius = 4px;
$btn-red-border-radius = 4px;
$btn-red-bg = $blue;
$btn-red-bg-hover = lighten($btn-red-bg, 15%);
$btn-red-bg-active = darken($btn-red-bg, 15%);
$btn-red-color = $white;
// end btn



//@import "../mta/colors.styl"
//@import "../mta/index.styl"
//@import "../mta/controls.styl"
//@import "../mta/buttons.styl"
//@import "../mta/horiz-form.styl"
//@import "../mta/avia.styl"
//@import "../mta/dp.search.result.styl"
//@import "../mta/dp.hotel.details.styl"
//@import "../mta/dp.buy.styl"
//@import "../mta/map.styl"
//@import "../mta/gallery.styl"

@import "../full_wl/colors.styl"
@import "../full_wl/index.styl"
@import "../full_wl/controls.styl"
@import "../full_wl/buttons.styl"
@import "../full_wl/horiz-form.styl"
@import "../full_wl/avia.styl"
@import "../full_wl/dp.search.result.styl"
@import "../full_wl/dp.hotel.details.styl"
@import "../full_wl/dp.buy.styl"
@import "../full_wl/map.styl"
@import "../full_wl/gallery.styl"

.layout.partner{
    top: 0;
    margin-bottom: 0;
    padding: 0;
}
.hotel-details__section__crumbs{
    margin: 5px 0px;
}