.results__body_mod_avia {
  //padding-top: $padding_over_search;
  padding-top 72px
}
.banner-sale-dp {
  position absolute
  top 16px
  right 16px
  width 168px
  height 136px
  padding-top 26px
  color #313C48
  background-color #FAC700
  border-radius 3px
  text-align center
  box-sizing border-box
  cursor default
}
.banner-sale-dp__value {
  font-size 36px
}
.banner-sale-dp__desc {
  font-size 14px
}
.banner-sale-dp__btn {
  margin 9px auto 0px
  width 136px
  height 32px
  line-height 32px
  font-size 14px
  background-color #FCD53D
}