.row{
  @extend .clearFix;
  position relative
  margin-right - $col-padding;
  margin-left - $col-padding;
}
for key in (1..12){
  $cols = 12 / key
  .col-xs-{key}{
    position: relative;
    float: left;
    width: (100 / $cols) %;
    min-height: 1px;
    box-sizing: border-box;
    padding-left: $col-padding;
    padding-right: $col-padding;
  }
}
.container{
  width $container
  margin 0 auto
}
.pull-left{
  float left
}
.pull-right{
  float right
}
.text-left{
  text-align left
}
.text-right{
  text-align right
}