.row{
  @extend .clearFix;
  position relative
  margin-right - $col-padding;
  margin-left - $col-padding;
}
for key in (1..12){
  $cols = 12 / key
  .col-xs-{key}{
    position: relative;
    float: left;
    width: (100 / $cols) %;
    min-height: 1px;
    box-sizing: border-box;
    padding-left: $col-padding;
    padding-right: $col-padding;
  }
}
.container{
  width $container
  margin 0 auto
}
.pull-left{
  float left
}
.pull-right{
  float right
}
.text-left{
  text-align left
}
.text-right{
  text-align right
}
.data-row{
  @extend .clearFix;
}
.data-title{
  .data-item{
    height 38px
  }
}
.data-item{
  float left
  padding 2px 6px
  border-style dotted
  border-color #bdbdbd
  border-width 1px 0 0 1px
}
.data-col-1{
  width 110px
}
.data-col-2{
  width 200px
}
.data-col-3{
  width 220px
}
.data-col-4{
  width 100px
}
.data-col-5{
  width 38px
}
.data-col-6{
  width 90px
}
.data-col-7{
  width 90px
}
.data-col-8{
  width 110px
}
  