.icon{
  display: inline-block;
}
.icon-logo{
  background-image: url("/spa/img/logo.png");
  height: 39px;
  width: 100px;
}
.icon-logo-inna{
  background-image: url("/spa/img/innatour.png");
  height: 19px;
  width: 135px;
}