$container = 960px;
$col-padding = 5px;
$border-radius = 2px;

$form-item-height = 30px;

//header
$header-vertical-padding = 5px;
$header-height = 50px;

$color-black = #212121;
$color-black2 = #393939;
$color-gray = #757575;
$color-gray-light = #bdbdbd;
$color-gray-light2 = #e0e0e0;
$color-green = #77b237;
$color-green-hover = #67a136;
$color-green-active = #5d9635;
$link-color = #0277bd;

.clearFix{
  &:after{
    content ''
    display table
    clear both
  }
}