@import "../../base.styl"
$black = #000;
$red = #E30514;
$white = #fff;
$green = #df6228;

$border-radius = 2px;

// begin form
$form-bg = $black;
$form-border-radius = $border-radius;
$form-label-font-size = 17px;
$form-font-size = 15px;
$form-input-bg = $white;
$form-input-error-color = $red;

$form-btn-color = $white;
$form-btn-bg = $green;
$form-btn-font-size = 18px;
$form-btn-width = 80px;
$form-btn-border-radius = $border-radius;

$form-input-height = 36px;
$form-input-from-width = 174px;
$form-input-to-width = 200px;
$form-calendar-input-widht = 125px;
$form-list-input-widht = 110px;

$form-datapicker-bg = $green;
$form-datapicker-bg-lighten = lighten($form-datapicker-bg, 70%);
$form-datapicker-border-color = $green;
// end form

// begin btn
$btn-green-bg = $green;
$btn-green-bg-hover = lighten($green, 15%);
$btn-green-bg-active = darken($green, 15%);
$btn-green-color = $white;
$btn-green-border-radius = 4px;
$btn-red-border-radius = 4px;
$btn-red-bg = #df6228;
$btn-red-bg-hover = lighten($btn-red-bg, 15%);
$btn-red-bg-active = darken($btn-red-bg, 15%);
$btn-red-color = $white;
$btn-yellow-bg = #e7bd33;
$btn-yellow-color = $black;
// end btn



@import "../vokrugsveta/colors.styl"
@import "../vokrugsveta/index.styl"
@import "../vokrugsveta/controls.styl"
@import "../vokrugsveta/buttons.styl"
@import "../vokrugsveta/horiz-form.styl"
@import "../vokrugsveta/avia.styl"
@import "../vokrugsveta/dp.search.result.styl"
@import "../vokrugsveta/dp.hotel.details.styl"
@import "../vokrugsveta/dp.buy.styl"
@import "../vokrugsveta/map.styl"
@import "../vokrugsveta/gallery.styl"

.layout.partner{
    top: 0;
    margin-bottom: 0;
    padding: 0;
}
