
{{#if TaFactor > 0}}
<div class="b-tripadvisor hotel-info-tripadvisor {{withOutTd ? 'b-tripadvisor_short' : ''}}"
     title="Рейтинг TripAdvisor">

    <div class="b-tripadvisor__owl">
        <span class="icon-sprite-tripadvisor"></span>
    </div>

    <div class="b-display-table">
        {{#each TaFactorArr}}
	        {{#if active}}
		        <div class="b-display-cell">
		            <span class="icon-sprite-tripadvisor-like"></span>
		        </div>
	        {{/if}}

	        {{#if isFloat}}
                    <!-- Шаг 0.5 -->
                    <div class="b-display-cell" ng-if="data.TaFactor | isFloat">
                        <span class="icon-sprite-tripadvisor-half"></span>
                    </div>
	        {{/if}}

	        {{#if !isFloat && !active}}
                <div class="b-display-cell">
                    <span class="icon-sprite-tripadvisor-empty"></span>
                </div>
		    {{/if}}
        {{/each}}


        {{#if !withOutTd}}
        <div class="b-display-cell">
            {{#if TaCommentCount}}
                <div class="b-tripadvisor__reviews">
	                {{TaCommentCount}} {{pluralize(TaCommentCount , ["отзыв","отзыва","отзывов"])}}
                </div>
            {{else}}
                нет отзывов
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>
{{/if}}