.footer {
    //background: #000;
    background-color #303c47
    height: 300px;
    margin-top: -300px;
    position: relative;
    overflow: hidden;

    .social-list-item {
        display: inline-block;
        margin-right: 5px;
    }
}

.footer-menu {
    height: 160px;
    position: relative;
}

.footer-menu-links-list {
    position: absolute;
    top: 36px;
    width: 480px;
}

.footer-menu-links-list-item {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    width: 49%;

    a {
        //color: #fff;
        color #eff2f5
    }
}

.footer-menu-info {
    position: absolute;
    right: 0;
    //bottom: 0;
    top: 36px;
    text-align: right;

    .phone {
        font-family: ProximaNova;
        color: #fff;
        font-size: 28px;
        margin-top: 8px;
    }

    .phone-info {
        font-family: ProximaNova;
        color: #818589;
        font-size: 12px;
        margin-top: 25px;
    }
}

.footer-copyright {
    border-top: 1px solid #eff2f5;
    margin-top: 30px;
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    .info {
        //color: #818589;
        color #eff2f5
        display: inline-block;
        font-size: 9px;
        margin: 20px 0 48px;
        text-align: left;
        vertical-align: top;

        a {
            color: #818589;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .info-left {
        width: 720px;
    }
}

.footer-tripadvisor {
    //color #fff
    color #eff2f5
    font-family arial, sans-serif
    font-size 12px
    position absolute
    bottom 20px
    line-height 20px
    //vertical-align top
    display flex
    align-items center

    .icon-sprite-tripadvisor-white {
        margin-left 8px
    }
}
@media all and (max-width: 768px) {
    .footer-content {
        width: 97%;
    }
}