<div class="hotel-gallery b-carousel">
    <div class="b-carousel__prev" on-click="slidePrev"></div>
    <div class="b-carousel__next" on-click="slideNext"></div>

	{{#if countPhoto}}
        <span class="hotel-gallery-photo-button">{{countPhoto}}</span>
	{{/if}}

    <div class="hotel-gallery-container b-carousel__holder" style="width:{{width}}px;height:{{height}}px;">

        <!-- Slider -->
        <div class="b-carousel__slider" style="width:{{(photoList.length * width + 10)}}px;height:{{height}}px;">

            <div class="b-carousel_item {{map ? 'b-carousel_map_item' : ''}}"
                 style="width:{{width}}px;height:{{height}}px;" {{#if isHovered}}on-hover="hover"{{/if}}>

                <div class="b-carousel_item_image {{map ? 'b-carousel_map_item' : ''}}_image"
                     style="background-image: url({{photoList[0][imageSize]}});"></div>
            </div>

	        {{>photoListTemplates}}
        </div>
    </div>
</div>
