

color-bg-lbl-wl() {
    background: $green;
}

color-bg-share-wl() {
    background: $green;
}

color-bg-btn-wl() {
    background: $green;
}

color-border-wl(){
    border-color: $green;
}

color-datepicker-background-wl() {
    background: $red
}

color-datepicker-bg() {
    background: lighten($red, 70%);
}

arrow-color-wl() {
    color: $green;
}
