.partner-wl{
    .gallery_full{
        .gallery__viewport-wrap{
            padding 50px 0
        }
        .balloon-close{
            top -60px
        }
        .gallery__viewport{
            max-width 760px !important
        }
        .ui-slider{
            background-color transparent !important
        }
    }
    .gallery_wrapper{
        .ui-slider{
            background-color transparent !important
        }
    }
}