<div class="body">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Личный кабинет</a></li>
			<li>Настройки</li>
		</ul>

		<h1>Изменить пароль</h1>

		<div class="form">
			<form>
				<div class="row">
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-4 form-item">
								<label class="form-label" for="id1">Старый пароль</label>
								<input id="id1" class="form-input" type="password"/>
							</div>
							<div class="col-xs-4 form-item">
								<label class="form-label" for="id2">Новый пароль</label>
								<input id="id2" class="form-input" type="password" disabled/>
							</div>
							<div class="col-xs-4 form-item">
								<label class="form-label" for="id3">Новый пароль еще раз</label>
								<input id="id3" class="form-input" type="password" disabled/>
							</div>
						</div>
					</div>
					<div class="col-xs-2 form-active text-right">
						<button class="btn">Изменить</button>
					</div>
				</div>
			</form>
		</div>

		<div class="form">
			<form>
				<div class="row">
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-4 form-item form-item-error">
								<label class="form-label" for="id1">Старый пароль</label>
								<input id="id1" class="form-input" type="password"/>

								<div class="tooltip tooltip-danger">
									<span class="fa fa-times tooltip-close"></span>

									<div class="tooltip-body">
										<h2>Неверный пароль</h2>
										Пароль не подходит. Пожалуйста, проверьте, чтобы
										во время ввода пароля у вас была включена правиль-
										ная раскладка клавиатуры (был выбран верный язык)
										и чтобы был выключен CapsLock.
									</div>
								</div>
							</div>
							<div class="col-xs-4 form-item">
								<label class="form-label" for="id2">Новый пароль</label>
								<input id="id2" class="form-input" type="password" disabled/>
							</div>
							<div class="col-xs-4 form-item">
								<label class="form-label" for="id3">Новый пароль еще раз</label>
								<input id="id3" class="form-input input-validation-error" type="password" disabled/>
								<span class="field-validation-error" data-valmsg-for="OldPassword" data-valmsg-replace="true">
									<span id="OldPassword-error" class="">Укажите старый пароль</span>
								</span>
							</div>
						</div>
					</div>
					<div class="col-xs-2 form-active text-right">
						<button class="btn">Изменить</button>
					</div>
				</div>
			</form>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

		<div class="form">
			<form>
				<div class="row">
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-4 form-item">
								<label class="form-label" for="id1">Старый пароль</label>
								<input id="id1" class="form-input" type="password"/>
							</div>
							<div class="col-xs-4 form-item form-item-error">
								<label class="form-label" for="id2">Новый пароль</label>
								<input id="id2" class="form-input" type="password" value="123"/>
							</div>
							<div class="col-xs-4 form-item form-item-error">
								<label class="form-label" for="id3">Новый пароль еще раз</label>
								<input id="id3" class="form-input" type="password" value="321"/>

								<div class="tooltip tooltip-danger">
									<span class="fa fa-times tooltip-close"></span>

									<div class="tooltip-body">
										<h2>Пароли не совпадают</h2>
										Пожалуйста, проверьте, чтобы во время ввода пароля у вас была включена правильная
										раскладка клавиатуры (был выбран верный язык) и чтобы был выключен CapsLock.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-2 form-active text-right">
						<button class="btn">Изменить</button>
					</div>
				</div>
			</form>
		</div>


		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

		<div class="row">
			<div class="col-xs-6">

				<div class="tooltip">
					<span class="fa fa-times tooltip-close"></span>

					<div class="tooltip-body">
						<h2>Неверный пароль</h2>
						Пароль не подходит. Пожалуйста, проверьте, чтобы
						во время ввода пароля у вас была включена правиль-
						ная раскладка клавиатуры (был выбран верный язык)
						и чтобы был выключен CapsLock.
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="tooltip tooltip-danger">
					<span class="fa fa-times tooltip-close"></span>

					<div class="tooltip-body">
						<h2>Неверный пароль</h2>
						Пароль не подходит. Пожалуйста, проверьте, чтобы
						во время ввода пароля у вас была включена правиль-
						ная раскладка клавиатуры (был выбран верный язык)
						и чтобы был выключен CapsLock.
					</div>
				</div>
			</div>
		</div>

	</div>
</div>