<span class="filters__link" ng-click="popup.toggle()">Авиакомпании</span>
<div class="filters__baloon" ng-if="popup.isOpen">
    <header class="ra-header">
        <h4 class="ra-title">Авиакомпании</h4>
        <a class="ra-header-link" href="javascript:void(0);" ng-click="reset()">Сбросить</a>
    </header>
    <div class="ra-content">
        <ul class="ra-fly-type-list">
            <li ng-repeat="option in options">
                <label>
                    <input type="checkbox" ng-model="option.selected"  ng-change="onChange()" name="fly">
                    <span class="ra-checkbox"></span>
                    <span class="ra-fly-type">{{option.name}}</span>
                    <span class="ra-fly-price">{{option.minPrice}}&nbsp;<span class="rub">Р</span></span>
                </label>
            </li>
        </ul>
    </div>
</div>