<a href="javascript:void(0);" class="filters__link" ng-class="{filters__link_selected: options.hasSelected()}" ng-click="popup.toggle()">Дополнительно</a>
<div class="filters__baloon" ng-if="popup.isOpen">
    <header class="ra-header">
        <h4 class="ra-title">Сервисы</h4>
        <a class="ra-header-link" href="javascript:void(0);" ng-click="filter.reset()">Сбросить</a>
    </header>
    <div class="ra-content">
        <ul class="ra-fly-type-list">
            <li ng-repeat="option in options.options" ng-if="option.shown">
                <label>
                    <input type="checkbox" ng-model="option.selected">
                    <span class="ra-checkbox"></span>
                    <span class="ra-fly-type">{{option.title}}</span>
                    <span class="ra-fly-price">{{option.minPrice}}&nbsp;<span class="rub">Р</span></span>
                </label>
            </li>
        </ul>
    </div>
</div>