<aside class="results-aside results-aside_mod">
    <div class="ra-tags-container">
        <h4 class="ra-tags-title"><b>{{items.getVisibilityInfo().visible}}</b> из <b>{{items.getVisibilityInfo().total}}</b> перелетов</h4>
        <ul class="ra-tags-list" ng-repeat="filter in filters.filters">
            <li ng-repeat="option in filter.options.options" ng-if="option.selected">
                {{option.describe()}} <a href="javascrip:void(0);" ng-click="delete(option)"></a>
            </li>
        </ul>
        <a ng-if="atLeastOne()" ng-click="reset()" href="javascript:void(0);" class="ra-tags-reset">Сбросить все</a>
    </div>
</aside>