<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<a class="header-logo" href="/">
					<i title="ИННА ТУР" alt="ИННА ТУР" class="icon icon-logo"></i>
					<i title="ИННА ТУР" alt="ИННА ТУР" class="icon icon-logo-inna"></i>
				</a>
			</div>
			<div class="col-xs-6">

				<ul class="header-menu pull-right">
					<li class="header-menu-item">+7&nbsp;495 742-1212</li>
					<li class="header-menu-item">
						<a href="#" class="fa fa-question-circle" title="Помощь"></a>
					</li>
					<li class="header-menu-item dropdown">
						<span class="dropdown-toggle" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
							Biletix
							<i class="fa fa-angle-down"></i>
						</span>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><span class="dropdown-menu-item">office@biletix.ru</span></li>
							<li><a class="dropdown-menu-item" href="/dev/lk">Личный кабинет</a></li>
							<li><a class="dropdown-menu-item" href="/dev/lk/settings">настройки lk</a></li>
							<li><a class="dropdown-menu-item" href="/dev/lk/search-widget">search widget</a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>