<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name='yandex-verification' content='40fd92efcc007a47'/>
<meta name="viewport" content="initial-scale=1, user-scalable=yes">
<meta name="viewport" content="width=980">
<title>Личный кабинет</title>
<link rel="stylesheet" href="/spa/LK/css/lk.css"/>
<link rel="stylesheet" href="/spa/LK/css/font-awesome.css"/>
<link rel="stylesheet" href="/spa/js/widgets/search/build/inna-search-widget.css"/>

<!--<script src="/spa/LK/js/jquery.min.js" charset="utf-8"></script>-->
<script src="/spa/js/widgets/search/build/inna-search-widget.js" charset="utf-8"></script>
<script src="/spa/LK/js/bootstrap.min.js"></script>
<script src="/spa/LK/js/search_widget_config.js"></script>
<script src="/spa/LK/typeahead.js"></script>
<script src="/spa/js/widgets/offer/directive-inna-offer.js"></script>