.b-balloon {
  display : none;
  z-index: 2000;
  position : absolute;
  /*width : 400px;
  height : 500px;
  background : red;
  top: 200px;
  left : 50%;
  margin-left : -200px;*/

  &__content {
    padding-top : 20px;
  }
}