@import "../../base.styl"

$black = #212121;
$red = #ffdb4d;
$white = #fff;
//$green = #00b252;
$green = #fcb715;
$gray = #ababab;
$border-radius = 2px;

$rec-bg = #1AA1D8;
$res-bg = #fff;
// begin form
$form-bg = $gray;
$form-border-radius = 0;
$form-label-font-size = 17px;
$form-font-size = 15px;
$form-input-bg = $white;
$form-input-error-color = $red;

$form-btn-color = $white;
$form-btn-bg = $red;
$form-btn-font-size = 18px;
$form-btn-width = 80px;
$form-btn-border-radius = 0;

$form-input-height = 42px;
$form-input-from-width = 202px;
$form-input-to-width = 202px;
$form-calendar-input-widht = 125px;
$form-list-input-widht = 110px;

$form-datapicker-bg = $red;
$form-datapicker-bg-lighten = lighten($form-datapicker-bg, 70%);
$form-datapicker-border-color = $red;
// end form

// begin btn
$btn-green-bg = $green;
$btn-green-bg-hover = lighten($green, 15%);
$btn-green-bg-active = darken($green, 15%);
$btn-green-color = #553200;
$btn-red-border-radius = 0;
$btn-red-bg = $red;
$btn-red-bg-hover = lighten($btn-red-bg, 15%);
$btn-red-bg-active = darken($btn-red-bg, 15%);
$btn-red-color = #553200;
// end btn



@import "../kruiz-travel/colors.styl"
@import "../kruiz-travel/index.styl"
@import "../kruiz-travel/controls.styl"
@import "../kruiz-travel/buttons.styl"
@import "../kruiz-travel/horiz-form.styl"
@import "../kruiz-travel/avia.styl"
@import "../kruiz-travel/dp.search.result.styl"
@import "../kruiz-travel/dp.hotel.details.styl"
@import "../kruiz-travel/dp.buy.styl"
@import "../kruiz-travel/map.styl"
@import "../kruiz-travel/gallery.styl"

.layout.partner{
    top: 0;
    margin-bottom: 0;
    padding: 0;
}