
color-bg-lbl-wl() {
    background: transparent;
}

color-bg-share-wl() {
    background: #61a8e1;
}

color-bg-btn-wl() {
    background: linear-gradient(top, #f9484c, #e10b0b);
}

color-border-wl(){
    border-color: #c1579a;
}

color-datepicker-background-wl() {
    background: linear-gradient(top, #fd5055, #de0303);
}

color-datepicker-bg() {
    background: #e78d73;
}

arrow-color-wl() {
  color: #777893;
}


$color-border-wl = #777893;