.partner-wl {
    .reserve-form {
        padding-top:0px;
    }

    .buy-form {
        padding-top:20px;
    }

    .buy__title {
      font-size 24px;
    }

    .buy__header .buy__title {
        background-color: transparent;
        padding: 0px 15px 10px;
        color: #000;
    }

    .b__rules-flies .current {
        background: #e78d73;
    }

    .b-agreement {
        .b-checkbox {
            btx-checkbox-border()
        }

        input:checked + .b-checkbox {
            btx-checkbox-bg()
        }
    }

    .buy__blocks {
        .radio-list input:checked + .radio {
            color-bg-lbl-wl();
        }
    }

    .b-sum-container {
        background: #fff;
        border-bottom: 1px solid #fff;
    }

    .b-tickets-info-container {
        border-top: 4px solid #61a8e1;
        border-bottom: 1px solid #fff;
        background: #fff;

        &:before {
            border-top: 1px solid #fff;
        }
    }

    .page-root {
        padding-top: 5px;
    }

    .buy__result-sum {
        border-bottom: 5px solid #61a8e1;
    }
}