@import "../rusline/colors.styl"
@import "../rusline/index.styl"
@import "../rusline/controls.styl"
@import "../rusline/buttons.styl"
/*@import "../full_wl/form.styl"*/
@import "../rusline/horiz-form.styl"
@import "../full_wl/avia.styl"
@import "../rusline/dp.search.result.styl"
@import "../rusline/dp.hotel.details.styl"
@import "../rusline/dp.buy.styl"
@import "../full_wl/map.styl"
@import "../full_wl/gallery.styl"

.partner-rusline {
  .search-form-item-current {
    font-size 16px;
  }

  .layout.partner {
      top: 0px;
      margin-bottom: 0px;
      padding: 0px 0 0;
  }

  .pic-cont {
    height: 400px;
    background: url("/spa/img/partners/rusline/rusline_dp-02.png") no-repeat top center;
  }

  .spinner .rect {
    background-color: #e32828;
  }
}