@import "../rusline/colors.styl"
@import "../full_wl/index.styl"
@import "../full_wl/controls.styl"
@import "../full_wl/buttons.styl"
/*@import "../full_wl/form.styl"*/
@import "../rusline/horiz-form.styl"
@import "../full_wl/avia.styl"
@import "../full_wl/dp.search.result.styl"
@import "../full_wl/dp.hotel.details.styl"
@import "../full_wl/dp.buy.styl"
@import "../full_wl/map.styl"

.partner-rusline {
  .search-form-item-current {
    font-size 16px;
  }

  .layout.partner {
      top: 390px;
      margin-bottom: 390px;
      padding: 48px 0 0;
  }

  .pic-cont {
      background: url("http://www.rusline.aero/upload/iblock/87d/87d7796e89dcb9860b499594540470de.jpg") no-repeat top center;
  }
}