<div class="layout-light layout-transfers">
    <div class="offers-container">

        <h1>Трансфер аэропорт-отель</h1>

        <ul class="b-tabs b-tabs-block">
            <li ng-repeat="tab in tabs track by $index" ng-class="{active:tab.active}">
                <a href="#" ng-click="tabs.click(tab, $event)">{{::tab.name}}</a>
            </li>
        </ul>

        <div class="b-transfer-text">
            {{::activeTab.description}}
        </div>

        <table class="b-table">
            <thead>
                <tr>
                    <th>
                        Из аэропорта
                    </th>
                    <th>
                        Направление
                    </th>
                    <th>
                        Стоимость
                    </th>
                    <th>
                        Примечание
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="item in activeTab.data track by $index">
                <td>
                    {{::item.from}}
                </td>
                <td>
                    {{::item.to}}
                </td>
                <td>
                    {{::item.price}}
                </td>
                <td>
                    {{::item.notes}}
                </td>
            </tr>
        </table>

    </div>
</div>
