<div ng-controller="AuthCtrl" ng-show="isLoginPopupOpened">
    <div class="popup-fade"></div>
    <div class="popup-container">
        <div class="popup">
            <div class="popup-close-button" ng-click="isLoginPopupOpened = false"></div>
            <ng:include src="'/spa/templates/auth/signin.html'"></ng:include><!--
            --><ng:include src="'/spa/templates/auth/registration.html'"></ng:include>
        </div>
    </div>
</div>

























<!--
<div class="b-auth-block" ng-controller="AuthCtrl" ng-show="isLoginPopupOpened">


    <ng:include src="'/spa/templates/auth/restore.html'"></ng:include>
</div>
-->