<div class="header__user partners-hide" ng-controller="AuthCtrl">
    <!-- user comes from rootScope -->
    <ng:include src="'auth/form.html'"></ng:include>

    <ul class="header__user-nav" ng-if="user">
        <li>
	        <a href="javascript:void(0);" ng-click="showProfile($event)" class="header__user-nav-name">
                <i class="fa fa-user"></i>
                <span title="{{user.displayName()}}" class="header__user-nav-name-text">{{user.displayName()}}</span>
	        </a>
        </li>
        <li ng-if="user.raw.MessagesCount > 0">
            <i class="fa fa-envelope"></i>
	        <a href="{{B2B_HOST}}/Message">
                <span class="header__user-nav-counter">{{+user.raw.MessagesCount}}</span>
	        </a>
        </li>
        <li>
	        <a href="javascript:void(0);" ng-click="logout()">Выйти</a>
        </li>
    </ul>
    <!--<div ng-if="user.raw.AgencyName" class="header__user-company"><a href="{{B2B_HOST}}/">{{user.raw.AgencyName}}</a></div>-->

    <ul class="header__user-nav" ng-if="!user">
        <li>
	        <i class="icon-sprite-key-icon"></i>
	        <a href="javascript:void(0)" ng-click="regOpenClick()" class="header__user-nav-reg">{{ authLinkTitile }}</a>
        </li>
    </ul>
</div>