<form class="popup-form profile-form" ng-controller="AuthProfileCtrl">
    <h3 class="popup-form-title" style="padding-left: 64px; text-align: left">Настройки профиля</h3>
    <div class="popup-form-row">
        <label for="" class="popup-form-label">Имя</label>
        <input type="text" class="popup-form-field" ng-model="user.raw.FirstName">
    </div>
    <div class="popup-form-row">
        <label for="" class="popup-form-label">Фамилия</label>
        <input type="text" class="popup-form-field" ng-model="user.raw.LastName">
    </div>
    <div class="popup-form-row">
        <label for="" class="popup-form-label">Email</label>
        <input type="text" class="popup-form-field" ng-disabled="!user.raw.IsSocial" ng-model="user.raw.Email">
        <div class="description" ng-if="!errors.email">
            На этот адрес мы отправим Ваш электронный билет
        </div>
        <div class="description" style="color:red" ng-if="errors.email">
            Введите, пожалуйста, действующий адрес электронной почты
        </div>
    </div>

    <div class="popup-form-row" ng-if="!user.raw.IsSocial">
        <a href="javascript:void(0);" class="forgot-password" ng-click="allowChangePassword()" ng-if="!state.allowChangePassword">Сменить пароль</a>
        <label for="" class="popup-form-label">Текущий пароль</label>
        <input type="password" class="popup-form-field" ng-disabled="!state.allowChangePassword" ng-model="currentPassword">
        <div class="description" style="color:red" ng-show="errors.currentPassword">
            Введите, пожалуйста, текущий пароль
        </div>
    </div>
    <div class="popup-form-row" ng-show="state.allowChangePassword">
        <label for="" class="popup-form-label">Новый пароль</label>
        <input type="password" class="popup-form-field" ng-model="newPassword">
        <div class="description" style="color:red" ng-show="errors.emptyPassword">
            Пароль не может быть пустым
        </div>
        <div class="description" style="color:red" ng-show="errors.passwordMinLength">
            Пароль не может быть короче 6 символов
        </div>
    </div>
    <div class="popup-form-row" ng-show="state.allowChangePassword">
        <label for="" class="popup-form-label">Еще раз</label>
        <input type="password" class="popup-form-field" ng-model="newPassword2">
        <div class="description" style="color:red" ng-show="errors.passwordNotMatch">
            Пароли не совпадают!
        </div>
    </div>

    <div class="popup-form-row">
        <label for="" class="popup-form-label">Телефон</label>
        <input type="text" class="popup-form-field" ng-model="user.raw.Phone">
        <div class="description" ng-show="!errors.phone">
            Мы обязательно позвоним, если ваш рейс отменят или перенесут
        </div>
        <div class="description" style="color:red" ng-show="errors.phone">
            Введите, пожалуйста, телефон в формате +79123456789
        </div>
    </div>
    <div class="popup-form-row popup-form-row-submit">
        <button type="submit" class="button" ng-click="save()">Отправить</button>
    </div>
</form>