<div class="b-auth-block__section" ng-controller="AuthRegistrationCtrl">
    <h1>Регистрация</h1>
    <form>
        <div>
            <label>Почта</label>
            <input ng-model="email">
            <div class="b-validation-error" ng-show="errors.email">Ошибка валидации</div>
        </div>
        <div>
            <label>Имя</label>
            <input ng-model="firstName">
            <div class="b-validation-error" ng-show="errors.firstName">Ошибка валидации</div>
        </div>
        <div>
            <label>Фамилия</label>
            <input ng-model="lastName">
            <div class="b-validation-error" ng-show="errors.lastName">Ошибка валидации</div>
        </div>
        <div>
            <label>Телефон</label>
            <input ng-model="phone">
            <div class="b-validation-error" ng-show="errors.phone">Ошибка валидации</div>
        </div>
        <div>
            <label>Пароль</label>
            <input ng-model="password">
            <div class="b-validation-error" ng-show="errors.password">Ошибка валидации</div>
            <div class="b-validation-error" ng-show="errors.passwordMinLength">Ошибка валидации (6 символов)</div>
        </div>
        <div>
            <label>Подтверждение</label>
            <input ng-model="password2">
            <div class="b-validation-error" ng-show="errors.password2">Ошибка валидации</div>
        </div>
        <div>
            <button ng-click="register()">Погнали!</button>
        </div>
    </form>
    <div ng-show="showLanding">
        Вам все выслано на почту, ляляля
    </div>
    <div ng-show="requestFailure">
        Данный email уже зарегистрирован.
    </div>
</div>