<form class="popup-form recover-password-form {{({'true': 'reg-form-result', 'false': ''})[showLanding]}}"
      ng-controller="AuthPwdRerstoreCtrl_A"
      ng-show="!restoreToken">
    <h3 class="popup-form-title">Восстановить пароль</h3>
    <div ng-show="!showLanding">
        <div class="popup-form-row">
            <label for="" class="popup-form-label">E-mail при регистрации</label>
            <input type="text" class="popup-form-field {{({'true': 'error', 'false': ''})[errors.email || requestFailure]}}" ng-model="email"/>
            <span class="message" ng-show="errors.email">Пожалуйста, введите действующий адрес электронно почты</span>
            <span class="message" ng-show="requestFailure">Пользователь с таким адресом электронной почты не обнаружен</span>
        </div>
        <div class="popup-form-row popup-form-row-submit">
            <button type="submit" class="button" ng-click="sendToken()">Отправить</button>
        </div>
        <div class="back-to-auth" ng-if="partnerSputnik">
            <span ng-click="goToSignIn()">Вернуться к форме входа</span>
        </div>
        <!-- закоментировал в рамках задачи https://innatec.atlassian.net/browse/IN-4811
        <ng:include src="'auth/social.inc.html'" ng-show="!partnerSputnik"></ng:include>
        -->
    </div>
    <div ng-show="showLanding">
        <span class="icon-letter"></span>
        <p class="reg-form-result-text">
            <b class="reg-form-result-text-warning">Письмо успешно выслано</b><br>
            Проверьте свой электронный ящик {{email}}
        </p>
    </div>
</form>

<form class="popup-form recover-password-form {{({'true': 'reg-form-result', 'false': ''})[showLanding]}}"
      ng-controller="AuthPwdRerstoreCtrl_B"
      ng-show="restoreToken">
    <h3 class="popup-form-title">Новый пароль</h3>
    <div class="popup-form-row">
        <label for="" class="popup-form-label">Введите новый пароль</label>
        <input type="password" class="popup-form-field {{hasError('password')}} {{hasError('passwordMinLength')}} " ng-model="password"/>
        <span class="message" ng-show="errors.password">Пароль не может быть пустым!</span>
        <span class="message" ng-show="errors.passwordMinLength">Минимальная длина пароля - 6 символов</span>
        <label for="" class="popup-form-label">И еще раз</label>
        <input type="password" class="popup-form-field {{hasError('password2')}}" ng-model="password2"/>
        <span class="message" ng-show="errors.password2">Пароли не совпадают</span>
    </div>
    <div class="popup-form-row popup-form-row-submit">
        <button type="submit" class="button" ng-click="setNewPassword()">Отправить</button>
    </div>
    <div ng-show="requestFailed">
        Что-то пошло не так... Попробуйте начать процедуру восстановления пароля сначала.
    </div>
    <div ng-show="success">
        Новый пароль успешно установлен. Через несколько секунд вы будете перенаправлены на главную страницу.
    </div>
</form>