<form class="popup-form auth-form" ng-controller="AuthSignInCtrl" id="social-broker-listener">
    <h3 class="popup-form-title">Войти</h3>
    <div class="popup-form-row">
        <label for="" class="popup-form-label">Логин</label>
        <input type="text" class="popup-form-field" ng-model="username"/>
        <div class="b-validation-error" ng-show="errors.username">Поле должно быть заполнено</div>
    </div>
    <div class="popup-form-row">
        <label for="" class="popup-form-label">
            Пароль
            <a href="" class="forgot-password">Забыли пароль?</a>
        </label>
        <input type="password" class="popup-form-field" ng-model="password"/>
        <div class="b-validation-error" ng-show="errors.password">Поле должно быть заполнено</div>
    </div>
    <div class="popup-form-row popup-form-row-submit">
        <div class="remember-me">
            <span class="checkbox"></span><label class="checkbox-label">Запомнить меня</label>
        </div>
        <button type="submit" class="button" ng-click="signIn()">Войти</button>
    </div>
    <div ng-show="requestFailure">
        Неверное имя пользователя или пароль
    </div>
    <div class="popup-form-row popup-form-row-submit popup-form-row-social-buttons">
        <a href="javascript:void(0);" class="social-button social-button-fb" ng-click="signInWith('facebook')"></a>
        <a href="javascript:void(0);" class="social-button social-button-google" ng-click="signInWith('google')"></a>
        <a href="javascript:void(0);" class="social-button social-button-vk" ng-click="signInWith('vkontakte')"></a>
        <a href="javascript:void(0);" class="social-button social-button-twitter" ng-click="signInWith('twitter')"></a>
        <a href="javascript:void(0);" class="social-button social-button-odnoklassniki" ng-click="signInWith('odnoklassniki')"></a>
        <label class="popup-form-label">Войти через соц. сети</label>
    </div>
</form>