<div class="popup-form-row popup-form-row-submit popup-form-row-social-buttons">
    <a href="javascript:void(0);" class="social-button social-button-fb" ng-click="signInWith('facebook')"></a>
    <a href="javascript:void(0);" class="social-button social-button-google" ng-click="signInWith('google')"></a>
    <a href="javascript:void(0);" class="social-button social-button-vk" ng-click="signInWith('vkontakte')"></a>
    <a href="javascript:void(0);" class="social-button social-button-twitter" ng-click="signInWith('twitter')"></a>
    <a href="javascript:void(0);" class="social-button social-button-odnoklassniki" ng-click="signInWith('odnoklassniki')"></a>
    <label class="popup-form-label">Войти через соц. сети</label>
</div>