<div class="popup-fade" ng-show="isOpened"></div>
<div class="popup-container" ng-show="isOpened">
    <div class="popup">
        <div class="popup-close-button" ng-click="popupForm_Close()"></div>
        <form class="offer-order-form">
            <legend class="form-header">Оставьте вашу заявку</legend>
            <div class="field-row">
                <input class="field" type="text" ng-model="request.name" placeholder="Имя"/>
            </div>
            <div class="field-row">
                <input class="field" ng-class="{error:!request.isValid}" type="text" ng-model="request.phone" placeholder="Мобильный телефон"/>
                <span class="field-error" ng-show="!request.isValid">Необходимо ввести мобильный телефон</span>
            </div>
            <div class="field-row">
                <input class="field" type="text" ng-model="request.email" placeholder="Email"/>
            </div>
            <div class="field-row">
                <textarea name="" class="field-text" ng-model="request.comments">
                {{request.comments | breakFilter}}
                </textarea>
            </div>
            <div class="description offer-description" ng-click="request.subscribeClick()" ng-show="request.type == requestType.main">
				<span class="checkbox" ng-class="{checked:request.isSubscribe}"></span><label class="checkbox-label">Я люблю путешествовать и хочу получать рассылку с самыми выгодными и интересными предложениями</label>
			</div>
            <!--<div class="description offer-description" ng-show="request.type == requestType.cat_it">Отвечаем в течение 24 часов</div>-->
            <button type="submit" class="button offer-submit" ng-click="request.send()">Отправить</button>
        </form>
    </div>
</div>