.pin {
	position: absolute;
	left: -99999;
	z-index: 400;
  transform-style: preserve-3d;


	.pin-point {
		background: url('/spa/img/map/pin-grey.png');
		cursor: pointer;
		height: 50px;
		left: -16px;
		position: absolute;
		top: -43px;
		width: 56px;

		&:before {
			background: url('/spa/img/map/pin-hanger.png');
			content: '';
			display: block;
			height: 17px;
			left: 12px;
			position: absolute;
			top: 8px;
			width: 10px;
		}
	}


	&:hover {
		z-index: 2;

		.pin-point {
			background: url('/spa/img/map/pin-black.png');
		}

		.pin-circle {
			background: #272727;
		}
	}

	&.green {
		.pin-point {
			cursor: pointer;
			background: url('/spa/img/map/pin-green.png');
		}

		.pin-circle {
			cursor: pointer;
			background: #67912c;
		}
	}


	.pin-balloon {
		transform : translate(50%, 0);
		border-radius: 5px;
		background: #fff;
		box-shadow: 0 3px 3px rgba(0, 0, 0, .6);
		position: absolute;
    bottom: 43px;
		right: 0;
		width: 360px;

    .css-pin-balloon-close {
      border-radius : 4px;
      position : absolute;
      right : 10px;
      top: 10px;
      padding : 3px;
      line-height : 0;
      background : #fff;
      cursor: pointer;
      z-index : 2000;
    }


		&:before {
			border-style: solid;
			border-width: 12px 11px 0 11px;
			border-color: #fff transparent transparent transparent;
			bottom: -10px;
			content: '';
			display: block;
			height: 0;
			position: absolute;
			left: 50%;
			margin-left: -11px;
			width: 0;
			z-index: 2;
		}
		&:after {
			background: url('/spa/img/map/balloon-corner-shadow.png');
			bottom: -13px;
			content: '';
			display: block;
			height: 13px;
			left: 50%;
			margin-left: -12px;
			position: absolute;
			width: 24px;
			z-index: 1;
		}
		.hotel-gallery {
			border-radius: 5px 5px 0 0;
			overflow: hidden;
			position: relative;


			img {
				position: static;
			}
		}

		.hotel-gallery-container {
			height: 240px;
		}
		.hotel-gallery-photo-button {
			border-radius: 2px;
			background: url('/spa/img/map/photo.png') 13px 5px no-repeat #89c13a;
			bottom: 5px;
			color: #fff;
			display: inline-block;
			font-size: 18px;
			line-height: 30px;
			padding: 0 13px 0 38px;
			position: absolute;
			left: 4px;
			text-decoration: none;
			z-index: 1000;
		}
		.hotel-name {
			font-size: 18px;
      margin-bottom : 10px;
		}

		.b-tripadvisor {
			margin: 25px 0 2px;
		}

		.details-link {
			color: #1e88c1;
			display: inline-block;
			font-size: 14px;
			margin-top: 8px;
		}
		.hotel-info-price-container {
			color: #878787;
			font-size: 12px;
		}

		.hotel-info-price {
			color: #000;
			font-size: 24px;

			span{
				display inline-block;
				margin-left 3px
				font-size 13px
			}
		}
		.hotel-info-price-full{
			margin 4px 0 5px;
			font-size 13px;
			color #000;

			.fa{
				margin-left 3px
			}
		}
		.button {
			font-size: 18px;
			height: 31px;
			width: 120px;
		}
	}

	.pin-balloon-info {
		padding: 10px;
	}

  &.big-map__balloon {
    .pin-balloon {
      right : auto;
      bottom : auto;
			transform: translate(3%, -54%);

      &:before {
        transform: rotate(90deg);
        border-style: solid;
        border-width: 12px 11px 0 11px;
        border-color: #fff transparent transparent transparent;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        left: -6px;
        bottom : auto;
        top: 50%;
        margin-top: -11px;
        width: 0;
        z-index: 2;
      }

      &:after {
        transform: rotate(90deg);
        background: url('/spa/img/map/balloon-corner-shadow.png');
        content: '';
        display: block;
        height: 13px;
        left: -7px;
        bottom : auto;
        top: 50%;
        margin-top: -12px;
        position: absolute;
        width: 24px;
        z-index: 1;
      }
    }
  }

	&.pin_mini {

		.pin-balloon {
			padding: 10px;
			color: #000;
			font-weight: bold;
			font-size: 16px;
			width: 250px;

			.color-gray {
				color: #878787;
			}
		}
	}
}