.big-map {
  position fixed
  top  $full_padding - 50px
  left 0
  right 0
  bottom 0

  &.big-map_short {
    //top $short_padding - 50
    top 230px
  }
  &.big-map_short-full {
    top 230px
  }
  &.big-map_short-no-full {
    //top 180px
    top 338px
  }

  .b-hotels-on-map {
    height 100%
    width 100%
  }

  .cluster {
    /*background : url('/spa/img/map/pin-circle.png') no-repeat 0 0;*/
    /*background-size : 50px 50px;*/

    div {
      padding-top: 9px;
      overflow: hidden;
    }

    img {
      display: block
      width: 50px;
      height: 50px;
    }

    .pin-circle {
      background url('/spa/img/map/pin-circle.png')
      color #fff
      cursor pointer
      font-size 14px
      height 62px
      line-height 80px
      position absolute
      text-align center
      width 62px
      margin -31px 0 0 -31px
    }
  }
}