
color-bg-lbl-wl() {
    background: linear-gradient(top, #e3c048, #d5b444);
}

color-bg-share-wl() {
    background: #e3c048;
}

color-bg-btn-wl() {
    background: linear-gradient(top, #e3c048, #d5b444);
}

color-border-wl(){
    border-color: #e3c048;
}

color-datepicker-background-wl() {
}

color-datepicker-bg() {
}

arrow-color-wl() {
}
