
@import "../../base.styl"
/*@import "../full_wl/colors.styl"*/
@import "colors.styl"
@import "../full_wl/full_wl.base.styl"
@import "../full_wl/index.styl"
@import "../full_wl/controls.styl"
@import "../full_wl/buttons.styl"
@import "../full_wl/horiz-form.styl"
@import "../full_wl/avia.styl"
@import "../full_wl/dp.search.result.styl"
@import "../full_wl/dp.hotel.details.styl"
@import "../full_wl/dp.buy.styl"
@import "../full_wl/map.styl"
@import "../full_wl/gallery.styl"



.layout.partner {
    top: 0; 
    margin-bottom: 0;
    padding: 0;
}