<div class="hotel-gallery b-carousel" on-hover="hover">

	{{#if photoList.length}}
        <div class="b-carousel__prev" on-click="slidePrev"></div>
        <div class="b-carousel__next" on-click="slideNext"></div>
	{{/if}}

	{{#if countPhoto}}
        <span class="hotel-gallery-photo-button">{{countPhoto}}</span>
	{{/if}}

    <div class="hotel-gallery-container b-carousel__holder" style="width:{{width}}px;height:{{height}}px;">

        <!-- Slider -->
        <div class="b-carousel__slider" style="width:{{(photoList.length * width) + 10}}px;height:{{height}}px;">

            <!-- показываем первую картинку -->
            <div class="b-carousel_item"
                 style="width:{{width}}px;height:{{height}}px;">

                <div class="b-carousel_item_image"
                     style="background-image: url({{photoList[0][imageSize]}});"></div>
            </div>


            <!-- остальные показываем после события hover -->
			{{#each photoCollection}}
                <div class="b-carousel_item"
                     style="width:{{width}}px;height:{{height}}px;">

                    <div class="b-carousel_item_image"
                         style="background-image: url({{.[imageSize]}});"></div>
                </div>
			{{/each}}
        </div>
    </div>
</div>