.partner-wl {
    .b-promo-code__button {
        background-color $green
    }

    .button-orange{
        color $btn-yellow-color !important
        background $btn-yellow-bg !important
        border-radius 0
    }

    .btn-green{
        color $btn-green-color
        background $btn-green-bg

        &:hover{
            background $btn-green-bg-hover
        }
        &:active{
            background $btn-green-bg-active
        }
    }

    .balloon-button {
        btx-button-color1();
    }

    .result-buy .button {
        btx-button1();
    }

    .b-list-panel__hotels_list .button {
        btx-button3();
    }

    .rl-buy-button {
        btx-button2();
    }

    .hotel-details-rooms__room-actions .button {
        btx-button1();
    }

    .b-tooltip-share__button.active {
        color-bg-share-wl();
    }

    .b-sum-button {
        btx-button-color1();
    }

    .b-pay-button {
        btx-button-color1();
        padding 12px 25px
    }

    .wl-container {
        .button {
            padding: 10px 16px;
            width: 140px;
            text-align: center;
            background-color $btn-yellow-bg
            font-weight bold

            &.wl-search {
                margin 6px 0 0 0;
                text-transform: uppercase;
                position: absolute;
                right: 6px;
                font-size: 14px;
                border-radius $btn-red-border-radius
                color $btn-yellow-color
            }
        }

        .wl-text {
            position: absolute;
            display: block;
            left: 0;
            top: 9px;
        }
    }

    .pin .pin-balloon .button {
        padding: 0;
        btx-button-color2();
    }

    /*кнопка на форме на покупке*/
    .buy-comment-submit {
        btx-button-color1();
    }
        

    .spinner{
        .rect{
            background-color: $green;
        }
    }
}