.header, .footer, .wrap-notif-new-design {
    display: none;
}

.wrpr{
  //padding-bottom: 1px !important;
}
//.b-search-form{
//    top: 150px;
//}
  
.page-buy-success{
  padding-top 20px;
}
  
.partners-hide {
    display: none!important;
}

.partner-wl {
/*чтобы работал ресайз фрейма*/
    .main {
        min-height: 500px;
    }

    .partner-body-noscroll {
        overflow: hidden;
    }
    
    .light-theme {
        //background-color: #fff;
        
        //&.partner-body-class {
        //    background: transparent;
        //}
        .offers-black {
            background: transparent;
        }
        .offers-dark-grey {
            background: transparent;
        }

        //.buy-passanger__block{
        //    background none
        //}
    }

    .main .wrpr {
        padding-bottom: 0px !important;
    }

    .pic-cont {
        height: 96vh;
        width: 100%;
        /*text-align: center;*/
        background url('/spa/img/partners/komandacard/banner_rosneft.png') center/cover no-repeat;
        min-height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;r

        .wrapper {
            padding-top 450px
        }

        .search-form__submit {
            background-color #d04138
        }
    }
        .header__container{
            display none;
        }
}