<div class="b-switch-filters {{asMap ? 'b-switch-filters_map' : ''}}{{ isActiveHotels ? 'b-switch-filters_hotels' : ''}}">

    {{#if filters.length}}
    <div class="ra-tags-container" style="margin-bottom: 10px;">
        <div class="b-switch-filters__result">
			{{#each filters}}
                <IndicatorFiltersItem filterItem="{{.}}" />
			{{/each}}

			{{#if filters.length}}
                <span on-click="resetAllFilters" class="ra-tags-reset like-link">
	                Сбросить все фильтры
                </span>
			{{/if}}
        </div>
    </div>
    {{/if}}
    
    <DpServices/>

</div>