<div class="b-switch-filters {{(asMap)? 'b-switch-filters_map' : ''}}">

    <div class="ra-tags-container">
        <div class="b-switch-filters__result">
			{{#each filters}}
                <IndicatorFiltersItem filterItem="{{.}}" />
			{{/each}}

			{{#if filters.length}}
                <span on-click="resetAllFilters" class="ra-tags-reset like-link">
	                Сбросить все фильтры
                </span>
			{{/if}}
        </div>
    </div>

    <div class="b-dp-services">
        <div class="b-dp-services__title">
            Включено в стоимость:
        </div>
        <ul class="b-dp-services__list">
            <li class="b-dp-services__list-item">
                <i class="b-dp-services__list-item-icon fa fa-plane"></i>
                Авиаперелет
            </li>
            <li class="b-dp-services__list-item">
                <i class="b-dp-services__list-item-icon fa fa-bed"></i>
                Проживание
            </li>
            <li class="b-dp-services__list-item">
                <i class="b-dp-services__list-item-icon fa fa-medkit"></i>
                Страховка
            </li>
            <li class="b-dp-services__list-item">
                <i class="b-dp-services__list-item-icon icon-fuel"></i>
                Топливный сбор
            </li>
        </ul>
        <div class="b-dp-services__title">
            Дополнительно:
        </div>
        <ul class="b-dp-services__list">
            <li class="b-dp-services__list-item">
                <i class="b-dp-services__list-item-icon fa fa-bus"></i>
                Трансфер
            </li>
        </ul>
    </div>

</div>