<!-- Рекомендованный вариант пакета -->

<div dynamic-bundle-root
     ng-if="combination.hotel && combination.ticket && !hotelToShowDetails"></div>


<!-- List Panel hotels and tickets -->
<div class="results-body">


	<div class="results-container results-container_list"
	     ng-class="{'results-container__short':!padding}"
	     ng-show="(!showLanding && !hotelToShowDetails && !asMap)"></div>


	<div dynamic-serp-map
	     dynamic-serp-map-hotels="hotels"
	     map-hotels="hotelsForMap"
	     as-map="asMap"
	     dynamic-serp-map-combination="combination"
	     dynamic-serp-map-airports="airports"
	     ng-if="hotels.list.length && asMap"></div>


	<btn-top ng-show="goToTopShow && !asMap"></btn-top>
	<!--<span class='button button-scroll-to-top'><span class='icon-sprite-arrow-top'></span>Наверх</span>-->


</div>