<!-- Рекомендованный вариант пакета -->

<div recommended-pair-component
     class="recommended-pair-component"
     ng-if="recommendedPair.hotel && recommendedPair.ticket && !hotelToShowDetails"></div>


<!-- List Panel hotels and tickets -->
<div class="results-body" id="top">


    <div class="results-container results-container_list"
         ng-class="{'results-container__short':!padding}"
         ng-show="(!showLanding && !hotelToShowDetails && !asMap)"></div>


    <div hotels-map
         hotels="hotels"
         map-hotels="hotelsForMap"
         as-map="asMap"
         recommended-pair="recommendedPair"
         airports="airports"
         ng-if="hotels.list.length && asMap"></div>


</div>

<div ng-show="!asMap">
    <btn-top></btn-top>
</div>

<!-- Попап - подробнее о авиа-билете -->
<div ticket-details></div>