.icon-menu{
  width 24px
  height 24px
  margin-left 15px

  &:hover{
    cursor pointer
  }
}
.icon-menu_green{
    background-image: url(/spa/img/Menu_G.png);
}
.icon-menu_white{
    background-image: url(/spa/img/Menu_W.png);
}
.vertical-menu{
  z-index 100000
  background-color #ffffff
  width 180px
  position absolute
  top 50px
  right 0px
  border-radius 3px
  border 1px solid #C9D2DB

  .b-navbar-menu{

  }

  a{
    color #313C48
    width 100%
    height 100%

    &:hover{
      text-decoration none
    }
  }

  .menu__ul-li{
    height 30px
    line-height 30px
    padding-left 20px
    font-size 15px
  }

  .menu__ul_main-tab{
      border-bottom 1px solid #C9D2DB

      li {
        height 40px
        line-height 40px
        padding-left 20px
        font-size 15px
      }
  }
}