<div class="big-map" ng-class="{'big-map_short':mapSize}">
	<div id="big-map-canvas" class="b-hotels-on-map"></div>

	<div class="pin big-map__balloon ng-hide" ng-show="currentHotel">
		<div class="pin-balloon">

			<span class="css-pin-balloon-close" ng-click="activeMarkerReset()">
				<i class="icon-sprite-remove"></i>
			</span>


			<!-- компонент карусели -->
			<div hotel-gallery-directive
			     is-map="true",
			     photo-hotel="currentHotel.Photos",
			     width="360",
			     height="240"></div>


			<div class="pin-balloon-info">
				<!-- Stars -->
                <span stars-directive
                      hotel-data="currentHotel.Stars"></span>

				<h3 class="hotel-name">{{currentHotel.HotelName}}</h3>

				<!-- ROW -->
				<div class="row">
					<div class="col-xs-7 col-no-padding">

						<!-- tripadvisor -->
						<div trip-advisor-directive hotel-data="currentHotel"></div>
						

						

						<div>
							<a link-in-new-window-if-can href="{{computedUrlDetails()}}" target="_blank" ng-click="hotelDetails(currentHotel)"
							   class="details-link">Подробнее</a>
						</div>
					</div>

					<div class="pull-right col-no-padding hotel-info-price-container" ng-if="!CostPerPersonShow">
						<span>Перелет + Отель</span>

						<h3 class="hotel-info-price">
							{{currentHotel.PackagePrice | price}}
							<ng-include src="'components/ruble.html'"/>
						</h3>

						<button class="button"
						        ng-click="setHotel(currentHotel)">
							Выбрать
						</button>
					</div>


					<div class="pull-right col-no-padding hotel-info-price-container" ng-if="CostPerPersonShow">
						<h3 class="hotel-info-price">
							{{currentHotelPreview.CostPerPerson | price}}
							<span>
								<i class="fa fa-rub"></i>/чел
							</span>
						</h3>
						<div class="hotel-info-price-full">
							К оплате:
							{{currentHotelPreview.PackagePrice | price}}
							<i class="fa fa-rub"></i>
						</div>
						<button class="button"
								ng-click="setHotel(currentHotel)">
							Выбрать
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Показываем при наведении на маркер -->

	<div class="pin big-map__balloon_preview ng-hide" ng-show="currentHotelPreview">
		<div class="pin-balloon">
			<div class="pin-balloon-info">

				<!-- Stars -->
                <span stars-directive
                      hotel-data="currentHotelPreview.Stars"></span>

				<h3 class="hotel-name">{{currentHotelPreview.HotelName}}</h3>

				<!-- ROW -->
				<div class="row">
					<div class="col-xs-7 col-no-padding">

						<!-- tripadvisor -->
						<div trip-advisor-directive hotel-data="currentHotelPreview"></div>

					</div>

					<div class="pull-right col-no-padding hotel-info-price-container" ng-if="!CostPerPersonShow">
						<span>Перелет + Отель</span>

						<h3 class="hotel-info-price">
							{{currentHotelPreview.PackagePrice | price}}
							<ng-include src="'components/ruble.html'"/>
						</h3>
					</div>
					<div class="pull-right col-no-padding hotel-info-price-container" ng-if="CostPerPersonShow">
						<h3 class="hotel-info-price">
							{{currentHotelPreview.CostPerPerson | price}}
							<span>
								<i class="fa fa-rub"></i>/чел
							</span>
						</h3>
						<div class="hotel-info-price-full">
							К оплате:
							{{currentHotelPreview.PackagePrice | price}}
							<i class="fa fa-rub"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="pin pin_mini big-map__balloon_air ng-hide" ng-show="airport">
		<div class="pin-balloon">
			<div class="row">
				<div class="col-xs-9 col-no-padding">{{airport.Name}}</div>
				<div class="col-xs-3 col-no-padding col-xs-push-1 color-gray">{{airport.CodeIata}}</div>
			</div>
		</div>
	</div>
</div>