@font-face{
    font-family: 'HouschkaRoundedAlt-Medium';
    src: url('fonts/HouschkaRoundedAlt-Medium.eot?#iefix') format('embedded-opentype'), 
    url('fonts/HouschkaRoundedAlt-Medium.otf') format('opentype'),
    url('fonts/HouschkaRoundedAlt-Medium.woff') format('woff'), 
    url('fonts/HouschkaRoundedAlt-Medium.ttf') format('truetype'), 
    url('fonts/HouschkaRoundedAlt-Medium.svg#HouschkaRoundedAlt-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'HouschkaRoundedAlt-Bold';
    src: url('fonts/HouschkaRoundedAlt-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HouschkaRoundedAlt-Bold.otf') format('opentype'),
    url('fonts/HouschkaRoundedAlt-Bold.woff') format('woff'),
    url('fonts/HouschkaRoundedAlt-Bold.ttf') format('truetype'), 
    url('fonts/HouschkaRoundedAlt-Bold.svg#HouschkaRoundedAlt-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
