<aside class="b-switch-filters results-aside results-aside_mod results-aside_mod_horizontal">
    <div class="ra-tags-container">
        <div class="b-switch-filters_buttons">

            <div class="b-switch-filters_buttons_left b-display-inline">
                <span ng-click="action()" class="button-map-list b-display-inline"></span>
            </div>

            <div class="b-switch-filters_buttons_right font-medium b-display-inline">
                <b>{{items.getVisibilityInfo().visible}}</b> из <b>{{items.getVisibilityInfo().total}}</b> {{items.getVisibilityInfo().total | choosePlural:name}}
            </div>
        </div>

        <div class="b-switch-filters__result">
            <ul class="b-switch-filters__list ra-tags-list" ng-repeat="filter in filters.filters">

                <li class="b-switch-filters__item"
                    ng-repeat="option in filter.options.options"
                    ng-if="option.selected">

                    <span ng-bind-html="option.describe()"></span>
                    <a class="b-switch-filters__item_close" href="javascript:void(0);" ng-click="delete(option)"></a>
                </li>
            </ul>

            <a ng-if="atLeastOne()" ng-click="reset()" href="javascript:void(0);" class="ra-tags-reset">Сбросить все</a>
        </div>
    </div>
</aside>