<aside class="results-aside results-aside_mod" ng-if="items.list.length">
    <div class="ra-tags-container">
        <div class="b-switch-filters_buttons">
            <div class="b-switch-filters_buttons_left b-display-inline" ng-if="isMap">
                <span ng-click="action()" class="button-map-list"></span>
            </div>
        </div>
        <div class="b-switch-filters__result">
            <ul class="b-switch-filters__list ra-tags-list" ng-repeat="filter in filters.filters">
                <li class="b-switch-filters__item"
                    ng-repeat="option in filter.options.options"
                    ng-if="option.selected">
                    <span ng-bind-html="option.describe()"></span>
                    <span class="b-switch-filters__item_close icon-sprite-remove"
                       ng-click="delete(option)"></span>
                </li>
            </ul>
            <a ng-if="atLeastOne()" ng-click="reset()" href="javascript:void(0);" class="ra-tags-reset">Сбросить все фильтры</a>
        </div>
    </div>
</aside>