.b-bus-typeahead {
    width 528px
    font-size: 15px;

    .selectize-dropdown,
    .selectize-input,
    .selectize-input input {
        padding-top: 11px;
        padding-bottom: 11px;
        font-size: 15px;
        border-radius: 3px 0px 0px 3px;
    }

    .selectize-input > * {
        vertical-align: top;
    }
}
.b-bus-daterange {
    width 200px

    .b-search-form-hotels__input-datapicker {
        width 180px
    }
}