.b-bus-typeahead {
    width 528px
    font-size: 15px;

    .selectize-dropdown,
    .selectize-input,
    .selectize-input input {
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 15px;
        border-radius: 0;
        border: none;
    }

    .selectize-input > * {
        vertical-align: top;
    }
}
.b-bus-daterange {
    width 200px
}
