.b-bus-typeahead{
    width 528px
    font-size: 15px;

    .selectize-dropdown,
    .selectize-input,
    .selectize-input input{
        font-size: 15px;
    }
}
.b-bus-daterange{
    width 200px
}
