@import "../../../../styl/base.styl"
$height_adv = 65px;

$full_padding = ($full_padding + $height_adv);
$short_padding = ($short_padding + $height_adv);
$padding_over_search = ($padding_over_search + $height_adv);
$padding_over_head = ($padding_over_head + $height_adv);
$padding-layout-light = ($padding-layout-light + $height_adv);


.adv-inject {

    .header {
        top: $height_adv;
    }

    .balloon {
        top $padding_over_search + 20
    }


    .hotel-details {
        padding: $short_padding 0 0px
    }

    .layout {
        padding: $padding_over_head 0 0;

        &-light {
            padding: $padding-layout-light 0 0;
        }
    }

    .results-container {
        padding: $full_padding 0 0;

        &.results-container__short{
            padding: $short_padding 0 0;
        }
    }

    .recommend-bundle-container {
        top: $padding_over_search;

        &.recommend-bundle-container_short {
            top: $padding_over_head;
        }
    }


    .results__body_mod_avia {
        padding-top: $padding_over_search;

        .results-container {
            padding-top : 10px;
        }
    }

    .filters__body_position_fixed {
        top : $padding_over_search;
    }

    .reserve-form,
    .buy-form {
        padding-top: $padding_over_search - 20;
    }

    .big-map {
        top : $full_padding - 50px;
    }
    .big-map_short {
        top : $short_padding - 50;
    }

}

.b-adv {
    background-image: url("/spa/img/adv_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height_adv;
    font-family: ProximaNova, Arial, sans-serif;
    z-index 100;

    .row {
        padding-top: 15px;
        position: relative;
    }

    &__coll {
        position: relative;
        text-align: center;
    }

    &_close {
        position: absolute;
        top: 18px;
        right: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: 32px;
        color: #fff;
    }

    .button_adv {
        position: absolute;
        top: 2px;
        right: 20%;
    }
}
