
.hotel-info {
    margin: 0 0 35px;

    &__room {
        margin-top: 10px;
    }
    &__room_name {
        margin-top: 10px;
        font-size: 15px;
    }

    &_with_crown {
        margin-top: 10px;
    }

    &__special-mark {
        font-size: 14px;
        color: $green;
        margin: 0 0 5px -4px;
    }

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        padding: 0 0 10px 80px;
        height: 75px;
        margin-bottom: 10px;
    }

    &__tripadvisor {
        height: 20px;
    }

    img {
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 0;
    }

    &-content {
        display: block;
        vertical-align: top;

        .warning {
            font-size: 14px;
            line-height: 1.7em;
        }

        .star-container {
            line-height: 0;
            margin: 2px 0 4px;
        }
    }

    &-name {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1em;
    }

    &-date {
        color: #575757;
        font-size: 14px;
        line-height: 16px;
    }

    &-place {
        position: relative;
        text-decoration: none;
        font-size: 14px;
        padding-left: 17px;
        display: inline-block;
        padding-top: 2px;

        &:hover {
            text-decoration: underline;
        }

        &:before {
            content: '';
            height: 18px;
            width: 13px;
            background: url(/spa/img/hotel-pin-small.png);
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}
.hotel-info__photo{
    max-width 70px
}




