.hotel-info{
    img{
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 0;
    }
}
.hotel-info__room{
    margin-top: 10px;
}
.hotel-info__room_name{
    margin-top: 10px;
    font-size: 15px;
}
.hotel-info__special-mark{
    font-size: 14px;
    color: $green;
    margin: -3px 0 4px -4px;
}
.hotel-info__wrapper{
    position: relative;
    box-sizing: border-box;
    padding: 0 0 10px 110px;
    height: 100px;
    margin-bottom: 10px;
}
.hotel-info__tripadvisor{
    height: 20px;
}
.hotel-info-content{
    display: block;
    vertical-align: top;
}
.hotel-info-name{
    position: relative;
    z-index: 10;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
}
.hotel-info-name-link{
    color: #1e88c1
    text-decoration: none

    &:hover{
        text-decoration: underline
    }
}
.hotel-info-date{
    margin: 5px 0;
    color: #575757;
    font-size: 14px;
    line-height: 16px;
}
.hotel-info-place{
    position: relative;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    padding-top: 2px;

    .like-link{
        text-decoration underline

        &:hover{
            text-decoration none
        }
    }
    //&:before{
    //    content: '';
    //    height: 18px;
    //    width: 13px;
    //    background: url(/spa/img/hotel-pin-small.png);
    //    position: absolute;
    //    top: 0px;
    //    left: 0px;
    //}
}
.hotel-info__photo{
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hotel-info-meal{
    margin 2px 0 1px
    font-size 14px
}
// new hotel cart
.b-hotel-data{
    display: block;
    position: relative;
    height: 170px;
}
.b-hotel-data__details{
    display: block;
    position: absolute;
    z-index 1
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.b-hotel-data__z-index{
    display inline-block
    position relative
    z-index 2
    margin 0
}
.b-hotel-data__title{
    display block
    margin 0 0 5px 0
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
}
.b-hotel-data__title-link{
    color: #1e88c1
    text-decoration: none

    &:hover{
        text-decoration: underline
    }
}
.b-hotel-data__text-link{
    text-decoration none
    color $blue
    cursor pointer

    &:hover{
        text-decoration underline
    }
}
.b-hotel-data__text{
    margin 3px 0
    font-size 14px
}
.b-hotel-data__text-warning{
    color: #dd3e14
}
.b-hotel-data__tripadvisor{
    position absolute
    left 0
    bottom 0
}
.b-hotel-data__details-footer-link{
    position absolute
    right 0
    bottom 0
    z-index 10
    color: #1e88c1
    text-decoration: none
    font-size 15px

    &:hover{
        text-decoration: underline
    }
}