.header-bg{
  background: #212121 !important;
}

.header{

  &-info{
    @extend .header-bg
    border-bottom-color: #212121;

    &-menu{

      &:after{
        content ''
        display table
        clear both
      }

      &-item{
        padding: 0 8px
        font-size: 15px
        border-left: none
        color: rgba(255, 255, 255, .85)

        a{
          color: rgba(255, 255, 255, .85)

          &:hover{
            color: rgba(255, 255, 255, 1)
          }
        }
      }
    }
  }

  &-menu{
    @extend .header-bg
    padding-bottom: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  }
}

.b-search-form,
.search-form{
  padding: 7px;
  background: #424242;
  border-radius: 0 2px 2px 2px;

  .search-people-block,
  .search-date-block,
  .b-wrapp_type_inline{
    margin-right: 3px;
    border-right: none;

    .search-form-item{
      margin-right: 0;
    }
  }

  .b-wrapp_type_inline,
  .search-date-block,
  .search-date-block__date,
  .search-form-item,
  .search-form-item-current,
  .search-people-block,
  .search-people,
  .b-wrapp_type_inline .search-field{
    height: 36px;
  }

  .search-form-item-current,
  .search-people,
  .search-date-block,
  .search-date-block__date{
    line-height: 36px;

    input{
      height: 36px;
    }
  }

  .search-people,
  .search-form-humans{
    background-position: right 7px top -1880px;
  }

  .search-form-humans,
  .search-people-block{
    border-right: none;
  }

  .date-picker-widget{
    margin-right: 0;
  }

  .search-date-block{
    width: 118px;
  }

  .search__city{
    width: 205px;
  }

  .search-form__submit{
    top: 7px;
    right: 7px;
    width: 42px !important;
    height: 36px;
    border-radius: 2px;

    &:after{
      top: 21px;
      right: 9px;
      height: 24px;
      width: 24px;
      background-size: 85px auto;
      background-position: 0 -372px;
    }
  }

  .search-form-item{
    margin-right: 3px;
    border-right: none;

    .icon-triangle{
      top: 16px;
    }

    &.search-form-to{
      width: 353px;
    }
  }

}

.header-menu .b-search-form .search-form-item .search-form-human-dialog .icon-triangle{
  top: 12px;
}

.header__container{
  padding-bottom: 0;

  .header__nav{

    li{

      &.catalog-guide{
        display: none;
      }

      a{
        display: inline-block;
        padding: 8px 12px;
        background-color: transparent;
        border-radius: 2px 2px 0 0;

        &.active{
          color: #fff;
          background-color: #424242;
          text-decoration: none;
        }
      }
    }
  }

  .header__user{

    .header__user-nav{
      margin: 0;
      padding: 8px 0 0 0;
      font-size: 17px;

      li{
        padding-top: 0;
      }
    }
  }

}