{{#data.TaFactor > 0}}
<div class="b-tripadvisor hotel-info-tripadvisor {{withOutTd ? 'b-tripadvisor_short' : ''}}">

    <div class="b-tripadvisor__owl">
        <span class="icon-sprite-tripadvisor"></span>
    </div>

    <div class="b-display-table">
        <div class="b-display-cell">
            <span class="icon-sprite-tripadvisor-like" ng-if="data.TaFactor >= 1"></span>
        </div>
        <div class="b-display-cell">
            <span class="icon-sprite-tripadvisor-like" ng-if="data.TaFactor >= 2"></span>
        </div>
        <div class="b-display-cell">
            <span class="icon-sprite-tripadvisor-like" ng-if="data.TaFactor >= 3"></span>
        </div>
        <div class="b-display-cell">
            <span class="icon-sprite-tripadvisor-like" ng-if="data.TaFactor >= 4"></span>
        </div>
        <div class="b-display-cell">
            <span class="icon-sprite-tripadvisor-like" ng-if="data.TaFactor == 5"></span>
        </div>

        <!-- Шаг 0.5 -->
        <div class="b-display-cell" ng-if="data.TaFactor | isFloat">
            <span class="icon-sprite-tripadvisor-half"></span>
        </div>

        <div class="b-display-cell" ng-if="!withOutTd"><!-- ng-if="data.TaCommentCount" -->
            <div class="b-tripadvisor__reviews">
                {{data.TaCommentCount | asQuantity:"отзыв":"отзыва":"отзывов":"нет отзывов"}}
            </div>
        </div>
    </div>
</div>
{{/}}