@import "jquery-ui-1.10.4.custom.css";
.hidden-select {
  border: 0;
  display: block;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  width: 100%;
}
.checkbox {
  background-color: #89c13a;
  display: inline-block;
  height: 19px;
  margin-right: 11px;
  vertical-align: top;
  width: 19px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.checkbox.checked {
  background-image: url(/spa/img/check.png);
}
.checkbox-label {
  color: #242424;
  font-size: 15px;
  line-height: 19px;
}
.combo-box {
  background: #fff;
  border: 1px solid #ccd2d4;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-top: 1px;
  position: relative;
  vertical-align: top;
  z-index: 1;
}
.combo-box-item-current {
  display: inline-block;
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.combo-box .icon-triangle {
  position: absolute;
  right: 12px;
  top: 12px;
}
.combo-box-list {
  background: #fff;
  border: 1px solid #ccd2d4;
  border-top: 1px;
  cursor: auto;
  padding: 15px 0;
  overflow-y: auto;
  position: absolute;
  max-height: 285px;
  left: -1px;
  top: 100%;
}
.combo-box-list-item {
  color: #242424;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  white-space: nowrap;
}
.combo-box-list-item:hover {
  background: #eff2f3;
}
.combo-box-list-item-separator {
  border-top: 1px solid #dfe6e8;
}
.button {
  background: #89c13a;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: proxima_nova_rgbold, Arial, sans-serif;
  margin: 0;
  outline: none;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.button:hover {
  background: #95cd47;
}
.button.disabled {
  background: #e4e4e4;
  cursor: auto;
}
.field,
.field-text {
  border: 1px solid #cecece;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  font-size: 18px;
  height: 60px;
  outline: none;
  margin-top: 13px;
  padding: 0 25px;
  -webkit-transition: border-color 200ms;
  -moz-transition: border-color 200ms;
  -o-transition: border-color 200ms;
  transition: border-color 200ms;
}
.field::-webkit-input-placeholder,
.field-text::-webkit-input-placeholder {
  color: #777777;
}
.field:-moz-placeholder,
.field-text:-moz-placeholder {
  color: #777777;
}
.field::-moz-placeholder,
.field-text::-moz-placeholder {
  color: #777777;
}
.field:-ms-input-placeholder,
.field-text:-ms-input-placeholder {
  color: #777777;
}
.field.error,
.field-text.error,
.field.error,
.field-text.error,
.field.valid,
.field-text.valid {
  border-color: #b70000;
  background-image: url(/spa/img/field-cross.png);
  background-position: center right;
  background-repeat: no-repeat;
}
.field.valid,
.field-text.valid {
  border-color: #89c13a;
  background-image: url(/spa/img/field-cross.png);
  background-position: center right;
  background-repeat: no-repeat;
}
.field-error,
.field-text-error {
  color: #b70000;
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.field-text {
  resize: vertical;
  padding-top: 25px;
}
.popup {
  background: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: left;
}
.popup-form-header {
  font-size: 30px;
  margin-bottom: 4px;
}
.popup-container {
  position: fixed;
  left: 0;
  text-align: center;
  z-index: 301;
}
.popup-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.popup-state {
  overflow: hidden;
}
.popup-fade,
.popup-container {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.popup-fade {
  background: #000;
  opacity: .2;
  filter: alpha(opacity=20);
  z-index: 301;
}
.popup-close-button {
  background-color: #cecece;
  background-image: url(/spa/img/popup-cross.png);
  cursor: pointer;
  height: 34px;
  width: 34px;
  position: absolute;
  right: 0;
  top: 0;
}
.popup .form-header {
  font-size: 30px;
}
.popup .description {
  color: #777;
  font-size: 14px;
}
.fixed-request-button {
  height: 193px;
  position: fixed!important;
  right: 0;
  top: 50%;
  margin-top: -96px;
  z-index: 10;
  width: 36px;
}
.fixed-request-button,
.fixed-request-button:hover {
  background-image: url(/spa/img/request-button-text.png);
  background-repeat: no-repeat;
  background-position: center;
}
.ui-icon-circle-triangle-w {
  background: url(/spa/img/calendar-prev-month.png);
  height: 30px;
  width: 29px;
}
.ui-state-disabled .ui-icon-circle-triangle-w {
  background: url(/spa/img/calendar-prev-month-notactive.png);
}
.ui-icon-circle-triangle-e {
  background: url(/spa/img/calendar-next-month.png);
  height: 30px;
  width: 29px;
}
.ui-state-disabled .ui-icon-circle-triangle-e {
  background: url(/spa/img/calendar-next-month-notactive.png);
}
.ui-datepicker {
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.25);
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.25);
  color: #292929;
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  padding: 18px;
  width: 308px;
  z-index: 2 !important;
}
.ui-datepicker .calendar-head {
  text-align: right;
  border-bottom: 1px solid #e7e7e7;
  margin: 0px -18px 0px -18px;
  padding: 0px 20px 15px 0px;
}
.ui-datepicker .calendar-head .check-container {
  width: 110px;
  display: inline-block;
}
.ui-datepicker .calendar-head .caption {
  position: absolute;
  left: 20px;
  font-size: 18px;
  font-family: proxima_nova_rgbold, Arial, sans-serif;
}
.ui-datepicker .ui-datepicker-header {
  margin-top: 15px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
  top: 0;
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
  right: 15px;
  top: 0;
}
.ui-datepicker-title {
  font-size: 20px;
  margin: 0 0 6px;
}
.ui-datepicker-calendar th {
  color: #acacac;
  font-size: 11px;
  text-transform: uppercase;
}
.ui-datepicker-calendar th.ui-datepicker-week-end {
  color: #ff5c5c;
}
.ui-datepicker-calendar tbody tr {
  border-top: 1px solid #e7e7e7;
  margin: 1px 0;
}
.ui-datepicker-calendar tbody tr:first-child {
  border-top: 0;
}
.ui-datepicker-calendar td {
  height: 40px;
  font-size: 20px;
  line-height: 40px;
}
.ui-datepicker table {
  margin: 0;
}
.ui-datepicker td {
  padding: 0;
}
.ui-datepicker td a,
.ui-datepicker td span {
  border: 1px solid transparent;
  height: 38px;
  line-height: 38px;
  display: block;
  width: 40px;
}
.ui-datepicker td.ui-datepicker-week-end span {
  color: #ffa3a3;
}
.ui-datepicker td.ui-datepicker-week-end a {
  color: #ff5c5c;
}
.ui-datepicker td.ui-datepicker-today a,
.ui-datepicker td.ui-datepicker-today span {
  border-color: #89c13a;
}
.ui-datepicker td a {
  color: #000;
  margin: 1px 0;
  padding: 0;
  text-align: center;
}
.ui-datepicker td a.ui-state-active,
.ui-datepicker td a.ui-state-hover {
  background: #89c13a;
  color: #fff;
}
.ui-datepicker td span {
  padding: 0;
  text-align: center;
}
.ui-datepicker-unselectable {
  color: #acacac;
}
.icon-flag-AD {
  background: url(/spa/img/flags/AD.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AE {
  background: url(/spa/img/flags/AE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AF {
  background: url(/spa/img/flags/AF.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AG {
  background: url(/spa/img/flags/AG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AL {
  background: url(/spa/img/flags/AL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AM {
  background: url(/spa/img/flags/AM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AO {
  background: url(/spa/img/flags/AO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AQ {
  background: url(/spa/img/flags/AQ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AR {
  background: url(/spa/img/flags/AR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AT {
  background: url(/spa/img/flags/AT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AU {
  background: url(/spa/img/flags/AU.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AW {
  background: url(/spa/img/flags/AW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-AZ {
  background: url(/spa/img/flags/AZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BA {
  background: url(/spa/img/flags/BA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BB {
  background: url(/spa/img/flags/BB.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BD {
  background: url(/spa/img/flags/BD.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BE {
  background: url(/spa/img/flags/BE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BF {
  background: url(/spa/img/flags/BF.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BG {
  background: url(/spa/img/flags/BG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BH {
  background: url(/spa/img/flags/BH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BI {
  background: url(/spa/img/flags/BI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BJ {
  background: url(/spa/img/flags/BJ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BN {
  background: url(/spa/img/flags/BN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BO {
  background: url(/spa/img/flags/BO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BR {
  background: url(/spa/img/flags/BR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BS {
  background: url(/spa/img/flags/BS.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BT {
  background: url(/spa/img/flags/BT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BW {
  background: url(/spa/img/flags/BW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BY {
  background: url(/spa/img/flags/BY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-BZ {
  background: url(/spa/img/flags/BZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CA {
  background: url(/spa/img/flags/CA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CD {
  background: url(/spa/img/flags/CD.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CF {
  background: url(/spa/img/flags/CF.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CG {
  background: url(/spa/img/flags/CG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CH {
  background: url(/spa/img/flags/CH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CI {
  background: url(/spa/img/flags/CI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CL {
  background: url(/spa/img/flags/CL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CN {
  background: url(/spa/img/flags/CN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CO {
  background: url(/spa/img/flags/CO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CR {
  background: url(/spa/img/flags/CR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CU {
  background: url(/spa/img/flags/CU.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CV {
  background: url(/spa/img/flags/CV.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CY {
  background: url(/spa/img/flags/CY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-CZ {
  background: url(/spa/img/flags/CZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-DE {
  background: url(/spa/img/flags/DE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-DJ {
  background: url(/spa/img/flags/DJ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-DK {
  background: url(/spa/img/flags/DK.png);
  height: 20px;
  width: 30px;
}
.icon-flag-DM {
  background: url(/spa/img/flags/DM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-DO {
  background: url(/spa/img/flags/DO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-DZ {
  background: url(/spa/img/flags/DZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-EC {
  background: url(/spa/img/flags/EC.png);
  height: 20px;
  width: 30px;
}
.icon-flag-EE {
  background: url(/spa/img/flags/EE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-EG {
  background: url(/spa/img/flags/EG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ER {
  background: url(/spa/img/flags/ER.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ES {
  background: url(/spa/img/flags/ES.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ET {
  background: url(/spa/img/flags/ET.png);
  height: 20px;
  width: 30px;
}
.icon-flag-FI {
  background: url(/spa/img/flags/FI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-FJ {
  background: url(/spa/img/flags/FJ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-FM {
  background: url(/spa/img/flags/FM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-FO {
  background: url(/spa/img/flags/FO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-FR {
  background: url(/spa/img/flags/FR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GA {
  background: url(/spa/img/flags/GA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GB {
  background: url(/spa/img/flags/GB.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GD {
  background: url(/spa/img/flags/GD.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GE {
  background: url(/spa/img/flags/GE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GH {
  background: url(/spa/img/flags/GH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GI {
  background: url(/spa/img/flags/GI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GL {
  background: url(/spa/img/flags/GL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GM {
  background: url(/spa/img/flags/GM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GN {
  background: url(/spa/img/flags/GN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GQ {
  background: url(/spa/img/flags/GQ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GR {
  background: url(/spa/img/flags/GR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GT {
  background: url(/spa/img/flags/GT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GW {
  background: url(/spa/img/flags/GW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-GY {
  background: url(/spa/img/flags/GY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-HK {
  background: url(/spa/img/flags/HK.png);
  height: 20px;
  width: 30px;
}
.icon-flag-HN {
  background: url(/spa/img/flags/HN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-HR {
  background: url(/spa/img/flags/HR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-HT {
  background: url(/spa/img/flags/HT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-HU {
  background: url(/spa/img/flags/HU.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ID {
  background: url(/spa/img/flags/ID.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IE {
  background: url(/spa/img/flags/IE-297.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IE {
  background: url(/spa/img/flags/IE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IL {
  background: url(/spa/img/flags/IL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IN {
  background: url(/spa/img/flags/IN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IQ {
  background: url(/spa/img/flags/IQ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IR {
  background: url(/spa/img/flags/IR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IS {
  background: url(/spa/img/flags/IS.png);
  height: 20px;
  width: 30px;
}
.icon-flag-IT {
  background: url(/spa/img/flags/IT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-JM {
  background: url(/spa/img/flags/JM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-JO {
  background: url(/spa/img/flags/JO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-JP {
  background: url(/spa/img/flags/JP.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KE {
  background: url(/spa/img/flags/KE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KG {
  background: url(/spa/img/flags/KG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KH {
  background: url(/spa/img/flags/KH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KI {
  background: url(/spa/img/flags/KI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KM {
  background: url(/spa/img/flags/KM-88.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KM {
  background: url(/spa/img/flags/KM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KN {
  background: url(/spa/img/flags/KN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KP {
  background: url(/spa/img/flags/KP.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KR {
  background: url(/spa/img/flags/KR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KW {
  background: url(/spa/img/flags/KW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-KZ {
  background: url(/spa/img/flags/KZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LA {
  background: url(/spa/img/flags/LA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LB {
  background: url(/spa/img/flags/LB.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LC {
  background: url(/spa/img/flags/LC.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LI {
  background: url(/spa/img/flags/LI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LK {
  background: url(/spa/img/flags/LK.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LR {
  background: url(/spa/img/flags/LR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LS {
  background: url(/spa/img/flags/LS.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LT {
  background: url(/spa/img/flags/LT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LU {
  background: url(/spa/img/flags/LU.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LV {
  background: url(/spa/img/flags/LV.png);
  height: 20px;
  width: 30px;
}
.icon-flag-LY {
  background: url(/spa/img/flags/LY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MA {
  background: url(/spa/img/flags/MA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MC {
  background: url(/spa/img/flags/MC.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MD {
  background: url(/spa/img/flags/MD.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ME {
  background: url(/spa/img/flags/ME.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MG {
  background: url(/spa/img/flags/MG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MH {
  background: url(/spa/img/flags/MH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MK {
  background: url(/spa/img/flags/MK.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ML {
  background: url(/spa/img/flags/ML.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MM {
  background: url(/spa/img/flags/MM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MN {
  background: url(/spa/img/flags/MN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MO {
  background: url(/spa/img/flags/MO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MR {
  background: url(/spa/img/flags/MR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MT {
  background: url(/spa/img/flags/MT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MU {
  background: url(/spa/img/flags/MU.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MV {
  background: url(/spa/img/flags/MV.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MW {
  background: url(/spa/img/flags/MW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MX {
  background: url(/spa/img/flags/MX.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MY {
  background: url(/spa/img/flags/MY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-MZ {
  background: url(/spa/img/flags/MZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NA {
  background: url(/spa/img/flags/NA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NE {
  background: url(/spa/img/flags/NE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NG {
  background: url(/spa/img/flags/NG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NI {
  background: url(/spa/img/flags/NI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NL {
  background: url(/spa/img/flags/NL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NO {
  background: url(/spa/img/flags/NO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NP {
  background: url(/spa/img/flags/NP.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NR {
  background: url(/spa/img/flags/NR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-NZ {
  background: url(/spa/img/flags/NZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-OM {
  background: url(/spa/img/flags/OM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PA {
  background: url(/spa/img/flags/PA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PE {
  background: url(/spa/img/flags/PE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PG {
  background: url(/spa/img/flags/PG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PH {
  background: url(/spa/img/flags/PH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PK {
  background: url(/spa/img/flags/PK.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PL {
  background: url(/spa/img/flags/PL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PR {
  background: url(/spa/img/flags/PR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PS {
  background: url(/spa/img/flags/PS.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PT {
  background: url(/spa/img/flags/PT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PW {
  background: url(/spa/img/flags/PW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-PY {
  background: url(/spa/img/flags/PY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-QA {
  background: url(/spa/img/flags/QA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-RO {
  background: url(/spa/img/flags/RO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-RS {
  background: url(/spa/img/flags/RS.png);
  height: 20px;
  width: 30px;
}
.icon-flag-RU {
  background: url(/spa/img/flags/RU.png);
  height: 20px;
  width: 30px;
}
.icon-flag-RW {
  background: url(/spa/img/flags/RW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SA {
  background: url(/spa/img/flags/SA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SB {
  background: url(/spa/img/flags/SB.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SC {
  background: url(/spa/img/flags/SC.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SD {
  background: url(/spa/img/flags/SD.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SE {
  background: url(/spa/img/flags/SE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SG {
  background: url(/spa/img/flags/SG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SI {
  background: url(/spa/img/flags/SI.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SK {
  background: url(/spa/img/flags/SK.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SL {
  background: url(/spa/img/flags/SL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SM {
  background: url(/spa/img/flags/SM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SN {
  background: url(/spa/img/flags/SN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SO {
  background: url(/spa/img/flags/SO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SR {
  background: url(/spa/img/flags/SR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ST {
  background: url(/spa/img/flags/ST.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SV {
  background: url(/spa/img/flags/SV.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SY {
  background: url(/spa/img/flags/SY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-SZ {
  background: url(/spa/img/flags/SZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TD {
  background: url(/spa/img/flags/TD.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TG {
  background: url(/spa/img/flags/TG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TH {
  background: url(/spa/img/flags/TH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TJ {
  background: url(/spa/img/flags/TJ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TL {
  background: url(/spa/img/flags/TL.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TM {
  background: url(/spa/img/flags/TM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TN {
  background: url(/spa/img/flags/TN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TO {
  background: url(/spa/img/flags/TO.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TR {
  background: url(/spa/img/flags/TR.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TT {
  background: url(/spa/img/flags/TT.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TV {
  background: url(/spa/img/flags/TV.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TW {
  background: url(/spa/img/flags/TW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-TZ {
  background: url(/spa/img/flags/TZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-UA {
  background: url(/spa/img/flags/UA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-UG {
  background: url(/spa/img/flags/UG.png);
  height: 20px;
  width: 30px;
}
.icon-flag-UK {
  background: url(/spa/img/flags/UK.png);
  height: 20px;
  width: 30px;
}
.icon-flag-US {
  background: url(/spa/img/flags/US.png);
  height: 20px;
  width: 30px;
}
.icon-flag-UY {
  background: url(/spa/img/flags/UY.png);
  height: 20px;
  width: 30px;
}
.icon-flag-UZ {
  background: url(/spa/img/flags/UZ.png);
  height: 20px;
  width: 30px;
}
.icon-flag-VA {
  background: url(/spa/img/flags/VA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-VC {
  background: url(/spa/img/flags/VC.png);
  height: 20px;
  width: 30px;
}
.icon-flag-VE {
  background: url(/spa/img/flags/VE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-VN {
  background: url(/spa/img/flags/VN.png);
  height: 20px;
  width: 30px;
}
.icon-flag-VU {
  background: url(/spa/img/flags/VU.png);
  height: 20px;
  width: 30px;
}
.icon-flag-WH {
  background: url(/spa/img/flags/WH.png);
  height: 20px;
  width: 30px;
}
.icon-flag-WS {
  background: url(/spa/img/flags/WS.png);
  height: 20px;
  width: 30px;
}
.icon-flag-YE {
  background: url(/spa/img/flags/YE.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ZA {
  background: url(/spa/img/flags/ZA.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ZM {
  background: url(/spa/img/flags/ZM.png);
  height: 20px;
  width: 30px;
}
.icon-flag-ZW {
  background: url(/spa/img/flags/ZW.png);
  height: 20px;
  width: 30px;
}
.icon-flag-catalonia {
  background: url(/spa/img/flags/catalonia.png);
  height: 20px;
  width: 30px;
}
.icon-flag-european {
  background: url(/spa/img/flags/european-union.png);
  height: 20px;
  width: 30px;
}
.icon-flag-scotland {
  background: url(/spa/img/flags/scotland.png);
  height: 20px;
  width: 30px;
}
.icon-flag-wales {
  background: url(/spa/img/flags/wales.png);
  height: 20px;
  width: 30px;
}
@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("/spa/fonts/proximanova-reg-webfont.eot");
  src: url("/spa/fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("/spa/fonts/proximanova-reg-webfont.woff") format("woff"), url("/spa/fonts/proximanova-reg-webfont.ttf") format("truetype"), url("/spa/fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("/spa/fonts/proximanova-bold-webfont.eot");
  src: url("/spa/fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/spa/fonts/proximanova-bold-webfont.woff") format("woff"), url("/spa/fonts/proximanova-bold-webfont.ttf") format("truetype"), url("/spa/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_ltlight";
  src: url("/spa/fonts/proximanova-light-webfont.eot");
  src: url("/spa/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/spa/fonts/proximanova-light-webfont.woff") format("woff"), url("/spa/fonts/proximanova-light-webfont.ttf") format("truetype"), url("/spa/fonts/proximanova-light-webfont.svg#proxima_nova_ltlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
.font-proxima-regular {
  font-family: proxima_nova_rgregular, Arial, sans-serif;
}
.font-proxima-regular-bold {
  font-family: proxima_nova_rgbold, Arial, sans-serif;
}
.font-proxima-regular-light {
  font-family: proxima_nova_ltlight, Arial, sans-serif;
}
.font-arial {
  font-family: Arial, sans-serif;
}
.footer {
  background: #000;
}
.footer-content {
  margin: 0 auto;
  width: 960px;
}
.footer-menu {
  height: 160px;
  position: relative;
}
.footer-menu-links-list {
  position: absolute;
  top: 36px;
  width: 480px;
}
.footer-menu-links-list-item {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  width: 49%;
}
.footer-menu-links-list-item a {
  color: #fff;
}
.footer-menu-info {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}
.footer-menu-info .phone {
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  color: #fff;
  font-size: 28px;
  margin-top: 8px;
}
.footer-menu-info .phone-info {
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  color: #818589;
  font-size: 12px;
  margin-top: 25px;
}
.footer .social-list-item {
  display: inline-block;
}
.footer-copyright {
  border-top: 1px solid #262626;
  margin-top: 30px;
  text-align: justify;
}
.footer-copyright:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.footer-copyright .info {
  color: #818589;
  display: inline-block;
  font-size: 9px;
  margin: 20px 0 48px;
  text-align: left;
  vertical-align: top;
}
.footer-copyright .info-left {
  width: 720px;
}
.footer-copyright .info a {
  color: #818589;
  text-decoration: none;
}
.footer-copyright .info a:hover {
  text-decoration: underline;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 300;
}
.header-info {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzOTM5MzkiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #393939 0%, #202020 100%);
  background-image: -moz-linear-gradient(top, #393939 0%, #202020 100%);
  background-image: -o-linear-gradient(top, #393939 0%, #202020 100%);
  background-image: linear-gradient(to bottom, #393939 0%, #202020 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#202020', GradientType=0);
  border-bottom: 1px solid #363636;
}
.header-info-item {
  display: inline-block;
  vertical-align: middle;
}
.header-info-logo {
  display: inline-block;
  font-family: proxima_nova_ltlight, Arial, sans-serif;
  font-size: 24px;
  margin: 4px 2px 0 -2px;
}
.header-info-logo:hover {
  text-decoration: none;
}
.header-info-logo .name {
  color: #89c13a;
  position: relative;
  left: 15px;
  top: -11px;
}
.header-info-container {
  color: #989898;
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}
.header-info-container-right {
  position: absolute;
  right: 0;
  top: 15px;
}
.header-info-container a {
  color: inherit;
}
.header-info-menu {
  display: inline-block;
  margin: 0 46px 0 0;
}
.header-info-menu-item {
  border-left: 1px solid #434343;
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  padding: 0 14px;
}
.header-info-menu-item:first-child {
  border: 0;
}
.header-info-menu-item:last-child {
  padding-right: 0;
}
.header-text {
  display: inline-block;
  font-size: 12px;
  margin-left: 17px;
  position: absolute;
  top: 19px;
}
.header-login {
  display: inline-block;
  font-size: 14px;
  position: relative;
  color: #989898;
  float: right;
  margin-top: 14px;
}
.header-login .icon-user {
  margin-right: 7px;
}
.header-login .header-login-link {
  color: #989898;
}
.header-login .header-logout-link {
  color: #989898;
  margin-left: 6px;
  padding-left: 8px;
  border-left: 1px solid #434343;
}
.header-login-user-link {
  position: relative;
}
.header-login-user-link .user-pic {
  position: relative;
  top: 4px;
  right: 2px;
}
.header-phone {
  font-size: 16px;
}
.header-phone .icon-phone {
  margin-right: 8px;
}
.header-menu {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyZDJkMmQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMWMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #2d2d2d 0%, #1c1c1c 100%);
  background-image: -moz-linear-gradient(top, #2d2d2d 0%, #1c1c1c 100%);
  background-image: -o-linear-gradient(top, #2d2d2d 0%, #1c1c1c 100%);
  background-image: linear-gradient(to bottom, #2d2d2d 0%, #1c1c1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d', endColorstr='#1c1c1c', GradientType=0);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  font-size: 17px;
}
.header-menu-container-items {
  font-family: Arial, sans-serif;
  height: 50px;
  margin: auto;
  width: 960px;
}
.header-menu-container-items:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header-menu-item {
  display: inline;
  margin-left: 14px;
}
.header-menu-item:first-child {
  margin: 0;
}
.header-menu a {
  color: #fff;
  text-decoration: none;
}
.header-menu a.active {
  color: #89c13a;
}
.header-login-form-popup {
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 1px 14px 14px;
  position: absolute;
  left: -65px;
  top: 35px;
  z-index: 1;
}
.header-login-form-popup:before {
  content: '';
  display: block;
  position: absolute;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0 9.5px 10px 9.5px;
  height: 0;
  left: 50%;
  margin-left: -5px;
  top: -10px;
  width: 0;
}
.header-login-form-popup .field {
  font-size: 15px;
  height: 30px;
  padding: 0 10px;
  width: 141px;
}
.header-login-form-popup .button {
  font-size: 15px;
  height: 30px;
  padding: 0 17px;
  margin-top: 10px;
}
.icon {
  display: inline-block;
}
.icon-logo {
  background: url(/spa/img/logo.png);
  height: 39px;
  width: 100px;
}
.icon-logo-inna {
  background: url(/spa/img/innatour.png);
  height: 19px;
  width: 135px;
}
.icon-user {
  background: url(/spa/img/user.png);
  height: 15px;
  width: 16px;
}
.icon-phone {
  background: url(/spa/img/phone.png);
  height: 16px;
  width: 9px;
}
.icon-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #000 transparent;
}
.icon-triangle.bottom {
  border-width: 6px 5.5px 0 5.5px;
  border-color: #000 transparent transparent transparent;
}
.icon-calendar {
  background: url(/spa/img/calendar.png);
  height: 16px;
  width: 17px;
}
.icon-flag {
  height: 20px;
  width: 30px;
}
.icon-flag-thailand {
  background: url(/spa/img/country/thailand.png);
}
.icon-scroll-mouse {
  background: url(/spa/img/mouse.png);
  cursor: pointer;
  height: 72px;
  width: 58px;
}
.icon .social-buttons-sprite {
  background: url(/spa/img/social-buttons-sprite.png);
  height: 30px;
  width: 30px;
}
.icon-vkontakte {
  background: url(/spa/img/social-buttons-sprite.png);
  height: 30px;
  width: 30px;
}
.icon-vkontakte:hover {
  background-position: 0 -33px;
}
.icon-odnoklassniki {
  background: url(/spa/img/social-buttons-sprite.png);
  height: 30px;
  width: 30px;
  background-position: -33px 0;
}
.icon-odnoklassniki:hover {
  background-position: -33px -33px;
}
.icon-facebook {
  background: url(/spa/img/social-buttons-sprite.png);
  height: 30px;
  width: 30px;
  background-position: -66px 0;
}
.icon-facebook:hover {
  background-position: -66px -33px;
}
.icon-twitter {
  background: url(/spa/img/social-buttons-sprite.png);
  height: 30px;
  width: 30px;
  background-position: -99px 0;
}
.icon-twitter:hover {
  background-position: -99px -33px;
}
.icon-pinterest {
  background: url(/spa/img/social-buttons-sprite.png);
  height: 30px;
  width: 30px;
  background-position: -132px 0;
}
.icon-pinterest:hover {
  background-position: -132px -33px;
}
.icon-youtube {
  background: url(/spa/img/social-buttons-sprite.png);
  height: 30px;
  width: 30px;
  background-position: -165px 0;
}
.icon-youtube:hover {
  background-position: -165px -33px;
}
.icon-google {
  background: url(/spa/img/google.png);
  height: 30px;
  width: 30px;
}
.icon-email {
  background: url(/spa/img/email.png);
  height: 30px;
  width: 30px;
}
.layout {
  padding: 149px 0 0;
  position: relative;
  z-index: 1;
}
.layout-light {
  position: relative;
  z-index: 1;
  padding: 99px 0 0;
}
.center-container {
  margin: 0 auto;
  width: 960px;
}
.banner-dots {
  bottom: 30px;
  line-height: 0;
  position: absolute;
}
.banner-dots .dot {
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px;
  -moz-box-shadow: 0 0 2px;
  box-shadow: 0 0 2px;
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin-right: 12px;
  width: 8px;
}
.banner-dots .dot.active {
  background: #fff;
  cursor: auto;
}
.breadcrumbs {
  color: #333;
  margin: 0 auto;
  width: 960px;
}
.breadcrumbs .crumb {
  display: inline-block;
  font-size: 12px;
}
.breadcrumbs .crumb:before {
  content: '/';
  color: inherit;
  margin: 0 4px 0 2px;
}
.breadcrumbs .crumb:first-child:before {
  content: '';
  margin: 0;
}
.breadcrumbs .crumb a {
  color: inherit;
  text-decoration: none;
}
.breadcrumbs .crumb a:hover {
  text-decoration: underline;
}
.sub-menu {
  font-size: 16px;
  height: 43px;
  line-height: 43px;
  margin: 0 auto;
  width: 960px;
}
.sub-menu-container {
  background: #fff;
}
.sub-menu-item {
  color: #333;
  display: inline-block;
  margin-left: 20px;
}
.sub-menu-item:first-child {
  margin-left: 0;
}
.sub-menu-item a {
  color: #549000;
  text-decoration: none;
}
.sub-menu-item a:hover {
  text-decoration: underline;
}
.section-header {
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
}
/*@import "reset";
@import "lesshat";
@import "icons";
@import "flags";
@import "fonts";
@import "vars-mixins";
@import "controls";

@import "header";
@import "search-form";
@import "layout";
@import "offers";
@import "footer";*/
/*@import "datepicker";
@import "tooltip";

@import "../pages/contacts";
@import "../pages/about";*/
html,
body {
  font-family: proxima_nova_rgregular, Arial, sans-serif;
}
a:hover {
  text-decoration: underline;
}
a:hover.active {
  text-decoration: none;
}
.light-theme .offers-black {
  background: #f6f6f6;
}
.light-theme .offers-dark-grey {
  background: #fff;
}
.light-theme .offers-title,
.light-theme .offers-description {
  color: #393939;
}
.offers-black,
.offers-dark-grey,
.offers-white,
.offers-light-grey {
  padding-bottom: 50px;
}
.offers-black {
  background: #000;
}
.offers-white {
  background: #fff;
  padding-bottom: 20px;
}
.offers-light-grey {
  background: #f6f6f6;
}
.offers-dark-grey {
  background: #242323;
}
.offers-container {
  margin: 0 auto;
  padding-top: 40px;
  width: 960px;
}
.offers-title {
  color: #fff;
  font-family: proxima_nova_ltlight, Arial, sans-serif;
  font-size: 27px;
  text-align: center;
  font-weight: lighter;
}
.offers-description {
  color: #b2b2b2;
  font-size: 16px;
  text-align: center;
  margin: 15px 0 30px;
}
.offers-white .offers-title,
.offers-light-grey .offers-title {
  color: #333;
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  text-align: left;
  font-size: 45px;
}
.offers-white .offers-description,
.offers-light-grey .offers-description {
  color: #333;
  font-size: 18px;
  text-align: left;
}
.offers-list {
  text-align: justify;
  line-height: 0;
}
.offers-list:after {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}
.offers-column {
  display: inline-block;
}
.offers-column .offer-small {
  display: block;
}
.offers-card-banner-container {
  height: 472px;
  position: relative;
}
.offers-card-banner-container .banner-dots {
  position: static;
  margin: 0 auto;
  visibility: hidden;
  width: 960px;
}
.offers-card-banner-container .banner-dots-container {
  bottom: 40px;
  position: absolute;
  visibility: hidden;
  width: 100%;
  z-index: 5;
}
.offers-card-banner-container .icon-scroll-mouse {
  bottom: 0;
  left: 50%;
  position: absolute;
  margin-left: 425px;
  z-index: 5;
}
.offers-card-banner-container .dot {
  visibility: visible;
}
.offers-card-banner-container .breadcrumbs {
  color: #fff;
  margin: 0 auto;
  width: 960px;
}
.offers-card-banner-container .breadcrumbs-container {
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: 5;
}
.offers-card-banner-container .info {
  color: #fff;
  margin: 0 auto;
  width: 960px;
}
.offers-card-banner-container .info-container {
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 5;
}
.offers-card-banner-container .info .name {
  font-size: 45px;
  font-weight: normal;
}
.offers-card-banner-container .info .description {
  font-family: proxima_nova_ltlight, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 22px;
  width: 510px;
}
.offers-card-banner-container.main .info-container {
  top: 120px;
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}
.offers-card-banner-container.main .info-container .name {
  font-family: proxima_nova_rgbold, Arial, sans-serif;
  font-size: 77px;
  line-height: 74px;
  /*width: 480px;*/
}
.offers-card-banner-container.main .info-container .description {
  font-size: 30px;
  line-height: 30px;
  margin-top: 16px;
  /*width: 480px;*/
}
.offers-card-banner-container.main .info-container .price {
  font-family: proxima_nova_rgbold, Arial, sans-serif;
}
.offers-card-banner-container.main .offer-card-banner-item {
  cursor: pointer;
}
.offers-card-banner-list {
  height: 100%;
  position: relative;
  z-index: 1;
}
.offers-filter {
  font-size: 16px;
  height: 59px;
  line-height: 59px;
  margin: 0 auto;
  width: 960px;
}
.offers-filter-contacts {
  font-size: 14px;
}
.offers-filter-contacts .phone {
  font-family: proxima_nova_rgbold, Arial, sans-serif;
  padding-left: 33px;
}
.offers-filter-container {
  background: #fff;
  border-bottom: 1px solid #c8c8c8;
}
.offers-filter .label-country {
  margin-left: 20px;
}
.offers-filter-programs,
.offers-filter-countries {
  margin: 0 0 0 6px;
  vertical-align: middle;
  min-width: 206px;
}
.offers-filter-countries {
  margin: 0 0 0 5px;
}
.darken-container {
  background: #000;
  height: 100%;
  left: 0;
  opacity: .25;
  filter: alpha(opacity=25);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
.offer {
  /** large */
  /** middle */
  /** small */
  /** extra-large */
}
.offer-small,
.offer-middle,
.offer-large,
.offer-extra-large {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  margin-top: 10px;
  line-height: normal;
  position: relative;
}
.offer-small:before,
.offer-middle:before,
.offer-large:before,
.offer-extra-large:before {
  background: #2F3646;
  content: '';
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.offer-animation:hover:before {
  opacity: .7;
  filter: alpha(opacity=70);
}
.offer-animation:hover .offer-img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.offer-animation:hover .offer-info {
  display: none;
}
.offer-animation:hover .offer-info-hover {
  display: block;
}
.offer-small {
  height: 209px;
  width: 313px;
}
.offer-middle {
  height: 320px;
  width: 475px;
}
.offer-large {
  height: 428px;
  width: 637px;
}
.offer-extra-large {
  height: 428px;
  width: 960px;
}
.offer-info,
.offer-info-hover {
  height: 100%;
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 5;
}
.offer-info:before,
.offer-info-hover:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.offer-info-container,
.offer-info-hover-container {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}
.offer-info-hover {
  display: none;
}
.offer-title {
  color: #fff;
  font-family: proxima_nova_rgbold, Arial, sans-serif;
  overflow: hidden;
  white-space: nowrap;
}
.offer-price {
  color: #fff;
  font-family: proxima_nova_ltlight, Arial, sans-serif;
  overflow: hidden;
  white-space: nowrap;
}
.offer-price-number {
  font-family: proxima_nova_rgbold, Arial, sans-serif;
}
.offer-info-hover .offer-price {
  font-family: proxima_nova_rgbold, Arial, sans-serif;
  margin-top: 6%;
}
.offer-date {
  margin-top: 6%;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
.offer-info-bold {
  font-family: proxima_nova_rgbold, Arial, sans-serif;
}
.offer-large .offer-title {
  font-size: 44px;
  line-height: 50px;
}
.offer-large .offer-price,
.offer-large .offer-info-hover .offer-price,
.offer-large .offer-date {
  font-size: 24px;
  margin-top: 6px;
}
.offer-middle .offer-title {
  font-size: 30px;
  line-height: 36px;
}
.offer-middle .offer-price,
.offer-middle .offer-info-hover .offer-price,
.offer-middle .offer-date {
  font-size: 20px;
}
.offer-small .offer-title {
  font-size: 24px;
  line-height: 30px;
}
.offer-small .offer-price,
.offer-small .offer-info-hover .offer-price,
.offer-small .offer-date {
  font-size: 18px;
  margin-top: 6px;
}
.offer-extra-large .offer-title {
  font-size: 44px;
  line-height: 52px;
}
.offer-extra-large .offer-price,
.offer-extra-large .offer-info-hover .offer-price,
.offer-extra-large .offer-date {
  font-size: 24px;
}
.offer-card {
  margin-top: 10px;
  line-height: 0;
  position: relative;
}
.offer-card-banner-item {
  background: #000;
  height: 472px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.offer-card-banner-item .img {
  position: absolute;
  width: 100%;
}
.offer-card-info {
  background: #fff;
  border-bottom: 1px solid #c9c9c9;
  display: inline-block;
  height: 208px;
  line-height: normal;
  margin-left: 10px;
  position: relative;
  vertical-align: top;
  width: 647px;
}
.offer-card-info .title {
  font-size: 21px;
  font-weight: normal;
  margin: 16px 10px 0 20px;
}
.offer-card-info .description {
  color: #474747;
  font-size: 13px;
  line-height: 21px;
  margin: 12px 10px 0 20px;
}
.offer-card-info .presentation-link {
  font-size: 13px;
  position: absolute;
  left: 20px;
  bottom: 25px;
}
.offer-card-info .button {
  border: 0;
  bottom: 10px;
  color: #fff;
  font-family: proxima_nova_rgbold, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 12px;
  position: absolute;
  right: 12px;
}
.offer-order-form {
  margin: 20px 33px 100px;
  width: 775px;
}
.offer-order-form .field,
.offer-order-form .field-text {
  width: 723px;
}
.offer-order-form .field-text {
  height: 154px;
}
.offer-order-form .offer-description {
  position: absolute;
  bottom: 30px;
  height: 50px;
  width: 600px;
}
.offer-order-form .offer-submit {
  font-size: 18px;
  height: 50px;
  width: 155px;
  position: absolute;
  right: 33px;
  bottom: 29px;
}
.pdf-link {
  color: #7d7d7d;
}
.pdf-link:before {
  background: url(/spa/img/pdf_icon.png);
  display: inline-block;
  content: '';
  height: 23px;
  margin-right: 10px;
  position: relative;
  top: 8px;
  width: 17px;
}
.pdf-link a {
  color: #000;
  border-bottom: 1px solid #a3a3a3;
}
/* RESET */
:link,
:visited {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  font-size: 1em;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
}
a img,
:link img,
:visited img {
  border: none;
}
address {
  font-style: normal;
}
input::-ms-clear {
  display: none;
}
.search-form-to .search-form-item-current {
  line-height: 1 !important;
}
.search-form {
  margin: 0 auto;
  width: 960px;
  /* from */
  /* to */
  /* nights */
  /* humans */
}
.search-form-item {
  background: #fff;
  border-right: 1px solid #ccd2d4;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  position: relative;
  vertical-align: top;
}
.search-form-item:before {
  background-image: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, rgba(255, 255, 255, 0) 61%);
  background-image: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, rgba(255, 255, 255, 0) 61%);
  background-image: -o-radial-gradient(center, ellipse cover, #ffffff 0%, rgba(255, 255, 255, 0) 61%);
  background-image: radial-gradient(center, ellipse cover, #ffffff 0%, rgba(255, 255, 255, 0) 61%);
  content: '';
  height: 50%;
  opacity: 0;
  position: absolute;
  top: -13px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  width: 100%;
}
.search-form-item.active:before {
  opacity: .34;
}
.search-form-item-current {
  display: inline-block;
  font-family: proxima_nova_rgregular, Arial, sans-serif;
  font-size: 16px;
  height: 48px;
  overflow: hidden;
  line-height: 48px;
  margin: 0 0 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-form-item-current.empty {
  color: #989898;
  font-size: 14px;
}
.search-form-item .icon-triangle {
  position: absolute;
  right: 12px;
  top: 22px;
}
.search-form-list,
.search-form-human-dialog {
  cursor: auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.25);
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.25);
  padding: 15px 0;
  position: absolute;
  top: 100%;
  z-index: -1;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: normal;
}
.search-form-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 285px;
  width: inherit;
}
.search-form-list-item {
  color: #242424;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  padding-left: 12px;
  white-space: nowrap;
}
.search-form-list-item:hover {
  background: #eff2f3;
}
.search-form-list-item.selected {
  background: #eff2f3;
}
.search-form-list-item-separator {
  border-top: 1px solid #dfe6e8;
}
.search-form-dialog-row {
  text-align: justify;
  margin: 0 12px;
}
.search-form-dialog-row:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.search-form-dialog-row .label {
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 5px;
}
.search-form-dialog-row .button-group {
  display: inline-block;
}
.search-form-dialog-row .button-group .button {
  background: #e7e7e7;
  color: #292929;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 19px;
  height: 36px;
  line-height: 36px;
  margin-left: 1px;
  text-align: center;
  width: 35px;
}
.search-form-dialog-row .button-group .button:first-child {
  margin-left: 0;
}
.search-form-dialog-row .button-group .button.active {
  background: #89c13a;
  color: #fff;
  cursor: auto;
}
.search-form-dialog-row .child-years-select {
  border: 0;
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.search-form-dialog-row .child-years-select-value {
  height: 100%;
  line-height: 35px;
  padding-left: 20px;
}
.search-form-dialog-row .child-years-select-container {
  border: 1px solid #d1d8d9;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: relative;
  width: 72px;
}
.search-form-dialog-row .child-years-select-container .icon-triangle {
  position: absolute;
  right: 10px;
  top: 15px;
}
.search-form-human-dialog {
  width: 256px;
}
.search-form-from {
  width: 180px;
}
.search-form-from .search-form-item-current {
  width: 122px;
}
.search-form-to {
  width: 359px;
}
.search-form-to .search-form-list {
  width: 541px;
}
.search-form-to .search-form-list-to .description {
  color: #8c98a9;
}
.search-form-to .search-form-list-to .icon-flag {
  position: absolute;
  right: 7px;
  top: 5px;
}
.search-form-to .search-form-list-item {
  position: relative;
}
.search-form-to .search-form-item-current {
  border: 0;
  height: 100%;
  margin-top: 0;
  outline: none;
  width: 282px;
}
.search-form-date {
  width: 119px;
}
.search-form-date .icon-calendar {
  position: absolute;
  right: 12px;
  top: 16px;
}
.search-form-date .hidden-input {
  border: 0;
  display: block;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  width: 100%;
}
.search-form-nights {
  width: 119px;
}
.search-form-nights .search-form-item-current {
  width: 98px;
}
.search-form-humans {
  width: 119px;
  border-right: 0;
}
.search-form-submit {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-size: 16px;
  height: 48px;
  margin: 0 0 0 1px;
  width: 117px;
}
.ui-tooltip {
  background: #ff4c4c;
  -webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.55);
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.55);
  font-family: proxima_nova_rgbold, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  padding: 1px 13px;
}
.ui-tooltip:before {
  border-style: solid;
  border-width: 0 10px 12px 10px;
  border-color: transparent transparent #ff4c4c transparent;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -12px;
  width: 0;
}
.pull-right {
  float: right;
}
