<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name='yandex-verification' content='40fd92efcc007a47'/>
    <title>Инна-Тур - Туры</title>

    <!--[if lt IE 9]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
        document.createElement('ng:any');
    </script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico"/>

    <!--<link rel="stylesheet" href="/spa/css/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" type="text/css" href="/spa/css/main.css" />-->

    <link rel="stylesheet" href="/spa/lib/jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.min.css"/>

    <!-- build:app-less -->
    <link rel="stylesheet" href="/build/css/main.less.css" />
    <!-- endbuild -->
    <!-- build:app-stylus -->
    <link rel="stylesheet" href="/build/css/common.min.css" />
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/build/css/ie.min.css"/>
    <![endif]-->

    <script src="/spa/lib/if-browser.js"></script>
    <script>
        var old = ifBrowser();

        if (old.bName) {
            var oldV = old.bNameV.split('.');

            if (oldV[0] == 'ie' && oldV[1] <= 9) {
                location.href = '/browser.html'
            }
        }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32173758-1', 'inna.ru');
      ga('send', 'pageview');

    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("532dac45f83fefdc36219557a5583d85");</script>
    <!-- end Mixpanel -->
	
</head>
<body id="ng-app" ng-app="innaApp" ng-click="bodyClick()" ng-controller="RootCtrl" popup-form>
<div class="main">
    <div class="header Header">
        <div class="header-info">
            <div class="header-info-container row">
                <div class="col-xs-6 col-no-padding">
                    <a href="/" class="header-info-logo">
                        <i class="icon icon-logo" alt="ИННА ТУР" title="ИННА ТУР"></i>
                        <i class="icon icon-logo-inna name" alt="ИННА ТУР" title="ИННА ТУР"></i>
                    </a>
                    <span class="header-text"></span>
                </div>
                <div class="col-xs-6 header-info-container-right col-no-padding">
                    <ul class="header-info-menu" style="margin-right:0px;">
                        <li class="header-info-menu-item">
                            <a href="http://www.inna.ru/catalog/guide/" style="color: white;">Агентствам</a>
                        </li>
                        <li class="header-info-menu-item"><a href="/#/about/">О компании</a></li>
                        <li class="header-info-menu-item">+7&nbsp;495 742-1212</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="header-menu">
            <div class="main__center">
                <ul class="header-menu-container-items">


                    <li class="header-menu-item"><a href="/#/packages/">Перелет&nbsp;+&nbsp;Отель</a></li>
                    <li class="header-menu-item"><a href="/#/avia/">Авиабилеты</a></li>
                    <li class="header-menu-item"><a href="/#/tours/" class="active">Туры</a></li>
                    <li class="header-menu-item"><a href="/#/individualtours/">Программы</a></li>
                    <li class="header-menu-item"><a href="http://www.booking.com/index.html?aid=373638&lang=ru"
                                                    target="_blank">Отели</a></li>
                    <li class="header-menu-item"><a href="/catalog/guide/">Каталог стран</a></li>
                </ul>
                <ng:include src="getHeadForm()"></ng:include>
            </div>
        </div>
    </div>

    <div class="button fixed-request-button" ng-click="popupForm_Show()"
         ng-show="!isActive('/individualtours/category/')
         && !isActive('/packages/search/')
         && !isActive('/avia/')
         && !isActive('/')
         && !isActive('/avia/search/')"
         title="Отправить заявку"></div>

    <div class="wrpr">
        <div class="layout" style="padding-top:105px;">
            <div class="main-banner" style="height: 0px;">
            </div>
            <div style="margin: auto; width: 970px; min-height:100px;">

                <div>
                    <script type="text/javascript" src="//ui.sletat.ru/module-4.0/core.js" charset="utf-8"></script>
                    <script type="text/javascript">
                        sletat.FrameSearch.$create({
                            useCard: false,
                            results: "group",
                            useJumpTo: true,
                            jumpToTarget: "self",
                            jumpToAddress: "http://inna.ru/tours"
                        });</script>
                    <span style="visibility:hidden;" class="sletat-copyright">Идет загрузка модуля <a
                            href="http://sletat.ru/" title="поиск туров" target="_blank">поиска
                        туров</a> &hellip;</span>
                </div>

                <script type="text/javascript" src="//ui.sletat.ru/module-4.0/core.js" charset="utf-8"></script>
                <script type="text/javascript">
                    sletat.FrameSearch.$create({
                        useCard: false,
                        results: "group",
                        useForm: false
                    });</script>
                <span style="visibility:hidden;" class="sletat-copyright">Идет загрузка модуля <a
                        href="http://sletat.ru/" title="поиск туров" target="_blank">поиска туров</a> &hellip;</span>

            </div>

        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-content main__center">
        <div class="footer-menu">
            <ul class="footer-menu-links-list">
                <li class="footer-menu-links-list-item"><a href="/#/about/">О компании</a></li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/corporate/">Корпоративным
                    клиентам</a></li>
                <li class="footer-menu-links-list-item"><a href="/#/contacts/">Контакты</a></li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/agency/">Агентствам</a></li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/catalog/guide/">Каталог стран</a>
                </li>
                <li class="footer-menu-links-list-item"><a href="http://www.inna.ru/client/abc/">Полезная информация</a>
                </li>
            </ul>
            <div class="footer-menu-info">
                <ul class="social-list">
                    <li class="social-list-item">
                        <a href="https://vk.com/inna_tur_ru" target="_blank"><i class="icon icon-vkontakte"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="http://odnoklassniki.ru/innatour" target="_blank"><i
                                class="icon icon-odnoklassniki"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="https://www.facebook.com/INNATOURCOMPANY" target="_blank"><i
                                class="icon icon-facebook"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="https://twitter.com/inna_tour" target="_blank"><i class="icon icon-twitter"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="http://www.pinterest.com/innatour/" target="_blank"><i class="icon icon-pinterest"></i></a>
                    </li>
                    <li class="social-list-item">
                        <a href="http://www.youtube.com/user/InnaTourMos/featured" target="_blank"><i
                                class="icon icon-youtube"></i></a>
                    </li>
                </ul>
                <p class="phone-info">многоканальный телефон</p>

                <p class="phone">+7&nbsp;495 742-1212</p>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="info info-left">
                ИННА ТУР (INNA TOUR) — многопрофильный туроператор, оказывающий полный комплекс туристических услуг.
                Туры в Великобританию, Францию, Италию, Швейцарию, Барбадос, Вьетнам, Доминикану, Индонезию, Камбоджу,
                Кубу, Мексику, Тайланд, Филиппины, Ямайку, ОАЭ и др. - всего более 40 направлений по всему миру.
            </p>

            <p class="info">
                &copy;&nbsp;1992&ndash;2014 &laquo;ИННА ТУР&raquo;, все права защищены.<br>
                <span class="licence">Реестр туроператоров <a
                        href="http://reestr.russiatourism.ru/?ac=view&id_reestr=8893">МТ3 008557</a></span>
            </p>
        </div>
    </div>
</div>

<ng:include src="'popup/mainform.html'"></ng:include>


<script src="//yandex.st/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>

<!--[if lt IE 10]>
<script src="/spa/js/ie.placeholder.js"></script>
<script src="spa/lib/xdomain.min.js"></script>
<script>
    xdomain.slaves({
        "http://api.test.inna.ru": "/proxy.html",
        "https://apibeta.inna.ru": "/proxy.html",
        "https://api.inna.ru": "/proxy.html"
    });
</script>
<![endif]-->

<!--contacts-->
<script src="//api-maps.yandex.ru/2.0-stable/?load=package.standard,package.geoObjects&lang=ru-RU"
        type="text/javascript"></script>

<!-- build:app-config-js -->
<script src="/build/js/config.js"></script>
<!-- endbuild -->

<!-- build:app-main-js -->  <!--файлы заменяются при билде на app-main.js-->

<script src="/spa/js/google.maps.clustering.js"></script>

<!-- polyfill -->
<script src="/spa/lib/polyfill.js"></script>

<!-- jq plugins -->
<script src="/spa/lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/spa/js/jquery.ui.datepicker-ru.js"></script>
<script src="/spa/js/angular/plugins/carousel.js"></script>
<!-- \ jq plugins -->

<script src="/spa/js/debug.js"></script>
<script src="/spa/lib/angular-cookies.min.js"></script>
<script src="/spa/lib/angular-locale_ru-ru.js"></script>
<script src="/spa/js/angular/helpers/utils.js"></script>
<script src="/spa/js/angular/helpers/urlhelper.js"></script>
<script src="/spa/js/angular/helpers/date.helper.js"></script>
<script src="/spa/js/angular/helpers/string.helper.js"></script>
<script src="/spa/js/angular/helpers/collections.helper.js"></script>
<script src="/spa/js/angular/helpers/api.stub.js"></script>
<script src="/spa/js/angular/helpers/cache_keys.js"></script>

<script src="/spa/js/angular/tracking.js"></script>
<script src="/spa/js/datepicker.js"></script>
<script src="/spa/js/angular/app.js"></script>

<!-- templateCache -->
<script src="/build/js/templates.js"></script>

<script src="/spa/js/angular/ang.helpers/url.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/api.js"></script>
<script src="/spa/js/angular/ang.helpers/avia.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/ajax.helper.js"></script>
<script src="/spa/js/angular/ang.helpers/popup.controller.mixin.js"></script>
<script src="/spa/js/angular/filters.js"></script>

<!--services-->
<script src="/build/js/angular-services.js"></script>

<!--controllers-->
<script src="/build/js/angular-controllers.js"></script>

<!--directives-->
<script src="/build/js/angular-directives.js"></script>


<!-- PAGES REGIONS COMPONENTS -->
<script src="/build/js/pages.js"></script>
<script src="/build/js/components.js"></script>
<script src="/build/js/regions.js"></script>
<!-- /  -->

<script src="/spa/js/angular/models/app.model.js"></script>
<script src="/spa/js/angular/models/app.model.avia.js"></script>
<script src="/spa/js/angular/models/app.model.to.api.model.js"></script>
<script src="/spa/js/angular/models/app.model.tours.js"></script>
<script src="/spa/js/angular/models/app.model.dynamic.js"></script>
<script src="/spa/js/angular/models/auth.js"></script>
<!-- endbuild -->

<script type="text/javascript">
    //фикс для закрытия выпадалок
    var intervalId = setInterval(function () {
        //console.log('frame setTimeout');
        var frame_sletat = document.getElementById("sletat-frame-2");
        if (frame_sletat != null) {
            var iframe_body = frame_sletat.contentWindow.document.body;
            $(iframe_body).click(function () {
                //закрываем jq календарь
                $(".Calendar-input").datepicker("hide");
                var scope = angular.element($("#ng-app")).scope();
                scope.$apply(function () {
                    scope.bodyClick();
                });
            });

            clearInterval(intervalId);
        }
    }, 100);

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
	try {
	w.yaCounter12702715 = new Ya.Metrika({id:12702715,
	webvisor:true,
	clickmap:true,
	trackLinks:true,
	accurateTrackBounce:true});
	} catch(e) { }
    });
	
    var n = d.getElementsByTagName("script")[0],
	s = d.createElement("script"),
	f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
	
    if (w.opera == "[object Opera]") {
	d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/12702715" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter --> 

<!-- Remarketing Google -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 960692718;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/960692718/?value=0&guid=ON&script=0"/>
</div>
</noscript>
	
</body>
</html>
