<div class="filters__baloon__item">
    <header class="ra-header">
        <h4 class="ra-title">{{airport.name}}</h4>
        <span class="ra-header-link like-link" on-click="resetFilter">Сбросить</span>
    </header>
    <div class="ra-content">
        <ul class="ra-fly-type-list">
			{{#each airport.list}}
                <li>
                    <label>
                        <input type="checkbox" name="stateAirPort"
                               value="{{name}}" checked="{{this.isChecked}}">
                        <span class="ra-checkbox"></span>
                        <span class="ra-fly-type">{{name}}</span>
                    </label>
                </li>
			{{/each}}
        </ul>
    </div>
</div>
