<div class="filters__baloon__item">
    <header class="ra-header">
        <h4 class="ra-title">{{data.title}}</h4>
        <span class="ra-header-link like-link" on-click="resetFilter">Сбросить</span>
    </header>

    <form>
        <div class="filters__baloon-radio">
            <div class="btn-group btn-group-justified">
				{{#each data.state}}
                    <label on-change="changeState" class="btn btn-{{(this.isActive) ? 'green' : ''}}">
                        <input type="radio" name="state" value="{{this.value}}" checked="{{this.isActive}}">
						{{this.title}}
                    </label>
				{{/each}}
            </div>
        </div>

        <div class="filters__baloon-days">
            <ul class="ra-fly-type-list ra-fly-type-list_style_full-width">

				{{#each data.dayState}}
                    <li class="ra-fly-type-list__item">
                        <label on-change="changeDay">
                            <input type="checkbox" name="dayState" value="{{this.state}}" checked="{{this.isChecked}}">
                            <span class="ra-checkbox"></span>
                            <span class="ra-fly-type">{{this.name}}</span>
                        </label>
                    </li>
				{{/each}}
            </ul>
        </div>
    </form>
</div>