.hotel-details
    background #000
    background-size cover
    top 96px
    position relative
    z-index 100
    padding: 20px 0 30px

    &__wrap
        z-index 1
        margin 0 auto
        width 960px

    &__section
        margin 10px 0 20px

        &_layout_context
            overflow hidden

        &-box
            background #fff
            border-radius 8px
            padding 20px
            color #000

            .hotel-details__section-title
                color #000

        &-title
            width: 100%
            color #fff
            font-size 18px
            margin-bottom 18px
            
            &-section
                display table-cell
                width 100%
                min-width 400px
                vertical-align bottom
                
                &:last-child
                    text-align right

        &-text
            margin-bottom 30px

            p
                margin 20px 0

            &-viewport
                height: 150px
                overflow hidden
                text-overflow ellipsis

                *
                    text-overflow ellipsis

                &_state_open
                    height auto

            &-more
                color #1e88c1
                cursor pointer

    &__ta
        float right

.hotel-details-control
    font-size 0
    color #fff
    font-weight normal

    &_pin_left
        float left

    &__button
        background rgba(255, 255, 255, .3)
        padding 10px 20px
        font-size 14px
        margin-right 10px
        border-radius 4px
        display inline-block
        cursor pointer
        vertical-align bottom

        &_theme
            &_arrow
                padding-left 10px
                padding-right 10px
            &_icon-only
                padding 8px 7px 7px
                position relative
                top -1px 

.hotel-details-ta-info
    background #ded9d8
    border-radius 4px
    padding 6px 20px 4px
    font-size 0

    &__comments
        font-size 12px
        color #4d4d4d
        padding-left 10px
        position relative
        top -2px

    .icon-tripadvisor
        margin-right 10px

.hotel-details-name
    font-size 24px
    line-height 46px
    color #fff
    font-weight bold
    text-align center


    .hotel-details-stars
        white-space nowrap
        position relative
        top -3px
        left -2px

.gallery
    &__viewport
        margin 0 auto
        border-radius 8px
        box-shadow 1px 1px 2px rgba(50, 50, 50, .6)

        &-wrap
            height 500px
            width 960px
            display table-cell
            text-align center
            vertical-align middle

    &__list
        font-size 0
        text-align justify

        &-item
            width 70px
            height 70px
            background-size cover
            margin-right 5px
            margin-bottom 5px
            display inline-block
            cursor pointer

            &_state_current
                outline: 2px solid #89c13a

.hotel-details-extra
    font-size 0

    &__item
        display inline-block
        margin-right 7px
        background-color #e6e7e9
        color #4d4d4d
        font-size 12px
        border-radius 4px
        padding 8px 10px 7px 30px
        background-position 7px center
        background-repeat no-repeat

        &_type
            &_parking
                background-image url(/spa/img/hotels/parking.png)
                background-position 8px center
            &_food
                background-image url(/spa/img/hotels/food.png)
                background-position 9px center
            &_skipass
                background-image url(/spa/img/hotels/skipass.png)
            &_trans
                background-image url(/spa/img/hotels/trans.png)
                background-position 5px center
            &_wifi
                background-image url(/spa/img/hotels/wifi.png)
                
.hotel-details-map
    width 100%
    height 200px
    border-radius 8px
    box-shadow 1px 1px 2px rgba(50, 50, 50, .6)

    #hotel-details-map
        width 100%
        height 100%

    &_display_fullscreen
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        height auto
        z-index 100
    
.hotel-details-rooms
    border-radius 8px
    box-shadow 1px 1px 2px rgba(50, 50, 50, .6)
    background #fff
    
    &__room
        border-bottom 1px solid #dedede
        
        &:last-child
            border-bottom 0
    
        &-long
            display none
            
        &-short
            padding 10px
            
        &-title
            color #1e88c1
            font-size 14px
            font-weight normal
            cursor pointer
            
        &-info
            display table
            width 100%
            
        &-desc
        &-cancel-rules
        &-price
        &-actions
            display table-cell
            vertical-align top
            font-size 14px
            
        &-desc
            width 100%
            
        &-cancel-rules
            min-width 140px
            padding-right 5px
            
        &-price
            min-width 145px
            padding-right 10px
            text-align right
            
            &-diff
                font-size 18px
                
        &-actions
            min-width 180
            text-align right
            
        &-long
            padding 10px
            background #eeeeee
            background -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 3%, #ffffff 97%, #eeeeee 100%)
            background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(3%,#ffffff), color-stop(97%,#ffffff), color-stop(100%,#eeeeee))
            background -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 3%,#ffffff 97%,#eeeeee 100%)
            background -o-linear-gradient(top,  #eeeeee 0%,#ffffff 3%,#ffffff 97%,#eeeeee 100%)
            background -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 3%,#ffffff 97%,#eeeeee 100%)
            background linear-gradient(to bottom,  #eeeeee 0%,#ffffff 3%,#ffffff 97%,#eeeeee 100%)
            filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0)")
            border 1px solid #dedede 
            border-width 1px 0 0
            
        &-long-text
            font-size 14px
            
            p
                margin 10px 0
                
            ul
                margin-left 15px
                padding-left 10px
                
                li
                    list-style disc
            
        &_state_open
            .hotel-details-rooms__room-long
                display block
            .hotel-details-rooms__room-title::after
                content '▼'
                font-size 11px
                padding-left 4px
                
.button
    &_size_l
        font-size 18px
        font-weight normal
        height 30px
        width 170px
        
.mini-gallery
    font-size 0
    
    &__mini
        display inline-block
        width 70px
        height 70px
        margin-right 5px
        background-size cover
        position relative
        z-index 1
        
        &:hover
            .mini-gallery__big
                display block
        
    &__big
        display none
        position absolute
        left 0
        top 73px
        border 2px solid #fff
        border-radius 2px 
        box-shadow 1px 1px 2px rgba(50, 50, 50, .6)
        z-index 2
        
        &::after
            content ''
            display block
            position absolute
            top -10px
            left 35px
            width: 0;
            height: 0;
            border-style solid
            border-width 0 8px 10px 8px
            border-color transparent transparent #fff transparent
        
.hotel-details-resume
    font-size 14px
    color #fff
    
    &__section
        padding 15px
        border-bottom 1px solid #878787
        overflow hidden
        
        &:last-child
            border-bottom 0
        
        &-title
            font-size 16px
            font-weight bold
            float left
            width 200px
            
    &__list
        margin-left 240px
        padding-left 10px
        overflow hidden
        
    &__item
        list-style inside disc
        float left
        width 40%
        margin-right 9%
        
        
        
        
        
        
        
        
        
        
        
        