<div class="gallery_wrapper" ng-class="{'gallery_wrapper_empty': emptyPhoto}">
	<div class="gallery gallery_len_{{pics.list.length}} gallery_plan_{{pics.plan}}" ng-if="pics.list.length != 0">
		<div class="gallery__viewport-wrap">
			<div class="gallery__viewport" ng-style="getViewportStyle()" ng-click="showFullGallery($event)"></div>
		</div>

		<!-- jQuery Slider scrollBar -->
		<div scroll-bar
		     ng-if="pics.list.length > 1"
		     class="scroll-pane gallery__list__wrapper">

			<div class="gallery__list__container">
				<ul class="scroll-content gallery__list">
					<li ng-repeat="pic in pics.list"
					    ng-class="{'gallery__list-item_state_current': pics.isCurrent($index)}"
					    class="gallery__list-item"
					    style="background-image:url({{pic.src}});"
					    ng-click="pics.setCurrent($index, $event)"></li>
				</ul>
			</div>

			<div ng-show="hideBar"
			     class="ng-hide scroll-bar-wrap gallery__list__scroll b-slider">
				<div class="scroll-bar"></div>
			</div>
		</div>

		<div class="gallery__disclaimer">
			Фотографии предоставлены отелем.
			<span ng-if="!isFullWL">
				Компания ИННА ТУР не несет ответвенности за
                достоверность предоставленной информации.
			</span>
		</div>
	</div>
</div>

<ng-include ng-if="showGallery" src="'components/gallery/templ/gallery.full.html'"></ng-include>