<div class="hotel-gallery b-carousel" on-hover="hover">

	{{#if photoCollection.length > 1}}
        <div class="b-carousel__prev b-carousel_arrow_mini" on-click="slidePrev">
		        <i class="icon-sprite-arrow-bottom b-carousel__prev__arrow"></i>
        </div>
        <div class="b-carousel__next b-carousel_arrow_mini" on-click="slideNext">
		        <i class="icon-sprite-arrow-bottom b-carousel__next__arrow"></i>
        </div>
	{{/if}}

	{{#if countPhoto}}
        <span class="hotel-gallery-photo-button">{{countPhoto}}</span>
	{{/if}}
    <div class="hotel-gallery-container b-carousel__holder" style="width:{{width}}px;height:136px;">

        <!-- Slider -->
        <div class="b-carousel__slider" style="width:{{(PhotoHotel[imageSize].length * width) + 10}}px;height:{{height}}px;">

            <!-- показываем первую картинку -->
            <div class="b-carousel_item"
                 style="width:{{width}}px;height:{{height}}px;">

                <div class="b-carousel_item_image"
                     style="background-image: url({{photoList[0]}});"></div>
            </div>


            <!-- остальные показываем после события hover -->
			{{#each photoCollection}}
                <div class="b-carousel_item"
                     style="width:{{width}}px;height:{{height}}px;">

                    <div class="b-carousel_item_image"
                         style="background-image: url({{.}});"></div>
                </div>
			{{/each}}
        </div>
    </div>
</div>