<div class="hotel-gallery b-carousel" on-hover="hover">

	{{#if photoList.length}}
        <div class="b-carousel__prev" on-click="slidePrev">
	        <i class="icon-sprite-arrow-bottom b-carousel__prev__arrow"></i>
        </div>
        <div class="b-carousel__next" on-click="slideNext">
	        <i class="icon-sprite-arrow-bottom b-carousel__next__arrow"></i>
        </div>
	{{/if}}

	{{#if countPhoto}}
        <span class="hotel-gallery-photo-button">{{countPhoto}}</span>
	{{/if}}

    <div class="hotel-gallery-container b-carousel__holder b-carousel__holder_map" style="width:{{width}}px;
		    height:160px;">

        <!-- Slider -->
        <div class="b-carousel__slider" style="width:{{(PhotoHotel[imageSize].length * width) + 10}}px;">

            <!-- показываем первую картинку -->
            <div class="b-carousel_item">
                 <!--style="width:{{width}}px;height:{{height}}px;">-->

                <div class="b-carousel_item_image"
                     style="background-image: url({{photoList[0]}});"></div>
            </div>

			<!-- остальные показываем после события hover -->
	        {{#each photoCollection}}
                <div class="b-carousel_item b-carousel_map_item"
                     style="width:{{width}}px;height:{{height}}px;">

                    <div class="b-carousel_item_image b-carousel_map_item_image"
                         style="background-image: url({{.}});"></div>
                </div>
	        {{/each}}
        </div>
    </div>
</div>