<div class="gallery_wrapper" ng-class="{'gallery_wrapper_empty': emptyPhoto}">
	<div class="gallery gallery_len_{{pics.list.length}} gallery_plan_{{pics.plan}}" ng-if="pics.list.length != 0">
		<div class="gallery__viewport-wrap">
			<div class="gallery__viewport" ng-style="getViewportStyle()">

				<div class="gallery__active gallery__active_type_prev" ng-if="pics.list.length > 1"
				     ng-click="pics.prev()">
					<div class="b-carousel__control b-carousel__prev"></div>
				</div>
				<div class="gallery__active gallery__active_type_next" ng-if="pics.list.length > 1"
				     ng-click="pics.next()">
					<div class="b-carousel__control b-carousel__next"></div>
				</div>
			</div>
		</div>
		<div class="gallery__list__wrapper">

			<div class="gallery__list__container">
				<ul class="gallery__list" ng-if="pics.list.length > 1">
					<li ng-repeat="pic in pics.list"
					    ng-class="{'gallery__list-item_state_current': pics.isCurrent($index)}"
					    class="gallery__list-item"
					    style="background-image:url({{pic.src}});"
					    ng-click="pics.setCurrent($index)"></li>
				</ul>
			</div>

			<div class="gallery__list__scroll">
				<div slider-directive
				     scope="this"
				     class="filter__range-trackbar">

				</div>
			</div>
		</div>

		<div class="gallery__disclaimer">
			Фотографии предоставлены отелем.
			<span ng-if="!isFullWL">
				Компания ИННА ТУР не несет ответвенности за
                достоверность предоставленной информации.
			</span>
		</div>
	</div>
</div>