.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 300;
}
.header__container {
}
.header-nav {
    font-size: 15px;
}
.header-nav__item {
    display: inline-block;
    margin: 0 2px 0 0;
}
.header-nav__item-link {
    display: block;
    padding: 4px 16px;
    background-color: $header-nav__item-link-bg;
    color: $header-white;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;

    &:hover {
        color $header-white
        text-decoration none
    }
}
.header-nav__item-link-active {
    background-color: $header-nav__item-link-active-bg;
}
//
//
// begin header-user
.header-user {
    margin-left: 30px;
}
.header-user__items {
    display: flex;
    align-items: center;
}
.header-user__item {
    padding: 0 10px;
    border-left: 1px solid $header-user__item-border-color;
    white-space: nowrap;
    cursor: pointer;

    &:first-child {
        padding-left: 0;
        border-left: none;
    }
}
.header-user__item-icon {
    display: inline-block;
    margin-right: 6px;
    color: $header-user__item-icon-color;
    font-size: 1.1rem;
}
.header-user__item-text {
    display: inline-block;
    color: $header-user__item-text-color;
    font-size: .85rem;
}
// end header-user
//
//
//
//
// begin header-info
.header-info {
    background: $header-info-bg;
    padding: 10px 0;
}
.header-info-item {
    display: inline-block;
    vertical-align: middle;
}
.header-info__logo {
    display: flex;
    align-items: center;
    font-size: 24px;

    &:hover {
        text-decoration: none;
    }
}
.icon-logo {
    height: 39px;
    width: 100px;
    background-image: url(/spa/img/logo.png);
}
.icon-logo-inna {
    display: block;
    height: 19px;
    width: 135px;
    margin-left: 15px;
    background-image: url(/spa/img/innatour.png);
    color: #89c13a;
}
.header-info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: $site-width;
    margin: 0 auto;
}
.header-info__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-info__phone {
    display: flex;
    align-items: center;
}
.header-info__phone-icon {
    margin-right: 11px;
    color: $header-info__phone-icon-color;
    font-size: 1.5rem !important;
}
.header-info__phone-number {
    font-size: .9rem;
    color: $header-white;
}
.header-info__phone-info {
    font-size: .7rem;
    color: $header-info__phone-info-color;
    text-align: center;
}
// end header-info
//
//
.header-menu {
    padding-top: 0px;
    padding-bottom: 1px;
    background: $header-menu-bg;
    font-size: 15px;
}
.search-form-expanded {

    .b-search-form,
    .search-form {
        background: $header-menu-bg;
    }
    .header-menu {
        padding-top: 150px;
        background: transparent;
    }
    .header-nav__item-link {
        background-color: $header-nav__item-bg;
        color: $white;

        &:hover {
            color $white
            text-decoration none
        }
    }
    .header-nav__item-link-active {
        background-color: $header-nav__item-bg-active;
    }
}
