$gray = rgba(246, 246, 246, 0.91);
$border-gray = #e0e0e0;
$orange = #fbb03b;
$green = #89c13a;
.l-where-to-buy{
    position: relative;
    z-index: 1;
    padding: $padding-layout-light 0 0;
    background-color: $white;

    .sub-menu-container{
        border-bottom: 3px solid $gray;
    }
}
.l-where-to-buy__container{
    margin: 0 auto;
    width: $site-width;
}
.l-where-to-buy__title{
    font-size: 24px;
    margin: 30px 0 20px;
    font-family: ProximaNova, Arial, sans-serif;
    font-weight: normal;
}
.l-where-to-buy__txt{
    margin: 20px 0 35px;
    font-size: 15px;
}
.b-where-to-buy__location{
    position: relative;
    z-index: 2;
    height: 54px;
    margin: 0;
    background-color: $gray;
    font-size: 18px;
    line-height: 24px;
}
.b-where-to-buy__location-current{

}
.b-where-to-buy__location-current-txt{
    display: inline-block;
    padding: 15px 0;
}
.b-where-to-buy__location-edit{
    margin: 0 0 0 5px;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}
.b-where-to-buy__agencies{
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;

    *{
        box-sizing: border-box;
    }
}
.b-where-to-buy__agencies-title{
    background-color #fff;
    height: 54px;
    padding: 15px 25px;
    border-style: solid;
    border-color: $border-gray;
    border-width: 1px 1px 0;
}
.b-where-to-buy__agencies-list{
    overflow: auto;
    border-bottom: 1px solid $border-gray;
    background-color #fff;

    a{
        color: $blue
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }
    }
}
.b-where-to-buy__agencies-list_item{
    background-color #fff;
    padding: 15px 25px;
    font-size: 14px;
    line-height: 120%;
    border-style: solid;
    border-color: $border-gray;
    border-width: 1px 1px 0;
    cursor: pointer;
    overflow: hidden;

    h3{
        font-size: 16px;
    }

    &:hover{
        background-color: rgba(0, 0, 0, .05);
    }
    &.active{
        box-shadow: inset 0 0 0 3px $green;
        border-color: transparent;
    }
}
.b-where-to-buy__agencies-promo{
    @extend .b-where-to-buy__agencies-list_item;
    background-color: $orange;
    border-width: 0;
    cursor inherit

    &:hover{
        background-color: $orange;
    }

    h3{
        margin: 0 0 15px;
    }
    a{
        color: #000;
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }
    }

    &.one{
        position: absolute;
        margin-top: -80px;
    }
}
.b-where-to-buy-map__container{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
.b-where-to-buy-map{
    width: 100%;
    height: 100%;
}
//b-typeahead
.b-typeahead{
    position: relative;
    display: inline-block;
    width: 250px;
    margin: 11px 0 0 5px;
    vertical-align: top;

    .dropdown-menu{
        position: absolute;
        background: #fff;

        li{
            box-sizing: border-box;
            line-height: 27px;
            padding: 4px 15px;
            font-size: 18px;
            cursor: pointer;
            white-space: nowrap;

            &.active{
                background-color: $border-gray;
            }

            a{
                color: #000;

                &:hover{
                    text-decoration: none
                }
            }
        }
    }
}
.b-typeahead__input{
    vertical-align: top;
    height: 35px;
    min-width: 250px;
    line-height: 27px;
    padding: 4px 15px;
    background-color: #fff;
    border: 1px solid $border-gray;
    box-sizing: border-box;
    font-size: 18px;
    color: #000;
}
    