.l-where-to-buy{
    position: relative;
    z-index: 1;
    padding: $padding-layout-light 0 0;
    background-color: $white

    .sub-menu-container{
        border-bottom: 3px solid #f6f6f6
    }
}
.l-where-to-buy__container{
    margin 0 auto
    width $site-width
}
.l-where-to-buy__title{
    font-size: 24px;
    margin: 30px 0 20px;
    font-family: ProximaNova, Arial, sans-serif;
    font-weight: normal;
}
.l-where-to-buy__txt{
    margin 20px 0 35px
    font-size 15px
}
.b-where-to-buy-map{
    height: 600px;
}