{{#if condition}}
	<div class="b-tooltip b-tooltip_popover {{tooltipKlassComputed}}"
	     style="top:165px; left:{{coords.left - 4}}px; position:{{positionStyle}};">
		<!--{{coords.top}}-->

		<!--on-click='toggleShow'-->


		<div class="tooltip tooltip_{{position}} tooltip_pin_{{pin}}
			{{isVisible ? 'tooltip_show' : 'tooltip_hide' }}"
		     style="width:{{width}}px;">
			{{#if close}}
				<div class="balloon-close" on-click="hide" title="Закрыть">
					<i class="icon-sprite-remove-big"></i>
				</div>
			{{/if}}
			{{{contentHTML}}}
		</div>
	</div>
{{/if}}

