btn-orange(){
    font-size 18px
    font-weight bold
    color $white
    text-align center
    text-shadow 0 -1px 0 #ff8600
    font-family "Open Sans", Arial, sans-serif
}
.partner-wl{

    .b-search-button{
        position: relative;
        overflow hidden
        display inline-block
        height 36px
        width 105px
        margin-top 0px
        cursor: pointer;
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 0

        &:hover{
            background-position 0 -41px
        }
    }

    .balloon-button{
        width 162px
        height 36px
        line-height 36px
        padding 0
        box-sizing border-box
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -458px
        text-indent 300px
        overflow hidden
        border none

        &:hover{
            background-position 0 -499px
        }
    }

    .result-buy .button{
        left 10px
        width 162px
        height 36px
        line-height 36px
        padding 0
        box-sizing border-box
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -82px
        text-indent 300px
        overflow hidden

        &:hover{
            background-position 0 -123px
        }
    }

    .b-list-panel__hotels_list .button{
        width 162px
        height 36px
        line-height 36px
        padding 0
        box-sizing border-box
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -376px
        text-indent 300px
        overflow hidden

        &:hover{
            background-position 0 -417px
        }
    }

    .btn.btn-green{
        width 161px
        height 36px
        padding 0
        text-indent -300px
        overflow hidden
        box-shadow none
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -82px

        &:hover{
            background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -123px
        }
    }

    .hotel-details-rooms__room-price{
        padding-right 25px !important
    }
    .hotel-details-rooms__room-actions{
        width 161px
    }
        
    .rl-buy-button{
        width 162px
        height 36px
        line-height 36px
        padding 0
        box-sizing border-box
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -376px
        text-indent 300px
        overflow hidden

        &:hover{
            background-position 0 -417px
        }
    }

    .hotel-details-rooms__room-actions .button{
        btx-button1();
    }

    .b-tooltip-share__button.active{
        color-bg-share-wl();
    }

    .b-sum-button{
        width 224px
        height 48px
        padding 0
        border none 
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -270px
        text-indent -400px
        font-size 0
        overflow hidden
        border-radius 0
        
        &:hover{
            background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -323px
        }
    }

    .b-pay-button{
        width 188px
        height 48px
        padding 0
        border none
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -164px
        text-indent -400px
        font-size 0
        overflow hidden
        border-radius 0

        &:hover{
            background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -217px
        }
    }

    .wl-container{
        .button{
            padding: 4px 16px;
            width: 140px;
            text-align: center;
            btx-button-color1();

            &.wl-search{
                display inline-block
                height 36px
                width 161px
                margin: 6px 10px 0px 0px;
                padding 0
                text-transform: uppercase;
                position: absolute;
                right: 0px;
                font-size: 14px;
                border none
                background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -458px
                text-indent -400px
                font-size 0
                overflow hidden

                &:hover{
                    background-position 0 -499px
                }
            }
        }
    }

    .pin .pin-balloon .button{
        width 161px
        height 36px
        line-height 36px
        padding 0
        box-sizing border-box
        background url("/spa/img/partners/svyaznoy/btn.png") no-repeat 0 -376px
        text-indent 300px
        overflow hidden

        &:hover{
            background-position 0 -417px
        }
    }
}