color-bg-lbl-wl(){
    background: #64a1d3;
}
color-bg-share-wl(){
    background: #61a8e1;
}
color-bg-btn-wl(){
    background: linear-gradient(top, #c1579a, #c15479);
}
color-border-wl(){
    border-color: #c1579a;
}
orange-btn(){
    background: linear-gradient(top, #ffc71e, #ff8900);
    border 1px solid #feb128
    border-radius 17px
    
    &:before{
        content ''
        position absolute
        left -5%
        top 18px
        width 110%
        height 34px
        border-radius 40px
        background: linear-gradient(top, #ff8900, #ffa906);
    }
    
    &:hover{
        background: linear-gradient(top, #ffdc0e, #ff9d00);
    }
}
color-datepicker-background-wl(){
    background: linear-gradient(top, #c1579a, #c15479);
}
color-datepicker-bg(){
    background: #e3bcd5;
}
arrow-color-wl(){
    background: url("/spa/img/arrow_blue.png") no-repeat 0px -3px;
}
