.partner-wl{
    .reserve-form{
        padding-top: 20px;
    }

    .buy-form{
        padding-top: 20px;
    }

    .buy__header .buy__title{
    }

    .b__rules-flies .current{
        background: #61a8e1;
    }

    .b-agreement{
        .b-checkbox{
            border-color #777893
            border-radius 0
        }

        input:checked + .b-checkbox{
            background-color #777893
        }
    }

    .buy__blocks{
        .radio-list input:checked + .radio{
            background-color #fc6421
            color #fff
        }
    }

    .b-sum-container{
        background: transparent;
        border-bottom: 1px solid transparent;
    }

    .b-tickets-info-container{
        border-top: 4px solid #61a8e1;
        border-bottom: 1px solid #fff;
        background: #fff;

        &:before{
            border-top: 1px solid #fff;
        }
    }

    .page-root{
        padding-top: 5px;
    }

    .buy__result-sum{
        border-bottom: 5px solid #61a8e1;
    }

    .ui-tooltip {
        //background: #fff;
        //color: #4D4D4D;
        //font-weight: bold;
        //
        //&:before {
        //    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #fff;
        //}
    }

    .ui-tooltip-content {
        &:before {
            content: none!important;
        }
    }
}