
.b-tour-form
    &-wrapper
        background #fff
    
    .b-search-field
        border 1px solid #bfbfc1
        display inline-block
        height 49px
        margin 14px 0 4px
        vertical-align top
        
        .search-people{
            background-image: none;
        }
        
        .search__list{
            margin-top: 2px;
        }
        
        .search-form-dialog-row .button-group .button.active{
            color-bg-btn-wl();
        }
        
        &__long
            width 399px
        
        &__half
            width 189px
        
        &__class
            width 119px
            margin-left 20px
            margin-right 10px
        
        &__calendar,
        &__list
            position relative
            
            &:after
                background url("/spa/img/i.png") no-repeat
                content ''
                display block
                position absolute
                top 50%;
                right 9px
        
        &__list
            &:after
                background-position -45px -194px
                width 11px
                height 6px
                margin-top -3px
        
        &__calendar
            &:after
                background-position -39px -1830px
                width 17px
                height 16px
                margin-top -8px
            
            background-position 0 -171px
        
        &-hor
            text-align justify
            font-size 0
            
            &:after
                width 100%
                content: ''
                display inline-block
                height 0
        
        &-value,
        input
            box-sizing border-box
            border 0
            height 100%
            width 100%
            padding 0 10px
            font-size 16px
        
        &-value
            line-height 49px
            
            .description
                color #868685
            
            .iata
                position absolute
                color #868685
                right 30px
.dtpk-checkbox
    border-color #3fa9f5
    border-radius 0
.dtpk-checkbox-label input:checked + .dtpk-checkbox
    background-color #3fa9f5
.ui-datepicker td a.ui-state-active,
.ui-datepicker td a.ui-state-hover
    background-color #3fa9f5
.search-form-human-dialog{
    width: 100%;
}
.search-date-block__date{
    font-size: 16px;
}