.ui-datepicker{
	display none
	padding 10px
	background #fff
	box-shadow 0 0 3px #333
}

.ui-datepicker-calendar{

	.ui-state-disabled{
		.ui-state-default{
			color #bdbdbd
		}
	}
	
	.ui-state-default{
		color #212121
		text-decoration none
	}
}