.container{
    min-width 1024px
}
.btn-group{
    margin 20px 0
}
.b-inna-search-widget{
    margin 10px 0
}
rzslider{
    span.bar{
        background-color #265a88
    }

    span.pointer{
        background-color rgba(38, 90, 136, .2)

        &:after{
            background-color #89c13a
        }

        &:hover{
            background-color rgba(38, 90, 136, .3)
        }
    }
}
    
    