.b-inna-search-form{
	width 960px
	height: 40px;
	background: #212121;
	border-radius: 2px;
}

.b-inna-search-form-fields{

}

.b-inna-search-form-control{

	
	.b-inna-search-form-control__input{
		
	}
}