$border-radius = 2px;
$control-height = 30px;


$base-color = #212121;
$color-white = #fff;

$bg-black = #212121;
$bg-white = #fff;
$bg-green = #77b237;

$base-shadow-color = rgba(50, 50, 50, 0.25);

$border-color-gray = #bdbdbd;