.page-help {
  .bg_white {
    padding-bottom 30px
  }

  .question-button {
    position relative
    height 17px
    cursor pointer
  }

  .question-answer {
    ul {
      margin-left 30px
      list-style disc
    }
  }
}