.b-stars {
  display : inline-block;
  overflow : hidden;
  position : relative;

  &__item {
    display : inline-block;
    margin-right : 2px;

    &:last-child {
      margin-right : 0px;
    }
  }
}