<div class="b-offer__container">
    <div class="b-offer__bg"
         style="background-image: url('{{ offerArr.length == 1 ? offer.ImageL : offer.ImageS }}')"
    ></div>

    <a class="b-offer__container-link"
       href="{{ offer.Details }}"
       target="_blank"></a>

    <div class="b-offer__container-txt">

        <h2 class="b-offer__title">
            <div class="b-offer__title-sub">
                {{ offer.Country }}
            </div>
            <div class="b-offer__title-main">
                {{ offer.Location }}
            </div>
            <div class="b-offer__title-info">
                {{ offer.Nights | asQuantity:"ночь":"ночи":"ночей"}},
                <span ng-if="offer.Adults == 1">на одного</span>
                <span ng-if="offer.Adults == 2">на двоих</span>
                <span ng-if="offer.Adults == 3">на троих</span>
                <span ng-if="offer.Adults == 4">на четверых</span>
                <span ng-if="offer.Adults == 5">на пятерых</span>
            </div>
        </h2>

        <div class="b-offer__price">
            <div class="b-offer__price-txt">
                от
            </div>
            <div class="b-offer__price-value">
                {{ offer.Price | currency : "" : 0 }}
                <i class="fa fa-rub b-offer__price-currency"></i>
            </div>
        </div>

    </div>
</div>