
<!-- временно прячем компонент -->
<span class="icon-price-info js-show-tooltip cursor-pointer"
        ng-class="{'icon-sprite-price-info':!icon, 'icon-sprite-price-info-white':icon}"
        ng-if="isPriceObject"></span>

<div class="tooltip tooltip-price tooltip-price_at_hotel-card JS-tooltip-price"
     style="display:none;"
     ng-class="{'tooltip-price_big':isPriceObject}">

    <div class="tooltip-price__user" ng-if="!isPriceObject">
        <div class="tooltip-price__title">По отдельности</div>


        <ul class="tooltip-price__list tooltip-price__list_top">
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Перелет
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">{{item.ticket.data.Price | price}}
                            <ng-include src="'components/ruble.html'"></ng-include>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Отель
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">{{item.hotel.data.Price | price}}
                            <ng-include src="'components/ruble.html'"></ng-include>
                        </span>
                    </div>
                </div>
            </li>
        </ul>


        <div class="list-price list-price-total">
            <div class="list-price-total__wrapper">
                {{item.getFullPrice() | price}}
                <ng-include src="'components/ruble.html'"></ng-include>
                <div class="list-price-total__strike_through"></div>
            </div>
        </div>


        <ul class="tooltip-price__list tooltip-price__list_top">
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        В пакете:
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price green">
                            {{item.getFullPackagePrice() | price}}
                            <ng-include src="'components/ruble.html'"></ng-include>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Экономия:
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price green">
                            {{(item.getFullPrice() - item.getFullPackagePrice()) | price}}
                            <ng-include src="'components/ruble.html'"></ng-include>
                        </span>
                    </div>
                </div>
            </li>
        </ul>

    </div>


    <div class="tooltip-price__b2b" ng-if="isPriceObject">

        <ul>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Сбор Инна Тур
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalInnaProfit | price}} <ng-include src="'components/ruble.html'"/>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Сбор агента
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalAgentReward | price}} <ng-include src="'components/ruble.html'"/>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Агентское вознаграждение
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalAgentRate | price}} <ng-include src="'components/ruble.html'"/>
                        </span>
                    </div>
                </div>
            </li>

            <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Доход агента
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalAgentProfit | price}} <ng-include src="'components/ruble.html'"/>
                        </span>
                    </div>
                </div>
            </li>

           <!-- <li class="list-price-item">
                <div class="row">
                    <div class="col-xs-6 col-no-padding">
                        Доход агента test
                    </div>
                    <div class="col-xs-6 col-no-padding list-price-item__right">
                        <span class="list-price">
                            {{item.PriceObject.TotalPrice}}
                        </span>
                    </div>
                </div>
            </li>-->
        </ul>

    </div>
</div>