<!-- Search Results -->
<div class="results-body">
    <div class="results-container results-container__tickets" style="padding-top: 190px;">
        <form action="" class="b-tickets-form">

            <h2 class="title">Пасажиры</h2>
            <div class="form-body">
                <fieldset class="form-container">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block">
                            <label class="b-field-label">Пол</label>
                            <ul class="radio-list">
                                <li><label><input type="radio" name="male1" checked disabled><ins class="radio">М</ins></label></li>
                                <li><label><input type="radio" name="male1" disabled><ins class="radio">Ж</ins></label></li>
                            </ul>
                        </div>
                        <div class="b-field-block b-field-block-120">
                            <label class="b-field-label">Имя (латиницей)</label>
                            <input type="text" disabled value="ALEXANDER" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-195 b-field-block-surname">
                            <label class="b-field-label">Фамилия (латиницей)</label>
                            <input type="text" disabled value="KONSTANTINOPLOLSKY" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-94">
                            <label class="b-field-label">Дата рождения</label>
                            <input type="text" disabled value="18.07.1976" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-170">
                            <label class="b-field-label">Гражданство</label>
                            <input type="text" disabled value="Великобритания" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-123">
                            <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                            <input type="text" disabled value="77123456789" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-105">
                            <label class="b-field-label">Действителен до</label>
                            <input type="text" disabled placeholder="дд.мм.гггг" class="b-field-text" value="18.07.1976">
                        </div>
                    </div>
                        
                </fieldset>
                <fieldset class="form-container">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block">
                            <label class="b-field-label">Пол</label>
                            <ul class="radio-list">
                                <li><label><input type="radio" name="male2" checked disabled><ins class="radio">М</ins></label></li>
                                <li><label><input type="radio" name="male2" disabled><ins class="radio">Ж</ins></label></li>
                            </ul>
                        </div>
                        <div class="b-field-block b-field-block-120">
                            <label class="b-field-label">Имя (латиницей)</label>
                            <input type="text" disabled value="ALEXANDER" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-195 b-field-block-surname">
                            <label class="b-field-label">Фамилия (латиницей)</label>
                            <input type="text" disabled value="KONSTANTINOPLOLSKY" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-94">
                            <label class="b-field-label">Дата рождения</label>
                            <input type="text" disabled value="18.07.1976" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-170">
                            <label class="b-field-label">Гражданство</label>
                            <input type="text" disabled value="Великобритания" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-123">
                            <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                            <input type="text" disabled value="77123456789" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-105">
                            <label class="b-field-label">Действителен до</label>
                            <input type="text" disabled placeholder="дд.мм.гггг" class="b-field-text" value="18.07.1976">
                        </div>
                    </div>
                    <div class="b-field-group b-field-group-passport"><div class="b-field-group b-field-group-passport">
                        <div class="b-field-block b-field-block-192">
                            <label class="b-agreement"><input type="checkbox" disabled checked><ins class="b-checkbox"></ins>Есть бонусная карта</label>
                        </div>
                        <div class="b-field-block b-field-block-195">
                            <label class="b-field-label">Авиакомпания</label>
                            <input type="text" disabled value="Аэрофлот" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-143">
                            <label class="b-field-label">Номер карты</label>
                            <input type="text" disabled value="12134а3454" class="b-field-text">
                        </div>
                    </div>
                        
                </fieldset>
            </div>

            <div class="b-tickets-info-container">
                <div class="b-tickets-ok">Ваши билеты забронированы</div>
                <div class="b-tickets-sum">Сумма к оплате: <b>170 920</b> <span class="b-sum-rub">руб.</span></div>
                <div class="b-tickets-info">
                    Авиабилеты нужно оплатить <b>до 19:00 часов, 24 марта 2014 года</b><div class="br"></div>
                    Для оплаты осталось: <b>1 час : 49 минут</b>
                </div>
            </div>

            <div class="b-cc-container">
                <div class="b-cc-front">
                    <img src="spa/img/cc.png" class="b-cc-type" alt="">
                    <div class="b-cc-block">
                        <label class="b-cc-block-label b-cc-block-label-number">Номер карты <br>(16 цифр)</label>
                        <div class="b-cc">
                            <input type="text" class="b-field-text b-field-text-small" maxlength="4">
                            <input type="text" class="b-field-text b-field-text-small" maxlength="4">
                            <input type="text" class="b-field-text b-field-text-small" maxlength="4">
                            <input type="text" class="b-field-text b-field-text-small" maxlength="4">
                        </div>
                    </div>
                    <div class="b-cc-block">
                        <label class="b-cc-block-label b-cc-block-label-date">Действительна до</label>
                        <div class="b-cc">
                            <div class="b-cc-date">
                                Месяц
                                <input type="text" class="b-field-text b-field-text-small" maxlength="2">
                            </div>
                            <div class="b-cc-date">
                                Год
                                <input type="text" class="b-field-text b-field-text-small" maxlength="2">
                            </div>
                        </div>
                    </div>
                    <div class="b-cc-block">
                        <label class="b-cc-block-label">Держатель карты</label>
                        <input type="text" class="b-field-text b-field-text-name">
                    </div>
                </div>
                <div class="b-cc-end">
                    <div class="b-cvc">
                        <input type="text" class="b-field-text" maxlength="3" id="CVC">
                        <label for="CVC">CVV/CVC</label>
                    </div>
                </div>
            </div>
            <label class="b-agreement b-agreement-cc"><input type="checkbox"><ins class="b-checkbox"></ins>Я согласен с условиями договора-оферты, ознакомлен с правилами изменения и отмены бронирования и не возражаю против обработки моих персональных данных и передачи их третьим лицам (авиаперевозчику и пр.).</label>
            <div class="b-pay-button-block">
                <span class="button b-pay-button">Оплатить <input type="submit" value="Оплатить"></span>
            </div>
        </form>
    </div>
</div>
<!-- Search Results -->

<!-- Baloon -->
<div class="overlay js-overlay" style="display: none">
    <div class="balloon">
        <div class="baloon-loading"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>
        <div class="baloon-title">Бронирование авиабилетов</div>
        <p class="balloon-info">подождите пожалуйста, это может затять несколько минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-loading"></div>
        <div class="baloon-title">Подождите, идет оплата</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-loading"></div>
        <div class="baloon-title">Выписываем авиабилеты</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-mail"></div>
        <div class="baloon-title">Билеты успешно выписаны</div>
        <p class="balloon-info">и отправлены на электронную почту ratunkov@gmail.com</p>
        <a href="#" class="button baloon-button">Распечатать билеты</a>
    </div>
    <div class="balloon">
        <div class="baloon-close" title="Закрыть"></div>
        <div class="baloon-canceled"></div>
        <div class="baloon-title baloon-error">Бронирование анулировано</div>
        <p class="balloon-info">истек срок ожидания оплаты</p>
        <a href="#" class="button baloon-button">Повторить поиск</a>
    </div>
    <div class="balloon">
        <div class="baloon-close" title="Закрыть"></div>
        <div class="baloon-problem"></div>
        <div class="baloon-title baloon-error">Что-то пошло не так</div>
        <p class="balloon-info">cвяжитесь с оператором по телефону +7 495 742-1212</p>
    </div>
</div>
<!-- /Baloon -->