<html style="background-color:white;">
<head>
    <link rel="stylesheet" href="http://spa.inna.travel/spa/css/common.min.css" />
</head>
<body>
    <form method="post" action="">
        <input name="PaReq" type="hidden" value="" />
        <input name="TermUrl" type="hidden" value="" />
        <input name="MD" type="hidden" value="" />
        <input type="submit" value="submit" style="visibility:hidden;"/>
        <!--<input type="submit" value="submit"/>-->
    </form>

<div class="overlay js-overlay" style="display:block;">
    <div class="balloon">
        <div class="baloon-loading"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>
        <div class="baloon-title">Подождите, идет оплата</div>
            <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
</div>

    <script src="http://yandex.st/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>
<script type="text/javascript">
    QueryString = {
        getByName: function (name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    };

    //var intervalId = setInterval(function () {
    //    //clearInterval(intervalId);
    //    window.parent.$('#buy-listener').trigger('inna.buy.test', document);
    //}, 1000);

    //$(document).on('load', function () {
    //    console.log('doc load');
    //});

    var actionUrl = QueryString.getByName('redirect');
    var PaReq = QueryString.getByName('PaReq');
    //var TermUrl = QueryString.getByName('TermUrl');
    var TermUrl = 'http://api.test.inna.ru/api/v1/Psb/PaymentRederect';
    var MD = QueryString.getByName('MD');
    console.log('actionUrl: %s, PaReq: %s, TermUrl: %s, MD: %s', actionUrl, PaReq, TermUrl, MD);
    $("form").attr('action', actionUrl);
    $($("input")[0]).val(PaReq);
    $($("input")[1]).val(TermUrl);
    $($("input")[2]).val(MD);
    $("form").submit();
    
</script>