<html>
<body>
    <form method="post" action="">
        <input name="PaReq" type="hidden" value="" />
        <input name="TermUrl" type="hidden" value="" />
        <input name="MD" type="hidden" value="" />
        <input type="submit" value="submit" />
    </form>
    <script src="http://yandex.st/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://spa.inna.travel/spa/js/angular/helpers/urlhelper.js"></script>
</body>
</html>
<script type="text/javascript">
    var actionUrl = QueryString.getByName('redirect');
    var PaReq = QueryString.getByName('PaReq');
    var TermUrl = QueryString.getByName('TermUrl');
    var MD = QueryString.getByName('MD');
    console.log('actionUrl: %s, PaReq: %s, TermUrl: %s, MD: %s', actionUrl, PaReq, TermUrl, MD);
    $("form").attr('action', actionUrl);
    $($("input")[0]).val(PaReq);
    $($("input")[1]).val(TermUrl);
    $($("input")[2]).val(MD);
    $("form").submit();
</script>