<!-- Search Results -->
<div class="results-body" style="padding-top: 100px;">
    <form action="" class="results-body">
        <div class="main__center">
            <ng:include src="objectToReserveTemplate" ng-repeat="item in [aviaInfo] track by $index"></ng:include>

            <header class="buy__header">
                <h2 class="buy__title">Информация о покупателе</h2>
            </header>
            <div>
                <div class="b-field-group">
                    <!--<div class="b-field-block b-field-block-auth" style="width: 388px;">-->
                    <div class="b-field-block" style="width: 388px;">
                        <label class="b-field-label">E-mail</label>
                        <input disabled="disabled" ng-model="reservationModel.Email"
                               title="Неправильно введен email" type="text"
                               placeholder="ivan.ivanov@gmail.com" class="b-field-text">
                    </div>
                    <div class="b-field-block" style="width: 180px;">
                        <label class="b-field-label">Мобильный телефон</label>
                        <input disabled="disabled" ng-model="reservationModel.Phone"
                               title="Неправильно введен мобильный телефон" name="phone" type="text"
                               class="b-field-text">
                    </div>
                </div>
                <label class="b-agreement"><input disabled="disabled" ng-model="reservationModel.IsSubscribe" type="checkbox"><ins class="b-checkbox"></ins>Я хочу получать рассылку спецпредложений</label>
            </div>

            <header class="buy__header">
                <h2 class="buy__title">Пассажиры</h2>
            </header>
            <fieldset class="buy__blocks" ng-repeat="passenger in reservationModel.passengers">
                <div class="b-field-group b-field-group-passport">
                    <div class="b-field-block">
                        <label class="b-field-label">Пол</label>
                        <ul class="radio-list" ng-class="{error:passenger.sex == null}">
                            <li><label><input disabled type="radio" name="male3" ng-model="passenger.sex" ng-value="{{sexType.man}}"><ins class="radio">М</ins></label></li>
                            <li><label><input disabled type="radio" name="male3" ng-model="passenger.sex" ng-value="{{sexType.woman}}"><ins class="radio">Ж</ins></label></li>
                        </ul>
                    </div>
                    <div class="b-field-block" style="width: 160px;">
                        <label class="b-field-label">Фамилия</label>
                        <input disabled type="text" ng-model="passenger.secondName" placeholder="IVANOV" class="b-field-text">
                    </div>
                    <div class="b-field-block b-field-block-surname" style="width: 150px;">
                        <label class="b-field-label">Имя</label>
                        <input disabled type="text" ng-model="passenger.name" placeholder="IVAN" class="b-field-text">
                    </div>
                    <div class="b-field-block" style="width: 110px;">
                        <label class="b-field-label">Дата рождения</label>
                        <input disabled type="text" ng-model="passenger.birthday" placeholder="дд.мм.гггг" class="b-field-text">
                    </div>
                    <div class="b-field-block" style="width: 180px;">
                        <label class="b-field-label">Гражданство</label>
                        <input disabled ng-click="passenger.showCitListClick($event)" type="text" value="{{passenger.citizenship.name}}" placeholder="Выберите" class="b-field-text b-field-select">
                            
                    </div>
                    <div class="b-field-block" style="width: 110px;">
                        <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                        <input disabled type="text" ng-model="passenger.doc_series_and_number" class="b-field-text">
                    </div>
                    <div class="b-field-block" style="width: 110px;">
                        <label class="b-field-label b-field-label-docs">Действителен до</label>
                        <input disabled type="text" ng-model="passenger.doc_expirationDate" placeholder="дд.мм.гггг" class="b-field-text">
                    </div>
                </div>
                <div class="b-field-group b-field-group-passport">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block" style="width: 220px;">
                            <label class="b-agreement"><input disabled type="checkbox" ng-model="passenger.bonuscard.haveBonusCard"><ins class="b-checkbox"></ins>Есть бонусная карта авиакомпании</label>
                        </div>
                        <div class="b-field-block" style="width: 150px;" ng-show="passenger.bonuscard.haveBonusCard == true">
                            <label class="b-field-label">Авиакомпания</label>
                            <input disabled ng-click="passenger.showCardListClick($event)" type="text" value="{{passenger.bonuscard.airCompany.name}}" class="b-field-text b-field-select" placeholder="Выберите">
                        </div>
                        <div class="b-field-block" style="width: 150px;" ng-show="passenger.bonuscard.haveBonusCard == true">
                            <label class="b-field-label">Номер карты</label>
                            <input disabled type="text" ng-model="passenger.bonuscard.number" class="b-field-text" placeholder="ХХХХХХХХХХХ">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="b-tickets-info-container">
            <div class="b-tickets-ok" ng-if="reservationModel.experationMinute > 0">Билеты забронированы</div>
            <!--<div class="b-tickets-ok">Билеты забронированы, отель будет забронирован после оплаты</div>-->
            <div class="b-tickets-info-block" ng-if="reservationModel.experationMinute > 0">
                <div class="b-tickets-sum">Сумма к оплате: <b>{{reservationModel.price| price}} <span class="b-rub">&#8399;</span></b></div>
                <div class="b-tickets-info">
                    оплатить до: <b>{{reservationModel.expirationDate | date:'HH:mm'}}, {{reservationModel.expirationDateFormatted}}</b><div class="br"></div>
                    осталось: <b>{{reservationModel.experationSecondsFormatted}}</b>
                </div>
            </div>
        </div>

        <div class="main__center">
            <div class="b-security">Мы не храним ваши данные у себя, а сразу перенаправляем их в зашифрованном виде, используя платежный шлюз Промсвязьбанка</div>
            <div class="b-cc-container">
                <div class="b-cc-front">
                    <img ng-if="visaOrMastercard == null" src="spa/img/cc.png" class="b-cc-type" alt="">
                    <img ng-if="visaOrMastercard == true" src="spa/img/cc-visa.png" class="b-cc-type" alt="">
                    <img ng-if="visaOrMastercard == false" src="spa/img/cc-mc.png" class="b-cc-type" alt="">
                    <div class="b-cc-block">
                        <label class="b-cc-block-label b-cc-block-label-number">Номер карты <br>(16 цифр)</label>
                        <div id="num1" class="b-cc js-cardnum-block" title="Неправильно введен номер карты">
                            <input ng-class="{error:indicator.num1}" digits-input type="text" ng-model="payModel.num1"
                                   validate-simple validate="validateField(key, value)" key="num1" len="4" go-next="focusControl.next(key)"
                                   class="b-field-text b-field-text-small" maxlength="4">
                            <input ng-class="{error:indicator.num2}" digits-input type="text" ng-model="payModel.num2"
                                   validate-simple validate="validateField(key, value)" key="num2" len="4" go-next="focusControl.next(key)"
                                   class="b-field-text b-field-text-small" maxlength="4">
                            <input ng-class="{error:indicator.num3}" digits-input type="text" ng-model="payModel.num3"
                                   validate-simple validate="validateField(key, value)" key="num3" len="4" go-next="focusControl.next(key)"
                                   class="b-field-text b-field-text-small" maxlength="4">
                            <input ng-class="{error:indicator.num4}" digits-input type="text" ng-model="payModel.num4"
                                   validate-simple validate="validateField(key, value)" key="num4" len="4" go-next="focusControl.next(key)"
                                   class="b-field-text b-field-text-small" maxlength="4">
                        </div>
                    </div>
                    <div class="b-cc-block b-cc-block-date">
                        <label class="b-cc-block-label b-cc-block-label-date">Действительна до</label>
                        <div class="b-cc js-card-valid">
                            <div class="b-cc-date">
                                Месяц
                                <input type="text" class="b-field-text b-field-text-small" 
                                       ng-class="{error:indicator.cardMonth}"
                                       validate-simple validate="validateField(key, value)" key="cardMonth" len="2" go-next="focusControl.next(key)"
                                       id="cardMonth" title="Неправильно введен месяц" digits-input ng-model="payModel.cardMonth" maxlength="2">
                            </div>
                            <div class="b-cc-date">
                                Год
                                <input type="text" class="b-field-text b-field-text-small" 
                                       ng-class="{error:indicator.cardYear}"
                                       validate-simple validate="validateField(key, value)" key="cardYear" len="2" go-next="focusControl.next(key)"
                                       id="cardYear" title="Неправильно введен год" digits-input ng-model="payModel.cardYear" maxlength="2">
                            </div>
                        </div>
                    </div>
                    <div class="b-cc-block">
                        <label class="b-cc-block-label b-cc-block-label-number">Держатель<br> карты</label>
                        <input type="text" class="b-field-text b-field-text-name js-card-holder"
                               ng-class="{error:indicator.cardHolder}"
                               validate-simple validate="validateField(key, value)" key="cardHolder"
                               id="cardHolder" title="Нужно ввести держателя карты" ng-model="payModel.cardHolder" to-upper>
                    </div>
                </div>
                <div class="b-cc-end">
                    <div class="b-cvc">
                        <input type="text" autocomplete="off" class="b-field-text" maxlength="3" id="cvc2"
                               ng-class="{error:indicator.cvc2}"
                               validate-simple validate="validateField(key, value)" key="cvc2"
                               id="cvc2" title="Нужно ввести код" digits-input ng-model="payModel.cvc2">
                        <label for="CVC">CVV/CVC</label>
                    </div>
                </div>
            </div>
            <div class="b-agreement-container">
                <a ng-href="#" ng-click="fillTestData($event)" style="position: absolute; right: 0px;">Заполнить тестовыми данными</a>
                <span class="button b-pay-button">Оплатить <input type="submit" value="Оплатить" ng-click="processToBuy($event)"></span>
                <label class="b-agreement b-agreement-cc"><input type="checkbox" ng-model="payModel.agree"><ins class="b-checkbox" id="agree" title="Нужно согласиться с условиями"></ins>Я согласен с условиями <a ng-href="{{oferta.url()}}" target="_blank">договора-оферты</a>, ознакомлен с <a ng-href="#" ng-click="tarifs.show($event)">правилами изменения</a> и <a href="#" ng-click="cancelReservation.show($event)">отмены бронирования</a> и 
не возражаю против обработки моих персональных данных и передачи их третьим лицам (авиаперевозчику и пр.).</label>
                <img src="/spa/img/logos.png" class="b-logos" alt="">
            </div>
        </div>
    </form>
</div>
<!-- Search Results -->

<!-- Baloon -->
<div style="display: block" class="overlay js-overlay" ng-show="tarifs.isOpened">
    <div class="balloon baloon_medium">
        <div title="Закрыть" class="baloon-close" ng-click="tarifs.close($event)"></div>
        <div class="b__rules-container">
            <div class="b__rules_attention">
                <h3>Обратите внимание!</h3>
                <p>При не использовании одного из сегментов маршрута, последующие сегменты могут быть автоматически аннулированы авиакомпанией. </p>
                <p>Если по перелёту используется несколько разных правил/тарифов, то при обмене/возврате применяются более строгие правила. При обмене/возврате к возможным штрафным санкциям авиакомпании по правилам тарифа, дополнительно взымается сервисный сбор за услугу оформления обмена/возврата билета.</p>
            </div>
            <div class="b__rules-grey">
                <ul class="b__rules-flies">
                    <!--<li><a href="#" class="current"><span><b>Москва → Амстердам,</b> KL-900, Эконом (L)</span></a></li>
                    <li><a href="#"><span><b>Москва → Амстердам,</b> AZ-3627, Эконом (K)</span></a></li>
                    <li><a href="#"><span><span><b>Москва → Амстердам,</b> AZ-3627, Эконом (K)</span></a></li>
                    <li><a href="#"><span><b>Москва → Амстердам,</b> AZ-3627, Эконом (K)</span></a></li>
                    <li><a href="#"><span><b>Москва → Амстердам,</b> AZ-3627, Эконом (K)</span></a></li>-->
                    <li ng-class="{current:item === tarifs.setected}" ng-repeat="item in tarifs.list"><a ng-href="#" ng-click="tarifs.tarifClick($event, item)"><span><b>{{item.from}} → {{item.to}},</b> {{item.num}}, {{tarifs.class}} (K)</span></a></li>
                </ul>
                <h3>{{tarifs.setected.from}} → {{tarifs.setected.to}}</h3>
                <h4>Полные правила применения тарифа</h4>
                <p>Пожалуйста, ознакомьтесь детальнее с условиями <a href="#">обмена/возврата</a>.</p>
                <p ng-bind-html="tarifs.tarifItem.Text | breakFilter"></p>
            </div>
        </div>
    </div>
</div>
<!-- /Baloon -->

<!-- Baloon -->
<div style="display: block" class="overlay js-overlay" ng-show="iframeUrl != null">
    <div class="balloon baloon_medium" style="padding: 0px; height: 430px; width: 960px; margin-left: -480px;">
        <!--<div title="Закрыть" class="baloon-close" ng-click="tarifs.close($event)"></div>-->
        <iframe ng-src="{{iframeUrl}}" ng-if="iframeUrl != null" style="width:100%; height: 100%;"></iframe>
    </div>
</div>
<!-- /Baloon -->