<style type="text/css">
    .cit-cont {
        padding: 0;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .cit-item {
        padding: 3px;
    }
    .cit-item:hover {
        cursor: default;
        background-color: #edeff0;
    }
</style>
<!-- Search Results -->
<div class="results-body">
    <div class="results-container results-container__tickets" style="padding-top: 190px;">
        <form action="" class="b-tickets-form">
            <h1 class="title">Оплата авиабилетов</h1>

            <div class="rl-item rl-item-payment" ng-show="item != null">
                <header class="rl-item-header">
                    <span class="rl-price">
                        <span class="rl-price-item">{{item.Price| price}}</span> руб.
                    </span>
                    <span class="rl-airline">{{item.TransporterListText}}</span>
                </header>
                <div class="rl-content">
                    <img ng-src="{{item.EtapsToTransporterCodeUrl}}" class="rl-airline-logo" alt="{{item.EtapsToTransporterName}}">
                    <div class="rl-fly">
                        <b class="rl-fly-time">{{item.DepartureTimeFormatted}} {{item.DepartureDateFormatted}}</b>
                        <div class="rl-fly-date">{{item.CityFrom}}, <br />{{item.AirportFrom}} ({{item.OutCode}})</div>
                    </div>
                    <div class="rl-travel-time">{{item.TimeToFormatted}}</div>
                    <div class="rl-fly">
                        <b class="rl-fly-time">{{item.ArrivalTimeFormatted}} {{item.ArrivalDateFormatted}}</b>
                        <div class="rl-fly-date">{{item.CityTo}}, <br />{{item.AirportTo}} ({{item.InCode}})</div>
                    </div>
                    <div class="rl-weight">
                        <span>20 kg</span>
                    </div>
                    <div class="rl-fly-type" ng-if="item.ToTransferCount > 0">
                        <div class="rl-fly-transplant">{{item.ToTransferCount}} {{getTransferCountText(item.ToTransferCount)}}</div>
                        <div class="rl-fly-transplant-time">
                            <span ng-repeat="etap in item.EtapsToItems">
                            <span tooltip-title title="{{etap.name}} ({{etap.code}})">{{etap.code}}</span> {{etap.waitTime}}<span ng-if="$last == false">,<br /></span>
                        </span>
                        </div>
                    </div>
                    <div class="rl-fly-type" ng-if="item.ToTransferCount == 0">
                    <div class="rl-fly-transplant">Прямой</div>
                </div>
                </div>
                <div class="rl-content" ng-if="item.VariantId2 > 0">
                    <img ng-src="{{item.EtapsBackTransporterCodeUrl}}" class="rl-airline-logo" alt="{{item.EtapsToTransporterName}}">
                    <div class="rl-fly">
                        <b class="rl-fly-time">{{item.BackDepartureTimeFormatted}} {{item.BackDepartureDateFormatted}}</b>
                        <div class="rl-fly-date">{{item.CityTo}}, <br />{{item.AirportTo}} ({{item.InCode}})</div>
                    </div>
                    <div class="rl-travel-time">{{item.TimeBackFormatted}}</div>
                    <div class="rl-fly">
                        <b class="rl-fly-time">{{item.BackArrivalTimeFormatted}} {{item.BackArrivalDateFormatted}}</b>
                        <div class="rl-fly-date">{{item.CityFrom}}, <br />{{item.AirportFrom}} ({{item.OutCode}})</div>
                    </div>
                    <div class="rl-weight">
                        <span>120 kg</span>
                    </div>
                    <div class="rl-fly-type" ng-if="item.BackTransferCount > 0">
                        <div class="rl-fly-transplant">{{item.BackTransferCount}} {{getTransferCountText(item.BackTransferCount)}}</div>
                        <div class="rl-fly-transplant-time">
                            <span ng-repeat="etap in item.EtapsBackItems">
                                <span tooltip-title title="{{etap.name}} ({{etap.code}})">{{etap.code}}</span> {{etap.waitTime}}<span ng-if="$last == false">,<br /></span>
                            </span>
                        </div>
                    </div>
                    <div class="rl-fly-type" ng-if="item.BackTransferCount == 0">
                    <div class="rl-fly-transplant">Прямой</div>
                </div>
                </div>
                <footer class="rl-footer">
                    <a href="#" class="rl-more-info" ng-click="moreClick($event)"><span>Подробнее</span></a>
                    <span class="rl-tickets-number">Последние 3 места</span>
                    <span class="rl-class">{{item.CabineClass}}</span>
                </footer>
            </div>

            <div class="warning">
                <b class="warning-title">Обратите внимание!</b>
                <p class="warning-info">При необходимости наличия визы для осуществления перелёта, не забудьте внести информацию о визе на странице оформленного заказа для каждого пассажира по крайней мере за 24 часа до первого вылета. Это требование авиакомпании.</p>
            </div>
            <h2 class="title">Информация о покупателе</h2>
            <div class="form-body">
                <fieldset class="form-container form-container-main">
                    <div class="b-field-group">
                        <div class="b-field-block b-field-block-130">
                            <label class="b-field-label">Имя</label>
                            <input type="text" ng-model="reservationModel.name" placeholder="Иван" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-190">
                            <label class="b-field-label">Фамилия</label>
                            <input type="text" ng-model="reservationModel.secondName" placeholder="Иванов" class="b-field-text error">
                        </div>
                        <div class="b-field-block b-field-block-290 b-field-block-auth">
                            <label class="b-field-label">E-mail</label>
                            <input type="text" ng-model="reservationModel.email" placeholder="ivan.ivanov@gmail.com" class="b-field-text">
                            <div class="b-auth">
                                <a href="#" class="b-auth-close"></a>
                                <p class="b-auth-text">Мы определили, что вы уже зарегистрированы</p>
                                <a href="#" class="button b-auth-button">Войти</a>
                            </div>
                        </div>
                        <div class="b-field-block b-field-block-290">
                            <label class="b-field-label">Мобильный телефон</label>
                            <input type="text" ng-model="reservationModel.phone" placeholder="+7 (123) 123-45-67" class="b-field-text">
                        </div>
                    </div>
                    <div class="error-text">Поля отмеченные красным, незаполнены или заполнены с ошибкой</div>
                    <label class="b-agreement"><input type="checkbox"><ins class="b-checkbox"></ins>Я хочу получать рассылку спецпредложений</label>
                </fieldset>
            </div>
            <h2 class="title">Пасажиры</h2>
            <div class="form-body">
                <fieldset class="form-container" ng-repeat="passenger in reservationModel.passengers">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block">
                            <label class="b-field-label">Пол</label>
                            <ul class="radio-list " ng-class="{error:passenger.sex == null}">
                                <li><label><input type="checkbox" name="male3" ng-model="passenger.sex" ng-checked="passenger.sex == sexType.man" ng-true-value="{{sexType.man}}" ng-false-value="{{sexType.woman}}"><ins class="radio">М</ins></label></li>
                                <li><label><input type="checkbox" name="male3" ng-model="passenger.sex" ng-checked="passenger.sex == sexType.woman" ng-true-value="{{sexType.woman}}" ng-false-value="{{sexType.man}}"><ins class="radio">Ж</ins></label></li>
                            </ul>
                        </div>
                        <div class="b-field-block b-field-block-120">
                            <label class="b-field-label">Имя (латиницей)</label>
                            <input type="text" ng-model="passenger.name" placeholder="IVAN" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-195 b-field-block-surname">
                            <label class="b-field-label">Фамилия (латиницей)</label>
                            <input type="text" ng-model="passenger.secondName" placeholder="IVANOV" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-94">
                            <label class="b-field-label">Дата рождения</label>
                            <input type="text" ng-model="passenger.birthday" placeholder="дд.мм.гггг" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-170">
                            <label class="b-field-label">Гражданство</label>
                            <input ng-click="passenger.showCitListClick($event)" type="text" value="{{passenger.citizenship.name}}" placeholder="Выберите" class="b-field-text b-field-select">
                            <div partial-select list="citizenshipList" result="passenger.citizenship" callback="passenger.dir.cit.saveDirCallback">
                            </div>
                            
                        </div>
                        <div class="b-field-block b-field-block-123">
                            <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                            <input type="text" ng-model="passenger.document.series_and_number" placeholder="1104 046100" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-105">
                            <label class="b-field-label">Действителен до</label>
                            <input type="text" ng-model="passenger.document.expirationDate" placeholder="дд.мм.гггг" class="b-field-text">
                        </div>
                    </div>
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-group b-field-group-passport">
                            <div class="b-field-block b-field-block-192">
                                <label class="b-agreement"><input type="checkbox" ng-model="passenger.bonuscard.haveBonusCard"><ins class="b-checkbox"></ins>Есть бонусная карта</label>
                            </div>
                            <div class="b-field-block b-field-block-195" ng-show="passenger.bonuscard.haveBonusCard == true">
                                <label class="b-field-label">Авиакомпания</label>
                                <input ng-click="passenger.showCardListClick($event)" type="text" value="{{passenger.bonuscard.airCompany.name}}" class="b-field-text b-field-select" placeholder="Выберите">
                                <div partial-select list="bonusCardTransportersList" result="passenger.bonuscard.airCompany" callback="passenger.dir.card.saveDirCallback">
                                </div>
                            </div>
                            <div class="b-field-block b-field-block-143" ng-show="passenger.bonuscard.haveBonusCard == true">
                                <label class="b-field-label">Номер карты</label>
                                <input type="text" ng-model="passenger.bonuscard.number" class="b-field-text" placeholder="ХХХХХХХХХХХ">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!--<fieldset class="form-container">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block">
                            <label class="b-field-label">Пол</label>
                            <ul class="radio-list">
                                <li><label><input type="radio" name="male4" checked><ins class="radio">М</ins></label></li>
                                <li><label><input type="radio" name="male4"><ins class="radio">Ж</ins></label></li>
                            </ul>
                        </div>
                        <div class="b-field-block b-field-block-120">
                            <label class="b-field-label">Имя (латиницей)</label>
                            <input type="text" value="ALEXANDER" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-195 b-field-block-surname">
                            <label class="b-field-label">Фамилия (латиницей)</label>
                            <input type="text" value="KONSTANTINOPLOLSKY" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-94">
                            <label class="b-field-label">Дата рождения</label>
                            <input type="text" value="18.07.1976" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-170">
                            <label class="b-field-label">Гражданство</label>
                            <input type="text" value="Великобритания" class="b-field-text b-field-select">
                        </div>
                        <div class="b-field-block b-field-block-123">
                            <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                            <input type="text" value="77123456789" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-105">
                            <label class="b-field-label">Действителен до</label>
                            <input type="text" placeholder="дд.мм.гггг" class="b-field-text" value="18.07.1976">
                        </div>
                    </div>
                    <div class="b-field-group b-field-group-passport"><div class="b-field-group b-field-group-passport">
                        <div class="b-field-block b-field-block-192">
                            <label class="b-agreement"><input type="checkbox" checked><ins class="b-checkbox"></ins>Есть бонусная карта</label>
                        </div>
                        <div class="b-field-block b-field-block-195">
                            <label class="b-field-label">Авиакомпания</label>
                            <input type="text" value="Аэрофлот" class="b-field-text b-field-select" placeholder="Выберите">
                        </div>
                        <div class="b-field-block b-field-block-143">
                            <label class="b-field-label">Номер карты</label>
                            <input type="text" value="12134а3454" class="b-field-text" placeholder="ХХХХХХХХХХХ">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-container">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block">
                            <label class="b-field-label">Пол</label>
                            <ul class="radio-list">
                                <li><label><input type="radio" name="male5" checked><ins class="radio">М</ins></label></li>
                                <li><label><input type="radio" name="male5"><ins class="radio">Ж</ins></label></li>
                            </ul>
                        </div>
                        <div class="b-field-block b-field-block-120">
                            <label class="b-field-label">Имя (латиницей)</label>
                            <input type="text" value="ALEXANDER" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-195 b-field-block-surname">
                            <label class="b-field-label">Фамилия (латиницей)</label>
                            <input type="text" value="KONSTANTINOPLOLSKY" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-94">
                            <label class="b-field-label">Дата рождения</label>
                            <input type="text" value="18.07.1976" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-170">
                            <label class="b-field-label">Гражданство</label>
                            <input type="text" value="Великобритания" class="b-field-text b-field-select">
                        </div>
                        <div class="b-field-block b-field-block-123">
                            <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                            <input type="text" value="77123456789" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-105">
                            <label class="b-field-label">Действителен до</label>
                            <input type="text" placeholder="дд.мм.гггг" class="b-field-text" value="18.07.1976">
                        </div>
                    </div>
                    <div class="b-field-group b-field-group-passport"><div class="b-field-group b-field-group-passport">
                        <div class="b-field-block b-field-block-192">
                            <label class="b-agreement"><input type="checkbox" checked><ins class="b-checkbox"></ins>Есть бонусная карта</label>
                        </div>
                        <div class="b-field-block b-field-block-195">
                            <label class="b-field-label">Авиакомпания</label>
                            <input type="text" value="Аэрофлот" class="b-field-text b-field-select" placeholder="Выберите">
                        </div>
                        <div class="b-field-block b-field-block-143">
                            <label class="b-field-label">Номер карты</label>
                            <input type="text" value="12134а3454" class="b-field-text" placeholder="ХХХХХХХХХХХ">
                        </div>
                    </div>
                </fieldset>-->
            </div>

            <div class="b-sum-container">
                Сумма к оплате: <b>{{item.Price| price}}</b> <span class="b-sum-rub">руб.</span>
                <a href="#" class="button b-sum-button" ng-click="processToPayment($event)">Перейти к оплате</a>
            </div>
        </form>
    </div>
</div>
<!-- Search Results -->

<!-- Baloon -->
<div class="overlay js-overlay" style="display: none">
    <div class="balloon">
        <div class="baloon-loading"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>
        <div class="baloon-title">Бронирование авиабилетов</div>
        <p class="balloon-info">подождите пожалуйста, это может затять несколько минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-loading"></div>
        <div class="baloon-title">Подождите, идет оплата</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-loading"></div>
        <div class="baloon-title">Выписываем авиабилеты</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-mail"></div>
        <div class="baloon-title">Билеты успешно выписаны</div>
        <p class="balloon-info">и отправлены на электронную почту ratunkov@gmail.com</p>
        <a href="#" class="button baloon-button">Распечатать билеты</a>
    </div>
    <div class="balloon">
        <div class="baloon-close" title="Закрыть"></div>
        <div class="baloon-canceled"></div>
        <div class="baloon-title baloon-error">Бронирование анулировано</div>
        <p class="balloon-info">истек срок ожидания оплаты</p>
        <a href="#" class="button baloon-button">Повторить поиск</a>
    </div>
    <div class="balloon">
        <div class="baloon-close" title="Закрыть"></div>
        <div class="baloon-problem"></div>
        <div class="baloon-title baloon-error">Что-то пошло не так</div>
        <p class="balloon-info">cвяжитесь с оператором по телефону +7 495 742-1212</p>
    </div>
</div>
<!-- /Baloon -->