<style type="text/css">
    .ui-tooltip {
        background-color: #de0000;
        z-index: 10;
    }
</style>
<!-- Search Results -->
<div class="results-body">
    <div class="results-container results-container__tickets" style="padding-top: 190px;">
        <form action="" class="b-tickets-form">

            <h2 class="title">Пасажиры</h2>
            <div class="form-body">
                <fieldset class="form-container" ng-repeat="passenger in reservationModel.passengers">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block">
                            <label class="b-field-label">Пол</label>
                            <ul class="radio-list " ng-class="{error:passenger.sex == null}">
                                <li><label><input disabled type="checkbox" name="male3" ng-model="passenger.sex" ng-checked="passenger.sex == sexType.man" ng-true-value="{{sexType.man}}" ng-false-value="{{sexType.woman}}"><ins class="radio">М</ins></label></li>
                                <li><label><input disabled type="checkbox" name="male3" ng-model="passenger.sex" ng-checked="passenger.sex == sexType.woman" ng-true-value="{{sexType.woman}}" ng-false-value="{{sexType.man}}"><ins class="radio">Ж</ins></label></li>
                            </ul>
                        </div>
                        <div class="b-field-block b-field-block-120">
                            <label class="b-field-label">Имя (латиницей)</label>
                            <input disabled type="text" ng-model="passenger.name" placeholder="IVAN" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-195 b-field-block-surname">
                            <label class="b-field-label">Фамилия (латиницей)</label>
                            <input disabled type="text" ng-model="passenger.secondName" placeholder="IVANOV" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-94">
                            <label class="b-field-label">Дата рождения</label>
                            <input disabled type="text" ng-model="passenger.birthday" placeholder="дд.мм.гггг" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-170">
                            <label class="b-field-label">Гражданство</label>
                            <input disabled ng-click="passenger.showCitListClick($event)" type="text" value="{{passenger.citizenship.name}}" placeholder="Выберите" class="b-field-text b-field-select">
                            
                        </div>
                        <div class="b-field-block b-field-block-123">
                            <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                            <input disabled type="text" ng-model="passenger.doc_series_and_number" placeholder="1104 046100" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-105">
                            <label class="b-field-label">Действителен до</label>
                            <input disabled type="text" ng-model="passenger.doc_expirationDate" placeholder="дд.мм.гггг" class="b-field-text">
                        </div>
                    </div>
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-group b-field-group-passport">
                            <div class="b-field-block b-field-block-192">
                                <label class="b-agreement"><input disabled type="checkbox" ng-model="passenger.bonuscard.haveBonusCard"><ins class="b-checkbox"></ins>Есть бонусная карта</label>
                            </div>
                            <div class="b-field-block b-field-block-195" ng-show="passenger.bonuscard.haveBonusCard == true">
                                <label class="b-field-label">Авиакомпания</label>
                                <input disabled ng-click="passenger.showCardListClick($event)" type="text" value="{{passenger.bonuscard.airCompany.name}}" class="b-field-text b-field-select" placeholder="Выберите">
                            </div>
                            <div class="b-field-block b-field-block-143" ng-show="passenger.bonuscard.haveBonusCard == true">
                                <label class="b-field-label">Номер карты</label>
                                <input disabled type="text" ng-model="passenger.bonuscard.number" class="b-field-text" placeholder="ХХХХХХХХХХХ">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="b-tickets-info-container">
                <div class="b-tickets-ok">Ваши билеты забронированы</div>
                <div class="b-tickets-sum">Сумма к оплате: <b>{{reservationModel.price| price}}</b> <span class="b-sum-rub">руб.</span></div>
                <div class="b-tickets-info">
                    Авиабилеты нужно оплатить <b>до {{reservationModel.expirationDate | date:'HH:mm'}} часов, {{reservationModel.expirationDateFormatted}} года</b><div class="br"></div>
                    Для оплаты осталось: <b>{{reservationModel.experationMinuteFormatted}}</b>
                </div>
            </div>

            <div class="b-cc-container">
                <div class="b-cc-front">
                    <img src="spa/img/cc.png" class="b-cc-type" alt="">
                    <div class="b-cc-block">
                        <label class="b-cc-block-label b-cc-block-label-number">Номер карты <br>(16 цифр)</label>
                        <div id="num1" class="b-cc" title="Неправильно введен номер карты">
                            <input ng-class="{error:!isValid.num1}" digits-input type="text" ng-model="payModel.num1" class="b-field-text b-field-text-small" maxlength="4">
                            <input ng-class="{error:!isValid.num2}" digits-input type="text" ng-model="payModel.num2" class="b-field-text b-field-text-small" maxlength="4">
                            <input ng-class="{error:!isValid.num3}" digits-input type="text" ng-model="payModel.num3" class="b-field-text b-field-text-small" maxlength="4">
                            <input ng-class="{error:!isValid.num4}" digits-input type="text" ng-model="payModel.num4" class="b-field-text b-field-text-small" maxlength="4">
                        </div>
                    </div>
                    <div class="b-cc-block">
                        <label class="b-cc-block-label b-cc-block-label-date">Действительна до</label>
                        <div class="b-cc">
                            <div class="b-cc-date">
                                Месяц
                                <input ng-class="{error:!isValid.cardMonth}" id="cardMonth" title="Неправильно введен месяц" digits-input ng-model="payModel.cardMonth" type="text" class="b-field-text b-field-text-small" maxlength="2">
                            </div>
                            <div class="b-cc-date">
                                Год
                                <input ng-class="{error:!isValid.cardYear}" id="cardYear" title="Неправильно введен год" digits-input ng-model="payModel.cardYear" type="text" class="b-field-text b-field-text-small" maxlength="2">
                            </div>
                        </div>
                    </div>
                    <div class="b-cc-block">
                        <label class="b-cc-block-label">Держатель карты</label>
                        <input ng-class="{error:!isValid.cardHolder}" id="cardHolder" title="Нужно ввести держателя карты" ng-model="payModel.cardHolder" type="text" class="b-field-text b-field-text-name">
                    </div>
                </div>
                <div class="b-cc-end">
                    <div class="b-cvc">
                        <input ng-class="{error:!isValid.cvc2}" id="cvc2" title="Нужно ввести код" digits-input ng-model="payModel.cvc2" type="password" class="b-field-text" maxlength="3" id="CVC">
                        <label for="CVC">CVV/CVC</label>
                    </div>
                </div>
            </div>
            <label class="b-agreement b-agreement-cc"><input ng-model="payModel.agree" type="checkbox"><ins id="agree" title="Нужно согласиться с условиями" class="b-checkbox"></ins>Я согласен с условиями договора-оферты, ознакомлен с правилами изменения и отмены бронирования и не возражаю против обработки моих персональных данных и передачи их третьим лицам (авиаперевозчику и пр.).</label>
            <div class="b-pay-button-block">
                <span class="button b-pay-button">Оплатить <input type="submit" value="Оплатить" ng-click="processToBuy($event)"></span>
            </div>
        </form>
    </div>
</div>
<!-- Search Results -->

<!-- Baloon -->
<div baloon is-show="baloon.isVisible" caption="baloon.caption" text="baloon.text" type="baloon.type" close-fn="baloon.closeFn"></div>
<!-- /Baloon -->