<style type="text/css">
    .cit-cont {
        padding: 0;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .cit-item {
        padding: 3px;
    }
    .cit-item:hover {
        cursor: default;
        background-color: #edeff0;
    }
    .ui-tooltip {
        background-color: #de0000;
        z-index: 0;
    }
</style>
<!-- Search Results -->
<div class="results-body">
    <div class="results-container results-container__tickets" style="padding-top: 190px;">
        <form name="f" action="" class="b-tickets-form">

            <ng:include src="objectToReserveTemplate"></ng:include>

            <div class="warning">
                <b class="warning-title">Обратите внимание!</b>
                <p class="warning-info">При необходимости наличия визы для осуществления перелёта, не забудьте внести информацию о визе на странице оформленного заказа для каждого пассажира по крайней мере за 24 часа до первого вылета. Это требование авиакомпании.</p>
            </div>
            <h2 class="title">Информация о покупателе</h2>
            <div class="form-body">
                <fieldset class="form-container form-container-main">
                    <div class="b-field-group">
                        <div class="b-field-block b-field-block-130">
                            <label class="b-field-label">Имя</label>
                            <input validate-events-dir ng-model="validationModel.name.value"
                                   ng-validation-model="validationModel.name" validate="validate(item, type)" validate-type="validateType.required"
                                   ng-class="{error:validationModel.name.isInvalid && !validationModel.formPure}"
                                   title="Нужно ввести имя" name="name" type="text"
                                   placeholder="Иван" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-190">
                            <label class="b-field-label">Фамилия</label>
                            <input validate-events-dir ng-model="validationModel.secondName.value" 
                                   ng-validation-model="validationModel.secondName" validate="validate(item, type)" validate-type="validateType.required"
                                   ng-class="{error:validationModel.secondName.isInvalid && !validationModel.formPure}"
                                   title="Нужно ввести фамилию" name="secName" type="text" 
                                   placeholder="Иванов" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-290" ng-class="{'b-field-block-auth':login.isLogged && (f.email.$valid || f.email.$pristine)}">
                            <label class="b-field-label">E-mail</label>
                            <input validate-events-dir ng-model="validationModel.email.value"
                                   ng-validation-model="validationModel.email" validate="validate(item, type)" validate-type="validateType.email"
                                   ng-class="{error:validationModel.email.isInvalid && !validationModel.formPure}"
                                   title="Неправильно введен email" type="text"
                                   placeholder="ivan.ivanov@gmail.com" class="b-field-text">
                            <div class="b-auth" ng-show="login.isOpened">
                                <a ng-href="#" ng-click="login.closeClick($event)" class="b-auth-close"></a>
                                <p class="b-auth-text">Мы определили, что вы уже зарегистрированы</p>
                                <a ng-href="#" class="button b-auth-button">Войти</a>
                            </div>
                        </div>
                        <div class="b-field-block b-field-block-290">
                            <label class="b-field-label">Мобильный телефон</label>
                            <input validate-events-dir ng-model="validationModel.phone.value"
                                   ng-validation-model="validationModel.phone" validate="validate(item, type)" validate-type="validateType.phone"
                                   ng-class="{error:validationModel.phone.isInvalid && !validationModel.formPure}"
                                   title="Неправильно введен мобильный телефон" name="phone" type="text"
                                   phone-input placeholder="+79261234567" class="b-field-text">
                        </div>
                    </div>
                    <!--<div ng-show="(f.name.$invalid && !f.name.$pristine) || (f.secName.$invalid && !f.secName.$pristine) || (f.email.$invalid && !f.email.$pristine) || (f.phone.$invalid && !f.phone.$pristine)" class="error-text">Поля отмеченные красным, незаполнены или заполнены с ошибкой</div>-->
                    <label class="b-agreement"><input type="checkbox"><ins class="b-checkbox"></ins>Я хочу получать рассылку спецпредложений</label>
                </fieldset>
            </div>
            <h2 class="title">Пасажиры</h2>
            <div class="form-body">
                <fieldset class="form-container" ng-repeat="passenger in validationModel.passengers">
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-block">
                            <label class="b-field-label">Пол</label>
                            <ul class="radio-list" ng-class="{error:passenger.sex.isInvalid && !validationModel.formPure }"
                                ng-init="setValid(passenger.sex, passenger.sex.value != null)">
                                <li><label><input type="checkbox" name="male3" ng-model="passenger.sex.value" 
                                    ng-change="setValid(passenger.sex, passenger.sex.value != null)"
                                    ng-checked="passenger.sex.value == sexType.man" ng-true-value="{{sexType.man}}" ng-false-value="{{sexType.woman}}"><ins class="radio">М</ins></label></li>
                                <li><label><input type="checkbox" name="male3" ng-model="passenger.sex.value" 
                                    ng-change="setValid(passenger.sex, passenger.sex.value != null)"
                                    ng-checked="passenger.sex.value == sexType.woman" ng-true-value="{{sexType.woman}}" ng-false-value="{{sexType.man}}"><ins class="radio">Ж</ins></label></li>
                            </ul>
                        </div>
                        <div class="b-field-block b-field-block-120">
                            <label class="b-field-label">Имя (латиницей)</label>
                            <input upper-latin validate-events-dir ng-model="passenger.name.value" 
                                   ng-validation-model="passenger.name" validate="validate(item, type)" validate-type="validateType.required"
                                   ng-class="{error:passenger.name.isInvalid && !validationModel.formPure}"
                                   name="pasName" type="text" placeholder="IVAN" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-195 b-field-block-surname">
                            <label class="b-field-label">Фамилия (латиницей)</label>
                            <input upper-latin validate-events-dir ng-model="passenger.secondName.value" 
                                   ng-validation-model="passenger.secondName" validate="validate(item, type)" validate-type="validateType.required"
                                   ng-class="{error:passenger.secondName.isInvalid && !validationModel.formPure}"
                                   name="pasSecName" type="text" placeholder="IVANOV" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-94">
                            <label class="b-field-label">Дата рождения</label>
                            <input validate-events-dir ng-model="passenger.birthday.value" 
                                   ng-validation-model="passenger.birthday" validate="validate(item, type)" validate-type="validateType.birthdate"
                                   ng-class="{error:passenger.birthday.isInvalid && !validationModel.formPure}"
                                   title="Неправильно введена дата рождения"
                                   masked-input mask="99.99.9999" type="text" placeholder="дд.мм.гггг" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-170">
                            <label class="b-field-label">Гражданство</label>
                            <input validate-events-dir
                                   ng-validation-model="passenger.citizenship" validate="validate(item, type)" validate-type="validateType.cit_required"
                                   ng-class="{error:passenger.citizenship.isInvalid && !validationModel.formPure}"
                                   ng-click="passenger.showCitListClick($event)" type="text" value="{{passenger.citizenship.value.name}}" placeholder="Выберите" class="b-field-text b-field-select">
                            <div partial-select list="citizenshipList" result="passenger.citizenship.value" is-open="passenger.dir.cit.isOpen">
                            </div>
                            
                        </div>
                        <div class="b-field-block b-field-block-123">
                            <label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
                            <input validate-events-dir ng-model="passenger.doc_series_and_number.value" depends-on="passenger.citizenship"
                                   ng-validation-model="passenger.doc_series_and_number" validate="validate(item, type)" validate-type="validateType.document"
                                   ng-class="{error:passenger.doc_series_and_number.isInvalid && !validationModel.formPure}"
                                   title="Неправильный номер документа"
                                   type="text" placeholder="1104 046100" class="b-field-text">
                        </div>
                        <div class="b-field-block b-field-block-105">
                            <label class="b-field-label">Действителен до</label>
                            <input validate-events-dir ng-model="passenger.doc_expirationDate.value" 
                                   ng-validation-model="passenger.doc_expirationDate" validate="validate(item, type)" validate-type="validateType.expire"
                                   ng-class="{error:passenger.doc_expirationDate.isInvalid && !validationModel.formPure}"
                                   title="Неправильно введена дата"
                                   masked-input mask="99.99.9999" type="text" placeholder="дд.мм.гггг" class="b-field-text">
                        </div>
                    </div>
                    <div class="b-field-group b-field-group-passport">
                        <div class="b-field-group b-field-group-passport">
                            <div class="b-field-block b-field-block-192">
                                <label class="b-agreement"><input type="checkbox" ng-model="passenger.bonuscard.haveBonusCard.value"><ins class="b-checkbox"></ins>Есть бонусная карта</label>
                            </div>
                            <div class="b-field-block b-field-block-195" ng-show="passenger.bonuscard.haveBonusCard.value == true">
                                <label class="b-field-label">Авиакомпания</label>
                                <input ng-click="passenger.showCardListClick($event)" type="text" value="{{passenger.bonuscard.airCompany.value.name}}" class="b-field-text b-field-select" placeholder="Выберите">
                                <div partial-select list="bonusCardTransportersList" result="passenger.bonuscard.airCompany.value" is-open="passenger.dir.card.isOpen">
                                </div>
                            </div>
                            <div class="b-field-block b-field-block-143" ng-show="passenger.bonuscard.haveBonusCard.value == true">
                                <label class="b-field-label">Номер карты</label>
                                <input type="text" ng-model="passenger.bonuscard.number.value" class="b-field-text" placeholder="ХХХХХХХХХХХ">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="b-sum-container">
                Сумма к оплате: <b>{{item.Price| price}}</b> <span class="b-sum-rub">руб.</span>
                <a href="#" class="button b-sum-button" ng-click="processToPayment($event)">Перейти к оплате</a>
            </div>
        </form>
    </div>
</div>
<!-- Search Results -->

<!-- Baloon -->
<div class="overlay js-overlay" style="display: none">
    <div class="balloon">
        <div class="baloon-loading"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>
        <div class="baloon-title">Бронирование авиабилетов</div>
        <p class="balloon-info">подождите пожалуйста, это может затять несколько минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-loading"></div>
        <div class="baloon-title">Подождите, идет оплата</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-loading"></div>
        <div class="baloon-title">Выписываем авиабилеты</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
    <div class="balloon">
        <div class="baloon-mail"></div>
        <div class="baloon-title">Билеты успешно выписаны</div>
        <p class="balloon-info">и отправлены на электронную почту ratunkov@gmail.com</p>
        <a href="#" class="button baloon-button">Распечатать билеты</a>
    </div>
    <div class="balloon">
        <div class="baloon-close" title="Закрыть"></div>
        <div class="baloon-canceled"></div>
        <div class="baloon-title baloon-error">Бронирование анулировано</div>
        <p class="balloon-info">истек срок ожидания оплаты</p>
        <a href="#" class="button baloon-button">Повторить поиск</a>
    </div>
    <div class="balloon">
        <div class="baloon-close" title="Закрыть"></div>
        <div class="baloon-problem"></div>
        <div class="baloon-title baloon-error">Что-то пошло не так</div>
        <p class="balloon-info">cвяжитесь с оператором по телефону +7 495 742-1212</p>
    </div>
</div>
<!-- /Baloon -->