<!-- Search Results -->
<div class="results-body buy-form" id="buy-listener">
	<form action="javascript:void(0)" method="post" class="results-body">

		<div class="main__center" ng-if="reservationModel.IsService">
			<header class="buy__header">
				<h2 class="buy__title">Оплата сервисного сбора</h2>

				<div class="buy__header-price">Стоимость заказа за {{passengerCount | perPerson}}: <b>{{price| price}}
					<ng-include src="'components/ruble.html'"/>
				</b></div>
			</header>
		</div>
		<div class="main__center" ng-if="!reservationModel.IsService">
			<ng:include src="objectToReserveTemplate"
			            ng-repeat="item in [aviaInfo] track by $index"
			></ng:include>

			<ng:include src="'components/need-visa/templ/index.html'" ng-repeat="item in [aviaInfo] track by $index"></ng:include>

			<p class="buy__price-descr buy__alert" ng-if="(hotel != null)">Внимание! К компонентам пакета применяются разные
			                                                               условия отмены бронирования.<br/>Пожалуйста, ознакомьтесь с <a href="" ng-click="tarifs.show($event)">правилами
			                                                                                                                                                                     применения тарифа
			                                                                                                                                                                     авиабилета</a> и
				<a href="" ng-click="hotelRules.show($event)">условиями
				                                              бронирования отеля</a>
			                                                               и <a href="" ng-click="insuranceRules.show($event)">правилами медицинского страхования</a>.
			</p>
			<br/>

			<p class="buy__price-descr" ng-if="!(hotel != null) && aviaInfo">
				Пожалуйста, ознакомьтесь с
				<a href="" ng-click="tarifs.show($event)">правилами
				                                          применения тарифа авиабилета</a>.
			</p>
			<br/>

			<header class="buy__header" ng-if="!(hotel != null)">
				<h2 class="buy__title">Информация о покупателе</h2>
			</header>
			<div class="buy-passanger__block">
				<div class="b-field-group">
					<!--<div class="b-field-block b-field-block-auth" style="width: 388px;">-->
					<div class="b-field-block b-field-email">
						<label class="b-field-label">E-mail</label>
						<input disabled="disabled" ng-model="reservationModel.Email"
						       data-title="Неправильно введен email" type="text"
						       placeholder="ivan.ivanov@gmail.com" class="b-field-text">
					</div>
					<div class="b-field-block b-field-phone">
						<label class="b-field-label">Мобильный телефон</label>
						<input disabled="disabled" ng-model="reservationModel.Phone"
						       data-title="Неправильно введен мобильный телефон" name="phone" type="text"
						       class="b-field-text">
					</div>
				</div>
				<label class="b-agreement"><input disabled="disabled" ng-model="reservationModel.IsSubscribe"
				                                  type="checkbox">
					<ins class="b-checkbox"></ins>
					Я хочу получать рассылку спецпредложений</label>
			</div>

			<header class="buy__header">
				<h2 class="buy__title">Пассажиры</h2>
			</header>
			<fieldset class="buy__blocks" ng-repeat="passenger in reservationModel.passengers">
				<div class="b-field-group b-field-group-passport">
					<div class="b-field-block">
						<label class="b-field-label">Пол</label>
						<ul class="radio-list" ng-class="{error:passenger.sex == null}">
							<li><label><input disabled type="checkbox" name="male3" ng-model="passenger.sex"
							                  ng-checked="passenger.sex == sexType.man" ng-true-value="{{sexType.man}}"
							                  ng-false-value="{{sexType.woman}}">
								<ins class="radio">М</ins>
							</label></li>
							<li><label><input disabled type="checkbox" name="male3" ng-model="passenger.sex"
							                  ng-checked="passenger.sex == sexType.woman"
							                  ng-true-value="{{sexType.woman}}" ng-false-value="{{sexType.man}}">
								<ins class="radio">Ж</ins>
							</label></li>
						</ul>
					</div>
					<div class="b-field-block b-field-second-name">
						<label class="b-field-label">Фамилия</label>
						<input disabled type="text" ng-model="passenger.secondName" placeholder="IVANOV"
						       class="b-field-text">
					</div>
					<div class="b-field-block b-field-name b-field-block-surname">
						<label class="b-field-label">Имя</label>
						<input disabled type="text" ng-model="passenger.name" placeholder="IVAN" class="b-field-text">
					</div>
					<div class="b-field-block b-field-birth">
						<label class="b-field-label">Дата рождения</label>
						<input disabled type="text" ng-model="passenger.birthday" placeholder="дд.мм.гггг"
						       class="b-field-text">
					</div>
					<div class="b-field-block b-field-sitizenship">
						<label class="b-field-label">Гражданство</label>
						<input disabled ng-click="passenger.showCitListClick($event)" type="text"
						       value="{{passenger.citizenship.name}}" placeholder="Выберите"
						       class="b-field-text b-field-select">

					</div>
					<div class="b-field-block b-field-document">
						<label class="b-field-label b-field-label-docs">Серия и номер док-та</label>
						<input disabled type="text" ng-model="passenger.doc_series_and_number" class="b-field-text">
					</div>
					<div class="b-field-block b-field-expires">
						<label class="b-field-label b-field-label-docs">Действителен до</label>
						<input disabled type="text" ng-model="passenger.doc_expirationDate" placeholder="дд.мм.гггг"
						       class="b-field-text">
					</div>
				</div>
				<div class="b-field-group b-field-group-passport">
					<div class="b-field-group b-field-group-passport">
						<div class="b-field-block b-field-bonus-card">
							<label class="b-agreement"><input disabled type="checkbox"
							                                  ng-model="passenger.bonuscard.haveBonusCard">
								<ins class="b-checkbox"></ins>
								Есть бонусная карта авиакомпании</label>
						</div>
						<div class="b-field-block b-field-bonus-aircompany"
						     ng-show="passenger.bonuscard.haveBonusCard == true">
							<label class="b-field-label">Авиакомпания</label>
							<input disabled ng-click="passenger.showCardListClick($event)" type="text"
							       value="{{passenger.bonuscard.airCompany.name}}" class="b-field-text b-field-select"
							       placeholder="Выберите">
						</div>
						<div class="b-field-block b-field-bonus-card-num"
						     ng-show="passenger.bonuscard.haveBonusCard == true">
							<label class="b-field-label">Номер карты</label>
							<input disabled type="text" ng-model="passenger.bonuscard.number" class="b-field-text"
							       placeholder="ХХХХХХХХХХХ">
						</div>
					</div>
				</div>
			</fieldset>
		</div>

		<div ng-if="!qiwiPayControl.isQiwiResultPage()">
			<div class="b-tickets-info-container">
				<div class="b-tickets-info-container__inner-wrap">
					<div class="b-tickets-ok b-svyaznoy"
					     ng-if="reservationModel.experationMinute > 0 && !reservationModel.IsService && !(hotel != null)">
						<i class="fa fa-check"></i>Билеты забронированы
					</div>
					<div class="b-tickets-ok b-svyaznoy"
					     ng-if="reservationModel.experationMinute > 0 && !reservationModel.IsService && (hotel != null)">
						<i class="fa fa-check"></i>Билеты забронированы, отель будет забронирован после оплаты
					</div>
					<div class="b-tickets-info-block b-svyaznoy" ng-if="reservationModel.experationMinute > 0">
						<ul class="pay-type-select">
							<li ng-if="isPayWithBankCardAllowed">
								<span class="icon-img icon-sprite-pay_type_1"></span>
								<input ng-model="svyaznoyPayControl.payType" value="1" id="pay_type_card" type="radio" name="card-pay">
								<label for="pay_type_card">
									<b>&nbsp;{{price| price}}
										<ng-include src="'components/ruble.html'"/>
									</b>
									<span>банковской картой</span></label>
							</li>
							<li ng-if="isPayWithSvyaznoyAllowed">
								<span class="icon-img icon-sprite-pay_type_2"></span>
								<input ng-model="svyaznoyPayControl.payType" value="2" id="pay_type_cache" type="radio" name="card-pay">
								<label for="pay_type_cache"><b>&nbsp;{{price| price}}
									<ng-include src="'components/ruble.html'"/>
								</b>
									<span>{{svyaznoyPayControl.checkListTitle}}</span></label>
							</li>
							<li ng-if="qiwiPayControl.isEnabled && !paymentDeadline.ifExpires()">
								<span class="icon-img icon-sprite-pay_type_3"></span>
								<input ng-model="svyaznoyPayControl.payType" value="3" id="pay_type_qiwi" type="radio" name="card-pay">
								<label for="pay_type_qiwi"><b>&nbsp;{{price| price}}
									<ng-include src="'components/ruble.html'"/>
								</b>
									<span>через QIWI Visa Wallet</span></label>
							</li>
						</ul>


						<div class="b-tickets-info-svyaznoy">
							Срок оплаты: <b>{{reservationModel.expirationDateFormatted}}, {{reservationModel.expirationDate | date:'HH:mm'}} (MSK)</b>

							<div class="br"></div>
							Осталось: <b>{{reservationModel.experationSecondsFormatted}}</b>
						</div>
					</div>
				</div>
			</div>

			<div class="main__center" ng-if="svyaznoyPayControl.payType == 1">

				<div class="b-cc-container">
					<div class="b-cc-front">
						<div class="b-cc-cont">
							<img ng-if="visaOrMastercard == null" src="spa/img/cc.png" class="b-cc-type" alt="">
							<img ng-if="visaOrMastercard == true" src="spa/img/cc-visa.png" class="b-cc-type" alt="">
							<img ng-if="visaOrMastercard == false" src="spa/img/cc-mc.png" class="b-cc-type" alt="">
							<img ng-if="isUniteller" src="spa/img/cc-uniteller.png" class="b-cc-uniteller" alt="">
						</div>

						<div class="b-cc-block">
							<label class="b-cc-block-label b-cc-block-label-number">Номер карты <br>(16 цифр)</label>

							<div id="num1" class="b-cc js-cardnum-block" data-title="Неправильно введен номер карты">
								<input autocomplete="off" ng-class="{error:indicator.num1}" digits-input type="text"
								       ng-model="payModel.num1"
								       validate-simple validate="validateField(key, value)" key="num1" len="4"
								       go-next="focusControl.next(key)"
								       class="b-field-text b-field-text-small" maxlength="4">
								<input autocomplete="off" ng-class="{error:indicator.num2}" digits-input type="text"
								       ng-model="payModel.num2"
								       validate-simple validate="validateField(key, value)" key="num2" len="4"
								       go-next="focusControl.next(key)"
								       class="b-field-text b-field-text-small" maxlength="4">
								<input autocomplete="off" ng-class="{error:indicator.num3}" digits-input type="text"
								       ng-model="payModel.num3"
								       validate-simple validate="validateField(key, value)" key="num3" len="4"
								       go-next="focusControl.next(key)"
								       class="b-field-text b-field-text-small" maxlength="4">
								<input autocomplete="off" ng-class="{error:indicator.num4}" digits-input type="text"
								       ng-model="payModel.num4"
								       validate-simple validate="validateField(key, value)" key="num4" len="4"
								       go-next="focusControl.next(key)"
								       class="b-field-text b-field-text-small" maxlength="4">
							</div>
						</div>
						<div class="b-cc-block b-cc-block-date">
							<label class="b-cc-block-label b-cc-block-label-date">Действительна до</label>

							<div class="b-cc js-card-valid">
								<div class="b-cc-date">
									Месяц
									<input autocomplete="off" type="text" class="b-field-text b-field-text-small"
									       ng-class="{error:indicator.cardMonth}"
									       validate-simple validate="validateField(key, value)" key="cardMonth" len="2"
									       go-next="focusControl.next(key)"
									       id="cardMonth" data-title="Неправильно введен месяц" digits-input
									       ng-model="payModel.cardMonth" maxlength="2">
								</div>
								<div class="b-cc-date">
									Год
									<input autocomplete="off" type="text" class="b-field-text b-field-text-small"
									       ng-class="{error:indicator.cardYear}"
									       validate-simple validate="validateField(key, value)" key="cardYear" len="2"
									       go-next="focusControl.next(key)"
									       id="cardYear" data-title="Неправильно введен год" digits-input
									       ng-model="payModel.cardYear" maxlength="2">
								</div>
							</div>
						</div>
						<div class="b-cc-block">
							<label class="b-cc-block-label b-cc-block-label-number">Держатель<br> карты</label>
							<input autocomplete="off" type="text" class="b-field-text b-field-text-name js-card-holder"
							       ng-class="{error:indicator.cardHolder}"
							       validate-simple validate="validateField(key, value)" key="cardHolder"
							       id="cardHolder" data-title="Нужно ввести держателя карты" ng-model="payModel.cardHolder"
							       to-upper>
						</div>
					</div>
					<div class="b-cc-end">
						<div class="b-cvc">
							<input autocomplete="off" type="text" autocomplete="off" class="b-field-text" maxlength="3"
							       id="cvc2"
							       ng-class="{error:indicator.cvc2}"
							       validate-simple validate="validateField(key, value)" key="cvc2"
							       id="cvc2" data-title="Нужно ввести код" digits-input ng-model="payModel.cvc2">
							<label for="CVC">CVV/CVC</label>
						</div>
					</div>
				</div>

				<div class="b-agreement-container">
					<!--<a ng-href="#" ng-click="fillTestData($event)" style="position: absolute; right: 0px;">Заполнить тестовыми данными</a>-->
                <span class="button b-pay-button">Оплатить <input type="submit" value="Оплатить"
                                                                  ng-click="processToBuy($event)"></span>

					<div class="b-security">Мы не храним ваши данные у себя, а сразу перенаправляем их в зашифрованном виде,</br>
					                        используя платежный шлюз Промсвязьбанка
					</div>

					<div class="b-logos-cont">
						<img ng-if="isUniteller" src="/spa/img/cc-uniteller.png" class="b-logos-uniteller" alt="">
						<img ng-if="isUniteller" src="/spa/img/logos-uniteller.png" class="b-logos" alt="">
						<img ng-if="!isUniteller" src="/spa/img/logos.png" class="b-logos" alt="">
					</div>
				</div>
				<div class="buy-message-block" ng-if="buyCommentsForm.isEnabled">
					Если Вы не успеваете оплатить до тайм-лимита или Вы хотите оплатить другим способом,
					<a href="#" ng-click="buyCommentsForm.openPopup($event)">просто отправьте нам сообщение.</a>
					</br>Менеджер свяжется с Вами и поможет оформить путешествие.
				</div>
			</div>

			<div id="svyaznoy_print_block" class="main__center b-svyaznoy" ng-if="svyaznoyPayControl.payType == 2">
				<div ng-hide="svyaznoyPayControl.blockViewType == svyaznoyPayControl.blockViewTypeEnum.euroset"
				     class="icon-sprite-svyaznoy_logo"></div>
				<div ng-hide="svyaznoyPayControl.blockViewType == svyaznoyPayControl.blockViewTypeEnum.svyaznoy"
				     ng-class="{'b-euroset-logo':(svyaznoyPayControl.blockViewType != svyaznoyPayControl.blockViewTypeEnum.euroset)}"
				     class="icon-sprite-euroset_logo"></div>

				<p class="b-order-num"><b>Номер заказа {{svyaznoyPayControl.orderNum}}</b></p>

				<p ng-if="svyaznoyPayControl.blockViewType == svyaznoyPayControl.blockViewTypeEnum.all">
					Вы можете оплатить этот заказ наличными в любом офисе Связного
					<a href="https://www.svyaznoy.ru/address_shops/" target="_blank">адреса офисов</a>
					или Евросети <a href="http://euroset.ru/shops/" target="_blank">адреса офисов</a>.
					<br/>Обратитесь к менеджеру и назовите номер заказа.
				</p>
				<p ng-if="svyaznoyPayControl.blockViewType == svyaznoyPayControl.blockViewTypeEnum.svyaznoy">
					Вы можете оплатить этот заказ наличными в любом офисе Связного
					<a href="https://www.svyaznoy.ru/address_shops/" target="_blank">адреса офисов</a>.
					<br/>Обратитесь к менеджеру и назовите номер заказа.
				</p>
				<p ng-if="svyaznoyPayControl.blockViewType == svyaznoyPayControl.blockViewTypeEnum.euroset">
					Вы можете оплатить этот заказ наличными в любом офисе Евросети
					<a href="http://euroset.ru/shops/" target="_blank">адреса офисов</a>.
					<br/>Обратитесь к менеджеру и назовите номер заказа.
				</p>

				<p>Рекомендуем оплачивать заказ в салоне в ближайшее время после бронирования, поскольку авиакомпании
					<br/>оставляют за собой право изменять время на оплату.
				</p>

				<a href="/services/paymnet/?order={{svyaznoyPayControl.orderNum}}&viewType={{svyaznoyPayControl.blockViewType}}{{svyaznoyPayControl.time}}" target="_blank">
					<div class="b-print-btn icon-sprite-btn-print">
					</div>
				</a>
			</div>

			<div class="qiwi-block__pay-info__wrap" ng-if="svyaznoyPayControl.payType == 3">
				<div class="main__center qiwi-block__pay-info__container">
					<span class="icon-img icon-sprite-qiwi_walet qiwi-block__pay-info__pay-logo"></span>
					<span class="button b-pay-button qiwi qiwi-block__pay-info__pay-button">Оплатить <input type="submit" value="Оплатить" ng-click="qiwiPayControl.buy($event)"></span>
            <span class="qiwi-block__pay-info__text">
                Доступ к  QIWI Visa Wallet откроется в отдельном окне.<br/>
                <a href="https://w.qiwi.com" target="_blank">Инструкция</a> по работе с QIWI Visa Wallet.
            </span>
				</div>
			</div>
		</div>

	</form>

</div>
<!-- Search Results -->

<div ng-if="admitadSuccess && orderNum && price && admitad_uid">
	<admitad-pixel
			price="price"
			order_id="orderNum"
			uid="admitad_uid"
	></admitad-pixel>
</div>


<!-- Baloon -->
<div class="overlay js-overlay" ng-if="tarifs.isOpened">
	<div class="scroll-fix">
		<div class="balloon balloon_medium js-tarifs" ng-style="tarifs.popupStyles">
			<div title="Закрыть" class="balloon-close" ng-click="tarifs.close($event)">
				<i class="icon-sprite-remove-big"></i>
			</div>
			<div class="b__rules-container">
				<div class="b__rules_attention">
					<h3>Обратите внимание!</h3>

					<p>При не использовании одного из сегментов маршрута, последующие сегменты могут быть автоматически
					   аннулированы авиакомпанией.
					</p>

					<p>Если по перелёту используется несколько разных правил/тарифов, то при обмене/возврате применяются
					   более строгие правила. При обмене/возврате к возможным штрафным санкциям авиакомпании по
					   правилам тарифа, дополнительно взымается сервисный сбор за услугу оформления обмена/возврата
					   билета.
					</p>
					<ul class="b__rules-flies">
						<li ng-class="{current:item === tarifs.setected}"
						    ng-repeat="item in tarifs.list">
							<a ng-href="#" ng-click="tarifs.tarifClick($event, item)">
                                <span><b>{{item.from}}
                                         → {{item.to}},</b> {{item.num}}, {{tarifs.class}} ({{item.nameFirstLetter}})</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="b__rules-grey">
					<h3>{{tarifs.setected.from}} → {{tarifs.setected.to}}</h3>
					<h4>Полные правила применения тарифа</h4>
					<!--<p>Пожалуйста, ознакомьтесь детальнее с условиями <a href="#">обмена/возврата</a>.</p>-->
					<p ng-bind-html="tarifs.tarifItem.Text | breakFilter"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Baloon -->

<!-- Baloon -->
<!--<div class="overlay js-overlay" ng-show="buyFrame.isOpened">
    <div class="scroll-fix" ng-style="baloon.styleFix">
        <div class="balloon balloon_medium" style="height: 430px; width: 960px;">
            &lt;!&ndash;<div title="Закрыть" class="balloon-close" ng-click="tarifs.close($event)"></div>&ndash;&gt;

            <iframe id="buy_frame_main" ng-src="{{buyFrame.iframeUrl}}" ng-if="buyFrame.iframeUrl != null"
                    style="width:100%; height: 100%;"></iframe>
        </div>
    </div>
</div>-->

<!-- Baloon -->
<div class="overlay js-overlay" ng-show="buyFrame.isOpened">
	<div class="scroll-fix">
		<div class="balloon balloon_medium buy-popup">
			<!--<div title="Закрыть" class="balloon-close" ng-click="tarifs.close($event)"></div>-->
			<iframe id="buy_frame_main" class="buy-frame" ng-src="{{buyFrame.iframeUrl}}" ng-if="buyFrame.iframeUrl != null"></iframe>
		</div>
	</div>
</div>
<!-- /Baloon -->
<!-- /Baloon -->

<!-- Baloon cancel hotel -->
<div class="overlay js-overlay" ng-if="hotelRules.isOpened">
	<div class="scroll-fix">
		<div class="balloon balloon_ticket">
			<div title="Закрыть" class="balloon-close" ng-click="hotelRules.close($event)">
				<i class="icon-sprite-remove-big"></i>
			</div>
			<h3 class="balloon__title">Условия и правила по отелю</h3>

			<div class="balloon__text-block">
				<h4 class="balloon__title-sec">Условия заселения</h4>
				<ul class="balloon__list">
					<li>Заезд: до {{hotelRules.checkIn}}</li>
					<li>Выезд: до {{hotelRules.checkOut}}</li>
				</ul>
			</div>
			<div class="balloon__text-block"
			     ng-if="hotelRules.cancellationRules != null && hotelRules.cancellationRules.length > 0">
				<h4 class="balloon__title-sec">Правила отмены</h4>
				<!--<ul class="balloon__list">
					<li>В случае отмены или изменения бронирования в срок до 1 суток до даты заезда
	штраф не взимается.</li>
					<li>В случае отмены или изменения бронирования позднее этого срока или в случае
	незаезда взимается 100 процентов от стоимости первой ночи проживания.</li>
				</ul>-->
				<p ng-bind-html="hotelRules.cancellationRules | breakFilter"></p>
			</div>
			<div class="balloon__text-block" ng-if="hotelRules.extra.List.length > 0">
				<h4 class="balloon__title-sec">Дополнительно</h4>
				<ul class="balloon__list">
					<li ng-repeat="item in hotelRules.extra.List">{{item}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /Baloon -->


<!--popup form-->
<div class="overlay js-overlay" ng-if="buyCommentsForm.isOpened">
	<div class="scroll-fix">
		<div class="balloon balloon_ticket" ng-style="buyCommentsForm.style">
			<div title="Закрыть" class="balloon-close" ng-click="buyCommentsForm.close($event)">
				<i class="icon-sprite-remove-big"></i>
			</div>
			<div class="buy-comment-title">Комментарий к заказу</div>

			<div class="but-comment-text-block">
				<form name="buyCommentsForm.form" ng-submit="buyCommentsForm.send($event)">
					<div class="buy-comment-text-lbl">Текст сообщения</div>
                        <textarea data-required name="reqComments" ng-class="{'error':buyCommentsForm.form.$dirty && buyCommentsForm.form.reqComments.$invalid}" class="buy-comment-text" ng-model="buyCommentsForm.comments">
                        {{buyCommentsForm.comments | breakFilter}}
                        </textarea>
					<div ng-show="buyCommentsForm.form.$dirty && buyCommentsForm.form.reqComments.$invalid" class="buy-comment-text__error">Нужно ввести текст сообщения</div>

					<button type="submit" class="button buy-comment-submit">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- Baloon insurance -->
<div class="overlay js-overlay" ng-if="insuranceRules.isOpened">
	<div class="scroll-fix" ng-style="hotelRules.style">
		<div class="balloon balloon_long">
			<div title="Закрыть" class="balloon-close" ng-click="insuranceRules.close($event)">
				<i class="icon-sprite-remove-big"></i>
			</div>
			<h3 class="balloon__title">Правила медицинского страхования</h3>

			<div class="balloon__frame-block">
				<iframe class="balloon__frame" ng-style="insuranceRules.style" src="/spa/insurance.html"></iframe>
			</div>
		</div>
	</div>
</div>
<!-- /Baloon -->
