<h1 class="title">Оплата авиабилетов</h1>

<div class="rl-item rl-item-payment" ng-show="item != null">
<header class="rl-item-header">
    <span class="rl-price">
        <span class="rl-price-item">{{item.Price| price}}</span> руб.
    </span>
    <span class="rl-airline">{{item.TransporterListText}}</span>
</header>
<div class="rl-content">
    <img ng-src="{{item.EtapsToTransporterCodeUrl}}" class="rl-airline-logo" alt="{{item.EtapsToTransporterName}}">
    <div class="rl-fly">
        <b class="rl-fly-time">{{item.DepartureTimeFormatted}} {{item.DepartureDateFormatted}}</b>
        <div class="rl-fly-date">{{item.CityFrom}}, <br />{{item.AirportFrom}} ({{item.OutCode}})</div>
    </div>
    <div class="rl-travel-time">{{item.TimeToFormatted}}</div>
    <div class="rl-fly">
        <b class="rl-fly-time">{{item.ArrivalTimeFormatted}} {{item.ArrivalDateFormatted}}</b>
        <div class="rl-fly-date">{{item.CityTo}}, <br />{{item.AirportTo}} ({{item.InCode}})</div>
    </div>
    <div class="rl-weight">
        <span>20 kg</span>
    </div>
    <div class="rl-fly-type" ng-if="item.ToTransferCount > 0">
        <div class="rl-fly-transplant">{{item.ToTransferCount}} {{getTransferCountText(item.ToTransferCount)}}</div>
        <div class="rl-fly-transplant-time">
            <span ng-repeat="etap in item.EtapsToItems">
            <span tooltip-title title="{{etap.name}} ({{etap.code}})">{{etap.code}}</span> {{etap.waitTime}}<span ng-if="$last == false">,<br /></span>
        </span>
        </div>
    </div>
    <div class="rl-fly-type" ng-if="item.ToTransferCount == 0">
    <div class="rl-fly-transplant">Прямой</div>
</div>
</div>
<div class="rl-content" ng-if="item.VariantId2 > 0">
    <img ng-src="{{item.EtapsBackTransporterCodeUrl}}" class="rl-airline-logo" alt="{{item.EtapsToTransporterName}}">
    <div class="rl-fly">
        <b class="rl-fly-time">{{item.BackDepartureTimeFormatted}} {{item.BackDepartureDateFormatted}}</b>
        <div class="rl-fly-date">{{item.CityTo}}, <br />{{item.AirportTo}} ({{item.InCode}})</div>
    </div>
    <div class="rl-travel-time">{{item.TimeBackFormatted}}</div>
    <div class="rl-fly">
        <b class="rl-fly-time">{{item.BackArrivalTimeFormatted}} {{item.BackArrivalDateFormatted}}</b>
        <div class="rl-fly-date">{{item.CityFrom}}, <br />{{item.AirportFrom}} ({{item.OutCode}})</div>
    </div>
    <div class="rl-weight">
        <span>120 kg</span>
    </div>
    <div class="rl-fly-type" ng-if="item.BackTransferCount > 0">
        <div class="rl-fly-transplant">{{item.BackTransferCount}} {{getTransferCountText(item.BackTransferCount)}}</div>
        <div class="rl-fly-transplant-time">
            <span ng-repeat="etap in item.EtapsBackItems">
                <span tooltip-title title="{{etap.name}} ({{etap.code}})">{{etap.code}}</span> {{etap.waitTime}}<span ng-if="$last == false">,<br /></span>
            </span>
        </div>
    </div>
    <div class="rl-fly-type" ng-if="item.BackTransferCount == 0">
    <div class="rl-fly-transplant">Прямой</div>
</div>
</div>
<footer class="rl-footer">
    <a href="#" class="rl-more-info" ng-click="moreClick($event)"><span>Подробнее</span></a>
    <span class="rl-tickets-number">Последние 3 места</span>
    <span class="rl-class">{{helper.getCabinClassName(item.CabineClass)}}</span>
</footer>
</div>