<header class="buy__header">
    <h2 class="buy__title">Оплата авиабилетов</h2>
    <a ng-href="{{goBackUrl()}}" class="buy__title-link">Выбрать другой билет</a>
    <div class="buy__header-price">Стоимость заказа: <b>{{item.Price| price}} <span class="rub">Р</span></b></div>
</header>
<div class="buy__fly">
    <header class="rl-item-header" ng-show="item != null">
        <span ng-if="!(item.transportersList.length > 3)" class="rl-airline" ng-repeat="tr in item.transportersList"><img ng-src="{{tr.logoUrl}}" alt=""><span class="rl-airline-text">{{tr.name}}</span></span>
        <span ng-if="item.transportersList.length > 3" class="rl-airline"><img ng-src="/spa/img/group.png" alt=""><span class="rl-airline-text">Несколько авиакомпаний</span></span>
    </header>
    <div class="b-ticket_2ways" ng-show="item != null">
        <div class="rlf-fly">
            <div class="rlf__flight-block">
                <b>{{item.DepartureTimeFormatted}}</b> {{item.DepartureDateFormatted}}<br>
                <b>{{item.AirportFrom}}</b> {{item.OutCode}}
                <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
            </div>
            <div class="rlf__flight-block">
                <b>{{item.ArrivalTimeFormatted}}</b>, {{item.ArrivalDateFormatted}}<br>
                {{item.AirportTo}} {{item.InCode}}
            </div>
            <!--<div class="rlf-full-travel-time">&nbsp;</div>-->
            <div class="rlf-full-travel-time-info">в пути: {{item.TimeToFormatted}}, <span ng-if="item.ToTransferCount > 0">{{item.ToTransferCount}} {{getTransferCountText(item.ToTransferCount)}}</span><span ng-if="item.ToTransferCount == 0">прямой</span></div>
        </div>
        <div class="rlf-fly rlf-fly_back" ng-if="item.EtapsBack.length > 0">
            <div class="rlf__flight-block">
                <b>{{item.BackDepartureTimeFormatted}}</b>, {{item.BackDepartureDateFormatted}}<br>
                {{item.AirportTo}} {{item.InCode}}
                <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
            </div>
            <div class="rlf__flight-block">
                <b>{{item.BackArrivalTimeFormatted}}</b>, {{item.BackArrivalDateFormatted}}<br>
                {{item.AirportFrom}} {{item.OutCode}}
            </div>
            <div class="rlf-full-travel-time-info">в пути: {{item.TimeBackFormatted}}, <span ng-if="item.BackTransferCount > 0">{{item.BackTransferCount}} {{getTransferCountText(item.BackTransferCount)}}</span><span ng-if="item.BackTransferCount == 0">прямой</span></div>
        </div>
        <div class="rlf-fly rlf-fly_back rlf__oneway" ng-if="!(item.EtapsBack.length > 0)">
            БИЛЕТ В ОДНУ СТОРОНУ
        </div>
    </div>

    <footer class="rl-footer">
        <span class="rl-tickets-number">{{helper.getNumSeatsText(item.NumSeats, ticketsCount)}}</span>
        <a ng-href="#" class="rl-more-info" ng-click="popupItemInfo.show($event, item, criteria, searchId, true)">Подробнее</a>
    </footer>
</div>