.b-list-panel{
    position: relative;

    &__wait{
        &:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: #fff;
            opacity: 0.5
            z-index: 100;
        }
    }
}
.b-results-list_dp{
    width: auto;
    position: relative;
    //padding-right: 25%;
    padding-right: 192px;
}
.results-list{
    min-height 300px

    &.results-list-clear{
        width auto
    }

    &__empty{
        padding 100px 0 300px
        background-repeat no-repeat
        background-position center 50px

        &_type{
            &_hotels{
                background-image: url(/spa/img/empty-list__hotels.png)
            }
            &_tickets{
                background-image: url(/spa/img/empty-list__tickets.png)
            }
        }

        p{
            font-size 18px
            line-height 24px
            text-align center
            margin 0
        }
    }
}
.button.button-scroll-to-more{
    display: block;
    width: 135px;
    margin: 25px auto;
    background: none repeat scroll 0 0 #212121;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 0 3px #212121;
    color: #fff;

    .icon-arrow-bottom{
        margin-right: 5px;
    }
}
.icon-arrow-bottom:after{
    border-color: #212121 transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    top: -8px;
    content: "";
    display: inline-block;
    height: 0;
    left: -6px;
    position: absolute;
    width: 0;
}
.icon-arrow-bottom{
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    display: inline-block;
    height: 0;
    position: relative;
    width: 0;
}
//услуги включенные в пакет
.b-dp-services{
    //margin-bottom: 15px;
    //padding: 10px 20px 5px;
    //background: #fff;
    //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25)
    padding-left 10px
}
.b-dp-services__title{
    //margin: 0 0 8px;
    font-size: 14px;
    font-weight: bold;
    color #313C48
}
.b-dp-services__list{
    margin: 10px 0;
    padding: 0;
}
.b-dp-services__list-item{
    position: relative;
    margin: 5px 0;
    padding: 0 0 0 24px;
    font-size: 14px;
    color #313C48
}
.b-dp-services__list-item-icon{
    position: absolute;
    left: 0;
    top: 0;
    color: #77b237;
    font-size: 16px;
    text-align: left;

    &.icon-fuel{
        &:before{
            margin-left: 0.11em
        }
    }

    &.fa-plane{
        left 2px
    }
    &.fa-medkit{
        left 1px
    }
    &.fa-bus{
        left 2px
    }
}
//b-banner
.b-banner{
    margin: 0;
}
.b-banner__link{
    display: block;
    text-align: center;
}
.b-banner__img{
    vertical-align: top;
}
@media all and (max-width: 768px) {
    .b-results-list_dp {
        padding-top: 9%;
        padding-left: 17%;
        padding-right: 0;
    }
    .b-dp-services{
        display: none;
    }
}