<!DOCTYPE html>
<html xmlns:ng="https://angularjs.org" id="ng-app" ng-app="innaApp" ng-controller="RootCtrl">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name='yandex-verification' content='40fd92efcc007a47'/>
    <!--<meta name="viewport" content="initial-scale=1, user-scalable=yes">-->
    <meta name="viewport" content="width=980">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>

    <!-- Данные партнеров -->
    {{> partners/title_fav}}

    <base href="/"/>

    <!--[if lte IE 9]>
    <script>
        var loc = document.location;
        //если нет #
        if ((loc.href.indexOf(loc.hostname + '/#') === -1) && loc.pathname.length > 1) {
            var host = loc.protocol + '//' + loc.hostname;
            var indexStart = loc.href.indexOf(host) + host.length;
            var path = loc.href.substring(indexStart);
            loc.href = loc.protocol + '//' + loc.hostname + '/#' + path;
        }
    </script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng-value');
        document.createElement('ng-model');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
        document.createElement('ng:any');
    </script>
    <![endif]-->


    <!-- build:app-stylus -->
    <!--<link rel="stylesheet" href="/build/css/common.min.css"/>-->
    <link rel="stylesheet" href="/spa/css/common.css"/>
    <!-- endbuild -->

    <link rel="stylesheet" href="/spa/css/libs.css"/>
    <!--<link rel="stylesheet" href="/dist/spa/css/common.css"/>-->
    <!--<link rel="stylesheet" href="/dist/spa/css/components.css"/>-->
    <!--<link rel="stylesheet" href="/dist/spa/css/pages.css"/>-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/spa/css/ie.css"/>
    <![endif]-->

    <!--[if lt IE 10]>
    <style type="text/css">
        .spinner *{
            display: none;
        }
    </style>
    <![endif]-->


    <!-- build:app-config-debug -->
    <script>window.FrontedDebug = true;</script>
    <!-- endbuild -->

    <script src="/spa/lib/if-browser.js"></script>
    <script>
        var old = ifBrowser();

        if (old.bName) {
            var oldV = old.bNameV.split('.');
            if (oldV[0] == 'ie' && oldV[1] <= 8) {
                location.href = '/spa/browser.html'
            } else if (oldV[0] == 'ie' && oldV[1] <= 9) {
                var style = document.createElement('style');
                style.innerHTML = '.spinner .rect{display:none !important;} .spinner .gif{display:inline;width:60px;height:60px;}';
                document.getElementsByTagName('head')[0].appendChild(style);
                console.log('IE8');
            }
        }
    </script>

    <!-- Подключение партнеров -->
    {{> partners/data}}
    <script id="partners-css-inject" src="spa/js/partners/partners.js"></script>


    <!-- Подключение аналитики -->
    {{> partners/ga}}

    <!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq)return;
			n = f.fbq = function () {
				n.callMethod ?
						n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq)f._fbq = n;
			n.push = n;
			n.loaded = !0;
			n.version = '2.0';
			n.queue = [];
			t = b.createElement(e);
			t.async = !0;
			t.src = v;
			s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window,
				document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

		fbq('init', '968767913213519');
		fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
	               src="https://www.facebook.com/tr?id=968767913213519&ev=PageView&noscript=1"
	/></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body class="light-theme"
      ng-class="{'ios': iOS, 'not-ios': !iOS, 'body-bg':isBodyBg(), 'search-form-expanded': FormExpand, 'transfer-bg':isTransferBg()}"
      ng-click="bodyClick()"
      popup-form
      ng-style="BodyStyleGlobal">

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
	var _tmr = window._tmr || (window._tmr = []);
	_tmr.push({ id: "2748264", type: "pageView", start: (new Date()).getTime() });
	(function (d, w, id) {
		if (d.getElementById(id)) return;
		var ts = d.createElement("script");
		ts.type = "text/javascript";
		ts.async = true;
		ts.id = id;
		ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
		var f = function () {
			var s = d.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(ts, s);
		};
		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else {
			f();
		}
	})(document, window, "topmailru-code");
</script>
<noscript>
	<div style="position:absolute;left:-10000px;">
		<img src="//top-fwz1.mail.ru/counter?id=2748264;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru"/>
	</div>
</noscript>
<!-- //Rating@Mail.ru counter -->


<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=PvPIxJhbx0jliWeyg71SwsSslQfqkPggw*dTz6cPE/FrWUaUu8qKD79b/G2nXyAfrj4BiXPaH/EaCd9QA1Ly2y9tY1*r5ft4qpnkX/GLiLk7dbEZd2A8LtE0IZcMW6S*d0XUKpHmcZSJYyPcok7CPy15w3LZN9FfJ9WJgRVeu38-';</script>


<!-- Компонент рекламы -->
<div adv-component></div>

<div id="main-content-div" class="main scroll-fix">
    <!-- HEADER -->

    <div class="header Header" ng-controller="RegionHeader" ng-class="{'header_shadow' : shadow}">
        <ng:include src="headerTemplateSrc"></ng:include>
    </div>
    <!-- \\ HEADER -->


    <!-- PAGE CONTENT -->
    <div class="wrpr"
         ng-class="{'reserve':isActive('/avia/reservation/') || isActive('/packages/reservation/')  || isActive('/reservations/'),
         'b-main-page':isActive('/')}"
         ng-style="isFooterHiddenWrprStyle">
        <ng:view></ng:view>
    </div>

</div>

<!-- FOOTER -->
<div class="footer" ng-controller="RegionFooter" ng-show="isFooterVisible">
    <ng:include src="footerTemplateSrc"></ng:include>
</div>
<!-- \\ FOOTER -->

<ng:include src="'popup/mainform.html'"></ng:include>

<!-- Baloon -->
<div baloon is-show="baloon.isVisible" caption="baloon.caption" text="baloon.text" type="baloon.type"
     close-fn="baloon.closeFn" data="baloon.data"></div>
<!-- /Baloon -->

<script type="text/javascript">
    if (window.partners) {
        window.partners.afterBodyLoad();
    }
</script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL_wrALCtkwgVOrNOecRiB5a6XMEeXYi0&sensor=true"></script>
<!--<script type="text/javascript"-->
        <!--src="https://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.13/src/infobox_packed.js"></script>-->
<script type="text/javascript"
        src="/bower_components/google-maps-utility-library-v3-infobox/dist/infobox.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<!-- build:bower_components -->
<script src="/bower_components/bower-components.js"></script>
<!-- endbuild -->

<script>
    Raven.config('https://59926a30fbc14817a463747bd24cd7fa@app.getsentry.com/78136', {
        whitelistUrls: [/\.inna\.ru/],
        logger: 'javascript'
        /*, dataCallback: function(data) {
         console.info(data, "raven data");
         return data;
         }*/
    }).install();
</script>

<!--[if lt IE 10]>
<script src="/spa/lib/ie.placeholder.js"></script>
<![endif]-->


<!-- build:app-config-js -->
<script src="/build/js/config.js"></script>
<!-- endbuild -->


<!--файлы заменяются при билде на app-main.js-->
<!-- build:app-main-js -->

<script src="/build/js/app-lib.js"></script>
<script src="/build/js/angular-parts.js"></script>
<script src="/build/js/templates.js"></script>

<script src="/build/js/pages.js"></script>
<script src="/build/js/components.js"></script>
<script src="/build/js/regions.js"></script>

<!-- endbuild -->


<!-- Remarketing Google -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 960692718;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    //var google_conversion_format = 3;
    /* ]]> */
</script>
<div style="display: none;">
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
</div>

<noscript>
    <div style="display:inline;">
        <img class="google_conversion__hidden" height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/960692718/?value=0&guid=ON&script=0"/>
    </div>
</noscript>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
	if (window.partners && !window.partners.isWL()) {
		var ua = navigator.userAgent.toLowerCase();
		var platform = navigator.platform.toLowerCase();
		var platformName = ua.match(/ip(?:ad|od|hone)/) ? 'ios' : (ua.match(/(?:webos|android)/) || platform.match(/mac|win|linux/) || ['other'])[0];
		var isMobile = /ios|android|webos/.test(platformName);
		if (!isMobile) {
			window.$zopim || (function (d, s) {
				var z = $zopim = function (c) {
					z._.push(c)
				}, $ = z.s =
						d.createElement(s), e = d.getElementsByTagName(s)[0];
				z.set = function (o) {
					z.set._.push(o)
				};
				z._ = [];
				z.set._ = [];
				$.async = !0;
				$.setAttribute('charset', 'utf-8');
				$.src = '//v2.zopim.com/?2aZ00ADGa92tSwVaDs8vM1JiY6wPNdZN';
				z.t = +new Date;
				$.type = 'text/javascript';
				e.parentNode.insertBefore($, e)
				$.onload = function () {
					document.querySelector(".zopim").style.width = "145px"
				}
			})(document, 'script');
		}
	}
</script>
<!--End of Zopim Live Chat Script-->

{{#unless partner }}
    <!-- BEGIN CLICKTEX CODE
    {literal}
    -->
    <script type="text/javascript" charset="utf-8" async="async" src="//www.clicktex.ru/code/6491"></script>
    <!--
    {/literal}
    END CLICKTEX CODE -->
{{/unless}}


<div id="debug_api_host" style="position: absolute; top: 10px; left: 10px; font-size: 12px; color: #fff; z-index: 1000;"></div>
<script type="text/javascript">
    var debugApiHost = localStorage.getItem('debug_api_host');
    if (debugApiHost && debugApiHost.length > 0 && debugApiHost.indexOf('http') > -1) {
        document.getElementById('debug_api_host').innerText = 'api host: ' + debugApiHost;
    }
</script>

</body>
</html>
