<!-- Buy ticket -->
<form ng-submit="processToPayment($event)" method="post" class="results-body reserve-form">
<div class="main__center">

	<ng:include src="objectToReserveTemplate"></ng:include>

	<div class="buy__warning" ng-if="visaControl.visaNeeded || visaControl.visaRulesNeeded">
		<div ng-if="visaControl.visaNeeded">Требуется виза.</div>
		<div ng-if="visaControl.visaRulesNeeded">
			Обратите внимание на визовые правила
	        <span ng-if="visaControl.cautionCountries.length > 0"> в странах:
	            <span ng-repeat="c in visaControl.cautionCountries">{{c}}
	                <span ng-if="!($last)">,&nbsp;</span>
	            </span>
	        </span>.
		</div>
	</div>

	<p class="buy__price-descr buy__alert" ng-if="(hotel != null)">
		Внимание! К компонентам пакета применяются разные условия отмены
		бронирования.<br/>Пожалуйста, ознакомьтесь с <a href="" ng-click="tarifs.show($event)">правилами применения тарифа
		авиабилета</a> и <a href="" ng-click="hotelRules.show($event)">условиями бронирования отеля</a>
		и <a href="" ng-click="insuranceRules.show($event)">правилами медицинского страхования</a>.
		</p>
		<br/>

	<p class="buy__price-descr" ng-if="!(hotel != null)">
		Пожалуйста, ознакомьтесь с <a href="" ng-click="tarifs.show($event)">правилами
		применения тарифа авиабилета</a>.
		</p>
		<br/>
	<header class="buy__header">
		<h2 class="buy__title">Информация о покупателе</h2>
	</header>

	<div class="buy-passanger__block">
		<div class="b-field-group">
		<!--<div class="b-field-block b-field-block-auth" style="width: 388px;">-->
		<div class="b-field-block b-field-email">
			<label class="b-field-label">E-mail</label>
			<input autocomplete="off" validate-events-dir ng-model="validationModel.email.value"
			       ng-validation-model="validationModel.email" validate="validate(item, type)"
			       validate-type="validateType.email"
			       ng-class="{error:isFieldInvalid(validationModel.email)}"
			       data-title="Неправильно введен email" type="text"
			       placeholder="ivan.ivanov@gmail.com" class="b-field-text">
			<!--<div class="b-auth">
			   <a href="#" class="b-auth-close"></a>
			   <p class="b-auth-text">Мы определили, что вы уже зарегистрированы</p>
			   <a href="#" class="button b-auth-button">Войти</a>
		   </div>-->
		</div>
		<div class="b-field-block b-field-phone">
			<label class="b-field-label b-label-phone">Мобильный телефон</label>
            <div citizenship-select type="phonePrefix"
                 ng-validation-model="validationModel.phonePrefix"
                 value="validationModel.phonePrefix.value.id"
                 validate="validate(item, type)"
                 validate-type="validateType.phonePrefix"
                 list="phoneCodesList"
                 result-set="validationModel.phonePrefix.setValue(item)"
				 change-event="'CODE_CHANGED'"
                 class="b-phone-prefix-select"
            ></div>
            <input autocomplete="off"
				   depends-on="validationModel.phonePrefix"
                   validate-events-dir
                   ng-model="validationModel.phoneNum.value"
                   ng-validation-model="validationModel.phoneNum" validate="validate(item, type)"
                   validate-type="validateType.phoneNum"
                   ng-class="{error:isFieldInvalid(validationModel.phoneNum)}"
			       data-title="Неправильно введен мобильный телефон" name="phone" type="text"
				   masked-input
				   phone-input
				   mask="(999) 999-99-99"
                   placeholder="(999) 999-99-99"
				   change-event="'CODE_CHANGED'"
                   class="b-field-text b-phone-num">
		</div>
	</div>
		<!-- <div class="error-text">Поля отмеченные красным, незаполнены или заполнены с ошибкой</div> -->
		<label class="b-agreement"><input ng-model="validationModel.wannaNewsletter.value" type="checkbox">
			<ins class="b-checkbox"></ins>
			Я хочу получать рассылку спецпредложений</label>
	</div>

    <div class="buy__request-block" ng-if="isRequestEnabled">
        <div class="buy__request-block__text">Если по какой то причине Вы сейчас не готовы сделать бронирование или оплатить путешествие банковской картой,
			                                      или Вам нужна консультация нашего специалиста, просто сделайте заявку и наш менеджер свяжется с Вами.
			</div>
        <div class="buy__request-block__button">
            <button ng-click="sendRequest($event)" class="button b-sum-button">Отправить заявку</button>
        </div>
    </div>

	<header class="buy__header">
		<h2 class="buy__title">Пассажиры</h2>
	</header>

	<fieldset class="buy__blocks" ng-repeat="passenger in validationModel.passengers">
		<div class="b-field-group b-field-group-passport">
			<div class="b-field-block"
			     validate-events-dir ng-model="passenger.sex.value" ng-validation-model="passenger.sex"
			     validate-type="validateType.sex" validate="validate(item, type)" data-title="Укажите пол пассажира">

				<label class="b-field-label">Пол</label>
				<ul class="radio-list" ng-class="{error:passenger.sex.isInvalid && !validationModel.formPure }"
				    ng-init="setValid(passenger.sex, passenger.sex.value != null)">
					<li>
						<label>
							<input type="checkbox" name="male3" ng-model="passenger.sex.value"
							       ng-change="setValid(passenger.sex, passenger.sex.value != null)"
							       ng-checked="passenger.sex.value == sexType.man"
							       ng-true-value="{{sexType.man}}" ng-false-value="{{sexType.woman}}">
							<ins class="radio">М</ins>
						</label>
					</li>
					<li>
						<label>
							<input type="checkbox" name="male3" ng-model="passenger.sex.value"
							       ng-change="setValid(passenger.sex, passenger.sex.value != null)"
							       ng-checked="passenger.sex.value == sexType.woman"
							       ng-true-value="{{sexType.woman}}" ng-false-value="{{sexType.man}}">
							<ins class="radio">Ж</ins>
						</label>
					</li>
				</ul>
			</div>
			<div class="b-field-block b-field-second-name">
				<label class="b-field-label">Фамилия</label>
				<input autocomplete="off" upper-latin validate-events-dir ng-model="passenger.secondName.value"
				       ng-validation-model="passenger.secondName" validate="validate(item, type)"
				       data-title="Укажите фамилию пассажира"
				       validate-type="validateType.required"
				       ng-class="{error:isFieldInvalid(passenger.secondName)}"
				       type="text" placeholder="IVANOV" class="b-field-text">
			</div>
			<div class="b-field-block b-field-block-surname">
				<label class="b-field-label">Имя</label>
				<input autocomplete="off" upper-latin validate-events-dir ng-model="passenger.name.value"
				       data-title="Укажите имя пассажира"
				       ng-validation-model="passenger.name" validate="validate(item, type)"
				       validate-type="validateType.required"
				       ng-class="{error:isFieldInvalid(passenger.name)}"
				       type="text" placeholder="IVAN" class="b-field-text">
			</div>
			<div class="b-field-block b-field-birth">
				<label class="b-field-label">Дата рождения</label>

				<input autocomplete="off"
				       validate-events-dir
				       ng-model="passenger.birthday.value"
				       ng-validation-model="passenger.birthday"
				       validate="validate(item, type, $index)"
				       validate-type="validateType.birthdate"
				       ng-class="{error:isFieldInvalid(passenger.birthday)}"
				       ng-attr-data-title="{{birthTitle | breakFilter }}"
				       masked-input
				       mask="99.99.9999"
				       type="text"
				       placeholder="дд.мм.гггг"
				       class="b-field-text">
			</div>
			<div class="b-field-block b-field-sitizenship">
				<label class="b-field-label">Гражданство</label>

                <div citizenship-select
					    ng-validation-model="passenger.citizenship"
                        value="passenger.citizenship.value.id"
                        validate="validate(item, type)"
                        validate-type="validateType.cit_required"
                        list="citizenshipList" result-set="passenger.citizenship.setValue(item)"
                     ></div>
			</div>
			<div class="b-field-block b-field-document">
				<label class="b-field-label b-field-label-docs">Документ</label>
				<div citizenship-select
					 ng-validation-model="passenger.doc_type"
					 value="passenger.doc_type.value.id"
					 validate="validate(item, type)"
					 validate-type="validateType.doc_type"
					 result-set="passenger.doc_type.setValue(item)"
					 type="docType"
					 change-event="'DOC_CHANGED_'+$index"
					 list="passenger.documentTypeList">
				</div>
			</div>
			<div class="b-field-block b-field-doc-num">
				<label class="b-field-label b-field-label-docs">Серия и номер</label>
				<input autocomplete="off" validate-events-dir ng-model="passenger.doc_series_and_number.value"
				       depends-on="passenger.citizenship"
					   depends-on2="passenger.doc_type"
				       ng-validation-model="passenger.doc_series_and_number" validate="validate(item, type)"
				       validate-type="validateType.document"
                       key-press-on-document="passenger"
                       key-press-hide-field="doc_expirationDate"
                       key-press-hide-field-name="needToHide"
				       ng-class="{error:isFieldInvalid(passenger.doc_series_and_number)}"
				       data-title="Неправильный номер документа"
					   masked-input mask="9999 999999" placeholder="1234 123456"
					   change-event="'DOC_CHANGED_'+$index"
				       type="text" class="b-field-text">
			</div>
			<!--ng-hide="passenger.doc_expirationDate.dependsOnField.isRuPassportOrBirthAndInsideRF"-->
			<div ng-hide="passenger.doc_expirationDate.needToHide" class="b-field-block b-field-expires">
				<label class="b-field-label b-field-label-docs">Действителен до</label>
				<input validate-events-dir ng-model="passenger.doc_expirationDate.value"
				       depends-on="passenger.doc_series_and_number"
				       ng-validation-model="passenger.doc_expirationDate" validate="validate(item, type)"
				       validate-type="validateType.expire"
				       ng-class="{error:isFieldInvalid(passenger.doc_expirationDate)}"
                       ng-attr-data-title="{{passenger.doc_expirationDate.validationErrTitle }}"
				       masked-input mask="99.99.9999" type="text" placeholder="дд.мм.гггг" class="b-field-text">
			</div>
		</div>
		<div class="b-field-group b-field-group-passport">
		<div class="b-field-group b-field-group-passport">
			<div class="b-field-block b-field-bonus-card">
				<label class="b-agreement"><input type="checkbox"
				                                  ng-model="passenger.bonuscard.value.haveBonusCard">
					<ins class="b-checkbox"></ins>
					Есть бонусная карта авиакомпании</label>
			</div>
			<div class="b-field-block b-field-bonus-aircompany"
			     ng-show="passenger.bonuscard.value.haveBonusCard == true">
				<label class="b-field-label">Авиакомпания</label>

				<div class="cit">
					<input autocomplete="off" ng-click="passenger.showCardListClick($event)" type="text"
					       value="{{passenger.bonuscard.value.airCompany.name}}"
					       class="b-field-text b-field-select" placeholder="Выберите">

					<div partial-select list="bonusCardTransportersList"
					     result="passenger.bonuscard.value.airCompany" is-open="passenger.dir.card.isOpen">
					</div>
				</div>
			</div>
			<div class="b-field-block b-field-bonus-card-num"
			     ng-show="passenger.bonuscard.value.haveBonusCard == true">
				<label class="b-field-label">Номер карты</label>
				<input autocomplete="off" digits-input type="text" maxlength="16"
				       ng-model="passenger.bonuscard.value.number" class="b-field-text"
				       placeholder="ХХХХХХХХХХХ">
			</div>
		</div>
	</div>
	</fieldset>

	<ng:any ng-if="addition != null">
		<header class="buy__header">
			<h2 class="buy__title">Пожелание к номеру</h2>
		</header>
		<div class="buy__comments-container">
			<textarea cols="30" rows="10" class="buy__comments-field" ng-model="addition.customerWishlist">{{addition.customerWishlist
				| breakFilter}}</textarea>

			<p class="buy__comments-help">Ваши пожелания мы передадим в отель, но не можем гарантировать их
				                              исполнение. Пожалуйста, пишите ваши пожелания на английском языке.
				</p>
		</div>
		<header class="buy__header">
			<h2 class="buy__title">Дополнительные услуги</h2>
		</header>
		<div class="buy__more-container">
			<div class="buy__more-help">Данные услуги не включены в стоимость заказа, после оплаты заказа наш
				менеджер свяжется c Вами и предложит разные варианты.
			</div>
			<ul class="buy__more-options">
				<li><label class="b-agreement"><input type="checkbox" ng-model="addition.isNeededVisa">
					<ins class="b-checkbox"></ins>
					Виза</label></li>
				<!--<li><label class="b-agreement"><input type="checkbox" ng-model="addition.isNeededMedicalInsurance">-->
					<!--<ins class="b-checkbox"></ins>-->
					<!--Страховки</label></li>-->
				<li><label class="b-agreement"><input type="checkbox" ng-model="addition.isNeededTransfer">
					<ins class="b-checkbox"></ins>
					Трансфер</label></li>
			</ul>
		</div>
	</ng:any>
</div>


<div class="b-sum-container">


		<div class="b-agreement-cc">
		<label class="b-agreement">
			<input type="checkbox" ng-model="agree"/>
			<ins class="b-checkbox" id="agree">
				<div class="ui-tooltip" ng-show="agreeError">
					<div class="ui-tooltip-content ng-binding"> Нужно согласиться с условиями</div>
				</div>
			</ins>
			Я принимаю условия <a ng-href="{{oferta.url()}}" target="_blank">договора-оферты</a><span ng-if="!reservationModel.IsService">,
            <a href="http://www.iatatravelcentre.com/e-ticket-notice/Russian_Federation/Russian/"
               target="_blank">договора IATA</a>,
            <a ng-href="{{TKP.url()}}" target="_blank">ТКП</a>,
            <a ng-href="#" ng-click="tarifs.show($event)">тарифов</a></span>, и не возражаю против обработки моих
			персональных данных и передачи их третьим лицам (авиаперевозчику и пр.).
		</label>
		</div>


	<!--<a ng-href="#" ng-click="fillDefaultModel($event)" style="position: absolute; right: 0px;">Заполнить тестовыми данными</a>-->
		
	<span class="b-sum" style="">Сумма к оплате:&nbsp;</span>
	        <span class="b-tickets-sum">
	            <b>
		            <span>{{price| price}}</span>
		            <ng-include src="'components/ruble.html'"/>
	            </b>
	        </span>

	<button type="submit"
	        class="button b-sum-button"
	        ng-if="!user.isAgency()"
		        tabindex="3">Перейти к оплате
		</button>

	<button type="submit"
	        class="button b-sum-button"
	        ng-if="user.isAgency()"
		        tabindex="3">Забронировать
		</button>
</div>
</form>

<!-- Buy ticket -->
<ng:include src="'avia/baloon_info.html'"></ng:include>

<!-- Baloon -->
<div class="overlay js-overlay" ng-if="tarifs.isOpened">
	<div class="scroll-fix" ng-style="tarifs.style">
		<div class="balloon balloon_medium js-tarifs">
			<div title="Закрыть" class="balloon-close" ng-click="tarifs.close($event)">
				<i class="icon-sprite-remove-big"></i>
			</div>
			<div class="b__rules-container">
				<div class="b__rules_attention">
					<h3>Обратите внимание!</h3>

					<p>При не использовании одного из сегментов маршрута, последующие сегменты могут быть автоматически
					   аннулированы авиакомпанией.
					</p>

					<p>Если по перелёту используется несколько разных правил/тарифов, то при обмене/возврате применяются
						более строгие правила. При обмене/возврате к возможным штрафным санкциям авиакомпании по
						правилам
					   тарифа, дополнительно взымается сервисный сбор за услугу оформления обмена/возврата билета.
					</p>
					<ul class="b__rules-flies">
						<li ng-class="{current:item === tarifs.setected}" ng-repeat="item in tarifs.list"><a ng-href="#"
						                                                                                     ng-click="tarifs.tarifClick($event, item)"><span><b>{{item.from}}
						                                                                                                                                         → {{item.to}},</b> {{item.num}}, {{tarifs.class}} ({{item.nameFirstLetter}})</span></a>
						</li>
					</ul>
				</div>
				<div class="b__rules-grey">
					<h3>{{tarifs.setected.from}} → {{tarifs.setected.to}}</h3>
					<h4>Полные правила применения тарифа</h4>
					<!--<p>Пожалуйста, ознакомьтесь детальнее с условиями <a href="#">обмена/возврата</a>.</p>-->
					<p ng-bind-html="tarifs.tarifItem.Text | breakFilter"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Baloon -->

<!-- Baloon cancel hotel -->
<div class="overlay js-overlay" ng-if="hotelRules.isOpened">
	<div class="scroll-fix" ng-style="hotelRules.style">
		<div class="balloon balloon_ticket">
			<div title="Закрыть" class="balloon-close" ng-click="hotelRules.close($event)">
				<i class="icon-sprite-remove-big"></i>
			</div>
			<h3 class="balloon__title">Условия и правила по отелю</h3>

			<div class="balloon__text-block">
				<h4 class="balloon__title-sec">Условия заселения</h4>
				<ul class="balloon__list">
					<li>Заезд: до {{hotelRules.checkIn}}</li>
					<li>Выезд: до {{hotelRules.checkOut}}</li>
				</ul>
			</div>
			<div class="balloon__text-block"
			     ng-if="hotelRules.cancellationRules != null && hotelRules.cancellationRules.length > 0">
				<h4 class="balloon__title-sec">Правила отмены</h4>
				<!--<ul class="balloon__list">
					<li>В случае отмены или изменения бронирования в срок до 1 суток до даты заезда
		штраф не взимается.</li>
					<li>В случае отмены или изменения бронирования позднее этого срока или в случае
		незаезда взимается 100 процентов от стоимости первой ночи проживания.</li>
				</ul>-->
				<p ng-bind-html="hotelRules.cancellationRules | breakFilter"></p>
			</div>
			<div class="balloon__text-block" ng-if="hotelRules.extra.List.length > 0">
				<h4 class="balloon__title-sec">Дополнительно</h4>
				<ul class="balloon__list">
					<li ng-repeat="item in hotelRules.extra.List">{{item}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /Baloon -->

<!-- Baloon insurance -->
<div class="overlay js-overlay" ng-if="insuranceRules.isOpened">
	<div class="scroll-fix" ng-style="hotelRules.style">
		<div class="balloon balloon_long">
			<div title="Закрыть" class="balloon-close" ng-click="insuranceRules.close($event)">
				<i class="icon-sprite-remove-big"></i>
			</div>
			<h3 class="balloon__title">Правила медицинского страхования</h3>

			<div class="balloon__frame-block">
				<iframe class="balloon__frame" ng-style="insuranceRules.style" src="/spa/insurance.html"></iframe>
			</div>
		</div>
	</div>
</div>
<!-- /Baloon -->