<!--<div class="row show-grid">
    <div class="col-xs-4">
        <div class="site-row-h-full site-cell"
             style="background-image: url('{{block.Offer1.Image}}')">
            <div class="site-cell-item-left">
                <div class="site-cell-item site-cell-tourtype">
                    {{block.Offer1.Description}}
                </div>
                <div class="site-cell-item site-cell-tourname">
                    {{block.Offer1.Name}}
                </div>
                <div class="site-cell-item site-cell-tourprice">
                    {{block.Offer1.Price}}р
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="site-row-h-full site-cell"
             style="background-image: url('{{block.Offer2.Image}}'); ">
            <div class="site-cell-item-left">
                <div class="site-cell-item site-cell-tourtype">
                    {{block.Offer2.Description}}
                </div>
                <div class="site-cell-item site-cell-tourname">
                    {{block.Offer2.Name}}
                </div>
                <div class="site-cell-item site-cell-tourprice">
                    {{block.Offer2.Price}}р
                </div>
            </div>
        </div>
    </div>
</div>-->

<!--Пока не используется-->