<!--<div class="offers-column">-->
    <!--<div class="offer-small"-->
         <!--ng-class="{'offer-animation':!showImgOnly(block.Offer1)}"-->
         <!--ng-click="offerClick(block.Offer1, $event, $index, block, section)">-->
        <!--<ng:include src="'grid/_item_inner.html'" ng-repeat="item in [block.Offer1] track by $index"></ng:include>-->
    <!--</div>-->
    <!--<div class="offer-small"-->
         <!--ng-class="{'offer-animation':!showImgOnly(block.Offer2)}"-->
         <!--ng-click="offerClick(block.Offer2, $event, $index,block, section)">-->
        <!--<ng:include src="'grid/_item_inner.html'" ng-repeat="item in [block.Offer2] track by $index"></ng:include>-->
    <!--</div>-->
<!--</div>&nbsp;-->
<!--<div class="offer-large"-->
     <!--ng-class="{'offer-animation':!showImgOnly(block.Offer3)}"-->
     <!--ng-click="offerClick(block.Offer3, $event, $index, block, section)">-->
    <!--<ng:include src="'grid/_item_inner.html'" ng-repeat="item in [block.Offer3] track by $index"></ng:include>-->
<!--</div>-->