.b-list-panel {
  position : relative;

  &__wait {
    &:after {
      content : '';
      position : absolute;
      top: 0;
      bottom : 0;
      right : 0;
      left :0;
      background : #fff;
      opacity : 0.5
      z-index : 100;
    }
  }
}

.b-results-list_dp {
  width : auto;
  position : relative;
  padding-right : 25%;
}