$b-offer-offset = 1.5px;
offerSize(width, height){
    width: width;
    padding-top: height;
}
/////////
/////////
///////// offers container
/////////
/////////
.b-offers-container{
}
.b-offers{
    max-width: $site-width;
    margin: 0 auto 40px;
}
/////////
/////////
///////// offers categories
/////////
/////////
.b-offers-categories-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.70) 98%);
}
.b-offers-categories{
    max-width: $site-width;
    margin: 0 auto;
    padding: 4px 0;
}
.b-offers-category__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -4px;
}
.b-offers-category{
    flex: 2;
    margin: 5px 4px;
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .4), 0 1px 0 0 rgba(255, 255, 255, .4);
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    border-radius: 2px;

    &:hover,
    &.active{
        background-color: rgba(255, 255, 255, 0.35);
        color: #77b237;
    }
}
/////////
/////////
///////// offer filters
/////////
/////////
.b-offers-filters-container{
    margin: 0 0 5px;

    background-image: linear-gradient(-180deg, #1b1b1b 0%, #2b2b2b 100%);
}
.b-offers-filters{
    max-width: $site-width;
    margin: 0 auto;
    padding: 10px 0;

    display: flex;
    justify-content: space-between;
}
.b-offers-filter{
    z-index: 2000;
    width: 22.7%;

    &.selectize-control{
        .selectize-input{
            padding: 9px 10px;
            border-radius: 0;
            background-color: $white;
            background-image: none;
            border: none;
        }
        .selectize-dropdown{
            margin-top: 2px;
            border-radius: 0;
            border: none;

            .option{
                position: relative;
                padding: 7px 8px 7px 28px;
                color: #000;
            }
            .ui-select-choices-row.active{
                .option{
                    background-color: #e4e6e8;
                    color: #000;

                    &:before{
                        content: "\f00c";
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        font: normal normal normal 10px / 1 FontAwesome;
                        text-rendering: auto;
                        font-smoothing: grayscale;
                        color: $green;
                    }
                }
            }
        }
    }
}
.b-offers-filter__sort{
    width: 31%;
}
/////////
/////////
///////// offer row
/////////
/////////
$b-offer-row-size = 44%;
$b-offer-row-size-2 = 33.5%;
.b-offers__row{
    position: relative;
    width: 100%;
    margin: 0 -$b-offer-offset;
    font-size: 0;
}
.b-offers__row{
    &:nth-child(3n + 1){
        padding: 0 0 $b-offer-row-size;
        .b-offer{
            &:nth-child(1){
                right: auto;
                left: 0;
                top: 0;
                bottom: auto;
                offerSize(66%, $b-offer-row-size);
            }
            &:nth-child(2){
                right: 0;
                left: auto;
                top: 0;
                bottom: auto;
                offerSize(34%, ($b-offer-row-size / 2));
            }
            &:nth-child(3){
                right: 0;
                left: auto;
                top: auto;
                bottom: 0;
                offerSize(34%, ($b-offer-row-size / 2));
            }
        }
    }
    &:nth-child(3n + 2){
        padding: 0 0 $b-offer-row-size;
        .b-offer{
            &:nth-child(1){
                left: auto;
                right: 0;
                top: 0;
                offerSize(66%, $b-offer-row-size);
            }
            &:nth-child(2){
                right: auto;
                left: 0;
                top: 0;
                offerSize(34%, ($b-offer-row-size / 2));
            }
            &:nth-child(3){
                right: auto;
                left: 0;
                bottom: 0;
                offerSize(34%, ($b-offer-row-size / 2));
            }
        }
    }
    &:nth-child(3n + 3){
        padding: 0 0 ($b-offer-row-size + $b-offer-row-size-2);

        .b-offer{
            &:nth-child(1){
                left: auto;
                right: 0;
                top: 0;
                offerSize(100%, $b-offer-row-size);
            }
            &:nth-child(2){
                right: auto;
                left: 0;
                top: auto;
                bottom: 0;
                offerSize(50%, $b-offer-row-size-2);
            }
            &:nth-child(3){
                right: 0;
                left: auto;
                top: auto;
                bottom: 0;
                offerSize(50%, $b-offer-row-size-2);
            }
        }
    }
    &.b-offers__row-1{
        .b-offer{
            &:nth-child(1){
                right: auto;
                left: 0;
                top: 0;
                bottom: auto;
                offerSize(100%, $b-offer-row-size);
            }
        }
    }
    &.b-offers__row-2{
        .b-offer{
            &:nth-child(1){
                right: auto;
                left: 0;
                top: 0;
                bottom: auto;
                offerSize(50%, $b-offer-row-size-2);
            }
            &:nth-child(2){
                right: 0;
                left: auto;
                top: 0;
                bottom: auto;
                offerSize(50%, $b-offer-row-size-2);
            }
        }
    }
}
/////////
/////////
///////// offer
/////////
/////////
.b-offer{
    position: absolute;
    height: 0;
    box-sizing: border-box;
    vertical-align: top;

    font-size: 1rem;
    color: $white;
}
.b-offer__bg{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    vertical-align: top;
    transform: translateZ(0) scale(1.05);
    transition: all 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
    background-position: center center;
    background-size: cover;
}
.b-offer__container{
    position: absolute;
    left: $b-offer-offset;
    right: $b-offer-offset;
    top: $b-offer-offset;
    bottom: $b-offer-offset;
    overflow: hidden;

    &:hover{
        .b-offer__bg{
            transform: translateZ(0) scale(1.15);
        }
    }
}
.b-offer__container-txt{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: 15px;
    background-color: rgba(0, 0, 0, .3);
}
.b-offer__container-link{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}
.b-offer__title{
    position: absolute;
    top: 15px;
    font-weight: normal;
}
.b-offer__title-sub{
    font-size: 15px;
    color: #d6d6d6;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30);
}
.b-offer__title-main{
    font-size: 29px;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30);
}
.b-offer__title-info{
    font-size: 14px;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30);
}
.b-offer__price{
    position: absolute;
    bottom: 15px;
}
.b-offer__price-txt{
    font-size: 14px;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30);
}
.b-offer__price-value{
    font-size: 29px;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30);
}
.b-offer__price-currency{
    font-size: 25px;
}
