.b-offers-container{
    max-width: $site-width;
    margin: 50px auto;
}
.b-offers{

}
.b-offer{
    position: relative;
    background-position: center;
    color: $white;
}
.b-offer__container{
    padding: 20px;
    background-color: rgba(0, 0, 0, .3);
}
.b-offer__title{

}
.b-offer__title-sub{

}
.b-offer__title-main{

}
.b-offer__title-info{

}
.b-offer__price{

}
.b-offer__price-txt{

}
.b-offer__price-value{

}
