<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Инна-Тур - Авиа</title>
	<link rel="stylesheet" href="/spa/lib/jquery-ui/jquery-ui.1.11.2.min.css"/>

    <!-- build:app-stylus -->
    <link rel="stylesheet" href="/build/css/common.min.css"/>
    <!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://yandex.st/jquery/1.11.0/jquery.min.js"></script>
	<script src="/spa/lib/jquery-ui/jquery-ui.1.11.2.min.js"></script>
    <script src="../lib/jquery.ui.datepicker-ru.js"></script>
    <!--[if lt IE 10]>
    <script src="spa/lib/ie.placeholder.js"></script>
    <![endif]-->
    <script src="../html/js/search_form.js"></script>
    <script src="../html/js/results.js"></script>
    <script src="../html/js/aside.js"></script>
</head>

<body class="body-bg">
<div class="main">
<div class="header Header">
    <div class="header-info">
        <div class="header-info-container row">
            <div class="col-xs-6 col-no-padding">
                <a href="/" class="header-info-logo"><i class="icon icon-logo" alt="ИННА ТУР"
                                                        title="ИННА ТУР"></i><i
                        class="icon icon-logo-inna name" alt="ИННА ТУР" title="ИННА ТУР"></i></a>
                <span class="header-text"></span>
            </div>
            <div class="col-xs-6 header-info-container-right col-no-padding">
                <ul class="header-info-menu" style="margin-right:0px;">
                    <li class="header-info-menu-item"><a href="http://www.inna.ru/agency/">Агентам</a></li>
                    <!--
                                            -->
                    <li class="header-info-menu-item"><a href="/#/about/">О компании</a></li>
                    <!--
                                            -->
                    <li class="header-info-menu-item">+7&nbsp;495 742-1212</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="main__center">
        <div class="header__container">
            <ul class="header__nav">
                <li><a href="/#/">Перелет&nbsp;+&nbsp;Отель</a></li>
                <li><a href="/#/avia/">Авиабилеты</a></li>
                <li><a href="">Туры</a></li>
                <li><a href="/#/individualtours/">Программы</a></li>
                <li><a href="/#/individualtours/">Отели</a></li>
                <li><a href="/catalog/guide/" ng-class="{active:isActive('/guide/')}">Каталог стран</a></li>
            </ul>
            <div class="header__user">
                <ul class="header__user-nav">
                    <li><a href="#" class="header__user-nav-name">Денис Колесов</a></li>
                    <li>
                        <a href="#">
                            <i class="icon-sprite-letter"></i>
                            <span class="header__user-nav-counter">8</span>
                        </a>
                    </li>
                    <li><a href="#">Выйти</a></li>
                </ul>
                <div class="header__user-company">ООО "Курочки гриль"</div>
            </div>
        </div>

        <div class="header__container">
            <ul class="header__nav-sec">
                <li><a href="#" class="current">Заявки</a></li>
                <li><a href="#">Сообщения</a></li>
                <li><a href="#">Отчеты</a></li>
                <li><a href="#">Финансы</a></li>
                <li><a href="#">Настройки</a></li>
            </ul>
            <div class="header__price">Доступно: <span class="header__sum">167 780</span> <span class="rub">Р</span></div>
        </div>
            </div>
    </div>
</div>


<div class="wrpr">

<form action="" class="results-body">
<div class="main__center">
<!-- Request -->
<div class="r__header">
    <a href="#" class="r__back">К списку заявок</a>

    <div class="r__time">До истечения брони: <br>13 ч. 50 м.</div>
    <div class="r__number">Заявка <b>FH34796</b> на продажу забронирована <br>до 13 янв 2014 12:00 по МСК</div>
</div>
<div class="r__info">
    <div class="r__info-table">
        <div class="r__info-tr">
            <span class="r__info-th">Сумма заявки ИТОГО:</span>
            <span class="r__info-td">125 533,34</span>
        </div>
        <div class="r__info-tr">
            <span class="r__info-th">Сумма заявки NET:</span>
            <span class="r__info-td">100 535,34</span>
        </div>
        <div class="r__info-tr">
            <span class="r__info-th">Комиссия агента:</span>
            <span class="r__info-td">150</span>
        </div>
        <div class="r__info-tr">
            <span class="r__info-th">Сбор агента:</span>
            <span class="r__info-td">125</span>
        </div>
        <div class="r__info-tr">
            <span class="r__info-th">Доход агента:</span>
            <span class="r__info-td">300</span>
        </div>
        <a href="#" class="button button_small">Выписать</a>
        <a href="#" class="button button_small">Анулировать</a>
    </div>
    <div class="r__info-main">
        Создана: 11 янв 2014, 13:30 <br>
        Оператор: Колесов Д.В. <br>
        Торговая точка: Филиал на Остоженке
    </div>
    <div class="r__info-contacts">
        <span class="r__info-contacts-client">Клиент:</span> Николай Петров <br>
        +7 (903) 111–34–32 <br>
        <a href="#">petrov@mail.ru</a>
    </div>
</div>
<div class="r__numbers-container">
    <div class="r__numbers-block">
        <div class="r__numbers-label">Возврат билетов:</div>
        <div class="r__numbers-wrap">
            <div class="r__numbers">
                <a href="#">4378643948</a>
            </div>
            <div class="r__numbers">
                <a href="#">4378643948</a>
            </div>
        </div>
    </div>
    <div class="r__numbers-block">
        <div class="r__numbers-label">Возврат отеля:</div>
        <div class="r__numbers-wrap">
            <div class="r__numbers">
                <a href="#">4378643948</a>
            </div>
        </div>
    </div>
</div>
<div class="r__numbers-container">
    <div class="r__numbers-block">
        <div class="r__numbers-label">Возврат билетов:</div>
        <div class="r__numbers-wrap">
            <div class="r__numbers">
                <a href="#">4378643948</a>
            </div>
        </div>
    </div>
</div>
<div class="r__numbers-container">
    <div class="r__numbers-block">
        <div class="r__numbers-label">Возврат билетов:</div>
        <div class="r__numbers-wrap">
            <div class="r__numbers">
                <div class="r__numbers-inner">
                    <span>старый</span>
                    <a href="#">4378643948</a>
                </div>
                <img src="../img/arrow2.png" class="r__numbers-arrow" alt="">

                <div class="r__numbers-inner">
                    <span>старый</span>
                    <a href="#">4378643948</a>
                </div>
            </div>
            <div class="r__numbers">
                <div class="r__numbers-inner">
                    <span>старый</span>
                    <a href="#">4378643948</a>
                </div>
                <img src="../img/arrow2.png" class="r__numbers-arrow" alt="">

                <div class="r__numbers-inner">
                    <span>старый</span>
                    <a href="#">4378643948</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="r__numbers-container">
    <div class="r__numbers-block">
        <span class="r__numbers-label">Сумма к списанию</span>
        <div class="r__numbers-wrap">
            <span class="r__numbers-amount">125 000,00 Р</span>
        </div>
    </div>
    <div class="r__numbers-block">
        <span class="r__numbers-label">Способ оплаты</span>
        <div class="r__numbers-wrap">
            <a href="#" class="button button_small">Депозит</a>
            <a href="#" class="button button_small">Карта</a>
            <a href="#" class="button button_small">Tour Pay</a>
        </div>
    </div>
    <div class="r__numbers-block r__numbers-block__right">
        <span class="r__numbers-label">&nbsp;</span>
        <div class="r__numbers-wrap">
            <a href="#" class="button button_small button__red">Аннулировать</a>
        </div>
    </div>
</div>

<div class="r__time-help">Все времена прилета и вылета указаны по местному времени</div>
<div class="results-list_960 r__buy">

    <div class="b-result b-result-content b-result_col_two b-result_big row buy__fly">

        <div class="b-result__cell result-cell">
            <img class="logo" alt="" src="../img/expedia.png">
            <!--
                        <div class="b-ticket_2ways buy__tickets">
                            <div class="rlf-fly">
                                <span class="rlf-city">Санкт-Петербург</span> LED
                                <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
                                <span class="rlf-city">Санта-Круз-де</span> TFS
                                <div class="rlf-full-travel-time">2 пересадки, 23 ч 10 мин в пути</div>
                            </div>
                            <div class="rlf-fly rlf-fly_back">
                                <span class="rlf-city">Санкт-Петербург</span> LED
                                <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
                                <span class="rlf-city">Санта-Круз-де</span> TFS
                                <div class="rlf-full-travel-time">2 пересадки, 23 ч 10 мин в пути</div>
                            </div>
                        </div> -->

            <div class="b-ticket_2ways buy__tickets">
                <div class="rlf-fly">
                    <div class="row-fluid">
                        <div class="col-xs-5 col-no-padding row-fluid__cell">
                            <div class="rlf__flight-block">
                                <b>20:00</b> 26 сен, сб<br>
                                <b>Санкт-Петербург</b> LED
                            </div>
                        </div>
                        <div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle">
                            <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
                        </div>
                        <div class="col-xs-5 col-no-padding row-fluid__cell">
                            <div class="rlf__flight-block">
                                <b>19:50</b> 27 сен, сб<br>
                                <b>Санта-Круз-де Тенерифе</b> TFS
                            </div>
                        </div>
                    </div>




                    <div class="rlf-full-travel-time">в пути: 23 часа 10 минут, 2 пересадки</div>
                </div>

                <div class="rlf-fly rlf-fly_back">

                    <div class="row-fluid">
                        <div class="col-xs-5 col-no-padding row-fluid__cell">
                            <div class="rlf__flight-block">
                                <b>20:00</b> 26 сен, сб<br>
                                <b>Санкт-Петербург</b> LED
                            </div>
                        </div>
                        <div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle">
                            <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
                        </div>
                        <div class="col-xs-5 col-no-padding row-fluid__cell">

                            <div class="rlf__flight-block">
                                <b>19:50</b> 27 сен, сб<br>
                                <b>Санта-Круз-де ТенерифеСанта-</b> TFS
                            </div>
                        </div>
                    </div>

                    <div class="rlf-full-travel-time">в пути: 23 часа 10 минут, 2 пересадки</div>
                </div>
            </div>

            <span class="icon icon-plane-grey"></span>

            <div class="bottom-actions">
                <a class="pull-left" href="">Заменить</a>
                <a class="pull-right" href="">Подробнее</a>
            </div>

            <div class="b-result-cell__gap">
                <div class="b-result-cell__gap_wrap"></div>
            </div>
        </div>

        <div class="b-result__cell result-cell">
            <img class="logo" alt="" src="../img/expedia.png">

            <div class="hotel-info">
                <div class="hotel-info__wrapper">
                    <img alt="" src="../img/hotel.png"><!--
                                -->
                    <div class="hotel-info-content">
                        <div class="star-container">
                            <span class="icon icon-star"></span>
                            <span class="icon icon-star"></span>
                            <span class="icon icon-star"></span>
                            <span class="icon icon-star"></span>
                        </div>
                        <h3 class="hotel-info-name">Mercure Luna Sharm El Sheikh vherhgek</h3>

                        <div class="hotel-info-date">с 7 фев по 16 фев, 8 ночей</div>
                    </div>
                </div>
                <h3 class="hotel-info-name">Улучшенный двухместный номер</h3>

                <div class="hotel-info-date r__hotel-info">Одна большая двуспальная кровать</div>
            </div>

            <div class="bottom-actions">
                <a class="active pull-left" href="">Заменить</a>
                <a class="pull-right" href="">Подробнее</a>
            </div>
        </div>
    </div>
</div>
<div class="r__booking">
    <div class="r__booking-block">
        <a class="r__booking-link" href="">Условия тарифов</a>
        Бронь <b>GHFDRT</b>
    </div>
    <div class="r__booking-block">
        <a class="r__booking-link" href="">Условия и правила по отелю</a>
        Бронь <b>THRTHER</b>
    </div>
    <div class="r__booking-actions">
        <a href="#" class="button button_small">Оплатить картой</a>
        <a href="#" class="button button_small">Оплатить в Tour Pay</a>
    </div>
</div>
<div class="r__time-help">Все времена прилета и вылета указаны по местному времени</div>


<!-- buy -->
<div class="r__buy">
    <div class="buy__fly">
        <header class="rl-item-header">
            <span class="rl-airline"><img src="../uploads/logo2.png" alt=""><span
                    class="rl-airline-text">Aeroflot</span></span>
        </header>


        <div class="b-ticket_2ways" ng-show="item != null">
            <div class="rlf-fly">
                <div class="row-fluid">
                    <div class="col-xs-5 col-no-padding row-fluid__cell">
                        <div class="rlf__flight-block ng-binding"><b class="ng-binding">12:40</b> 17 июн, вт<br> <b
                                class="ng-binding">Шереметьево</b> SVO
                        </div>
                    </div>
                    <div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle"><span
                            class="rlf-fly-arrow rlf-fly-arrow_popup"></span></div>
                    <div class="col-xs-5 col-no-padding row-fluid__cell">
                        <div class="rlf__flight-block ng-binding"><b class="ng-binding">19:25</b> 17 июн, вт<br> <b
                                class="ng-binding">Пальма-де-Майорка</b> PMI
                        </div>
                    </div>
                </div>
                <div class="rlf-full-travel-time-info ng-binding">
                    в пути: 8 ч 45 мин,
                    <span ng-if="item.ToTransferCount >0" class="ng-scope ng-binding">1 пересадка</span>
                </div>
            </div>
            <!-- ngIf: item.EtapsBack.length > 0 -->
            <div class="rlf-fly rlf-fly_back ng-scope" ng-if="item.EtapsBack.length > 0">
                <div class="row-fluid">
                    <div class="col-xs-5 col-no-padding row-fluid__cell">
                        <div class="rlf__flight-block ng-binding"><b class="ng-binding">08:25</b> 30 июн, пн<br> <b
                                class="ng-binding">Пальма-де-Майорка</b> PMI
                        </div>
                    </div>
                    <div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle"><span
                            class="rlf-fly-arrow rlf-fly-arrow_popup"></span></div>
                    <div class="col-xs-5 col-no-padding row-fluid__cell">
                        <div class="rlf__flight-block ng-binding"><b class="ng-binding">18:15</b> 30 июн, пн<br> <b
                                class="ng-binding">Шереметьево</b> SVO
                        </div>
                    </div>
                </div>
                <div class="rlf-full-travel-time-info ng-binding">в пути: 7 ч 50 мин,<span
                        ng-if="item.BackTransferCount >0" class="ng-scope ng-binding">1 пересадка</span></div>
            </div>
        </div>

        <footer class="rl-footer">
            <span class="rl-tickets-number">Последние 3 места, чартер</span>
            <a href="#" class="rl-more-info">Подробнее</a>
        </footer>
    </div>
    <div class="buy__warning">
        При необходимости наличия визы для осуществления перелёта, не забудьте внести информацию о визе на странице
        оформленного заказа для каждого пассажира по крайней мере за 24 часа до первого вылета. Это требование
        авиакомпании.
    </div>
</div>


<div class="r__booking">
    <div class="r__booking-block">Бронь <b>GHFDRT</b></div>
</div>


<table class="r__tickets r__tickets_ext">
    <col width="35">
    <col width="154">
    <col width="134">
    <col width="99">
    <col width="199">
    <col width="94">
    <col width="119">
    <col width="119">
    <tr>
        <th></th>
        <th>Фамилия, Имя</th>
        <th>День рожд.</th>
        <th>Гражданство</th>
        <th>Документ</th>
        <th>Срок дейст.</th>
        <th>Бонусная карта</th>
        <th>Билеты</th>
    </tr>
    <tr>
        <td>М</td>
        <td>PETROV VLADIMIR</td>
        <td>30.09.1979, 36 лет</td>
        <td>РФ</td>
        <td>Паспорт 5678358392</td>
        <td>23.03.2019</td>
        <td>SU 4657820583</td>
        <td><a href="#" class="r__tickets-load">4378643948</a></td>
    </tr>
    <tr>
        <td>М</td>
        <td>PETROV VLADIMIR</td>
        <td>30.09.1979, 36 лет</td>
        <td>РФ</td>
        <td>Паспорт 5678358392</td>
        <td>23.03.2019</td>
        <td>SU 4657820583</td>
        <td><a href="#" class="r__tickets-load">4378643948</a></td>
    </tr>
</table>


<div class="r__download"><a href="#">Скачать ваучер отеля</a> • <a href="#">Скачать весь пакет документов</a></div>


<table class="r__tickets">
    <col width="104">
    <col width="205">
    <col width="115">
    <col width="190">
    <col width="350">
    <tr>
        <th colspan="4">Изменения по заявке</th>
        <th class="r__tickets-buttons">
            <a href="#" class="button button_small">Возврат</a>
            <a href="#" class="button button_small">Обмен</a>
        </th>
    </tr>
    <tr>
        <td>12 сен 2014</td>
        <td>Заявка на обмен <a href="#">AH344TY</a></td>
        <td>Колесов Д.В.</td>
        <td><span class="r__tickets-reset">Анулировано</span></td>
        <td></td>
    </tr>
    <tr>
        <td>12 сен 2014</td>
        <td>Заявка на обмен <a href="#">AH344TY</a></td>
        <td>Колесов Д.В.</td>
        <td><span class="r__tickets-change">Запрос обмена</span></td>
        <td></td>
    </tr>
    <tr>
        <td>12 сен 2014</td>
        <td>Заявка на обмен <a href="#">AH344TY</a></td>
        <td>Колесов Д.В.</td>
        <td><span class="r__tickets-return">Запрос возврата</span></td>
        <td></td>
    </tr>
</table>


<table class="r__tickets">
    <col width="104">
    <col width="205">
    <col width="115">
    <col width="190">
    <col width="350">
    <tr>
        <th colspan="4">Изменения по заявке</th>
        <th class="r__tickets-buttons">
        </th>
    </tr>
    <tr>
        <td>12 сен 2014</td>
        <td>Заявка на обмен <a href="#">AH344TY</a></td>
        <td>Колесов Д.В.</td>
        <td><span class="r__tickets-reset">Возврат выполнен</span></td>
        <td></td>
    </tr>
</table>


<div class="r__container">
    <div class="r__chat">
        <div class="r__message-container">
            <div class="r__message-empty">Сообщения по заявке</div>
            <div class="r__message">
                <div class="r__message-text">Можно ли заказать русскоговорящего гида?</div>
                <div class="r__message-info">
                    <b>18:40</b> 12 сен 2014
                    <div class="r__message-author">Колесов Д.В.</div>
                </div>
            </div>
            <div class="r__message r__message_answer">
                <div class="r__message-text">Можно ли заказать русскоговорящего гида?</div>
                <div class="r__message-info">
                    <b>18:40</b> 12 сен 2014
                    <div class="r__message-author">Колесов Д.В.</div>
                </div>
            </div>
            <div class="r__message">
                <div class="r__message-text">Можно ли заказать русскоговорящего гида?</div>
                <div class="r__message-info">
                    <b>18:40</b> 12 сен 2014
                    <div class="r__message-author">Колесов Д.В.</div>
                </div>
            </div>
        </div>
        <a href="#" class="button button_small">Написать</a>
    </div>
    <div class="r__requirements">
        <p class="r__requirements-text">Клиент просил некурящий номер</p>
        <a href="#" class="button button_small">Редактировать</a>
    </div>
</div>
<!-- /Request -->
</div>
</form>
</div>
</div>
<div style="display: block" class="overlay js-overlay">
    <div class="balloon balloon-request">
        <div class="balloon-loading">
            <img src="/spa/img/balloon/animation.gif" alt=""/>
        </div>
        <br/>
        <div class="balloon-title">Регистрируем заказ в Tour Pay</div>
        <br/>
    </div>
    <div class="balloon balloon-request">
        <div class="balloon-outdated"></div>
        <div class="balloon-info">Ваш номер заказа на Tour Pay</div>
        <div class="balloon-title">2314356467657</div>
        <br/>
        <div class="balloon-info">Необходимо оплатить заказ до <b>18 февраля 18:50</b>, иначе бронь будет анулирована</div>
    </div>
</div>

</body>
</html>