.tooltip-price__avia {
  //position : absolute;
  //right: 12px;
  //top: 73px;
  width: 17px;
  height: 18px;
  display: inline-block;
  margin-left: 5px;

  .icon-price-info {
    //top:0 !important;
    //right :0;
  }

  .tooltip {
    //right: -14px;
    //top: 24px;
  }
}

.b-result_oneway_avia {

  .tooltip-price__avia {
    //top: 45px;
  }
}
