.tooltip {
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .6);
  background: #fff;
  padding: 13px 30px 13px 13px;
  position: absolute;
  z-index: 400;
  right -4px
  top 30px
  min-width: 170px;

  .icon-cross {
    cursor pointer
    position absolute
    right 10px
    top 50%
    margin-top -5px
  }

  &.tooltip_show {
    display: block;
  }
  &.tooltip_hide {
    display: none;
  }

  &.tooltip-price_at_hotel-card {
    //right: -15px;
    //top 40px
    top 1px
    right 30px

    &:before{
      content ''
      display block
      position: absolute
      width 0
      height 0
      border-style solid
      border-width 0 11px 11px
      border-color transparent transparent #fff transparent
      transform rotate(90deg)
      top 9px
      right -15px
      z-index: 2
    }

    &:after {
      content ''
      background url(/spa/img/tooltip/corner-shadow.png)
      display block
      position: absolute
      width 42px
      height: 12px
      transform rotate(90deg)
      top 6px
      right -28px
      z-index: 1
    }
  }

  &:before {
    content ''
    display block
    position: absolute
    width 0
    height 0
    border-style solid
    border-width 0 11px 11px
    border-color transparent transparent #fff transparent
    top -10px
    right 12px
    z-index: 2
  }

  &:after {
    content ''
    background url(/spa/img/tooltip/corner-shadow.png)
    display block
    position: absolute
    width 42px
    height: 12px
    top -12px
    right 4px
    z-index: 1
  }
}

.b-tooltip {
  transform-style: preserve-3d;
  text-align : left !important;

  &_relative {
    position : relative !important;
  }

  &_fixed {
    position: fixed !important;
  }

  &_absolute {
    position: absolute !important;
  }

  &_base {
    position: relative;
  }

  &_agency-inna {
    //margin-left : 7px;
    white-space : nowrap;

    .tooltip {
      width: auto;
      box-shadow : 0 0 8px rgba(0,0,0,0.5)

      b {
        font-size 1em
        position relative
        top 0px
      }
    }

    .tooltip_right {
      right: -18px;
    }
  }

    
  &_popover {
    position: absolute;
    z-index 400;
  }


  &__header {
    font-size: 18px;
    margin-bottom : 5px;
    padding-right : 10px;
  }

  &__body {
    &__text {
      color:#666666;
      font-size: 12px;
    }
  }

  &_nocorner {
    .tooltip {
      box-shadow : 0 0 8px rgba(0,0,0, 0.5);
      border-radius :0;
      border:1px solid #bdbdbd;
      background-color : #fff8eb;

      padding : 10px 27px 8px 10px;

      &:before {
        border-color transparent transparent #fff8eb transparent
      }
    }
  }


  &_tooltip-price {
    z-index : 200;

    .balloon-close {
      padding : 5px;
      top: 2px;
      right: 2px;
    }

    .tooltip {
      padding: 10px 10px 8px;
    }

    .b-tooltip__body__text {
      font-size :12px;
    }
  }
}


// позиция tooltip
.tooltip {
  transform-style: preserve-3d;

  &_top_right {
    transform: translate(100%, -130%)

    &:after,
    &:before {
      transform: rotate(180deg);
      top: auto;
      right: auto;
    }

    &:before {
      bottom: -10px;
      left: 12px;
    }

    &:after {
      bottom: -12px;
      left: 4px;
    }
  }

  &_top_left {
    transform: translate(0, -100%)
  }

  &_top {
    transform: translateY(-130%);
    right:auto;
    top:auto;
    bottom:auto;

    &:after,
    &:before {
      transform: rotate(180deg);
      top: auto;
      right: auto;
    }

    &:before {
      bottom: -10px;
      left: 12px;
    }

    &:after {
      bottom: -12px;
      left: 4px;
    }

  }

  &_bottom {
    transform: translateY(100%)
  }

  &_right {
    transform: translateX(80%)

    &:before {
      right: auto;
      left: 12px;
    }

    &:after {
      right: auto;
      left: 4px;
    }
  }

  &_right_right {
    transform: translate(105%, -72%);

    &:after,
    &:before {
      transform: rotate(-90deg);
      right: auto;
      top:50%;
    }

    &:before {
      left: -15px;
    }

    &:after {
      left: -27px;
    }
  }

  &_left {
    transform: translateX(0)
  }



}


// стрелка на тултипе
.tooltip {
  &_pin_right_bottom {
    &:after,
    &:before {
      transform: rotate(180deg);
      top: auto;
      left: auto;
    }

    &:before {
      bottom: -10px;
      right: 12px;
    }

    &:after {
      bottom: -12px;
      right: 4px;
    }
  }

  &_pin_center {

    &:after,
    &:before {
      transform: rotate(180deg);
      top: auto;
      left: auto;
    }

    &:before {
      bottom: -8px;
      right: 50%;
      margin-right : -10px;
    }

    &:after {
      bottom: -12px;
      right: 50%;
      margin-right : -22px;
    }

  }
}

