.ui-tooltip {
  max-width: inherit;
  box-shadow: 0, 5px, 16px, 0, rgba(0, 0, 0, 0.55);
  background: #ff4c4c;

  font-family: ProximaNova, Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 14px;
  /*line-height: 36px;*/
  line-height: normal;
  /*padding: 1px 13px;*/
  padding: 5px 13px;

  &:before {
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent #ff4c4c transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: -12px;
    width: 0;
  }
}