.about {

  font-size: 16px;

  .section-header {
    margin: 34px 0 0 0;
  }

  p {
    color: #474747;
    line-height: 24px;
    margin: 22px 0 0 0;
  }

  .turistic-destinations {
    background: #fff;
    border-bottom: 1px solid #cacaca;
    padding: 1px 15px 19px;
    margin-top: 36px;

    &-list {
      line-height: 30px;
      margin-top: 20px;

      a {
        color: #549000;
        text-decoration: underline;
        margin-right: 16px;
      }
    }

    .section-header {
      margin-top: 20px;
    }
  }

  .list {
    //list-style: 24px;
    margin-top: 21px;

    &-item {

      color: #474747;
      line-height: 24px;
      padding-left: 20px;
      position: relative;

      &:before {
        content: '•';
        //color: #89c13a;
        color: #000000;
        display: inline-block;
        font-size: 20px;
        line-height: 0;
        position: absolute;
        left: 0;
        top: 11px
      }
    }
  }
}