{{#if !CostPerPersonShow}}
<div class="b-price">
    <div class="b-price__container">


        {{#if modelPrice.getProfit() > 1000}}
        <div class="b-price-profit">
            <div class="b-price-profit__price">
                {{priceFilter(Price)}}
                <i class="fa fa-rub b-price__rub"></i>
            </div>
            <div class="b-price__desc b-price__desc--gray">
                по отдельности
            </div>
        </div>
        {{/if}}

        <div class="b-price-block" style="{{(modelPrice.getProfit() <= 1000) ? 'margin-top:47px;' : '' }}">
            <div class="b-price__desc">
                Стоимость пакета <br/>
                за
                {{passengerCount}}
                {{pluralize(passengerCount, ['человека', 'человек', 'человек'])}}
            </div>
            <div class="b-price__value">
                {{priceFilter(PackagePrice)}}
                <i class="fa fa-rub b-price__rub"></i>
                <!-- Показываем только для авторизованного пользователя b2b -->
                {{#if PriceObject}}
                {{#if isAgency}}
                {{#if AgencyType != 1}}
                <PriceGeneric template="index.hbs.html" PriceObject="{{PriceObject}}"/>
                {{/if}}
                {{/if}}
                {{/if}}
            </div>

            {{#if modelPrice.getProfit() > 1000}}
            <div class="b-price__desc b-price__desc--economy">
                экономия: {{priceFilter(modelPrice.getProfit())}}
                <i class="fa fa-rub b-price__rub"></i>
            </div>
            {{/if}}
        </div>

    </div>
</div>
{{/if}}
{{#if CostPerPersonShow}}
<div class="b-cost">

    <div class="b-cost__price">
        <div class="b-cost-corner">
            {{#if modelPrice.getProfit() > 1000}}
            {{priceFilter(StandartCostPerPerson)}}
            <i class="fa fa-rub"></i>
            {{/if}}
        </div>
        <div class="b-cost__price-value">
            {{priceFilter(CostPerPerson)}}
            <i class="fa fa-rub"></i>

            {{#if PriceObject}}
            {{#if AgencyType != 1}}
            <PriceGeneric template="index.hbs.html" PriceObject="{{PriceObject}}"/>
            {{/if}}
            {{/if}}
        </div>
        <div class="b-cost__price-desc">цена за человека</div>
    </div>

    <div class="b-cost__price-sum">
        К оплате:
        {{priceFilter(PackagePrice)}}
        <i class="fa fa-rub"></i>
    </div>

</div>
{{/if}}

<span class="button" on-click="setCurrent">Выбрать</span>