<div class="b-price">
    <div class="b-price-container">


        {{#if modelPrice.getProfit() > 1000}}
        <div class="price">
		    <span class="cross">
			    {{priceFilter(Price)}}
			    {{>ruble}}
		    </span>

            <div class="price-description">по отдельности</div>
        </div>
        {{/if}}

        <div class="price-description" style="{{(modelPrice.getProfit() <= 1000) ? 'margin-top:55px;' : '' }}">
            Стоимость пакета
        </div>

        <div class="corner-price">
            <div style="display: inline-block">
                {{priceFilter(PackagePrice)}}
                {{>ruble}}
            </div>

            <!-- Показываем только для авторизованного пользователя b2b -->
            {{#if PriceObject}}
                {{#if AgencyType != 1}}
                    <PriceGeneric template="index.hbs.html" PriceObject="{{PriceObject}}"/>
                {{/if}}
            {{/if}}

            {{#if modelPrice.getProfit() > 1000}}
            <div class="price-description">
                экономия: {{priceFilter(modelPrice.getProfit())}}
                {{>ruble}}
            </div>
            {{/if}}
        </div>


    </div>
</div>

<span class="button" on-click="setCurrent">Выбрать</span>