{{#if !CostPerPersonShow}}
<div class="b-price">
    <div class="b-price-container">


        {{#if modelPrice.getProfit() > 1000}}
        <div class="price">
		    <span class="cross">
			    {{priceFilter(Price)}}
			    {{>ruble}}
		    </span>

            <div class="price-description">по отдельности</div>
        </div>
        {{/if}}

        <div class="price-description" style="{{(modelPrice.getProfit() <= 1000) ? 'margin-top:55px;' : '' }}">
            Стоимость пакета
        </div>

        <div class="corner-price">
            <div style="display: inline-block">
                {{priceFilter(PackagePrice)}}
                {{>ruble}}
            </div>
            
            <!-- Показываем только для авторизованного пользователя b2b -->
            {{#if PriceObject}}
            <PriceGeneric template="index.hbs.html" PriceObject="{{PriceObject}}"/>
            {{/if}}

            {{#if modelPrice.getProfit() > 1000}}
            <div class="price-description">
                экономия: {{priceFilter(modelPrice.getProfit())}}
                {{>ruble}}
            </div>
            {{/if}}
        </div>


    </div>
</div>
{{/if}}
{{#if CostPerPersonShow}}
<div class="b-cost">

    <div class="b-cost__price">
        <div class="b-cost-corner">
            {{#if modelPrice.getProfit() > 1000}}
			    {{priceFilter(StandartCostPerPerson)}}
			    <i class="fa fa-rub"></i>
            {{/if}}
        </div>
        <div class="b-cost__price-value">
            {{priceFilter(CostPerPerson)}}
            <i class="fa fa-rub"></i>

            {{#if PriceObject}}
            <PriceGeneric template="index.hbs.html" PriceObject="{{PriceObject}}"/>
            {{/if}}
        </div>
        <div class="b-cost__price-desc">цена за человека</div>
    </div>

    <div class="b-cost__price-sum">
        К оплате:
        {{priceFilter(PackagePrice)}}
        <i class="fa fa-rub"></i>
    </div>

</div>
{{/if}}

<span class="button" on-click="setCurrent">Выбрать</span>