<div class="hotel-info">
	<div class="hotel-info__wrapper">
		<img class="hotel-info__photo" src="/spa/img/hotels/no_photo70x70.png" alt="{{hotel.HotelName}}" ng-hide="hotel.HotelPhoto70"/>
		<img class="hotel-info__photo" src="{{hotel.HotelPhoto70}}" alt="{{hotel.HotelName}}" ng-show="hotel.HotelPhoto70">

		<div class="hotel-info-content">
			<div>
                <span stars-directive
                      hotel-data="hotel.Stars"></span>
			</div>
			<h3 class="hotel-info-name">{{hotel.HotelName}}</h3>

			<div class="hotel-info-date">
				<ng:any partials-collection
				        partial-name="range"
				        hotel="hotel"/>
			</div>
		</div>
	</div>

	<!-- component Tripadvisor -->
	<div trip-advisor-directive
	     ng-if="tripadvisor"
	     hotel-data="hotel"></div>

	<div class="hotel-info__room">
		<div class="hotel-info__room_name">{{hotel.Room.RoomName}}</div>

		<div class="hotel-info-date r__hotel-info">
	        <span ng-repeat="list in hotel.Room.BedTypeList track by $index">
	            {{list.Name}}<stan ng-if="!$last">,&nbsp;</stan><stan ng-if=""></stan>
	        </span>
		</div>
	</div>

</div>
<span class="icon-sprite-hotel"></span>