<div class="overlay js-overlay" ng-style="{display: display}">
    <div class="scroll-fix">
        <ng-include src="'components/balloon/msg.html'"></ng-include>
        <ng-include src="'components/balloon/msgCancel.html'"></ng-include>
        <ng-include src="'components/balloon/msgClose.html'"></ng-include>
        <ng-include src="'components/balloon/payExpires.html'"></ng-include>
        <ng-include src="'components/balloon/expireCheck.html'"></ng-include>
        <ng-include src="'components/balloon/success.html'"></ng-include>
        <ng-include src="'components/balloon/email.html'"></ng-include>
        <ng-include src="'components/balloon/err.html'"></ng-include>
        <ng-include src="'components/balloon/alert.html'"></ng-include>
        <ng-include src="'components/balloon/notFound.html'"></ng-include>
        <ng-include src="'components/balloon/priceChanged.html'"></ng-include>
        <ng-include src="'components/balloon/agencyRegSuccess.html'"></ng-include>
        <ng-include src="'components/balloon/mobile.html'"></ng-include>
    </div>
</div>