<!--<div class="balloon popup balloonIsMobile" ng-if="(type == baloonType.mobile)" ng-style="popupStyles">-->
    <!--<div class="balloon-close" title="Закрыть" ng-click="close($event)">-->
        <!--<i class='fa fa-times'-->
           <!--aria-hidden='true'></i>-->
    <!--</div>-->
    <!--<div class="balloon-title">-->
        <!--Доступна мобильная версия сайта-->
    <!--</div>-->
    <!--<p class="balloon-info">-->
        <!--<a class='toggle-mobile__link'-->
           <!--href='//m.inna.ru'>Переключиться</a>-->
    <!--</p>-->
<!--</div>-->