<div class="balloon popup" ng-if="(type == baloonType.notFound)" ng-style="popupStyles">
    <div class="balloon-notfound"></div>
    <div class="balloon-title" ng-bind-html="caption | breakFilter" ng-if="caption != null && caption.length > 0"></div>
    <div class="balloon-title" ng-if="!(caption != null && caption.length > 0)">Мы ничего не нашли</div>
    <p class="balloon-info" ng-bind-html="text | breakFilter" ng-if="text != null && text.length > 0"></p>
    <p class="balloon-info" ng-if="!(text != null && text.length > 0)">Попробуйте изменить условия поиска</p>
    <div class="balloon-actions">
        <a href="#" class="button balloon-button" ng-click="close($event)">Новый поиск</a>
    </div>
</div>