<div class="b-ticket_2ways buy__tickets">

    <!-- to -->
    <div class="rlf-fly">
        <div class="row-fluid">
            <div class="col-xs-5 col-no-padding row-fluid__cell">
                <div class="rlf__flight-block">
                    <b>{{AviaInfo.DepartureTimeFormatted}}</b> {{AviaInfo.DepartureDateFormatted}}<br>
                    <b>{{AviaInfo.AirportFrom}}</b> {{AviaInfo.OutCode}}
                </div>
            </div>
            <div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle">
                <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
            </div>
            <div class="col-xs-5 col-no-padding row-fluid__cell">
                <div class="rlf__flight-block">
                    <b>{{AviaInfo.ArrivalTimeFormatted}}</b> {{AviaInfo.ArrivalDateFormatted}}<br>
                    <b>{{AviaInfo.AirportTo}}</b> {{AviaInfo.InCode}}
                </div>
            </div>
        </div>

        <div class="rlf-full-travel-time-info">
            в пути: {{AviaInfo.TimeToFormatted}},

            {{#AviaInfo.ToTransferCount > 0}}
                <span>
                    {{AviaInfo.ToTransferCount}}
                    {{helper.getTransferCountText(AviaInfo.ToTransferCount)}}
                </span>
            {{/}}

            {{#AviaInfo.ToTransferCount == 0}}
                <span>прямой</span>
            {{/}}
        </div>
    </div>

    <!-- back -->
    <div class="rlf-fly rlf-fly_back">

        <div class="row-fluid">
            <div class="col-xs-5 col-no-padding row-fluid__cell">
                <div class="rlf__flight-block">
                    <b>{{AviaInfo.BackDepartureTimeFormatted}}</b> {{AviaInfo.BackDepartureDateFormatted}}<br>
                    <b>{{AviaInfo.AirportTo}}</b> {{AviaInfo.InCode}}
                </div>
            </div>
            <div class="col-xs-2 col-no-padding row-fluid__cell row-fluid__cell-v-middle">
                <span class="rlf-fly-arrow rlf-fly-arrow_popup"></span>
            </div>
            <div class="col-xs-5 col-no-padding row-fluid__cell">
                <div class="rlf__flight-block">
                    <b>{{AviaInfo.BackArrivalTimeFormatted}}</b> {{AviaInfo.BackArrivalDateFormatted}}<br>
                    <b>{{AviaInfo.AirportFrom}}</b> {{AviaInfo.OutCode}}
                </div>
            </div>
        </div>


        <div class="rlf-full-travel-time-info">
            в пути: {{AviaInfo.TimeBackFormatted}},

            {{#AviaInfo.BackTransferCount > 0}}
                <span>
                    {{AviaInfo.BackTransferCount}}
                    {{AviaInfo.transferCount(AviaInfo.BackTransferCount)}}
                </span>
            {{/}}

            {{#AviaInfo.BackTransferCount == 0}}
                <span>прямой</span>
            {{/}}
        </div>
    </div>
</div>