<!--<div class="b-navbar">-->
    <!--<div class="b-navbar__container">-->

        <!--<div class="b-navbar__promo">-->
            <!--&lt;!&ndash;24 года / 24 часа&ndash;&gt;-->
        <!--</div>-->

        <!--<ul class="b-navbar-menu">-->
            <!--<li class="b-navbar-menu__item partners-first">-->
                <!--<a class="b-navbar-menu__link" href="/#/where-to-buy/">-->
                    <!--Где купить-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="b-navbar-menu__item partners-hide">-->
                <!--<a class="b-navbar-menu__link" href="http://book.inna.ru/">-->
                    <!--Агентствам-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="b-navbar-menu__item partners-hide">-->
                <!--<a class="b-navbar-menu__link" href="//inna.ru/catalog/visa/">-->
                    <!--Визы-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="b-navbar-menu__item partners-hide">-->
                <!--<a class="b-navbar-menu__link"-->
                   <!--ng-class="{'b-navbar-menu__link-active':isActive('/transfers/')}"-->
                   <!--href="/#/transfers/">-->
                    <!--Трансферы-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="b-navbar-menu__item partners-hide">-->
                <!--<a class="b-navbar-menu__link"-->
                   <!--ng-class="{'b-navbar-menu__link-active':isActive('/individualtours/')}"-->
                   <!--href="/#/individualtours/">-->
                    <!--Программы-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="b-navbar-menu__item partners-hide">-->
                <!--<a class="b-navbar-menu__link" href="http://ntp.inna.ru/" target="_blank">-->
                    <!--Отдых в России-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div class="header-info" ng-class="{'block_close': !FormExpand}" ng-cloak>
    <div class="scroll-fix">
        <div class="header-info__container">

            <a href="/#/" class="header-info__logo">
                <i class="big-logo_inna js-company-logo" alt="ИННА ТУР" title="ИННА ТУР"></i>
                <!--<i class="icon icon-logo-inna partners-hide" alt="ИННА ТУР" title="ИННА ТУР"></i>-->
            </a>

            <div class="header-info__right">

                <div class="header-info__phone">
                    <!--<i class="fa fa-phone header-info__phone-icon"></i>-->
                    <i class="icon-phone-black" ng-if="!StaticPage"></i>
                    <i class="icon-phone-black" ng-if="StaticPage"></i>
                    <div>
                        <div class="header-info__phone-number js-company-phone-head"
                             ng-class="{'header-info_black': StaticPage}"
                             ng-if="!user.isAgency()">
                            +7 495 742-1212
                        </div>
                        <div class="header-info__phone-number" ng-if="user.isAgency()" ng-class="{'header-info_black': StaticPage}">
                            {{user.raw.SupportPhone}}
                        </div>
                        <div class="header-info__phone-info" ng-class="{'header-info_black': StaticPage}">
                            круглосуточно
                        </div>
                    </div>
                </div>

                <ng:include src="'auth/header.html'"></ng:include>

                <vertical-menu></vertical-menu>
            </div>
        </div>
    </div>
</div>

<div class="header-menu"
     ng-style="SearchFormExpandPadding" ng-cloak>
    <!--ng-show="isHeaderVisible"-->
    <div class="scroll-fix">
        <div class='offer-text'>
        <span class='offer-text__title'>
            КОНСТРУКТОР ИНДИВИДУАЛЬНЫХ ТУРОВ
        </span>
            <span class='offer-text__subtitle'>
            АВИАБИЛЕТ + ОТЕЛЬ = ВМЕСТЕ выгоднее
        </span>
        </div>
        <div class="wrapper">
            <div class="header__container" ng-class="{'block_close': !isEnableSearchForm}">
                <ul class="header-nav">
                    <li class="header-nav__item">
                        <!--<span class="header-nav__item-promo">-30%</span>-->
                        <a class="header-nav__item-link"
                           href="/#/"
                           ng-click="gtmMainTab($event)"
                           ng-class="{'header-nav__item-link-active':isActive(urls.URL_ROOT) || isActive(urls.URL_DYNAMIC_PACKAGES)}">
                            Перелет + Отель
                        </a>
                    </li>
                    <li class="header-nav__item partners-hide">
                        <a class="header-nav__item-link"
                           href="/#/avia/"
                           ng-click="gtmMainTab($event)"
                           ng-class="{'header-nav__item-link-active':isActive('/avia/')}">
                            Авиабилеты
                        </a>
                    </li>
                    <li class="header-nav__item partners-hide">
                        <a class="header-nav__item-link"
                           href="/#/hotels/"
                           ng-click="gtmMainTab($event)"
                           ng-class="{'header-nav__item-link-active':isActive('/hotels/')}">
                            Отели
                        </a>
                    </li>
                    <li class="header-nav__item partners-hide">
                        <a class="header-nav__item-link"
                           href="/#/bus/"
                           ng-click="gtmMainTab($event)"
                           ng-class="{'header-nav__item-link-active':isActive('/bus/')}">
                            Автобусные туры
                        </a>
                    </li>
                </ul>
            </div>
            <ng:include src="getHeadForm()"></ng:include>
        </div>
    </div>
    <div class="slogan-container">
    <div class='home-page-slogan'>
        <div class='home-page-slogan__item'>
            <h2 class='home-page-slogan__title'>
                ВЫГОДА
            </h2>
            <div class='home-page-slogan__text'>
                <span>Экономия до 30 % за счет</span>
                <span>специальных пакетных цен</span>
                <span>Страховка в подарок</span>
            </div>
        </div>
        <div class='home-page-slogan__item'>
            <h2 class='home-page-slogan__title'>
                СВОБОДА
            </h2>
            <div class='home-page-slogan__text'>
                <span>200 стран 670 000 отелей</span>
                <span>500 авиакомпаний</span>
                <span>Сам себе турагент</span>
            </div>
        </div>
        <div class='home-page-slogan__item'>
            <h2 class='home-page-slogan__title'>
                НАДЕЖНОСТЬ
            </h2>
            <div class='home-page-slogan__text'>
                <span>Перелет на регулярных рейсах.</span>
                <span>Моментальная оплата поставщикам</span>
                <span>Гарантия поездки</span>
            </div>
        </div>
    </div>
</div>
</div>