tabbable
  width 100%
  height auto
.nav
  height 40px
  line-height 40px

  .nav-tabs_active
    border-bottom 1px dashed #0054B9
    a
      color #0054B9

  li
    display inline
    height 20px
    line-height 20px
    margin-right 20px

    a
      color #313C48

      &:hover{
        color #0054B9
        text-decoration none
      }

.tab-pane
  display none
.tab-pane_active
  display block

