{{#if isSputnik }}
    <title ng-bind="title">Спутник</title>
    <link rel="shortcut icon" href="/spa/img/partners/sputnik/favicon.ico"/>
{{else}}
    <title ng-bind="title">Инна-Тур - Главная</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
{{/if}}


