{{#if airplaneIcon}}
    <span class="icon-sprite-airplane"></span>
{{/if}}


<!-- ЛОГОТИПЫ АВИАКОМПАНИЙ -->
<DatePartialsCollection
		partialName="logoAvia"
		ticketModel="{{modelTicket}}" />


<!-- To -->
<div class="flight-info">
	<span class="date date_w_120">
        <span>
            <DatePartialsCollection
                partialName="weekDateTime"
                date="{{ticket.DepartureDate}}" />
            <br>
            <span>{{ticket.CityFrom}} {{ticket.OutCode}}</span>
        </span>
    </span>

	<DatePartialsCollection
			partialName="flightTimeArrow"
			direction="To"
			AviaInfo="{{ticket}}" />

    <span class="date date_w_120">
       <span>
           <DatePartialsCollection
		           partialName="weekDateTime"
		           date="{{ticket.ArrivalDate}}" />
	       <br>
	        <span>{{ticket.CityTo}} {{ticket.InCode}}</span>
       </span>
    </span>
</div>

<!-- Back -->
<div class="flight-info">
    <span class="date date_w_120">
        <span>
            <DatePartialsCollection
                partialName="weekDateTime"
                date="{{ticket.BackDepartureDate}}" />
	       <br>
	        <span>{{ticket.CityTo}} {{ticket.OutCodeBack}}</span>
	    </span>
    </span>

	<DatePartialsCollection
			partialName="flightTimeArrow"
			direction="Back"
			AviaInfo="{{ticket}}" />

    <span class="date date_w_120">
       <span>
           <DatePartialsCollection
               partialName="weekDateTime"
               date="{{ticket.BackArrivalDate}}" />
			<br>
            <span>{{ticket.CityFrom}} <span>{{ticket.InCodeBack}}</span></span>
        </span>
    </span>
</div>

<div class="bottom-actions">

	{{#if showWarning}}
        <span class="pull-left warning">
		    {{pluralize(ticket.NumSeats, ["Последнее","Последние","Последние"])}}
			{{ticket.NumSeats}}
			{{pluralize(ticket.NumSeats, ["место","места","мест"])}}
			{{#if ticket.IsCharter}}<span>, чартер</span>{{/if}}
	    </span>
	{{/if}}

	{{#if !showWarning}}
        <span class="pull-left warning">
			{{#if ticket.IsCharter}}<span>Чартер</span>{{/if}}
        </span>
	{{/if}}

    <span class="bottom-actions__button bottom-actions__button_action_details like-link"
          on-click="getTicketDetails">Подробнее</span>
</div>
