<div class="overlay js-overlay overlay_ticket-details" ng-show="popupItemInfo.isShow" ng-click="closePopup()">

    <div class="scroll-fix" ng-style="popupItemInfo.style">
        <div class="balloon balloon_ticket balloon_ticket_ticket-details js-ticket-info-baloon"
             ng-class="{'balloon_2ticket':popupItemInfo.item.EtapsBack.length > 0}"
             ng-style="popupStyles"
             close-popup
             fn-hide="popupItemInfo.hide()">

            <ng:any ng-repeat="item in [popupItemInfo.item] track by $index">
                <span class="balloon-close" ng-click="closePopup()" ng-if="!noClose" title="Закрыть" >
					<i class="icon-sprite-remove-big"></i>
                </span>

                <h3 class="b-tickets__title">Подробная информация по перелету</h3>

                <ng:include ng-if="item.EtapsBack.length > 0"
                            src="'avia/popup_item_info_two_ways.html'"></ng:include>
                <ng:include ng-if="item.EtapsBack.length == 0 || item.EtapsBack == null"
                            src="'avia/popup_item_info_one_way.html'"></ng:include>


                <div class="b-tickets__footer">
	                <div ng-if="!closeFooter">
                        <!--<ul class="b-tickets__icons">-->
                            <!--<li>-->
                                <!--<div share-link-directive-->
                                     <!--location="{{location}}"-->
                                     <!--position="right" class="tooltip-widget"></div>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <div class="b-tickets__footer-inner">
                            <a class="rl-buy-button" href="javascript:void(0);" ng-click="setCurrent()">Выбрать</a>
                        </div>
	                </div>
                </div>
            </ng:any>
        </div>
    </div>
</div>