<form class="search-ticket-form" ng-controller="AviaFormCtrl">
    <div dropdown-input
        theme="search-field-block search__city"
        provide-suggest-callback="provideSuggestToFromList"
        suggest="fromList"
        result="criteria.FromId"
        set-result-item="fromInit"
        set-result-callback="setResultCallbackFrom(item)"
        ask-for-data="loadObjectById"
        placeholder="Откуда?"></div>
    <div dropdown-input
        theme="search-field-block search__city"
        provide-suggest-callback="provideSuggestToToField"
        suggest="toList"
        result="criteria.ToId"
        set-result-item="toInit"
        set-result-callback="setResultCallbackTo(item)"
        ask-for-data="loadObjectById"
        placeholder="Куда?"></div>
    <span date-picker-widget 
        interval="false"
        date1="criteria.BeginDate"
        date2="criteria.EndDate"
        add-buttons="true"
        data="datepickerButtons"
        class="b-wrapp_type_inline date-picker-widget"></span>
    <div people-component adult-count="criteria.AdultCount" child-count="criteria.ChildCount" infants-count="criteria.InfantsCount"></div>
    <div trip-preferences
        show-back-trip-options="false"
        klass-model="klass"></div>
    <div class="search-button-block_small" ng-click="searchStart()">
        <!--<input type="submit" value="Найти"  />-->
    </div>
</form>