<style>.b-wrapp_type_inline{display:inline;}</style>

<form class="search-form" ng-controller="DynamicFormCtrl">
	<div select options="fromList" caption="Откуда" current="fromCurrent" class="b-wrapp_type_inline"></div><!-- 
	 --><div dropdown-input-to provide-suggest-callback="provideSuggestToToField" suggest="toList" result="toCurrent" class="b-wrapp_type_inline"></div><!--
	 --><div date-picker-widget interval="false" caption="Дата отправления" date="dateBegin" class="b-wrapp_type_inline"></div>
	
	
	<!-- 
	DATE_BEGIN:
	DATE_END: <div date-picker-custom></div>
	PEOPLE: <div counter-people></div>
	CLASS: <div select></div>
	 -->
</form>