﻿﻿<form class="search-form" ng-controller="ToursFormCtrl">
    <div class="search-form-item search-form-from <!--active-->" ng-click="fromFormClick($event)">
        <div class="search-form-item-current">
            {{form.from.name}}
        </div>
        <i class="icon icon-triangle" ng-class="{bottom:!form.fromIsOpen}"></i>
        <ul id="fFrom" class="search-form-list" style="display:block;" ng-show="form.fromIsOpen">
            <li ng-repeat="item in form.fromList" ng-click="fromClick(item, $event)" data-id="{{item.id}}" class="search-form-list-item"
                ng-class="{selected:form.fromIsItemSelected(item)}">{{item.name}}</li>
        </ul>
    </div><!--
    --><div class="search-form-item search-form-to">
        <input title="Вы не заполнили это поле" type="text" class="search-form-item-current SearchTo" ng-class="{empty:toIsEmpty()}" ng-model="form.toText"
               ng-keydown="toKeyDown($event)" ng-change="toChange()" ng-focus="toFocus($event)" ng-blur="toBlur($event)" ng-click="toClick($event)" />
        <ul class="search-form-list search-form-list-to" ng-show="form.toListIsNotEmpty()">
            <ng:any ng-repeat="item in form.toList">
                <li class="search-form-list-item-separator" ng-show="isNeedInsertDelimiter(item, $index)"></li>
                <li class="search-form-list-item search-form-list-item-country" ng-click="toItemClick(item,$event)"
                    ng-class="{selected:form.toListSelectedIndex == $index}">
                    {{item.name}}<span class="description">{{getToItemDescription(item)}}</span>
                    <i class="icon icon-flag" ng-class="'icon-flag-' + item.codeIcao" ng-show="isNeedToShowFlag(item)"></i>
                    <!--<span class="iata-code">{{item.codeIcao}}</span>-->
                </li>
            </ng:any>
        </ul>
    </div><!--
    --><div class="search-form-item search-form-date" ng-click="dateClick($event)">
        <div class="search-form-item-current" >
            <!--Когда-->{{getBeginDateLong()}}
        </div>
        <!--<i class="icon icon-calendar"></i>-->
        <input style="visibility:hidden;" type="text" class="hidden-input Calendar-input" ng-model="form.beginDate" 
               ng-model-check="form.beginDateIntervalChecked" date-picker-custom />
    </div><!--
    --><div class="search-form-item search-form-nights" ng-click="nightFormClick($event)">
        <div class="search-form-item-current">
            {{form.nights.name}}
        </div>
        <i class="icon icon-triangle" ng-class="{bottom:!form.nightsIsOpen}"></i>
        <ul id="fNights" class="search-form-list" style="display: block;" ng-show="form.nightsIsOpen">
            <li class="search-form-list-item" ng-repeat="item in form.nightsList" ng-click="nightItemClick(item, $event)"
                ng-class="{selected:form.nightsIsItemSelected(item)}">{{item.name}}</li>
        </ul>
    </div><!--
    --><div class="search-form-item search-form-item_last search-form-humans" ng-click="peopleFormClick($event)">
        <div class="search-form-item-current">
            {{form.people.adultsCount + form.people.childsCount}} человек
        </div>
        <i class="icon icon-triangle" ng-class="{bottom:!form.people.isOpen}"></i>
        <div class="search-form-human-dialog" style="display:block;" ng-show="form.people.isOpen" ng-click="peopleContClick($event)">
            <h3>Пассажиры</h3>
            <div class="search-form-dialog-row">
                <span class="label">Взрослые</span>
                <ul class="button-group">
                    <li class="button" ng-repeat="count in form.people.adultsCountList"
                        ng-class="{active:form.people.adultsCount == count}"
                        ng-click="adultsClick(count,$event)">{{count}}</li>
                </ul>
            </div>
            <div class="search-form-dialog-row">
                <span class="label">Дети</span>
                <ul class="button-group">
                    <li class="button" ng-repeat="count in form.people.childsCountList"
                        ng-class="{active:form.people.childsCount == count}"
                        ng-click="childsClick(count,$event)">{{count}}</li>
                </ul>
            </div>
            <div class="search-form-dialog-row" ng-show="form.people.childsCount > 0">
                <span class="label">Возраст детей</span>
            </div>
            <div class="search-form-dialog-row" ng-show="form.people.childsCount > 0">
                <div class="child-years-select-container" ng-click="childsAge1Click($event)" ng-style="{visibility:(form.people.childsCount >= 1) ? 'visible' : 'hidden'}">
                    <div class="child-years-select-value">{{form.people.childAge1}}</div>
                    <i class="icon icon-triangle bottom"></i>
                    <ul class="search-form-list" ng-show="form.people.childAge1IsOpen">
                        <li class="search-form-list-item" ng-repeat="age in form.people.childsAgesList" ng-click="childsAge1ItemClick(age, $event)">{{age}}</li>
                    </ul>
                </div>
                <div class="child-years-select-container" ng-click="childsAge2Click($event)" ng-style="{visibility:(form.people.childsCount >= 2) ? 'visible' : 'hidden'}">
                    <div class="child-years-select-value">{{form.people.childAge2}}</div>
                    <i class="icon icon-triangle bottom"></i>
                    <ul class="search-form-list" ng-show="form.people.childAge2IsOpen">
                        <li class="search-form-list-item" ng-repeat="age in form.people.childsAgesList" ng-click="childsAge2ItemClick(age, $event)">{{age}}</li>
                    </ul>
                </div>
                <div class="child-years-select-container" ng-click="childsAge3Click($event)" ng-style="{visibility:(form.people.childsCount >= 3) ? 'visible' : 'hidden'}">
                    <div class="child-years-select-value">{{form.people.childAge3}}</div>
                    <i class="icon icon-triangle bottom"></i>
                    <ul class="search-form-list" ng-show="form.people.childAge3IsOpen">
                        <li class="search-form-list-item" ng-repeat="age in form.people.childsAgesList" ng-click="childsAge3ItemClick(age, $event)">{{age}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--
    --><button type="submit" class="search-button-block_small search-form-submit" ng-click="goFindTours()"></button>
</form>