<div class="layout-light about">
	<div class="offers-light-grey">
		<div class="sub-menu-container">
			<ul class="sub-menu">
				<li class="sub-menu-item"><a href="/#/about/">О компании</a></li>
				<li class="sub-menu-item"><a href="/#/contacts/">Контакты</a></li>
				<li class="sub-menu-item">Где купить</li>
				<li class="sub-menu-item"><a href="/#/certificates/">Свидетельство и сертификат</a></li>
			</ul>
		</div>

		<div class="main__center">
			<h3 class="section-header">Где купить</h3>
			
		</div>

		<div class="b-where-to-buy-map"></div>
	</div>
</div>