<div class="l-where-to-buy">

    <!--
    <div class="sub-menu-container">
        <ul class="sub-menu">
            <li class="sub-menu-item"><a href="/#/about/">О компании</a></li>
            <li class="sub-menu-item"><a href="/#/contacts/">Контакты</a></li>
            <li class="sub-menu-item">Где купить</li>
            <li class="sub-menu-item"><a href="/#/certificates/">Свидетельство и сертификат</a></li>
        </ul>
    </div>

    <div class="l-where-to-buy__container">
        <h3 class="l-where-to-buy__title">Где купить</h3>
        <div class="l-where-to-buy__txt">
            Мы работаем с туристическими агентствами по всей России. Вы можете приобрести интересующий тур в агентствах своего города.
        </div>
    </div>
-->
    <div class="b-where-to-buy-map__container js-b-where-to-buy-map__container" ng-style="offsetTop">


        <div class="b-where-to-buy__location">
            <div class="l-where-to-buy__container">


                <div class="b-where-to-buy__location-current" ng-show="currentCity">
                    <div class="b-where-to-buy__location-current-txt">
                        Мой город:
                        <b ng-show="!editLocation">{{ currentCity }}</b>
                        {{ bounds }}
                    </div>
                    <div class="b-typeahead"
                         ng-show="editLocation">
                        <input
                                class="b-typeahead__input"
                                type="text"
                                ng-model="locationFrom"
                                typeahead="state as state.name for state in getLocationFrom($viewValue) | filter:$viewValue"
                                typeahead-wait-ms="300"
                                typeahead-on-select='locationFromOnSelect($item, $model, $label)'
                                >
                    </div>
				<span class="btn btn-green"
                      ng-click="setCurrentLocationTypeahead()"
                      ng-show="editLocation"
                        >Выбрать</span>
				<span class="b-where-to-buy__location-edit"
                      ng-click="editLocation = true"
                      ng-show="!editLocation"
                        >Изменить</span>
                </div>


                <div class="b-where-to-buy__agencies">


                    <div class="b-where-to-buy__agencies-title"
                         ng-if="agencies.length > 0">
                        Всего
                        {{ agencies.length }}
                        {{agencies.length | pluralize: ["офис","офиса","офисов"]}}
                    </div>


                    <ul class="b-where-to-buy__agencies-list"
                        ng-style="listHeight"
                        ng-show="agencies.length > 0">

                        <li id="js-list-item-{{ $index }}" class="b-where-to-buy__agencies-list_item"
                            ng-repeat="item in agencies track by $index"
                            ng-class="{'active': currentAgencyId == $index}"
                            ng-click="setAgency($index + 1)"
                                >
                            <h3 class="b-where-to-buy__agencies-list_item-title" ng-bind="item.Name"></h3>
                            <div ng-bind="item.Address"></div>
                            <div>
                                тел.: <span ng-bind="item.Phone"></span>
                            </div>
                            <div>
                                <a target="_blank" ng-href="http://{{ item.Site }}" ng-bind="item.Site"></a>
                            </div>
                        </li>

                    </ul>


                    <div class="b-where-to-buy__agencies-promo"
                         ng-if="agencies.length > 0">
                        <div>
                            Если вы турагентство или
                            туроператор и хотите
                            разместить информацию о себе
                        </div>
                        <a href="/#/registration">зарегистрируйтесь</a>
                    </div>

                    <div class="b-where-to-buy__agencies-promo one"
                         ng-if="agencies.length == 0"
                         ng-style="promoPositions"
                            >
                        <h3>У нас пока нет представителя в этом городе.</h3>
                        <div>
                            Есть шанс стать первым!
                            Если вы турагентство
                            или туроператор и хотите продавать
                            дин. турпакеты <a href="/#/registration">зарегистрируйтесь</a>
                        </div>
                    </div>


                </div>


            </div>
        </div>


        <div class="b-where-to-buy-map"></div>
    </div>

</div>