<style type="text/css">
    .pic-cont {
        width: 100%;
        text-align: center;
    }
</style>

<div class="pic-cont">
    <img src="/spa/html/BiletixSite/photo.jpg" />
</div>


<form class="b-tour-form">
    <span class="main-label">Билет + Отель</span>
    <div class="b-tour-form-wrapper">
        <div class="b-search-field b-search-field__long b-search-field__list">
            <!--<input type="text"/>-->
            <div class="b-search-field-value">
                Москва, <span class="description">Россия</span>
                <span class="iata">MOW</span>
            </div>
        </div>
        <div class="b-search-field b-search-field__long b-search-field__list">
            <input type="text" />
        </div>
        <div class="b-search-field-hor">
            <div class="b-search-field b-search-field__half b-search-field__calendar">
                <input type="text" />
            </div>
            <div class="b-search-field b-search-field__half b-search-field__calendar pull-right">
                <input type="text" />
            </div>
        </div>
        <div class="b-search-field-hor">
            <div class="b-search-field b-search-field__half b-search-field__list">
                <input type="text" />
            </div>
            <div class="b-search-field b-search-field__class b-search-field__list">
                <input type="text" />
            </div>
            <div class="b-search-button"></div>
        </div>
    </div>
</form>