@import "../biletix/reset.styl"
@import "../biletix/scroll_reset.styl"

@import "../full_wl/colors.styl"
@import "../full_wl/index.styl"
@import "../full_wl/controls.styl"
@import "../full_wl/buttons.styl"

@import "../biletix/form.styl"

@import "../full_wl/horiz-form.styl"
@import "../full_wl/avia.styl"
@import "../full_wl/dp.search.result.styl"
@import "../full_wl/dp.hotel.details.styl"
@import "../full_wl/dp.buy.styl"
@import "../full_wl/map.styl"
@import "../full_wl/gallery.styl"

.partner-biletix {
    .layout.partner {
        top: 200px;
        margin-bottom: 200px;
        padding: 48px 0 0;
    }

    .b-tour-form {
        padding-left: 100px;
    }

    .pic-cont {
        height: 0px;
        width: 0px;
        background: transparent;
    }
}