@import "controls.styl"
@import "buttons.styl"
@import "form.styl"
@import "avia.styl"
@import "dp.search.result.styl"
@import "dp.hotel.details.styl"
@import "dp.buy.styl"
@import "map.styl"



.header, .footer {
    display: none;
}

.partners-hide {
    display: none!important;
}

.partner-biletix {
/*чтобы работал ресайз фрейма*/
    .main {
        min-height: 500px;
    }
    .partner-body-class {
        background-color: transparent;
    }
}