.partner-biletix {
    .balloon-button {
        btx-button-color1()
    }

    /*Результаты поиска*/
    .result-buy .button {
        btx-button1()
    }

    .b-list-panel__hotels_list .button {
        btx-button2()
    }

    .rl-buy-button {
        btx-button2()
    }

    /*Подробнее об отеле*/
    .hotel-details-rooms__room-actions .button {
        btx-button1()
    }

    /*Бронирование и покупка*/
    .b-sum-button {
        btx-button-color1()
    }

    .b-pay-button {
        btx-button-color1() 
    }
}