.reserve-form {
  padding-top: 20px;
}

.buy-form {
  padding-top: 20px;
}

.buy__header {
  .buy__title {
    background-color: #61a8e1;
    padding: 10px 15px;
    color: #fff;
  }
}

.b__rules-flies .current {
  background: #61a8e1;
}

.b-agreement {
  .b-checkbox {
    border: 2px solid #3fa9f5;
  }

  input:checked + .b-checkbox {
    background: url("/spa/img/i.png") no-repeat 2px -590px #61a8e1;
  }
}

.buy__blocks {
  .radio-list input:checked + .radio {
    background: #64a1d3;
  }
}

.b-sum-button {
  border-top: 1px solid #f199dc;
  border-bottom: 1px solid #a60070;
  background: linear-gradient(top, #dc00a4, #cf0071);
  border-radius: 0px;

  &:hover {
    background: linear-gradient(top, rgba(220, 0, 164, 0.8), rgba(207, 0, 113, 0.8));
  }
}

.b-sum-container {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.b-tickets-info-container {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #fff;

  &:before {
    border-top: 1px solid #fff;
  }
}

.b-pay-button {
  border-top: 1px solid #f199dc;
  border-bottom: 1px solid #a60070;
  background: linear-gradient(top, #dc00a4, #cf0071);
  border-radius: 0px;

  &:hover {
    background: linear-gradient(top, rgba(220, 0, 164, 0.8), rgba(207, 0, 113, 0.8));
  }
}