.partner-biletix {
    .reserve-form {
        padding-top:20px;
    }

    .buy-form {
        padding-top:20px;
    }

    .buy__header .buy__title {
        background-color: #61a8e1;
        padding: 10px 15px;
        color: #fff;
    }

    .b__rules-flies .current {
        background: #61a8e1;
    }

    .b-agreement {
        .b-checkbox {
            btx-checkbox-border()
        }

        input:checked + .b-checkbox {
            btx-checkbox-bg()
        }
    }

    .buy__blocks {
        .radio-list input:checked + .radio {
            background: #64a1d3;
        }
    }

    .b-sum-container {
        background: #fff;
        border-bottom: 1px solid #fff;
    }

    .b-tickets-info-container {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background: #fff;

        &:before {
            border-top: 1px solid #fff;
        }
    }
}