.partner-biletix {
    .hotel-details {
        padding: 50px 0 0px;
    }
    /*.hotel-details__wrap {
        background-color: #fff;
    }
    .hotel-details-name {
        color: #4b4c4c;
    }
    .hotel-details-ta-info {
        background: transparent;
    }
    .gallery__disclaimer {
        color: #898a8a;
    }
    .hotel-details__section-title {
        color: #4b4c4c;
    }
    .gallery__viewport-wrap {
        background-color: #e6e9eb;
    }
    .gallery__list {
        margin-top: 5px;
        margin-left: -2px;
    }
    .hotel-details-rooms {
        box-shadow: none;
        background: transparent;
    }*/
}