.partner-wl {
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
        background-position: 0 0;
        background-repeat: no-repeat;
        border: 0 none;

        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        padding: 0;
        text-align: left;
        outline: none;
    }

    a img, :link img, :visited img {
        border: 0 none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    ol, ul {
        list-style-position: outside;
        list-style-type: none;
    }

    ul, li {
        padding: 0;
        margin: 0;
    }

    td {
        vertical-align: top;
    }

    p, div, td, input, textarea {
        font-family: Tahoma, Geneva, sans-serif;
    }
}