.partner-wl {
    .b-inna-col-xs-1, .b-inna-col-xs-2, .b-inna-col-xs-3, .b-inna-col-xs-4, .b-inna-col-xs-5, .b-inna-col-xs-6, .b-inna-col-xs-7, .b-inna-col-xs-8, .b-inna-col-xs-9, .b-inna-col-xs-10, .b-inna-col-xs-11, .b-inna-col-xs-12,
        .b-inna-col-sm-1, .b-inna-col-sm-2, .b-inna-col-sm-3, .b-inna-col-sm-4, .b-inna-col-sm-5, .b-inna-col-sm-6, .b-inna-col-sm-7, .b-inna-col-sm-8, .b-inna-col-sm-9, .b-inna-col-sm-10, .b-inna-col-sm-11, .b-inna-col-sm-12,
        .b-inna-col-lg-1, .b-inna-col-lg-2, .b-inna-col-lg-3, .b-inna-col-lg-4, .b-inna-col-lg-5, .b-inna-col-lg-6, .b-inna-col-lg-7, .b-inna-col-lg-8, .b-inna-col-lg-9, .b-inna-col-lg-10, .b-inna-col-lg-11, .b-inna-col-lg-12 {
            width: inherit;
            margin: 0;
            padding: 0;
        }

        //grid reset
        .b-inna-row {
            margin: 0;
        }

    /*.b-form-container {*/
    /*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {*/
    /*background-position: 0 0;*/
    /*background-repeat: no-repeat;*/
    /*border: 0 none;*/

    /*font-style: inherit;*/
    /*font-weight: inherit;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*text-align: left;*/
    /*outline: none;*/
    /*}*/

    /*a img, :link img, :visited img {*/
    /*border: 0 none;*/
    /*}*/

    /*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
    /*}*/

    /*ol, ul {*/
    /*list-style-position: outside;*/
    /*list-style-type: none;*/
    /*}*/

    /*ul, li {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*}*/

    /*td {*/
    /*vertical-align: top;*/
    /*}*/

    p, div, td, input, textarea {
    font-family: Tahoma, Geneva, sans-serif;
    }

/*}*/

}