<div class="b-result b-result_col_three row b-result-content b-recommended_big">
    <div class="b-result__cell b-result__cell_ticket" ng-click="toggleTab('ticket')" ng-style="{cursor: (stateTicket|defined) && !stateTicket ? 'pointer' : 'default'}">

        <div ng-if="!isClosed && recommendedPairStatus == 5"
             tooltip-directive-base
             tooltip-klass="nocorner:fixed"
             close="true"
             position="top_right"
             is-visible="isVisible"
             width="300"
             templ="popover.hbs.html">

            <div class="b-tooltip__header">
                <h3>Перелет был изменен</h3>
            </div>

            <div class="b-tooltip__body">
                <span class="b-tooltip__body__text">
                    К сожалению, выбранный вариант перелета уже
                недоступен, в пакет будет включен рекомендованный перелет.
                </span>
            </div>
        </div>


	    <div class="spinner spinner-ticket">
		    <div class="rect rect1"></div>
		    <div class="rect rect2"></div>
		    <div class="rect rect3"></div>
		    <div class="rect rect4"></div>
		    <div class="rect rect5"></div>
	    </div>


	    <!-- ЛОГОТИПЫ АВИАКОМПАНИЙ -->
        <ng:any partials-collection
                partial-name="logoAvia"
                class="recommendedPairTicket"
                ticket-model="recommendedPair.ticket" />

        <span class="icon-sprite-airplane"></span>

        <div class="flight-info">
            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="OutCode"
                        date="recommendedPair.ticket.data.DepartureDate"
                        avia-info="recommendedPair.ticket.data" />
            </span>

            <ng:any partials-collection
                    partial-name="flightTimeArrow"
                    direction="To"
                    avia-info="recommendedPair.ticket.data"/>

            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="InCode"
                        date="recommendedPair.ticket.data.ArrivalDate"
                        avia-info="recommendedPair.ticket.data" />
            </span>
        </div>

        <div class="flight-info">

            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="OutCodeBack"
                        date="recommendedPair.ticket.data.BackDepartureDate"
                        avia-info="recommendedPair.ticket.data" />
            </span>

            <ng:any partials-collection
                    partial-name="flightTimeArrow"
                    direction="Back"
                    avia-info="recommendedPair.ticket.data"/>

            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="InCodeBack"
                        date="recommendedPair.ticket.data.BackArrivalDate"
                        avia-info="recommendedPair.ticket.data" />
            </span>

        </div>

        <div class="bottom-actions">
            <a href="javascript:void(0);" class="button button-middle button-orange button-replace"
               ng-if="!displayHotel">
                Заменить перелет
            </a>
            {{hotelCount}}
            <a href="javascript:void(0);" class="bottom-actions__button bottom-actions__button_action_details"
               ng-click="bundleTicketDetails($event, recommendedPair.ticket)">Подробнее</a>
        </div>

        <!-- separator -->
        <div class="b-result-cell__gap">
            <div class="b-result-cell__gap_wrap"></div>
        </div>
    </div>

    <div class="b-result__cell b-result__cell_even" 
         ng-click="toggleTab('hotel')" 
         ng-style="{cursor: (stateHotel|defined) && (!stateHotel || asMap) ? 'pointer' : 'default'}"
		    >

	    <div class="spinner spinner-hotel">
		    <div class="rect rect1"></div>
		    <div class="rect rect2"></div>
		    <div class="rect rect3"></div>
		    <div class="rect rect4"></div>
		    <div class="rect rect5"></div>
	    </div>
	    
	    
        <div class="hotel-info__special-mark" ng-if="recommendedPair.getProfit() > 1000">

        <div ng-if="!isClosed && recommendedPairStatus == 3"
             tooltip-directive-base
             tooltip-klass="nocorner:fixed"
             close="true"
             position="top_right"
             is-visible="isVisible"
             width="300"
             templ="popover.hbs.html">

            <div class="b-tooltip__header">
                <h3>Отель был изменен</h3>
            </div>

            <div class="b-tooltip__body">
                <span class="b-tooltip__body__text">
                   К сожалению, выбранный вариант проживания уже
                    недоступен, в пакет будет включен рекомендован-
                    ный отель.
                </span>
            </div>

        </div>

            <span class="icon-crown icon-sprite-crown"></span>
            Спецпредложение
        </div>

        <div class="hotel-info">
            <div class="hotel-info__wrapper">
                <!--{{bundle | console}}-->
                <img class="hotel-info__photo" ng-src="{{recommendedPair.hotel.data.HotelPhoto70}}" ng-if="recommendedPair.hotel.data.HotelPhoto70" alt="">
                <img class="hotel-info__photo" src="/spa/img/hotels/no_photo70x70.png" ng-if="!recommendedPair.hotel.data.HotelPhoto70" alt="">

                <div class="hotel-info-content">

                    <!-- Stars -->
                    <span stars-directive
                          hotel-data="recommendedPair.hotel.data.Stars"></span>

                    <h3 class="hotel-info-name">
                        {{recommendedPair.hotel.data.HotelName}}
                    </h3>

                    <div class="hotel-info-date">
                        <ng:any partials-collection
                                partial-name="rangeShort"
                                hotel="recommendedPair.hotel.data"/>
                    </div>
                </div>
            </div>

            <!-- tripadvisor -->
            <div class="hotel-info__tripadvisor">
                <div trip-advisor-directive hotel-data="recommendedPair.hotel.data"></div>
            </div>
        </div>
        <span class="icon-sprite-hotel"></span>

        <div class="bottom-actions">
            <a href="javascript:void(0);"
               ng-class="{'active': (stateHotel && !asMap)}"
               ng-if="!displayHotel"
               class="bottom-actions__button bottom-actions__button_action_replace">
                Заменить отель
            </a>

            <a ng-if="displayHotel"
               class="active bottom-actions__button bottom-actions__button_action_details">
                Подробнее
            </a>

            <a link-in-new-window-if-can ng-if="!displayHotel"
               href="{{computedUrlDetails()}}"
               target="_blank"
               class="bottom-actions__button bottom-actions__button_action_details"
               ng-class="{'active': displayHotel}">Подробнее</a>
        </div>


        <!-- separator -->
        <div class="b-result-cell__gap">
            <div class="b-result-cell__gap_wrap"></div>
        </div>
    </div>

    <div class="b-result__cell result-buy">

	    <div class="spinner">
		    <div class="rect rect1"></div>
		    <div class="rect rect2"></div>
		    <div class="rect rect3"></div>
		    <div class="rect rect4"></div>
		    <div class="rect rect5"></div>
	    </div>

	    <div share-link-directive
             location="{{location}}"
             position="left"></div>

        <p class="corner-price" ng-if="recommendedPair.getProfit() > 1000">
            <span class="cross">{{recommendedPair.getFullPrice() | price}} <span class="b-rub">q</span></span>
            <span class="price-description">по отдельности</span>
        </p>

        <div class="price">
            <div class="price-description" style="font-weight:normal;">Перелет + Отель</div>
            {{recommendedPair.getFullPackagePrice() | price}}
            <ng-include src="'components/ruble.html'"></ng-include>

            <!-- tooltip price -->

            <ng:any ng-if="recommendedPair.hotel.data.PriceObject"
                 price-generic-directive
                 price-object="recommendedPair.hotel.data.PriceObject"
                 tooltip-klass="bundle"></ng:any>
        </div>

        <span class="price-description" ng-if="recommendedPair.getProfit() > 1000">
            экономия: {{recommendedPair.getProfit() | price}}
            <ng-include src="'components/ruble.html'"></ng-include>
        </span>

        <p></p>

        <a link-in-new-window-if-can class="button"
           href="{{computedUrlDetails('buy')}}"
           target="_blank"
           ng-if="withReservationButton">
            Купить
        </a>
    </div>
</div>