<div class="b-result b-result_col_three row b-result-content b-recommended_big">
    <div class="b-result__cell b-result__cell_even"
         ng-style="{cursor: (stateHotel|defined) && (!stateHotel || asMap) ? 'pointer' : 'default'}">

        <div class="spinner spinner-hotel">
            <div class="rect rect1"></div>
            <div class="rect rect2"></div>
            <div class="rect rect3"></div>
            <div class="rect rect4"></div>
            <div class="rect rect5"></div>
        </div>


        <div ng-if="!isClosed && recommendedPairStatus == 3"
             tooltip-directive-base
             tooltip-klass="nocorner:fixed"
             close="true"
             position="top_right"
             is-visible="isVisible"
             width="300"
             templ="popover.hbs.html">
            <div class="b-tooltip__header">
                <h3>Отель был изменен</h3>
            </div>
            <div class="b-tooltip__body">
                <span class="b-tooltip__body__text">
                   К сожалению, выбранный вариант проживания уже
                    недоступен, в пакет будет включен рекомендован-
                    ный отель.
                </span>
            </div>
        </div>

        <div class="hotel-info__special-mark" ng-if="recommendedPair.getProfit() > 1000">
            <span class="icon-crown icon-sprite-crown"></span>
            Спецпредложение
        </div>

        <div class="hotel-info">
            <div class="hotel-info__wrapper">
                <!--{{bundle | console}}-->

                <!--<div class="hotel-info__photo"-->
                     <!--style="background-image: url({{recommendedPair.hotel.data.HotelPhoto180}})"-->
                     <!--ng-if="recommendedPair.hotel.data.HotelPhoto180"-->
                <!--&gt;</div>-->
                <!--<div class="hotel-info__photo" style="background-image: url('/spa/img/hotels/no_photo70x70.png')"-->
                     <!--ng-if="!recommendedPair.hotel.data.HotelPhoto180"-->
                <!--&gt;</div>-->

                <!--<img class="hotel-info__photo" ng-src="{{recommendedPair.hotel.data.HotelPhoto180}}" ng-if="recommendedPair.hotel.data.HotelPhoto180" alt="">-->
                <!--<img class="hotel-info__photo" src="/spa/img/hotels/no_photo70x70.png" ng-if="!recommendedPair.hotel.data.HotelPhoto180" alt="">-->

                <div class="hotel-info-content">

                    <!-- Stars -->
                    <span stars-directive
                          hotel-data="recommendedPair.hotel.data.Stars"></span>

                    <h3 class="hotel-info-name">
                        <a class="hotel-info-name-link"
                           href="{{computedUrlDetails()}}"
                           link-in-new-window-if-can
                           ng-click="bundleHotelDetails()"
                           target="_blank">
                            {{recommendedPair.hotel.data.HotelName}}
                        </a>
                    </h3>

                    <!--<div class="hotel-go-to-map">-->
                        <!--<span class="hotel-info-name-link"-->
                              <!--ng-click="recommendedHotelToMap()"-->
                        <!--&gt;(на карте)</span>-->
                        <!--&lt;!&ndash;EventManager.fire(Events.DYNAMIC_SERP_GO_TO_MAP, this.get('modelHotel'));&ndash;&gt;-->
                    <!--</div>-->

                    <div class="hotel-info-date">
                        <ng:any partials-collection
                                partial-name="rangeShort"
                                hotel="recommendedPair.hotel.data"/>
                    </div>

                    <!-- tripadvisor -->
                    <!--<div class="hotel-info__tripadvisor"-->
                         <!--ng-if="!stateHotel">-->
                        <!--<div trip-advisor-directive hotel-data="recommendedPair.hotel.data"></div>-->
                    <!--</div>-->

                </div>
            </div>

        </div>
        <span class="icon-sprite-hotel"></span>

        <a class="hotel-details-link"
           href="{{computedUrlDetails()}}"
           link-in-new-window-if-can
           ng-click="bundleHotelDetails()"
           ng-if="stateHotel"
           target="_blank"
        >
        </a>

        <div class="bottom-actions">
            <!--<a href="javascript:void(0);"-->
               <!--class="button button-middle button-orange button-replace"-->
               <!--ng-if="!(stateHotel && !asMap) && !hotelCount"-->
               <!--ng-click="toggleTab('hotel', $event)"-->
            <!--&gt;-->
                <!--Еще варианты отелей {{asMap}}-->
            <!--</a>-->
            <!--<a href="javascript:void(0);"-->
               <!--class="button button-middle button-orange button-replace"-->
               <!--ng-if="!stateHotel && !asMap && hotelCount"-->
               <!--ng-click="toggleTab('hotel', $event)"-->
            <!--&gt;-->
                <!--Еще-->
                <!--{{hotelCount}}-->
                <!--{{hotelCount | pluralize: [-->
                <!--"вариант отеля",-->
                <!--"варианта отелей",-->
                <!--"вариантов отелей"-->
                <!--]}}-->
            <!--</a>-->
            <!--<a class="bottom-actions__button bottom-actions__button_action_details"-->
               <!--href="{{computedUrlDetails()}}"-->
               <!--link-in-new-window-if-can-->
               <!--ng-click="bundleHotelDetails()"-->
               <!--ng-if="stateHotel"-->
               <!--target="_blank"-->
               <!--style="top: -22px;right: 0; z-index: 20"-->
            <!--&gt;Подробнее</a>-->
            <!-- tripadvisor -->
            <div ng-if="typeEtap == 'Search'" class="hotel-info__tripadvisor">
                <div trip-advisor-directive hotel-data="recommendedPair.hotel.data"></div>
            </div>
            <span ng-if="typeEtap == 'Details'" class="room-title">{{recommendedPair.hotel.data.Room.RoomName}}<br/></span>
            <span ng-if="typeEtap == 'Details'" class="room_bed-type-list">
		                    <span ng-repeat="bed in recommendedPair.hotel.data.Room.BedTypeList">
		                        {{bed.Name}}<span ng-if="!$last">,&nbsp;</span>
		                    </span>
            </span>
            <div class="hotel-go-to-map">
                        <span class="hotel-info-name-link"
                              ng-click="recommendedHotelToMap()"
                        >(на карте)</span>
                <!--EventManager.fire(Events.DYNAMIC_SERP_GO_TO_MAP, this.get('modelHotel'));-->
            </div>
        </div>


        <!-- separator -->
        <!--<div class="b-result-cell__gap">-->
            <!--<div class="b-result-cell__gap_wrap"></div>-->
        <!--</div>-->
    </div>

    <div class="b-result__cell b-result__cell_ticket"
         ng-click="bundleTicketDetails($event, recommendedPair.ticket)"
         ng-style="{cursor: (stateTicket|defined) && !stateTicket ? 'pointer' : 'default'}">

        <div ng-if="!isClosed && recommendedPairStatus == 5"
             tooltip-directive-base
             tooltip-klass="nocorner:fixed"
             close="true"
             position="top_right"
             is-visible="isVisible"
             width="300"
             templ="popover.hbs.html">

            <div class="b-tooltip__header">
                <h3>Перелет был изменен</h3>
            </div>

            <div class="b-tooltip__body">
                <span class="b-tooltip__body__text">
                    К сожалению, выбранный вариант перелета уже
                недоступен, в пакет будет включен рекомендованный перелет.
                </span>
            </div>
        </div>


        <div class="spinner spinner-ticket">
            <div class="rect rect1"></div>
            <div class="rect rect2"></div>
            <div class="rect rect3"></div>
            <div class="rect rect4"></div>
            <div class="rect rect5"></div>
        </div>


        <!-- ЛОГОТИПЫ АВИАКОМПАНИЙ -->


        <span class="icon-sprite-airplane"></span>

        <div class="flight-info">
            <ng:any partials-collection
                    partial-name="logoAvia"
                    class="recommendedPairTicket recommendedPairTicketLogo"
                    ticket-model="recommendedPair.ticket"
                    to-or-back="To"/>
            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="OutCode"
                        date="recommendedPair.ticket.data.DepartureDate"
                        avia-info="recommendedPair.ticket.data"/>
                {{recommendedPair.ticket.data.EtapsTo[0].data.OutPort}}
            </span>

            <ng:any partials-collection
                    partial-name="flightTimeArrow"
                    direction="To"
                    avia-info="recommendedPair.ticket.data"/>

            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="InCode"
                        date="recommendedPair.ticket.data.ArrivalDate"
                        avia-info="recommendedPair.ticket.data"/>
                {{recommendedPair.ticket.data.EtapsTo[recommendedPair.ticket.data.EtapsTo.length - 1].data.InPort}}
            </span>
        </div>

        <div class="flight-info">
            <ng:any partials-collection
                    partial-name="logoAvia"
                    class="recommendedPairTicket recommendedPairTicketLogo"
                    ticket-model="recommendedPair.ticket"
                    to-or-back="Back"/>
            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="OutCodeBack"
                        date="recommendedPair.ticket.data.BackDepartureDate"
                        avia-info="recommendedPair.ticket.data"/>
                {{recommendedPair.ticket.data.EtapsBack[0].data.OutPort}}
            </span>

            <ng:any partials-collection
                    partial-name="flightTimeArrow"
                    direction="Back"
                    avia-info="recommendedPair.ticket.data"/>

            <span class="date">
                <ng:any partials-collection
                        partial-name="weekDateTimeCode"
                        direction="InCodeBack"
                        date="recommendedPair.ticket.data.BackArrivalDate"
                        avia-info="recommendedPair.ticket.data"/>
                {{recommendedPair.ticket.data.EtapsBack[recommendedPair.ticket.data.EtapsBack.length - 1].data.InPort}}
            </span>

        </div>

        <div class="bottom-actions">
            <!--<a href="javascript:void(0);"-->
               <!--class="button button-middle button-orange button-replace"-->
               <!--ng-if="!stateTicket && !ticketCount"-->
               <!--ng-click="toggleTab('ticket', $event)">-->
                <!--Еще варианты перелета-->
            <!--</a>-->
            <!--<a href="javascript:void(0);"-->
               <!--class="button button-middle button-orange button-replace"-->
               <!--ng-if="!stateTicket && ticketCount"-->
               <!--ng-click="toggleTab('ticket', $event)">-->
                <!--Еще-->
                <!--{{ticketCount}}-->
                <!--{{ticketCount | pluralize: [-->
                <!--"вариант перелета",-->
                <!--"варианта перелета",-->
                <!--"вариантов перелета"-->
                <!--]}}-->
            <!--</a>-->
            <!--<a href="javascript:void(0);"-->
               <!--style="right: 0;bottom: -10px"-->
               <!--class="bottom-actions__button bottom-actions__button_action_details"-->
            <!--&lt;!&ndash;ng-if="stateTicket"&ndash;&gt;-->
            <!--&gt;Подробнее</a>-->
        </div>

        <!-- separator -->
        <!--<div class="b-result-cell__gap">-->
            <!--<div class="b-result-cell__gap_wrap"></div>-->
        <!--</div>-->
    </div>

    <div class="b-result__cell result-buy">

        <div class="spinner">
            <div class="rect rect1"></div>
            <div class="rect rect2"></div>
            <div class="rect rect3"></div>
            <div class="rect rect4"></div>
            <div class="rect rect5"></div>
        </div>

        <div share-link-directive
             location="{{location}}"
             position="left"></div>


        <div class="b-price" ng-if="!CostPerPersonShow">
            <div class="b-price__container">

                <div class="b-price-profit" ng-if="recommendedPair.getProfit() > 1000">
                    <div class="b-price-profit__price">
                        {{recommendedPair.getFullPrice() | price}}
                        <i class="fa fa-rub b-price__rub"></i>
                    </div>
                    <!--<div class="b-price__desc b-price__desc&#45;&#45;gray">-->
                        <!--по отдельности-->
                    <!--</div>-->
                </div>

                <div class="b-price-block" ng-class="{'b-price-block__margin-top':(recommendedPair.getProfit() < 1000)}">
                    <div class="b-price__value">
                        {{recommendedPair.getFullPackagePrice() | price}}
                        <i class="fa fa-rub b-price__rub"></i>
                        <ng:any ng-if="recommendedPair.hotel.data.PriceObject && $root.user.getAgencyType() != 1 && $root.user.isAgency()"
                                price-generic-directive
                                price-object="recommendedPair.hotel.data.PriceObject"
                                tooltip-klass="bundle"></ng:any>
                    </div>
                    <div class="b-price__desc">
                        Стоимость пакета
                        за {{recommendedPair.ticket.data.PassengerCount}}x
                        <!--{{recommendedPair.ticket.data.PassengerCount | pluralize: [-->
                        <!--"человека",-->
                        <!--"человек",-->
                        <!--"человек"-->
                        <!--]}}-->
                    </div>
                    <div class="b-price__desc b-price__desc--economy"
                         ng-if="recommendedPair.getProfit() > 1000">
                        экономия: {{recommendedPair.getProfit() | price}}
                        <i class="fa fa-rub b-price__rub"></i>
                    </div>
                </div>

            </div>
        </div>

        <div class="b-cost" ng-if="CostPerPersonShow">

            <div class="b-cost__price">
                <div class="b-cost-corner">
                    <div ng-if="recommendedPair.getProfit() > 1000">
                        {{recommendedPair.getStandartCostPerPersonPrice() | price}}
                        <i class="fa fa-rub"></i>
                    </div>
                </div>
                <div class="b-cost__price-value">
                    {{recommendedPair.getCostPerPersonPrice() | price}}
                    <i class="fa fa-rub"></i>

                    <!-- tooltip price -->
                    <ng:any ng-if="recommendedPair.hotel.data.PriceObject && $root.user.getAgencyType() != 1 && $root.user.isAgency()"
                            price-generic-directive
                            price-object="recommendedPair.hotel.data.PriceObject"
                            tooltip-klass="bundle"></ng:any>
                </div>
                <div class="b-cost__price-desc">цена за человека</div>
            </div>

            <div class="b-cost__price-sum">
                К оплате:
                {{recommendedPair.getFullPackagePrice() | price}}
                <i class="fa fa-rub"></i>
            </div>

        </div>

        <a link-in-new-window-if-can class="button"
           href="{{computedUrlDetails('buy')}}"
           target="_blank"
           ng-if="(typeEtap == 'Search')"
           ng-click="packagesBuySearch()">
            Купить
        </a>
        <a link-in-new-window-if-can class="button"
           ng-if="typeEtap == 'Details' && recommendedPair.hotel.data.Room"
           ng-click="goReservation(recommendedPair.hotel.data.Room)">
            Купить
        </a>

    </div>
</div>
<!--<a href="javascript:void(0);"-->
   <!--class="button button-middle button-orange button-replace"-->
   <!--ng-if="!stateTicket && !ticketCount"-->
   <!--ng-click="toggleTab('ticket', $event)">-->
    <!--Еще варианты перелета-->
<!--</a>-->
<!--<a href="javascript:void(0);"-->
   <!--class="button button-middle button-orange button-replace"-->
   <!--ng-if="!stateTicket && ticketCount"-->
   <!--ng-click="toggleTab('ticket', $event)">-->
    <!--Еще-->
    <!--{{ticketCount}}-->
    <!--{{ticketCount | pluralize: [-->
    <!--"вариант перелета",-->
    <!--"варианта перелета",-->
    <!--"вариантов перелета"-->
    <!--]}}-->
<!--</a>-->
