<div class="recommend-bundle-container">

	<!--ng-class="{'recommend-bundle-container_short':!isVisible}"-->
	<ng-include src="'components/wl-new-search/templ/index.hbs.html'"></ng-include>
<form class="b-search-form" ng-controller="DynamicFormCtrl" ng-if="!_dynamicSearchFormInvisible"
	  ng-class="{'b-search-form_padding-1px': FormExpand, 'b-search-form_padding-16px': !FormExpand}"
	  style="{{(!isOpenSearchForm) ? 'display:none' : 'display:block'}}">

	<!--<a href="/#/" class="header-info__logo" ng-class="{'block_close': isEnableSearchForm}">-->
		<!--<i class="logo_inna" alt="ИННА ТУР" title="ИННА ТУР"></i>-->
	<!--</a>-->

	<div location-selector tab-index="1"
		 theme="search-field-block search__city dp-border"
		 placeholder="Откуда"
		 selected-value="fromCity"
		 type-search="DP_from"
	></div>

	<div location-selector tab-index="2"
		 theme="search-field-block search__city search-device"
		 placeholder="Куда"
		 selected-value="toCity"
		 type-search="DP_to"
	></div>

	<!--
    <div dropdown-input
         theme="search-field-block search__city"
         provide-suggest-callback="provideSuggestToFromList"
         suggest="fromList"
         result="fromCurrent"
         set-result-callback="setResultCallbackFrom(item)"
         ask-for-data="loadObjectById"
         placeholder="Откуда"
         on-error="Введите город отправления"
         with-country="true"
         event="dp_form_from_update"></div>


<div dropdown-input
     theme="search-field-block search__city"
     provide-suggest-callback="provideSuggestToToField"
     suggest="toList"
     result="toCurrent"
     set-result-callback="setResultCallbackTo(item)"
     ask-for-data="loadObjectById"
     placeholder="Куда"
     on-error="Введите город или страну, куда планируете поехать"
     with-country="true"
     event="dp_form_to_update"></div>
-->

	<div date-picker-widget tab-index-from="3" tab-index-to="4"
		 interval="false"
		 date1="dateBegin"
		 date2="dateEnd"
		 max-date="maxDateEnd"
		 type-page="'DP'"
		 class="b-wrapp_type_inline date-picker-widget"></div>

	<div class="human-class">
		<div counter-people click-on-focus tabindex="5"
			 adult-count="adultCount"
			 children-count="childrenCount"
			 childrens-age="childrensAge"
			 type-page="'DP'"

			 class="no-outline-on-focus counter-people dp-search-reserve"></div>

		<div trip-preferences click-on-focus tabindex="6" class="no-outline-on-focus"
			 show-back-trip-options="false"
			 klass-model="klass"
			 type-page="'DP'"></div>
	</div>

	<!--<people-trip-preferences tabindex="5"-->
	<!--adult-count="adultCount"-->
	<!--children-count="childrenCount"-->
	<!--childrens-age="childrensAge"-->
	<!--klass-model="klass"-->
	<!--type-page="'DP'"-->
	<!--class="b-wrapp_type_inline no-outline-on-focus">-->
	<!--</people-trip-preferences>-->

	<div tabindex="7" click-on-focus class="search-form__submit search-button-block_small no-outline-on-focus"
		 ng-click="searchStart($event)">
		Найти
		<!--<i class="icon-sprite-search search-button__icon"></i>-->
	</div>

	<vertical-menu class="icon-vert-menu" ng-class="{'block_close': isEnableSearchForm}"></vertical-menu>

</form>
	<div class="recommend-bundle">

		<!--<div class="recommend-bundle-background"></div>-->

		<div class="scroll-fix ">
			<div class="main__center recommend-bundle-wrap">
				<!--ng-class="{'recommend-bundle-wrap_small': !isVisible}"-->

				<h3 class="recommend-bundle-title" ng-if="isChooseHotel && isVisible || isChooseHotel && asMap">
					Выбранный вариант
					<!--ng-if="!isClosed && recommendedPairStatus == 6"-->
					<!--<div-->
					     <!--tooltip-directive-base-->
					     <!--tooltip-klass="nocorner:fixed"-->
					     <!--close="true"-->
					     <!--position="right_right"-->
					     <!--is-visible="isVisible"-->
					     <!--width="300"-->
					     <!--templ="popover.hbs.html" class="b-display-inline">-->

						<!--<div class="b-tooltip__header">-->
							<!--<h3>Пакет был изменен</h3>-->
						<!--</div>-->

						<!--<div class="b-tooltip__body">-->
				            <!--<span class="b-tooltip__body__text">-->
				              <!--К сожалению, выбранный пакет Перелет+Отель-->
					            <!--уже недоступен, будет предложен рекомендованный вариант.-->
				            <!--</span>-->
						<!--</div>-->

					<!--</div>-->

					<div share-link-directive
						 location="{{location}}"
						 position="left"></div>
				</h3>


				<h3 class="recommend-bundle-title" ng-if="!isChooseHotel && isVisible || !isChooseHotel && asMap">
					<span ng-if="!defaultRecommendedPair.Cheapest">Рекомендуем</span>
					<span ng-if="defaultRecommendedPair.Cheapest">Базовый вариант по минимальной цене</span>
					<!--<div share-link-directive-->
						 <!--location="{{location}}"-->
						 <!--position="left"></div>-->
				</h3>

				<!--Вставляем регалку-->
				<!--<div class="header-info__right loginndp">-->

					<!--<ng:include src="'auth/header_black.html'" class="authindp"></ng:include>-->

				<!--</div>-->

				<!--<div class="expand-collapse-link w-expand-collapse-link_up w-expand-collapse-link" ng-if="isVisible">-->
                    <!--<i class="fa fa-caret-up"></i>-->
                    <!--<a href="javascript:void(0);" ng-click="display.toggle()">-->
                        <!--Свернуть-->
                    <!--</a>-->
				<!--</div>-->

				<div recommended-pair-component-big
				     class="recommended-pair"
				     recommended-pair="recommendedPair"
				     recommended-pair-status="recommendedPairStatus"
				     is-closed="isClosed"
				     is-visible="isVisible"
				     toggle-tab="toggleTab"
				     state-ticket="stateTicket"
				     state-hotel="stateHotel"
				     tab-active="tabActive"
				     as-map="asMap"
					 type-etap="'Search'"
				     inna-dynamic-bundle-with-reservation-button="true"></div>

				<!--<div recommended-pair-component-mini ng-if="!isVisible"></div>-->
				<div class="panel-tabs-dp" ng-if="isVisible && !asMap">
					<div class="panel-tabs-dp__tab panel-tabs-dp__tab_avia"
						 ng-click="toggleTab('ticket', $event)"
						 ng-class="{'panel-tabs-dp__tab_selected':(!stateHotel)}">
						<!--'panel-tabs-dp__tab_selected panel-tabs-dp__tab_avia-long':(!stateHotel)-->
						<!--'panel-tabs-dp__tab_avia': stateHotel-->
						<i ng-class="{'icon-aircraft-blue':(!stateHotel), 'icon-aircraft-gray': (stateHotel)}"></i>
						Выбрать перелет
					</div>
					<div class="panel-tabs-dp__tab panel-tabs-dp__tab_hotel"
						 ng-click="toggleTab('hotel', $event)"
						 ng-class="{'panel-tabs-dp__tab_selected':(!stateTicket)}">
						<i ng-class="{'icon-hotel-blue':(!stateTicket), 'icon-hotel-gray': (stateTicket)}"></i>
						Выбрать отель
					</div>
					<!--ng-if="stateHotel"-->
					<div class="panel-tabs-dp__tab panel-tabs-dp__tab_hotel-map"
						 ng-class="{'panel-tabs-dp__tab_selected':(asMap)}"
						 ng-click="goToMap()">

						<i ng-class="{'icon-hotel-map-blue':(asMap), 'icon-hotel-map-gray': (!asMap)}"></i>
						Отели на карте
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- панель фильтрации отелей -->
	<ng:any filter-panel-hotel
	        filters-settings="filtersSettingsHotels"
            as-map="asMap"
	        type-panel="hotels"
	        active-panel="activePanel"
	        ng-show="(filtersSettingsHotels && isVisible) || (filtersSettingsHotels && asMap)"></ng:any>

	<!-- панель фильтрации билетов -->
	<ng:any filter-panel-avia
	        filters-settings="filtersSettingsTicket"
	        type-panel="ticket"
	        active-panel="activePanel"
	        ng-show="(filtersSettingsTicket && isVisible) || (filtersSettingsTicket && asMap)"></ng:any>
</div>
