.Payment {
    padding-top: $padding_over_search - 10px;
    padding-bottom: 50px;
    background: $white;
}
.Payment__iframe-container {
    height: 420px;
    width: 642px;
    margin: 0 auto;
}
.Payment__iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.Payment__success {
    padding 20px
    background: $white;
}
.Payment__title {
    padding 0 0 20px
    border-bottom 3px solid $green
    font-size 20px
    font-weight bold
}
.Payment__body {
    line-height 35px
    font-size 22px
    text-align center
    padding 80px 0
}
.Payment__body-error {
    color $red
}
