.Payment {
    padding-top: $padding_over_search;
    padding-bottom: 100px;
    background: $white;
}
.Payment__iframe-container {
    height: 500px;
}
.Payment__iframe {
    width: 100%;
    height: 100%;
    border: none;
}
