.b-tripadvisor {
	position : relative;
	padding-left : 29px;
	font-size: 12px;
	padding-top : 2px;
	line-height: 15px
	vertical-align top

	&.b-tripadvisor_short {
		padding-left : 0px;
    line-height: 0em;

    .b-tripadvisor__owl {
      display : none;
    }
	}

	&__owl {
		position : absolute;
		left :0;
		top:0;
	}

	&__reviews {
		padding-left: 7px;
		color :#878787;
		//padding-top :3px;
	}

}

.b-tripadvisor-widget-iframe {
  line-height :0;

  .iframe_widget {
    margin: 0;
    padding: 0;
    border: 0 none;
  }
}