.b-tripadvisor {
	position : relative;
	font-size: 12px;
	padding-top : 4px;
	line-height: 15px
	vertical-align top

	&.b-tripadvisor_short {
		padding-left : 0px;
    line-height: 0em;

    .b-tripadvisor__owl {
      display : none;
    }


	}

	&__owl {
		vertical-align : middle;
		padding-right:2px;
	}

	&__owl_icon {
		transform : translateY(-7%);
	}

	&__reviews {
		padding-left: 7px;
		color: #9CA6B0;
		//padding-top :3px;
	}

	&_detail {
		.b-tripadvisor__reviews {
			padding-left: 0px;
		}
	}

}

.b-tripadvisor-widget-iframe {
  line-height :0;

  .iframe_widget {
    margin: 0;
    padding: 0;
    border: 0 none;
  }
}