<form class="b-search-form search-ticket-form" ng-controller="AviaFormCtrl"
      ng-class="{'b-search-form_padding-1px': FormExpand, 'b-search-form_padding-16px': !FormExpand}">
    <div dropdown-input tab-index="1"
        theme="search-field-block search__city"
        provide-suggest-callback="provideSuggestToFromList"
        suggest="fromList"
        result="criteria.FromId"
        set-result-item="fromInit"
        set-result-callback="setResultCallbackFrom(item)"
        ask-for-data="loadObjectById"
        placeholder="Откуда"
        on-error="Введите город отправления"
        with-country="true"
        event="avia_form_from_update"></div>

    <div dropdown-input tab-index="2"
        theme="search-field-block search__city"
        provide-suggest-callback="provideSuggestToToField"
        suggest="toList"
        result="criteria.ToId"
        set-result-item="toInit"
        set-result-callback="setResultCallbackTo(item)"
        ask-for-data="loadObjectById"
        placeholder="Куда"
        on-error="Введите город или страну, куда планируете поехать"
        with-country="true"
        event="avia_form_to_update"></div>

    <span date-picker-widget tab-index-from="3" tab-index-to="4"
        interval="false"
        date1="criteria.BeginDate"
        date2="criteria.EndDate"
        add-buttons="true"
        data="datepickerButtons"
        max-date="maxDate"
        type-page="'AVIA'"
        class="b-wrapp_type_inline date-picker-widget"></span>

    <div people-component click-on-focus tabindex="5"
         adult-count="criteria.AdultCount" child-count="criteria.ChildCount" infants-count="criteria.InfantsCount"></div>

	<div trip-preferences click-on-focus tabindex="6"
        show-back-trip-options="false"
        klass-model="klass"
        type-page="'AVIA'"></div>
    <div click-on-focus tabindex="7"
        class="search-form__submit search-button-block_small no-outline-on-focus" ng-click="searchStart($event)">
        Найти
	    <!--<i class="icon-sprite-search search-button__icon"></i>-->
    </div>
</form>