<form class="b-search-form search-ticket-form" ng-controller="DynamicFormCtrl" ng-if="!_dynamicSearchFormInvisible">

	<a href="/#/" class="header-info__logo" style="{{(isEnableSearchForm) ? 'display:none' : ''}}">
		<i class="icon-logo js-company-logo" alt="ИННА ТУР" title="ИННА ТУР"></i>
	</a>

	<div location-selector tab-index="1"
	     theme="search-field-block search__city"
	     placeholder="Откуда"
	     selected-value="fromCity"
	     type-search="DP_from"
			></div>

	<div location-selector tab-index="2"
	     theme="search-field-block search__city"
	     placeholder="Куда"
	     selected-value="toCity"
	     type-search="DP_to"
			></div>

	<!--
	<div dropdown-input
		 theme="search-field-block search__city"
		 provide-suggest-callback="provideSuggestToFromList"
		 suggest="fromList"
		 result="fromCurrent"
		 set-result-callback="setResultCallbackFrom(item)"
		 ask-for-data="loadObjectById"
		 placeholder="Откуда"
		 on-error="Введите город отправления"
		 with-country="true"
		 event="dp_form_from_update"></div>


<div dropdown-input
	 theme="search-field-block search__city"
	 provide-suggest-callback="provideSuggestToToField"
	 suggest="toList"
	 result="toCurrent"
	 set-result-callback="setResultCallbackTo(item)"
	 ask-for-data="loadObjectById"
	 placeholder="Куда"
	 on-error="Введите город или страну, куда планируете поехать"
	 with-country="true"
	 event="dp_form_to_update"></div>
-->

    <div date-picker-widget tab-index-from="3" tab-index-to="4"
            interval="false"
            date1="dateBegin"
            date2="dateEnd"
            max-date="maxDateEnd"
		 	type-page="'DP'"
            class="b-wrapp_type_inline date-picker-widget"></div>    
    
	<div counter-people click-on-focus tabindex="5"
	     adult-count="adultCount"
	     children-count="childrenCount"
	     childrens-age="childrensAge"
		 type-page="'DP'"
	     class="b-wrapp_type_inline no-outline-on-focus"></div>

	<div trip-preferences click-on-focus tabindex="6" class="no-outline-on-focus"
	     show-back-trip-options="false"
	     klass-model="klass"
		 type-page="'DP'"></div>

	<div tabindex="7" click-on-focus class="search-form__submit search-button-block_small no-outline-on-focus"
		 ng-click="searchStart($event)">
		Найти
		<!--<i class="icon-sprite-search search-button__icon"></i>-->
	</div>

	<vertical-menu class="icon-vert-menu" style="{{(!isEnableSearchForm) ? 'display:block' : 'display:none'}}"></vertical-menu>

</form>