<form class="b-search-form search-ticket-form" ng-controller="DynamicFormCtrl" ng-if="!_dynamicSearchFormInvisible">
	<div style="position: absolute;left: -200px; top: -80px; background: #fff; padding: 15px;width: 120px; height: 100px;font-size: 15px">
		{{ fromCurrent }}
		<hr/>
		{{ currentItem }}
	</div>


	<div location-selector
	     theme="search-field-block search__city"
	     placeholder="Откуда"
	     result="fromCurrent"
	     event="dp_form_from_update"
			></div>

	<!--
		<div dropdown-input
			 theme="search-field-block search__city"
			 provide-suggest-callback="provideSuggestToFromList"
			 suggest="fromList"
			 result="fromCurrent"
			 set-result-callback="setResultCallbackFrom(item)"
			 ask-for-data="loadObjectById"
			 placeholder="Откуда"
			 on-error="Введите город отправления"
			 with-country="true"
			 event="dp_form_from_update"></div>
	-->

	<div dropdown-input
	     theme="search-field-block search__city"
	     provide-suggest-callback="provideSuggestToToField"
	     suggest="toList"
	     result="toCurrent"
	     set-result-callback="setResultCallbackTo(item)"
	     ask-for-data="loadObjectById"
	     placeholder="Куда"
	     on-error="Введите город или страну, куда планируете поехать"
	     with-country="true"
	     event="dp_form_to_update"></div>


	<div date-picker-widget
	     interval="false"
	     date1="dateBegin"
	     date2="dateEnd"
	     max-date="maxDateEnd"
	     class="b-wrapp_type_inline date-picker-widget"></div>

	<div counter-people
	     adult-count="adultCount"
	     children-count="childrenCount"
	     childrens-age="childrensAge"
	     class="b-wrapp_type_inline"></div>

	<div trip-preferences
	     show-back-trip-options="false"
	     klass-model="klass"></div>

	<div class="search-form__submit search-button-block_small" ng-click="searchStart()"></div>

</form>