<form class="b-search-form hotels-search-form clearfix" ng-controller="DynamicFormCtrl" ng-if="!_dynamicSearchFormInvisible">

	<div location-selector tab-index="2"
	     theme="search-field-block hotels-search-city"
	     placeholder="Город/Название отеля"
	     selected-value="toCity"
	     type-search="DP_to"
	></div>

	<div date-picker-widget tab-index-from="3" tab-index-to="4"
	     interval="false"
	     date1="dateBegin"
	     date2="dateEnd"
	     max-date="maxDateEnd"
	     class="b-wrapp_type_inline date-picker-widget"></div>

	<div counter-people click-on-focus tabindex="5"
	     adult-count="adultCount"
	     children-count="childrenCount"
	     childrens-age="childrensAge"
	     class="b-wrapp_type_inline no-outline-on-focus"></div>


	<div tabindex="7" click-on-focus class="search-form__submit search-button-block_small no-outline-on-focus"
	     ng-click="searchStart($event)">
		Найти
	</div>

</form>
