.agency-reg-form-promo{
    width 960px
    margin 0 auto
    padding 0 0 50px
}
.agency-reg-form-promo__title{
    padding 75px 0
    font-size 34px
    font-weight 400
    color #212121
    text-align center
}
.agency-reg-form-promo__row{
    clearfix()
}
.agency-reg-form-promo__col{
    float left
    width 320px
    text-align center
    font-size 18px
}
.agency-reg-form-promo__col-txt{
    margin 20px 0 0 0
}
.icon-sprite-agency-reg-form-promo-2{
    margin-top 20px
    margin-bottom 15px
}
.agency-reg-form-promo_link_desc{
    margin 70px 0 0
    text-align center
    font-size 24px
    
    a{
        color #2185c0
        text-decoration underline
    }
}
.agency-reg-form-cont{
    position relative
    height 975px
    box-sizing border-box
    padding 30px 0 50px

    .agency-reg-form-cont-bg{
        position absolute
        top 0
        height 975px
        width 100%
        background url("/spa/img/agencyRegBg.jpg") no-repeat center center
        background-size cover
        opacity .6
    }
}
.agency-reg-form-head{
    clearfix()
    position relative
    z-index 2
    box-sizing border-box
    width 780px
    margin 0 auto 30px

    h2{
        float left
        padding-top 15px
        font-size 25px
        font-weight 400
        color #212121
    }

    .brand-bookinna{
        float right
        height 38px
        width 187px
        background url("/spa/img/bookinna.png")
    }
}
.agency-reg-form{
    position relative
    z-index 2
    box-sizing border-box
    width 800px
    margin 0 auto
    padding 50px 115px 35px
    background-color rgba(255, 255, 255, .7)
    border-radius 10px

    .b-field-group{
        .b-field-block{
            margin-left 10px

            &.no-float{
                float none
            }
        }

        &.action{
            margin 15px 0 0 0
            text-align right
        }
    }

    .b-field-label{
        margin-bottom 4px
        color #000
        font-size 15px
    }
    .b-field-text{
        padding 8px 10px
        font-size 15px
    }
    .b-field-error{
        position relative
        margin -5px 0 0 0
        padding 0 0 10px 10px
        color #c1272d
        font-size 15px

        .fa{
            margin-right 3px
            font-size 18px
        }
    }

}