btn-orange(){
    font-size 18px
    font-weight bold
    color $white
    text-align center
    text-shadow 0 -1px 0 #ff8600
    font-family "Open Sans", Arial, sans-serif
}
.partner-wl{
    
    .balloon-button{
        height 36px
        width 160px
        line-height 36px
        box-sizing border-box
        padding 0 10px
        text-transform: uppercase;
        font-size: 18px;
        border none
        background $btn-bg !important
        font-family: 'HouschkaRoundedAlt-Bold';
        color $white
        box-shadow none
    }
    
    .b-tooltip-share__button{
        &:hover{
            background: $btn-bg;
        }
    }
        
    .result-buy .button{
        left 10px
        bottom 15px
        height 36px
        width 160px
        line-height 36px
        box-sizing border-box
        padding 0 10px
        text-transform: uppercase;
        font-size: 18px;
        border none
        background-color $btn-bg
        font-family: 'HouschkaRoundedAlt-Bold';
    }
    
    .button-scroll-to-more{
        background-color $btn-bg
        font-family: 'HouschkaRoundedAlt-Bold';
        color $white
        box-shadow none
    
        .icon-arrow-bottom{
            border-color: $white transparent transparent;
    
            &:after{
                border-color: $btn-bg transparent transparent;
            }
        }
    }
    
    .b-list-panel__hotels_list .button{
        height 36px
        width 160px
        line-height 36px
        box-sizing border-box
        padding 0 10px
        text-transform: uppercase;
        font-size: 18px;
        border none
        background-color $btn-bg
        color $white
        font-family: 'HouschkaRoundedAlt-Bold';
    }
    
    .btn.btn-green{
        height 36px
        width 160px
        line-height 36px
        box-sizing border-box
        padding 0 10px
        text-transform: uppercase;
        font-size: 18px;
        border none
        background-color $btn-bg
        font-family: 'HouschkaRoundedAlt-Bold';
        color $white
        box-shadow none
    }
    
    .hotel-details-rooms__room-price{
        padding-right 25px !important
    }
    .hotel-details-rooms__room-actions{
        width 161px
    }
    
    .rl-buy-button{
        height 36px
        width 160px
        line-height 36px
        box-sizing border-box
        padding 0 10px
        text-transform: uppercase;
        font-size: 18px;
        border none
        background-color $btn-bg
        font-family: 'HouschkaRoundedAlt-Bold';
        color $white
        box-shadow none
    }
    
    .hotel-details-rooms__room-actions .button{
        btx-button1();
    }
    
    .b-tooltip-share__button.active{
        color-bg-share-wl();
    }
    
    .b-sum-button{    
        height 48px
        width 224px
        line-height 48px
        box-sizing border-box
        padding 0 10px
        text-transform: uppercase;
        font-size: 18px;
        border none
        background-color $btn-bg-orange
        font-family: 'HouschkaRoundedAlt-Bold';
        color #333
        box-shadow none
    }
    
    .b-pay-button{
        height 48px
        width 188px
        line-height 48px
        box-sizing border-box
        padding 0 10px
        text-transform: uppercase;
        font-size: 18px;
        border none
        background-color $btn-bg-orange
        font-family: 'HouschkaRoundedAlt-Bold';
        color #333
        box-shadow none
    }
    
    .wl-search{
        display inline-block
        height 36px
        line-height 36px
        box-sizing border-box
        margin: 6px 10px 0px 0px;
        padding 0 10px
        text-transform: uppercase;
        position: absolute;
        right: 0px;
        font-size: 18px;
        border none
        background-color $btn-bg
        font-family: 'HouschkaRoundedAlt-Bold';
    }
}
.pin .pin-balloon .button{
    height 36px
    width 160px
    line-height 36px
    box-sizing border-box
    padding 0 10px
    text-transform: uppercase;
    font-size: 18px;
    border none
    background-color $btn-bg-orange
    font-family: 'HouschkaRoundedAlt-Bold';
    color #333
    box-shadow none
}