@font-face{
    font-family: 'HouschkaRoundedAlt-Medium';
    src: url('/spa/img/partners/euroset/houschkarounded-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/spa/img/partners/euroset/houschkarounded-medium-webfont.woff') format('woff'),
    url('/spa/img/partners/euroset/houschkarounded-medium-webfont.ttf') format('truetype'),
    url('/spa/img/partners/euroset/houschkarounded-medium-webfont.svg#HouschkaRoundedAlt-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'HouschkaRoundedAlt-Bold';
    src: url('/spa/img/partners/euroset/houschka_rounded_bold.eot?#iefix') format('embedded-opentype'),
    url('/spa/img/partners/euroset/houschka_rounded_bold.woff') format('woff'),
    url('/spa/img/partners/euroset/houschka_rounded_bold.ttf') format('truetype'),
    url('/spa/img/partners/euroset/houschka_rounded_bold.svg#HouschkaRoundedAlt-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
