@import "../euroset/font-page.styl"

body{
    font-family: 'HouschkaRoundedAlt-Medium', sans-serif;
}
.logo_text{
    font-family: 'HouschkaRoundedAlt-Medium', sans-serif;
}
.info-bar .navbar .nav > li > a{
    font: 16px / 48px "HouschkaRoundedAlt-Bold", sans-serif;
}
.page{
    padding-bottom 20px
}
.footer_block{
    padding-top 30px
}
.container{
    width 960px
    margin 0 auto

    &:after,
    &:before{
        content ''
        display table
        clear both
    }
}
.bg-search{
    height 450px
}
    
    .div_page_cover{
        position relative
        margin-top -300px
    }