@import "../euroset/font.styl"

body{
    font-family: 'HouschkaRoundedAlt-Medium', ProximaNova, Arial, sans-serif;
}
.logo_text{
    font-family: 'HouschkaRoundedAlt-Medium', ProximaNova, Arial, sans-serif;
}
.info-bar .navbar .nav > li > a{
    font: 16px / 48px "HouschkaRoundedAlt-Bold";
}