/* ----------- now ---------- */


.button {
  transition : background-color  .3s ease;
  border-radius 3px
  background: #89c13a;
  text-shadow 0 0 transparent
  color: #fff;
  cursor: pointer;
  font-family : ProximaNova, Arial, sans-serif;
  font-weight : normal;
  padding 6px 16px
  display inline-block
  margin: 0;
  outline: none;
  position relative;
  overflow hidden;


  // TODO : defrecated
  input {
    position absolute
    display block
    left 0
    top 0
    width 300px
    height 300px
    cursor pointer
    border 0
    opacity 0
  }



  &:hover {
    text-decoration none
    background: #95cd47;
  }

  &.disabled {
    background: #e4e4e4;
    cursor: auto;
  }


  &_inline {
    display inline-block
    padding 8px 38px
    line-height 1
    font-size 18px
    font-weight bold
  }

  &_small {
    padding 7px 30px
    font-size 14px
    font-weight bold
    border-top 1px solid #bddd90
    display inline-block
    margin 0 2px 0 0
    line-height 1
  }


  &__red {
    background #a82e00

    &:hover {
      background #c33500
    }
  }


  &_size_l {
    font-size 18px
    font-weight normal
    height 30px
    width 170px
  }
  &_size_xl {
    font-size 18px
    font-weight normal
    height 40px
    width 170px
  }

}





/* ------- new --------- */

.btn {
  box-sizing : border-box;
  background-color: #e8ebef;
  background: linear-gradient(top, #fff 0, #e1e5ea 100%);
  border-radius : 4px;
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.5);

  display: inline-block;
  padding: 4px 18px;
  margin-bottom: 0;
  margin-right: 8px;

  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  border: 1px solid;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &:hover {

  }

	color-button('default', #f5f6f7, #f5f6f7);
	color-button('orange', #fbc33d, #ff8500);
	color-button('purple', #a9a5cf, #a9a5cf);
	color-button('blue', #5a86b4, #185591);
	color-button('red', #f72c6b, #e51052);
	color-button('green', #89c13a, #89c13a);

  &-active,
  &:active {
    /*background-color: #51422b;
		border-color: #51422b;
    background: linear-gradient(top, #51422b 0, #2a1e0e 100%);
    //box-shadow: inset 1px 1px 2px rgba(255, 255, 255, .30), inset -1px 0px 2px rgba(255, 255, 255, .30);
    text-shadow: none;*/
  }


  &.disabled,
  &[disabled] {
    box-shadow: none;
    background-color: #f5f7f8;
    background: linear-gradient(top, #f9f9fa 0, #f2f4f6 100%);
    color: #b1b2b2;
    text-shadow : none;
    border: 1px solid #e6e6e6;

    cursor: default;
    background-image: none;
    opacity: 0.75;

    &:hover,
    &:active {
      background: linear-gradient(top, #f9f9fa 0, #f2f4f6 100%);
      background-color: #f5f7f8;
      color: #b0b2b2;
    }
  }

	&.btn-no-corner {
		border-radius : 0;
	}

  &__text {
    color:#333;
  }

  &-large {
    padding: 11px 19px;
    font-size: 17.5px;
  }

  &-middle {
    padding: 4px 9px;
    font-size: 10.5px;
  }

  &-mini {
    padding: 0 6px;
    font-size: 10.5px;
  }

  &-with-preloader {
    position:relative;
    background-color:#e5e9ec !important;
    color:#707a8a !important;

    .btn__text {
      visibility: hidden;
    }

    &.more {
      background-size: 30px 10px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &-clear {
    box-shadow: none;
    color:#b5b8c4;
    border:0px none;
    background: none;
    background: transparent !important;
    padding: 10px 12px;
    height : auto;

    &:hover {
      color: #b5b8c4 !important;
    }
  }

  &-50 {
    width: 48%;
    margin-bottom: 10px;

    &:first-child {
      margin-right: 8px;
    }
  }

  &-group50 {
    width: 50%;
  }

  &-radius1 {
    border-radius: 1px;
  }


  &.more {
    padding-left: 5em;
    padding-right: @padding-left;
    margin:0;
  }

  &_last {
    border-right-width: 0;
  }

  &.block {
    width: 100%;
  }
}



