/* ----------- now ---------- */

.button{
    transition: background-color .3s ease;
    border-radius 3px
    background: #89c13a;
    text-shadow 0 0 transparent
    color: #fff;
    cursor: pointer;
    font-family: ProximaNova, Arial, sans-serif;
    font-weight: normal;
    padding 6px 16px
    display inline-block
    margin: 0;
    outline: none;
    position relative;
    overflow hidden;
    text-decoration none
    
    // TODO : defrecated
    input{
        position absolute
        display block
        left 0
        top 0
        width 300px
        height 300px
        cursor pointer
        border 0
        opacity 0
    }
    
    //&:after{
    //    content ''
    //    position absolute
    //    left 2px
    //    right 2px
    //    top: 2px
    //    display block
    //    height 2px
    //    border-top 1px solid rgba(255, 255, 255, .3)
    //    border-radius 5px
    //}
    
    &:hover{
        text-decoration none
        background: #95cd47;
    }
    
    &.disabled{
        background: #e4e4e4;
        cursor: auto;
    }
}
.button_inline{
    display inline-block
    padding 8px 38px
    line-height 1
    font-size 18px
    font-weight bold
}
.button-middle{
    padding 4px 16px
    font-size 14px
    font-weight bold
}
.button_small{
    padding 7px 30px
    font-size 14px
    font-weight bold
    border-top 1px solid #bddd90
    display inline-block
    margin 0 2px 0 0
    line-height 1
}
.button-orange{
    background #f9c623
    
    &:hover{
        //background lighten(#f9c623, 10%)
        background darken(#f9c623, 10%)
    }
}
.button__red{
    background #a82e00
    
    &:hover{
        background #c33500
    }
}
.button_size_l{
    font-size 18px
    font-weight normal
    height 30px
    width 170px
}
.button_size_xl{
    font-size 18px
    font-weight normal
    height 40px
    width 170px
}
/* ------- new --------- */

.btn{
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 15px;
    padding: 4px 18px;
    font-weight: normal;
    color: #212121;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
    border: 1px solid;
    border-color: #bdbdbd #bdbdbd #bdbdbd #bdbdbd;
    
    &:focus,
    &:active,
    &:hover{
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        tap-highlight-color: rgba(255, 255, 255, 0);
    }
    
    &:hover{
        
    }
    
    color-button('default', #f5f6f7, #f5f6f7);
    color-button('orange', #fbc33d, #ff8500);
    color-button('purple', #a9a5cf, #a9a5cf);
    color-button('blue', #5a86b4, #185591);
    color-button('red', #f72c6b, #e51052);
    color-button('green', #77b237, #77b237);
    
    &.btn-green{
        transition: background-color .3s ease;
        &:hover{
            background-color: #95cd47;
        }
    }
    
    &.disabled,
    &[disabled]{
        box-shadow: none;
        background-color: #f5f7f8;
        background: linear-gradient(top, #f9f9fa 0, #f2f4f6 100%);
        color: #b1b2b2;
        text-shadow: none;
        border: 1px solid #e6e6e6;
        
        cursor: default;
        background-image: none;
        opacity: 0.75;
        
        &:hover,
        &:active{
            background: linear-gradient(top, #f9f9fa 0, #f2f4f6 100%);
            background-color: #f5f7f8;
            color: #b0b2b2;
        }
    }
    
    &.btn-no-corner{
        border-radius: 0;
    }
}
.btn-active{
    /*background-color : #77b237;
    border-color: #77b237 #77b237 #77b237 #77b237;*/
    color: #fff;
}
.btn__text{
    color: #333;
}
.btn-large{
    padding: 7px 40px;
    font-size: 17.5px;
}
.btn-sm{
    padding: 0px 15px;
    font-size: 16px;
}
.btn-middle{
    padding: 4px 9px;
    font-size: 10.5px;
}
.btn-mini{
    padding: 0 6px;
    font-size: 10.5px;
}
