.overlay
    position fixed
    width 100%
    height 100%
    background rgba(51,51,51,.8)
    z-index 500
    left 0
    top 0
    min-width 600px
    overflow auto
    display none

.balloon
    position relative
    left 50%
    width 570px
    background #fff
    margin 0 0 20px -285px
    border-radius 7px
    padding 50px 0 30px
    text-align center
    top 100px
    box-shadow: 0 2px 10px rgba(0,0,0,.3)
    font-size 15px
    letter-spacing -.025em

.baloon-close
    position absolute
    padding 10px
    top 7px
    right 5px
    width 12px
    height 12px
    cursor pointer
    background url(../img/i.png) no-repeat 10px -1324px
    border-radius 22px

.baloon-close:hover
    background-color #ededed

.baloon-title
    font-weight bold
    font-size 18px
    padding 0 0 5px

.balloon-info
    padding 0 0 20px
    color #666

.baloon-button
    margin 0 0 20px
    display inline-block
    font-size 16px
    font-weight bold
    line-height 1
    padding 10px 20px
    border-bottom 1px solid #7bad34

.baloon-button:hover
    text-decoration none

.baloon-mail
   width 38px
   height 37px
   display block
   background url(../img/i.png) no-repeat 0 -1134px
   margin 0 auto 7px

.baloon-canceled
    width 29px
    height 40px
    display block
    background url(../img/i.png) no-repeat 0 -1207px
    margin 0 auto 13px

.baloon-problem
    width 36px
    height 40px
    display block
    background url(../img/i.png) no-repeat 0 -1274px
    margin 0 auto 7px

.baloon-loading
    width 50px
    height 16px
    background #dee2e2
    border-top 16px solid #ccc
    margin 0 auto 12px
    position relative
    perspective 50px

.baloon-loading:before
    content ''
    width 1px
    height 32px
    background #fff
    position absolute
    left 24px
    top -16px
    display block

.baloon-loading-block
    width 24px
    height 16px
    border-top 16px solid #89c13a
    position absolute
    bottom 0
    display block
    outline 1px solid transparent
    overflow hidden

.baloon-loading-block1
    left 0
    animation preloader 4s linear infinite

.baloon-loading-block2
    right 0
    animation preloader 4s linear 2s infinite

@keyframes preloader
    0%
        transform rotateX(0deg)
        opacity 1
    50%
        transform rotateX(-170deg)
        opacity 1
    51%
        transform rotateX(-180deg)
        opacity 0
    100%
        transform rotateX(0deg)
        opacity 0

.baloon-error
    color #e20000

















