.ui-icon-circle-triangle-w
    background url(../img//i.png) no-repeat 0 -392px
    height 30px
    width 29px

.ui-state-disabled .ui-icon-circle-triangle-w
    background url(../img//i.png) no-repeat 0 -321px

.ui-icon-circle-triangle-e
    background url(../img//i.png) no-repeat 0 -532px
    height 30px
    width 29px

.ui-state-disabled .ui-icon-circle-triangle-e
    background url(../img//i.png) no-repeat 0 -467px

.ui-datepicker
    background #fff
    box-shadow 0 5px 10px rgba(50, 50, 50, 0.25)
    color #292929
    font-family $ProximaNova
    padding 18px

.search-ticket-form .ui-datepicker
    width 650px !important
    z-index 99 !important
    left 50% !important
    margin-left -350px !important
    top 48px !important

.ui-datepicker .dtpk-head
    border-bottom 1px solid #e7e7e7
    padding 0 0 15px
    overflow hidden

.ui-datepicker .dtpk-caption
    font-size 18px
    font-weight bold
    float left
    font-family $ProximaNova

.dtpk-checkbox-label
    color #242424
    font-size 15px
    line-height 19px
    float right

.dtpk-checkbox
    background-color #89c13a
    display inline-block
    height 19px
    margin-right 9px
    vertical-align top
    width 19px
    border-radius 4px

.dtpk-checkbox-label input
    display none

.dtpk-checkbox-label input:checked + .dtpk-checkbox, .dtpk-checked
    background-image url(../img/i.png)
    background-repeat no-repeat
    background-position 4px -588px


.ui-datepicker .ui-datepicker-header
    margin-top 15px

.ui-datepicker .ui-datepicker-prev
.ui-datepicker .ui-datepicker-prev-hover
    left 2px
    top 0

.ui-datepicker .ui-datepicker-next
.ui-datepicker .ui-datepicker-next-hover
    right 15px
    top 0

.ui-datepicker-title
    font-size 20px
    margin 0 0 6px

.ui-datepicker-calendar th
    color #acacac
    font-size 11px
    text-transform uppercase

.ui-datepicker-calendar th.ui-datepicker-week-end
    color #ff5c5c

.ui-datepicker-calendar tbody tr
    border-top 1px solid #e7e7e7
    margin 1px 0

.ui-datepicker-calendar tbody tr:first-child
    border-top 0

.ui-datepicker-calendar td
    height 40px
    font-size 20px
    line-height 40px

.ui-datepicker table
    margin 0

.ui-datepicker td
    padding 0

.ui-datepicker td a
.ui-datepicker td span
    border 3px solid transparent
    height 34px
    line-height 32px
    display block
    width 36px
    margin 1px 0

.ui-datepicker td.ui-datepicker-week-end span
    color #ffa3a3

.ui-datepicker td.ui-datepicker-week-end a
    color #ff5c5c

.ui-datepicker td.ui-datepicker-today a
.ui-datepicker td.ui-datepicker-today span
    border-color #89c13a

.ui-datepicker td a
    color #000
    padding 0
    text-align center

.ui-datepicker td a.ui-state-active
.ui-datepicker td a.ui-state-hover
    background #89c13a
    color #fff

.ui-datepicker td span
    padding 0
    text-align center

.ui-datepicker-unselectable
    color #acacac

.search-ticket-form .ui-datepicker
    position absolute !important


// New DatePicker
.datepickerBorderT
.datepickerBorderB
.datepickerBorderL
.datepickerBorderR
.datepickerBorderTL
.datepickerBorderTR
.datepickerBorderBL
.datepickerBorderBR
    display none

.datepickerContainer
    background #fff
    padding 26px
    font-family ProximaNova,Arial,sans-serif
    box-shadow 0 5px 10px rgba(50, 50, 50, 0.25)

.datepickerDays a
    border 3px solid transparent
    height 34px
    line-height 32px
    display block
    width 35px
    margin 1px 1px 1px 0
    font-size 20px
    text-align center
    color #292929 !important

    &:hover
        background #89C13A
        color #fff !important

.datepickerNotInMonth a
    color #ACACAC !important

.datepickerDays tr
    border-top 1px solid #E7E7E7

    &:first-child
        border 0

.datepickerSaturday a
.datepickerSunday a
    color #FF5C5C !important

.datepickerNotInMonth.datepickerSaturday a
.datepickerNotInMonth.datepickerSunday a
    color #FFA3A3 !important

.datepickerDoW span
    color #ACACAC
    font-size 11px
    text-transform uppercase
    text-align center
    display block
    font-weight bold
    padding-bottom 6px
    padding-top 3px

.datepickerDoW th:nth-child(7) span
.datepickerDoW th:nth-child(8) span
    color #FF5C5C !important

.datepickerSelected
    background none !important

.datepickerSelected a
    background #eff2f3

.datepickerMonth span
    font-size 20px
    color #292929
    display block

.datepickerMonth a
    margin 0 0 15px !important

.datepickerGoPrev a
.datepickerGoNext a
    height 30px
    width 29px
    display block
    font-size 0
    top -7px
    position relative
    cursor pointer

.datepickerGoPrev a
    background url(../img/i.png) no-repeat 0 -392px
    margin-left 8px

.datepickerGoNext a
    background url(../img/i.png) no-repeat 0 -532px
    margin-right 8px


