l-margin()
    width 960px
    margin 0 auto

.faq
    h2, h3
        color #333
        font-size 33px
        font-family ProximaNovaLight
        l-margin()
        margin-top 10px
    h3
        font-size 25px

    .title-description
        l-margin()

    .question
        margin-top 10px

    .question-item
        margin-top 5px

    .question-item-link
        color #1e88c1
        l-margin()
        display block

    .question-answer
        l-margin()
        padding 10px 0

    .question-answer-container
        background #f0f0f0
        margin-top 5px


    .question-button
        border 1px solid #cfcfcf
        border-radius(2px)
        display inline-block
        color #333
        text-decoration none
        padding 6px 20px
        font-size 14px
        margin-top 10px
        vertical-align top

    .contacts
        l-margin()
        margin-top 10px

    .contacts-phone
        color #000
        margin 0 5px
        padding 2px 0 2px 20px
        background url(/spa/img/i-phone.png) no-repeat

    .contacts-skype
        color #1e88c1
        margin 0 15px
        padding 2px 0 2px 27px
        background url(/spa/img/i-skype.png) no-repeat
