.search-date-arr {
  background-position 112px 13px
}

.search-date-dep {
  background-position 112px -71px
}

.search-people {
  //background #fff url('/spa/img/i.png') no-repeat 70px -173px
}

.search-pref-comfort {
  background url('/spa/img/i.png') no-repeat 32px -233px #89c13a
}

.search-field,
.search-date {
  padding-top 14px
}