.search-date-arr
    background-position 112px 13px

.search-date-dep
    background-position 112px -71px

.search-people
    background url(../img/i.png) no-repeat 70px -173px #fff

.search-pref-comfort
    background url(../img/i.png) no-repeat 32px -233px #89c13a