.body-bg
    background #d4d6db

.li__container
    padding 180px 0 30px
    width 960px
    margin 0 auto

.li__head
    background #fff
    padding 12px 40px 15px 90px
    clearfix()
    position relative
    font-size 14px
    color #4d4d4d

    &:before
        content ''
        display block
        position absolute
        height 5px
        bottom 0
        width 100%
        left 0
        background #cecece
        background linear-gradient(to bottom, #cecece 0,#f8f8f8 100%)

.li__head-info
    float left
    width 480px
    margin-right 10px
    color #89c13a

.li__head-date
    float left
    text-decoration underline

.li__head-sum
    float right
    text-decoration underline

.li__block
    border-bottom 1px solid #c0c0c2
    background #fff
    clearfix()
    padding 12px 12px 11px 20px
    font-size 14px

    &:last-child
        border 0

.li__block_void
    color #878787

.li__block_request
    background #fff9f4

.li__block-code
    float left
    width 60px
    margin 0 10px 0 0

.li__block-info
    float left
    width 470px
    margin 0 20px 0 0

.li__block-date
    width 100px
    float left
    margin 0 10px 0 0

.li__block-sum
    float right
    width 255px
    text-align right

.li__price
    font-size 16px
    font-weight bold
    position relative
    top -2px

    .rub
        font-weight normal

.li__name
    color #878787

.li__timer
    color #878787
    display block
    margin-top 2px

.li__code
    color #1e88c1

.li__status
    margin 0 0 0 33px
    position relative

.li__info
    color #878787

.li__timer_red
    color #f00

.li__request
    position relative
    color #f7931e
    display inline-block

.li__error
    border-radius 3px
    background #dd3e14
    padding 3px 9px
    color #fff
    display inline-block
    margin-top 6px

.li__request_change:before
    content ''
    display block
    position absolute
    width 20px
    height 16px
    background url('../img/change.png') no-repeat
    left -24px

.li__request_return:before
    content ''
    display block
    position absolute
    width 18px
    height 16px
    background url('../img/return.png') no-repeat
    left -24px

.li_hotel-rating
    overflow hidden
    margin 0 2px 0 0
    display inline-block

    img
        float left

.li__type
    display inline-block
    margin-top 2px

.li__header
    margin-bottom 2px

.li__empty
    font-size 18px
    line-height 24px
    padding 60px 0 0
    text-align center
    margin 100px 0
    background url('../img/empty.png') no-repeat center 0

// Pag
.pag
    clearfix()
    text-align center
    padding 14px 0 0
    color #4d4d4d
    fz16

    li
        display inline-block
        margin 0 3px

    a
        color #4d4d4d
        display block
        padding 4px 10px 2px
        border-radius 3px
        border 1px solid transparent

        &:hover
            border-color #89c13a
            text-decoration none

    .current
        background #89c13a
        border-color #89c13a
        color #fff

    .pag-prev
        float left
        margin 2px 0 0 20px
        font-size 14px

        a
            padding-left 24px
            background url('../img/prev.png') no-repeat 0 center

            &:hover
                border-color transparent

    .pag-next
        float right
        margin 2px 20px 0 0
        font-size 14px

        a
            padding-right 24px
            background url('../img/next.png') no-repeat right center

            &:hover
                border-color transparent





















