placeholder(colorParam){
  &::-webkit-input-placeholder {
    color: colorParam;
  }

  &:-moz-placeholder {
     color: colorParam;
  }

  &::-moz-placeholder {
     color: colorParam;
  }

  &:-ms-input-placeholder {
     color: colorParam;
  }
}
