@import "vars.styl"
@import "font.styl"

$gray = #878786

body
    font-family: ProximaNova;

.p-wrapper
    width 940px
    margin 0 auto

.section
    padding 16px 0 24px
    border-bottom 1px solid #c0bdbd
    
    &_with_logo
        background url(/spa/img/logo.png) no-repeat 553px 114px, url(/spa/img/innatour.png) no-repeat 663px 123px
        
    &_feature_footer
        border-bottom none
        
.title
    margin 0 0 24px
    font-size $large
    font-weight bold
    
    &_size_l
        font-size $big
        
        .title__desc
            font-size 14px
            
    &_size_s
        font-size $medium
        margin-bottom 16px
        
    &_feature_starred
        margin-top: -12px
        
    &__desc
        display block
        font-size 11px
        color $gray
        font-weight normal
        
.table
    border-collapse collapse
    margin-bottom 24px
    
    &__cell
        vertical-align top
        border 2px solid $gray
        padding 15px 50px 0
        text-align center
        
.columns
    overflow hidden
    
    &__col
        float left
        width 45%
        margin-right 4%
        
.stars
    display block
    margin-bottom -8px
    
.content
    margin 0 0 15px
    
    &_theme_green
        font-size $large
        font-weight bold
        color #88ba5c