.report__table
    width 100%
    background #fff
    border-collapse collapse
    margin 0 0 20px
    letter-spacing -.01em

    th
        font-size 14px
        color #4d4d4d
        font-weight normal
        text-align left
        border 1px solid #C1C1C3
        border-bottom 0
        vertical-align top
        padding 12px 5px 11px

    td
        color #4d4d4d
        font-size 12px
        border 1px solid #C1C1C3
        border-top 0
        vertical-align top
        padding 9px 5px
        line-height 20px

        a
            color #1e88c1
            font-weight bold
            font-size 10px

    tbody tr:first-child td
        background: linear-gradient(top, #cecece 0, #f8f8f8 5px, #fff 6px); 
        padding-top 13px

    tfoot td
        background #e6e7e9
        border-color #e6e7e9 #b6b7b8

    .report__right
        text-align right

    .report__center
        text-align center

.report__radio
    float left
    margin 22px 0 0 19px

    li
        float left

        &:first-child span
            border-left 0
            border-radius 3px 0 0 3px

        &:last-child span
            border-radius 0 3px 3px 0

    input
        display none

    span
        color #4d4d4d
        font-size 14px
        padding 7px 23px
        display block
        background #e6e7e9
        border-left 1px solid #878787
        cursor pointer

    input:checked + span
        background #6FC72E
        color #fff
        font-weight bold

.report__form
    padding 16px 0 10px

    .b-field-label
        color #4d4d4d

.report__button
    float right
    font-size 18px
    font-weight bold
    color #fff
    background #6FC72E
    margin 22px 0 0
    padding 5px 28px

.report__header
    padding 0 0 8px

.report__service-title
    vertical-align middle
    font-size 18px
    color #000
    margin 0 7px 0 0
    position relative
    top -3px

.report__service-icons
    display inline-block
    vertical-align middle

    li
        display inline-block

    a
        display block
        background url(../img/icons.png) no-repeat
        width 33px
        height 31px
        margin 0 2px 0 0

    .report__xls
        background-position 0 0

        &:hover
            background-position 0 -49px

    .report__pdf
        background-position -37px 0

        &:hover
            background-position -37px -49px

    .report__print
        background-position -74px 0

        &:hover
            background-position -74px -49px

.report__service
    float left

.report__all
    float right
    color #1e88c1
    font-size 14px
    margin-top 4px

.report__table_noborder td
    border-width 1px 0
    font-size 14px

    a
        font-size 14px

.report__table_noborder th:first-child
    border-left 0

.report__table_noborder th:last-child
    border-right 0

.report__sort
    font-size 16px
    padding 8px 15px 9px

    a
        color #000

    .current
        color #1e88c1

.report__separator
    margin 0 10px

.report__title
    font-size 20px
    font-weight normal
    margin 0
    padding 0 8px 20px

.report__print
    width 100%
    height 100%
    background #fff

.report__container
    padding 20px

    .report__table
        page-break-after always

    .report__table td
    .report__table th
    .report__table td a
        color #000
        text-decoration none
        font-weight normal

    .report__table th
        background #C2C1C3
        border-bottom 1px solid #E2E0E1

    .report__table tfoot td
        background #E7E7E9

    .report__table tbody tr:first-child td
        background #fff

    .report__table td
    .report__table th
        border-color #E2E0E1















