@font-face
    font-family ProximaNova
    font-weight normal
    font-style normal
    src url(../../fonts/proximanova-reg-webfont.ttf)

@font-face
    font-family ProximaNova
    font-weight bold
    font-style normal
    src url(../../fonts/proximanova-bold-webfont.ttf)

// Var
$ProximaNova = ProximaNova, Arial, sans-serif

.search-form
    font-size 0
    line-height 0
    letter-spacing -1px
    margin 0
    padding 0
    color #242424
    position relative

.search-field-block
.search-date-block
.search-button-block
.search-people-block
    font-size 18px
    line-height normal
    letter-spacing normal
    display inline-block
    vertical-align top
    border-left 1px solid #ccd2d4
    position relative

.search-field-block:first-child
    border 0

.search-field-block
    width 170px

.search-field
.search-date
    background #fff
    width 100%
    border 0
    font 18px $ProximaNova
    color #242424
    box-sizing border-box
    height 48px

.search-field::-webkit-input-placeholder
    color #242424
.search-field:-moz-placeholder
    opacity 1
.search-field::-moz-placeholder
    opacity 1
.search-field:-ms-input-placeholder
    color #242424
.search-date::-webkit-input-placeholder
    color #242424
.search-date:-moz-placeholder
    opacity 1
.search-date::-moz-placeholder
    opacity 1
.search-date:-ms-input-placeholder
    color #242424

.search-field
    padding 0 12px

.search-date-block
    width 180px

.search-date
    padding 0 42px 0 12px
    background-image url(../../img/i.png)
    background-repeat no-repeat

.search-date-arr
    background-position right 12px top 13px

.search-date-dep
    background-position right 12px top -71px

.search-button-block
    border-left 1px solid #1c1c1c
    background #89c13a
    color #fff
    font-family $ProximaNova
    text-align center
    position relative
    overflow hidden
    height 48px
    line-height 48px
    width 117px
    font-weight bold

.search-button-block input
    position absolute
    display block
    left 0
    top 0
    width 300px
    height 300px
    cursor pointer
    border 0
    opacity 0
    margin 0
    padding 0

.search-people-block
    width 138px
    height 48px

.search-people
    background #fff
    height 48px
    padding 0 12px
    font 18px/48px $ProximaNova
    cursor pointer
    background url(../../img/i.png) no-repeat right 12px top -173px #fff

.search-pref-block
    position absolute
    z-index 100
    left 0
    top 49px
    margin 0 0 0 -1px
    padding 0
    white-space nowrap
    background rgba(0,0,0,.4)
    box-shadow 0 4px 8px 1px rgba(0,0,0,.4)

.search-pref
    display inline-block
    vertical-align top
    font 14px $ProximaNova
    line-height normal
    letter-spacing normal
    color #fff
    margin 0 0 0 1px
    padding 5px 12px
    cursor pointer
    background #393939
    background: linear-gradient(to top, #4c4c4c 0%,#393939 50%);
    position relative

.search-pref-comfort
    padding-right 30px
    background #89c13a
    min-width 57px
    background url(../../img/i.png) no-repeat right 12px top -233px, linear-gradient(to top, #95c74d 0%,#89c13a 50%)

.search-pref.current
    color #89c13a

.search-pref-select
    white-space normal
    position absolute
    left 0
    right 0
    top 27px
    margin 0
    padding 0
    list-style none
    background #89c13a
    padding 5px 12px
    box-shadow 0 7px 8px 1px rgba(0,0,0,.3)










