$svg-common 
	background url("../img/svg-icons/sprite.svg") no-repeat

.svg-accommodation
	@extend $svg-common
	background-position 23.140495867768596% 100%

.svg-accommodation-dims
	width 8px
	height 14px

.svg-air-flight
	@extend $svg-common
	background-position 5.932203389830509% 100%

.svg-air-flight-dims
	width 14px
	height 14px

.svg-air-transfer
	@extend $svg-common
	background-position 11.864406779661017% 100%

.svg-air-transfer-dims
	width 14px
	height 14px

.svg-aircraft-blue
	@extend $svg-common
	background-position 43.162393162393165% 68.85245901639344%

.svg-aircraft-blue-dims
	width 16px
	height 16px

.svg-aircraft-gray
	@extend $svg-common
	background-position 56.837606837606835% 68.85245901639344%

.svg-aircraft-gray-dims
	width 16px
	height 16px

.svg-big-logo-inna
	@extend $svg-common
	background-position 0 0

.svg-big-logo-inna-dims
	width 250px
	height 40px

.svg-calendar
	@extend $svg-common
	background-position 36.36363636363637% 84.7457627118644%

.svg-calendar-dims
	width 19px
	height 20px

.svg-close
	@extend $svg-common
	background-position 77.5% 31.25%

.svg-close-dims
	width 10px
	height 10px

.svg-expand
	@extend $svg-common
	background-position 80.99173553719008% 30.075187969924812%

.svg-expand-dims
	width 8px
	height 5px

.svg-expand-gray
	@extend $svg-common
	background-position 84.29752066115702% 30.075187969924812%

.svg-expand-gray-dims
	width 8px
	height 5px

.svg-fb
	@extend $svg-common
	background-position 53.47826086956522% 84.7457627118644%

.svg-fb-dims
	width 20px
	height 20px

.svg-fuel-collecting
	@extend $svg-common
	background-position 69.32773109243698% 67.74193548387096%

.svg-fuel-collecting-dims
	width 12px
	height 14px

.svg-hotel-blue
	@extend $svg-common
	background-position 71.12068965517241% 51.724137931034484%

.svg-hotel-blue-dims
	width 18px
	height 22px

.svg-hotel-gray
	@extend $svg-common
	background-position 63.36206896551724% 51.724137931034484%

.svg-hotel-gray-dims
	width 18px
	height 22px

.svg-hotel-map-blue
	@extend $svg-common
	background-position 0 87.71929824561404%

.svg-hotel-map-blue-dims
	width 24px
	height 24px

.svg-hotel-map-gray
	@extend $svg-common
	background-position 44.29824561403509% 52.63157894736842%

.svg-hotel-map-gray-dims
	width 22px
	height 24px

.svg-inform-blue
	@extend $svg-common
	background-position 50% 68.85245901639344%

.svg-inform-blue-dims
	width 16px
	height 16px

.svg-inform-gray
	@extend $svg-common
	background-position 91.10169491525424% 80.64516129032258%

.svg-inform-gray-dims
	width 14px
	height 14px

.svg-landing
	@extend $svg-common
	background-position 61.67400881057269% 32.25806451612903%

.svg-landing-dims
	width 23px
	height 14px

.svg-location
	@extend $svg-common
	background-position 85.29411764705883% 80.64516129032258%

.svg-location-dims
	width 12px
	height 14px

.svg-login-black
	@extend $svg-common
	background-position 63.675213675213676% 68.85245901639344%

.svg-login-black-dims
	width 16px
	height 16px

.svg-login-white
	@extend $svg-common
	background-position 80.26315789473684% 51.724137931034484%

.svg-login-white-dims
	width 22px
	height 22px

.svg-logo_inna
	@extend $svg-common
	background-position 0 61.224489795918366%

.svg-logo_inna-dims
	width 101px
	height 40px

.svg-mail-black
	@extend $svg-common
	background-position 89.91228070175438% 51.724137931034484%

.svg-mail-black-dims
	width 22px
	height 22px

.svg-mail-white
	@extend $svg-common
	background-position 99.56140350877193% 51.724137931034484%

.svg-mail-white-dims
	width 22px
	height 22px

.svg-med-insurance
	@extend $svg-common
	background-position 75% 67.2%

.svg-med-insurance-dims
	width 14px
	height 13px

.svg-ok
	@extend $svg-common
	background-position 79.56521739130434% 84.7457627118644%

.svg-ok-dims
	width 20px
	height 20px

.svg-phone-black
	@extend $svg-common
	background-position 70.8695652173913% 84.7457627118644%

.svg-phone-black-dims
	width 20px
	height 20px

.svg-phone-white
	@extend $svg-common
	background-position 27.82608695652174% 84.7457627118644%

.svg-phone-white-dims
	width 20px
	height 20px

.svg-pr
	@extend $svg-common
	background-position 19.130434782608695% 84.7457627118644%

.svg-pr-dims
	width 20px
	height 20px

.svg-present
	@extend $svg-common
	background-position 54.424778761061944% 51.724137931034484%

.svg-present-dims
	width 24px
	height 22px

.svg-question
	@extend $svg-common
	background-position 97.03389830508475% 80.64516129032258%

.svg-question-dims
	width 14px
	height 14px

.svg-share
	@extend $svg-common
	background-position 0 100%

.svg-share-dims
	width 14px
	height 14px

.svg-takeoff
	@extend $svg-common
	background-position 71.80616740088105% 31.496062992125985%

.svg-takeoff-dims
	width 23px
	height 11px

.svg-ticket-blue
	@extend $svg-common
	background-position 50.450450450450454% 32.78688524590164%

.svg-ticket-blue-dims
	width 28px
	height 16px

.svg-transfer
	@extend $svg-common
	background-position 17.796610169491526% 100%

.svg-transfer-dims
	width 14px
	height 14px

.svg-tripadvisor
	@extend $svg-common
	background-position 0 33.898305084745765%

.svg-tripadvisor-dims
	width 112px
	height 20px

.svg-tw
	@extend $svg-common
	background-position 62.17391304347826% 84.7457627118644%

.svg-tw-dims
	width 20px
	height 20px

.svg-vk
	@extend $svg-common
	background-position 44.78260869565217% 84.7457627118644%

.svg-vk-dims
	width 20px
	height 20px

.svg-yt
	@extend $svg-common
	background-position 10.434782608695652% 84.7457627118644%

.svg-yt-dims
	width 20px
	height 20px

