$svg-common 
	background url("../img/svg-icons/sprite.svg") no-repeat

.svg-accommodation
	@extend $svg-common
	background-position 91.32231404958678% 65.625%

.svg-accommodation-dims
	width 8px
	height 14px

.svg-air-flight
	@extend $svg-common
	background-position 75.84745762711864% 65.625%

.svg-air-flight-dims
	width 14px
	height 14px

.svg-air-transfer
	@extend $svg-common
	background-position 69.91525423728814% 65.625%

.svg-air-transfer-dims
	width 14px
	height 14px

.svg-aircraft-blue
	@extend $svg-common
	background-position 63.675213675213676% 66.66666666666667%

.svg-aircraft-blue-dims
	width 16px
	height 16px

.svg-aircraft-gray
	@extend $svg-common
	background-position 56.837606837606835% 66.66666666666667%

.svg-aircraft-gray-dims
	width 16px
	height 16px

.svg-big-logo-inna
	@extend $svg-common
	background-position 0 0

.svg-big-logo-inna-dims
	width 250px
	height 40px

.svg-calendar
	@extend $svg-common
	background-position 24.242424242424242% 81.9672131147541%

.svg-calendar-dims
	width 19px
	height 20px

.svg-close
	@extend $svg-common
	background-position 50% 66.66666666666667%

.svg-close-dims
	width 16px
	height 16px

.svg-expand
	@extend $svg-common
	background-position 78.92561983471074% 29.197080291970803%

.svg-expand-dims
	width 8px
	height 5px

.svg-expand-gray
	@extend $svg-common
	background-position 82.23140495867769% 29.197080291970803%

.svg-expand-gray-dims
	width 8px
	height 5px

.svg-fb
	@extend $svg-common
	background-position 84.78260869565217% 81.9672131147541%

.svg-fb-dims
	width 20px
	height 20px

.svg-fuel-collecting
	@extend $svg-common
	background-position 76.47058823529412% 46.875%

.svg-fuel-collecting-dims
	width 12px
	height 14px

.svg-hotel-blue
	@extend $svg-common
	background-position 0 83.33333333333333%

.svg-hotel-blue-dims
	width 18px
	height 22px

.svg-hotel-gray
	@extend $svg-common
	background-position 7.758620689655173% 83.33333333333333%

.svg-hotel-gray-dims
	width 18px
	height 22px

.svg-hotel-map-blue
	@extend $svg-common
	background-position 44.690265486725664% 50.847457627118644%

.svg-hotel-map-blue-dims
	width 24px
	height 24px

.svg-hotel-map-gray
	@extend $svg-common
	background-position 54.824561403508774% 50.847457627118644%

.svg-hotel-map-gray-dims
	width 22px
	height 24px

.svg-inform-blue
	@extend $svg-common
	background-position 43.162393162393165% 66.66666666666667%

.svg-inform-blue-dims
	width 16px
	height 16px

.svg-inform-gray
	@extend $svg-common
	background-position 87.71186440677967% 65.625%

.svg-inform-gray-dims
	width 14px
	height 14px

.svg-landing
	@extend $svg-common
	background-position 64.75770925110132% 46.875%

.svg-landing-dims
	width 23px
	height 14px

.svg-location
	@extend $svg-common
	background-position 71.42857142857143% 46.875%

.svg-location-dims
	width 12px
	height 14px

.svg-login-black
	@extend $svg-common
	background-position 93.47826086956522% 81.9672131147541%

.svg-login-black-dims
	width 20px
	height 20px

.svg-login-white
	@extend $svg-common
	background-position 0 100%

.svg-login-white-dims
	width 24px
	height 20px

.svg-logo_inna
	@extend $svg-common
	background-position 0 58.8235294117647%

.svg-logo_inna-dims
	width 101px
	height 40px

.svg-med-insurance
	@extend $svg-common
	background-position 88.13559322033899% 46.51162790697674%

.svg-med-insurance-dims
	width 14px
	height 13px

.svg-ok
	@extend $svg-common
	background-position 76.08695652173913% 81.9672131147541%

.svg-ok-dims
	width 20px
	height 20px

.svg-phone-black
	@extend $svg-common
	background-position 67.3913043478261% 81.9672131147541%

.svg-phone-black-dims
	width 20px
	height 20px

.svg-phone-white
	@extend $svg-common
	background-position 58.69565217391305% 81.9672131147541%

.svg-phone-white-dims
	width 20px
	height 20px

.svg-pr
	@extend $svg-common
	background-position 15.652173913043478% 81.9672131147541%

.svg-pr-dims
	width 20px
	height 20px

.svg-question
	@extend $svg-common
	background-position 82.20338983050847% 46.875%

.svg-question-dims
	width 14px
	height 14px

.svg-share
	@extend $svg-common
	background-position 63.06306306306306% 31.746031746031747%

.svg-share-dims
	width 28px
	height 16px

.svg-takeoff
	@extend $svg-common
	background-position 74.00881057268722% 30.53435114503817%

.svg-takeoff-dims
	width 23px
	height 11px

.svg-ticket-blue
	@extend $svg-common
	background-position 50.450450450450454% 31.746031746031747%

.svg-ticket-blue-dims
	width 28px
	height 16px

.svg-transfer
	@extend $svg-common
	background-position 81.77966101694915% 65.625%

.svg-transfer-dims
	width 14px
	height 14px

.svg-tripadvisor
	@extend $svg-common
	background-position 0 32.78688524590164%

.svg-tripadvisor-dims
	width 112px
	height 20px

.svg-tw
	@extend $svg-common
	background-position 32.608695652173914% 81.9672131147541%

.svg-tw-dims
	width 20px
	height 20px

.svg-vk
	@extend $svg-common
	background-position 50% 81.9672131147541%

.svg-vk-dims
	width 20px
	height 20px

.svg-yt
	@extend $svg-common
	background-position 41.30434782608695% 81.9672131147541%

.svg-yt-dims
	width 20px
	height 20px

