$svg-common 
	background url("../img/svg-icons/sprite.svg") no-repeat

.svg-accommodation
	@extend $svg-common
	background-position 94.39252336448598% 14%

.svg-accommodation-dims
	width 8px
	height 14px

.svg-air-flight
	@extend $svg-common
	background-position 100% 56%

.svg-air-flight-dims
	width 14px
	height 14px

.svg-air-transfer
	@extend $svg-common
	background-position 100% 83%

.svg-air-transfer-dims
	width 14px
	height 14px

.svg-aircraft-blue
	@extend $svg-common
	background-position 82.82828282828282% 57.142857142857146%

.svg-aircraft-blue-dims
	width 16px
	height 16px

.svg-aircraft-gray
	@extend $svg-common
	background-position 72.72727272727273% 81.63265306122449%

.svg-aircraft-gray-dims
	width 16px
	height 16px

.svg-close
	@extend $svg-common
	background-position 56.56565656565657% 81.63265306122449%

.svg-close-dims
	width 16px
	height 16px

.svg-expand
	@extend $svg-common
	background-position 76.6355140186916% 36.69724770642202%

.svg-expand-dims
	width 8px
	height 5px

.svg-expand-gray
	@extend $svg-common
	background-position 69.1588785046729% 36.69724770642202%

.svg-expand-gray-dims
	width 8px
	height 5px

.svg-fuel-collecting
	@extend $svg-common
	background-position 98.05825242718447% 42%

.svg-fuel-collecting-dims
	width 12px
	height 14px

.svg-hotel-blue
	@extend $svg-common
	background-position 47.422680412371136% 60.869565217391305%

.svg-hotel-blue-dims
	width 18px
	height 22px

.svg-hotel-gray
	@extend $svg-common
	background-position 65.97938144329896% 60.869565217391305%

.svg-hotel-gray-dims
	width 18px
	height 22px

.svg-hotel-map-blue
	@extend $svg-common
	background-position 24.175824175824175% 62.22222222222222%

.svg-hotel-map-blue-dims
	width 24px
	height 24px

.svg-hotel-map-gray
	@extend $svg-common
	background-position 0 62.22222222222222%

.svg-hotel-map-gray-dims
	width 22px
	height 24px

.svg-inform-blue
	@extend $svg-common
	background-position 40.4040404040404% 81.63265306122449%

.svg-inform-blue-dims
	width 16px
	height 16px

.svg-inform-gray
	@extend $svg-common
	background-position 100% 0

.svg-inform-gray-dims
	width 14px
	height 14px

.svg-landing
	@extend $svg-common
	background-position 30.434782608695652% 40%

.svg-landing-dims
	width 23px
	height 14px

.svg-location
	@extend $svg-common
	background-position 98.05825242718447% 28%

.svg-location-dims
	width 12px
	height 14px

.svg-login
	@extend $svg-common
	background-position 0 85.1063829787234%

.svg-login-dims
	width 20px
	height 20px

.svg-logo_inna
	@extend $svg-common
	background-position 0 0

.svg-logo_inna-dims
	width 101px
	height 40px

.svg-med-insurance
	@extend $svg-common
	background-position 100% 69.3069306930693%

.svg-med-insurance-dims
	width 14px
	height 13px

.svg-phone
	@extend $svg-common
	background-position 21.05263157894737% 85.1063829787234%

.svg-phone-dims
	width 20px
	height 20px

.svg-question
	@extend $svg-common
	background-position 0 100%

.svg-question-dims
	width 14px
	height 14px

.svg-takeoff
	@extend $svg-common
	background-position 55.43478260869565% 38.83495145631068%

.svg-takeoff-dims
	width 23px
	height 11px

.svg-ticket-blue
	@extend $svg-common
	background-position 0 40.816326530612244%

.svg-ticket-blue-dims
	width 28px
	height 16px

.svg-transfer
	@extend $svg-common
	background-position 13.861386138613861% 100%

.svg-transfer-dims
	width 14px
	height 14px

