.logo_inna {
  @extend .svg-logo_inna;
  @extend .svg-logo_inna-dims;
}
.icon-inform-blue {
  @extend .svg-inform-blue;
  @extend .svg-inform-blue-dims;
  position absolute
  top 5px
  right 5px
  cursor pointer
}
.icon-inform-gray {
  @extend .svg-inform-gray;
  @extend .svg-inform-gray-dims;
  position absolute
  top 5px
  right 5px
}
.icon-location {
  @extend .svg-location;
  @extend .svg-location-dims;
  position absolute
  right 6px
  bottom 18px
  cursor pointer
}
.icon-hotel-blue {
  @extend .svg-hotel-blue;
  @extend .svg-hotel-blue-dims;
  margin-right 8px
}
.icon-hotel-gray {
  @extend .svg-hotel-gray;
  @extend .svg-hotel-gray-dims;
  margin-right 8px
}
.icon-aircraft-blue {
  @extend .svg-aircraft-blue;
  @extend .svg-aircraft-blue-dims;
  margin-right 8px
}
.icon-aircraft-gray {
  @extend .svg-aircraft-gray;
  @extend .svg-aircraft-gray-dims;
  margin-right 8px
}
.icon-ticket-blue {
  @extend .svg-ticket-blue;
  @extend .svg-ticket-blue-dims;
}
.icon-air-flight {
  @extend .svg-air-flight;
  @extend .svg-air-flight-dims;
}
.icon-accommodation {
  @extend .svg-accommodation;
  @extend .svg-accommodation-dims;
}
.icon-med-insurance {
  @extend .svg-med-insurance;
  @extend .svg-med-insurance-dims;
}
.icon-fuel-collecting {
  @extend .svg-fuel-collecting;
  @extend .svg-fuel-collecting-dims;
}
.icon-transfer {
  @extend .svg-transfer;
  @extend .svg-transfer-dims;
}
.icon-expand {
  @extend .svg-expand;
  @extend .svg-expand-dims;
  position absolute
  top 17px
  right 17px
  transform rotate(0deg)
  transition transform ease-in-out .3s
}
.icon-expand_open {
  transform rotate(180deg)
  transition transform ease-in-out .3s
}
.icon-expand-gray {
  @extend .svg-expand-gray;
  @extend .svg-expand-gray-dims;
  //position absolute
  //top 17px
  //right 17px
  transform rotate(0deg)
  transition transform ease-in-out .3s
}
.icon-expand-gray_open {
  transform rotate(180deg)
  transition transform ease-in-out .3s
}
.icon-hotel-map-gray {
  @extend .svg-hotel-map-gray;
  @extend .svg-hotel-map-gray-dims;
  margin-right 8px
}
.icon-hotel-map-blue {
  @extend .svg-hotel-map-blue;
  @extend .svg-hotel-map-blue-dims;
  margin-right 8px
}