.logo_inna {
  @extend .svg-logo_inna;
  @extend .svg-logo_inna-dims;
}
.big-logo_inna {
  @extend .svg-big-logo-inna;
  @extend .svg-big-logo-inna-dims;
}
.icon-inform-blue {
  @extend .svg-inform-blue;
  @extend .svg-inform-blue-dims;
  position absolute
  top 5px
  right 5px
  cursor pointer
}
.icon-inform-gray {
  @extend .svg-inform-gray;
  @extend .svg-inform-gray-dims;
  position absolute
  top 5px
  right 5px
}
.icon-location {
  @extend .svg-location;
  @extend .svg-location-dims;
  position absolute
  right 6px
  bottom 18px
  cursor pointer
}
.icon-hotel-blue {
  @extend .svg-hotel-blue;
  @extend .svg-hotel-blue-dims;
  margin-right 8px
}
.icon-hotel-gray {
  @extend .svg-hotel-gray;
  @extend .svg-hotel-gray-dims;
  margin-right 8px
}
.icon-aircraft-blue {
  @extend .svg-aircraft-blue;
  @extend .svg-aircraft-blue-dims;
  margin-right 8px
}
.icon-aircraft-gray {
  @extend .svg-aircraft-gray;
  @extend .svg-aircraft-gray-dims;
  margin-right 8px
}
.icon-ticket-blue {
  @extend .svg-ticket-blue;
  @extend .svg-ticket-blue-dims;
}
.icon-air-flight {
  @extend .svg-air-flight;
  @extend .svg-air-flight-dims;
}
.icon-accommodation {
  @extend .svg-accommodation;
  @extend .svg-accommodation-dims;
}
.icon-med-insurance {
  @extend .svg-med-insurance;
  @extend .svg-med-insurance-dims;
}
.icon-fuel-collecting {
  @extend .svg-fuel-collecting;
  @extend .svg-fuel-collecting-dims;
}
.icon-transfer {
  @extend .svg-transfer;
  @extend .svg-transfer-dims;
}
.icon-expand {
  @extend .svg-expand;
  @extend .svg-expand-dims;
  position absolute
  top 17px
  right 17px
  transform rotate(0deg)
  transition transform ease-in-out .3s
}
.icon-expand_open {
  transform rotate(180deg)
  transition transform ease-in-out .3s
}
.icon-expand-gray {
  @extend .svg-expand-gray;
  @extend .svg-expand-gray-dims;
  //position absolute
  //top 17px
  //right 17px
  transform rotate(0deg)
  transition transform ease-in-out .3s
}
.icon-expand-gray_open {
  transform rotate(180deg)
  transition transform ease-in-out .3s
}
.icon-hotel-map-gray {
  @extend .svg-hotel-map-gray;
  @extend .svg-hotel-map-gray-dims;
  margin-right 8px
}
.icon-hotel-map-blue {
  @extend .svg-hotel-map-blue;
  @extend .svg-hotel-map-blue-dims;
  margin-right 8px
}
.icon-login-white {
  @extend .svg-login-white;
  @extend .svg-login-white-dims;
  margin-right 6px
}
.icon-login-black {
    @extend .svg-login-black;
    @extend .svg-login-black-dims;
    margin-right 6px
  }
.icon-phone-white {
  @extend .svg-phone-white;
  @extend .svg-phone-white-dims;
}
.icon-phone-black {
  @extend .svg-phone-black;
  @extend .svg-phone-black-dims;
}
.icon-close {
  @extend .svg-close;
  @extend .svg-close-dims;
  cursor pointer
}
.icon-takeoff {
  @extend .svg-takeoff;
  @extend .svg-takeoff-dims;
  margin-right 9px
}
.icon-landing {
  @extend .svg-landing;
  @extend .svg-landing-dims;
  margin-right 9px
}
.icon-air-transfer {
  @extend .svg-air-transfer;
  @extend .svg-air-transfer-dims;
  margin-left 15px
  margin-right 16px
}
.icon-question {
  @extend .svg-question;
  @extend .svg-question-dims;
  margin-left 8px
}
.icon-vk {
  @extend .svg-vk;
  @extend .svg-vk-dims;
}
.icon-ok {
  @extend .svg-ok;
  @extend .svg-ok-dims;
}
.icon-fb {
  @extend .svg-fb;
  @extend .svg-fb-dims;
}
.icon-tw {
  @extend .svg-tw;
  @extend .svg-tw-dims;
}
.icon-pr {
  @extend .svg-pr;
  @extend .svg-pr-dims;
}
.icon-yt {
  @extend .svg-yt;
  @extend .svg-yt-dims;
}
.icon-tripadvisor {
  @extend .svg-tripadvisor;
  @extend .svg-tripadvisor-dims;
  margin-left 10px
}
.icon-calendar {
  @extend .svg-calendar;
  @extend .svg-calendar-dims;
}
.icon-share {
  @extend .svg-share;
  @extend .svg-share-dims;
  //margin-right 8px
}
.icon-mail-white {
  @extend .svg-mail-white;
  @extend .svg-mail-white-dims;
  margin-right 6px
}
.icon-mail-black {
  @extend .svg-mail-black;
  @extend .svg-mail-black-dims;
  margin-right 6px
}
.icon-present {
  @extend .svg-present;
  @extend .svg-present-dims;
  margin-right 16px
}