.layout
  margin 0 auto 100px
  width 940px

.head-name
  font-size 25px
  margin-top 34px

.head-description
  color #7b7b7b
  font-size 15px
  margin-top 4px

.translation
  color #7b7b7b
  font-weight normal

.ticket-main-info-table
  margin-top 30px
  position relative

.ticket-main-info-table .cell
  border 3px solid #ccc
  display inline-block
  font-size 14px
  height 85px
  text-align center
  width 231px

.ticket-main-info-table .cell:before
  content ''
  display inline-block
  height 100%
  vertical-align middle

.ticket-main-info-table .cell:first-child
  border-right 0

.ticket-main-info-table .cell-info
  display inline-block
  padding-top 12px
  vertical-align middle

.ticket-main-info-table .pnr
  font-size 18px
  font-weight bold
  line-height 36px

.ticket-main-info-table .logo
  position absolute
  right 0
  top 0

.table-info
  border-collapse separate
  border-spacing 0
  width 100%

.table-info th
  border-bottom 2px solid #dcdcdc
  font-size 14px
  text-align left

.table-info th .translation
  font-size 11px
  margin 1px 0 7px

.table-info .body td
  border-bottom 2px solid #dcdcdc
  border-right 3px solid transparent
  line-height 18px
  vertical-align top

.table-info .body td:first-child
  border-right 0

.table-info .body tr.dotted td
  border-bottom 1px dotted #dcdcdc

.table-passengers
  margin-top 36px

.table-passengers .body
  font-size 18px
  font-weight bold

.table-passengers .body td
  padding-top 8px
  border-bottom-width 1px

.table-passengers .passenger-birthday
  font-size 11px
  font-weight normal
  line-height 18px
  margin-bottom 4px

.agency-info
  margin-top 30px

.agency-info th
.agency-info .body td
  border 0

.agency-info .address
  display inline-block
  vertical-align top
  width 150px

.agency-info .phone
  display inline-block
  margin-left 36px

.agency-info .phone .label
  display inline-block
  width 100px

.bottom-info-column
  display inline-block
  width 400px
  padding-right 70px
  margin-top 23px
  vertical-align top

.bottom-info .googluck
  color #89c13a
  font-size 23px
  font-weight bold

.rate-info
  font-size 14px

.rate-info-row
  margin-top 16px

.rate-info-row:first-child
  margin-top 0

.rate-info-row:first-child .label
  width 100%

.rate-info .translation
  font-size 11px

.rate-info .label
  display inline-block
  margin-right 50px
  vertical-align top
  width 130px

.rate-info .definition
  display inline-block
  width 200px

.info-container
  overflow hidden
  border-top 2px solid #dcdcdc
  margin 20px 0 0
  padding 20px 0
  text-transform uppercase
  font-size 10px

.info-block
  float left
  width 23.5%
  box-sizing border-box
  margin-left 2%
  text-align justify

.info-block
  &:first-child
    margin 0

.info-block h4
  padding 0 0 5px
  text-align center
