$list-item-height = 30px;
$list-padding = 15px;
$count-list = 10;
$short-count-list = 5;

$separatorBlock = 10px;

$full_padding = 475px;
$short_padding = 162px;

$padding_over_search = 148px;
$padding_over_head = 148px;

$site-width = 960px;
$site-padding = 10px;

$padding-layout-light = 100px;

/* custom grid width */
$col-cell-460 = 460px;
$col-cell-480 = 480px;
$col-cell-390 = 390px;
$col-cell-next-500 = 534px;
$col-cell-next-300 = 334px;
$col-cell-next-200 = 230px;



$black = #333;
$warning = #f8d8d0;
$blue = #1f609f;
$gray = #a8abba;
$gray-l = #878787;
$white = #fff;
$orange = #ffaa00;
$color-separator = #d6d7d9;
/*$green = #61a427;*/
$green = #69c123;
$red = #ce1900;


$small = .75em; /* 12px */
$medium = .9em; /* 14px */
$large = 1.1em; /* 18px */
$big = 1.5em;   /* 24px */


calc(prop, val, fallback) {
  if (fallback) {
    {prop}: fallback;
  }
  {prop}: s("-webkit-calc(%s)",val);
  {prop}: s("calc(%s)", val);
}
//calc('width', s("50% - 5px"), "100%");


color-button(name, color1, color2) {

	bg = (color2/2 + color1/2);
	t = (color1 - 6%);
	b = (color2 - 20%);

	&-{name} {

		color: $white;
		//text-shadow: 0 -1px 1px rgba($black, .40);

		background: bg;
		background: rgba(bg, .9);
		//border-color: t (t/2 + b/2) b;
		gradient(top, rgba(color1, .9), rgba(color2, .9));

		&:hover {
			/*background-color: color1 + 10%;
			border-color: t (t/2 + b/2) b;
			gradient(top, (color1 + 10%), (color2 + 10%));*/
		}

		&:active{
			/*background-color: color1 - 5%;
			gradient(top, (color1 - 5%), color2);
			box-shadow: inset 0px 2px 1px rgba(77, 53, 3, 0.15);*/
		}


		&.disabled,
		&[disabled] {
			opacity: 0.4;

			&:hover,
			&:active {
				background-color: color1;
				gradient(top, color1, color2);
			}
		}

		&.pressed {
			//background: bg;
			//box-shadow: inset 0 -.5em .5em .1em (color2 + 23%)

			.btn__text {
				color: $black;
			}
		}

		.btn__text {
			color: $white;
		}
	}
}