@import "../euroset/font-page.styl"

body{
    font-family: 'HouschkaRoundedAlt-Medium', sans-serif;
}
.page{
    padding-bottom 20px
}
.footer_block{
    padding-top 30px
}
header{
    width 970px !important
}
.container{
    width 970px
    margin 0 auto

    &:after,
    &:before{
        content ''
        display table
        clear both
    }
}
.navbar{
    text-align center

    li{
        float none !important
        display inline-block
    }
}
.main-menu{
    li,
    a{
        font-family: 'HouschkaRoundedAlt-Bold';
    }
}
.contact-info{
    font-family: 'HouschkaRoundedAlt-Bold';
}
.content{
    width 970px !important
}
.bg-search{
    height 114px
    margin 0 0 20px
    padding 60px 0 0 0 !important
    border-bottom 4px solid #fce314

    .navbar{
        height 50px
    }
}
.div_page_cover{
    position relative

    h1{
        margin 0 0 15px
        padding 0 5px
        font-size 35px
        font-family 'HouschkaRoundedAlt-Medium' !important
    }
}