<div class="b-offers-container">


	<div class="offers-card-banner-container main" ng-controller="SliderCtrl" ng-show="slides.length > 0" app-slider>


		<ul class="offers-card-banner-list Offer-card-banners">
			<li class="offer-card-banner-item" ng-repeat="slide in slides track by $index">
				<!--<img class="img" ng-src="slide.Image" />-->
				<div class="img" style="background-image: url('{{slide.Image}}')"></div>
				<div class="darken-container" ng-if="slide.NeedFilterBrightness"
				     ng-click="offerClickSlider(slide, $event, $index)"></div>
				<div class="info-container" ng-click="offerClickSlider(slide, $event, $index)">
					<div class="info">
						<h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow1)">
							{{::slide.FrontTitleRow1}}
						</h3>

						<h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow2)">
							{{::slide.FrontTitleRow2}}
						</h3>

						<p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow1)">
							{{::slide.FrontSubTitleRow1}}
						</p>

						<p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow2)">
							{{::slide.FrontSubTitleRow2}}
						</p>

						<p class="description" ng-if="!isNullOrEmpty(slide.FrontPrice)">
							{{::slide.FrontPrice}}
							<span class="price"></span>
						</p>
					</div>
				</div>
			</li>
		</ul>


		<div class="banner-dots-container">
			<ul class="banner-dots Banner-dots"></ul>
		</div>


		<div class="b-offers-categories-container">
			<div class="b-offers-categories">
				<div class="b-offers-category__list">
					<div class="b-offers-category">Не важно куда</div>
					<div class="b-offers-category">В Европу</div>
					<div class="b-offers-category">В Горы</div>
					<div class="b-offers-category">На пляж</div>
					<div class="b-offers-category">По России</div>
					<div class="b-offers-category">Без визы</div>
				</div>
			</div>
		</div>


	</div>


	<div class="b-offers-filters-container">
		<div class="b-offers-filters">

			<ui-select ng-model="filter.Location"
			           theme="selectize"
			           append-to-body="'true'"
			           on-select="filterChange(filter)"
			           class="b-offers-filter">
				<ui-select-match placeholder="Откуда">{{$select.selected.Text}}</ui-select-match>
				<ui-select-choices repeat="item.Value as item in Locations | filter: $select.search"
				                   refresh-delay="0">
					<span ng-bind-html="item.Text | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>

			<ui-select ng-model="filter.Month"
			           theme="selectize"
			           append-to-body="'true'"
			           on-select="filterChange(filter)"
			           class="b-offers-filter">
				<ui-select-match placeholder="Когда">{{$select.selected.Text}}</ui-select-match>
				<ui-select-choices repeat="item.Value as item in Months | filter: $select.search"
				                   refresh-delay="0">
					<span ng-bind-html="item.Text | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>

			<ui-select ng-model="filter.Period"
			           theme="selectize"
			           append-to-body="'true'"
			           on-select="filterChange(filter)"
			           class="b-offers-filter">
				<ui-select-match placeholder="На сколько">{{$select.selected.Text}}</ui-select-match>
				<ui-select-choices repeat="item.Value as item in Periods | filter: $select.search"
				                   refresh-delay="0">
					<span ng-bind-html="item.Text | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>

			<ui-select ng-model="Sort"
			           theme="selectize"
			           append-to-body="'true'"
			           on-select="offersSort(Sort)"
			           class="b-offers-filter b-offers-filter__sort">
				<ui-select-match placeholder="Сортировать">Сортировать: {{$select.selected.Text}}</ui-select-match>
				<ui-select-choices repeat="item.Value as item in Sorts | filter: $select.search"
				                   refresh-delay="0">
					<span ng-bind-html="item.Text | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>

		</div>
	</div>


	<div class="b-offers">
		<div class="b-offers__row"
		     ng-repeat="offerArr in offers track by $index"
		     ng-class="{'b-offers__row-1' : (offerArr.length == 1), 'b-offers__row-2' : (offerArr.length == 2)}"
		>
			<div class="b-offer"
			     ng-repeat="offer in offerArr track by $index"
			>
				<div class="b-offer__container">
					<!--<div class="b-offer__bg"-->
					<!--style="background-image: url('{{ offer.img }}')"-->
					<!--&gt;</div>-->

					<img class="b-offer__bg"
					     ng-src="{{ offer.img }}"
					     alt="{{ offer.titleSub }}, {{ offer.titleMain }}, {{ offer.titleInfo }}"/>

					<a class="b-offer__container-link" href="#"></a>

					<div class="b-offer__container-txt">

						<h2 class="b-offer__title">
							<div class="b-offer__title-sub">
								{{ offer.titleSub }}
							</div>
							<div class="b-offer__title-main">
								{{ offer.titleMain }}
							</div>
							<div class="b-offer__title-info">
								{{ offer.titleInfo }}
							</div>
						</h2>

						<div class="b-offer__price">
							<div class="b-offer__price-txt">
								{{ offer.priceTxt }}
							</div>
							<div class="b-offer__price-value">
								{{ offer.priceValue | currency : "" : 0 }}
								<i class="fa fa-rub b-offer__price-currency"></i>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
