<div class="b-offers">

	<div class="b-offer" ng-repeat="offer in offers track by $index">
		<div class="b-offer__bg"
		     style="background-image: url({{ offer.img }})">
			<div class="b-offer__container">

				<h2 class="b-offer__title">
					<div class="b-offer__title-sub">
						{{ offer.titleSub }}
						{{ $index }}
					</div>
					<div class="b-offer__title-main">
						{{ offer.titleMain }}
					</div>
					<div class="b-offer__title-info">
						{{ offer.titleInfo }}
					</div>
				</h2>

				<div class="b-offer__price">
					<div class="b-offer__price-txt">
						{{ offer.priceTxt }}
					</div>
					<div class="b-offer__price-value">
						{{ offer.priceValue }}
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
