<div class="results-list b-results-list_dp">
    <div class="b-list-panel">

		{{#if Enumerable.length}}

			{{#if EnumerableCount}}
                <div class="b-switch-filters_buttons_right font-medium">
                    {{#if iterable_hotels}}
                        {{{pluralize((EnumerableCount),[
                            "Еще <b>"+ EnumerableCount +"</b> вариант отеля",
                            "Еще <b>"+ EnumerableCount +"</b> варианта отелей",
                            "Еще <b>"+ EnumerableCount +"</b> вариантов отелей"
                        ])}}}
                    {{else}}
                        {{{pluralize((EnumerableCount), [
                            "Еще <b>"+ EnumerableCount +"</b> вариант перелета",
                            "Еще <b>"+ EnumerableCount +"</b> варианта перелетов",
                            "Еще <b>"+ EnumerableCount +"</b> вариантов перелетов"
                        ])}}}
                    {{/if}}
                    {{#if iterable_hotels && EnumerableCount}}
                            <span class="b-switch-dynamic-serp-display__title cursor-pointer"
                                 on-click="goToMap">
                                <span class="b-switch-dynamic-serp-display__title-icon icon-sprite-switch-map2"></span>
                                <span class="b-switch-dynamic-serp-display__title-link">Отели на карте</span>
                            </span>
                    {{/if}}
                </div>
			{{/if}}

            <!-- Можно указать любой ( компонент - шаблон ) который будет вставлен на место EnumerableItem  -->
            <div class="b-list-panel__list b-list-panel__hotels_list {{waitData ? 'b-list-panel__wait' : '' }}">

	            {{#if iterable_hotels}}
					{{#each EnumerableList}}
						{{>EnumerableItemHotels}}
					{{/each}}
				{{/if}}

				{{#if iterable_tickets}}
					{{#each EnumerableList}}
						{{>EnumerableItemTickets}}
					{{/each}}
				{{/if}}
	            
            </div>

            {{#if showButtonMore && EnumerableCount > 10}}
			    <div class="button button-scroll-to-more" on-click="goToMore">
				    <span class="icon-arrow-bottom"></span>
				    Показать ещё
	            </div>
            {{/if}}


            <!-- Если в результате фильтрации не чего не найдено -->
			{{#if !EnumerableCount }}
                <div class="b-list-panel__hotels_list">
                    <div class="results-list__empty
                    {{ (iterable_hotels) ? 'results-list__empty_type_hotels':'results-list__empty_type_tickets'}}">
                        <p>Варианты не найдены.</p>

                        <p>Попробуйте изменить условия поиска или настройки фильтров.</p>
                    </div>
                </div>
			{{/if}}

		{{else}}
            <!-- Если сервис не чего не вернул  -->
            <div class="b-list-panel__hotels_list">
                <div class="results-list__empty
                    {{ (iterable_hotels) ? 'results-list__empty_type_hotels':'results-list__empty_type_tickets'}}">
                    <p>Варианты не найдены.</p>

                    <p>Попробуйте изменить условия поиска или настройки фильтров.</p>
                </div>
            </div>
		{{/if}}
	    	    
    </div>

</div>