<div class="layout-light contacts">
    <div class="offers-light-grey">
        <div class="sub-menu-container">
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="/#/about/">О компании</a></li>
                <li class="sub-menu-item"><a href="/#/contacts/">Контакты</a></li>
                <li class="sub-menu-item"><a href="/#/where-to-buy/">Где купить</a></li>
                <li class="sub-menu-item"><a href="/#/certificates/">Свидетельство и сертификат Инна Тур</a></li>
                <li class="sub-menu-item">Свидетельство и сертификат Компания Инна Тур</li>
            </ul>
        </div>

        <div class="lic__container">
            <div class="lic__pic-container">

                <div class="lic__pic-left">
                    <img src="/spa/img/sert/kit_1.jpg" class="lic__pic" alt="" style="height: 617px">

                    <div class="lic__pic-descr">Единый федеральный реестр туроператоров</div>
                </div>
                <div class="lic__pic-right">
                    <!--<img src="/spa/img/sert/kit_2.jpg" class="lic__pic" alt="" style="height: 617px">-->
                    <img src="/spa/img/sert/kit_3.jpg" class="lic__pic" alt="" style="height: 617px">

                    <div class="lic__pic-descr">Сертификат ассоциации &laquo;Турпомощь&raquo;</div>
                </div>

                <!--<div class="lic__pic-left">-->
                    <!--<img src="/spa/img/lic3.jpg" class="lic__pic" alt="">-->

                    <!--<div class="lic__pic-descr">Сертификат ассоциации &laquo;Турпомощь&raquo;</div>-->
                <!--</div>-->

            </div>
            <div class="lic__block">
                <div>
                    <strong>
                        Единый федеральный реестр туроператоров
                    </strong>
                </div>
                <dl>
                    <dt class="lic__list-title">Реестровый номер</dt>
                    <dd class="lic__list-desc">
                        МТ3 017278
                    </dd>
                    <dt class="lic__list-title">Полное наименование</dt>
                    <dd class="lic__list-desc">
                        Общество с ограниченной ответственностью "КОМПАНИЯ ИННА ТУР"
                    </dd>
                    <dt class="lic__list-title">Сокращенное фирменное наименование</dt>
                    <dd class="lic__list-desc">
                        ООО "КОМПАНИЯ ИННА ТУР"
                    </dd>
                    <dt class="lic__list-title">Адрес (место нахождения)</dt>
                    <dd class="lic__list-desc">
                        129223, г. Москва, пр. Мира, д. 119, стр. 536,офис 10
                    </dd>
                    <dt class="lic__list-title">Почтовый адрес</dt>
                    <dd class="lic__list-desc">
                        107113, г. Москва, ул. Маленковская, д.14, стр1 пом.II
                    </dd>
                    <dt class="lic__list-title">Адрес официального сайта в сети "Интернет"</dt>
                    <dd class="lic__list-desc"><a href="http://inna.ru/" class="lic__link">www.inna.ru</a></dd>
                    <dt class="lic__list-title">ИНН</dt>
                    <dd class="lic__list-desc">
                        9717019731
                    </dd>
                    <dt class="lic__list-title">ОГРН</dt>
                    <dd class="lic__list-desc">
                        1167746277401
                    </dd>
                    <dt class="lic__list-title">
                        Членство туроператора, осуществляющего деятельность в сфере выездного туризма, в объединении туроператоров в сфере выездного туризма
                    </dt>
                    <dd class="lic__list-desc">Да</dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">Адреса структурных подразделений</h3>
                <dl>
                    <dd class="lic__list-desc">
                        г. Москва, ул. Маленковская, д.14, корп.1
                    </dd>
                    <dd class="lic__list-desc">
                        г.Воронеж, ул. Никитинская, 23
                    </dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">
                    Общий объем денежных средств, полученных туроператором от реализации туристического продукта в сфере выездного туризма за предыдущий год (по данным бухгалтерской отчетности на конец отчетного года, представленным или опубликованным в соответствии с законодательством Российской Федерации):
                </h3>
                <dl>
                    <dt>Размер</dt>
                    <dd class="lic__list-desc">
                        применение упрощенной системы налогообложения
                    </dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">Финансовое обеспечение</h3>
                <dl>
                    <dt>Общий размер финансового обеспечения</dt>
                    <dd class="lic__list-desc">30 000 000</dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">Документ</h3>
                <dl>
                    <dt class="lic__list-title">Сфера туроператорской деятельности:</dt>
                    <dd class="lic__list-desc">международный выездной</dd>
                    <dt class="lic__list-title">Размер финансового обеспечения, руб.</dt>
                    <dd class="lic__list-desc">20 000 000</dd>
                    <dt class="lic__list-title">Способ финансового обеспечения</dt>
                    <dd class="lic__list-desc">договор страхования гражданской ответственности туроператора</dd>
                    <dt class="lic__list-title">Документ</dt>
                    <dd class="lic__list-desc">№ 7100-000354-18/16 от 23/05/2016</dd>
                    <dt class="lic__list-title">Срок действия финансового обеспечения</dt>
                    <dd class="lic__list-desc">с 01/06/2016 по 31/05/2017</dd>
                    <dt class="lic__list-title">Наименование организации, предоставившей финансовое обеспечение</dt>
                    <dd class="lic__list-desc">
                        САО "Якорь"
                    </dd>
                    <dt class="lic__list-title">Адрес (место нахождения) организации, предоставившей финансовое
                        обеспечение
                    </dt>
                    <dd class="lic__list-desc">
                        г.Москва, Подсосенский пер, д.5-7, стр.2
                    </dd>
                    <dt class="lic__list-title">Почтовый адрес организации, предоставившей финансовое обеспечение</dt>
                    <dd class="lic__list-desc">
                        г.Москва, Подсосенский пер, д.5-7, стр.2
                    </dd>
                </dl>
            </div>

            <div class="lic__block">
                <h3 class="lic__title">Документ</h3>
                <dl>
                    <dt class="lic__list-title">
                        Сфера туроператорской деятельности:
                    </dt>
                    <dd class="lic__list-desc">
                        внутренний туризм
                        <br>
                        международный въездной
                        <br>
                        международный выездной
                    </dd>
                    <dt class="lic__list-title">
                        Размер финансового обеспечения:
                    </dt>
                    <dd class="lic__list-desc">
                        10 000 000
                    </dd>
                    <dt class="lic__list-title">
                        Способ финансового обеспечения:
                    </dt>
                    <dd class="lic__list-desc">
                        договор страхования гражданской ответственности туроператора
                    </dd>
                    <dt class="lic__list-title">
                        Документ:
                    </dt>
                    <dd class="lic__list-desc">
                        № 21№54-10/16 от 23/05/2016
                    </dd>
                    <dt class="lic__list-title">
                        Срок действия финансового обеспечения:
                    </dt>
                    <dd class="lic__list-desc">
                        с 01/06/2016 по 31/05/2017
                    </dd>
                    <dt class="lic__list-title">
                        Наименование организации, предоставившей финансовое обеспечение:
                    </dt>
                    <dd class="lic__list-desc">
                        АО АСК "Инвестстрах"
                    </dd>
                    <dt class="lic__list-title">
                        Адрес (место нахождения) организации, предоставившей финансовое обеспечение:
                    </dt>
                    <dd class="lic__list-desc">
                        г. Москва, ул. Кирпичные Выемки, д.2, к.1
                    </dd>
                    <dt class="lic__list-title">
                        Почтовый адрес организации, предоставившей финансовое обеспечение:
                    </dt>
                    <dd class="lic__list-desc">
                        г. Москва, ул. Кирпичные Выемки, д.2, к.1
                    </dd>
                </dl>
            </div>

            <div class="lic__block">
                <h3 class="lic__title">Сфера туроператорской деятельности</h3>
                <dl>
                    <dd class="lic__list-desc">
                        внутренний туризм
                        <br>
                        международный въездной
                        <br>
                        международный выездной
                    </dd>
                </dl>
            </div>

            <div class="lic__block">
                <h3 class="lic__title">
                    Дата и номер приказа Ростуризма о внесении сведений в единый федеральный реестр туроператоров
                </h3>
                <dl>
                    <dt class='lic__list-title'>
                        Номер приказа:
                    </dt>
                    <dd class="lic__list-desc">
                        237-Пр-16
                    </dd>
                    <dt class='lic__list-title'>
                        Дата приказа:
                    </dt>
                    <dd class="lic__list-desc">
                        14/06/2016
                    </dd>
                    <dt class='lic__list-title'>
                        Номер выданного свидетельства:
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
