<div class="layout-light contacts">
    <div class="offers-light-grey">
        <div class="sub-menu-container">
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="/#/about/">О компании</a></li>
                <li class="sub-menu-item"><a href="/#/contacts/">Контакты</a></li>
                <li class="sub-menu-item"><a href="/#/where-to-buy/">Где купить</a></li>
                <li class="sub-menu-item">Свидетельство и сертификат</li>
            </ul>
        </div>

        <div class="lic__container">
            <div class="lic__pic-container">
                <div class="lic__pic-left">
                    <img src="/spa/img/sert-2016.jpg" class="lic__pic" alt="" style="height: 617px">

                    <div class="lic__pic-descr">Единый федеральный реестр туроператоров</div>
                </div>
                <div class="lic__pic-right">
                    <img src="/spa/img/lic3.jpg" class="lic__pic" alt="">

                    <div class="lic__pic-descr">Сертификат ассоциации &laquo;Турпомощь&raquo;</div>
                </div>

            </div>
            <div class="lic__block">
                <dl>
                    <dt class="lic__list-title">Реестровый номер</dt>
                    <dd class="lic__list-desc">МТ3 016215</dd>
                    <dt class="lic__list-title">Полное наименование</dt>
                    <dd class="lic__list-desc">Общество с ограниченной ответственностью "ИННА ТУР"</dd>
                    <dt class="lic__list-title">Сокращенное фирменное наименование</dt>
                    <dd class="lic__list-desc">ООО "ИННА ТУР"</dd>
                    <dt class="lic__list-title">Адрес (место нахождения)</dt>
                    <dd class="lic__list-desc">129223, г. Москва, пр. Мира, д. 119, стр. 536</dd>
                    <dt class="lic__list-title">Почтовый адрес</dt>
                    <dd class="lic__list-desc">129223, г. Москва, пр. Мира, д. 119, стр. 536</dd>
                    <dt class="lic__list-title">Адрес официального сайта в сети "Интернет"</dt>
                    <dd class="lic__list-desc"><a href="http://inna.ru/" class="lic__link">www.inna.ru</a></dd>
                    <dt class="lic__list-title">ИНН</dt>
                    <dd class="lic__list-desc">7717294942</dd>
                    <dt class="lic__list-title">ОГРН</dt>
                    <dd class="lic__list-desc">1157746645650</dd>
                    <dt class="lic__list-title">
                        Членство туроператора, осуществляещго деятельность в сфере выездного туризма,
                        в объединении туроператоров в сфере выездного туризма
                    </dt>
                    <dd class="lic__list-desc">Да</dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">Адреса структурных подразделений</h3>
                <dl>
                    <dd class="lic__list-desc">107113, г. Москва, ул. Маленковская, д.14, корп.1</dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">Финансовое обеспечение</h3>
                <dl>
                    <dt>Общий размер финансового обеспечения</dt>
                    <dd class="lic__list-desc">30 000 000</dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">Документ</h3>
                <dl>
                    <dt class="lic__list-title">Размер финансового обеспечения, руб.</dt>
                    <dd class="lic__list-desc">30 000 000</dd>
                    <dt class="lic__list-title">Способ финансового обеспечения</dt>
                    <dd class="lic__list-desc">договор страхования гражданской ответственности туроператора</dd>
                    <dt class="lic__list-title">Документ</dt>
                    <dd class="lic__list-desc">№ Т/01/281215</dd>
                    <dt class="lic__list-title">Срок действия финансового обеспечения</dt>
                    <dd class="lic__list-desc">с 26/03/2016 по 25/03/2017</dd>
                    <dt class="lic__list-title">Наименование организации, предоставившей финансовое обеспечени</dt>
                    <dd class="lic__list-desc">Общество с ограниченной ответственностью Страховая компания «Инвест-Альянс»</dd>
                    <dt class="lic__list-title">Адрес (место нахождения) организации, предоставившей финансовое
                        обеспечение
                    </dt>
                    <dd class="lic__list-desc">236000, г. Калининград, ул. Пролетарская, д. 15, оф. 4</dd>
                    <dt class="lic__list-title">Почтовый адрес организации, предоставившей финансовое обеспечение</dt>
                    <dd class="lic__list-desc">236000, г. Калининград, ул. Пролетарская, д. 15, оф. 4</dd>
                </dl>
            </div>
            <div class="lic__block">
                <h3 class="lic__title">Сфера туроператорской деятельности</h3>
                <dl>
                    <dd class="lic__list-desc">внутренний туризм <br>международный въездной <br>международный выездной
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
