<div class="layout-light contacts">
    <div class="offers-light-grey">
        <div class="sub-menu-container">
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="/#/about/">О компании</a></li>
                <li class="sub-menu-item">Контакты</li>
                <li class="sub-menu-item"><a href="/#/where-to-buy/">Где купить</a></li>
                <li class="sub-menu-item"><a href="/#/certificates/">Свидетельство и сертификат Инна Тур</a></li>
                <li class="sub-menu-item"><a href="/#/certificates_kit/">Свидетельство и сертификат Компания Инна Тур</a></li>
            </ul>
        </div>

        <div class="main__center">
            <h3 class="section-header">Офисы компании</h3>
            <ul class="cities-list City-menu">
                <li class="cities-list-item"><a href="#" data-id="1">Москва</a></li>
                <li class="cities-list-item"><a href="#" data-id="6">Махачкала</a></li>
                <!--<li class="cities-list-item"><a href="#" data-id="2">Краснодар</a></li>-->
                <!--<li class="cities-list-item"><a href="#" data-id="3">Волгоград</a></li>-->
                <!--<li class="cities-list-item"><a href="#" data-id="4">Ростов-на-Дону</a></li>-->
                <li class="cities-list-item"><a href="#" data-id="5">Воронеж</a></li>
                <!--<li class="cities-list-item"><a href="#" data-id="7">Ульяновск</a></li>-->
            </ul>
        </div>

        <ul class="main__center contacts-list Contacts-list">
            <li class="contacts-list-item" data-city="1" data-lng="37.672064" data-lat="55.790372">
                <p class="address">Москва, 107113, ул. Маленковская, д.&nbsp;14, корпус&nbsp;1 (м. Сокольники)</p>
                <p class="phone">
                    график работы: ежедневно 9-21<br/>
                    купить тур: +7 (495) 742-12-12, <a href="mailto: sale@inna.ru">sale@inna.ru</a><br/>
                    агентам: +7 (495) 742-17-17, <a href="mailto: agent@inna.ru">agent@inna.ru</a>
                </p>
            </li>
            <li class="contacts-list-item" data-city="6" data-lng="47.516162" data-lat="42.967526">
                <p class="address">Махачкала, проспект Гамидова, 16в, ТЦ&nbsp;Оазис</p>
                <p class="phone">
                    график работы: ежедневно с&nbsp;9-18<br/>
                    +7(988) 292-14-78, +7(988) 92-14-78, <a href="mailto: dagestan@inna.ru">dagestan@inna.ru</a>
                </p>
            </li>
            <li class="contacts-list-item" data-city="6" data-lng="47.656632422754626" data-lat="42.81900280171686">
                <p class="address">Аэропорт &laquo;Махачкала&raquo;, 2&nbsp;этаж</p>
                <p class="phone">
                    график работы: ежедневно с&nbsp;8-21<br/>
                    +7 (989) 864-52-64<!--, <a href="mailto: i.agametov@inna.ru">i.agametov@inna.ru</a>-->
                </p>
            </li>
            <!--<li class="contacts-list-item" data-city="2" data-lng="39.050141" data-lat="45.034229">-->
                <!--<p class="address">Краснодар, ул. Уральская, 79  ТЦ «АШАН»</p>-->
                <!--<p class="phone">-->
                    <!--график работы: ежедневно 10-22<br/>-->
                    <!--+7 (861) 210-93-99, +7 (861) 210-93-98, <a href="mailto: krr@inna.ru">krr@inna.ru</a>-->
                <!--</p>-->
            <!--</li>-->
            <!--<li class="contacts-list-item" data-city="3" data-lng="44.519931" data-lat="48.711389">-->
                <!--<p class="address">Волгоград, 400131, ул. Мира, 20</p>-->
                <!--<p class="phone">-->
                    <!--график работы: пн-пт 9-19, сб-вс выходной<br/>-->
                    <!--+7 (8442) 59-90-00, <a href="mailto: volgograd@inna.ru">volgograd@inna.ru</a>-->
                <!--</p>-->
            <!--</li>-->
            <!--<li class="contacts-list-item" data-city="4" data-lng="39.715525" data-lat="47.221191">-->
                <!--<p class="address">Ростов-на-Дону, ул. Социалистическая, д. 51, офис 7</p>-->
                <!--<p class="phone">-->
                    <!--график работы: пн-пт 10-19, сб-вс выходной<br/>-->
                    <!--+7 (863) 309-03-04, +7 (863) 226-21-09, <a href="mailto: rostov@inna.ru">rostov@inna.ru</a>-->
                <!--</p>-->
            <!--</li>-->
            <li class="contacts-list-item" data-city="5" data-lng="39.19807080" data-lat="51.66626168">
                <p class="address">Воронеж, ул. Никитинская д.23</p>
                <p class="phone">
                    график работы: ежедневно 9-20<br/>
                    +7 (473) 262-20-02, +7(473)239-52-39, <a href="mailto: 24@inna.ru">24@inna.ru</a>, <a href="mailto: 5555@rusline.aero">5555@rusline.aero</a>, <a href="mailto: +24@inna.ru">+24@inna.ru</a> (для корпоративных клиентов)
                </p>
            </li>
            <!--<li class="contacts-list-item" data-city="7" data-lng="48.39502" data-lat="54.315305">-->
                <!--<p class="address">Ульяновск, 432063, улица Гончарова, 13</p>-->
                <!--<p class="phone">-->
                    <!--график работы: пн-сб 9-17, вс&nbsp;&mdash; выходной<br/>-->
                    <!--+7 (937) 275-51-25, <a href="mailto: ulk@inna.ru">ulk@inna.ru</a>-->
                <!--</p>-->
            <!--</li>-->
        </ul>

        <div class="map-container Map-container" ymap></div>
    </div>
</div>
