<div class="layout" style="color:#fff;">
    <div ng-show="showLanding">Ищу...</div>
    <div ng-show="!showLanding">
        <h1>Best combination</h1>
        <table border="1" bordercolor="#666" cellpadding="15" cellspacing="0">
            <tr>
                <th>Hotel</th>
                <th>ticket</th>
                <th>Combination properties</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <ng:include src="show"></ng:include>
    </div>
</div>