<h1>Tickets</h1>
<ul>
    <li ng-repeat="ticket in getAllTicketsForCurrentCombination(currentCombination)" style="border:1px solid red;">
        <table>
            <tr>
                <td>{{ticket | json}}</td>
                <td>
                    <button ng-show="ticket.To.TicketId != currentCombination.TicketId" ng-click="updateTicket(ticket)">SET CURRENT</button>
                    <div ng-show="ticket.To.TicketId == currentCombination.TicketId">CURRENT</div>
                </td>
            </tr>
        </table>
    </li>
</ul>