<div class="layout" style="color:#fff;">
    <div ng-show="showLanding">Ищу...</div>
    <div ng-show="!showLanding">
        <h1>Best combination</h1>
        <table border="1" bordercolor="#666" cellpadding="15" cellspacing="0">
            <col width="30%"><col width="30%"><col width="40%">
            <tr>
                <th>Hotel</th>
                <th>ticket</th>
                <th>Whole combination</th>
            </tr>
            <tr>
                <td>
                    {{combination.Hotel | json}}
                    <div ng-show="show == TICKETS_TAB"><button ng-click="show = HOTELS_TAB">hotels</button></div>
                </td>
                <td>
                    {{combination.Ticket | json}}
                    <div ng-show="show == HOTELS_TAB"><button ng-click="show = TICKETS_TAB">tickets</button></div>
                </td>
                <td>{{combination | json}}</td>
            </tr>
        </table>

        <ng:include src="show"></ng:include>
    </div>
</div>