<div class="layout-light">
    <div class="offers-card-banner-container main" ng-controller="SliderCtrl" ng-show="slides.length > 0" app-slider>
        <ul class="offers-card-banner-list Offer-card-banners">
            <li class="offer-card-banner-item" ng-repeat="slide in slides track by $index">
                <!--<img class="img" ng-src="slide.Image" />-->
                <div class="img" style="background-image: url('{{slide.Image}}')"></div>
                <div class="darken-container" ng-if="slide.NeedFilterBrightness" ng-click="offerClickSlider(slide, $event, $index)"></div>
                <div class="info-container" ng-click="offerClickSlider(slide, $event, $index)">
                    <div class="info">
                        <h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow1)">
	                        {{::slide.FrontTitleRow1}}
                        </h3>
                        <h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow2)">
	                        {{::slide.FrontTitleRow2}}
                        </h3>
                        <p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow1)">
	                        {{::slide.FrontSubTitleRow1}}
                        </p>
                        <p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow2)">
	                        {{::slide.FrontSubTitleRow2}}
                        </p>
                        <p class="description" ng-if="!isNullOrEmpty(slide.FrontPrice)">
	                        {{::slide.FrontPrice}}
	                        <span class="price"></span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="banner-dots-container">
            <ul class="banner-dots Banner-dots"></ul>
        </div>
    </div>

    <div class="offers-white" ng-class="{'Offers-anchor':($index == 0)}" ng-repeat="section in sections track by $index">
        <!--<ul class="breadcrumbs" ng-if="$index == 0">
            <li class="crumb"><a href="#/">Главная</a></li>
            <li class="crumb"><a href="#/individualtours/">Индивидуальные программы</a></li>
        </ul>-->
        <div class="offers-container">
            <h2 class="offers-title">
	            {{::section.Name}}
            </h2>
            <p class="offers-description">
	            {{::section.Description}}
            </p>
            <ul class="offers-list" ng-controller="OffersListCtrl">
                <ng:any ng-repeat="block in section.OfferLayouts track by $index">
                    <ng:include src="getTemplateUrlByBlockType(block.OfferLayoutType)">
                    </ng:include>
                </ng:any>
            </ul>
        </div>
    </div>
</div>