.title
    font-size 20px
    font-weight bold
    padding 0 0 11px;

.warning-title
    font-size 18px
    line-height 1
    display block
    margin 0 0 2px

.warning-info
    font-size 15px
    line-height 20px

.form-container
    border 0
    border-top 1px solid #c0c0c2
    clearfix()
    padding 18px 0 2px

.form-container-main
    border 0
    padding 11px 0 40px

.b-field-block
    float left
    position relative

.b-field-label
    display inline-block
    font-size 12px
    margin 0 11px
    color #878787
    white-space nowrap

.b-field-label-docs
    margin-left 0

.b-field-block-surname
    margin-left -1px !important

.b-field-text
    display block
    border 1px solid #c0c0c2
    padding 6px 10px
    font-size 14px
    margin 2px 0 10px
    position relative
    box-sizing border-box
    width 100%
    outline none
    font-family ProximaNova, Arial, sans-serif
    border-radius 2px

.b-phone-prefix-select
    display inline-block;

.b-label-phone
    display: block;
    margin: 4px 11px 2px 11px;

.b-phone-prefix
    display inline-block;
    width 150px;

.b-phone-num
    display inline-block;
    width 200px;
    margin-left -5px;

.b-field-select
    padding-right 25px
    background url(/spa/img/i.png) no-repeat #fff
    background-position right 8px top -181px

.b-field-text:focus
    border-color #999
    z-index 2

.b-field-text:disabled
    border-color #c0c0c2
    background #e6e7e9
    color #4d4d4d

.b-field-block-surname input:disabled
    z-index 2

.error, .error:focus
    border-color #e20000 !important
    box-shadow: 0 0 0 1px #e20000
    z-index 3

.error-text
    color #e20000
    font-weight bold
    font-size 16px
    letter-spacing -.025em
    padding 0 0 12px 22px
    background url(/spa/img/i.png) no-repeat 0 -1543px
    clear both
    margin -7px 0 0

.b-field-text::-webkit-input-placeholder
    color #999
    font-weight normal

.b-field-text:-moz-placeholder
    color #999
    font-weight normal

.b-field-text::-moz-placeholder
    color #999
    font-weight normal

.b-field-text:-ms-input-placeholder
    color #999
    font-weight normal

.b-agreement
    display inline-block
    clear both
    padding 0 0 0 30px
    position relative
    font-size 14px
    letter-spacing -.025em
    margin 0 0 15px

.b-agreement input
    display none

.b-checkbox
    width 15px
    height 15px
    //background #fff
    border 2px solid #89c13a
    border-radius 3px
    display block
    position absolute
    left 0
    top -1px

.b-radio
    width 15px
    height 15px
    background #fff
    border 2px solid #89c13a
    border-radius 15px
    display block
    position absolute
    left 0
    top -1px

.b-agreement input:checked + .b-checkbox
    background url(/spa/img/i.png) no-repeat 2px -590px #89c13a

.b-agreement input:checked + .b-radio:before
    content ''
    display block
    position absolute
    width 11px
    height 11px
    background #89c13a
    border-radius 11px
    left 2px
    top 2px

.b-agreement input:disabled + .b-checkbox
    //background-color #c0c0c2
    border-color #c0c0c2

.b-field-group
    clearfix()

.b-field-group .b-field-block
    margin 0 0 0 20px

.b-field-group-passport .b-field-block
    margin 0 0 0 16px

.b-field-group .b-field-block:first-child
    margin 0

.b-field-block-90
    width 90px

.b-field-block-94
    width 94px

.b-field-block-96
    width 96px

.b-field-block-105
    width 105px

.b-field-block-120
    width 120px

.b-field-block-123
    width 123px

.b-field-block-130
    width 130px

.b-field-block-143
    width 143px

.b-field-block-170
    width 170px

.b-field-block-190
    width 190px

.b-field-block-192
    width 192px

.b-field-block-195
    width 195px

.b-field-block-230
    width 230px

.b-field-block-240
    width 240px

.b-field-block-290
    width 290px

.b-field-block-496
    width 496px

.b-field-email
    width 388px

.b-field-phone
    width 370px

.b-field-second-name
    width 160px

.b-field-name
    width 150px

.b-field-birth
    width 110px

.b-field-sitizenship
    width 180px

.b-field-document
    width 110px

.b-field-expires
    width 110px

.b-field-bonus-card
    width 220px

.b-field-bonus-aircompany
    width 150px

.b-field-bonus-card-num
    width 150px

.b-field-block-auth .b-field-text
    border-color #89c13a
    box-shadow 0 0 0 1px #89c13a

.b-auth
    position absolute
    left 0
    right 0
    background #fff
    top 62px
    padding 13px 30px 15px
    text-align center
    z-index 50
    box-shadow 0 0 10px rgba(0, 0, 0, .3)

.b-auth-text
    font-size 14px
    letter-spacing -.025em
    padding 0 0 5px

.b-auth-button
    font-size 16px
    font-weight bold
    padding 8px 20px
    display inline-block

.b-auth-button:hover
    text-decoration none

.b-auth-close
    width 8px
    height 8px
    display block
    position absolute
    right 0
    top 0
    padding 7px
    background url(/spa/img/i.png) no-repeat 7px -1369px

.b-sum-container
    border-bottom 1px solid #cdcdcd
    background #e4e4e4
    text-align center
    font-size 14px
    color #242424
    padding 15px 20px 12px
    margin 0 0 20px
    letter-spacing -0.025em

.b-sum-container b, .b-sum-container .b-rub
    font-size 36px

.b-sum-container .rub
    font-size 24px
    font-weight bold
    margin-right 10px

.b-sum-container .b-sum
    font-size 16px
    display inline-block
    color #878787

.b-sum-rub
    font-size 12px
    font-weight bold
    margin 0 12px 0 0

.b-sum-button
    margin 0 0 -5px 10px
    font-size 18px
    padding 10px 25px
    vertical-align top
    border-bottom 1px solid #7bad34

.b-tickets-info-container {
    border-top 4px solid #82b739
    border-bottom 1px solid #cdcdcd
    /*background #e4e4e4*/
    background #fff
    margin 0 0 22px
    padding 21px 0 8px
    text-align center
    position relative
}

.b-tickets-info-container__inner-wrap {
    margin 0 auto;
    width 960px;
    text-align left;
}

.b-tickets-info-container:before
    content ''
    position absolute
    top 0
    left 0
    right 0
    border-top 1px solid #75a433

.b-tickets-info
    font-size 14px
    line-height 18px
    letter-spacing -.025em
    padding 0 0 0 18px
    text-align left
    color #878787
    display inline-block
    border-left 1px solid #c2c2c4
    margin-left 27px

    b
        color #000
        font-weight normal

.b-tickets-info-container .b-tickets-sum
    display block
    font-size 16px
    display inline-block
    color #878787

.b-tickets-sum
    display: inline-block
    margin 0 10px

    .b-rub {
        padding-left: 0;
    }

    b
        font-size 36px
        letter-spacing -.025em
        color #000

.pay-type-select {
    margin-bottom 20px;

    li {
        margin: 10px 0;
    }

    .icon-img {
        display inline-block;
        margin: 0px 15px -5px 0;
    }
}

.b-tickets-info-svyaznoy {
    margin-bottom 10px;

    .br {
        display: inline-block;
        margin-left: 100px;
    }
}

.main__center {
    &.b-svyaznoy {
        padding-bottom 20px;

        p {
            margin-bottom 10px;
        }

        a {
            color #53a1cc;
        }
    }
}

.b-order-num {
    font-size 22px;
    margin 15px 0 0 0;

    p {
        margin-bottom 15px
    }
}

.b-print-btn {
    cursor pointer;
    margin 20px 0;
}

.b-tickets-ok {
    font-size 20px
    font-weight bold
    padding 0 0 5px 29px
    /*background url(/spa/img/arrow3.png) no-repeat 0 3px*/
    display inline-block

    &.b-svyaznoy {
        padding: 0 0 10px 0px;
        margin: 0 0 0 -3px;
    }

    .fa {
        color #89C13A;
        font-size 24px;
    }
}

.b-cc-container
    clearfix()
    margin 0 0 30px

.b-cc-front
    float left
    width 457px
    height 302px
    border-radius 12px
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5)
    background #fff
    position relative
    box-sizing border-box
    padding 90px 0 0 110px

.b-cc-end
    float right
    width 457px
    height 302px
    border-radius 12px
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5)
    background #fff
    position relative

    &:before
        top 46px
        height 59px
        left 0
        right 0
        content ''
        background #595a5c
        position absolute
        display block

.b-cvc
    position absolute
    left 22px
    right 25px
    top 136px
    height 80px
    background url(/spa/img/cc-bg.png)
    box-sizing border-box
    padding 24px 14px 14px

.b-cvc .b-field-text
    float right
    width 66px
    margin 0 0 0 10px
    text-align center

.b-cvc label
    float right
    font-size 14px
    color #666
    padding 7px 0 0
    letter-spacing -.025em

.b-cc-type
    position absolute
    left 14px
    top 9px
    display block

.b-field-text-small
    float left
    width 70px
    margin 0 10px 0 0
    text-align center

.b-field-text-name
    width 310px

.b-cc-block
    padding 0 0 17px
    position relative

.b-cc
    clearfix()

.b-cc-date
    float left
    font-size 14px
    color #878787

.b-cc-date input
    float none
    margin-top 1px

.b-cc-block-label
    position absolute
    width 130px
    left -143px
    font-size 12px
    color #878787
    text-align right
    padding 12px 0 0
    letter-spacing -.025em

.b-cc-block-label-number
    margin-top -1px
    padding 0

.b-cc-block-label-date
    padding 29px 0 0

.b-agreement-cc
    margin: 15px 0 30px 6px;
    /*float left*/
    width 720px
    clear none

    a
        color #1e88c1

.b-pay-button-block
    clearfix()
    text-align center

.b-pay-button
    font-size 20px
    letter-spacing -.025em
    border-bottom 1px solid #7bad34
    padding 12px 35px 13px
    display inline-block
    position relative
    overflow hidden
    float right

.b-pay-button input
    position absolute
    display block
    left 0
    top 0
    width 300px
    height 300px
    cursor pointer
    border 0
    opacity 0

.b-tickets-form
    padding 0 0 30px

.radio-list
    font-size 14px
    clearfix()
    margin-top 3px

.radio-list li
    float left
    border-left 1px solid #878787

    &:first-child
        border 0

.radio-list label
    display block

.radio
    display block
    width 30px
    text-align center
    height 30px
    line-height 30px
    background #e6e7e9
    text-decoration none

.radio-list input:disabled + .radio
    background-color #e4e4e4

.radio-list input:disabled:checked + .radio
    background-color #c0c0c2

.radio-list input:checked + .radio
    background #82b739
    color #fff

.radio-list input
    display none

.rl-item-payment
    margin 0 0 19px
    position relative
    z-index 2

.rl-item-payment .rl-fly
    width 226px

.rl-item-payment .rl-class
    left 418px

.rl-weight
    float right
    font-size 16px
    font-weight bold
    color #666
    padding 16px 0 0 10px
    text-align right
    width 80px

.rl-weight span
    padding 2px 0 0 25px
    text-decoration underline
    background: url(/spa/img/i.png) no-repeat 0 -1645px;

.rl-item-payment .rl-fly-type
    width 160px
    margin-left 30px

.rl-item-payment .rl-fly-date
.rl-item-payment .rl-fly-transplant-time
    line-height 1.3

.rl-item-payment .rl-travel-time
    margin-top 13px

.b-cc-block-date
    margin-left 80px

.b-agreement-container
    clearfix()

.b-logos
    margin 0 5px

.form-listing
    margin 0 0 40px

.b-field-block_checkbox
    margin-top 17px !important

.button_apply
    float right
    font-size 18px
    font-weight bold
    padding 12px 35px

.b-security
    width 600px;
    margin 0 0 15px
    padding 11px 0 11px 46px
    color #4d4d4d
    font-size 14px
    position relative

    &:before
        content ''
        display block
        width 42px
        height 48px
        position absolute
        left -2px
        top -3px
        background url(/spa/img/security.png) no-repeat

.form-body
    margin-bottom 8px

// New Styles
.buy__header
    clearfix()
    padding 0 0 15px
    font-size 14px

.buy__title
    float left
    font-size 20px
    font-weight bold
    margin 2px 23px 0 0
    line-height 1

.buy__title-link
    float left
    color #1e88c1
    margin 6px 10px 0 0

.buy__header-price
    float right

    b
        font-size 24px
        line-height 1

.buy__warning
    background #fdf1c9
    padding 22px 15px 12px 44px
    /*box-shadow: 0 3px 4px rgba(0, 0, 0, .25)*/
    margin -21px 0 5px
    letter-spacing -.025em
    font-size 14px
    line-height 20px
    position relative
    /*border-radius 0 0 4px 4px*/

    &:before
        content ''
        width 21px
        height 20px
        display block
        position absolute
        left 13px
        top 22px
        background url(/spa/img/i-at.png) no-repeat

.buy__fly
    background #fff
    margin 0 0 10px
    /*border-radius 5px*/
    position relative
    z-index 5
    box-shadow: 0 3px 4px rgba(0, 0, 0, .25)

    .rlf-fly
        margin-top 10px
        padding-left 30px
        background url(/spa/img/tuda.png) no-repeat

    .rl-more-info
        margin-right 10px
        color #1e88c1
        text-decoration none

    .rlf-fly_back
        border-left 1px solid #d5d5d5
        background url(/spa/img/suda.png) no-repeat 10px 0
        padding-left 43px

.buy__blocks
    border 0
    border-bottom 1px solid #c0c0c2
    margin 0 0 12px

    &:last-child
        border 0

.buy__price-descr
    font-size 14px
    line-height 20px
    letter-spacing -.025em
    margin -5px 0 8px

    &.buy__alert {
        margin 15px 0 8px
    }

.buy__comments-container
    clearfix()
    padding 0 0 50px

.buy__comments-field
    float left
    border 1px solid #c0c0c2
    border-radius 3px
    background #fff
    width 708px
    height 90px
    min-height 90px
    resize vertical
    box-sizing border-box
    padding 5px 8px

.buy__comments-help
    float right
    font-size 12px
    color #878787
    width 240px
    padding 5px 0 0

.buy__more-help
    color #878787
    font-size 12px
    margin -13px 0 19px

.buy__more-options .b-agreement
    margin 0 0 10px

.buy__more-container
    padding 0 0 20px

.buy__autocomplete {
    box-sizing border-box
    border-radius 3px
    box-shadow 0 2px 2px rgba(0, 0, 0, .2)

    border 1px solid #c0c0c2
    position absolute
    left 0
    right 0
    background #fff
    z-index 10
    top 53px
    font-size 14px

    a {
        display block
        clearfix()
        padding 5px 10px 4px
        color #000

        &:hover {
            text-decoration none
            background #e6e7e9
        }
    }

    &_double {
        width 309px
    }

    &-item1 {
        float left
        width 148px
    }

    &-item2 {
        float right
        width 138px
    }
}

.result
    z-index 5
    margin-bottom 5px

.buy__tickets
    padding 2px 0 0
    margin 0 0 0 -13px

    .rlf-fly_back
        border 0
        padding-left 30px
        background-position 0 0

.buy__saved-card
    float left
    font-size 14px
    width 370px
    margin 29px 0 0 14px

    a
        color #4d4d4d
        text-decoration none
        margin 0 14px 5px 0
        display inline-block
        white-space nowrap

        &:hover
            text-decoration underline

.cit
    position: relative;

.cit-cont
    top 31px !important
    max-height: 300px;
    overflow: hidden;
    left: 1px;
    right: 1px;
    padding: 0
    text-align: left;

.cit-cont__inner
    margin: 3px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 294px;

.cit-item
    padding: 5px 3px 5px 10px;

    &:hover
        cursor: default;
        background-color: #edeff0;

.b-tickets-info-block
    clearfix()
    padding 12px 0 8px

.ui-tooltip {
    background #fff !important
    color #4D4D4D !important
    box-shadow 0 2px 4px rgba(0, 0, 0, .3)
    font-family $ProximaNova

    &:before {
        border-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff !important
    }

    &-content:before {
        content url('/spa/img/error.png')
        margin 0 5px 0 0
        vertical-align middle
        position relative
        top 2px
    }
}

.buy__result {
    font-size 14px
    padding-top: 20px;

    &__title {
        margin-bottom: 30px;
    }

    &-list-item {
        margin-top 5px
    }

    &-translation {
        color #878787
    }

    &-header-link {
        color #1e88c1
        margin-right 10px
    }

    &-date-container {
        width 500px
    }

    &-order-container {
        width 350px
    }

    &-order-terms {
        padding 30px 0 20px

        p {
            margin: 10px 0px;
        }
    }

    &-header {
        font-size 20px
        font-weight bold
        margin 2px 23px 0 0
    }

    &-guests {
        margin 20px 0
    }

    &-sum {
        padding 0 0 18px 55px
        border-bottom 5px solid #89be48
        margin 0 0 20px
        position: relative

        &:before {
            content ''
            display inline-block
            width 43px
            height 35px
            background url(/spa/img/check-green-big.png)
            position absolute
            left 5px
            top: 5px
        }
    }
    &-sum-title {
        font-size 25px
        font-weight bold
    }
}

.reserve-form {
    padding-top: $padding_over_search - 20;
}

.buy-form {
    padding-top: $padding_over_search - 30;
}

.buy-frame {
    width: 100%;
    height: 100%;
    border: 0;
}

.buy-message-block {
    margin 20px 0 40px;
    padding: 10px 30px;
    background: #fef2c9;
    font-size: 14px;

    a {
        color: #1e88c1;
    }
}

.buy-comment-title {
    margin: 20px;
    font-size: 20px;
    font-weight bold;
}

.but-comment-text-block {
    margin-left 20px;
}

.buy-comment-text-lbl {

}

.buy-comment-text__error {
    margin-top: -10px;
    color: red;
}

.buy-comment-text {
    width: 550px;
    height: 200px;
    margin: 10px 0;
    border: 1px solid #cecece;
    font-weight: normal;
    font-size: 18px;
    outline: none;
}

.buy-comment-submit {
    margin: 0px 24px 20px;
    padding: 10px 35px;
    float: right;
    font-size: 18px;
    outline: none;
}