.ReservationForm {
    width $site-width
    margin 0 auto
    //padding 130px 20px 30px
    padding 72px 0px 30px
    box-sizing border-bpx
    //background $white
}
.ReservationForm__breadcrumbs {
    //margin 0 0 25px
    margin 5px 0px -10px 0px

    .section__crumbs__list__item {
        &:first-child {
            padding-left 0
        }
    }
}
.ReservationForm__title {
    font-size: 21px;
    line-height 1
    font-weight: bold;
    margin: 0 0 16px;
}
.ReservationForm__title-head {
    margin-top: 0;
}
.ReservationForm__head {
    display flex;
    justify-content space-between;
    margin 20px 0;
}
.ReservationForm__head-price-info {
    white-space nowrap
}
.ReservationForm__head-price {
    display inline-block
    margin 0 0 0 10px
    font-size 24px
    font-weight bold
    vertical-align baseline
}
.ReservationFormBlock {
    margin $ReservationFormBlock-margin-vertical 0
    padding $ReservationFormBlock-padding-vertical $ReservationFormBlock-padding-horizontal
    //background $ReservationFormBlock-bg
    background-color #EFF2F5
    border none
}
.ReservationFormBlock__FieldGroup {
    &:before{
        content ''
        display table
    }
    &:after{
        content ''
        display table
    }
    //flex-direction row
    //justify-content flex-start
}
.FieldBlock__email {
    width 380px
    .FieldText {
        border-radius 3px
    }
}
.FieldBlock__phone {
    width 150px
    margin-left 20px
    .FieldText {
        border-radius 3px
    }
}
.FieldBlock__sex {
    margin-right 5px
}
.FieldBlock__second-name {
    //width 150px
    width 235px
    margin-right 0
    .FieldText {
        border-radius 3px 0px 0px 3px
    }
}
.FieldBlock__surname {
    position relative
    //width 110px
    width 205px
    margin-left -1px
    margin-right 5px
    .FieldText {
        border-radius 0px 3px 3px 0px
    }
}
.FieldBlock__birthday {
    //width 90px
    width 150px
    margin-right 5px
    .FieldText {
        border-radius 3px
    }
}
.FieldBlock__citizen {
    //width 140px
    width 146px
    margin-right 5px
    .FieldText {
        border-radius 3px
    }
}
.FieldBlock__DocumentId {
    //width 130px
    width 150px
    .FieldText {
        border-radius 3px
    }
}
.FieldBlock__Number {
    //width 100px
    width 150px
    margin-left 2px
    margin-right 5px
    .FieldText {
        border-radius 3px
    }
}
.FieldBlock__ExpirationDate {
    //width 100px
    width 150px
    .FieldText {
        border-radius 3px
    }
}
.FieldBlock {
    float: left

    .selectize-control {
        margin 3px 0
    }
    .selectize-input {
        //padding: 5px;
        //border-radius: $FieldText-border-radius;
        border 1px solid #C9D2DB
        border-radius 3px
        padding 6px 5px
    }
    .selectize-input > * {
        vertical-align: top;
    }
    .selectize-dropdown,
    .selectize-input,
    .selectize-input input{
        line-height: 17px;
    }
}
.ReservationForm__Agree {
    margin 30px 0
}
.ReservationFormActive {
    margin 30px 0

    display flex
    justify-content flex-end
    align-items center
}

.ReservationFormSum {
    margin 0 30px 0 0

    display flex
    align-items center
}
.ReservationFormSum__price-label {
    margin-right 10px
    //font-size 1.2rem
    font-size 16px
}
.ReservationFormSum__price {
    //font-size 34px
    font-size 24px
    font-weight bold
}
