.page-dynamic{

}
.buy__request-block{
    //display inline-block;
    //width: 930px;
    //margin 30px 0;
    //padding: 10px 15px;
    //background: #fef2c9;
    //box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
    overflow hidden
}
.buy__request-block__text{
    display: inline-block;
    //width 710px;
    width 725px
    font-size 13px;
    float left
}
.buy__request-block__button{
    display: inline-block;
    float right;
    margin-top: -5px;

    .b-sum-button{
        margin: 4px 0 -5px 0px;
        //padding: 7px 25px;
        padding 7px 19px
        font-size 16px
    }
}
//
// begin b-promo-code
//
.b-promo-code{

}
.b-promo-code__label{
    display inline-block
    //padding-top 4px
    vertical-align top
    color #778695
}
.b-promo-code__static-number{
    margin-left 50px
}
.b-promo-code__input-container{
    display inline-block
    margin 0 5px 0 8px
    vertical-align top
}
.b-promo-code__input{
    height 30px
    //width 170px
    width 250px
    margin 0
    margin-right -9px
    border-right none
    border-radius 3px 0px 0px 3px
    text-align center
    font-size 15px
    //vertical-align top
}
.b-promo-code__input_bpclub {
    width 165px
}
.b-promo-code__input-error-message{
    width 100%
    margin-top 2px
    color $red
    font-size 13px
    text-align center
}
.b-promo-code__button{
    font-size 15px
    vertical-align top
    border-radius 0px 3px 3px 0px
}
.b-promo-code__info{
    margin 10px 0 0 0
    color $gray-l
}
//
// end b-promo-code
//
