.Reservations{
    width $site-width
    margin 0 auto
    padding 130px 20px 30px
    background $white
}
// begin ReservationForm
.ReservationFormBlock{
    margin 15px 0
    padding 10px 20px
    background $ReservationFormBlock-bg
    border none
}
.FieldBlock__email{
    width 380px
}
.FieldBlock__phone{
    width 150px
    margin-left 20px
}
// end ReservationForm
