.b-transfer {
    padding 0
}
.b-transfer__head {
    display flex
    justify-content space-between

    padding 15px 10px
}
.b-transfer__title {
    margin 0
}
.b-transfer__include {
    .b-agreement {
        margin 0
        padding-right 30px

        .b-checkbox {
            left auto
            right 0
        }
    }
}
// b-transfer__body
.b-transfer__body{

}