<!--
    <ng:include src="'components/tooltip/item-price-details.html'" ng-init="item = combination.hotel; icon = true"></ng:include>
 -->
<div class="tooltip tooltip-price tooltip-price_at_hotel-card JS-tooltip-price" style="display:none;">

    <div clas="tooltip-price__user">
        <div class="tooltip-price__title">По отдельности</div>

        <ul class="tooltip-price__list tooltip-price__list_top">
            <li class="list-price-item">Перелет
                <span class="list-price pull-right">{{item.ticket.data.Price | price}}
                    <ng-include src="'components/ruble.html'"></ng-include>
                </span>
            </li>
            <li class="list-price-item">Отель
                <span class="list-price pull-right">{{item.hotel.data.Price | price}}
                    <ng-include src="'components/ruble.html'"></ng-include>
                </span>
            </li>
        </ul>

        <div class="list-price list-price-total">
            <div class="list-price-total__wrapper">
                {{item.getFullPrice() | price}}
                <ng-include src="'components/ruble.html'"></ng-include>
                <div class="list-price-total__strike_through"></div>
            </div>
        </div>

        <ul class="tooltip-price__list tooltip-price__list_top">
            <li>
                В пакете:
                <span class="list-price green pull-right">
                    {{item.getFullPackagePrice() | price}}
                    <ng-include src="'components/ruble.html'"></ng-include>
                </span>
            </li>
            <li>
                Экономия:
                <span class="list-price green pull-right">
                    {{(item.getFullPrice() - item.getFullPackagePrice()) | price}}
                    <ng-include src="'components/ruble.html'"></ng-include>
                </span>
            </li>
        </ul>
    </div>


    <div class="tooltip-price__b2b" ng-if="item.data.PriceObject.TotalAgentProfit | defined">
        <ul>
            <li class="list-price-item">
                Сбор ИННА Тур
                <span class="list-price pull-right">
                    {{item.data.PriceObject.TotalInnaProfit | price}} <ng-include src="'components/ruble.html'"/>
                </span>
            </li>
            <li class="list-price-item">
                Сбор агента
                <span class="list-price pull-right">
                    {{item.data.PriceObject.TotalAgentProfit | price}} <ng-include src="'components/ruble.html'"/>
                </span>
            </li>
            <li class="list-price-item">
                Агентское вознаграждение
                <span class="list-price pull-right">
                    {{item.data.PriceObject.TotalAgentReward | price}} <ng-include src="'components/ruble.html'"/>
                </span>
            </li>
        </ul>
    </div>
</div>