
<div class="dynamicBlock"></div>




{{#visaNeeded || visaNeeded_rules}}
    <div class="buy__warning">
        {{#visaNeeded}}
            <div>Требуется виза.</div>
        {{/}}
        {{#visaNeeded_rules}}
            <div>Обратите внимание на визовые правила
                    <span ng-if="cautionCountries.length > 0">
                        в странах:
                        <span ng-repeat="c in cautionCountries">
                            {{c}} <span ng-if="!($last)">,&nbsp;</span>
                        </span>
                    </span>.
            </div>
        {{/}}
    </div>
{{/}}


<!-- данные результата покупки -->
<div>
    {{#buyResult}}
        {{>buyResult}}
    {{/}}
</div>