<div>
	<span class="rl-airline" ng-repeat="(code, name) in bundle.ticket.collectAirlines().etap" ng-if="$index < 2">
        <span ng-switch="code">
            <img src="/spa/img/no-logo-avia.png" alt="" ng-switch-when="''">
            <img ng-src="{{airLogo(code)}}" alt="" ng-switch-default>
        </span>

        <span class="rl-airline-text">{{name}}</span>
    </span>

    <div class="flight-info">
        <span class="date">
            <b>
	            {{ticket.DepartureDate}} {{ticket.OutCode}}
            </b>
	        {{moment(ticket.DepartureDate).format('D MMM')}}, {{moment(ticket.DepartureDate).format('EEE')}}
        </span>

        <p class="arrow">
            в пути: {{ticket.durationTo}}<br>

			{{#if ticket.EtapsTo.length - 1}}
				{{ticket.EtapsTo.length - 1}}
				{{pluralize(ticket.EtapsTo.length - 1, ["пересадка","пересадки","пересадок"])}}
			{{/if}}

			{{#if !(ticket.EtapsTo.length - 1)}}
                "без пересадок"
			{{/if}}
        </p>
        <span class="date">
            <b>{{dateHelper.getTime(bundle.ticket.data.ArrivalDate)}} {{ticket.InCode}}</b>
	        {{moment(ticket.ArrivalDate).format('D MMM')}},
	        {{moment(ticket.ArrivalDate).format('EEE')}}
        </span>
    </div>

    <div class="flight-info">
        <span class="date">
            <b>{{moment(ticket.BackDepartureDate).format('D MMM')}} {{ticket.InCode}}</b>
            {{moment(ticket.BackDepartureDate).format('D MMM')}},
	        {{moment(ticket.BackDepartureDate).format('EEE')}}
        </span>

        <p class="arrow">
            в пути: {{ticket.durationBack}},

			{{#if ticket.EtapsBack.length - 1}}
				{{ticket.EtapsBack.length - 1}}
				{{pluralize(ticket.EtapsBack.length, ["пересадка","пересадки","пересадок"])}}
			{{/if}}

			{{#if (ticket.EtapsBack.length - 1) == 0}}
                без пересадок
			{{/if}}
        </p>
            <span class="date">
                <b>{{dateHelper.getTime(bundle.ticket.data.BackArrivalDate)}} {{__etapsBack[__etapsBack.length - 1].data.InCode}}</b>
	            {{moment(ticket.BackArrivalDate).format('D MMM')}},
	            {{moment(ticket.BackArrivalDate).format('EEE')}}
            </span>
    </div>

    <span class="icon-sprite-airplane"></span>

    <div class="bottom-actions">
		{{#if state}}
            <span class="
	            bottom-actions__button
		        bottom-actions__button_action_replace
		        like-link {{stateHotel ? 'active' : '' }}">
	            Заменить перелет
	        </span>
		{{/if}}

        <span class="bottom-actions__button bottom-actions__button_action_details like-link"
              on-click="getTicketDetails">Подробнее</span>
    </div>
</div>