<!--
	Настраеваемый блок
	настройки находятся в data.settings
-->
<div class="row b-result b-result-content
	b-result_col_three_galary
	b-result_middle
	b-result_{{settings.height}}
	{{settings.classBlock}}">

    <div class="b-result__cell result-cell col-no-padding">
		{{>collOneContent}}
    </div>

    <div class="b-result__cell result-cell">

        <!-- content -->
		{{>collTwoContent}}

        <!-- separator -->
        <div class="b-result-cell__gap">
            <div class="b-result-cell__gap_wrap"></div>
        </div>
    </div>

    <div class="b-result__cell result-cell col-xs-3 result-choice">
		{{>collThreeContent}}
    </div>
</div>