<div class="b-hotel-data">

	<a data="1" link-in-new-window-if-can
	   href="{{computedUrlDetails()}}"
	   target="_blank"
	   class="b-hotel-data__details">
	</a>

	{{#if modelPrice.getProfit() > 1000}}
	<div class="hotel-info__special-mark">
		<span class="icon-crown icon-sprite-crown"></span>
		Спецпредложение
	</div>
	{{/if}}


	<Stars stars="{{hotel.Stars}}"/>

	<h3 class="b-hotel-data__title b-hotel-data__z-index">
		<a data="2" link-in-new-window-if-can
		   href="{{computedUrlDetails()}}"
		   target="_blank"
		   class="b-hotel-data__title-link">
			{{hotel.HotelName}}
		</a>
	</h3>

	<div class="b-hotel-data__text b-hotel-data__z-index">
		{{hotel.HotelCityName}} {{hotel.Address}}
		<span class="b-hotel-data__text-link" on-click="goToMap">(на карте)</span>
	</div>

	<div class="b-hotel-data__text">
		{{#if hotel.MealCode == 'RO'}}Без питания (RO),{{/if}}
		{{#if hotel.MealCode == 'BB'}}Завтрак (BB),{{/if}}
		{{#if hotel.MealCode == 'HB'}}Полупансион (HB),{{/if}}
		{{#if hotel.MealCode == 'FB'}}Полный пансион (FB),{{/if}}
		{{#if hotel.MealCode == 'AI'}}Все включено (AI),{{/if}}
		перелет включен
	</div>

	{{#if hotel.RoomCount <= 3}}
	<div class="b-hotel-data__text b-hotel-data__text-warning">
		{{pluralize(hotel.RoomCount, ['Остался последний номер!', 'Осталось два номера!', 'Осталось три номера!'])}}
	</div>
	{{/if}}

	<div class="b-hotel-data__tripadvisor">
		<Tripadvisor
				TaCommentCount="{{hotel.TaCommentCount}}"
				TaFactor="{{hotel.TaFactor}}"
				TaFactorCeiled="{{hotel.TaFactorCeiled}}"/>
	</div>

	<a data="3" link-in-new-window-if-can
	   href="{{computedUrlDetails()}}" 
	   target="_blank" 
	   class="b-hotel-data__details-footer-link">
		Подробнее
	</a>
	
</div>