<!-- PAGE CONTENT -->
<div class="wrpr"
     ng-class="{'reserve':isActive('/avia/reservation/') || isActive('/packages/reservation/')}"
     ng-style="isFooterHiddenWrprStyle">
	<ng:view></ng:view>
</div>
