<div class="overlay js-overlay" ng-style="{display: display}">
    <div class="scroll-fix">
        <div class="balloon popup" ng-if="(type == baloonType.msg)" ng-style="popupStyles">
            <div class="balloon-loading">
                <div class="balloon-loading">
                    <div class="spinner in-balloon">
                        <div class="rect rect1"></div>
                        <div class="rect rect2"></div>
                        <div class="rect rect3"></div>
                        <div class="rect rect4"></div>
                        <div class="rect rect5"></div>
                        <img class="gif" src="/spa/img/spinner.gif">
                    </div>
                </div>
            </div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
            <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.msgCancel)" ng-style="popupStyles">
            <div class="balloon-loading">
                <div class="balloon-loading">
                    <div class="spinner in-balloon">
                        <div class="rect rect1"></div>
                        <div class="rect rect2"></div>
                        <div class="rect rect3"></div>
                        <div class="rect rect4"></div>
                        <div class="rect rect5"></div>
                        <img class="gif" src="/spa/img/spinner.gif">
                    </div>
                </div>
            </div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
            <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
            <div class="balloon-actions">
                <a href="#" class="link" ng-click="close($event)">Прервать поиск</a>
            </div>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.msgClose)" ng-style="popupStyles">
            <div class="balloon-close" title="Закрыть" ng-click="close($event)">
	            <i class="icon-sprite-remove-big"></i>
            </div>
            <div class="balloon-loading">
                <div class="balloon-loading">
                    <div class="spinner in-balloon">
                        <div class="rect rect1"></div>
                        <div class="rect rect2"></div>
                        <div class="rect rect3"></div>
                        <div class="rect rect4"></div>
                        <div class="rect rect5"></div>
                        <img class="gif" src="/spa/img/spinner.gif">
                    </div>
                </div>
            </div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
            <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.payExpires)" ng-style="popupStyles">
            <div class="balloon-close" title="Закрыть" ng-click="close($event)">
	            <i class="icon-sprite-remove-big"></i>
            </div>
            <div class="balloon-canceled"></div>
            <div class="balloon-title balloon-error" ng-bind-html="caption | breakFilter" ng-if="(caption != null && caption.length > 0)"></div>
            <div class="balloon-title balloon-error" ng-if="!(caption != null && caption.length > 0)">Бронь аннулирована</div>
            <p class="balloon-info">Заказ не был оплачен в отведенное время</p>
            <div class="balloon-actions">
                <a href="#" class="button balloon-button" ng-click="clickFn($event)" ng-if="(buttonCaption != null && buttonCaption.length > 0)">{{buttonCaption}}</a>
                <a href="#" class="button balloon-button" ng-click="clickFn($event)" ng-if="!(buttonCaption != null && buttonCaption.length > 0)">Новый поиск</a>
            </div>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.expireCheck)" ng-style="popupStyles">
            <div class="balloon-loading">
                <div class="balloon-loading">
                    <div class="spinner in-balloon">
                        <div class="rect rect1"></div>
                        <div class="rect rect2"></div>
                        <div class="rect rect3"></div>
                        <div class="rect rect4"></div>
                        <div class="rect rect5"></div>
                        <img class="gif" src="/spa/img/spinner.gif">
                    </div>
                </div>
            </div>
            <div class="balloon-title">Проверка доступности билетов</div>
            <p class="balloon-info">Это займет не более 30 секунд</p>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.success)" ng-style="popupStyles">
            <div class="balloon-close" title="Закрыть" ng-click="close($event)">
	            <i class="icon-sprite-remove-big"></i>
            </div>
            <div class="balloon-mail"></div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
            <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.email)" ng-style="popupStyles">
            <div class="balloon-close" title="Закрыть" ng-click="close($event)">
	            <i class="icon-sprite-remove-big"></i>
            </div>
            <div class="balloon-mail"></div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
            <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
            <p class="balloon-info-email" ng-bind-html="email"></p>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.err)" ng-style="popupStyles">

            <div class="balloon-close" title="Закрыть" ng-click="close($event)">
	            <i class="icon-sprite-remove-big"></i>
            </div>
            <div class="balloon-problem"></div>

            <div class="balloon-title balloon-error" ng-bind-html="caption | breakFilter" ng-if="caption != null && caption.length > 0"></div>
            <p class="balloon-info" ng-bind-html="text | breakFilter" ng-if="text != null && text.length > 0"></p>
            <div class="balloon-title balloon-error" ng-if="!(caption != null && caption.length > 0)">Произошла ошибка</div>

            <p class="balloon-info" ng-if="!(text != null && text.length > 0)">Пожалуйста, позвоните нам</p>

            <div class="balloon-actions">
                <address class="balloon-contacts partners-hide">
                    <span class="balloon-contacts-phone">+7 495 742-1212</span>
                    <a href="skype:inna.tour?call" class="balloon-contacts-skype">Inna tour</a>
                </address>
            </div>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.alert)" ng-style="popupStyles">
            <div class="balloon-close" title="Закрыть" ng-click="close($event)">
	            <i class="icon-sprite-remove-big"></i>
            </div>
            <div class="balloon-problem"></div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
            <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
            <div class="balloon-actions">
                <address class="balloon-contacts partners-hide">
                    <span class="balloon-contacts-phone">+7 495 742-1212</span>
                    <a href="skype:inna.tour?call" class="balloon-contacts-skype">Inna tour</a>
                </address>
            </div>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.notFound)" ng-style="popupStyles">
            <div class="balloon-notfound"></div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter" ng-if="caption != null && caption.length > 0"></div>
            <div class="balloon-title" ng-if="!(caption != null && caption.length > 0)">Мы ничего не нашли</div>
            <p class="balloon-info" ng-bind-html="text | breakFilter" ng-if="text != null && text.length > 0"></p>
            <p class="balloon-info" ng-if="!(text != null && text.length > 0)">Попробуйте изменить условия поиска</p>
            <div class="balloon-actions">
                <a href="#" class="button balloon-button" ng-click="close($event)">Новый поиск</a>
            </div>
        </div>
        <div class="balloon popup" ng-if="(type == baloonType.priceChanged)" ng-style="popupStyles">
            <div class="balloon-time icon-sprite-baloon-time"></div>
            <div class="balloon-title" ng-bind-html="caption | breakFilter" ng-if="caption != null && caption.length > 0"></div>
            <div class="balloon-title" ng-if="!(caption != null && caption.length > 0)">Изменилась цена</div>
            <p class="balloon-info" ng-bind-html="text | breakFilter" ng-if="text != null && text.length > 0"></p>
            <p class="balloon-info" ng-if="!(text != null && text.length > 0)">Изменилась стоимость заказа</p>
            <div class="balloon-actions">
                <a href="#" style="width: 100px;" class="button balloon-button" ng-click="close($event)">OK</a>
            </div>
        </div>
	    <div class="balloon popup" ng-if="(type == baloonType.agencyRegSuccess)" ng-style="popupStyles">
		    <div class="icon-sprite-agency-reg-form-success"></div>
		    <div class="balloon-title" ng-bind-html="caption | breakFilter" ng-if="caption != null && caption.length > 0"></div>
		    <p class="balloon-info" ng-bind-html="text | breakFilter" ng-if="text != null && text.length > 0"></p>
		    <div class="balloon-actions">
			    <a href="#" style="width: 100px;" class="button balloon-button" ng-click="close($event)">OK</a>
		    </div>
	    </div>
    </div>
</div>