<div class="overlay js-overlay" ng-show="isVisible" style="display:block;">
        <div class="balloon" ng-show="type == baloonType.msg">
            <div class="baloon-loading"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>
            <div class="baloon-title">{{caption}}</div>
            <p class="balloon-info">{{text}}</p>
        </div>
        <div class="balloon" ng-show="type == baloonType.msgClose">
            <div class="baloon-close" title="Закрыть" ng-click="close($event)"></div>
            <div class="baloon-loading"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>
            <div class="baloon-title">{{caption}}</div>
            <p class="balloon-info">{{text}}</p>
        </div>
        <!--<div class="balloon">
            <div class="baloon-loading"></div>
            <div class="baloon-title">Подождите, идет оплата</div>
            <p class="balloon-info">это может занять до нескольких минут</p>
        </div>
        <div class="balloon">
            <div class="baloon-loading"></div>
            <div class="baloon-title">Выписываем авиабилеты</div>
            <p class="balloon-info">это может занять до нескольких минут</p>
        </div>
        <div class="balloon">
            <div class="baloon-mail"></div>
            <div class="baloon-title">Билеты успешно выписаны</div>
            <p class="balloon-info">и отправлены на электронную почту ratunkov@gmail.com</p>
            <a href="#" class="button baloon-button">Распечатать билеты</a>
        </div>
        <div class="balloon">
            <div class="baloon-close" title="Закрыть"></div>
            <div class="baloon-canceled"></div>
            <div class="baloon-title baloon-error">Бронирование анулировано</div>
            <p class="balloon-info">истек срок ожидания оплаты</p>
            <a href="#" class="button baloon-button">Повторить поиск</a>
        </div>-->
        <div class="balloon" ng-show="type == baloonType.err">
            <div class="baloon-close" title="Закрыть" ng-click="close($event)"></div>
            <div class="baloon-problem"></div>
            <div class="baloon-title baloon-error">{{caption}}</div>
            <p class="balloon-info">{{text}}</p>
        </div>
    </div>