<div class="overlay js-overlay" ng-style="{display: display}">
    <div class="balloon" ng-if="(type == baloonType.msg)">
        <div class="balloon-loading"><div class="balloon-loading-block balloon-loading-block1"></div><div class="balloon-loading-block balloon-loading-block2"></div></div>
        <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
        <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
    </div>
    <div class="balloon" ng-if="(type == baloonType.msgClose)">
        <div class="balloon-close" title="Закрыть" ng-click="close($event)"></div>
        <div class="balloon-loading"><div class="balloon-loading-block balloon-loading-block1"></div><div class="balloon-loading-block balloon-loading-block2"></div></div>
        <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
        <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
    </div>
    <div class="balloon" ng-if="(type == baloonType.msgCancel)">
        <div class="balloon-loading"><div class="balloon-loading-block balloon-loading-block1"></div><div class="balloon-loading-block balloon-loading-block2"></div></div>
        <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
        <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
        <a href="#" class="balloon-link" ng-click="close($event)">Прервать поиск</a>
    </div>
    <!--<div class="balloon">
        <div class="balloon-loading"></div>
        <div class="balloon-title">Подождите, идет оплата</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>
    <div class="balloon">
        <div class="balloon-loading"></div>
        <div class="balloon-title">Выписываем авиабилеты</div>
        <p class="balloon-info">это может занять до нескольких минут</p>
    </div>-->
    <div class="balloon" ng-if="(type == baloonType.payExpires)">
        <div class="balloon-close" title="Закрыть" ng-click="close($event)"></div>
        <div class="balloon-canceled"></div>
        <div class="balloon-title balloon-error" ng-bind-html="caption | breakFilter" ng-if="(caption != null && caption.length > 0)"></div>
        <div class="balloon-title balloon-error" ng-if="!(caption != null && caption.length > 0)">Заказ анулирован</div>
        <p class="balloon-info">истек срок ожидания оплаты</p>
        <a href="#" class="button balloon-button" ng-click="clickFn($event)" ng-if="(buttonCaption != null && buttonCaption.length > 0)">{{buttonCaption}}</a>
        <a href="#" class="button balloon-button" ng-click="clickFn($event)" ng-if="!(buttonCaption != null && buttonCaption.length > 0)">Повторить поиск</a>
    </div>
    <div class="balloon" ng-if="(type == baloonType.success)">
        <div class="balloon-close" title="Закрыть" ng-click="close($event)"></div>
        <div class="balloon-mail"></div>
        <div class="balloon-title" ng-bind-html="caption | breakFilter"></div>
        <p class="balloon-info" ng-bind-html="text | breakFilter"></p>
        <a href="#" class="button balloon-button" ng-click="clickFn($event)">{{buttonCaption}}</a>
    </div>
    <div class="balloon" ng-if="(type == baloonType.err)">
        <div class="balloon-close" title="Закрыть" ng-click="close($event)"></div>
        <div class="balloon-problem"></div>
        <div class="balloon-title balloon-error" ng-bind-html="caption | breakFilter" ng-if="caption != null && caption.length > 0"></div>
        <p class="balloon-info" ng-bind-html="text | breakFilter" ng-if="text != null && text.length > 0"></p>
        <div class="balloon-title balloon-error" ng-if="!(caption != null && caption.length > 0)">Что-то пошло не так</div>
        <p class="balloon-info" ng-if="!(text != null && text.length > 0)">cвяжитесь с оператором по телефону или скайпу </p>
        <address class="balloon-contacts">
            <span class="balloon-contacts-phone">+7 495 742-1212</span>
            <a href="skype:inna tour?call" class="balloon-contacts-skype">Inna tour</a>
        </address>
    </div>
</div>
