<div class="results-list_960">
    <div class="result">
        <div class="result-cell result-cell-390">
            <span class="rl-airline" ng-repeat="(code, name) in ticket.collectAirlines()">
                <img ng-src="{{airLogo(code)}}" alt=""><span class="rl-airline-text">{{name}}</span>
            </span>
            <div class="flight-info">
                <span class="date">
                    <b>{{dateHelper.getTime(ticket.data.DepartureDate)}} {{ticket.data.OutCode}}</b>
                    {{dateHelper.getDateShort(ticket.data.DepartureDate)}}, {{dateHelper.getDay(ticket.data.DepartureDate)}}
                </span>
                <p class="arrow">
                    в пути: {{ticket.getDuration('To')}}<br>
                    {{ticket.getEtaps('To').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"без
                    пересадок"}}
                </p>
                <span class="date">
                    <b>{{dateHelper.getTime(ticket.data.ArrivalDate)}} {{ticket.data.InCode}}</b>
                    {{dateHelper.getDateShort(ticket.data.ArrivalDate)}}, {{dateHelper.getDay(ticket.data.ArrivalDate)}}
                </span>
            </div>
            <div class="flight-info">
                <span class="date">
                    <b>{{dateHelper.getTime(ticket.data.BackDepartureDate)}} {{ticket.data.InCode}}</b>
                    {{dateHelper.getDateShort(ticket.data.BackDepartureDate)}}, {{dateHelper.getDay(ticket.data.BackDepartureDate)}}
                </span>
                <p class="arrow">
                    в пути: {{ticket.getDuration('Back')}}<br>
                    {{ticket.getEtaps('Back').length - 1 | asQuantity:"пересадка":"пересадки":"пересадок":"без
                    пересадок"}}
                </p>
                <span class="date">
                    <b>{{dateHelper.getTime(ticket.data.BackArrivalDate)}} {{ticket.data.OutCode}}</b>
                    {{dateHelper.getDateShort(ticket.data.BackArrivalDate)}}, {{dateHelper.getDay(ticket.data.BackArrivalDate)}}
                </span>
            </div>
            <div class="bottom-actions" ng-if="getTicketDetails || state">
                <a ng-if="state" href="javascript:void(0);" class="pull-left" ng-class="{active: state.isActive(state.TICKETS_TAB)}"
                   ng-click="state.switchTo(state.TICKETS_TAB)">Заменить</a>
                <a ng-if="getTicketDetails" href="javascript:void(0);" class="pull-right" ng-click="getTicketDetails(ticket)">Подробнее</a>
            </div>
        </div>

        <div class="result-cell-gap"><div class="result-cell-gap-wrap"></div></div>

        <div class="result-cell result-cell-390">
            <div class="hotel-info">
                <img ng-src="{{hotel.data.HotelPhoto70}}" alt="">
                <div class="hotel-info-content">
                    <div>
                        <span class="icon icon-star" ng-if="hotel.data.Stars > 0"></span>
                        <span class="icon icon-star" ng-if="hotel.data.Stars > 1"></span>
                        <span class="icon icon-star" ng-if="hotel.data.Stars > 2"></span>
                        <span class="icon icon-star" ng-if="hotel.data.Stars > 3"></span>
                        <span class="icon icon-star" ng-if="hotel.data.Stars > 4"></span>
                    </div>
                    <h3 class="hotel-info-name">{{hotel.data.HotelName}}</h3>
                    <div class="hotel-info-date">с {{dateHelper.getDateShort(hotel.data.CheckIn)}} по
                        {{dateHelper.getDateShort(hotel.data.CheckOut)}},
                        {{hotel.data.NightCount | asQuantity:"ночь":"ночи":"ночей"}}
                    </div>
                </div>
                <div class="hotel-info-tripadvisor" ng-if="hotel.data.TaFactor > 0">
                    <span class="icon icon-tripadvisor"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 0"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 1"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 2"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 3"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 4"></span>
                    {{hotel.data.TaCommentCount | asQuantity:"отзыв":"отзыва":"отзывов":"нет отзывов"}}
                </div>
            </div>
            <div class="bottom-actions" ng-if="getHotelDetails || state">
                <a ng-if="state" href="javascript:void(0);" ng-class="{active: state.isActive(state.HOTELS_TAB)}"
                   ng-click="state.switchTo(state.HOTELS_TAB)" class="pull-left">Заменить</a>
                <a ng-if="getHotelDetails" href="javascript:void(0);" class="pull-right" ng-click="getHotelDetails(hotel)">Подробнее</a>
            </div>
        </div>

        <div class="result-cell-gap"><div class="result-cell-gap-wrap"></div></div>

        <div class="result-cell result-buy"
             inna-with="hotel.data.MinimalPrice as hMinPrice,
                        ticket.data.Price as aPrice,
                        hMinPrice + aPrice as sum,
                        hotel.data.MinimalPackagePrice + ticket.data.PackagePrice as pSum">
            <span class="icon icon-clip"></span>
            <p class="corner-price cross">
                {{sum}} <span class="b-rub">Р</span>
                <span class="price-description">по отдельности</span>
            </p>
            <p class="price">
                {{pSum}} <span class="b-rub">Р</span>
                <span class="icon icon-price-info" ng-click="display.toggleHelp($event)"></span>
            </p>
            <div class="tooltip tooltip-price" ng-if="display.help">
                По отдельности
                <ul>
                    <li class="list-price-item">Перелет <span class="list-price pull-right">{{hMinPrice}}<span
                            class="b-rub">Р</span></span></li>
                    <li class="list-price-item">Отель <span class="list-price pull-right">{{aPrice}}<span class="b-rub">Р</span></span>
                    </li>
                </ul>
                <div class="list-price list-price-total">{{sum}}<span class="b-rub">Р</span></div>
                <ul>
                    <li>В пакете: <span class="list-price green pull-right">{{pSum}}<span class="b-rub">Р</span></span>
                    </li>
                    <li>Экономия <span class="list-price green pull-right">{{sum - pSum}}<span
                            class="b-rub">Р</span></span></li>
                </ul>
            </div>
            <span class="price-description">по отдельности</span>
            <p></p>
            <button class="button" ng-click="goReservation()">Купить</button>
        </div>
    </div>
</div>