<ng:any>
    <div click-on-focus tabindex="{{tabIndexFrom}}"
         class="js-field-from-block search-date-block search__120"
         ng-click="toggleFrom($event)"
         data-title="Выберите дату отправления туда">
        <input type="text" ng-value="long(date1)" class="js-field-from-inp search-date search-date-arr" placeholder="Туда"/>

        <div class="search-date-block__date" ng-class="{'search-date-block__date_display_placeholder': !date1}">{{date1 ? long(date1) : 'Туда'}}</div>
    </div>

    <div click-on-focus tabindex="{{tabIndexTo}}"
         class="js-field-to-block search-date-block search__120" ng-click="toggleTo($event)" data-title="Выберите дату отправления обратно">
        <input type="text" ng-value="long(date2)" class="js-field-to-inp search-date search-date-arr" placeholder="Обратно"/>
        <div class="search-date-block__date" ng-class="{'search-date-block__date_display_placeholder': !date2}">{{date2 ? long(date2) : 'Обратно'}}</div>
    </div>

    <div class="js-datepicker datepicker-body" ng-show="isOpen" ng-mouseleave="isOpen = false">
        <div class="dp-head-cont">
            <div class="dtpk-head js-dp-head" style="margin: 0; padding: 0px 16px 10px 15px;">
                <span class="dtpk-caption" ng-if="isFromSelecting">ТУДА</span>
                <span class="dtpk-caption" ng-if="!isFromSelecting">ОБРАТНО</span>
                <label class="dtpk-checkbox-label" ng-if="addButtons && isFromSelecting">
                    <input type="checkbox" ng-model="data.isToRoamingSelected" ng-change="roamingChanged('to')"/>
                    <span class="dtpk-checkbox"></span>+/- 3 дня
                </label>
                <label class="dtpk-checkbox-label" ng-if="addButtons && !isFromSelecting">
                    <input type="checkbox" ng-model="data.isBackRoamingSelected" ng-change="roamingChanged('back')"/>
                    <span class="dtpk-checkbox"></span>+/- 3 дня
                </label>
                <label class="dtpk-checkbox-label" ng-if="addButtons">
                    <input type="checkbox" ng-model="data.isOneWaySelected" ng-change="oneWayChanged()"/>
                    <span class="dtpk-checkbox"></span>В одну сторону
                </label>
            </div>
        </div>
    </div>
</ng:any>
