<div class="search-date-block search__120" title="Введена некорректная дата">
    <input type="text" value="{{short(date1)}}" class="search-date search-date-arr" placeholder="Туда" disabled="disabled"/>
</div><!--
--><div class="search-date-block search__120" title="Введена некорректная дата">
    <input type="text" value="{{short(date2)}}" class="search-date search-date-arr" placeholder="Обратно" disabled="disabled" />
</div><!--
--><div class="js-datepicker datepicker-body" ng-show="isOpen"></div>