<div class="search-form-item search-form-to">
    <input type="text" class="search-form-item-current SearchTo" ng-keydown="unfulfill()"/>
    <input type="hidden" ng-model="result"/>
    <ul class="search-form-list search-form-list-to" ng-show="!fulfilled && suggest">
        <ng:any ng-repeat="item in suggest">
            <li class="search-form-list-item search-form-list-item-country" ng-click="setCurrent(item)">
                {{item.name}}<span class="description">{{item.description()}}</span>
                <i class="icon icon-flag" ng-class="'icon-flag-' + item.codeIcao"></i>
            </li>
        </ng:any>
    </ul>
</div>