<div class="b-wrapp_type_inline {{theme}}" ng-class="{'error': Error}">
    <input type="text" click-on-focus tabindex="{{tabIndex}}"
           data-title="{{onError || 'Поле заполнено некорректно' }}" class="search-field"
           placeholder="{{getPlaceholder()}}"
           ng-model="currentCity"/>
    <input type="hidden" ng-model="result"/>
    <ul class="search-autocomplete" ng-if="isOpened && suggest">
        <li ng-repeat="item in suggest" ng-click="setCurrent($event, item)">
            <span class="search-autocomplete-block" ng-class="{selected:selectionControl.isItemSelected(item)}">
                <span class="search-autocomplete-city">{{item.Name}}, <b>{{item.CountryName}}</b><em ng-show="item.Airport">, (все аэропорты)</em></span>
                <span class="search-autocomplete-abbr">{{item.CodeIata}}</span>
            </span>
            <ul ng-show="item.Airport">
                <li ng-repeat="airport in item.Airport" ng-click="setCurrent($event, item, airport)">
                    <span class="search-autocomplete-block" ng-class="{selected:selectionControl.isItemSelected(airport)}">
                        <span class="search-autocomplete-city">{{airport.Name}}</span>
                        <span class="search-autocomplete-abbr">{{airport.CodeIata}}</span>
                    </span>
                </li>
            </ul>
        </li>
    </ul>

	<div class="ui-tooltip" ng-show="Error">
		<div class="ui-tooltip-content">{{ Error }} {{ Errorsd }}</div>
	</div>

    <!--<i class="fa fa-lg fa-times-circle i-close" ng-click="clearCityField()" ng-if="isEnableClearIcon"></i>-->
</div>
