<style>
    .search-field-block:first-child{border-left:1px solid #ccd2d4;}
    .search-field-block_pos_first{border:none;}
</style>

<div class="{{theme}}">
    <input type="text" title="Поле заполнено не корректно" class="search-field" ng-keydown="unfulfill()"/>
    <input type="hidden" ng-model="result"/>
    <ul class="search-form-list" ng-show="!fulfilled && suggest">
        <li class="search-form-list-item search-form-list-item-country"  ng-repeat="item in suggest" ng-click="setCurrent(item)">
            {{item.Name}} ({{item.CountryName}})
            <i class="icon icon-flag" ng-class="'icon-flag-' + item.codeIcao"></i>
            <ul class="airports" ng-show="item.Airport">
                <li ng-repeat="airport in item.Airport">
                    {{airport.Name}}
                </li>
            </ul>
        </li>
    </ul>
</div>