<div class="gallery">
    <div class="gallery__viewport-wrap">
        <div class="gallery__viewport"
             ng-style="getViewportStyle()">

            <div class="b-carousel__prev" ng-if="pics.list.length > 1" ng-click="pics.prev()"></div>
            <div class="b-carousel__next" ng-if="pics.list.length > 1" ng-click="pics.next()"></div>
        </div>
    </div>
    <ul class="gallery__list" ng-if="pics.list.length > 1">
        <li ng-repeat="pic in pics.list"
            class="gallery__list-item"
            ng-class="{'gallery__list-item_state_current': pics.isCurrent(pic)}"
            style="background-image:url({{pic.src}});"
            ng-click="pics.setCurrent(pic)"></li>
    </ul>
</div>