<div class="hotel-details" ng-style="{'background-image': background}">

    <div class="hotel-details__wrap">

        <div class="hotel-details__section hotel-details__section_layout_context">
            <ul class="hotel-details-control hotel-details-control_pin_left" ng-if="collection">
                <li class="hotel-details-control__button" ng-click="back()">&larr; Список отелей</li>
                <li class="hotel-details-control__button hotel-details-control__button_theme_arrow" ng-if="collection.hasNext(hotel)" ng-click="next(collection.getNext(hotel))">&rarr;</li>
            </ul>
            <div class="hotel-details__ta hotel-details-ta-info" ng-if="hotel.data.TaFactor">

                <!-- tripadvisor -->
                <ng:include src="'components/tripadvisor/index.html'"
                            ng-repeat="data in [hotel.data]"></ng:include>

                <!--<div class="hotel-info-tripadvisor">
                    <span class="icon icon-tripadvisor"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 0"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 1"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 2"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 3"></span>
                    <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 4"></span>
                    <span class="hotel-details-ta-info__comments">{{hotel.data.TaCommentCount | asQuantity:"отзыв":"отзыва":"отзывов":"нет отзывов"}}</span>
                </div>-->

            </div>
            <div class="hotel-details-name">
                <span class="hotel-details-stars">
                    <span class="icon icon-star" ng-if="hotel.data.Stars > 0"></span>
                    <span class="icon icon-star" ng-if="hotel.data.Stars > 1"></span>
                    <span class="icon icon-star" ng-if="hotel.data.Stars > 2"></span>
                    <span class="icon icon-star" ng-if="hotel.data.Stars > 3"></span>
                    <span class="icon icon-star" ng-if="hotel.data.Stars > 4"></span>
                </span>
                {{hotel.data.HotelName}}
            </div>
        </div>
        <div class="hotel-details__section" ng-if="hotel.data.Photos.length">
            <div inna-gallery inna-gallery-pic-list="hotel.data.Photos"></div>
        </div>
        <div class="hotel-details__section" ng-if="hotel.detailed.Hotel.Description">
            <div class="hotel-details__section-box">
                <h2 class="hotel-details__section-title">Об отеле</h2>
                <div class="hotel-details__section-text">
                    <div class="baloon-loading" ng-if="!dataFullyLoaded"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>
                    <div class="hotel-details__section-text-viewport"
                         ng-class="{'hotel-details__section-text-viewport_state_open': showFullDescription}"
                         ng-bind-html="hotel.detailed.Hotel.Description"></div>
                    <div class="hotel-details__section-text-more" ng-if="showFullDescription" ng-click="toggleDescription()">Свернуть</div>
                    <div class="hotel-details__section-text-more" ng-if="!showFullDescription" ng-click="toggleDescription()">Развернуть</div>
                </div>
                <ul class="hotel-details-extra" ng-if="hotel.detailed.Extra">
                    <li ng-repeat="(key, val) in hotel.detailed.Extra"
                        class="hotel-details-extra__item hotel-details-extra__item_type_{{key | lowercase}}">{{val}}</li>
                </ul>
            </div>
        </div>
        <div class="hotel-details__section">
            <h2 class="hotel-details__section-title">
                <div class="hotel-details__section-title-section">
                    {{hotel.data.Address}}
                </div>
                <div class="hotel-details__section-title-section">
                    <ul class="hotel-details-control">
                        <li class="hotel-details-control__button hotel-details-control__button_theme_icon-only" ng-click="toggleMapDisplay()"><img src="/spa/img/hotel-details-map-go-fullscreen.png"></li>
                        <!--<li class="hotel-details-control__button">Панорама</li>-->
                    </ul>
                </div>
            </h2>
            <div class="hotel-details-map" ng-class="{'hotel-details-map_display_fullscreen': showMapFullScreen}">
                <div id="hotel-details-map"></div>
            </div>
        </div>
        <div class="hotel-details__section">
            <h2 class="hotel-details__section-title">Пакет с этим отелем</h2>

            <div ng-if="combination"
                 inna-dynamic-bundle
                 inna-dynamic-bundle-bundle="bundle"
                 inna-dynamic-bundle-ticket-details="getTicketDetails"></div>
        </div>
        <div class="hotel-details__section">
            <h2 class="hotel-details__section-title">Выбор номера</h2>

            <div class="baloon-loading" ng-if="!dataFullyLoaded"><div class="baloon-loading-block baloon-loading-block1"></div><div class="baloon-loading-block baloon-loading-block2"></div></div>

            <ul class="hotel-details-rooms">
                <li class="hotel-details-rooms__room" ng-class="{'hotel-details-rooms__room_state_open': room.isOpen}" ng-repeat="room in hotel.detailed.Rooms">
                    <div class="hotel-details-rooms__room-short">
                        <h3 class="hotel-details-rooms__room-title" ng-click="toggleRoom(room)">{{room.RoomName}}</h3>

                        <div class="hotel-details-rooms__room-short-info">
                            <div class="hotel-details-rooms__room-desc">
                                <span ng-repeat="bed in room.BedTypeList">{{bed.Name}}<span ng-if="!$last"> ,</span></span>
                            </div>
                            <div class="hotel-details-rooms__room-cancel-rules"><span ng-if="room.IsRefundable">Бесплатная отмена бронирования</span></div>
                            <div class="hotel-details-rooms__room-price">
                                <div class="hotel-details-rooms__room-price-diff">
                                    <span ng-if="$first">Включен в цену</span>
                                    <span ng-if="!$first">{{room.Price - bundle.hotel.PackagePrice | signed}} Р</span>
                                </div>
                                <div class="hotel-details-rooms__room-price-full">К оплате: {{bundle.ticket.data.PackagePrice + room.Price | price}} Р</div>
                            </div>
                            <div class="hotel-details-rooms__room-actions">
                                <button class="button button_size_l" ng-click="goReservation(room, hotel)">Купить</button>
                            </div>
                        </div>

                        <ul class="hotel-details-extra">
                            <li ng-repeat="(name, caption) in room.Extra" class="hotel-details-extra__item hotel-details-extra__item_type_{{name | lowercase}}">{{caption.CategoryName}}</li>
                        </ul>
                    </div>
                    <div class="hotel-details-rooms__room-long">
                        <ul class="mini-gallery">
                            <li ng-repeat="pic in room.Photos" class="mini-gallery__mini" style="background-image:url({{pic.Large}});">
                                <div class="mini-gallery__big"><img class="mini-gallery__big-img" ng-src="{{pic.Large}}" alt=""/></div>
                            </li>
                        </ul>
                        <div class="hotel-details-rooms__room-long-text">
                            <div ng-bind-html="room.Description"></div>
                            <ul ng-if="room.RoomAmenities">
                                <li ng-repeat="am in room.RoomAmenities">{{am.Name}}</li>
                            </ul>
                            <div ng-if="room.CancellationRule">
                                <h3>Правила отмены</h3>
                                <div ng-bind-html="room.CancellationRule"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="hotel-details__section">
            <div class="hotel-details-resume">
                <div class="hotel-details-resume__section hotel-details-resume__section_{{key}}" ng-repeat="(key, cat) in hotel.detailed.Hotel.Amenities">
                    <h4 class="hotel-details-resume__section-title">{{cat.CategoryName}}</h4>
                    <ul class="hotel-details-resume__list">
                        <li class="hotel-details-resume__item" ng-repeat="item in cat.List track by $index">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="b-tripadvisor-widget-iframe">
        <iframe
                class="iframe_widget"
                name="tripadvisor"
                src="http://www.tripadvisor.ru/WidgetEmbed-cdspropertydetail?display=true&partnerId=0809534566654028B2A963412AD73DD3&lang=ru&locationId=94136"
                height="500"
                width="100%"
                frameborder="0"></iframe>
    </div>
    <!--<ng:ng-include src="components/tripadvisor/widget.html"></ng:ng-include>-->
</div>