<div class="result">
    <div class="result-cell result-hotel-gallery">
        <!--<div class="hotel-gallery-arrow-left"></div>-->
        <!--<div class="hotel-gallery-arrow-right"></div>-->
        <div class="hotel-gallery-container">
            <div style="width:200px;height:200px;background-image:url({{hotel.data.HotelPhoto500}});background-size:cover;"></div>
            <!--<img ng-src="{{hotel.data.HotelPhoto200}}" width=200 height=200 alt="">-->
        </div>
    </div>
    <div class="result-cell result-cell-330">
        <p class="corner-price">
            {{hotel.data.MinimalPackagePrice}} Р
            <span class="price-description">за отель</span>
        </p>
        <img ng-src="{{hotel.data.ProviderLogoUrl}}" alt="" class="logo">

        <div class="hotel-info">
            <div class="hotel-info-content">
                <div>
                    <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 0"></span>
                    <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 1"></span>
                    <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 2"></span>
                    <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 3"></span>
                    <span class="icon icon-star" ng-if="combination.Hotel.data.Stars > 4"></span>
                </div>
                <h3 class="hotel-info-name">{{hotel.data.HotelName}}</h3>
                <a href="" class="hotel-info-place">{{hotel.data.HotelCityName}}, {{hotel.data.HotelCountryName}}</a>
                <!--TODO<div class="warning">Последний номер</div>-->
            </div>
        </div>

        <div class="bottom-actions">
            <div class="hotel-info-tripadvisor" ng-if="hotel.data.TaFactor > 0">
                <span class="icon icon-tripadvisor"></span>
                <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 0"></span>
                <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 1"></span>
                <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 2"></span>
                <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 3"></span>
                <span class="icon icon-tripadvisor-like" ng-if="hotel.data.TaFactor > 4"></span>
                {{hotel.data.TaCommentCount | asQuantity:"отзыв":"отзыва":"отзывов":"нет отзывов"}}
            </div>
            <a href="javascript:void(0);" class="pull-right" ng-click="getHotelDetails(hotel)">Подробнее</a>
        </div>
    </div>
    <div class="result-cell-gap"><div class="result-cell-gap-wrap"></div></div>
    <div class="result-cell result-buy" ng-transclude></div>
</div>