<div class="search-people-block search-people-choose search__120 no-outline-on-focus">
    <i class="icon-expand-gray"
       style="position: absolute; top: 18px; right: 9px;"
       ng-class="{'icon-expand-gray_open': isOpen}"></i>
    <div class="search-people">{{getPeopleCount()}} {{aviaHelper.pluralForm(getPeopleCount(), 'человек', 'человека', 'человек')}}</div>
    <div class="search-people-baloon" ng-show="isOpen" ng-click="preventBubbling($event)">
        <h3 class="search-people-baloon-title">Пассажиры</h3>
        <ul>
            <li class="search-people-baloon-item">
                <span class="search-people-type">
                    <b>Взрослые</b>
                    12 лет и старше
                </span> 
                <span class="search-people-baloon-field">
                    <span class="search-people-baloon-minus js-people-minus no-select" ng-click="minusClick($event, 'adultCount')">&minus;</span>
                    <input type="text" maxlength="1" value="1" ng-model="adultCount" class="js-people-field" ng-readonly="true" />
                    <span class="search-people-baloon-plus js-people-plus no-select" ng-click="plusClick($event, 'adultCount')">+</span>
                </span>
            </li>
            <li class="search-people-baloon-item">
                <span class="search-people-type">
                    <b>Дети</b>
                    2 - 11 лет
                </span>
                <span class="search-people-baloon-field">
                    <span class="search-people-baloon-minus js-people-minus no-select" ng-click="minusClick($event, 'childCount')">&minus;</span>
                    <input type="text" maxlength="1" value="0" ng-model="childCount" class="js-people-field" ng-readonly="true" />
                    <span class="search-people-baloon-plus js-people-plus no-select" ng-click="plusClick($event, 'childCount')">+</span>
                </span>
                                
            </li>
            <li class="search-people-baloon-item">
                <span class="search-people-type">
                    <b>Младенцы</b>
                    0 - 2 лет
                </span>
                <span class="search-people-baloon-field">
                    <span class="search-people-baloon-minus js-people-minus no-select" ng-click="minusClick($event, 'infantsCount')">&minus;</span>
                    <input type="text" maxlength="1" value="0" ng-model="infantsCount" class="js-people-field" ng-readonly="true" />
                    <span class="search-people-baloon-plus js-people-plus no-select" ng-click="plusClick($event, 'infantsCount')">+</span>
                </span>
            </li>
        </ul>
    </div>
</div>