<!-- <ng-include src="'components/ruble.html'" /> -->

<!--    Знак рубля для шрифтов:
    Arial Regular: <span class="b-rub">a</span>
    Arial Italic: <span class="b-rub">b</span>
    Arial Bold: <span class="b-rub">c</span>
    Arial Bold Italic: <span class="b-rub">d</span>
    Georgia Regular: <span class="b-rub">e</span>
    Georgia Italic: <span class="b-rub">f</span>
    Georgia Bold: <span class="b-rub">g</span>
    Georgia Bold Italic: <span class="b-rub">h</span>
    Tahoma Regular: <span class="b-rub">i</span>
    Tahoma Bold: <span class="b-rub">j</span>
    Times Regular: <span class="b-rub">k</span>
    Times Italic: <span class="b-rub">l</span>
    Times Bold: <span class="b-rub">m</span>
    Times BoldItalic: <span class="b-rub">n</span>
    Lucida Sans: <span class="b-rub">o</span>
    Lucida Sans Bold: <span class="b-rub">p</span>
    Verdana Regular: <span class="b-rub">q</span>
    Verdana Italic: <span class="b-rub">r</span>
    Verdana Bold: <span class="b-rub">s</span>
    Verdana Bold Italic: <span class="b-rub">t</span>
    Futura: <span class="b-rub">u</span>
    Trump Mediaeval: <span class="b-rub">v</span>
    ITC Studio Script: <span class="b-rub">w</span>-->
<span class="b-rub">q</span>