<div class="b-ticket">
    <div class="b-ticket__info">
        <div class="b-ticket__company"><img src="http://upload.wikimedia.org/wikipedia/kv/0/0b/Aeroflot_logo.png"></div>
        <div class="b-ticket-flight">
            <div class="b-ticket-flight__from">
                <div class="b-ticket-flight__date"><span class="b-ticket-flight__date-time">20:00</span> 26 sept, sat</div>
                <div class="b-ticket-flight__airport">Moscow (MOW)</div>
            </div>
            <div class="b-ticket-flight__way">
                <div class="b-ticket-glight__way-time">24 h 10 m</div>
                <div class="b-ticket-flight__way-jumps">2 jumps</div>
            </div>
        </div>
        <div class="b-ticket-extra b-ticket-extra_message_last">Last 3 seats</div>
        <div class="b-ticket-moar">Moar!</div>
    </div>
    <div class="b-ticket__price" ng-transclude></div>
</div>