<div class="search-people-block search__120 no-outline-on-focus">
    <i class="icon-expand-gray"
       style="position: absolute; top: 18px; right: 9px;"
       ng-class="{'icon-expand-gray_open': isOpen}"></i>
    <div class="search-people">{{klassModel.display}}</div>
    <ul class="search__list" ng-show="isOpen" ng-mouseleave="isOpen = false">
        <li
                ng-repeat="option in klassModel.getOptions()"
                ng-class="({'true': 'current', 'false':''})[option == klassModel]"
                ng-click="onChoose(option)">{{option.display}}</li>
    </ul>
</div>