<div class="row">
    <div class="{{(asMap) ? 'col-xs-9 col-no-padding' : ''}}">
        <ul class="filters__container">
            <FilterStars FilterData="{{filtersModel.Hotels.Stars}}" updateModel="{{updateModel}}"/>
            <FilterPrice FilterData="{{filtersModel.Hotels.Price}}" updateModel="{{updateModel}}"/>
            <FilterName FilterData="{{filtersModel.HotelName}}" updateModel="{{updateModel}}"/>
            <FilterTaFactor FilterData="{{filtersModel.Hotels.TaFactor}}" updateModel="{{updateModel}}"/>
            <FilterType FilterData="{{filtersModel.Hotels.HotelType}}" updateModel="{{updateModel}}"/>
            <FilterExtra FilterData="{{filtersModel.Hotels.Extra}}" updateModel="{{updateModel}}"/>
            <FilterMeal FilterData="{{filtersModel.Hotels.Meal}}" updateModel="{{updateModel}}"/>
            <FilterSort Sort="{{filtersModel.sort.hotels}}" asMap="{{asMap}}" updateModel="{{updateModel}}"/>
        </ul>
    </div>

    <div class="col-xs-3 col-no-padding b-switch-filters_mod-wrapper {{(!asMap) ? 'ng-hide' : '' }}">
        <div class="b-switch-filters_buttons">
            <div class="b-switch-dynamic-serp-display b-switch-dynamic-serp-display_state_map"
                 on-click="goToHotelList">
                <div class="b-switch-dynamic-serp-display__title b-switch-dynamic-serp-display__title_at_map">
                    <span class="b-switch-dynamic-serp-display__title-icon icon-sprite-switch-list2"></span>
                    Вернуться к списку
                </div>
            </div>
        </div>
    </div>
</div>

