<div class="scroll-fix" style="width: {{styleWidth}}px;">	
	<div class="filters__body b-filter-panel main__center {{(asMap) ? 'filters__body_dp' : '' }}"
	     style="{{(isVisible)?'display: block;' : 'display: none' }}">
		<!-- Показываем разные фильтры -->

	{{#if filter_hotel}}
		{{>HotelsFilter}}
        <IndicatorFilters filtersCollection="{{filtersCollection}}"/>
	{{/if}}

	{{#if filter_avia && !asMap}}
		{{>TicketFilter}}
         <IndicatorFilters filtersCollection="{{filtersCollection}}"/>
	{{/if}}
	</div>
</div>