<ul class="filters__container">
    <FilterAviaLegs FilterData="{{filtersModel.Tickets.AirLegs}}" updateModel="{{updateModel}}"/>
    <FilterPrice FilterData="{{filtersModel.Tickets.Price}}" updateModel="{{updateModel}}"/>
    <FilterTime FilterData="{{filtersModel.AirTime}}"/>
    <FilterAirline FilterData="{{filtersModel.Tickets.Airlines}}" updateModel="{{updateModel}}"/>
    <FilterAirPort FilterData="{{filtersModel.Tickets.Airports}}" updateModel="{{updateModel}}"/>
    <FilterLuggageLimits FilterData="{{filtersModel.Tickets.LuggageLimits}}" updateModel="{{updateModel}}"/>
    <FilterSort Sort="{{filtersModel.sort.avia}}" updateModel="{{updateModel}}"/>
</ul>
