<div class="layout">
	
	<div class="offers-card-banner-container main" ng-controller="SliderCtrl" ng-show="slides.length > 0" app-slider>
		<ul class="offers-card-banner-list Offer-card-banners">
			<li class="offer-card-banner-item" ng-repeat="slide in slides track by $index">
				<!--<img class="img" ng-src="slide.Image" />-->
				<div class="img" style="background-image: url('{{slide.Image}}')"></div>


				<div class="offer-card-banner-item__mask" ng-if="slide.NeedFilterBrightness"></div>

				<div class="offer-text">
					<h1 class="offer-text__title">
						{{pageTitle}}
					</h1>
					<div class="offer-text__subtitle">
						{{pageTitleSub}}
					</div>
				</div>

				<div class="home-page-slogan__container">
					<div class="home-page-slogan">
						<div class="home-page-slogan__item">
							<h2 class="home-page-slogan__title">
								Выгода
							</h2>
							<div class="home-page-slogan__text">
								Экономия до 30 % за счет
								<br>
								специальных пакетных цен
								<br>
								Страховка в подарок
							</div>
						</div>
						<div class="home-page-slogan__item">
							<h2 class="home-page-slogan__title">
								Свобода
							</h2>
							<div class="home-page-slogan__text">
								200 стран 670 000 отелей 
								<br>
								500 авиакомпаний
								<br>
								Сам себе турагент
							</div>
						</div>
						<div class="home-page-slogan__item">
							<h2 class="home-page-slogan__title">
								Надежность
							</h2>
							<div class="home-page-slogan__text">
								Перелет на регулярных рейсах.
								<br>
								Моментальная оплата поставщикам
								<br>
								Гарантия поездки
							</div>
						</div>
					</div>
				</div>

				<!--
				<div class="darken-container" ng-if="slide.NeedFilterBrightness" ng-click="offerClickSlider(slide, $event, $index)"></div>
				<div class="info-container" ng-click="offerClickSlider(slide, $event, $index)">
					<div class="info">
						<h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow1)">
							{{::slide.FrontTitleRow1}}
						</h3>
						<h3 class="name" ng-if="!isNullOrEmpty(slide.FrontTitleRow2)">
							{{::slide.FrontTitleRow2}}
						</h3>
						<p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow1)">
							{{::slide.FrontSubTitleRow1}}
						</p>
						<p class="description" ng-if="!isNullOrEmpty(slide.FrontSubTitleRow2)">
							{{::slide.FrontSubTitleRow2}}
						</p>
						<p class="description" ng-if="!isNullOrEmpty(slide.FrontPrice)">
							{{::slide.FrontPrice}}
							<span class="price"></span>
						</p>
					</div>
				</div>
				-->


			</li>
		</ul>
		<div class="banner-dots-container">
			<ul class="banner-dots Banner-dots"></ul>
		</div>
	</div>

	<div ng-class="{'Offers-anchor':($index == 0), 'offers-black':$even, 'offers-dark-grey':$odd}" ng-repeat="section in sections">
		<div class="offers-container">
			<h2 class="offers-title">
				{{::section.Name}}
			</h2>
			<p class="offers-description">
				{{::section.Description}}
			</p>
			<div class="offers-list" ng-controller="OffersListCtrl">
				<ng:any ng-repeat="block in section.OfferLayouts track by $index">
					<ng:include src="getTemplateUrlByBlockType(block.OfferLayoutType)">
					</ng:include>
				</ng:any>
			</div>
		</div>
	</div>
</div>