.b-carousel {
	overflow: hidden;
	width: 100%;

	&__prev,
	&__next {
		background: rgba(255, 255, 255, .6);
		cursor: pointer;
		height: 30px;
		margin-top: -15px;
		position: absolute;
		top: 50%;
		width: 20px;
		z-index: 2;

		&:before {
			content: '';
			border-style: solid;
			display: block;
			height: 0;
			position: absolute;
			margin-top: -5px;
			top: 50%;
			width: 0;
		}
	}

	&__prev {
		border-radius: 0 2px 2px 0;
		left: 0;

		&:before {
			border-width: 5px 6px 5px 0;
			border-color: transparent #000 transparent transparent;
			left: 6px;
		}
	}

	&__next {
		border-radius: 2px 0 0 2px;
		right: 0;

		&:before {
			border-width: 5px 0 5px 6px;
			border-color: transparent transparent transparent #000;
			right: 6px;
		}
	}


	&__holder {
		overflow: hidden;
	}


	&__slider {
		position: relative;
		overflow : hidden;
		transition: transform .1s linear 0s

		&:after {
			content: '';
			display : block;
			clear : both;
		}
	}


	&_item {
		float: left;
		text-align : center;
		position : relative;

		&_image {
			border-radius : 4px 0 0 4px;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&.b-carousel_map {

	}
}
