.b-carousel {
	overflow: hidden;
	width: 100%;


	&__prev {

	}

	&__next {

	}

	&__holder {
		overflow: hidden;
	}

	&__slider {
		position: relative;
		transition: transform .2s linear

		&_item {
			float: left;

			.img {
				text-align: center;
				vertical-align: top;
			}
		}
	}
}
