.b-carousel_map {
	&_item {
		float: left;
		text-align: center;
		position: relative;
		width: 360px;
		height: 240px;

		&_image {
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
