.result
  /*border-radius(4px)*/
  /*box-shadow 0 3px 3px rgba(0,0,0,.6)*/
  display inline-block
  line-height 0
  margin-bottom 10px
  /*overflow hidden*/
  position: relative

  .warning
    color #dd3e14

  .icon-sprite-airplane, .icon-sprite-hanger
    position absolute
    top 7px
    right 5px

  .tooltip-price
    right: -4px
    color #4d4d4d
    font-size 14px
    width 140px

    .list-price-item
      &:before
        content '•'
        color #4d4d4d

    .list-price
      font-weight bold

      &.green
        color #89c13a

    .list-price-total
      border-top 1px solid #c0c0c2
      text-align right

  .result-cell
    background #fff
    box-sizing border-box
    display table-cell
    line-height normal
    margin-left 10px
    padding 10px
    position relative
    vertical-align top

    &__airlines *
      vertical-align middle

    &:first-child
      margin-left 0
      border-radius(4px 0 0 4px)

    &:last-child
      border-radius(0 4px 4px 0)

    &:after
      border-radius(4px)
      box-shadow 0 3px 3px rgba(0,0,0,.6)
      content ''
      height 100%
      position absolute
      left 0
      top 0
      width 100%
      z-index -1


  .result-cell-gap
    display table-cell
    position: relative
    width 10px

    &:before, &:after
      content ''
      background url(../img/ticket-gaps.png) no-repeat
      display block
      position: absolute
      overflow hidden
      width 10px

    &:before
      height 6px
      top 0


    &:after
      background-position 0 -6px
      bottom -6px
      height 12px

  .result-cell-gap-wrap
    background #cfcfcf
    border 1px solid #fff
    border-width 0 5px 0 4px
    bottom 6px
    position: absolute
    top 6px
    width 1px

  .corner-price, .price
    color #acafb1
    display inline-block
    font-family ProximaNova
    font-size 18px
    position relative

    &.cross:after
      background #acafb1
      display: block
      content ''
      height: 1px;
      position absolute
      top 50%
      transform:rotate(167deg);
      width: 100%;

  .corner-price
    margin 4px 0 0

  .result-hotel-gallery
    overflow hidden
    padding 0
    position relative
    width 200px


  .price-description
    color #4d4d4d
    display block
    font-size 12px
    line-height 8px
    position absolute
    white-space nowrap

  .price
    position relative
    width 100%

  .result-buy, .result-choice
    width 176px

  .result-buy

    .icon-crown
      position: absolute
      right 11px
      top 9px

    .share-button
      background transparent
      border 0
      border-radius(2px)
      cursor pointer
      height 30px
      position absolute
      margin 0
      right 3px
      top 2px
      width 32px

      &:before
        background url(../img/ticket/clip.png)
        content ''
        display block
        height 17px
        margin 2px 0 0 2px
        width: 17px

      &:hover
        background #e6e7e9

        &:before
          background-position 0 17px

      &.active
        background #89c13a

        &:before
          background-position 0 17px

    .tooltip-share-link
      position absolute
      padding 8px 29px 7px 6px
      right -4px
      top 30px

      .icon-cross
        cursor pointer
        position absolute
        right 9px
        top 13px


    .share-link-input
      border 0
      background #4d4d4d
      color #fff
      height 20px
      padding 0 5px
      width 200px

    .price
      color #000
      font-size 24px
      font-weight bold
      margin 40px 0 0

    .corner-price
      .price-description
        color #acafb1

    .price-description
      color #4d4d4d

  .button
    background #89c13a
    border-radius 2px
    color #fff
    font-family ProximaNova
    font-size 18px
    font-weight bold
    height 30px
    position: absolute;
    bottom 10px
    width 160px
    left 4px

  .result-choice

    .price
      color #878787
      font-size 18px
      margin 20px 0 0


    .price-description
      font-size 12px

    .corner-price
      font-size 24px
      font-weight bold
      color #000



  .icon-price-info
    cursor pointer
    position: absolute
    right 0
    top 7px


	.bottom-actions
		bottom 10px
		font-size 14px
		left 10px
		line-height 26px
		position absolute
		right 10px

		&_right
			text-align: right

		a
			color : #1e88c1

			&.active
				color: #c0c0c2


.flight-info
    margin 16px 0 16px

    .date
      color #4d4d4d
      display inline-block
      font-size 12px
      font-weight normal
      line-height 16px
      width 76px

    .date_w_120
      width 120px

    b
      color #000
      display block
      font-size 14px


    .arrow
      color #4d4d4d
      display inline-block
      font-size 12px
      position: relative
      line-height 18px
      margin 0 10% 0
      text-align center
      width 125px

      &:before
        background #4d4d4d
        content ''
        height 1px
        position absolute
        left 0
        top 50%
        width 100%

      &:after
        content ''
        border-style solid
        border-width 3px 0 4px 11px
        border-color transparent transparent transparent #4d4d4d
        height 0px
        position absolute
        margin-top -3px
        right 0
        top 50%
        width 0px


  .hotel-info
    margin 21px 0 35px

    img
      margin-right 10px


  .hotel-info-content
    display inline-block
    vertical-align top

    .star-container
      line-height 0
      margin 2px 0 0

  .hotel-info-name
    font-size 18px
    //margin 6px 0 0
    line-height 1em

  .hotel-info-date
    color #575757
    font-size 14px
    line-height 16px

  .hotel-info-place
    color #575757
    text-decoration none

    &:hover
      text-decoration underline

    &:before
      content ''
      display inline-block
      background url(../img/hotel-pin-small.png)
      height 18px
      margin-right 2px
      position relative
      top 4px
      width 13px




.result-cell-390
  width 390px

  .hotel-info-content
    width 75%

.result-cell-530
  width 534px

.result-cell-330
  width 334px

.result-small
  .result-cell
    display table-cell
    font-size 14px
    vertical-align top

  .result-cell-390, .result-cell-330
    border-right 1px solid #4d4d4d
    vertical-align middle

  .flight, .hotel-info-date
    color #c0c0c2
    line-height 16px



  .flight
    .white
      color #fff
      margin-left 8px

  .result-cell-330
    padding 0 15px

  .hotel-info-name
    color #fff
    font-weight normal

  .corner-price
    color #fff
    font-family ProximaNova
    font-size 24px
    font-weight bold

    position: absolute;
    right 0
    top 6px

.result-cell-530
  .flight-info
    b
      display inline
    .date
      font-size 14px

  .bottom-actions
    bottom 0