.site-error-message
  position absolute
  bottom 145px
  left 145px
  color #fff
  display table

  &__code
  &__description
    display table-cell
    vertical-align bottom

  &__code
    font-size 130px
    line-height 88px
    padding-right 20px

  &__description
    width 315px

  &__description-title
    font-size 26px
    font-weight bold
    margin-bottom 15px

  &__description-text
    font-size 20px

