.spinner {
    margin: 20px auto;
    width: 280px;
    height: 60px;
    text-align: center;
    font-size: 10px;

    &.in-balloon {
        margin: 0px auto 5px auto;
    }
}

.spinner .rect {
    background-color: $green;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-right 2px;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.spinner .gif {
    display:none;
}

.spinner__text {
    font-size: 14px;
    text-align:center;
    color: #ccc;
}
.inmnenu{
    background-position: -104px -100px;
}