.b-tripadvisor {
	position : relative;
	height: 20px;
	overflow : hidden;
	padding-left : 29px;

	&__owl {
		position : absolute;
		left :0;
		top:0;
	}
	&__reviews {
		padding-left: 7px;
		padding-top :3px;
	}

}