.b-tripadvisor {
	position : relative;
	padding-left : 29px;
	font-size: 12px;
	padding-top : 2px;
	line-height 15px
	vertical-align top

	&.b-tripadvisor_short {
		padding-left : 0px;
	}

	&__owl {
		position : absolute;
		left :0;
		top:0;
	}
	&__reviews {
		padding-left: 7px;
		color :#878787;
		//padding-top :3px;
	}

}