.page-help
    .bg_white
        padding-bottom 30px

    .question-button
        position relative
        height 17px
        cursor pointer

        .b-tooltip-share__button
            position static