$black = #212121;
$red = #E30514;
$white = #fff;
//$green = #00b252;
$green = #1FA74C;

$border-radius = 2px;

// begin form
$form-bg = $black;
$form-border-radius = $border-radius;
$form-label-font-size = 17px;
$form-font-size = 15px;
$form-input-bg = $white;
$form-input-error-color = $red;

$form-btn-color = $white;
$form-btn-bg = $red;
$form-btn-font-size = 18px;
$form-btn-width = 80px;
$form-btn-border-radius = $border-radius;

$form-input-height = 36px;
$form-input-from-width = 174px;
$form-input-to-width = 200px;
$form-calendar-input-widht = 125px;
$form-list-input-widht = 110px;

$form-datapicker-bg = $red;
$form-datapicker-bg-lighten = lighten($form-datapicker-bg, 70%);
$form-datapicker-border-color = $red;
// end form

// begin btn
$btn-green-bg = $green;
$btn-green-bg-hover = lighten($green, 15%);
$btn-green-bg-active = darken($green, 15%);
$btn-green-color = $white;
$btn-red-border-radius = 4px;
$btn-red-bg = $red;
$btn-red-bg-hover = lighten($btn-red-bg, 15%);
$btn-red-bg-active = darken($btn-red-bg, 15%);
$btn-red-color = $white;
// end btn



@import "../1001tur/colors.styl"
@import "../1001tur/index.styl"
@import "../1001tur/controls.styl"
@import "../1001tur/buttons.styl"
@import "../1001tur/horiz-form.styl"
@import "../1001tur/avia.styl"
@import "../1001tur/dp.search.result.styl"
@import "../1001tur/dp.hotel.details.styl"
@import "../1001tur/dp.buy.styl"
@import "../1001tur/map.styl"
@import "../1001tur/gallery.styl"

.layout.partner{
    top: 0;
    margin-bottom: 0;
    padding: 0;
}