.partner-wl {
    .reserve-form {
        padding-top:20px;
    }

    .buy-form {
        padding-top:20px;
    }

    .buy__header .buy__title {
        
    }

    .b__rules-flies .current {
    }

    .b-agreement {
        .b-checkbox {
            btx-checkbox-border()
        }

        input:checked + .b-checkbox {
            btx-checkbox-bg()
        }
    }

    .buy__blocks {
        .radio-list input:checked + .radio {
            color-bg-lbl-wl();
        }
    }

    .b-sum-container {
        background: #fff;
        border-bottom: 1px solid #fff;
    }


    .page-root {
        padding-top: 5px;
    }

}