.header, .footer {
    display: none;
}

.wrpr{
  padding-bottom: 1px !important;
}
  
.page-buy-success{
  padding-top 20px;
}
  
.partners-hide {
    display: none!important;
}

.partner-wl {
/*чтобы работал ресайз фрейма*/
    .main {
        min-height: 500px;
    }

    .partner-body-noscroll {
        overflow: hidden;
    }
    
    .light-theme {
        background-color: #fff;
        
        //&.partner-body-class {
        //    background: transparent;
        //}
        .offers-black {
            background: transparent;
        }
        .offers-dark-grey {
            background: transparent;
        }

        .buy-passanger__block{
            background none
        }
    }

    .main .wrpr {
        padding-bottom: 50px;
    }

    .pic-cont {
        height: 470px;
        width: 100%;
        text-align: center;
        background: url("/spa/img/partners-form-back.jpg") no-repeat top center;

        &.horizontal-form {
            height: 200px;
        }
    }
}