.partner-wl{
    .b-balloon{
        &.b-balloon-auth{
            width auto

            .auth-form{
                margin 44px 140px 60px
            }
                
            .button{
                background-color $color2
            }
                
            .checkbox{
                background-color $backColor
            }
        }
    }
}