.partner-wl{
    .b-balloon{
        line-height 20px
        
        &.b-balloon-auth{
            width auto

            .auth-form{
                margin 44px 140px 60px

                .forgot-password{
                    color #1f8abf
                    text-decoration underline
                    border-bottom none
                }
            }
                
            .button{
                background-color $color2
            }
                
            .checkbox{
                background-color $backColor
            }
            .back-to-auth{
                margin 25px 0 0
                color #1f8abf

                span{
                    cursor pointer
                    text-decoration underline

                    &:hover{
                        text-decoration none
                    }
                }
            }
        }
    }
}