.partner-wl{
  .balloon-button{
    btx-button-color1();
  }

  .result-buy .button{
    btx-button1();
  }

  .b-list-panel__hotels_list .button{
    btx-button2();
  }

  .rl-buy-button{
    btx-button2();
  }


  .hotel-details-rooms__room-actions .button{
    btx-button1();
  }


  .b-tooltip-share__button.active{
      background: $color1;
  }

  .b-sum-button{
    btx-button-color1();
  }

  .b-pay-button{
    btx-button-color1();
  }

  .wl-container{
    .button{
      padding: 4px 16px;
      width: 140px;
      text-align: center;
      btx-button-color1();

      &.wl-search{
        margin: 6px 0px 0px 0px;
        text-transform: uppercase;
        position: absolute;
        right: 0px;
        font-size: 14px;
      }
    }

    .wl-text{
      position: absolute;
      display: block;
      left: 0;
      top: 9px;
    }
  }

  .pin .pin-balloon .button{
    padding: 0;
    btx-button-color2();
  }

}