
color-bg-lbl-wl() {
    background: #64a1d3;
}

color-bg-share-wl() {
    background: #61a8e1;
}

color-bg-btn-wl() {
    background: #e0932f;
}

color-border-wl(){
    border-color: #3b69a7;
}

color-datepicker-background-wl() {
    background: #3b69a7;
}

color-datepicker-bg() {
    background: #5f7cb3;
}

arrow-color-wl() {
    color: #46b1fa;
}
