.partner-wl {
    /*footer*/
    .footer {
        background-color #eeeeee;
    }

    .footer-content.main__center {
        height 200px;
    }

    .b-footer {
        &__navlist {
            margin-top 30px;

            .b-footer__box {
                float: left;
                width: 240px;
                margin: 0 20px 0 0;
            }

            h3 {
                font: 700 18px / 18px 'Roboto';
                margin: 0 0 20px;
            }

            li a {
                font: 500 14px/30px 'Roboto';
                text-decoration: none;
                color: $color;
                outline: none;

                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }

    #footer {
        position: relative;
        height: 72px;
        background: #dedede;
        border-top: 1px solid #cecece;

        .inn {
            position: relative;
            max-width: 1240px;
            min-width: 960px;
            margin: 0 auto;
        }

        .bank {
            position: absolute;
            left: 0;
            top: 26px;
            width: 100%;
            text-align: center;

            li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 8px;
            }
        }

        #copy {
            position: absolute;
            left: 0;
            top: 30px;
            font: 300 14px/18px 'Roboto';
            color: #232323;
        }

        .social {
            position: absolute;
            right: 5px;
            top: 30px;

            p {
                float: left;
                font: 300 14px/18px 'Roboto';
                color: #232323;
            }

            ul {
                float: left;
            }

            li {
                width: 20px;
                height: 17px;
                margin: 0 0 0 20px;
                float: left;

                a {
                    display: block;
                    width: 20px;
                    height: 17px;
                    background: url(/spa/img/partners/sputnik/social.png) no-repeat 0 0;
                }
            }
        }
    }

    #footer .social li.ic1 a {
        background-position: 5px 0;
    }

    #footer .social li.ic2 a {
        background-position: -36px 0;
    }

    #footer .social li.ic3 a {
        background-position: -77px 0;
    }

    #footer .social li.ic4 a {
        background-position: -120px 0;
    }

    #footer .social li.ic5 a {
        background-position: -160px 0;
    }

    #footer .social li.ic6 a {
        background-position: -200px 0;
    }

    //кред карты
    /* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
    .card-img__b3, .card-img__b1, .card-img__b2
    { max-width: 100%; background-size: 100%; background-image: url('/spa/img/partners/sputnik/cards-img.png'); }

    .card-img__b3 { background-position: 0 0%; background-size: 100%; }
    .card-img__b1 { background-position: 0 42.307692%; background-size: 127.586207%; }
    .card-img__b2 { background-position: 0 100%; background-size: 148%; }
}
