.partner-wl {
    /*развернутая шапка*/
    .search-form-expanded {
        .header-menu {
            padding-top 150px;
            background-color transparent;
        }

        .header__nav li a {
            color: #87bfe1;
            background-color $backColorAlfa;

            &:hover {
                color: #fff;
            }

            &.active {
                color: #fff;
                background-color $backColor;
            }
        }

        .b-search-form, .search-form-expanded .search-form {
            background-color $backColor;
        }

        .header__user {
            background-color $backColorAlfa;
        }
    }

    /*свернутая шапка*/
    .header__container {
        padding 0;
    }

    .header__user {
        background-color $backColorAlfa;

        .header__user-nav {
            padding: 8px 6px 6px 0px;
        }
    }

    .header-menu {
        padding 0;
        background-color #fff;
    }

    .header__nav {
        li {
            margin 0 3px;

            &:first-child {
                margin-left 0;
            }

            a {
                background-color $backColorAlfa;

                &.active {
                    background-color $backColor;
                }
            }
        }
    }

    .b-search-form {
        background-color $backColor;
    }

    /*datepicker*/
    .datepickerSelected {
        a {
            color: #fff !important;
            background: $colorBg1;
        }

        &.datepickerSelected-start,
        &.datepickerSelected-end {
            a {
                background: $color1;
            }
        }
    }

    .datePicker-today a {
        border-color: $color1;
    }

    .datepickerDays a {

        &:hover {
            background: $color1;
        }
    }

    .datepickerGoPrev a
    .datepickerGoNext a {
        &:hover {
            background: $color1;
        }
    }

    /*выбор людей*/
    .search-form-dialog-row .button-group .button.active {
        background: $color1;
    }

    /*кнопка найти*/
    .search-form__submit {
        background: $color2;
    }
}