@import "../sputnik/colors.styl"
@import "../sputnik/controls.styl"
@import "../sputnik/buttons.styl"
@import "../sputnik/header.styl"
@import "../sputnik/footer.styl"
@import "../sputnik/form.styl"
@import "../sputnik/hotel.styl"
@import "../sputnik/dp.search.result.styl"
@import "../sputnik/avia.search.result.styl"
@import "../sputnik/buy.styl"
@import "../sputnik/auth.styl"
@import "../sputnik/map.styl"
@import "../sputnik/animate.styl"

.partner-wl {

    //debug
    /*body.overflow_hidden {*/
    /*overflow auto!important;*/
    /*}*/

    body {
        font-family: 'Roboto';
    }

    .landing-title {
        font-family: 'Roboto';
    }

    .offer-title {
        font-family: 'Roboto';
    }

    .light-theme {
        background-color #fff;

        .offers-black {
            background-color #fff;
        }
    }

    .layout {
        padding: 92px 0 0;
    }

    .offers-card-banner-container {
        height: 688px;
    }

    .offer-card-banner-item {
        height: 688px;
    }

    .offers-list_new-landing__item {
        padding: 8px 30px 13px 66px;
    }

    .sputnik-bg {
        background url('/spa/img/partners/sputnik/back.gif');
    }

    .sputnik-bg.avia {
        background url('/spa/img/partners/sputnik/avia_bg.jpg');
        background-size cover;
    }

    .offers-card-banner-container.main .offer-card-banner-item {
        cursor default;
    }

    .spinner .rect {
        background-color: $colorBg1;
    }
}