

@import "../sputnik/colors.styl"
@import "../sputnik/controls.styl"
@import "../sputnik/buttons.styl"
@import "../sputnik/font.styl"
@import "../sputnik/header.styl"
@import "../sputnik/footer.styl"
@import "../sputnik/form.styl"
@import "../sputnik/dp.search.result.styl"
@import "../sputnik/avia.search.result.styl"
@import "../sputnik/buy.styl"

.partner-wl {
    .light-theme {
        background-color #fff;

        .offers-black {
            background-color #fff;
        }
    }

    .sputnik-bg {
        background url('/spa/img/partners/sputnik/back.jpg');
    }

    .offers-card-banner-container.main .offer-card-banner-item {
        cursor default;
    }
}